[2021-07-25 19:00] SaswatPadhi commented on #5970
Thanks, yes this is now fixed. Closing this issue.

[2021-07-25 19:00] #5970 closed, assigned to thomasspriggs

[2021-07-26 16:14] NlightNFotis commented on #6242
Hello @vecchiot-aws.

Is it possible to share with us the code that generated `.json` file? That will make it easier for us to dissect the problem and design a solution.

[2021-07-26 16:42] vecchiot-aws commented on #6242
This was produced by running `rmc --gen-c test.rs` on the following code. Note that I cleaned up the symbol table json a lot in the original post. ([Link to RMC](https://github.com/model-checking/rmc) on Github.)

[code]

[2021-07-27 09:11] martin-cs commented on #6245
I think what you are seeing is the effect of constant propagation that is triggered by the conditions.  When symex reaches the `if(a == 2)` it will (eventually) trigger this code:

https://github.com/diffblue/cbmc/blob/9e3edf7d545e613ba948f8d9e51d9b4423594307/src/goto-symex/goto_state.cpp#L86

which recognises that the condition allows assigning `a` to a constant.  It does this and so generates a

[2021-07-27 10:20] martin-cs commented on #6230
@SaswatPadhi Ping?

[2021-07-27 10:24] martin-cs commented on #6219
@TGWDB sorry to hassle but you are assigned as the owner for this.  I need to https://github.com/diffblue/cbmc/issues/6223 resolved ASAP.  https://github.com/diffblue/cbmc/pull/6233 will do it but I really don't want to merge it because it is a work-around.  If you are going to resolve this in the next 24-48 hours then I won't merge #6233 .

Also @chrisr-diffblue and @peterschrammel for general in

[2021-07-27 11:06] TGWDB commented on #6219
@martin-cs I cannot promise resolution in 24-48 hours so I propose you go ahead with #6233.

[2021-07-27 11:22] martin-cs commented on #6219
@TGWDB thanks for the fast response.

[2021-07-27 11:28] martin-cs commented on #6223
#6233 works around this issue by supporting mode `ID_C` .  To be resolved properly as part of #6219 .

[2021-07-27 11:28] #6223 closed, assigned to nobody

[2021-07-28 05:14] #5950 closed, assigned to feliperodri

[2021-07-28 05:14] #5941 closed, assigned to feliperodri

[2021-07-28 21:42] SaswatPadhi commented on #6230
Sorry about the late response. We had discussed this issue briefly during our weekly meeting with Diffblue. @jimgrundy and @feliperodri have been working on function contracts and haven't encountered this issue any more, so we believe it's fixed now.
As you suggested above, we can close to issue since it was about specific change that has now been reverted. We could track array handling issues sep

[2021-07-28 21:42] #6230 closed, assigned to nobody

[2021-07-29 06:46] #6245 closed, assigned to nobody

[2021-07-29 14:26] martin-cs opened #6258 "Commit 43b2ccd2245 breaks compatability with g++ 6 series"
[code]

[2021-07-29 14:45] martin-cs commented on #6258
Should be fixed by https://github.com/diffblue/cbmc/pull/6259

[2021-07-29 16:51] martin-cs commented on #6258
Fixed!

[2021-07-29 16:51] #6258 closed, assigned to nobody

[2021-07-29 17:47] danielsn opened #6260 "It would be useful to be able to collect more than one output stream from CBMC (textual, json, xml)"
CBMC version: 5.34
XML, json, and textual reports currently contain different sets of information.  To generate good reports for CBMC viewer, we sometimes need data from more than one report type.  Ideally, it would be possible to have all information in one structured form.  Until then, it would be nice to be able to generate any set of desired output forms to specified files.

i.e. instead of
[c

[2021-07-29 19:08] peterschrammel commented on #6260
It's certainly easier (and cleaner for the downstream tools) to put all desired information into JSON and/or XML than adding support to output multiple formats.

[2021-07-30 06:13] chinmaydd opened #6261 "Verification friendly memory resizing operation support"
Hello all,

We are looking to implement a verification-friendly stubs for modules in the Rust standard library for rmc. Specifically, the first module we are targeting is Vector.

Currently, the way we envision implementing support for dynamic data structures such as the vector is to allocate memory and then resizing the allocation per requirement. For instance, below is the piece of code we are u

[2021-07-30 07:52] kroening commented on #6261
Did you consider using an unbounded array? You would then never need to reallocate.

[2021-07-30 14:16] xXMarkuski opened #6263 "MathSAT SMT2 not working"
CBMC version: Tested with CBMC 5.27.0 and 5.35.0
Operating system: Fedora 34
Test Case:
[code]
Exact command line resulting in the issue:
[code]
What behaviour did you expect: Mathsat returns SAT
What happened instead: MathSAT exits with an error message

I believe this is due to commit "[Fixed SMT encoding of array_of_expr](https://github.com/diffblue/cbmc/commit/aaa7a3a5394aaf5c8a283cba55094c19e

[2021-07-30 17:18] martin-cs commented on #6263
This will also affect Boolector, which is often the best performing solver and is used by several commercial users.

[2021-08-02 15:19] TGWDB commented on #44
Closing this as now a sub-goal of #6134.

[2021-08-02 15:19] #44 closed

[2021-08-03 09:52] kaiboy05 opened #6266 "Invariant failed when generating SMT"
CBMC version: (cbmc-5.35.0) 64-bit x86_64 linux
Operating system: Ubuntu 20.04 (WSL 1, with windows 10)
Exact command line resulting in the issue: `cbmc test.c --function totest --smt2 --outfile o`
What behaviour did you expect: Generate the SMT
What happened instead: Invariant check failed

Hi,

I was trying to do the union casting between the uint and the float numbers. However, when I tried to

[2021-08-03 12:17] #6241 closed, assigned to TGWDB

[2021-08-03 12:18] #6242 closed, assigned to NlightNFotis

[2021-08-03 18:22] vecchiot-aws opened #6268 "`goto-instrument --dump-c` still produces invalid code when parameter name overlaps with local variable name"
CBMC version: `5.35.0 (cbmc-5.35.0-95-ge6f69702f)`
Operating system: `macOS Big Sur v11.4`

Exact command line resulting in the issue:
Though the example in #6242 was fixed, there are still other examples which don't work. I've created a simpler example attached here:
- Input: [test.json](https://github.com/diffblue/cbmc/files/6926275/test.json.txt)
- Command: `symtab2gb test.json --out test.goto;

[2021-08-03 20:17] martin-cs commented on #6263
@thomasspriggs @TGWDB I know you are working with this at the moment.

[2021-08-03 20:48] martin-cs commented on #6266
Thanks for this.  Have you tried using the SAT back-end?

@thomasspriggs This is a lovely example of type-unsafe things that are a pain in SMT back-ends.

Also @TGWDB who has been working on this.

[2021-08-04 09:44] tautschnig commented on #6168
Joining this conversation with some delay. @martin-cs Many thanks for root causing this! While I agree that "normal" form(s) aren't properly defined for now, we should review why `cfg_dominatorst` even is using an inter-procedural CFG. I would like to think that procedure-local CFGs should be good enough for both dominators and natural loops? I'll take a proper look at the code.

[2021-08-04 10:10] TGWDB commented on #6268
Thanks for the update, comments and observations below.

The `json` file does not have the "expected" information that `cbmc` (or here `goto-instrument`) expects for variable names. Typically they would be expected to contain information about their scoping in the form of `function::name` (or with more details), but the ones in the example here are missing this. This breaks the checking for parame

[2021-08-04 10:54] martin-cs commented on #6168
My guess (not recalling that I had worked on this!) is that the edge computation is general purpose and interprocedural and used for many things and natural loop computation just uses that without really thinking about the consequences.

[2021-08-04 11:46] #2295 closed, assigned to nobody

[2021-08-04 16:37] kaiboy05 commented on #6266
Do you mean the normal invoke of cbmc like: "cbmc <modelfile> --function <function_name>"? If that is the case, then it does work.

[2021-08-04 18:03] martin-cs commented on #6266
Yes and that is good because it means that it is an SMT back-end issue rather than anything more serious.

[2021-08-04 18:09] martin-cs opened #6272 "goto-analyzer --three-way-merge is not field sensitive"
[code]

[code]

Because three-way-merge iterates over the symbols that have changed rather than the (sub) abstract objects, it is not field sensitive even when a field sensitive abstract object is used.  By using a more refined difference that visits the sub-objects within `struct` and array abstract objects, we can make `--three-way-merge` field and array element aware.

[2021-08-05 14:15] TGWDB commented on #6261
I've had a bit of a look into this (and some discussions else where), so I'm adding some notes and updates here.

One suggestion was to use an infinite size memory allocation (similar to @kroening above) to prevent the need for `realloc`. This could look something like the following (including some example and checking code):

[code]

This appears to capture the key concepts, but unfortunately `cb

[2021-08-05 15:45] danielsn opened #6275 "What portion of Vector instructions does CBMC support"
We are using vector instructions in RMC. CBMC has partial support for vectors: it would be useful to know which operations are fully/partially/not supported.

Thanks.

[2021-08-05 15:46] danielsn opened #6276 "RFC: Unreachable properties should be marked "UNREACHABLE" not "SUCCESS""
It is confusing to users when an unreachable property succeeds

[2021-08-06 06:00] SaswatPadhi commented on #6276
Sounds somewhat related to #6057. A `false` assumption makes subsequent assertions essentially unreachable.

[2021-08-09 16:31] #6154 closed, assigned to feliperodri

[2021-08-10 08:44] TGWDB commented on #223
Closing this as there is no progress or update in many years. Please reopen if you believe this is erroneous.

[2021-08-10 08:44] #223 closed

[2021-08-10 09:24] TGWDB commented on #297
Closing since the referenced PR for this has been closed as obsolete.

[2021-08-10 09:24] #297 closed

[2021-08-10 12:18] martin-cs opened #6283 "Should `struct_tag_typet` be removed and if so when?"
As I understand it, `struct_tag_typet` is needed to handle code like this:

[code]

`namespacet::follow_tag` is then used to convert from `struct_tag_typet` to `struct_tag` when all of the definitions are available.

A. Are all of the `struct_tag_typet` converted at some point?
B. If so, where?
C. If not, is it the responsibility of all code to call `namespacet::follow_tag` when doing type equalit

[2021-08-10 12:25] kroening commented on #6283
A. No, they should not.
B. Hopefully nowhere.
C. No need; types are equal when they are == equal.

[2021-08-10 12:38] martin-cs commented on #6283
Thanks @kroening , so to avoid a mix we should prefer tagged types?

[2021-08-10 13:59] kroening commented on #6283
Yes!

[2021-08-10 15:52] TGWDB commented on #6231
test comment (github problems)

[2021-08-10 15:53] TGWDB commented on #6231
So I played around a little and tried allowing the insertion inside quantifiers to see what would come out. (That is, use the default check insertion code in `goto_check.cpp` for the `check_rec_address` and `check_rec` functions.) Perhaps surprisingly, this appears to work without any obvious issues.

Here is the `test.c` file above:
[code]

Now running it with current release version of `cbmc` yi

[2021-08-11 09:11] TGWDB commented on #6231
So I played around a little and tried allowing the insertion inside quantifiers to see what would come out. (That is, use the default check insertion code in `goto_check.cpp` for the `check_rec_address` and `check_rec` functions.) Perhaps surprisingly, this appears to work without any obvious issues.

Here is the `test.c` file above:
[code]

Now running it with current release version of `cbmc` yi

[2021-08-11 19:21] feliperodri opened #6291 "Primitive to havoc a slice of an object"
CBMC version: `develop` branch.
Operating system: N/A.
Exact command line resulting in the issue: N/A.

We have a havoc function for objects called `__CPROVER_havoc_object`. However, there are cases where one might want to havoc only a slice of the object. For instance,

[code]

In this case, the entire object will be havoced, but the intention was to havoc only `t->x`.

Assuming a pointer `ptr` t

[2021-08-11 19:22] feliperodri commented on #6291
cc. @jimgrundy @SaswatPadhi @remi-delmas-3000

[2021-08-11 21:23] SaswatPadhi commented on #6231
Thanks a lot for looking into this, @TGWDB! This is great :D

Do we know why this is happening?

We have a few examples from the s2n project, where we need quantified loop / function contracts, and we were concerned that we may not catch some memory errors there. (cc: @feliperodri @jimgrundy) But those are pretty large test cases, and they wouldn't still be exhaustive (over all supported checks).

[2021-08-12 08:39] TGWDB commented on #6231
Not yet. I'm looking into this (and keeping things noted here).

Small examples are great, but even large ones that can be run independently are not too bad for me to play with. I'm curious to try and find where things go wrong and how they might be able to be fixed early on.

[2021-08-12 22:07] martin-cs commented on #6283
Thanks for the prompt response.

[2021-08-12 22:07] #6283 closed, assigned to nobody

[2021-08-13 21:43] tedinski opened #6297 "Make shuffle_vector_exprt available to other frontends"
CBMC version: HEAD (cbmc-5.36.0-72-gf917b98e8)
Operating system: Various
Exact command line resulting in the issue: N/A
What behaviour did you expect: N/A
What happened instead: N/A

CBMC has a `shuffle_vector_exprt` construct that's used from it's C front-end, but this construct is immediately lowered by the front-end, and is not understood by the back-end. As a result, from RMC (the Rust Model C

[2021-08-13 22:47] tedinski opened #6298 "Invariant violation 'convert_mult'"
CBMC version: HEAD (cbmc-5.36.0-72-gf917b98e8) and cbmc-5.30.1
Operating system: Ubuntu 20.04
Exact command line resulting in the issue:
[code]
What behaviour did you expect: CBMC to successfully verify
What happened instead:
[code]

<details><summary>Click to expand Backtrace:
</summary>
<p>

[code]

</p>
</details>

I've attached two files: `unsigned.json` and `signed.json`. These files are gene

[2021-08-13 23:21] remi-delmas-3000 opened #6299 "issues with static functions, `--export-file-local-symbols` and contract verification"
CBMC version 5.36.0 (cbmc-5.12-2951-g4d35e6c96) 64-bit x86_64 macos
Self contained example:
[function-pointers-file-local.zip](https://github.com/diffblue/cbmc/files/6985538/function-pointers-file-local.zip)

# problem description

In `example.c` We have a static function `__abs` that is used in the body and contract of function `foo`.

[code]

In `Makefile`

[code]

- target `abs-ok` analyses the

[2021-08-17 10:39] PhilippWendler opened #6304 "CBMC does not detect reachable error label before return statement"
When telling CBMC to look for error labels with the argument `--error-label ERROR`, it ignores labels that are directly before a return statement.

Example: `cbmc --error-label ERROR` returns "verification successful" for the following program:

[code]

If I add some other statement before the `return` (even by just removing the `//`), the result is "verification failed" as expected.

CBMC version

[2021-08-18 14:12] #6235 closed, assigned to SaswatPadhi, feliperodri

[2021-08-18 16:31] jimgrundy commented on #6114
I agree with where where this seems to be ending up.
- "-x" should behave like "0u - x"
But also I would expect that, in general for "x - y" (where both x and y are unsigned) we'll be checking that "x >= y" to avoid underflow. In the case where someone writes "-x" (where x is unsigned) we'd basically be checking "x == 0", which only serves to indicate how broken the developer's thinking is at this

[2021-08-18 18:03] jimgrundy commented on #6057
Sorry to come very late to this party. But, I have opinions/experiences to share....

I'm used to a model checker that offer the following primitive concepts:

- assume(p) : add p to the path condition
- assert(p) : attempt to satisfy (path & ~p). If satisfied report error. If unsat, report success. (checks a universal property)
- cover(p) : attempt to satisfy (path & p). If unsatisfiable report e

[2021-08-18 18:48] jimgrundy commented on #6045
Sorry to come late to this party. I have a different expectation of behavior here:

I expect the example @feliperodri gives back at the start of this discussion to pass. In general, I expect the following to pass:

[code]
If this sort of thing doesn't pass it will add needless complication to the contracts of any function that takes a pointer and a size where there size is allowed to be 0 (and pre

[2021-08-18 19:11] jimgrundy commented on #6045
Continuing to party late...

I don't share @SaswatPadhi's expectation that the value returned by malloc(0) could be pretty much anything. The man page for malloc says that if malloc(0) returns a non-null pointer then you may not access that pointer. But... it says explicitly that you may free that pointer.  That tells you a lot.

The following code should be a no-op;

[code]

If malloc(0) could re

[2021-08-18 20:16] jimgrundy commented on #6276
Agree that this is related to  #6057.

Re-phrasing my comments from that issue:

I'm used to a model checker that offers the following primitive concepts:

assume(p) : add p to the path condition
assert(p) : attempt to satisfy (path & ~p). If satisfied report error. If unsat, report success. (checks a universal property)
cover(p) : attempt to satisfy (path & p). If unsatisfiable report error. If s

[2021-08-18 21:07] peterschrammel commented on #6276
If you are happy to run a separate command then you can achieve that by running CBMC with the ` --cover assertion` option, which checks `__CPROVER_assert(false)` (non-aborting) instead of `assert(p)`.

[2021-08-18 21:11] SaswatPadhi commented on #6045
Actually the ISO C standard does talk about `malloc(0)`. All major versions of the standard 9899:1990 - 9899:2018 say that:

(Source: http://www.open-std.org/jtc1/sc22/wg14/www/docs/n2310.pdf; section 7.22.3; page 256)

Since the standard says that the behavior is "implementation-defined", Linux and BSD are not wrong in additionally requiring the uniqueness property, but my point was that it's not

[2021-08-18 23:39] jimgrundy commented on #5514
This seems OK as is to me. This example dates from a time when our malloc always returned non-null pointers.  These days the example would (should?) fail because I expect that we check that the source and destination pointers are non-null (the readable and writable check should do that even if size is 0). Assuming that they are non-null I would expect that they should also be considered to be read

[2021-08-19 03:07] jimgrundy commented on #6045
Hi Saswat. Thanks for the correction. You are quite right the standard also covers these standard library function.

But, my reading of the standard is that malloc(0) may return NULL or a pointer (implementation choice), but that if it returns a pointer it must be unique (distinct form other currently live malloced pointers).  Why do I think it says that?

As the quoted text says, you can either r

[2021-08-19 03:21] jimgrundy commented on #6276
"If you are happy to run a separate command then you can achieve that by running CBMC with the --cover assertion option, which checks __CPROVER_assert(false) (non-aborting) instead of assert(p)."

A separate command could be fine. It doesn't do all I might want (wouldn't have helped our team mate notice which assumption caused the contradiction), but it might do all that this issue is asking for.

[2021-08-19 15:11] SaswatPadhi commented on #6045
Thanks a lot for the detailed explanation! Thinking more about this part,

your reasoning makes a lot of sense.

[2021-08-19 15:47] vecchiot-aws commented on #6268
Thanks for your help! Unfortunately, this doesn't quite fix it. If we actually try to use the function parameter within the body of the function, it ends up using a different name than the one used to declare it:
[code]

Here is a version that demonstrates this issue (all I did was add a return statement to the body, and change the names to have `_1_x` instead of `1_x`):
[test.json](https://github

[2021-08-19 17:32] jimgrundy commented on #6045
I think maybe we can close this. Are you ok with that @SaswatPadhi @feliperodri @tautschnig ?

[2021-08-20 12:50] Tutter opened #6309 "Windows error, cannot find the file specified."
I am having trouble getting cbmc to open and process files. I have tried giving the absoule path for the files, but I keep getting the same error. I have tried with different files and without all the options as well, but still I get the same error. I have included the console input and output below:

cbmc C:\Users\xx\CBMC-b00t-c0d3-main\mask_rom.c C:\Users\xx\CBMC-b00t-c0d3-main\mock_hmac.c memor

[2021-08-20 20:21] #5395 closed, assigned to nobody

[2021-08-20 20:30] SaswatPadhi commented on #3653
This appears to be a bug even with the latest (5.36) version.

[2021-08-20 20:59] SaswatPadhi commented on #5982
I guess we can close this issue now, since:
1. I have committed some new SMT_solver-specific tags in #5985.
2. The SMS regression tests discussion would be part of the larger SMT backend rewrite effort being tracked @ #6134.

[2021-08-20 20:59] #5982 closed, assigned to nobody

[2021-08-21 12:44] mingodad opened #6310 "Grammar railroad diagram"
Using this tool https://www.bottlecaps.de/convert/ and adding the tokens manually we can get a full grammar railroad diagram by copying and paste the EBNF shown bellow on https://www.bottlecaps.de/rr/ui in the TAB `Edit Grammar` then switching to the TAB `View Diagram`:

[code]

[2021-08-23 09:16] NlightNFotis commented on #6309
Hello, the error message as I understand it indicates that the path to the file `C:\Users\tutta\Downloads\CBMC-b00t-c0d3-main\mask_rom.c` is wrong (or that at least CBMC cannot find a file at the specified path).

Can you double check that and let us know if the problem persists?

[2021-08-23 09:18] NlightNFotis commented on #6310
Hello, can you clarify what the request or issue you describe here is?

As it stands, I'm only seeing a grammar in BNF form, along with some tokens, and I cannot understand the relevance to the project as it stands.

[2021-08-23 11:05] Tutter commented on #6309
I can confirm that the path is correct. I have also tried to open other files but I get the same error in all cases.

[2021-08-23 12:25] mingodad commented on #6310
I think that it's an interesting tool for document/debug the grammar and allow others to have to have a "forest" view instead of a "tree" view of the grammar, no issue with the grammar itself.

[2021-08-23 16:07] NlightNFotis commented on #6310
It might as well be, but what is the relevance to CBMC itself?

The issue tracker is for identified defects in CBMC and associated tools, or for feature requests. I cannot understand if this is either of the two.

Can you please elaborate on the relevance of this report to the CBMC project? As I understand it, this is an advertisement for a tool that is unrelated to CBMC itself.

[2021-08-23 16:15] NlightNFotis commented on #6309
Hm, I did some digging up around the codebase, and I can see that the message you're observing (`The system cannot find the file specified.`) is the outcome of failed IPC on windows in case that a binary we're trying to run doesn't exist.

I speculate that this is because CBMC cannot find `cl` somewhere on the path. Going backwards from the error message, I can see that the most likely generator f

[2021-08-24 22:59] jimgrundy commented on #6298
Dropping AWS label after review with @danielsn as there is no particular AWS interest.

[2021-08-24 23:00] jimgrundy commented on #5818
Dropping AWS label after review with @danielsn as there is no particular AWS interest.

[2021-08-24 23:02] jimgrundy commented on #5275
Dropping AWS label after review with @danielsn as this not a specific AWS need.

[2021-08-24 23:10] jimgrundy commented on #5405
Dropped to low priority following discussion with @danielsn

[2021-08-25 10:42] Tutter commented on #6309
The issue was resolved by using the terminal through Visual Studio instead of a generic one. Thank you for your help.

[2021-08-25 10:42] #6309 closed, assigned to nobody

[2021-08-25 16:00] #6310 closed, assigned to nobody

[2021-08-26 17:25] SaswatPadhi opened #6319 "`==>` is not short circuited"
**CBMC version:** develop (currently @ e32a83fc)

**Operating system:** Linux

**Test case:**
[code]

**Exact command line resulting in the issue:**

[code]

Although the assertion `false ==> *c == 0` is marked `SUCCESS`, CBMC reports a spurious pointer deref failure in `*c`.

**What behaviour did you expect:**

`a ==> b` should be short circuited and should behave the same way as `!a || b`. In th

[2021-08-26 17:25] SaswatPadhi commented on #6319
cc: @jimgrundy @feliperodri

[2021-08-30 15:20] markrtuttle commented on #5096
The example still performs as described with cbmc 3.37, but running with the new flag --pointer-primitive-check now generates "pointer outside object bounds" errors for the value initializing the three show_buffer_* definitions at the end of the example.

[2021-08-30 15:22] markrtuttle commented on #5173
The example still works as described with cbmc 5.37.

[2021-08-30 15:24] markrtuttle commented on #5207
The example still works as described with cbmc 5.37.

[2021-08-30 15:35] markrtuttle commented on #5292
Running the example as @karkhaz recommends with the correct path to the local variable and the source file in the current directory still fails with cbmc 5.37.

[code]

[2021-08-30 15:54] xXMarkuski opened #6322 "Using refine-arithmetic incorrectly succeeds"
CBMC version: Tested with cbmc-5.37.0
Operating system: Fedora 34
Test case:
[code]
Exact command line resulting in the issue:
[code]
What behaviour did you expect: The assertions fail
What happened instead: The assertions are successfully verified

Without ```--refine-arithmetic``` the verification fails correctly, cbmc-5.35.0 doesn't  have this issue. I did not test version 5.36.0.

[2021-08-30 16:35] martin-cs opened #6323 "Incorrect evaluation of logical conditions in VSD intervals"
These tests uncover a couple of issues in evaluation:

https://github.com/diffblue/cbmc/pull/6300#pullrequestreview-741844376

[2021-08-30 18:11] markrtuttle commented on #6072
Closing as a known problem with the complexity of multiplication.

[2021-08-30 18:11] #6072 closed, assigned to NlightNFotis

[2021-08-30 18:19] markrtuttle commented on #5096
Closing as a known consequence of offsets being modeled as a signed integer.

[2021-08-30 18:19] #5096 closed, assigned to kroening, chrisr-diffblue

[2021-08-30 19:38] jimgrundy commented on #6276
Just bringing this to the attention of @remi-delmas-3000

[2021-08-31 11:37] #6114 closed, assigned to kroening, martin-cs

[2021-08-31 22:16] markrtuttle opened #6325 "CBMC --export-file-local-symbols symbol data is incorrect"
The symbol table information for static functions exported with `--export-file-local-symbols` gives incorrect information for a static function under test.

Do the following

[code]

Open symbols.txt and you will find the entries for static functions defined in `core_http_client.c` like

[code]

Notice that only the first function has no pretty name, and notice also that the module is the harness

[2021-09-01 08:51] TGWDB commented on #674
Closing as the PR resolving this was merged (many years ago).

[2021-09-01 08:51] #674 closed

[2021-09-01 08:55] TGWDB commented on #712
Closing as this no longer appears to be reproducible. (Analysis with `jbmc` works fine on this example locally.)

[2021-09-01 08:55] #712 closed

[2021-09-01 10:57] #28 closed

[2021-09-01 10:57] TGWDB commented on #28
Closing due to detail in #6284

[2021-09-01 10:57] TGWDB commented on #29
Closing due to detail in #6284

[2021-09-01 10:57] #29 closed

[2021-09-01 10:57] TGWDB commented on #40
Closing due to detail in #6284

[2021-09-01 10:57] #40 closed

[2021-09-01 10:58] TGWDB commented on #218
Closing due to detail in #6284

[2021-09-01 10:58] #218 closed

[2021-09-01 10:58] TGWDB commented on #265
Closing due to detail in #6284

[2021-09-01 10:58] #265 closed

[2021-09-01 10:58] TGWDB commented on #618
Closing due to detail in #6284

[2021-09-01 10:58] #618 closed

[2021-09-02 13:07] TGWDB commented on #4359
Closing as this can no longer be reproduced (or is missing information from the original report). Please reopen if you believe this is erroneous and can reproduce.

[2021-09-02 13:07] #4359 closed, assigned to nobody

[2021-09-02 13:12] TGWDB commented on #4452
Tagging #6134 as this may be possible to easily design in.

[2021-09-02 13:13] TGWDB commented on #4487
I'm closing this due to age and lack of updates for a couple of years (and thus on the assumption this is not going to be looked into specifically). Please reopen if you believe this is erroneous and this particular set of benchmarks should be investigated for performance.

[2021-09-02 13:13] #4487 closed, assigned to nobody

[2021-09-02 13:14] TGWDB commented on #4655
I'm closing this due to age and lack of updates for a couple of years (and thus on the assumption this is not going to be looked into specifically). Please reopen if you believe this is erroneous and this particular bug is a cbmc bug/issue.

[2021-09-02 13:14] #4655 closed, assigned to nobody

[2021-09-02 16:03] TGWDB commented on #5977
Some updates.

The `z3` issues with the model should have been fixed #6215 (in the sense that there is no error from the model but `z3` returns `unknown` due to quantified expressions).

The `cvc4` logic error would be fixed by #6248 which I may try to push to have approved ASAP.

There is also #6270 that may solve some of this issue in a different way (or for other solvers), mentioned for relatio

[2021-09-02 16:50] TGWDB commented on #5977
Just merged #6248 , please let us know if this (along with other fixes) resolves the issue as expected from your perspective. (I'm aware that this reports a different error for `z3` due to `z3` responding with `unknown`, but `cvc4` now works correctly.)

[2021-09-03 15:46] TGWDB commented on #6322
Thanks for the report, I've tried this in `cbmc` version 5.37.0 (on Ubuntu) and have not been able to reproduce.

I'll see if I can set up a Fedora system, but commenting here in case anyone else can reproduce (or show that this does not hold). Note that I also tried with the current release version (5.38.0 with the same results).

[code]

[2021-09-03 17:57] markrtuttle opened #6330 "Link order matters with --export-file-local-symbols"
CBMC version: 5.37
Operating system: macOS
Exact command line resulting in the issue: See below
What behaviour did you expect: See below
What happened instead: See below

When linking goto binaries built with --export-file-local-symbols, link order matters.

Consider the attached files project.c

[code]

and proof.c

[code]

Linking with proof.goto and project.goto fails to update the Pretty name,

[2021-09-03 17:58] markrtuttle commented on #6325
Closing in favor of https://github.com/diffblue/cbmc/issues/6330

[2021-09-03 17:58] #6325 closed, assigned to markrtuttle

[2021-09-03 19:19] jimgrundy commented on #5392
@markrtuttle can you please comment on soundness risk here? If there is any please add the soundness label.

[2021-09-06 00:57] luke-croak opened #6333 "Unexpected Clauses for SSA Expression"
**CBMC version:** 5.28.0
**Operating system:** Ubuntu 20.04.3 LTS
**Exact command line resulting in the issue:** `cbmc --slice-formula --write-solver-stats-to out.json code.c`

**What behaviour did you expect:** I expected the formula to be sliced which I thought would remove unnecessary components from the CNF and not introduce new components to the CNF in comparison to running it without `--slic

[2021-09-06 10:50] TGWDB commented on #6322
I cannot reproduce on Fedora 34 (5.11.12-300.fc34.x86_64) with `cbmc` version 5.37.0.

[code]

[2021-09-07 10:22] xXMarkuski commented on #6322
Thanks for the reply, I forgot to mention I used CaDiCal over the IPASIR Interface (i.e. I built CMBC with `make -C src LIBS="$PWD/cadical/build/libcadical.a" IPASIR=$PWD/cadical/src`). I could verify the results you showed, when using the default custom interface.

[2021-09-08 02:47] #6045 closed, assigned to feliperodri

[2021-09-08 09:36] TGWDB commented on #6322
Thanks for the update. I've experimented a bit and can confirm that I can (mostly) reproduce your outcome. However, for me this failure not only occurs in `cbmc` version `5.35.0` built with `CaDiCal` but also later versions (e.g. `5.38.0`). I did some further experiments and I'm pretty sure that issue is in `CaDiCal` (or at least the version used in `cbmc` using `IPASIR`) since using `IPASIR` with

[2021-09-08 14:06] jimgrundy commented on #6330
@markrtuttle Can you take this unless/until you can convince Michael to take it.

[2021-09-08 14:09] jimgrundy commented on #6323
Are there possible soundness issues here? If so, we'd be interested in it.

[2021-09-08 14:17] jimgrundy commented on #6304
We are interested in coverage issues in general and we're concerned that perhaps this indicates a more general issue with coverage analysis.

[2021-09-08 14:21] jimgrundy commented on #5514
Agreed that this isn't an issue. We may file a documentation issue.

[2021-09-08 14:21] #5514 closed, assigned to danielsn

[2021-09-09 13:42] tautschnig commented on #6330
We have the following things happening:
For code-typed symbols (i.e., functions), the linker will only replace selected fields when updating the symbol table: https://github.com/diffblue/cbmc/blob/develop/src/linking/linking.cpp#L775..L779 The `base_name` is not one of these.
When listing (un)reachable functions, the `base_name` is compared to the list of called functions: https://github.com/diffb

[2021-09-09 15:20] TGWDB commented on #6057
This is now supported by the `--cover assume` option in `develop` and will be in the next release.

[2021-09-09 19:10] jimgrundy commented on #6057
Looks like we'll be able to close this after the next release.

[2021-09-10 20:51] tautschnig commented on #6330
#6337 now does the tidying up of the linker, and #6338 fixes the bug in goto-analyzer. #6338 will ensure that the output of `--reachable-functions` is complete, but only together with #6337 will the output be consistent irrespective of linking order.

[2021-09-14 20:08] zhassan-aws opened #6341 "Invariant violation when compiling multiple json symbol table files"
CBMC version: 5.30.1
Operating system: Ubuntu 20.04
Exact command line resulting in the issue: `symtab2gb getrandom-6f345ac2a566ca4c.json rand_core-f501d635a961dbb4.json   --out a.out`
What behaviour did you expect: The command to succeed and produce `a.out`
What happened instead: Invariant check failed:
[code]
Use the following steps to reproduce on the attached [tarball](https://github.com/diffb

[2021-09-15 14:29] NlightNFotis commented on #6168
It looks like the issue should be worked around using @martin-cs' suggestion after the merge of #6340 .

Let us know if this has been fixed adequately for your use case, or if we need to be doing something more.

[2021-09-15 22:21] markrtuttle opened #6343 "Does jbmc build on MacOS?"
CBMC version: 5.38
Operating system: MacOS 15.5.2 (Big Sur) on Apple M1

Does jbmc build on MacOS?

In the [cbmc formula](https://github.com/Homebrew/homebrew-core/blob/master/Formula/cbmc.rb) for brew, [Lines 35-36](https://github.com/Homebrew/homebrew-core/blob/b3387012ce55c4d6d41a7821050b4138ce2dc0d2/Formula/cbmc.rb#L35-L36) say that the java front end won't build on ARM.

I think the issue is

[2021-09-16 09:37] thomasspriggs commented on #6343
Isn't OpenJDK 7.13 rather out of date? If I am reading the POM file correctly, the models library is supposed to be built using Java version 8. It might be worth trying a newer version of OpenJDK to see if that fixes the build.

[2021-09-16 10:09] chrisr-diffblue commented on #6343
I think 'OpenJDK 7.13' may be a typo for 'OpenJDK 17.3' ? Note also some version confusion on Apple M1 https://stackoverflow.com/questions/67782746/openjdk-16-shows-as-17-on-macos-apple-silicon-when-installed-with-homebrew

Possibly the two 'correct fixes' are:

a) Specifiy compatible java dependencies in the cbmc brew formula (rather than an unversioned java dependency as it currently has),
or
b)

[2021-09-16 13:05] markrtuttle commented on #6343
I strongly prefer to have the models library fixed so everything builds with cmake on everything, especially if it is "easy" to replace the functionality lost by the change in the Character API.

@chrisr-diffblue is right: I was looking at [tag-17+13](https://github.com/openjdk/jdk/releases/tag/jdk-17%2B13) that appears to be the first release containing the [commit a0c3f242](https://github.com/op

[2021-09-16 13:26] markrtuttle commented on #6343
Instead of trying to force -DWITH_JBMC=OFF on Apple M1, I now suggest (for the inexperienced user) to try building with -DWITH_JBMC=OFF if jbmc fails to build on MacOS.

Can we finish off the [Java 16/17](https://github.com/diffblue/cbmc/issues/6343) issue quickly so we can delete this completely?

[2021-09-16 15:14] TGWDB commented on #6322
Closing as an issue with CaDiCaL and not CBMC.

[2021-09-16 15:14] #6322 closed, assigned to TGWDB

[2021-09-16 15:31] remi-delmas-3000 opened #6347 ""bad optional access" when using --enforce-contract"
- CBMC version: 5.38.0 (cbmc-5.38.0-36-gd570aa551)
- Operating system : Ubuntu 20.04

How to reproduce:

[code]

Console output:
[code]

The step that fails is step 5 "enforce contracts", but it fails before the actual contract transformation code gets to run.

[code]

Could this be related to changes introduced by [PR #6340](https://github.com/diffblue/cbmc/pull/6340) ?

[2021-09-16 18:14] cho-m commented on #6343
I just noticed this issue.

As heads up on Homebrew-side, I am working on OpenJDK 17 update https://github.com/Homebrew/homebrew-core/pull/85174, which means issue will impact all the supported platforms (Intel macOS, ARM macOS, Intel Linux).

In order to quickly move forward with update, I do have a PR to change `cbmc`'s dependency to `openjdk@11` in https://github.com/Homebrew/homebrew-core/pull

[2021-09-17 00:59] andreast271 opened #6348 "SMT2 backend crashes with invariant violation when handling a union with a float member"
CBMC version: cbmc-5.38.0-13-gb4c3a12d2
Operating system: Linux x86_64
Exact command line resulting in the issue: cbmc --z3 myalg.c
What behaviour did you expect: Verification failure
What happened instead: crash with invariant violation

The test case myalg.c is:
[code]

The invariant violation report is:
[code]

The crash report with back traces enabled is attached.
[smt2crash.txt](https://githu

[2021-09-17 14:19] NlightNFotis commented on #6343
Hi @cho-m, I can build CBMC and all assorted binaries locally with `cmake` using `java 16.0.1`.

I believe that as a quick work-around fixing the version of openJDK to `openJDK 11`  should work, but if we could do it for `openJDK 16` it would be even better. To that effect, I'm trying to play around with the formula locally, and try to fix the dependency to `openjdk@16` but it doesn't work, instal

[2021-09-17 14:52] cho-m commented on #6343
Homebrew won't keep OpenJDK 16 since it is not an LTS release and is no longer maintained. The versioned OpenJDK are `openjdk@8` (supported until 2030) and `openjdk@11` (supported until 2026). OpenJDK 17 is the next LTS release, so it will probably become a versioned `openjdk@17` formula after OpenJDK 18 is released.

**EDIT**: In terms of M1 ARM support, Homebrew has backported fixes to get `open

[2021-09-17 16:20] TGWDB commented on #6323
@jimgrundy This is a soundness issue with the abstract interpretation done for variable sensitivity (an experimental feature) in the `goto-analyzer` program. These are not included/used in the `cbmc` executable itself (and so `cbmc` does not have a soundness problem here). Thus, this should only be a soundness concern if you're using goto-analyzer and the variable sensitivity (experimental) featur

[2021-09-20 16:36] andreast271 commented on #6348
A test case for the bug without unions is:
[code]
The invariant violation message is the unchanged.

[2021-09-20 19:47] jimgrundy opened #6351 "Create new __CPROVER_havoc_slice & __CPROVER_havoc_from primitives"
We need the following new havoc primitives in CBMC:

[code]
(Reference implementation for havoc_object: [symex_other.cpp](https://github.com/diffblue/cbmc/blob/56adbb21ea443f07d29b6056016cbc86da6c7dec/src/goto-symex/symex_other.cpp#L244))

The semantics of these primitives are described below.

***__CPROVER_havoc_slice(void \*p, size_t s)***

_Precondition:_

[code]

- If s is zero then no action

[2021-09-20 20:55] jimgrundy commented on #6168
@SaswatPadhi, can you confirm this works now. And, if so, close the ticket.

[2021-09-20 21:00] jimgrundy commented on #6291
We have a more complete version of this request now with https://github.com/diffblue/cbmc/issues/6351, so let's close this can pick it up there.

[2021-09-20 21:00] #6291 closed, assigned to feliperodri

[2021-09-21 14:38] NlightNFotis commented on #6347
Hello.

I have done a `git bisect` between versions `5.38.0` and `5.39.0` of CBMC, and found that the commit introducing the `bad optional access` is fba232bc2728bec03231d71524f92835496dacd8.

I am not quite sure yet how the commit leads to bad optional access, but I'm continuing my investigation and will update you once my understanding is enhanced and/or a fix has been identified.

[2021-09-21 15:50] #6330 closed, assigned to markrtuttle

[2021-09-22 10:14] NlightNFotis commented on #6343
Hi @cho-m, we have now fixed the upstream issues with the Models Library and JDK version 17.

I took the liberty of creating a PR in homebrew so that it lightens your maintenance load. The PR is here https://github.com/Homebrew/homebrew-core/pull/85720/files.

Let me know if there's something else you would like me to do to move the issue forward.

Thanks for your time.

[2021-09-22 13:39] remi-delmas-3000 commented on #6347
Thank you for the analysis, we are taking over to dig into the issue

[2021-09-22 14:07] jimgrundy commented on #6323
@TGWDB ok, thanks for the analysis, removing "soundness" label.

[2021-09-22 14:10] danielsn opened #6360 "Document the behaviour with `malloc(0)`"
On #6045 there was extensive discussion about how `malloc(0)` should behave (It's implemenation defined in the standard).  We should document the choice CBMC took so users can rely on it.

[2021-09-22 14:11] jimgrundy commented on #6057
Thanks for building this for us.

[2021-09-22 14:11] #6057 closed, assigned to TGWDB

[2021-09-22 14:17] NlightNFotis commented on #6343
Hi @markrtuttle, after the merge of https://github.com/Homebrew/homebrew-core/pull/85720, it looks to me like `jbmc` is built on homebrew/osX without issues.

Can you verify this? If yes, then is this issue good to be closed now?

[2021-09-22 14:18] TGWDB commented on #6348
Thanks for the update. The issue is with casts of floats into bitvectors for the SMT solver backend. (They are being cast to `ID_bv` and the conversion is currently expecting explicitly signed or unsigned, but not generic bitvectors.) I'm adding this comment in case someone else is looking into fixing this at the moment (I'll be away for a couple of weeks).

[2021-09-22 14:27] jimgrundy commented on #5392
@markrtuttle (2nd request) can you please comment on soundness risk here? If there is any please add the soundness label.

[2021-09-22 15:30] SaswatPadhi commented on #6168
The fix seems to work for the loop contracts I added to `s2n_set_binary_search`, so I am closing this issue now.

Thanks @NlightNFotis and @martin-cs!

[2021-09-22 15:30] #6168 closed, assigned to SaswatPadhi

[2021-09-22 15:31] SaswatPadhi commented on #5530
#6168 is now resolved and the fix has been merged, so may be we can take another look at this issue now.

[2021-09-22 15:38] NlightNFotis commented on #6347
Hi, I can give you some more information in case it helps you with your debugging.

* It looks like the `bad optional access` is created in `src/goto-instrument/contracts/assigns.cpp:52` when the `.value()` of the `size_of_expr` is taken.
* I believe the reason for that is that for one of the dereference expressions, `type` has `ID_empty` causing a fall through the cases of `size_of_expr` and retu

[2021-09-22 15:41] remi-delmas-3000 commented on #6347
Much appreciated thank you  !

[2021-09-23 03:47] hflsmax opened #6362 "How to create constant non-deterministic array?"
Sorry if this is not the right place to ask questions.

I need to create an array with non-deterministic value. I understand that I can use an uninitialized local variable. But I also want to make the array constant(meaning `array.id()==ID_constant` inside cbmc) so I can benefit from the performance gain during bit-blasting.

How I can make an array with non-deterministic value while being of type

[2021-09-27 14:35] jimgrundy commented on #6319
Normally we wouldn't make this "high" since there is a work around, but it's becoming a nontrivial user inconvenience with contracts, so if this could get some love that would be great.

[2021-09-27 21:40] zhassan-aws commented on #6163
A crash with a similar signature can be reproduced on the json files in the attached tarball with the following steps:
1. `tar xvzf get_entry.tar.gz`
2. `cd get_entry`
3. `symtab2gb bolero_engine-05c3719b9f62187e.json --out bolero_engine-05c3719b9f62187e.out`
4. `symtab2gb foo-3a660a6bba412286.json --out foo-3a660a6bba412286.out`
5. `goto-cc --function foo foo-3a660a6bba412286.out bolero_engine-05

[2021-09-28 14:20] markrtuttle commented on #6343
@NlightNFotis I have successfully built the develop branch on Apple M1 MacOS 11.5.2.

[code]

I'm closing this issue.  Thanks!

[2021-09-28 14:20] #6343 closed, assigned to nobody

[2021-09-28 19:03] avanhatt opened #6368 "Input validation problems with `--function-pointer-restrictions-file`"
CBMC version: 5.30.1 (cbmc-5.30.1)
Operating system: Ubuntu 20.04.2
Exact command line resulting in the issue:

```goto-instrument --function-pointer-restrictions-file restrictions``` (within the context of the [RMC](https://github.com/model-checking/rmc) tool).

What behaviour did you expect:

CBMC to restrict function pointer branch analysis to the cases specified, as described in the documentat

[2021-09-28 20:46] tautschnig commented on #6368
Taking a look.

[2021-09-29 08:28] rladydpf1 opened #6369 "SMT solver does not work if there is a code with floating point number"
[code]

Example code:
[code]

It worked well when I used MiniSat. (option: `cbmc --unwind 10 --trace`)
And what I found was that the code except the float point parts(0.3, 0.5, fabs()) worked well even using Z3.

[2021-09-29 13:22] martin-cs commented on #6369
Thanks for the really helpful bug report; this is exactly the information we need!

5.11 is a pretty old version, so one thing to try is with something more modern.  IIRC the default back then was to convert the floating-point operations to SMT bit-vectors, rather than use SMT floating-point operations.  In some versions this would run out of memory.  If think `--fpa` will convert to SMT floating-

[2021-09-29 15:33] danielsn opened #6370 "CBMC dumps core "assignment to 'symbol' not handled""
CBMC version: 5.36.0 (cbmc-5.36.0)
Operating system: OSX
Exact command line resulting in the issue:
1. Clone this branch of RMC https://github.com/danielsn/rmc/tree/CBMC-6370
2. build rmc
3. cd src/test/rmc/CopyIntrinsics
4. rmc main.rs

What behaviour did you expect: CBMC to process the goto binary
What happened instead:
[code]

[2021-09-29 15:33] danielsn commented on #6370
[CopyIntrinsics.zip](https://github.com/diffblue/cbmc/files/7253198/CopyIntrinsics.zip)

[2021-09-30 13:16] tautschnig commented on #6370
It seems you've got a parameter that has `code` type (i.e., is a function). Specifically, that parameter is `_RINvNtCsaGHNm3cehi1_4core3cmp6max_byjNvYjNtB2_3Ord3cmpECs2E8QHTFQx95_4main::1::var_3::compare`. CBMC doesn't currently (should it?) know how to handle functions as objects, and would instead expect a function pointer on this occasion. Is that the intended behaviour?

[2021-09-30 13:33] tautschnig commented on #6368
@avanhatt Could you please share the goto binary and the restrictions file? The type casts I'm able to make sense of and am working to fix, but the syntax error I cannot immediately relate to the use of `..`.

[2021-09-30 14:04] avanhatt commented on #6368
Ah, I'm so sorry, looks like I was reading the error message in the 2nd issue wrong - the problem was I was passing the wrong file path, which `failed to read function pointer restrictions from restrictions` was trying to tell me.

Updating the description and working on attaching a standalone binary.

[2021-09-30 14:11] tautschnig commented on #6341
This problem was fixed by #6233.

[2021-09-30 14:11] #6341 closed, assigned to nobody

[2021-09-30 14:50] jimgrundy commented on #6368
@remi-delmas-3000 Do you have thoughts on this given your experiences with function pointer resolution?

[2021-09-30 14:53] tautschnig commented on #6163
It seems initialisation of globals introduces a `nil` value, but I am yet to find out why that is the case:
[code]

[2021-09-30 15:13] tautschnig commented on #6163
There seems to be an empty union at play, and the following C example reproduces this same problem:
[code]
I'll try to come up with a fix.

[2021-09-30 15:25] danielsn opened #6374 "Document what inline asm is supported"

[2021-09-30 17:15] remi-delmas-3000 commented on #6368
The documentation seems to say that function pointer restriction instructions must be function identifiers and not arbitrary expressions involving casts.  So it does not look surprising that the replacement file fails to load.

However,  automatic function pointer removal (as opposed to manual restriction discussed here) is able to insert type casts on arguments (and also return values ?) when the

[2021-09-30 22:31] tautschnig commented on #6368
[...]

This is now implemented in #6376.

[2021-09-30 22:55] tautschnig commented on #6163
This will need some further discussion as we need to figure out what the most appropriate way of handling empty unions is. It's an extension supported by at least GCC and Clang.

[2021-10-01 08:20] kroening commented on #6163
We do already do empty structs -- be symmetric here, and do whatever we did for that?

[2021-10-01 13:46] avanhatt commented on #6368
Core fix of allowing function pointer casts in restrictions works for me in #6376! 🎉

Before:
[code]

With #6376:
[code]

However, I noticed the function name and call site were dropped from the cbmc assertion message:

Before:
[code]

With #6376:
[code]

It would be great if both of these asserts had the location.

[2021-10-01 17:56] remi-delmas-3000 commented on #6347
This issue was due to a contact specifying a `void *` pointer in an assigns clause, the case is now correctly handled  by [PR #6371](https://github.com/diffblue/cbmc/pull/6371). Closing the issue.

[2021-10-01 17:56] #6347 closed, assigned to remi-delmas-3000, feliperodri

[2021-10-01 19:58] tautschnig commented on #6163
@kroening What would you think about introducing an `empty_union_exprt` to cope with empty unions? Edit: empty structs are still well-formed expressions as struct expressions have an arbitrary number of operands. `union_exprt`, on the other hand, is a `unary_exprt`.

[2021-10-08 19:47] SaswatPadhi commented on #6351
Only `__CPROVER_havoc_slice` should suffice. It might be desirable to minimize the number of new primitives we introduce.

#### Some reference material
* Implementation for `havoc_object`: https://github.com/diffblue/cbmc/blob/56adbb21ea443f07d29b6056016cbc86da6c7dec/src/goto-symex/symex_other.cpp#L244
* Implementation for `malloc`: https://github.com/diffblue/cbmc/blob/56adbb21ea443f07d29b6056016

[2021-10-09 08:44] kroening commented on #6351
Use an assignment, with the appropriate byte_extract expression on the left hand side.

[2021-10-09 08:45] kroening commented on #6351
In the long term, I'd like to shrink symex_other until it's gone.

[2021-10-09 08:47] kroening commented on #6351
Another option is to assign a byte array of the appropriate size to a dereferencing expression that has the same type. This avoids the low-level expression.

[2021-10-13 15:26] danielsn opened #6393 "Difficulty using "assert(false)" for unimplemented functions"
I am trying to use `assert(false)` instead of `return __nondet()` for missing functions to increase soundness.  You can see the code, and the failure, on this PR for RMC https://github.com/model-checking/rmc/pull/535/files

If I use the arguments `'--generate-function-body-options', 'assert-false', '--generate-function-body', '.*'`, I see the expected failure for missing functions, but also refere

[2021-10-13 17:16] SaswatPadhi commented on #6393
We tried this with `malloc` and having `#include <stdlib.h>` doesn't help either.

[code]

commandline:

[code]

[2021-10-13 17:35] SaswatPadhi commented on #6393
If we use `--add-library` first with `goto-instrument`, this works as expected.

[code]

commandline:
[code]

[2021-10-13 17:52] remi-delmas-3000 commented on #6239
In `src/ansi-c/scanner.l` we have these definitions

[code]
This is the set of accepted check names:

[code]
it does not contain "pointer-primitive".

The named_check used in the pragme gets mapped to `"disable:<named_check>-check"` by the lexer and is added to the source locations enclosed in the push/pop pragmas.

`void goto_checkt::goto_check` in `src/analyses/goto_check.cpp` however does handl

[2021-10-13 21:46] avanhatt opened #6394 "`reachability-slice` changes verification from FAILED to SUCCESSFUL"
CBMC version: 5.40.0 (0cdc65492) with PR 6376 and 5.31.0
Operating system: Both Ubuntu 20 and macOS 11.6 (20G165)
Exact command line resulting in the issue:
[code]

The issue seems to be this function goes from nontrivial to an `assume(0)` despite being reachable:
[code]
to
[code]
What behaviour did you expect: same result
What happened instead: verification result changes

Binaries included here,

[2021-10-13 22:01] SaswatPadhi commented on #6394
Not sure if these are related, but there is another (super old) issue about `--full-slice` being unsound: #260.

[2021-10-14 02:47] zhassan-aws commented on #6394
Attaching another example where I'm observing similar behavior with CBMC version 5.36.0:

[before-reach-slice.tar.gz](https://github.com/diffblue/cbmc/files/7342561/before-reach-slice.tar.gz)

Steps to reproduce:
1. `tar xvzf before-reach-slice.tar.gz`
2. `cbmc before-reach-slice.gb`
This produces:
[code]
3. `goto-instrument --reachability-slice before-reach-slice.gb after-reach-slice.gb`
4. `cbmc

[2021-10-15 13:26] jimgrundy opened #6397 "Unsound command line options should be documented and warnings given when used."
The --reachability-slice option (and other slices) produce results that are unsound.

This request has two parts:
1/ All command line options that can produce unsound results should be clearly marked as such in the command's help.
2/ Any command run with an unsound command line option should produce in the output a warning indicating that the results are unsound and which option(s) are the reason

[2021-10-17 15:51] ricoeo opened #6398 "can't detect bug"
CBMC version:CBMC version 5.41.0 (cbmc-5.41.0) 64-bit x86_64 windows and CBMC version 5.10 (cbmc-5.10) 64-bit x86_64 linux
Operating system:windows 10 and subsystem ubuntu20
Exact command line resulting in the issue:
What behaviour did you expect:I wrote very simple code to test cbmc ,the code is as followed :
#include <stdio.h>

int main()
{
	int buffer[2];
	buffer[2] = 10;
}

What happened inste

[2021-10-17 17:49] #6398 closed, assigned to nobody

[2021-10-17 18:39] lzaoral commented on #6090
Hi @martin-cs! Sorry for bumping but I've tried the correct solution proposed in #6144. I've run into some problems that I have described in a commentary in the aforementioned PR.

[2021-10-19 13:32] martin-cs commented on #6090
Thanks @lzaoral I will chase them down there.  I think @tautschnig 's patch was better than #6144 .

[2021-10-19 13:38] martin-cs commented on #6397
@jimgrundy I very much agree with the principle but none of the slices should produce unsound results, esp. `--reachability-slice`.  If you have the time to file a bug report for what is going wrong, that would be great.

[2021-10-19 13:41] martin-cs commented on #6397
Ah, is #6394 what prompted this?

[2021-10-19 18:04] jimgrundy commented on #6397
Not directly, but yes via internal chats that led up to #6394. @kroening said that the slicers were not sound and should not be used. My feeling is that if there are command line options that we know might produce unsound results then that needs to be documented and warned. You might have to follow up with @kroening for examples of unsound slicers beyond those reported in #6349 and #260.

[2021-10-19 21:58] martin-cs commented on #6397
Perhaps it is useful to draw a distinction between:

A. Functionality that is (intentionally or unintentionally) unsound by design / choice of algorithm,
and
B. Functionality that is in-principle sound but has known or suspected issues of correctness.

A. we should definitely warn for, B. we should work towards eliminating.

As far as I know, issues with the slicers are of type B.  They are just w

[2021-10-19 21:59] martin-cs commented on #6397
In the case of #260 I would be tempted to try re-running the benchmarks because I know there have been bug fixes to that code in the ... 5 years since it was first reported.

[2021-10-19 22:16] jimgrundy commented on #6397
I agree with @martin-cs on A vs B in principle, but if the time in which issues in class B lie around is measured in years rather than weeks then we risk having folks using these features and thinking they have proofs of production code when they do not. One suggestion would be to rename "--feature-X" to "--experimental-feature-X" until soundness queries are resolved. That would at least convey th

[2021-10-20 08:30] martin-cs commented on #6397
It's not unreasonable that "this should work but ... last I checked it didn't" should be somewhere other than in the heads of a few developers and implied by the bug tracker.

Renaming options is always awkward.  What I wonder is whether we need a "--sound-options-only" or "--no-experimental" flag that will conflict if given with anything not on a white-list of options.  Test coverage and no optio

[2021-10-20 11:59] thomasspriggs commented on #6319
@SaswatPadhi The PR addressing this issue is now merged. Can you confirm that you are happy for this issue to be closed out?

[2021-10-20 13:57] danielsn opened #6404 "CBMC should have a `assert-false-undefined-functions` option"
Currently, CBMC by default has a nondet return value for undefined functions, which is unsound if they have side-effects.
`goto-instrument` offers more fine grained control, but is difficult to use correctly, and requires customers to use a goto-instrument flow https://github.com/diffblue/cbmc/issues/6393
CBMC offers `--havoc-undefined-functions` which is better, but still not ideal.  It does not

[2021-10-20 14:15] jimgrundy commented on #6393
Also, rather than just throwing an assert false violation it would save a lot of debug effort if we got an error of the form "undefined function reached".

[2021-10-20 14:17] jimgrundy commented on #6397
I like this last idea, but I would like to flip the sense. The tool should be presumed sound by default, so rather than having a "--forbid-stuff-we-dont-think-is-sound" option, those should be forbidden by default and the options should be "--experimental" (i.e. --allow-stuff-we-dont-think-is-sound").

[2021-10-20 14:38] martin-cs commented on #6397
Yes; you are right that's a better solution. `--I-accept-this-might-give-wrong-answers`?

[2021-10-20 18:50] SaswatPadhi commented on #6319
Awesome; thank you! The fix works as expected. We can close this issue now.

[2021-10-20 18:51] #6319 closed, assigned to thomasspriggs

[2021-10-21 07:57] vmihalko commented on #5965
I was trying to implement this feature by myself, but I will need some help.

So [this](https://github.com/diffblue/cbmc/blob/develop/src/goto-instrument/model_argc_argv.cpp#L86-L104) is similar approach as you have mentioned in second comment - wrap the program with some new function...
And what we need is to somehow pass the arguments from outside to [argv_string](https://github.com/diffblue/cbm

[2021-10-21 15:54] martin-cs commented on #5965
Hi @vmihalko !  Sorry I hadn't got to doing this; as you can imagine, life in a University has been quite ... chaotic this year.

Your understanding is correct.  If I was doing this I would...

1. Grep the `regression/` tests for something that uses `--model-argc-argv` and check that A. the test was run and B. it did what I thought it did.
2. Create a new folder in `regression/goto-instrument/` wi

[2021-10-21 15:57] martin-cs commented on #6090
See https://github.com/diffblue/cbmc/pull/6402

[2021-10-21 21:10] #6163 closed, assigned to tautschnig, kroening

[2021-10-24 07:31] kdw9242 opened #6413 "Two versions of CBMC (5.41.0 and 5.10) reports differently and older version is correct"
CBMC version: 5.41.0 and 5.10

Operating system: Ubuntu Linux and iMac

Exact command line resulting in the issue: cbmc --unwind 100 --trace -I . ./code.c ./platform.c ./osek.c  ./trace_cbmc.c > ./cbmc_result.txt 2>&1

What behaviour did you expect: assertion property checking result of 5.41.0 and 5.10 should be same

What happened instead: 5.41.0 results wrong

I tried to check assertion property

[2021-10-24 07:39] kdw9242 commented on #6413
I've tried it on version 5.42.0 as well, but I'm still having the problem.

[2021-10-24 08:32] kdw9242 commented on #6413
I found that the results are different in the two versions when the array bounds are exceeded.

[2021-10-26 10:51] #6090 closed, assigned to nobody

[2021-10-28 14:11] danielsn commented on #6413
Are you running with `--bounds-check`

[2021-11-01 17:59] martin-cs opened #6423 "goto_check treats `ID_and` / `and_exprt` in a non-commutative way"
While reviewing https://github.com/diffblue/cbmc/pull/6399 I wondered what is documented about it.

https://github.com/diffblue/cbmc/blob/ce2680b724d650c404468eb0070c8b402735ec66/src/util/simplify_utils.cpp#L51

suggests that `ID_and` it is associative and commutative.  However the handling of logical operations in `goto_check` is asymmetric:

https://github.com/diffblue/cbmc/blob/ce2680b724d650c4

[2021-11-01 19:27] kroening commented on #6423
Indeed; goto_check is very closely coupled with what comes out of the C front-end. The plan is to make goto_check part of the C front-end to remove this ambiguity.

[2021-11-01 22:16] gsingh93 opened #6427 "Bounds checks when the "address of" operator applied to an array access"
CBMC version: 5.42.0 (cbmc-5.42.0-2-g038a53b50)
Operating system: Debian
Exact command line resulting in the issue: `cbmc test.c --bounds-check`
What behaviour did you expect: I expected two issues to be flagged, where one was in the `get_element_addr` function
What happened instead: Only one issue was flagged, and the issue in the `get_element_addr` function was not flagged

Consider the followin

[2021-11-02 00:07] gsingh93 opened #6428 "Improved documentation for goto-instrument loop transformation options"
I'm interested in understand some of `goto-instrument`s loop transformation options:
[code]

My guess is that `--accelerate` will compute a closed form of the loop. If that's correct, could you provide an example where I can compare the before and after GOTO programs?

`--k-induction` seems like it may be helpful, could you provide information on when it makes sense to use it and what it does?

[2021-11-02 13:41] martin-cs commented on #6428
So there is good news and bad news about these options.

**Good news!**
Both of them have papers describing how they work.

The k-induction code in `goto-instrument` is inherited / merged from K-Inductor:
https://www.cprover.org/kinduction/

The acceleration code comes from this work:
http://www.kroening.com/papers/fmsd2015.pdf

There are also examples in the regression suite:
https://github.com/d

[2021-11-02 14:00] martin-cs commented on #6427
In general, you might want to try `--pointer-check`, although that doesn't help in this specific case.  `--pointer-overflow-check` is what you want:

[code]

but I am seeing two bugs -- there seems to be an off-by-one in the check that is inserted and there are no checks asserted when taking the address.

[2021-11-02 14:36] srogatch opened #6429 "Invariant check failed File: ../util/irep.h:573 function: remove_ref Condition: old_data->ref_count != 0 Reason: Precondition"
CBMC version: cbmc-5.43.0 from `develop` branch, commit `07895efefd6780560dffdae10d83857714ae6b8e`
Operating system: Ubuntu 20.04 64-bit
Exact command line resulting in the issue:
`gdb --ex=run --args env CADICAL_API_TRACE=/scratch/exchange/cadical_api_trace.txt LD_PRELOAD=/usr/local/lib/libjemalloc.so.2 cbmc Sample2.c --trace --error-label success --symex-cache-dereferences`
What behaviour did yo

[2021-11-02 15:52] martin-cs commented on #6427
For the off-by-one, @tautschnig any idea why this is `ID_le` not `ID_lt`?

https://github.com/diffblue/cbmc/blob/ce2680b724d650c404468eb0070c8b402735ec66/src/analyses/goto_check.cpp#L2367

For the missing check, I think there is something fishy going on here:
https://github.com/diffblue/cbmc/blob/ce2680b724d650c404468eb0070c8b402735ec66/src/analyses/goto_check.cpp#L104
https://github.com/diffblue/

[2021-11-02 17:12] kroening commented on #6427
Off by one: The C standard explicitly allows pointers one beyond the end of an object. This is to support loops that iterate over arrays or the like.

[2021-11-02 20:05] tautschnig commented on #6429
Thank you for your report. Are you also able to reproduce this problem when using a different (version of the) compiler, or drop some of your hardware optimisation flags? Also, I would expect you to be able to reproduce this when not using CaDiCaL. I am asking these questions as the absence of a reproducer makes this very difficult to analyse for us.

[2021-11-02 20:39] vmihalko commented on #5965
Hi @martin-cs, thank you very much for such a detailed instructions!

I'm struggling with [model-argc-argv function](https://github.com/diffblue/cbmc/blob/develop/src/goto-instrument/model_argc_argv.cpp) and I would appreciate if you could help me.

This is my first attempt to change (what I think is) [the important part of model-argc-argv function](https://github.com/diffblue/cbmc/blob/develop/sr

[2021-11-03 00:41] gsingh93 opened #6432 "Difference in behavior of `cbmc --unwind N` and `goto-instrument --unwind N`"
CBMC version: 5.42.0 (cbmc-5.42.0-2-g038a53b50)
Operating system: Debian
Exact command line resulting in the issue: `cbmc --unwind 8 --unwinding-assertions  test.c --function foo`
What behaviour did you expect: No assertions should fail
What happened instead: Assertions fail, unless I use `--unwind 9` instead of `--unwind 8`

I have the following code in `test.c`:
[code]

The loop should iterate 8

[2021-11-03 00:42] gsingh93 commented on #6432
I'm actually not sure if `--unwind 9` is working, this doesn't seem right (there are no VCCs):
[code]

[2021-11-03 01:32] gsingh93 opened #6433 "Behavior of infinite loops with `goto-instrument --unwind N --unwinding-assertions` differs from `cbmc --unwind N --unwinding-assertions`"
CBMC version: 5.42.0 (cbmc-5.42.0-2-g038a53b50)
Operating system: Debian
Exact command line resulting in the issue: `goto-instrument --unwind 3 --unwinding-assertions test.gb test-unwinding.gb && cbmc test-unwinding.gb --function foo`
What behaviour did you expect: No assertion failures
What happened instead: Two assertion failure

I have the following code in `test.c`:
[code]

When I run `cbmc --

[2021-11-03 14:10] jimgrundy commented on #6433
CBMC has a special case for "while (1) {}" to convert to "assume(false);". There is a flag to disable this. This was added for code in SVCOMP. But, maybe the default should have been the other way around, or maybe we should be giving you a warning when this special case is invoked.

[2021-11-03 14:26] jimgrundy commented on #6423
Would it make sense to have different ireps for logical ands and short-circuit ands?

[2021-11-03 14:43] kroening commented on #6423
sure, might help

[2021-11-03 15:01] martin-cs commented on #6423
Maybe.  IIRC && and || are split into multiple gotos during
goto_convert so a && in the source code doesn't necessarily give an
ID_and in the goto-program when it gets to goto_check.  I am not sure
about assumes and asserts though.

[2021-11-03 15:16] martin-cs commented on #6432
The CBMC unwinder and the goto-instrument unwinder are actually different bits of code that work differently.  The CBMC unwinder is done as part of symbolic execution and counts the number of back-edges taken.  The goto-instrument unwinder works by manipulating the goto-program by copying the loop body.

The CBMC symex does constant folding which is why you are seeing no VCCs with `--unwind 9`, if

[2021-11-03 15:27] martin-cs commented on #6433
@jimgrundy is correct, `while(1) {}` is recognised by CBMC and treated as `assume(false);`  ( It is not entirely clear to me how this interacts with `--unwinding-assertion`).  So the reachable assertion should be safe, or, possibly not even considered because it is `clearly` unreachable.

As I described in https://github.com/diffblue/cbmc/issues/6432#issuecomment-959405490 the goto-instrument unwi

[2021-11-03 23:20] NlightNFotis commented on #6351
Hello, is #6430 related to this issue? It appears to be fulfilling the requirements of at least the first of the primitives requested, or am I mistaken?

[2021-11-04 00:01] jimgrundy commented on #6351
It is related, and, actually we can build havoc_from using havoc_slice, so we will only need the the one primitive, which Remi's PR implements.

[2021-11-04 11:17] martin-cs commented on #5965
This looks like a really good start.  I am not sure if github comments are the most efficient way of debugging this.  Would it be possible to have a virtual meeting by jisti, zoom, teams or the like?  If you drop me an e-mail I hope we can arrange a time.

[2021-11-04 11:30] vmihalko commented on #5965
I agree, my email is vmihalko@redhat.com.

[2021-11-04 13:42] #6239 closed, assigned to nobody

[2021-11-04 15:02] remi-delmas-3000 commented on #6299
closing this issue that contained several sub issues, the file_local issue is now fixed, will repost issues that are still standing

[2021-11-04 15:02] #6299 closed, assigned to remi-delmas-3000

[2021-11-04 19:17] danielsn opened #6440 "Naming scheme for cbmc related tools"
We have (and are developing more) open-source CBMC related tools.  We want to make sure there is a consistent naming scheme for these tools, and that our names for these tools make sense to the community.

In particular:

* https://github.com/awslabs/aws-viewer-for-cbmc makes formated (html and otherwise) reports from CBMC results. We would like to release it as a python package `cbmc-viewer`.
* h

[2021-11-05 09:42] peterschrammel commented on #6440
There aren't any general rules as far as I'm aware of.

Maybe some guidelines can be derived from these observations of current naming:
1. Anything that operates on intermediate representation is called `goto-`_what-it-is-doing_.
2. A BMC tool using a particular language frontend is called _language_`bmc`. Similar for static _language_`analyzer`, etc.
3. Packages that relate to the entire CProver

[2021-11-05 15:35] martin-cs commented on #6440
@danielsn Thanks for asking!  Basically +1 to what @peterschrammel says.  There is no official naming scheme but the guide he gives are good and match with my understanding.

[2021-11-06 14:04] srogatch opened #6443 "No way to install CBMC after `make -C src`"
CBMC version: 5.43.0
Operating system: Ubuntu 20.04
Exact command line resulting in the issue: make -C src
What behaviour did you expect: a possibility to run `make -C src install`
What happened instead: there is no `install` target.

[2021-11-08 12:14] kdw9242 commented on #6413
Sorry for the late response.
Even with the --bounds-check option, assertion checking results are still different.
Thanks for the reply.

[2021-11-09 19:34] gsingh93 opened #6449 "Any way to specify the length to compare in `__CPROVER_array_equal`?"
CBMC version: 5.43.0
Operating system: Debian

`_Bool __CPROVER_array_equal(const void array1[], const void array2[])` takes two arrays and returns true if the values stored in the arrays are equal. I'm wondering if it's possible to add a third argument that allows us to specify how many elements to compare for equality instead of comparing the whole array?

This would help to create models for fu

[2021-11-10 01:45] gsingh93 opened #6451 "Difference in output of `--enum-range-check` in `goto-instrument` and `cbmc`"
CBMC version: 5.43.0
Operating system: Debian
Exact command line resulting in the issue: `~/cbmc/build/bin/cbmc out.gb --function bar`
What behaviour did you expect: No violations
What happened instead: One violation

From other issues I've filed on here, I'm finding that while `goto-instrument` and `cbmc` share many options, the behavior between them sometimes differs. Can we document these diffe

[2021-11-10 11:13] TGWDB commented on #6449
There are some ways to do this, for example using `__CPROVER_forall`. I've included some example code below that may resolve what you're trying to do. Let me know if this helps.

Example program:
[code]

This should work on cbmc version 5.43.0 (and others, but I have not tested it on the others).

[2021-11-10 18:16] gsingh93 commented on #6449
Thanks, this seems to work for my use case. I implemented my memcmp model (which only does equal and not equal, not positive or negative) like this:
[code]
Haven't tested the performance gain from this, but I'd assume it should be better than the iterative approach.

[These docs](http://www.cprover.org/cprover-manual/cbmc/assertions/) say that `forall` will be released in a future release, I guess

[2021-11-10 19:43] danielsn commented on #6440
@peterschrammel So the repo for the bindings would be `rust-cprover-bindings` and the Rust crate would be `cprover-bindings` since the (rust) part is implicit for a crate.

[2021-11-10 19:57] danielsn commented on #6440
@markrtuttle

[2021-11-10 20:14] danielsn opened #6452 "pragma check disable does not work as expected"
It seems that it only applies at the statement level, but there is no warning given when compiling this with CBMC

[code]

[code]

[2021-11-11 12:14] thomasspriggs commented on #6449
It is worth noting that this will only work with either the SMT2 back end, or in cases where `n` is constant when using the SAT back end. For details of quantifier support see - https://github.com/diffblue/cbmc/blob/d0e6b9a82ba4f14d0c247b1acc9f995fe0265b22/doc/cprover-manual/contracts-quantifiers.md

[2021-11-11 15:23] feliperodri commented on #5392
Might be affected by https://github.com/diffblue/cbmc/pull/6339

[2021-11-11 15:48] tautschnig commented on #6452
Having spoken to @danielsn:

1) The actual desired solution is to have ways to specify the addition as having wrap-around semantics. Similarly other built-ins may be required where the pragmas are really workarounds.
2) There should at least be a warning that this pragma will be ignored.
3) Supporting pragmas on all expressions is possible, but costly. Hence preferring 2) over this. 1) Should be c

[2021-11-11 15:55] jimgrundy commented on #6449
Would this work (he asked without bothering to try):

[code]

[2021-11-11 16:04] jimgrundy commented on #6427
This behavior matches my expectations, which align with @kroening's. If you'd asked for the address of element 9 then I would expect 2 errors. Is that what happens?

[2021-11-11 16:07] jimgrundy commented on #6423
I've gotten good performance improvements out of CBMC replacing "a && b" with "a & b" in my code when
1/ a and b are both expressions that return only 1 or 0
2/ b is an expression that cannot fail
Is there an optimization that does that automatically? Could there be one?

[2021-11-11 17:17] jimgrundy commented on #6394
We also need to review the use of "--slice-global-inits" as that is part of the starter-kit

[2021-11-11 17:32] SaswatPadhi commented on #6105
This issue has been fixed in https://github.com/diffblue/cbmc/pull/6365.

[2021-11-11 17:32] #6105 closed, assigned to SaswatPadhi

[2021-11-11 19:52] jimgrundy commented on #6397
It looks like our desire is this:
1. Add a --unsound flag, that allows intentionally unsound options
2. Add a --experimental flag, that allows options that we want to be sound, but aren't confident in
3. Using any option that is intentionally unsound should get you a warning unless you used the --unsound flag.
4. Using any option that should be sound but we aren't confident in should get you a war

[2021-11-11 20:52] tautschnig commented on #6413
Thank you for the detailed report. I have been able to reproduce this, now also running on the same operating system. I will bisect to see what changes made parts of the code unreachable.

[2021-11-11 21:23] gsingh93 commented on #6427
I didn't know this, thanks for clarifying!

I think there's still an issue here though, because when I ask for element 9 (an off by two), I still don't see any error in my initial example with `--pointer-overflow-check`. In @martin-cs's example, I expect one error due to `get_element_addr(&arr, ELEM+2)` accessing index 10 and one error at `char *p = get_element_addr(&arr, 0) + (ELEM + 1)` for acce

[2021-11-11 21:25] gsingh93 commented on #6449
@jimgrundy, I tested that version before creating the issue, and I also tested a version where there is no array copy but just a cast to an array of `int[n]`, but it didn't work. I'm guessing there may need to be some explicit handling of variable length arrays added?

[2021-11-12 04:50] ahcheongL opened #6456 "CBMC parser error on C++ code"
Hello, I'm trying to make cbmc to reproduce a crash I found on exiv2 library, but it seems cbmc's parser couldn't handle my c++ code.

It seems cbmc couldn't handle the following source code token:
`using __gnu_cxx::__add_unsigned;`

I've tried to make cbmc to handle the specific fragment, but each time I change cbmc's source code, it generates another parsing errors... so I report the case here.

[2021-11-12 05:02] ahcheongL commented on #6456
The error message is as follows :

parsing errorfile /usr/include/c++/7/bits/locale_facets.tcc line 380: parse error before 'typedef typename __add_unsigned <'
--- begin invariant violation report ---
Invariant check failed
File: /home/cheong/cbmc/src/cpp/parse.cpp:7539 function: rStatement
Condition: false
Reason: Unimplemented
Backtrace:
/home/cheong/cbmc/build/bin/cbmc(print_backtrace(std::ostr

[2021-11-12 05:05] ahcheongL commented on #6456
It says that the parsing code is not implemented for the case, but I think I find code that cbmc handles such cases in `Parser::rName(irept &name)` in parser.cpp.
However, it is returning true (around parser.cpp:3589) which leads to UNIMPLEMENTED macro.
Can you let me know the meaning of the return value of Parser::rName, too?

[2021-11-12 15:17] remi-delmas-3000 opened #6457 "what's the proper command for running clang-format and cpplint locally before a commit/PR ?"
Hello,

I'm using visualstudio-code's built-in support for clang-format and it seems to give slightly different results to what is run in CI. How can I run locally the exact same pass that CI would do ?
I also tried `git clang-format` but still get CI errors.

The default clang-format version is 10.x on ubuntu 20_04 linux and 13.x on macOS running the latest xcode tools

(Same question for cpplint

[2021-11-15 14:35] TGWDB commented on #6457
The codebase is using `clang-format-7`.

[2021-11-16 22:45] tautschnig commented on #6413
The result of bisecting showed that  the root cause of the difference is additional constant propagation enabled by array field sensitivity (as enabled in 1f334015c24ad2af553b9dee6e127a6a24d89403). With this additional propagation you end up with the expression `{ 0, 1, 12, 19 }[4]` in multiple places (i.e., an index into an array constant), with the result of this expression being compared to dif

[2021-11-16 22:45] #6413 closed, assigned to tautschnig

[2021-11-17 00:42] kdw9242 commented on #6413
I also agree that it is hard to decide between non-deterministic or consistent value for the out of bounds access.

We need to apply option --bounds-check for now to avoid mis-understandings.

Thank you for checking it out, and I agree to close this issue.
Have a nice day.

[2021-11-17 08:57] wcventure opened #6460 "A question about using loop invariants in CBMC"
Hi there,

I've been learning to use CBMC to verify my code.

For some reason, the loop unwinding cannot unwind my loop repeatedly. And I found that CBMC can support the use of loop invariants to build loop contracts. I try to use the loop contract. But I don't know whether it is due to the limitations of CBMC itself, or my loop invariant is written incorrectly. I've tried to read a lot of example

[2021-11-17 12:15] martin-cs commented on #6460
Hi!  Excellent; I hope you like it.

Can you say a little more about what you mean?  Can it not unwind the
loop at all?  Does it unwind but not determine that the lower loop can
only be run 3 times?  Does it fail to find a particular error / fail to
prove something you feel it should?

There is support in goto-instrument for using loop invariants to
transform the code to remove loops.

I assume yo

[2021-11-17 18:40] avanhatt opened #6464 "Feature request: labels for function pointer restrictions"
[RMC](https://github.com/model-checking/rmc) is starting to use CBMC function pointer restrictions.

We have found CBMC's naming convention for identifying specific function pointer calls (indexed based on static placement, documented [here](http://cprover.diffblue.com/md__home_travis_build_diffblue_cbmc_doc_architectural_restrict-function-pointer.html)) to be difficult to use without introducing

[2021-11-18 03:50] wcventure commented on #6460
I use the following commands:
[code]

[code]

The Results:
[code]

[2021-11-18 15:09] danielsn commented on #6464
This would also be useful for having meaningful and stable names for unwindsets

[2021-11-18 15:09] danielsn commented on #6464
I suspect the name would actually be `surrounding_fn::call_f` to ensure uniqueness

[2021-11-18 15:14] tautschnig commented on #6464
We first need to add a uniqueness check in the C front-end, which happily accepts the following at the moment:
[code]

[2021-11-18 16:11] #6351 closed, assigned to remi-delmas-3000

[2021-11-18 18:52] qinheping commented on #6460
Hi! I tried your code on my machine and found two issues that block the proof.

The first issue is that, in the second loop, the variable we iterate over is a pointer (`pTmp`), which is not supported in loop contracts yet. We are implementing this feature and hope to merge it soon.

Besides, the loop invariant misses the case that `pTmp` can also be the 3rd, the 4th nodes (we created 4 nodes), or

[2021-11-18 19:16] wcventure commented on #6460
Thank you all very much. But this example still doesn't work.

Good. I look forward to this feature.

Thank you. I think the "__CPROVER_loop_entry"  In your invariant would be "__CPROVER_loop_old".

Here I have another question.
If I use a linked list with a large number of nodes, how to describe "`pTmp->next->...->next`" in the loop invariants. Do we have recursive logic?

[2021-11-18 20:46] tautschnig commented on #6457
@remi-delmas-3000, are you really seeing different formatting, or is it just that bits of the code base get formatted when CI does not expect them to be reformatted? Perhaps you could post examples?

[2021-11-19 16:16] SaswatPadhi opened #6467 "Rename "modifies*" entities in order to avoid possible confusion"
CBMC version: 516f109218a522bf33ade14e3e20003c1427beb0
Operating system: n/a
Exact command line resulting in the issue: n/a (internal code refactor)
What behaviour did you expect: n/a (internal code refactor)
What happened instead: n/a (internal code refactor)

Related to @tautschnig's comment on a recent PR: https://github.com/diffblue/cbmc/pull/6249#discussion_r751149114

There are several metho

[2021-11-22 17:00] SaswatPadhi commented on #6460
Hello,

We currently cannot. We are working on extending loop contracts to work on inductive data types like linked lists, but it's currently unsupported.

[2021-11-22 19:48] SaswatPadhi opened #6468 "Audit `throw 0` instances throughout the code base"
CBMC version: 516f109218a522bf33ade14e3e20003c1427beb0

Forking off from @martin-cs's recent comment: https://github.com/diffblue/cbmc/pull/6249#discussion_r754508259

We use the `throw 0` at several places throughout code base. We should use audit these instances and:
1. check if it would be more appropriate to raise an `INVARIANT` violation,
2. throw `exception`s or at least `std::string`s in pl

[2021-11-22 20:00] martin-cs opened #6469 "Calling all users of `goto-instrument`'s `--show-value-sets`, `--show-rw-sets`, `--remove-pointers`, `--race-check`, `--mm`, `--isr` and `--concurrency`"
These are the only options that use the older `static_analysist` code.  I am thinking of refactoring that and I am interested to know who that would affect.

The `git blame` for these suggest that they have been about for over a decade so although @kroening is listed as the author, the code may well predate the move to subversion and the original authorship has been lost.

Out of all of the option

[2021-11-23 14:48] NlightNFotis commented on #6468
I'm all for this (and would be happy to assist with that effort myself).

We had already done a round of this, around 2018-2019, and we have removed most (all?) of the `throw 0;`s in some folders, but of course I've seen more of them get introduced over time, and we didn't get through all the project subfolders the first time.

[2021-11-23 14:58] NlightNFotis opened #6470 "Regression test failure for `cbmc/SIMD1` on M1 machines"
CBMC version: 516f109218a522bf33ade14e3e20003c1427beb0 (should be manifestable on `develop`)
Operating system: `macOS 11.3.1 on M1`
Exact command line resulting in the issue: `ctest -V --test-dir regression/cbmc`
What behaviour did you expect: All tests passing successfully.
What happened instead: The test under the folder `regression/cbmc/SIMD1` fails with `conversion error`.

I am getting this (

[2021-11-23 15:00] NlightNFotis commented on #6470
@tautschnig I see that you're the author of this test - is this something that's easy for you take care of?

If not, I can probably fix this, but I'm not sure of exactly what a fix for this entails (as I haven't seen these headers before and I'm not familiar with SIMD and its associated types/operations) so I would appreciate any pointers.

[2021-11-23 16:06] tautschnig commented on #6470
I'll check whether #5918 already addresses this issue (and if it doesn't, then it should).

[2021-11-23 16:10] tautschnig commented on #6470
Hmm, no, #5918 does not yet include this. But then the current code already has a comment here:
[code]
(and indeed the right types would really be `__gcc_v1di` instead of `__gcc_v2si`).

[2021-11-23 18:35] #6021 closed, assigned to SaswatPadhi

[2021-11-23 20:46] qinheping opened #6472 "Preconditions of cbmc library function memcpy are too strong"
I got failure "memcpy source region readable" when I call ```memcpy(p,q,0)``` where ```q``` is an overflowing pointer (this happened in a c-common benchmark https://github.com/awslabs/aws-c-common/blob/main/source/array_list.c#L187). However, as the number of bytes we want to copy is 0, this call will not cause any memory safety problem.

When I looked the cbmc library function ```memcpy```, I fou

[2021-11-23 23:01] kroening commented on #6472
I am afraid that the behaviour of memcpy is undefined when either `p` or `q` are invalid, irrespectively of the value of `n`.

[2021-11-23 23:07] kroening commented on #6472
The wording in C99 is as follows (7.21.1 par 2):

Where an argument declared as size_t n specifies the length of the array for a function, n can have the value zero on a call to that function. Unless explicitly stated otherwise in the description of a particular function in this subclause, pointer arguments on such a call shall still have valid values, as described in 7.1.4.

[2021-11-25 16:37] NlightNFotis opened #6480 "RFC: How to handle unsound flags"
Hi,

This is to probe a discussion on the handling of unsound flags and arguments to `cbmc`
and assorted tools going forward.

To that effect I have drafted a PR (#6479) which is issuing a warning in `cbmc` and `goto-instrument`
if the user has enabled any of the known unsound flags either directly or indirectly.

This may or may not be fine as a temporary solution (hence why it's a draft PR) but

[2021-11-26 09:27] martin-cs commented on #6480
Thanks for starting this discussion!

I am sure you will be shocked to find out that I have opinions on this subject and that my contribution to the discussion is going to be more questions than answers!

1. I think to really have an informed discussion on this, we have to ask what unsound flags are, how flags become marked as unsound and how (if, when, etc.) they loose that mark and most of all h

[2021-11-27 16:09] martin-cs commented on #6469
As no one objected, https://github.com/diffblue/cbmc/pull/6482 makes this change.

[2021-11-27 16:09] #6469 closed, assigned to nobody

[2021-11-28 12:23] wcventure opened #6483 "The function contract doesn't work when using loop"
Hi there,

I followed the [cprover-manual/contracts-functions.md](https://github.com/diffblue/cbmc/blob/develop/doc/cprover-manual/contracts-functions.md) and tried to use function contracts in my project. However, the function contracts don't seem to work correctly in some situations. Could you help me look at the following issue?

### The `foo` function contract doesn't work when using it in the

[2021-11-30 10:32] TGWDB commented on #6480
I'll chime in with a small and incomplete addition to the discussion.

Martin has many good points, and perhaps the discussion is mis-focused on the idea of "unsound", although this is also the hard challenge that initiated the discussion. So I'm going to slightly side-step this point and try to focus on a smaller and more concrete area to address immediately.

CBMC is not bug free, so there are g

[2021-12-01 13:32] martin-cs commented on #6483
Thank you for the extensive examples and work-through.  This really helps.

@jimgrundy / @SaswatPadhi / @remi-delmas-3000 / @feliperodri is this something your team could look? I am pretty sure these issues would affect you too.

[2021-12-01 13:40] #6368 closed, assigned to tautschnig, avanhatt

[2021-12-01 15:03] jimgrundy commented on #6483
Yes, one of us will try to reproduce.

[2021-12-01 15:14] jimgrundy commented on #6472
Hey @Herbping, can you give us trace to look at or an example complete enough for us to reproduce so we can see just how messed up the pointer in question is?  Maybe it's right at that knife edge where it is 1 past the size of the array, or the array is of size 0, in which case we might want allow that.

[2021-12-01 15:17] tautschnig commented on #6483
It seems not quite all assertions succeed -- quoting from the output (which I was able to reproduce):
[code]
Given this failing precondition, no further steps will be considered. I believe the root cause of your problem is that `__CPROVER_is_fresh` will not hold once you go around the loop at least two times (it can only be fresh once).

Edit: the semantics we documented for `__CPROVER_is_fresh` s

[2021-12-01 15:23] jimgrundy commented on #6464
I'd love to be able to refer to loops by label rather than number when specifying unwindings. Is that feasible to add?

[2021-12-01 15:35] martin-cs commented on #6483
@jimgrundy Thank you!

[2021-12-01 15:43] tautschnig commented on #6452
Further failing example from @danielsn:
[code]

Edit: `pragma` annotations are not sensitive to scopes, so there is nothing really wrong with the above.

[2021-12-01 17:24] jimgrundy commented on #6483
Hi @wcventure, thanks for trying this out. The function and loop contracts features are very much under development, so I'm not surprised that you are finding issues, but I am grateful to hear about them and we will try to address.

Here are my thoughts so far:

Let's not use __CPROVER_is_fresh in your pre-condition for now. You shouldn't need to because you are allocating what you need via malloc

[2021-12-01 17:25] wcventure commented on #6483
We can delete the precondition of `foo`, the `assert(0)` still could be successful.

Hi @jimgrundy, I have tried to delete the precondition of `foo`, but the result is still not correct. However, removing the loop body in `main` and calling `foo` contract by `ret = foo(map, key, SIZE);` can get the correct result.

[2021-12-01 19:47] tautschnig commented on #6483
It seems that having the three preconditions
[code]
*together* is causing the trouble. Removing anyone of them will make the assertions fail as expected.

[2021-12-01 21:39] martin-cs opened #6495 "RFC: Documenting and checking "normal form" properties of goto_models"
Inspired by https://github.com/diffblue/cbmc/pull/6493#discussion_r760171400 but a much longer standing problem:

- Various of the transformations and passes in CPROVER remove, normalise away or even introduce particular features.  Examples include removing function pointers, removing returns, removing vectors, patching programs so that all functions have bodies, leaving the program needing an `.u

[2021-12-01 23:28] qinheping commented on #6472
The failure can be reproduced by running unbounded proof for the benchmark `array_list_swap`.
To run the unbounded proof, you need to
1. Clone the branch https://github.com/Herbping/aws-c-common/tree/unbounded_proofs/verification/cbmc/proofs/aws_array_list_swap., update all submodules;
2. `make veryclean && make` at the directory `verification/cbmc/proofs/aws_array_list_swap`

In the unbounded pro

[2021-12-02 01:28] jimgrundy commented on #6472
So, I think the following....
1/ You should be able to remove the "n == 0" clauses from this precondition.
2/ I wish there was a way to say that the src and dst fields must be valid pointers, but we kind of don't need to because wether you add "is_valid_pointer(src)" to the precondition or not the effect is the same - an error (precondition violation or touching a bad pointer).
3/ I think you are

[2021-12-02 15:26] tautschnig commented on #6483
I have done some further experiments, with the following now being the result of replacing the loop by:
[code]
This yields, among other things, the following goto program instructions:
[code]
Note that `main::1::ret` is not updated between the (replaced) calls.

[2021-12-02 15:37] jimgrundy commented on #6483
Thanks @wcventure for reporting this. This is a bug. We are missing a nondeterministic assignment to the return value when we replace the contract, which can result an accumulation of assumptions about the return value between two calls. We should be able to fix this soon.

[2021-12-03 00:25] jimgrundy commented on #6480
I feel bound to have an opinion as I feel like I may have been the one to provoke this.

Both under and over approximations matter to me, depending on the question I am asking:

* If an analysis tells me that an assertion isn’t hittable, but it really is, then that’s a problem.
    * The other way around is an annoyance, perhaps a serious one, but I can live with it if it isn’t too common.
* If an

[2021-12-03 13:30] thomasspriggs commented on #6404
I think it would be useful to make `goto-instrument`'s `--generate-function-body` argument available as an argument to CBMC. That way it will be more straight forward to make sure this pass is carried out after linking is complete. I can take a look at implementing this, assuming no one else has any objections.

[2021-12-03 13:42] thomasspriggs commented on #6393
That sounds like a worthwhile improvement, but it is slightly off track from the original problem described in this issue. I have raised a task in my team's internal tracking system, to keep track of your suggestion.

[2021-12-03 13:45] thomasspriggs commented on #6393
It seems like Saswat has managed to find a way to make the functionality you wanted work for the moment. I think that ideally we should generate an appropriate warning/suggestion if an attempt is made to generate function bodies, before the standard libraries have been linked.

[2021-12-03 15:45] kroening commented on #6404
I object strongly. Every option that goto-instrument has is useful to somebody. We want to reduce the number of CBMC options, not increase them.

[2021-12-03 15:58] thomasspriggs commented on #6404
In which case I am happy with the idea of closing out this ticket as "won't do". Is this intended architectural direction documented anywhere? It seems like the sort of thing which would be nice to have in - doc/ADR/README.md

As an aside - Do we expect more or less all users eventually to be using `goto-instrument` as part of their work flow?

[2021-12-03 16:06] thomasspriggs commented on #6404
@danielsn Are you ok with us closing out this issue, or do you want to make more arguments in favour of this feature?

[2021-12-04 11:23] tautschnig commented on #6483
Thank you for reporting this problem. The issue has now been fixed via #6502.

[2021-12-04 19:47] tautschnig commented on #6162
This has been fixed in 49481e272718ee34d4580d0ed55de969a0b5e50a (#5849), which is included in version 5.25.0 (and all later versions).

[2021-12-04 19:47] #6162 closed, assigned to nobody

[2021-12-04 21:16] tautschnig commented on #6394
The issue (in both examples provided) were functions the body of which was not available. #6505 addresses this issue.

[2021-12-05 10:23] #6470 closed, assigned to tautschnig

[2021-12-05 23:28] tautschnig commented on #6464
#6508 (still in draft mode) now adds support for both loops and function pointers to be referred to by label.

[2021-12-06 08:26] qinheping commented on #6472
I created a pull request https://github.com/awslabs/aws-c-common/pull/874 to avoid calling ```memcpy``` when pointers one past the boundaries.

[2021-12-06 08:26] #6472 closed, assigned to qinheping

[2021-12-06 11:31] wcventure commented on #6483
Hi @tautschnig @jimgrundy, another question. Could you help me to check why the ensures clause of function `foo` fails?

I use the following command to check the function contract of `foo`.
[code]

The CBMC reports that the postcondition could fail.
[code]

[2021-12-06 18:01] feliperodri commented on #6483
Hi @wcventure, there are a few things to fix here.

First, you need to apply loop contracts before enforcement. Our contract support expect the following precedence:
  1. Loop contract instrumentation (i.e., `--apply-loop-contracts`);
  2. Function contract replacement (i.e., `--replace-call-with-contract`);
  3. Function contract enforcement (i.e., `--enforce-contract`).

You should run this exam

[2021-12-06 21:07] #6467 closed, assigned to tautschnig, remi-delmas-3000, feliperodri

[2021-12-06 23:47] jimgrundy commented on #6483
@feliperodri asks "Last, your last ensures clause doesn't hold. @tautschnig @Herbping would that be a bug while handling exists?"

That seems like an important question to answer before we close this.  If there is a bug here can we get a new issue filed on that before closing this?

[2021-12-07 04:15] wcventure commented on #6483
Hi, I found some contradictions after I did some further experiments on the complete example provided by @feliperodri.

I found that `__CPROVER_is_fresh` is necessary when proving the loop invariants and function contract for `foo` function. Because removing the precondition `__CPROVER_is_fresh` in `foo` will make the loop invariant not preserved. However, Adding `__CPROVER_is_fresh` as a precondi

[2021-12-07 10:40] thomasspriggs commented on #6404
Ok. I am going to close this out, due to lack of further arguments in favour.

[2021-12-07 10:40] #6404 closed, assigned to thomasspriggs

[2021-12-07 15:47] jimgrundy commented on #6483
Thanks for the update @wcventure. @tautschnig is going to take a closer look at this and get back to us.

[2021-12-07 21:08] #6238 closed, assigned to nobody

[2021-12-07 23:03] tautschnig commented on #6483
Trying to answer the various questions:

1) The loop invariant needs to say
`__CPROVER_loop_invariant((ret == 0) ==> (i < len && map[i] == key[i]))` instead of `__CPROVER_loop_invariant((ret == 0) ==> map[i] == key[i])` to avoid an out-of-bounds constraint for the case of `i == len`. This makes the `ensures` clause pass.
2) To avoid the problem with `__CPROVER_is_fresh` one could use
[code]
but th

[2021-12-08 03:32] wcventure commented on #6483
My problem has been solved. Thank you very much!

[2021-12-08 09:04] #6483 closed, assigned to tautschnig, remi-delmas-3000

[2021-12-08 12:23] #6464 closed, assigned to tautschnig

[2021-12-08 21:12] tautschnig commented on #6362
With apologies for the very late response. We do not currently have a concept of symbolic constants, hence constant propagation would not be performed on this. If #3619 were to be merged, this situation would change.

That said, would you have an example to share where you'd expect benefit from constant-propagating symbolic constants?

[2021-12-08 21:53] tautschnig commented on #5471
Attending to this more than a year later, and you've obviously since played with support for contracts: CBMC does not auto-generate objects for pointers that are passed to the top-level function. You can use `goto-harness` to accomplish this, or else manually write a verification harness that performs `malloc(sizeof(int) * len)`. If you're still interested in this example, can you let us know whet

[2021-12-09 11:53] #6304 closed, assigned to nobody

[2021-12-10 07:56] #5471 closed, assigned to wcventure

[2021-12-10 07:57] wcventure commented on #5471
My problem has been solved. Thank you very much

[2021-12-15 16:08] NlightNFotis commented on #6231
The PR that contains a fix for this issue, #6399, has now been merged.

Could someone verify that this issue has now been addressed effectively? @SaswatPadhi

[2021-12-15 17:12] jimgrundy commented on #6231
We may not get do a thorough test of this until January. I will assign it to myself to keep track of making sure testing gets done early in the new year. Thanks for this.

[2021-12-15 23:12] markrtuttle opened #6530 "Conversion error in goto-cc in develop branch"
I'm getting a goto-cc conversion error on Ubuntu20 with develop branch commit 47c1c7e70cb17e3315ebacde99ef5b1f4a69eb91 that does not occur with release 5.44.

[code]

The root of the problem is that
[code]
is failing with
[code]

[2021-12-16 14:20] tautschnig commented on #6530
Posting in here after some out-of-band communication: @NlightNFotis confirmed that 1a86739a3e12 is the commit that causes this change in behaviour. The problem here is that a `static` variable is initialised (https://github.com/FreeRTOS/corePKCS11/blob/main/test/cbmc/stubs/pkcs11_interface_stubs.c#L62) with what isn't considered a compile-time constant (there are multiple function calls in there).

[2021-12-16 14:34] kroening commented on #6530
I would be somewhat worried about option 2.

[2021-12-16 14:45] tautschnig commented on #6530
Thanks everyone for their input (several out-of-band). The conclusion is that changes will be made to the code under analysis, i.e., option 1 from the above. Closing this issue.

[2021-12-16 14:45] #6530 closed, assigned to tautschnig, NlightNFotis, markrtuttle

[2021-12-16 18:57] jimgrundy commented on #6480
Now that we've all had a chance to comment on this let's meet together to discuss how we wish to proceed. I have scheduled a meeting for 15:00 UTC on Monday 2022-01-24. If you would like an invite to the meeting then drop me an email at jim.grundy@acm.org

[2021-12-16 20:50] jimgrundy commented on #6393
One could argue that this is a symptom of a more general issue, which is how to we ensure that folks run the steps of a transformation in the right order. We might want to look at annotating code with information about what has/has-not been done to it so we can check if further transformations are safe. There is an RFC started over on https://github.com/diffblue/cbmc/issues/6495 to discuss that.

[2021-12-16 20:53] jimgrundy commented on #6460
Hi @wcventure. It's been a while. Our current status is that recursive logic isn't yet supported. It's on our wishlist, but I can't give you a timeline. Are there other questions we should answer, or can we close this request and pick it up again after some future release that would add this functionality?

[2021-12-16 20:54] jimgrundy commented on #6449
@remi-delmas-3000 FYI - related to something we were discussing for use in invariants

[2021-12-16 21:02] jimgrundy commented on #6397
Happy to close this and pick up the discussion over on https://github.com/diffblue/cbmc/issues/6480

[2021-12-16 21:02] #6397 closed, assigned to nobody

[2021-12-17 06:50] #6460 closed, assigned to jimgrundy

[2021-12-18 07:07] zhassan-aws opened #6536 "Invariant violation with `--cover assertions --pointer-check`"
CBMC version: 5.46.0
Operating system: Ubuntu 20.04
Exact command line resulting in the issue: `cbmc --cover assertions --pointer-check  vec.goto`
What behaviour did you expect: Verification Successful
What happened instead: Invariant violation

The attached goto file is generated by running [RMC](https://github.com/model-checking/rmc/) on the following Rust program:
[code]
using `rmc vec.rs --kee

[2021-12-31 16:43] tautschnig commented on #3081
#6547 will be another piece to the puzzle as it will make sure function type conflicts can be resolved at all.

[2022-01-05 13:26] xiaolangde opened #6556 "VERIFICATION FAILED when use loop contract"
CBMC version: 5.47.0
Operating system: Ubuntu 20.04.3 LTS
Exact command line resulting in the issue: goto-cc test.c -o a1.goto; goto-instrument --apply-loop-contracts a1.goto a2.goto; cbmc  a2.goto
What behaviour did you expect:  VERIFICATION SUCCESS
What happened instead: VERIFICATION FAILED with 2 errors

test.c :
[code]

$ **goto-cc test.c -o a1.goto; goto-instrument --apply-loop-contracts a1.g

[2022-01-05 19:05] remi-delmas-3000 commented on #6556
Hello!
Thank you for the report.

_Loop assigns clauses_ were recently introduced in CBMC contracts and this example needs one. These clauses let you specify a list of memory locations a loop is allowed to assign to. In your case the loop assigns to `i` using a side effect `i++` and also assigns to the (stack- or heap-allocated) object pointed to by `d`.  So the assigns clause would look like this

[2022-01-06 08:44] xiaolangde commented on #6556
My problem has been solved. Thank you very much! @remi-delmas-3000

[2022-01-06 08:44] #6556 closed, assigned to nobody

[2022-01-06 21:44] tedinski opened #6561 ""--cover and --unwinding-assertions must not be given together""
CBMC version: latest / any / 5.43
Operating system: any
Exact command line resulting in the issue: `cbmc --unwinding-assertions --cover location ...`
What behaviour did you expect: CBMC would run and give me coverage information
What happened instead: Failed to run with the error "--cover and --unwinding-assertions must not be given together"

Use case: RMC has a default set of flags that we pass

[2022-01-07 12:32] martin-cs commented on #6561
I don't know if this is helpful but some context.  `--unwinding-assertions` is a very old option, well, originally it was `--no-unwinding-assertions` as the default was to have them so that you knew when the results were incomplete.  The default got flipped because it was so common that people would use it and complete unwinding was rare (in cases where it was not expected).  It wasn't quite an as

[2022-01-08 03:02] sree314 opened #6563 "sqrtf appears to be non-deterministic and throwing spurious verification failures"
CBMC version: 5.48 (but also 5.38 and 5.24)
Operating system: Ubuntu 20.04 and 18.04
Exact command line resulting in the issue: cbmc --trace sqrt.c
What behaviour did you expect: verification successful
What happened instead: verification failed and different results for `sqrtf`

See source code [sqrt.c.txt](https://github.com/diffblue/cbmc/files/7832463/sqrt.c.txt)

Also, when I add `--z3` to the

[2022-01-08 16:34] martin-cs commented on #6563
Thanks for this error report (esp. for having the stack traces enabled).  I think there are two separate errors.

A. The model of sqrt
The model we use is crude but simple / lightweight, pretty accurate but non-deterministic for subnormals:

https://github.com/diffblue/cbmc/blob/b79bd515ca20259287602abd68d5a32c276dbdd9/src/ansi-c/library/math.c#L686

The "correct" fix is to add an exprt for sqrt,

[2022-01-10 18:12] sree314 commented on #6563
Thanks for the reply, Martin. I was indeed encountering the issue for subnormals and I should have looked at the code :)

I'll take a stab at this sometime after Jan 24.

[2022-01-11 20:15] mgudemann opened #6566 "Invariant violation parsing simple C program"
CBMC version: `5.48.0 (cbmc-5.48.0-4-g169dc1865c)`
Operating system: `Linux Mint 20 Ulyana`
Exact command line resulting in the issue: `cbmc --function f  problem.c`
What behaviour did you expect: CBMC parses the program and reports no error
What happened instead: invariant check failed

[code]

the problematic file contains only:
[code]
This was found in a larger program and reduced with the help

[2022-01-11 22:15] tautschnig commented on #6566
Thank you for this very helpful report! #6569 will fix this issue.

[2022-01-12 17:44] mahantaf opened #6572 "Get Bit-Vector Output of a C code"
Given a sample program like the example you give in the paper, I want to get the output of that program in a Bit-Vector format:

input:

[code]
output:

[code]
How is it possible?

CBMC version: 5.48.0
Operating system: Ubuntu 20.04
Exact command line resulting in the issue:
What behaviour did you expect:
What happened instead:

[2022-01-12 18:17] #6566 closed, assigned to nobody

[2022-01-12 20:32] tautschnig commented on #6572
Would the output of `cbmc --program-only input.c` or `cbmc --show-vcc input.c` satisfy your needs? It it doesn't, can you please let us know what we could do to make it more helpful?

[2022-01-13 08:15] mahantaf commented on #6572
I want to input a c program and get a boolean formula of that program. Like the one mentioned in the CBMC article.

I have tried cbmc --program-only --function test ../../examples/test.c but it outputs this:

[code]

I do not know how I can parse this output and build the boolean formula from that.
Could you please help me? @tautschnig

[2022-01-13 14:56] jkbbwr opened #6579 "JBMC with Kotlin."
Upfront want to say, I know its not the standard usecase but it seems that JBMC works great out the box with kotlin for most situations.

This is awesome thank you guys!

I did however find a strange behaviour.

When running this code via JBMC

[code]

When executed via the JVM normally it results in
[code]
When executed via JBMC it seems to infinitely unroll some internal stacktrace function.

Su

[2022-01-13 14:57] jkbbwr commented on #6579
If a max unwind is set it does reach a conclusion but fails in the wrong location.

[code]

[2022-01-13 14:58] jkbbwr commented on #6579
The sanitize stacktrace method called in the kotlin runtime is this

    static <T extends Throwable> T sanitizeStackTrace(T throwable, String classNameToDrop) {
        StackTraceElement[] stackTrace = throwable.getStackTrace();
        int size = stackTrace.length;

        int lastIntrinsic = -1;
        for (int i = 0; i < size; i++) {
            if (classNameToDrop.equals(stackTrace[i].getCl

[2022-01-13 15:37] peterschrammel commented on #6579
@jkbbwr, JBMC has several options to control how to deal with exceptions.
It treats explicitly thrown exceptions differently from runtime exceptions. That's admittedly quite confusing, and primarily has performance reasons.
By default, it just asserts on runtime exceptions at the place where they are thrown, whereas explicitly thrown exceptions are propagated as you'd expect and JBMC asserts that

[2022-01-14 09:15] priv-kweihmann opened #6582 "cmake configure without internet access"
CBMC version: 5.48.0
Operating system: linux
Exact command line resulting in the issue:
- wget http://ftp.debian.org/debian/pool/main/m/minisat2/minisat2_2.2.1.orig.tar.gz build/minisat2-download/minisat2-download-prefix/src/minisat2_2.2.1.orig.tar.gz
- turn off internet connection
- `cmake ../source/`
What behaviour did you expect:
a way to prevent downloading of minisat2 sources again and again

[2022-01-14 09:17] priv-kweihmann commented on #6582
or alternatively add the sources to those solvers as git submodules.
Whatever fits your development process best

[2022-01-14 23:00] tautschnig commented on #6572
Thank you for your feedback. Can you be more specific as to which "CBMC article" you are referring to? One way to get a Boolean formula is using `cbmc --function test ../../examples/test.c --dimacs --outfile /dev/stdout`, but I'm not sure that's the format you are after?

[2022-01-15 18:59] mahantaf commented on #6572
Yes, the article that I mentioned is [this](http://shelf2.library.cmu.edu/Tech/52490804.pdf)
And saying the boolean formula I mean this image:
<img width="599" alt="Screenshot 2022-01-15 at 10 25 51 PM" src="https://user-images.githubusercontent.com/18045221/149634430-0adf1749-5984-4bbe-830f-ae7d08f77528.png">

Actually, the previous command `--program-only` has some useful output:

[code]

Do you

[2022-01-16 22:18] peterschrammel commented on #6561
I don't see any apparent reason why `--unwinding-assertions` couldn't be handled when running with `--cover`. However, one needs to be careful when integrating it into a loop that automatically increments `--unwind` as the reporting is different with `--cover` due to the reversed semantics of assertions. As @martin-cs explained, hitting a coverage goal means failing an assertion, which is somethin

[2022-01-17 17:17] tautschnig commented on #6572
I'm glad the output of `--program-only` actually works for you. How about:
[code]
You might, of course, choose to implement this text filtering in a different language.

Edit: FWIW, work is underway to reduce the number of `__CPROVER_...` variables when they aren't necessary.

[2022-01-17 22:20] mahantaf commented on #6572
Yes, it works fine.

Thank you.

I have another question about this output, what are these symbols mean? (for example `!0@1#` in `x!0@1#5 == 2`)

[2022-01-18 07:32] ilvn opened #6586 "__CPROVER_enum_is_in_range() fails on enum value returning functions."
CBMC version: 5.48.0 (cbmc-5.48.0)
Operating system: macOS 12.1 (21C52)
Exact command line resulting in the issue: cbmc --enum-range-check x.c
What behaviour did you expect: VERIFICATION SUCCESSFUL
What happened instead: VERIFICATION FAILED

This is the test code
[code]

The verification result when verified with `cbmc --enum-range-check x.c`
[code]

The verification reports failure in line 12 `en

[2022-01-18 11:13] tautschnig commented on #6572
These are the (extended) SSA indices for the thread (thread 0), function frame (frame 1) and then the assignment count within that frame and thread (assignment 5). There's some documentation in section "Static Single Assignment (SSA) Form" in http://cprover.diffblue.com/group__goto-symex.html#symex-overview.

[2022-01-18 11:19] tautschnig commented on #6586
Thank you for your report! It seems that we wrongly insert this check multiple times, where one of these insertions is before even making an assignment to the value. (Note how lines 12 and 13 appear multiple times in the output.)

[2022-01-18 20:47] naiyujiang opened #6592 "goto-cc with command line option file"
CBMC version: 5.43.0 (cbmc-5.43.0)
Operating system: Linux
Exact command line resulting in the issue: `goto-cc @param`
What behaviour did you expect: `goto-cc @param` should produce `.gb` file
What happened instead: `goto-cc @param` gives `Error opening file ''` error

Hi team,

I found that `goto-cc` is not able to parse command line option file correctly if all options/tokens are on different li

[2022-01-19 11:30] tautschnig commented on #6586
Thank you again for your detailed report. This will be fixed once #6594 has been merged.

[2022-01-19 11:56] tautschnig commented on #6592
Thank you for your detailed report and the extra debugging already done! This issue will be fixed once #6595 has been merged.

[2022-01-19 12:04] tautschnig commented on #6451
With apologies for taking this long to respond: more recent versions of CBMC will also yield this (spurious!) verification failure, because CBMC no longer performs return-value removal (as of 80fe6ff9487). The bug will be fixed once #6594 is merged.

[2022-01-19 12:44] jkbbwr commented on #6579
Ill give that a go shortly, on a very different note, I tried throwing Kotlin Coroutines at it to see what would happen, and it failed (as expected)

[code]

[code]

I know its very out of scope for the JBMC group, but it was a passing curiosity.

[2022-01-19 13:24] #6592 closed, assigned to tautschnig

[2022-01-19 14:16] peterschrammel commented on #6579
Thanks, @jkbbwr. It's certainly interesting to understand what is missing to provide Kotlin support.

[2022-01-19 14:18] jkbbwr commented on #6579
This isn't required for traditional kotlin support just for how kotlin coroutines work, they take the code and transform it into a re-entrant state machine at the bytecode level. Im super impressed with what it is already able to handle out of the box! :+1:

[2022-01-19 14:20] jkbbwr commented on #6579
Also, in regards to the `--throw-runtime-exceptions` that triggers the unroll that I commented on earlier that fails with the violated property when given upper bounds

[2022-01-20 00:01] ilvn commented on #6586
Great! Thank you for the fix.

[2022-01-21 22:03] nchong-at-aws opened #6607 "Unexpected timeout using __CPROVER_overflow_mult"
CBMC version: 5.48.0
Operating system: Ubuntu 20.04.3
Exact command line resulting in the issue: `cbmc main.c`
What behaviour did you expect: VERIFICATION SUCCESSFUL
What happened instead: Timeout

The following test approximates the output of the Kani verifier (https://github.com/model-checking/rmc) which uses `__CPROVER_overflow_mult` to detect unsigned integer wraparound. This test results in a

[2022-01-22 21:14] #1708 closed, assigned to nobody

[2022-01-23 23:19] tautschnig commented on #6607
There is the inherent hardness of multiplication. What, as far as I can see, causes the surprising behaviour here is that `__CPROVER_overflow_mult` will also do the multiplication (but only returns whether there was an overflow or not). Consequently, the code when not using `USE_LARGER_WIDTH` will cause four multipliers to be encoded, while `USE_LARGER_WIDTH` entails only two of them.

In my opini

[2022-01-24 18:46] avanhatt opened #6609 "Label-based function pointer restrictions fail for JSON file"
I'm attempting to use the new label-based function pointer restrictions added here (CC @tautschnig): https://github.com/diffblue/cbmc/pull/6508

That PR adds a test case for the command line based restrictions. I am trying to run the same case ([regression/goto-instrument/restrict-function-pointer-by-label/test.c](https://github.com/diffblue/cbmc/pull/6508/files#diff-1928981317cb1399764c5e5ff974a2

[2022-01-25 11:26] NlightNFotis commented on #6480
Hello everyone,

These are the notes we've collected from the live discussion.

Please do let me know if there are errors of omission or I'm misrepresenting something that has been said.

Thanks for your time,

## Notes from the Discussion on RFC-6480 - Unsound CLI options handling

* We're aiming to solve the problem of a user using a feature which was "problematic" and the
  (out-of-band) respon

[2022-01-25 13:28] martin-cs commented on #6480
Thanks for writing this up @NlightNFotis I think this is a good summary of the discussion.  The only thing I think I might add is that this is fundamentally about communicating and managing user expectations; it is a "soft" problem not a "tech" problem.  There are two aspects to this, acquiring / life-cycle-ing / managing the information from developers about what to expect and communicating it to

[2022-01-25 13:29] martin-cs commented on #6480
Also https://github.com/diffblue/cbmc/blob/a0fe71a3fed67358eba0b2d5dd91bc7dc044737b/src/goto-checker/properties.h#L24 is @peterschrammel 's previous work on n-valued output.

[2022-01-25 16:10] tautschnig commented on #6609
Thank you for the helpful report, and my apologies for failing to address JSON support in the earlier commit in the first place. This will now be fixed once #6610 is merged.

[2022-01-25 22:46] tautschnig commented on #6607
I'm afraid it only dawned on me today that we actually have support for what I said two days ago already in place. The following modified version of your code works, and works with about the same performance as `-DUSE_LARGER_WIDTH`:
[code]
This uses the GCC built-in `__builtin_mul_overflow`, and in Kani you could directly access this using a `side_effect_expr_overflowt`, which you'd construct as a

[2022-01-25 23:49] tautschnig commented on #6572
Closing as I believe all questions have been addressed. Please feel free to re-open if I missed anything!

[2022-01-25 23:49] #6572 closed, assigned to mahantaf

[2022-01-26 01:26] nchong-at-aws commented on #6607
Awesome! Thanks Michael, I will try this out and get back to you.

[2022-01-26 18:33] zhassan-aws opened #6613 "Allow checking cover statements without `--cover cover`"
CBMC version: cbmc-5.49.0
Operating system: All

This is an enhancement request. Currently, the `__CPROVER_cover` statements are only checked if `cbmc` is run with `--cover cover`. Running `cbmc` without `--cover cover` results in the following warning:
[code]
and the statement is ignored. Given that cover statements are useful for checking reachability and certain conditions, and given that they

[2022-01-27 12:50] thomasspriggs commented on #6582
Yes. I think it could be an improvement if we can avoid redownloading the minisat sources when they have already been downloaded and patched. However I currently have other priorities to work on. So I am unlikely to find time to make the required changes in the near future.

[2022-01-27 16:16] tautschnig commented on #6613
Here's an example of mine that could be "cover.c":
[code]
which would be nice to process successfully when using `cbmc --cover cover --unwinding-assertions --unwind 5 cover.c`.

[2022-01-30 22:23] tautschnig commented on #5824
Is any further action required from the CBMC side?

[2022-01-30 22:42] tautschnig commented on #2359
This was fixed in #2364 (and further extended in #6402). The issues noticed by @sschwarzmann, however, remain (and are documented in various issues filed against this project): our C++ front-end requires work to fully support C++11 and later.

[2022-01-30 22:42] #2359 closed, assigned to tautschnig, kroening

[2022-01-30 22:44] tautschnig commented on #5392
This would have been addressed by #6339, but we instead decided to make `crangler` the tool to use for this kind of workflow.

[2022-01-30 22:44] #5392 closed, assigned to tautschnig, markrtuttle

[2022-01-30 22:55] tautschnig commented on #2715
`make_decl` actually is a useful utility, despite any improvements to `type2c`. There are a bunch of places that could surely be cleaned up in `dump_ct`, but this is much more general than what could be gained from #2713. Closing for the time being.

[2022-01-30 22:55] #2715 closed, assigned to tautschnig

[2022-02-01 13:48] tautschnig commented on #6433
There seem to be at least three, perhaps even more issues hidden in here:
- The primary concern raised by @gsingh93 should be addressed by #6624.
- The supposedly unreachable failing assertion as noticed by @martin-cs requires adding unwinding assumptions in goto-instrument's unwinder. PR to follow.
- The unwinding assertion inserted by goto-instrument's unwinder should also be labelled as such. T

[2022-02-01 13:51] #6457 closed, assigned to nobody

[2022-02-01 16:47] adpaco-aws opened #6626 "Question: Overflow detection on floating point operations"
In the context of the Rust verification tool [Kani](https://github.com/model-checking/kani), I am trying to add support for a set a fast floating point intrinsics such as [fadd_fast](https://doc.rust-lang.org/std/intrinsics/fn.fadd_fast.html).

My first attempt is based on existing support for `unchecked_add`, for which we generate an `overflow-+` expression (note: `unchecked_add` works with integ

[2022-02-01 16:50] #6433 closed, assigned to tautschnig

[2022-02-01 22:56] danielsn opened #6627 "The overflow intrinsics have surprising behaviour on pointer arithmatic"
x+1 on a pointer is x+sizeof(*x)*1. The overflow check is treating it as (int)x+1

Ideally, we'd love to have a `__pointer_<op>_overflow()` intrinsic which would do the right thing for pointers.

[2022-02-02 12:04] #6609 closed, assigned to nobody

[2022-02-02 15:34] tautschnig commented on #6627
I'm not sure there ever was a claim that `__CPROVER_overflow_plus` supported pointers (in a meaningful way). So if we were to have something like `__CPROVER_overflow_pointer_plus`: what would be the "the right thing" for pointers? We have `--pointer-overflow-check` to do what might be "the right thing," but then it generates non-trivial expressions.

Given that `--pointer-overflow-check` already d

[2022-02-02 18:08] martin-cs commented on #6626
Hi @adpaco-aws !  I'm happy to have a look at this but I am not quite sure I understand the questions at the end.  Would it be possible to send me the goto binary, the instructions to make it or just paste the results of `--show-goto-functions`?

I don't know if it will help but
https://github.com/diffblue/cbmc/blob/79d7f1eb877a226e36081723177779f4001e738d/src/analyses/goto_check_c.cpp#L1070
is wh

[2022-02-02 18:28] danielsn opened #6631 "Corner case in pointer-overflow-check"
CBMC version: 5.48
Operating system: OSX
Exact command line resulting in the issue: `cbmc --pointer-overflow-check test.c `
What behaviour did you expect: Overflow detected
What happened instead:
[code]

[code]

[2022-02-02 21:17] adpaco-aws commented on #6626
Hi @martin-cs !

Thanks for linking that code! It is indeed helpful because it shows that the overflow property for `+` is being added by CBMC (and not by the Rust compiler, as I thought).

What is not clear to me is the difference between `overflow-+(var_1, var_2)` and `var_1 + var_2`. If I am not mistaken, `overflow-+` returns a boolean value indicating if there is an overflow in the operation,

[2022-02-03 12:37] tautschnig commented on #6627
Can we resolve this one once #6631 has been addressed/closed?

[2022-02-03 13:07] thomasspriggs opened #6635 "[RFC] Languages specific types are passed to `decision_proceduret::set_to` / `decision_proceduret::get`"
Whilst working on the SMT support recently I noticed that expressions with the type of C language boolean `ID_c_bool` / `c_bool_typet` are passed to implementations of `decision_proceduret`. This required additions to the SMT decision procedure in order to support this language specific type. See PR  https://github.com/diffblue/cbmc/pull/6628.

My understanding is that the ideal is for the impleme

[2022-02-03 13:10] tautschnig commented on #6626
I believe the issue might be the use of `overflow-+` over floating-point numbers, which is not how overflow in floating-point addition is to be detected. Adding two floating point numbers is a rather different operation than regular addition of signed/unsigned bitvectors. As @martin-cs said, it would be really helpful to have 1) the goto binary (or the JSON symbol table) and 2) the command line th

[2022-02-03 13:23] tautschnig commented on #6626
@martin-cs might want to correct me, but I think the solution is to just assert `isfinite` instead of `overflow-+`. This at least is my interpretation of the code that Martin linked to.

[2022-02-03 13:27] tautschnig commented on #6635
@thomasspriggs did enums and bitfields not give you the same grief? I'm with you that we shouldn't have to handle types like `c_bool_typet` in the back-end, but I thought the same applied to `c_enum_typet` and `c_bitfield_typet`.

One option that I at least thought about (and I'd be very keen to receive @kroening's input here) is to turn all these into annotations onto their underlying type. That

[2022-02-03 14:09] tautschnig commented on #6582
@priv-kweihmann Could you please confirm that there really even is such an issue? I just tried the following:
[code]

[2022-02-03 14:14] priv-kweihmann commented on #6582
@tautschnig will try that - but at first glance that looks like a valid workaround, even though a dedicated option to prevent network access would be really nice

[2022-02-03 14:26] tautschnig commented on #6443
I've finally put together a PR that seeks to address this: #6637. My apologies for the time it took to get this done.

[2022-02-03 14:30] tautschnig commented on #6582
@priv-kweihmann Can I just confirm that the desired added value of having a dedicated option is such that the user could specify the path to a pre-existing file?

[2022-02-03 15:16] priv-kweihmann commented on #6582
@tautschnig yes! In my use case I have the needed blob outside of the current build workspace and it would be nice to handle that without the need to know the internal path structure of cbmc's cmake implementation

[2022-02-03 15:45] thomasspriggs commented on #6635
@tautschnig We have not tested with enums or bit fields yet. We fixed the issue within the SMT support for `c_bool_typet` and raised this issue about it as it was the first instance of this which we have discovered and it seems like a potential architectural issue. However we absolutely should test to see if this particular issue applies to these other types as well.

[2022-02-03 15:49] kroening commented on #6635
The decision procedure is the right place to do the lowering, since
a) the decision procedure knows best what needs to be lowered;
b) there may be a choice of lowerings, and some lowerings might work for some decision procedures but not for others;
c) the data types supported by external decision procedures will change over time, and we'd basically 'outsource' our IR semantics to somebody else.

T

[2022-02-03 19:04] thomasspriggs commented on #1859
I am going to close out this issue, given that it was about a refactor which @danpoe was working on and that he is not currently contributing to cbmc.

[2022-02-03 19:04] #1859 closed, assigned to nobody

[2022-02-03 19:08] thomasspriggs commented on #1869
The link to the proposed jbmc repository is dead when I try and access it. Therefore I am going to assume the plan is just to keep jbmc in a separate directory within the cbmc repository and close out this issue. Please feel free to re-open this issue if there are alternative plans afoot.

[2022-02-03 19:08] #1869 closed, assigned to peterschrammel

[2022-02-03 19:12] thomasspriggs commented on #1942
According to `src/util/module_dependencies.txt`, `util` no longer depends on `ansi-c`. Therefore I am going to close out this issue as it seems to be resolved.

[2022-02-03 19:12] #1942 closed, assigned to nobody

[2022-02-03 19:21] thomasspriggs commented on #2091
The only uses of `cmdlinet::set` I can currently find in the unit tests are in `unit/testing-utils/free_form_cmdline.cpp`. These appear to be as intended and not surrounded by any TODO comments. Therefore this issue looks to have been addressed to me and I am going to close it out.

[2022-02-03 19:21] #2091 closed, assigned to nobody

[2022-02-03 20:01] thomasspriggs commented on #2887
`mayfail` is no longer in use. `XFAIL` is now used for tests which must fail in order for the test run to be successful. This macro combines `[!shouldfail]` tag for this behaviour with the `[.]` tag which removes the test from the default set of tests, to avoid polluting the output. The `XFAIL` macro is documented in `use_catch.h` line 39. My understanding is that catch units tests are usually exp

[2022-02-03 20:01] #2887 closed, assigned to nobody

[2022-02-03 20:22] thomasspriggs commented on #632
There doesn't seem to be anyone currently interested in pursuing adding this particular feature. Therefore I am going to close out this issue as a matter of cleaning out the stale open issues.

[2022-02-03 20:22] #632 closed

[2022-02-03 20:29] thomasspriggs commented on #659
I don't think there is currently sufficient interest in porting work from test gen to CBMC for time to be spent on this. Therefore I am going to close out this ticket rather than leaving it permanently unresolved.

[2022-02-03 20:29] #659 closed

[2022-02-04 09:44] martin-cs commented on #6626
I think that too.

The only handling of `overflow-+` I see is for bit-vectors (signed and unsigned).  I don't think this will work for floating-point.

I 'locally' agree with @tautschnig ; if you want to add assumptions so that the check added by `--float-overflow-check` passes:
https://github.com/diffblue/cbmc/blob/79d7f1eb877a226e36081723177779f4001e738d/src/analyses/goto_check_c.cpp#L1075

then

[2022-02-04 10:27] thomasspriggs commented on #720
Java support is now in the separate `jbmc` binary, not `cbmc`. But if I reproduce the above issue with JBMC I get the following output -
[code]
Given that the issue states that "We should not be giving a conversion error." and the output no longer states "CONVERSION ERROR", I am going to close out this issue.

[2022-02-04 10:27] #720 closed

[2022-02-04 12:33] thomasspriggs commented on #611
For `jbmc` assumptions can be added to user code, by adding calls to the static method `assume` of the dummy `CProver` class in the `org.cprover` package. This method takes a single `boolean` argument which is the condition to be assumed.

For the user code calling the assume method to compile with the java compiler, a version of this `CProver` class is required, but its contents is not relevant t

[2022-02-04 13:09] thomasspriggs commented on #1824
Yes, separating out a Java specific variation of `source_locationt`, sounds like it would be a worthwhile refactor. However, given how long this issue has been open it doesn't seem to be a priority for anyone to actually get done. Therefore I am going to close out this issue, rather than leaving it open indefinitely.

[2022-02-04 13:09] #1824 closed, assigned to nobody

[2022-02-04 14:28] peterschrammel commented on #611
The CProver Java API is available here: https://mvnrepository.com/artifact/org.cprover.util/cprover-api/1.0.0
You add this dependency to your project so that you can compile your code when you use `CProver.assume`, `CProver.nondetInt`, etc.

[2022-02-04 14:37] thomasspriggs commented on #611
Nice. I'd forgotten that we had published this to Maven. It could still do with being better documented in `doc/cprover-manual/jbmc-user-manual.md` though. There is a single sentence in there about the package, but not where to find it, or what utilities are available.

[2022-02-04 15:40] adpaco-aws commented on #6626
Thank you both so much for your input! This is now much clearer to me, and modeling these as regular operations feels like the right (and simpler) thing to do.

In case you want to know more, [this](https://gist.github.com/adpaco-aws/a2820a9d7449ca241980c971c16ba01f#file-fast-symtab-json) is the symbol table we generate for the example above. Kani uses the following checks by default:
[code]

We d

[2022-02-05 13:54] priv-kweihmann commented on #6582
@tautschnig your proposed workaround works like a charm - this ticket could therefore be a very low priority enhancement

[2022-02-05 16:15] #6536 closed, assigned to nobody

[2022-02-06 22:33] #6631 closed, assigned to nobody

[2022-02-06 22:41] #6626 closed, assigned to nobody

[2022-02-06 22:41] tautschnig commented on #6627
Resolving as #6631 has been resolved.

[2022-02-06 22:41] #6627 closed, assigned to nobody

[2022-02-07 10:39] #6586 closed, assigned to nobody

[2022-02-07 11:00] tautschnig commented on #6297
With apologies for this taking so long: #6645 finally addresses this.

[2022-02-08 13:59] tautschnig commented on #6582
I propose #6649 as the fix: I decided not to introduce a new flag, as that flag itself would require documentation. Instead, the above procedure is now documented.

[2022-02-08 14:01] priv-kweihmann commented on #6582
Works for me - thanks

[2022-02-08 15:37] #6443 closed, assigned to nobody

[2022-02-08 15:51] #6582 closed, assigned to nobody

[2022-02-08 17:23] #6297 closed, assigned to nobody

[2022-02-08 22:42] zhassan-aws opened #6651 "Include property information in json output"
CBMC version: 5.48.0
Operating system: Ubuntu 20.04.2

This is a feature request. Currently, CBMC's json output (`--json-ui`) does not include some of the information on the properties (file, line, and function). For example, for:
[code]
The "result" section of the json output is as follows:
[code]

and the property information is not included anywhere in the json. The only way to get the property

[2022-02-09 21:41] #5841 closed, assigned to chrisr-diffblue

[2022-02-10 10:48] tautschnig commented on #6229
As Martin explained, this behaviour is actually intended. This is very much consistent with the example provided, which works just fine despite not having any declarations of the `nondet_*` functions. If function headers are wanted, the user is always free to use completely different names (without function body) to produce nondet symbols. I am, therefore, inclined to resolve this issue.

[2022-02-10 10:48] #6229 closed, assigned to nobody

[2022-02-14 12:50] tautschnig commented on #6028
Resolving as not reproducible at this time. Please feel free to re-open if more information can be provided.

[2022-02-14 12:50] #6028 closed, assigned to rurban

[2022-02-14 12:51] tautschnig commented on #6370
Resolving as the issue seems to be in Kani's code, not in CBMC.

[2022-02-14 12:51] #6370 closed, assigned to danielsn

[2022-02-14 12:53] tautschnig commented on #6362
@hflsmax We'd need more input to progress this issue. Please feel free to re-open when you have additional information.

[2022-02-14 12:53] #6362 closed, assigned to hflsmax

[2022-02-14 13:15] tautschnig commented on #5213
I've tagged this "wontfix" for now and will leave it open for documentation purposes: This test works fine when using an array of size zero or leaving the array size unspecified (making it a proper flexible array member).

[2022-02-14 13:18] tautschnig commented on #6058
Resolving as guidance has been provided (and the same is documented).

[2022-02-14 13:18] #6058 closed, assigned to nobody

[2022-02-14 13:56] tautschnig commented on #5084
While we still create the analysis even when not needed, the analysis itself has been improved in 38604cf6fe and 472a3934bad5c (those commits contain performance data for a function of 160822 instructions).

[2022-02-14 13:56] #5084 closed, assigned to nobody

[2022-02-14 14:22] tautschnig commented on #4905
I tried to reproduce this using CBMC 5.11 (and also current develop), but neither version appears to fail.

[2022-02-14 14:22] #4905 closed, assigned to nobody

[2022-02-14 14:33] tautschnig commented on #4907
I tried to reproduce this using CBMC 5.11, but cannot reproduce the failure using the CBMC 5.11 release (3703-ge2c2caaa9 does not resolve to a git commit for me).

[2022-02-14 14:33] #4907 closed, assigned to nobody

[2022-02-14 17:29] tautschnig commented on #4907
Update: it turns out that with the particular version after 5.11 this was reproducible, up until 4c0bc6435 (which is part of 5.12 and all subsequent versions).

[2022-02-14 17:54] tautschnig commented on #4905
Update: it turns out that with the particular version after 5.11 this was reproducible, up until 4c0bc6435 (which is part of 5.12 and all subsequent versions).

[2022-02-14 17:59] tautschnig commented on #4908
This reproduces up until (but excluding) https://github.com/diffblue/cbmc/commit/4c0bc6435bc755c584f60ae9a12a231fb8fe86b7 (which is part of 5.12 and all subsequent versions).

[2022-02-14 17:59] #4908 closed, assigned to nobody

[2022-02-14 18:17] tautschnig commented on #4909
This problem was fixed in e63f895490f.

[2022-02-14 18:17] #4909 closed, assigned to nobody

[2022-02-14 18:40] tautschnig commented on #5275
A couple of experiments with different compilers:
- Visual Studio does not accept this program ("error C2036: 'void *': unknown size")
- GCC warns ("warning: dereferencing 'void *' pointer"), but compiles this to pointer arithmetic (adding 1)
- Clang doesn't even warn, compiles this to pointer arithmetic (adding 1)

GCC and Clang's behaviour is consistent with GCC's documentation: https://gcc.gnu.

[2022-02-14 19:22] kroening commented on #5275
We should error this when in Visual Studio mode.

[2022-02-14 22:22] tautschnig commented on #4910
This reproduces up until (but excluding) https://github.com/diffblue/cbmc/commit/4c0bc6435bc755c584f60ae9a12a231fb8fe86b7 (which is part of 5.12 and all subsequent versions).

[2022-02-14 22:22] #4910 closed, assigned to nobody

[2022-02-14 22:30] tautschnig commented on #5192
As of f170ba17d1be there is more sanity checking. It's not necessarily perfect, but does warn in several cases. Resolving until further requests for a better parser arise.

[2022-02-14 22:30] #5192 closed, assigned to kroening

[2022-02-15 11:06] tautschnig commented on #2514
This isn't really a bug in building the trace, but actually a side effect of `merge_ireps`: we maintain the C types as comments. As `unsigned int` and `unsigned long` are fundamentally the same type (and just distinguishable by irep comments), `merge_ireps` discards one of them. Which of them gets discarded really depends on whatever is seen first.

Possible fixes are a way to disable `merge_ireps

[2022-02-15 12:55] tautschnig commented on #3037
Update: `cond_exprt` has been added in c4810ef0fc6. `ID_case` remains to be done.

[2022-02-15 13:06] tautschnig commented on #5191
This has been fixed in a9ae449bcedabbdb09b8b244890b81914a4b1764.

[2022-02-15 13:06] #5191 closed, assigned to kroening

[2022-02-15 15:46] tautschnig commented on #71
I'm not convinced the claims about the models or the bug here are correct. I will assume that `&&` has higher precedence than `||` (as is the case in C). With this in mind, and reordering operands a bit:
[code]
vs.
[code]
Note that `f.a <= 2147483647` was removed by the simplifier, because it is trivially true for signed 32-bit integers. Then I'd conclude that both expressions evaluate to true _fo

[2022-02-15 15:46] #71 closed

[2022-02-16 20:55] #5275 closed, assigned to nobody

[2022-02-16 23:34] tautschnig commented on #6247
I have just run into codecov report oddities again, and am guessing the following must be avoided:
- Pushing a branch that is not rebased against the latest develop. In such cases, Codecov might end up comparing apples and oranges.
- Pushing a fully rebased branch shortly after a merge to develop took place. In this case, Codecov for _develop_ hasn't caught up yet, and you once again apples and or

[2022-02-22 17:45] zhassan-aws opened #6691 "Crash with json ui"
CBMC version: cbmc-5.50.0
Operating system: Ubuntu 20.04

Running the attached example with:
[code]
causes CBMC to crash:
[code]
If I take out the `--json-ui` option, it doesn't crash:
[code]
[json-ui-crash.tar.gz](https://github.com/diffblue/cbmc/files/8118937/json-ui-crash.tar.gz)

[2022-02-22 18:11] martin-cs commented on #6691
Thank you for the detailed and helpful bug report.  A quick look at
this suggests this might be the problem:

<snip>

validate_operands seems to being called from the JSON conversion which
would explain why it is crashing without it.  This is an issue as it
suggests we should really check this earlier on.  However the actual
bug is one of:

1. validate_operands is trying to convert something to a

[2022-02-22 18:19] zhassan-aws commented on #6691
Thanks for the quick response. I'll try to minimize the Rust testcase to narrow down the source of the issue. Hopefully, this will give us insight on whether it's 1 or 2.

[2022-02-22 20:17] martin-cs commented on #6691
That would be helpful; thank you.

[2022-02-22 22:03] zhassan-aws opened #6692 "Tagging assertions with an ID"
Is there a way to tag assertions in the Goto programs with an ID? In [Kani](https://github.com/model-checking/kani), we're trying to find a way to tag checks in the Goto program that Kani generates with a unique ID so that we can refer to them when post-processing CBMC results. The only way I found is to add them to the assert message, e.g.:
[code]
that is then stripped off during post-processing.

[2022-02-23 14:36] tautschnig commented on #6692
Assertions have a unique id, which is what you see in square brackets at the beginning. This id, however, is automatically generated based on the property class. So you'd have the option of altering the property class, but I'm not entirely sure that's the best option for you.

I'm thinking the approach you showed might even be the best one?

[2022-02-23 17:16] SaswatPadhi opened #6695 "Pointer validity checks on `__CPROVER_allocated_memory`"
**CBMC version:** 3410558ced7596d547be50d863497a395b2a6827
**Operating system:** Linux, MacOS

**Test case:**

[code]

**Exact command line resulting in the issue:**

[code]

**What behaviour did you expect:**

I was expecting CBMC to flag the w_ok checks on regions beyond the allocated region.

I think there are at least 3 different issues here:
1. @tautschnig pointed out on Slack that `__CPROVER

[2022-02-23 22:25] zhassan-aws commented on #6691
I found an [example in the Kani regressions](https://github.com/model-checking/kani/blob/main/tests/kani/DynTrait/dyn_fn_once_fail.rs) that fails with `--json-ui`:
[code]
when run with `kani test.rs`.

The corresponding goto files are in the attached tarball.

The crash can be reproduced on `test.symtab.json.out` using ` cbmc test.symtab.json.out --function main --json-ui`. This is the goto binary

[2022-02-23 22:38] zhassan-aws commented on #6691
Here's yet another minimal Rust example that results in the same crash when run with `kani --unwind 2 vec_len.rs`.:
[code]

The corresponding goto programs are attached.

Both:
[code]
and
[code]
result in the same crash.

[vec_len.tar.gz](https://github.com/diffblue/cbmc/files/8128246/vec_len.tar.gz)

[2022-02-24 08:54] martin-cs commented on #6691
That's great, thanks for minimising it.

[2022-02-24 10:46] #6394 closed, assigned to NlightNFotis

[2022-02-24 13:23] tautschnig commented on #6692
I should add that if we got #6629 merged then it would be possible to set the id (provided it genuinely is unique) upfront, which perhaps is the solution you're looking for?

[2022-02-24 13:54] tautschnig commented on #6691
The bogus code is https://github.com/diffblue/cbmc/blob/7157df5944bdd15491995fd995d9b06eae287888/src/goto-programs/json_expr.cpp#L310..L312. It would require added `simpl_expr.has_operands()` as a further check to deal with pointer constants as generated by the back-end. What I'd prefer, however, is to fix this via #6598, which removes this weird case where some constants have operands (and, in pa

[2022-02-24 15:41] tautschnig commented on #6607
Noting that it really takes #6616 to make sure `__builtin_mul_overflow` can be use safely.

[2022-02-24 16:48] #6691 closed, assigned to nobody

[2022-02-24 17:55] zhassan-aws commented on #6692
Yes, #6629 should do it.

[2022-02-25 20:21] tautschnig commented on #6451
Closing as #6594 has been merged.

[2022-02-25 20:21] #6451 closed, assigned to nobody

[2022-02-25 20:25] tautschnig commented on #6275
With apologies for taking this long to respond. CBMC rewrites all vector operations in https://github.com/diffblue/cbmc/blob/develop/src/goto-programs/remove_vector.cpp. If there are any vector operations that are not, or not correctly, supported, then that would constitute a bug that we should fix as soon as possible.

Resolving for the time being, but please do raise any issues related to vector

[2022-02-25 20:25] #6275 closed, assigned to nobody

[2022-02-26 17:11] #2524 closed, assigned to nobody

[2022-02-26 17:14] #5093 closed, assigned to nobody

[2022-02-26 21:20] #5103 closed, assigned to nobody

[2022-02-26 21:20] #2653 closed, assigned to nobody

[2022-02-26 21:38] #3653 closed, assigned to kroening, muchang

[2022-02-26 22:41] #2370 closed, assigned to nobody

[2022-02-28 17:25] adpaco-aws opened #6702 "Unexpected result when calling count intrinsics with zero"
CBMC version: 5.50.0
Operating system: Ubuntu 20.04
Exact command line resulting in the issue: cbmc example.c, where example.c is
[code]
What behaviour did you expect: Successful verification
What happened instead: Verification failed.
The result is unexpected because [the commit that originally added support](https://github.com/diffblue/cbmc/commit/730c461b05ab25f5845d828a11b833811dbe611d) says "

[2022-02-28 21:37] tautschnig commented on #6702
I believe the behaviour is as expected: `__builtin_clz` (or `__builtin_ctz`) are undefined for zero. That's GCC's semantics, not ones of our own choosing. What is, however, defined, is the value of the underlying expression `count_leading_zeros_exprt` and `count_trailing_zeros_exprt`, respectively -- which is all that the comment is referring to.

[2022-03-01 17:55] tautschnig commented on #6702
Re-opening as it turns out there actually is an issue in `count_trailing_zeros_exprt`, which did mishandle zero. Bugfix forthcoming.

[2022-03-01 20:02] #6702 closed, assigned to nobody

[2022-03-02 19:49] celinval opened #6705 "Spurious pointer arithmetic errors"
I have created the following test case:
[code]

The functions `expected` and `spurious` are functionally equivalent. One wraps the sum into an aux function and the other one performs the sum in-place. The results of CBMC proofs are rather different for these two functions:

[code]

The result below seems more reasonable:
[code]

CBMC version: 5.50.0
Operating system: Ubuntu 18.04
Exact command lin

[2022-03-02 20:01] tautschnig commented on #6705
As far as I can tell, what you are seeing here is mainly a presentation problem. We use an _intra_ procedural analysis to determine what checks to create for a use of a pointer. With `spurious`, this obviously runs into limitations. So we end up generating more checks than perhaps is practically meaningful. None of the results seem to be wrong, just the `NULL` one might be most confusing (we actua

[2022-03-03 03:26] celinval commented on #6705
Is there a way to explicitlygenerate the checks instead of using ppragmas to disable them?

[2022-03-03 08:36] kroening commented on #6705
Any good ideas what to call an access to an address that's a plain integer converted to a pointer? "No object"?

[2022-03-03 08:38] kroening commented on #6705
Kani: Is the memory model that C has a good fit for Rust at all? It may make sense to set up a memory safety checker that is specific to Rust and exploits whatever guarantees the Rust type system can give.

[2022-03-03 18:26] tautschnig commented on #6705
You can use the pragmas to both effects: a `disable:pointer-overflow-check` will disable those checks even when the command-line option `--pointer-overflow-check` was used; an `enable:pointer-overflow-check` pragma will enable the check irrespective of whether the command-line option was set or not.

But then it's all limited to statements and therefore a bit of a gamble until #6616 is approved an

[2022-03-07 10:37] NlightNFotis commented on #260
An update on this:

Tracing the tests here is hard (because some of them have been deleted in subsequent PRs, and others are running as part of our `CORE` regression suite run).

However, the `--full-slice` options appears to be working most of the time.

There exist some cases however (when you change the `CMakeLists.txt` under `regression/cbmc` as an example) where we do get flipped verification

[2022-03-07 13:53] #6651 closed, assigned to nobody

[2022-03-07 17:20] tautschnig commented on #260
@NlightNFotis thank you so much for digging deeper here! It won't be the last problem that needs fixing, but on this occasion it seems that the lack of handling `array_copy` and `array_replace` semantics is the culprit. I'm working on a fix, and might ask for more help in diagnosing errors if that's ok?

[2022-03-07 17:41] celinval commented on #6705
@kroening That's a great question and unfortunately Rust doesn't have a well defined memory model yet (https://doc.rust-lang.org/reference/memory-model.html). The semantics of the pointer arithmetic operations vary according to the std method users are calling. For now, we should be able to leverage the C model but it would be great if we could easily control when to check if a pointer is valid to

[2022-03-07 21:03] NlightNFotis commented on #260
@tautschnig Not a problem at all. Anything I can do, just let me know - happy to help with getting to the bottom of this.

[2022-03-07 22:24] tautschnig commented on #260
So I'll now wait for #6710 and #6711 to be merged before looking into what is left to be done. Just enabling `--full-slice` for all tests was a great idea!

[2022-03-08 09:18] tautschnig commented on #6705
You could opt to use `__CPROVER_r_ok`: https://github.com/diffblue/cbmc/blob/9fec06a98d87c5d98aa63da65433a9f31652f72c/src/util/pointer_expr.h#L762 as documented [here](http://www.cprover.org/cprover-manual/api/)?

[2022-03-08 23:02] celinval commented on #6705
That would be awesome. I noticed that the [primitive documentation](https://github.com/diffblue/cbmc/blob/develop/doc/architectural/memory-primitives.md) says:

Is that still the case?

[2022-03-14 16:36] feliperodri commented on #5527
We'll open separate issues to track progress of this feature breaking down into multiple tasks.

[2022-03-14 16:36] #5527 closed, assigned to remi-delmas-3000

[2022-03-14 17:01] feliperodri commented on #5966
I'll close this issue for now since none of our applications require such range notation so far. We can always re-open the issue if the discussion come up in the future.

[2022-03-14 17:01] #5966 closed, assigned to feliperodri

[2022-03-14 17:13] #6149 closed, assigned to SaswatPadhi, feliperodri

[2022-03-14 18:20] #5530 closed, assigned to feliperodri

[2022-03-15 02:03] zhassan-aws opened #6730 "count leading zeros failures disappear with --reachability-slice"
(Could not reopen #6394 so filing a new issue).

On the attached test generated by [Kani](https://github.com/model-checking/kani), the "count leading zeros" failures disappear if the goto binary is processed through `goto-instrument --reachability-slice`.

Steps to reproduce:
1. tar xvzf bounds.out.tar.gz
2. cbmc --bounds-check bounds.out :
[code]
3. goto-instrument --reachability-slice bounds.out

[2022-03-15 02:04] zhassan-aws commented on #6730
[bounds.out.tar.gz](https://github.com/diffblue/cbmc/files/8249572/bounds.out.tar.gz)

[2022-03-15 04:38] zhassan-aws opened #6731 "Invariant violation due to add/sub with mixed types"
CBMC crashes on the attached example generated by [Kani](https://github.com/model-checking/kani) with the following output:
[code]

CBMC version: 5.52.0
Operating system: Ubuntu 20.04
Exact command line resulting in the issue: cbmc test.out
What behaviour did you expect: Verification successful
What happened instead: Crash

[test.out.tar.gz](https://github.com/diffblue/cbmc/files/8250211/test.out.

[2022-03-15 07:41] martin-cs commented on #6731
I haven't looked in detail but when we were getting errors like this with gnat2goto it was because of a type mismatch in the goto that we were generating.  It looks like you might be mixing up signed and unsigned numbers:

[code]

Somewhere you are adding on a constant of type  `__CPROVER_size_t`?  Possibly computing an offset in an array?  But the indexing variable is a signed int?  You will need

[2022-03-15 10:16] tautschnig commented on #6730
Fortunately this might just be matter of documentation not being sufficiently clear:
[code]
In your use of `goto-instrument`, however, you did not specify the `--bounds-check` property, so your user-specified assertion was the only property that was left. Hence, the slicer removed all instructions that this user-specified assertion wasn't reachable from. What you would want to do instead is the fo

[2022-03-15 16:22] zhassan-aws commented on #6731
@martin-cs there is a related discussion on mixing signed/unsigned on https://github.com/model-checking/kani/issues/708

[2022-03-15 16:31] zhassan-aws commented on #6730
Closing the issue since CBMC is functioning as designed.

[2022-03-15 16:31] #6730 closed, assigned to zhassan-aws

[2022-03-15 17:57] martin-cs commented on #6731
Thanks for the crosslink @zhassan-aws .  I am pleased that I was right about it being array indexing but even more pleased that @tautschnig is on the case.

[2022-03-15 18:03] celinval commented on #6705
Hi @tautschnig, I just wanted to confirm, can we use `__CPROVER_r_ok()` to assert that a pointer is valid?

[2022-03-15 21:18] tautschnig commented on #6731
@zhassan-aws Does Kani use signed types when doing pointer arithmetic? https://github.com/diffblue/cbmc/pull/6541 would fix this issue, but then @kroening suggested that we might want to enforce stricter rules when generating expressions, ensuring that all pointer arithmetic use signed types.

[2022-03-15 21:30] tautschnig commented on #6705
My apologies for taking this long to respond. #6416 removes the statement you quoted from the documentation. Despite me requesting changes on that pull request, the issue really only applies to _assumptions_. If you are doing assertions then you are safe and you can use it in the way you desire. For assumptions we'd additionally need #6506.

[2022-03-15 21:32] zhassan-aws commented on #6731
I think it does, but we might not be using signed types consistently. @danielsn, can you provide some insight?

[2022-03-15 21:37] tautschnig commented on #6731
For the example that you provided, the source statement triggering this bug is:
[code]
where `var_9` appears to be an unsigned integer.

[2022-03-16 16:45] celinval commented on #6705
Awesome! @danielsn pointed out that the issue could be related to assumptions, but I wanted to double check since the documentation wasn't very clear. I'll close this issue and create one on the Kani side so we can add these checks manually.

Thanks again.

[2022-03-16 16:45] #6705 closed, assigned to nobody

[2022-03-17 18:05] danielsn commented on #6731
We currently enforce `is_integer()` not `is_signed()`
https://github.com/model-checking/kani/blob/main/cprover_bindings/src/goto_program/expr.rs#L832

[2022-03-17 19:23] sepideha opened #6735 "CBMC front-end support on vector in C++ STL"
CBMC version: `cbmc-5.52.0`
Operating system: `64-bit x86_64 MAC OS`
Exact command line resulting in the issue: `./cbmc  ex1-vec-satabs.cpp`
What behaviour did you expect: reporting a counterexample when the iterator `it` is dereferenced in the inappropriate place.
What happened instead: `PARSING ERROR`

This is an example from SATABS webpage http://www.cprover.org/stl/ :

[code]
It seems SATABS w

[2022-03-17 20:49] tautschnig commented on #6735
I'm afraid that the C++ front-end will require work to support modern C++ (C++11 and later).

[2022-03-17 22:11] martin-cs commented on #6735
Hi Sepideh,

There are going to be a few problems getting that code to work...

1. The examples and web page are from around 2006 and quite a bit has changed in both CPROVER and C++.
2. The C++ front-end only handles basic uses of templates.  @peterschrammel was the last person to work on this I think but that may have been in 2017 or 2018?  I would guess it would handle maybe C++98 or C++03 level

[2022-03-18 09:44] sepideha commented on #6735
Thanks @tautschnig for the clarification. And @martin-cs thank you for sharing the useful info and insightful comments.

< Just-out-of-curiosity >
I'd like to get a clear picture about the "serious amount of work" that you mentioned:
Is there particular challenges or research questions on encoding C++ template instantiation in CBMC? Do templates need a special treatment different than the typical

[2022-03-18 16:03] zhassan-aws opened #6737 "Ubuntu 20.04 package for CBMC 5.53.0 is missing"
The list of assets for CBMC 5.53.0 is missing the Ubuntu 20.04 deb package:

![image](https://user-images.githubusercontent.com/88045115/159038750-a03395f3-378b-4d03-a5b0-d184369f4ea4.png)

Previous versions typically included it:

![image](https://user-images.githubusercontent.com/88045115/159038868-762c6aee-0b95-43ab-92cc-1c188c64b7dc.png)

Was the Ubuntu 20.04 package intentionally dropped?

[2022-03-18 16:07] ronakfof commented on #6737
Seems like It's creation was failed in CI
https://github.com/diffblue/cbmc/actions/runs/2003407028

[2022-03-18 16:28] NlightNFotis commented on #6737
Hello,

Thanks for bringing this to our attention. There's a PR to fix this in https://github.com/diffblue/cbmc/pull/6738.

Because of the nature of CI changes, especially with regards to release scripts, this is going to take some time to fix, but estimate that we should land a fix in by early next week. In any case, it will require a minor version release, `5.53.1` to test the fix (and also prov

[2022-03-18 16:58] zhassan-aws commented on #6737
Thanks. Yes, will continue to use 5.52.0 in the meantime.

[2022-03-18 17:58] danielsn opened #6739 "Enable selected versions in Brew"
We would like the ability to control which CBMC version we install through brew (e.g. to select an older version if a new version introduces a regression)

[2022-03-18 22:05] tautschnig commented on #6739
I don't think CBMC would qualify under the requirements stated at https://docs.brew.sh/Versions, and we'd likely end up confusing users. When there are relevant regressions, we should instead just create a new release outside the regular cycle.

[2022-03-18 22:05] #6739 closed, assigned to nobody

[2022-03-18 22:50] tautschnig commented on #6735
There just were a lot of new language features added with C++11, see https://gcc.gnu.org/projects/cxx-status.html#cxx11 for a list. Very little of that would end up in the eventual goto program, but if we can't parse the code in the first instance we never get to that point. The item I last recall working on were variadic templates.

I'd say it takes a couple of week of very focussed work to deter

[2022-03-20 21:44] martin-cs commented on #6735
@sepideha : to add to what @tautschnig has said.  There is not really an obvious research challenge as much of it is "compile time".  There is a lot of detailed engineering work and apart from STL and Boost it is not so clear that it will be used.  Most C++ codebases develop their own C++ subsets and these often avoid a lot of template magic.  Alternative approaches would be using the clang front-

[2022-03-20 23:31] sepideha commented on #6735
Thanks for the comprehensive reply. Very useful!

[2022-03-21 15:01] NlightNFotis commented on #6737
Hello, taking the liberty to close this issue, given that we just released version `5.53.1`, and it appears that binaries for Ubuntu 20.04 are now present.

https://github.com/diffblue/cbmc/releases/tag/cbmc-5.53.1

I would like to thank you for bringing the issue to our attention and apologise again for any inconvenience caused.

[2022-03-21 15:01] #6737 closed, assigned to NlightNFotis

[2022-03-22 15:32] tautschnig commented on #6731
Resolving as #6541 has been merged. Kani may nevertheless want to move to a model where all pointer arithmetic uses signed bitvectors.

[2022-03-22 15:32] #6731 closed, assigned to tautschnig

[2022-03-23 13:56] danielsn opened #6750 "CBMC should have a versioned brew tap"
Currently, the only version of CBMC available on `brew` is the latest. This makes it difficult for tools that wish to pin to particular versions.  The supported path is to have a separate tap that allows versioned CBMC releases https://docs.brew.sh/Versions

This should not be difficult to maintain as part of the existing CBMC release process.

[2022-03-23 14:24] danielsn opened #6751 "CBMC should have a `r_ok` primitive that is indexed by number of elements, not number of bytes"
Often, we want to check that we can read the `nth` element of an array. Currently, we need `__CPROVER_r_ok(ptr, index * sizeof(*ptr))`, which can lead to overflow issues and weird error messages to users. Instead, we would like
[code]

Feel free to bikeshed the name!

[2022-03-24 10:34] TGWDB commented on #5977
Closing as this appears to be resolved by various fixes and notes above. Please reopen if you believe this is erroneous.

[2022-03-24 10:34] #5977 closed, assigned to TGWDB

[2022-03-24 14:47] danielsn opened #6759 "CBMC accepts `-<hex>` constants at the irep level, but does the wrong thing with them"
CBMC should either error, or accept.

[2022-03-24 14:50] danielsn opened #6760 "CBMC should be consistant for when it wants hex vs decimal in ireps"
Currently, int constants take hex values, but bit vector widths are in decimal. This is confusing. Perhaps moving to an explicit `0x` `0b` etc prefix would be cleaner

[2022-03-24 15:25] adpaco-aws commented on #6759
Attached [negative-hex-symtab.zip](https://github.com/diffblue/cbmc/files/8342911/negative-hex-symtab.zip) which includes a symbol table that reproduces the issue.

[2022-03-24 15:27] adpaco-aws commented on #6759
Also, is this something that could have been detected by validating the generated GotoC code?

[2022-03-24 19:23] qinheping opened #6761 "Pointer check dosen't work for struct member access"
When I run CBMC on the folloing code with `--pointer-check`, I found that the pointer-outside-object-bound check was instrumented only on line `B` but not `A`. Therefore only the failure on line `B` was detected by CBMC.

Shouldn't CBMC also instrument and check pointer property for pointer deference within struct?

[code]
[code]

[2022-03-24 20:08] #6298 closed, assigned to nobody

[2022-03-26 08:53] kroening commented on #6761
Apologies, the usage of the various --*-check flags could be clearer. You'll need to add `--bounds-check` to enable the bounds check on that access.

[2022-03-27 03:31] #6761 closed, assigned to nobody

[2022-03-27 03:32] qinheping commented on #6761
Thank you for the answer!

[2022-04-05 20:49] tautschnig commented on #6760
Labelling "Version 6" as any change to this requires a bump of the goto-binary version (which we could, but don't necessarily want to, do with only a minor version change). This is cosmetic to the extent that the internal APIs know how to get this right, and it's only when building ireps outside the code base that these different encodings become obvious.

Also note that there are more cases that

[2022-04-05 20:51] tautschnig commented on #6759
This has been fixed in Kani, but I still need to get to the bottom of why this was accepted in the first place.

[2022-04-06 21:12] tautschnig commented on #6759
#6786 now does what Adrian proposed: `--validate-goto-model` will catch this issue. (The commit message in there also explains what was going with the example attached to this issue.) Kani has an open feature request in model-checking/kani#957 to enable these checks.

[2022-04-06 21:33] tautschnig commented on #6423
Closing for ef4dd67e7031 actually moved `analyses/goto_check` to `ansi-c/goto_check_c`.

[2022-04-06 21:33] #6423 closed, assigned to nobody

[2022-04-07 06:39] andreast271 opened #6787 "CBMC error if variable of type struct with flexible array member is forward declared and initialized"
CBMC version: cbmc-5.54.0-13-gf3e4096300
Operating system: Linux x86_64
Exact command line resulting in the issue: cbmc fam.c
What behaviour did you expect: termination with message VERIFICATION SUCCESSFUL and exit status 0
What happened instead: termination with message CONVERSION ERROR and exit status 6

The error occurs in the following scenario:
1. There is a struct St with a flexible array me

[2022-04-07 15:24] jimgrundy commented on #6760
I guess this doesn't surprise me (except maybe if the values are given in hex with no prefix). Hardware designers use explicit bit-widths for every value they write in Verilog and the standard notation is bit-widths are in decimal (no prefix) and values are commonly given in Hex ... albeit with an 0x prefix.

[2022-04-07 22:04] tautschnig commented on #6787
Thank you for the detailed report and the test case! https://github.com/diffblue/cbmc/pull/6788 now fixes the problem (without having to revert b16c7d7).

[2022-04-11 20:04] #6759 closed, assigned to nobody

[2022-04-22 22:47] adpaco-aws opened #6822 "`__CPROVER_same_object` returns true for pointers out of bounds"
In this program (let's call it `same.c`):
[code]
both assertions pass, but p2 is out of bounds. Is this behavior intended?

CBMC version: 5.55.0
Operating system: Ubuntu 20.04
Exact command line resulting in the issue: cbmc same.c
What behaviour did you expect: FAILURE in the second assertion
What happened instead: SUCCESS in the second assertion

[2022-04-25 15:10] NlightNFotis commented on #6822
Hello @adpaco-aws, yes, I believe this behaviour is expected.

The reason for this is how pointers are modelled inside of CBMC.

Any object is represented as a pair of two values:

* The *pointer object*, which is a unique ID for the object
* The *pointer offset*, which is a number that is relative to the start of the object (used in arrays, pointer arithmetic, etc).

The primitive `__CPROVER_same

[2022-04-27 14:09] adpaco-aws commented on #6822
Thanks @NlightNFotis for the detailed explanation!

It's also clear to me that this should be the intended behavior after working on the implementation of a few offset-related intrinsics for Kani. It's normal for CBMC to determine that `p2` is an alias for `p1` even if the offset is out of bounds; more complex checks should be done with `pointer_offset` as you indicate.

Closing this issue as my q

[2022-04-27 14:09] #6822 closed, assigned to nobody

[2022-05-04 15:14] tautschnig commented on #6750
This has been addressed in #6817.

[2022-05-04 15:14] #6750 closed, assigned to NlightNFotis, thomasspriggs, TGWDB

[2022-05-04 15:22] tautschnig commented on #6751
I'm aware that we've spoken about this more than once, but it only now occurred to me that with such a new intrinsic we'd also have separately specify the overflow behaviour. That, in turn, makes me wonder whether adding support for this really is the right thing to do.

[2022-05-04 17:06] tautschnig opened #6841 "Introduce an overflow irep that takes lvalues as arguments"
In order to use `__builtin_add_overflow` and the likes, one has to introduce additional objects the address of which can be taken. To avoid such overhead when building goto programs directly, it would be desirable to have variants of the overflow intrinsics that take lvalues as (optional) parameters so that both is-there-an-overflow and the actual value can be assigned in a single instruction.

[2022-05-04 17:15] tautschnig opened #6842 "Handle pointer overflow in the back-end"
At present, pointer overflow gets peculiar treatment in the front-end, and overflow expressions do not have well-defined semantics when their arguments are pointer typed. This should be remedied by moving the logic from the front-end to the back-end.

[2022-05-04 17:30] tautschnig opened #6843 "Add support for labels on assertions"
We already have support for labels on loops and function pointers for users to identify loops and function pointers, respectively. Adding the same for assertions/properties would be consistent and may help automated analysis flows.

[2022-05-04 19:56] kroening commented on #6751
Overflow is already a problem with the byte variant. I'd say that the predicate should evaluate to false when there's overflow.

[2022-05-05 08:31] TGWDB commented on #6842
@thomasspriggs Bringing this to your attention since you were looking at some of this related to the new SMT backend and may have some insight.

[2022-05-05 16:05] J0hnDaniel opened #6845 "Counter-example traces for struct types incomplete"
## Description
CBMC version: 5.44
Operating system: Ubuntu 18.04
Exact command line resulting in the issue: `cbmc struct.c --function main --trace`
What behaviour did you expect: a better display
What happened instead:
There is a state on which the struct display strange value see the

**struct.c Code**

[code]
## Trace Display Standard Output
Using the standard output here is what i get, look on

[2022-05-05 19:32] kroening commented on #6842
We need to be careful to distinguish three things:
1) Pointers getting out-of-objects bounds, which is undefined.
2) Pointer overflow considering the full width of the pointer. Always implies 1 since objects cannot be bigger than size_t.
3) Overflow of the offset part in the current split representation that CBMC uses. Need not imply 1 if the object is big enough.

[2022-05-10 10:41] #2809 closed, assigned to nobody

[2022-05-10 19:58] danielsn opened #6846 "Missed Optimization: `memcpy(a,b,sizeof(*a))` is slower than `*a = *b`"
In branch https://github.com/danielsn/rmc/tree/test-use-memcpy-in-hook

[code]

If you run with the HEAD of the branch, the test is very slow; if you run with one commit before HEAD, its fast. The only change is to emit `memcpy(a,b,sizeof(*a))`  vs`*a = *b`.

[2022-05-10 20:13] danielsn commented on #6846
Branch `read-ptr-hook` shows what we are actually trying to achieve, (i.e. how Rust actually does it).

[2022-05-10 20:22] tautschnig commented on #6846
A bunch of questions/comments:
1) Where can one find documentation on `PtrRead` to understand "how Rust actually does it?"
2) Do you really have to use `memcpy` for what you're trying to achieve?
3) Optimising within `memcpy` seems non-trivial as a lot of information is lost at that point.
4) I'll try to investigate nonetheless why the resulting byte extracts result in slowdown? (When yo say "very

[2022-05-11 11:25] tautschnig commented on #6635
Closing as the current status is as intended.

[2022-05-11 11:25] #6635 closed, assigned to tautschnig, kroening, thomasspriggs

[2022-05-11 13:58] danielsn commented on #6846
Sorry for the scanty feature request.

1. To give some context: PtrRead is a Rust core library function
[code]

It implements the logical operation
[code]

However, under the hood, it is implemented as `memcpy` (or `copy_nonoverlapping` as it's called in rust).  This is likely because the function is generic: making it a memcpy over a set of bytes is the easiest way to support the generic operatio

[2022-05-11 14:03] danielsn commented on #6846
2. We can consider special casing the `copy_nonoverlapping` intrinsic and doing the optimization ourselves at that point. But given that
  - this may also occur in C code,
  - the optimization may require doing constant propagation
it seemed to make sense to make this a CBMC optimization
3. The optimization should probably happen before the call to `memcpy`, rather than in the body of `memcpy`
4.

[2022-05-12 13:46] FlorianBarrau opened #6851 "Feature Request : Add `--sarif-ui` option to support SARIF-Formatted Output"
I suggest to **add the support** for [Static Analysis Results Interchange Format (SARIF)](https://sarifweb.azurewebsites.net/), by adding an option `--sarif-ui` to the command line. It would be an extension of the existing `json-ui` option,
It would be great if you can add this.

Thank you :)

[2022-05-13 14:57] tautschnig commented on #6846
Studying the example mentioned at the top, I am not entirely convinced that `memcpy` is what is giving us grief: The changes in model-checking/kani@92ce4729518d appear to be introducing a loop that CBMC is unable to determine an unwinding bound for. (CBMC's `memcpy` does not use a loop.) Running CBMC on that "slower" code with `--unwind 2 --unwinding-assertions` yields 1) no failing unwinding asse

[2022-05-13 15:35] tautschnig commented on #6846
Further investigation suggests that the root cause of those additional loops being triggered is constant propagation no longer taking place. This, in turn, is caused by the`memcpy` operation entailing byte extracts (this is expected) over a struct where only some members are constants. Therefore, at least at present, the entire expression is no longer a constant, and propagation through that byte

[2022-05-13 20:13] tautschnig commented on #6846
#6856 improves the constant propagation, and makes the Kani test case complete without having to specify unwinding constraints.

[2022-05-16 15:45] thomasspriggs commented on #6735
If you are happy with the comprehensive reply about the (lack) of C++ support, are you ok with us closing out this github issue?

[2022-05-18 08:35] tautschnig commented on #6851
Thank you very much for your suggestion. Patches are always welcome, so feel free to contribute. If you'd like to see this implemented and don't have the time to contribute a patch yourself, then could you please elaborate on your request by providing a detailed use case? In absence thereof it would be hard to come up with a test that confirms that the feature works in line with your expectations.

[2022-05-18 11:32] tautschnig opened #6865 "Feature request: annotate loop unwinding bounds in source code"
It would be nice to have pragmas or the likes available to specify loop unwinding bounds directly in the source code. (Kani already supports this.)

[2022-05-19 09:02] tautschnig commented on #6845
I do have a fix for the XML type issue, but still need to continue looking into the missing values.

[2022-05-19 13:47] thomasspriggs opened #6870 "`__CPROVER_allocated_memory` is undocumented"
I have not been able to find any existing documentation of the `__CPROVER_allocated_memory` intrinsic function. Without documentation of this intrinsic and its current implementation / intended use case it is non-trivial to work out what aspects of its observed functionality are intended or are bugs with the current implementation.

CBMC version:
Operating system:
Exact command line resulting in t

[2022-05-19 14:06] thomasspriggs commented on #6695
The `__CPROVER_allocated_memory` intrinsic is undocumented which makes it more difficult to say what the sound or expected behaviour of it should be. I have raised a separate issue for the documentation. https://github.com/diffblue/cbmc/issues/6870

[2022-05-19 14:46] thomasspriggs commented on #6695
The maximum size of the offsets (and the general encoding of pointers) is defined in the decision procedure, but the offset overflow checks are added/defined in the front end. The definitions of the of offset overflow checks should be done in the decision procedure are per this issue - https://github.com/diffblue/cbmc/issues/6842

This re-structuring should be handled before further investigation

[2022-05-19 14:55] thomasspriggs opened #6871 "CBMC does not sufficiently validate `__CPROVER_allocated_memory`"
Because `__CPROVER_allocated_memory` is currently flow insensitive, multiple instances of this intrinsic for the same hardware style memory address should be considered invalid input to cbmc, because that is introducing conflicting specifications of how much memory is allocated. `cbmc` should check for and reject this type of input.

Additional kinds of checks on this intrinsic/allocation which we

[2022-05-19 14:55] thomasspriggs commented on #6695
As @tautschnig said, `__CPROVER_allocated_memory` is flow insensitive. This means that it functions as a specification that the memory at the given address is allocated for the entirety of the analysis. Therefore the `__CPROVER_allocated_memory(ptr, 0xFF);` in your example will mean that the `*ptr = '0';` assignment on the previous line is valid, because this specification applies to the whole of

[2022-05-19 15:01] thomasspriggs commented on #6695
Attempting to de-reference pointers with excessively large offsets will not currently cause an unsound analysis because the input will be rejected with an `array too large for flattening` error.
The following example will introduce such an error -
[code]

[2022-05-19 18:54] thomasspriggs opened #6872 "Deprecate `__CPROVER_allocated_memory`"
The plan for `__CPROVER_allocated_memory` seems to be to remove it in PR #6748 and replace it with a command line option in #6747 for the next major release of cbmc. Therefore we should emit a suitable warning about it being deprecated when it is found in user code. That way we can discourage new uses of it and any existing users will be suitably warned that it will need to be replaced.

[2022-05-24 22:14] tautschnig commented on #6842
The approach taken in #6881 seeks to do 3, and does not bother with 1 for that can be tested for using `__CPROVER_r_ok`.

[2022-05-25 06:36] zhassan-aws opened #6882 "Ignore emtpy programs for reachability-slice"
CBMC version: 5.56.0
Operating system: Ubuntu 20.04

This is a feature request.

Currently, using `--reachability-slice` on an empty program results in an error:
[code]
Would it be possible for `--reachability-slice` to ignore empty programs (i.e. make it a no-op)?

Background: we're trying to enable `--reachability-slice` by default in [Kani](https://github.com/model-checking/kani), but if the pr

[2022-05-25 10:52] NlightNFotis opened #6883 "Fail fast if dependencies download fails for the windows jobs"
As an example, in https://github.com/diffblue/cbmc/runs/6579237651?check_suite_focus=true, we had the download of flex/bison fail on the windows package job because of networking issues in the `Fetch Dependencies` step of the job, but the issue manifested much later (when `find_flex`, used by `cmake` failed to find the binary).

We should update our build scripts to support failing fast if `chocol

[2022-05-25 17:24] tautschnig commented on #6440
Closing as question has been answered (confirmed by @danielsn).

[2022-05-25 17:24] #6440 closed, assigned to danielsn

[2022-05-25 21:22] tautschnig commented on #6231
Closing as #6399 has been merged, which includes the test case that prompted this issue.

[2022-05-25 21:22] #6231 closed, assigned to SaswatPadhi, jimgrundy

[2022-05-27 04:16] HclX opened #6890 "__CPROVER_assume doesn't work as expected with large constant"
CBMC version: `CBMC version 5.56.0 (cbmc-5.56.0) 64-bit x86_64 linux`
Operating system: `Linux`
Exact command line resulting in the issue: `cbmc test.c --function cbmc_entry`
What behaviour did you expect:  `with the following test code, I'm expecting the first assertion succeeds and the second one fails`
[code]
What happened instead: `both assertions are tested success`
[code]

[2022-05-27 04:18] HclX commented on #6890
However, if I change the constant from `0x82002060` to `0x7fffffff`, it behaves as expected. This seems to have something do with signed/unsigned conversion for constants.

[2022-05-27 07:42] kroening commented on #6890
The function `nondet_size_t` needs to be declared. Add
`size_t nondet_size_t();`
and you get the expected result.

[2022-05-27 16:54] xx24678 commented on #6890
I see. I think the documentation is a little bit confusing. It should probably not use the type in the function name in the example and emphasize that this function needs to be declared.

[2022-05-31 07:46] tautschnig commented on #6393
Just confirming that using `--add-library` _in the same_ `goto-instrument` call together with `--generate-function-body` works just fine and does exactly the right thing. I will nevertheless issue two follow-up PRs:
1) Cleanup of `goto-instrument` to make sure that `--add-library` works correctly with all code transformations.
2) Adjusting the comment for the assertion generated.

[2022-05-31 10:00] #6393 closed, assigned to nobody

[2022-05-31 12:32] #6872 closed, assigned to nobody

[2022-05-31 20:21] #6787 closed, assigned to nobody

[2022-06-01 06:42] #6845 closed, assigned to nobody

[2022-06-01 09:04] tautschnig opened #6900 "Remove magic constant "40" from expr2X code"
expr2ct and expr2javat use `40` as a magic number to constrain the line width of the output. This constant is part of code that needs to be cleaned up to improve its readability.

[2022-06-01 09:40] tautschnig commented on #6890
@xx24678 Would you mind providing a pointer to the documentation that you would like to see us improve? Also, CBMC does say `file test.c line 6 function cbmc_entry: function 'nondet_size_t' is not declared`, but perhaps this isn't sufficient?

[2022-06-03 21:42] #6841 closed, assigned to nobody

[2022-06-03 21:47] tautschnig commented on #6607
The problems of `__builtin_mul_overflow` that #6616 could have fixed have now been addressed more cleanly in #6903, which introduces the struct expression suggested in my earlier post in here. Resolving this issue, but Kani will still need to pick this up.

[2022-06-03 21:47] #6607 closed, assigned to tautschnig, nchong-at-aws

[2022-06-06 23:03] xx24678 opened #6906 "clang support?"
CBMC version: CBMC version 5.56.0 (cbmc-5.56.0) 64-bit x86_64 linux
Operating system: Linux
Exact command line resulting in the issue: goto-cc --verbosity=5 --native-compiler=clang -target aarch64-linux-gnu -c test.c -o test.o
What behaviour did you expect: CBMC correctly build the target code with all the args passed to clang compiler
What happened instead: it doesn't recognize the "-target" arg,

[2022-06-06 23:08] xx24678 commented on #6890
Here is the instructions from current user manual:
[code]
Maybe we should say something like "declaring a function without implementation" ?

[2022-06-06 23:37] xx24678 opened #6907 "goto-cc and goto-ld not generating valid object/elf files"
CBMC version: CBMC version 5.56.0 (cbmc-5.56.0) 64-bit x86_64 linux
Operating system: Linux
Exact command line resulting in the issue: goto-cc test.c -o test && file test
What behaviour did you expect: the result "test" should be a valid elf file generated with the default compiler invoked by goto-cc
What happened instead: the result file is shown as data file

For complex firmware projects, the r

[2022-06-07 06:24] kroening commented on #6907
You get the result you expect by using `goto-gcc` instead of `goto-cc`.

[2022-06-07 08:04] tautschnig commented on #6906
Thank you for your report! #6908 (once merged) will address this issue.

[2022-06-07 11:27] #6906 closed, assigned to nobody

[2022-06-07 21:09] zhassan-aws opened #6911 "CBMC errors out with `l2_rename_rvalues case struct not handled`"
This test is derived from [Kani](https://github.com/model-checking/kani) (see https://github.com/model-checking/kani/issues/1257).

CBMC version: 5.58.1
Operating system: Ubuntu 20.04
Exact command line resulting in the issue: `cbmc test.out`
What behaviour did you expect: Verification successful
What happened instead:
[code]
[test.out.tar.gz](https://github.com/diffblue/cbmc/files/8856593/test.ou

[2022-06-07 22:25] tautschnig commented on #6911
I'll take a look. This warning arises when there is a struct constant on the left-hand side of an expression. I'll debug to see whether this is part of the input to CBMC, or wrongly generated by CBMC.

[2022-06-07 23:02] xx24678 commented on #6907
thanks for the hint. That works.

[2022-06-07 23:02] #6907 closed, assigned to nobody

[2022-06-08 00:40] xx24678 opened #6912 "clang support doesn't work with 64bit build"
CBMC version: goto-cc 5.58.1 (cbmc-5.58.1-49-g3b340adf5) 64-bit (tip of the develop branch)
Operating system: Linux
Exact command line resulting in the issue: goto-gcc --native-compiler=clang -target aarch64-linux-gnu -c foo.c
What behaviour did you expect: Success and the code is parsed as 64bit.
What happened instead: the code is processed as 32bit

here is the content of foo.c:
[code]

$ ./goto

[2022-06-08 08:22] tautschnig commented on #6911
The issue appears to be in the code generated by Kani, which includes the following (printed from the goto binary, but it's also present in the JSON file):
[code]
Note the struct on the left-hand side of this assignment.

[2022-06-08 08:22] #6911 closed, assigned to tautschnig

[2022-06-14 14:32] #6912 closed, assigned to nobody

[2022-06-15 16:31] PeterMacGonagan opened #6933 "[Question] JBMC and BigInteger: example"
Hello,

I'm trying to do some tests with BigInteger and JBMC. I've already done basic tests with integers with success.
But I don't get the correct answer with BigInteger.

Here is my code:

[code]

I don't get the correct answer. xval is equal to 0.
Note: convert BigInteger value to int or string because there are encoded in big endian and two-complement format.

Here is my command:
`jbmc -jar di

[2022-06-15 17:52] tautschnig commented on #6933
I should defer to @peterschrammel or @romainbrenguier for more authoritative answers, but I believe the problem here is that we don't ship a model of `java.math.BigInteger`. Any methods called from this package will return non-deterministic values.

[2022-06-16 10:40] romainbrenguier commented on #6933
@tautschnig is right, we don't ship a model of BigInteger in our models, see https://github.com/diffblue/java-models-library repository. You would need to add a model of this class to get non-deterministic values

[2022-06-16 13:44] martin-cs commented on #6933
Although this would be limited to the SMT back-end and might well be A Bad Idea in terms of performance.  Could it be modelled with `__CPROVER_integer`?

[2022-06-16 14:23] TGWDB commented on #6695
Should this be closed now that #6876 is merged?

[2022-06-16 16:54] SaswatPadhi commented on #6695
Thanks for the update.

It looks like #6876 is merged, but #6747 is still unmerged. Can we wait until that PR is merged, and then close this PR with a comment that demonstrates (1) how to invoke CBMC with the new flag instead, and (2) the pointer overflows reported here are either rejected with `array too large ...` or an OOB assertion failure.

[2022-06-17 07:58] PeterMacGonagan commented on #6933
Ok, so it's not possible to use BigInteger. How hard is it to add it to the java-models-library?

[2022-06-17 08:30] peterschrammel commented on #6933
[BigInteger.java](https://github.com/keerath/openjdk-8-source/blob/master/jdk/src/share/classes/java/math/BigInteger.java) and dependent classes need to be added to java-models-library.
For many Java library classes, it's just sufficient to copy them.
Sometimes, however, the implementations are complex and often need simplification in order to be handled reasonably by JBMC. Such simplifications ma

[2022-06-17 09:06] martin-cs commented on #6933
I have not looked at the Java BigInteger implementation but from looking at other BigNum implementations, modelling it, even with mathematical integers, may well perform better than using the literal implementation.

[2022-06-17 11:30] PeterMacGonagan commented on #6933
I could use an other library if it's more easier...
I'm not stuck with BigInteger but I need to perform at least computations on 256 bits numbers.

[2022-06-17 12:40] martin-cs commented on #6933
If you know the highest bit-width you want to use then `__CPROVER_bitvector` is probably a good bet.  But be aware that large bit-width non-linear problems are considered to be a Hard Problem and a subject of ongoing research by myself and others.

[2022-06-17 15:37] qinheping opened #6943 "Validity checks fail for local variables when abstracted loops are executed more than one time"
CBMC version: 5.59.0
Operating system: macOS 12.3.1
Exact command line resulting in the issue:
[code]
I ran the above command lines on the following c program
[code]
The result shows that, although the function ```foo``` and ```bar``` are exactly the same, the validity check of ```v``` failed in the function ```foo``` but not in ```bar```. This is the report
[code]
The validity check checks if ```

[2022-06-17 20:13] eleehiga opened #6946 "`**** WARNING: no body for function sprintf` shows that `sprintf` is not running with the code"
For the code here:
[code]
Running the command `cbmc test.c --function test` yields the output:
[code]
The warning `**** WARNING: no body for function sprintf` is not good (this also happens for snprintf but not for printf) as when I uncomment `//assert(strlen(buffer) == 5);` and run the same command but with adding the option `--show-vcc` it yields this:
[code]
And no where in these formulas has `

[2022-06-18 01:13] remi-delmas-3000 commented on #6943
This is fixed by this PR https://github.com/diffblue/cbmc/pull/6947

[2022-06-18 12:22] tautschnig commented on #6946
We do not currently ship a model for `sprintf` in our C library. You might consider adding a model to your project along the lines of `vasprintf`, which we do model here: https://github.com/diffblue/cbmc/blob/develop/src/ansi-c/library/stdio.c#L1079..L1101.

[2022-06-19 08:49] PeterMacGonagan commented on #6933
I already know for hard problem :) It's a very interesting.
I didn't know __CPROVER_bitvector, I'll try to use it.
Without support to BigInteger, I think that I'll use CMBC and try to implement my own library. I've already got some examples which works.
Thank you for your support.

[2022-06-19 08:49] #6933 closed, assigned to peterschrammel, romainbrenguier

[2022-06-19 10:15] PeterMacGonagan opened #6948 "[QUESTION] How to be sure to retrieve the correct boolean for a variable (ex.: int) ?"
Hello,

I use CBMC to generate CNF from little math problems (_--dimacs_).
I use external solver to find the solutions. CBMC is able to compute the correct solution (with minisat). I use _--trace-compact_ to see the solutions.

I would like to get the equivalent boolean of my variables. _--compact-trace_ is able to do it.

I can observe that at the end of dimacs file there are some lines of this k

[2022-06-19 16:59] sepideha commented on #6735
Yes, sure! Feel free to close this issue, but we will look forward to see the C++ front-end support in CBMC :)

[2022-06-20 07:50] tautschnig commented on #6948
CBMC uses static single assignment form (SSA) to produce an equation system. You can read more about why and what is happening here in our documentation at http://cprover.diffblue.com/background-concepts.html#SSA_section. So your parser will need to be aware of this in order to identify the correct instantiation of the program variable.

You are right that, at present, the MSB will have the higher

[2022-06-21 13:58] eleehiga opened #6953 "[QUESTION] How to print the value of variables during CBMC's loop unwinding"
During loop unwindings. Like this example:
[code]
Is there a way I can print the value or variables, like the variable `i`?

[2022-06-21 18:59] tautschnig commented on #6953
The closest you can get to seeing this _during_ symbolic execution is by running with `--verbosity 10`. Afterwards, however, you could also read it from the trace, but that likely does not match your expectation of "during CBMC's loop unwinding."

[2022-06-21 22:12] PeterMacGonagan commented on #6948
Thank you for the link to the documentation but I'm not sure I really understood...

_While control flow graphs are already quite useful for static analysis, some techniques benefit from a further transformation to a representation known as static single assignment, short SSA. The point of this step is to ensure that **we can talk about the entire history of assignments to a given variable**. This

[2022-06-21 22:17] tautschnig commented on #6948
You are right in that it is the history of assignments to a variable. In your specific case you are seeing that we treat the declaration and the initial value as two separate values. So "#1" is the unassigned/unconstrained value, "#2" is the result of the assignment.

[2022-06-22 15:36] eleehiga opened #6955 "What does `Loop invariant is not side-effect free` mean?"
For the following code:
[code]
Running the command `cbmc test.c --function test` yielded the following output:
[code]
In that output I was wondering what the line `Loop invariant is not side-effect free` means?

[2022-06-22 17:47] celinval opened #6956 "Inconsistent casting results for nested structures"
CBMC version: 5.59.0 (cbmc-5.59.0)
Operating system: Ubuntu 18.04
Exact command line resulting in the issue: cbmc casting.c
What behaviour did you expect: The test should succeed.
What happened instead: The property `fn.assertion.2` fails.

For the following test case:
[code]

The casting between `AltPtrWrapper` and `PtrWrapper` is successful when done explicitly but not due to calling the functio

[2022-06-22 22:06] tautschnig commented on #6955
Your loop invariant includes a call to `strlen`. We currently don't support function calls in loop invariants (or function contracts), even when those particular functions might be pure and not have side effects.

[2022-06-23 07:38] tautschnig commented on #6956
Thank you for the nice reproducer! I've created #6959 to fix the issue.

[2022-06-23 09:57] #6956 closed, assigned to nobody

[2022-06-23 10:07] tautschnig commented on #5448
Resolving with the following comments:
- We now release every other week.
- The process steps are documented in doc/ADR/release_process.md

[2022-06-23 10:07] #5448 closed, assigned to nobody

[2022-06-23 12:49] #1782 closed, assigned to nobody

[2022-06-23 14:56] eleehiga commented on #6953
@tautschnig thank you, but how would you recommend me to debug why my program is having infinite loop unwindings? This is as I tried `--verbosity 10` but am having a hard time understanding the messages from that.

[2022-06-23 14:57] eleehiga commented on #6955
@tautschnig Thank you and hopefully you guys do support this in the future.

[2022-06-23 14:58] eleehiga commented on #6946
@tautschnig Thank you and I have made a model of this

[2022-06-23 15:26] tautschnig commented on #6953
I just want to make sure I correctly understand your question: If you genuinely want to debug _why CBMC is struggling_ to determine the loop bound, then the following instructions may help. If, however, you just want to make sure CBMC does not keep unwinding, you'll want to use `--unwind` or `--unwindset`.

So if you genuinely want to debug, the following my help:
1. Run CBMC with some finite unro

[2022-06-23 15:58] eleehiga commented on #6953
@tautschnig Thank you as I genuinely want to debug. What do you mean by the "the source location where you expect the constant to appear"? Also it seems like --dump-c is not an option for CBMC, therefore is there another way you would recommend me to "make sense of the variable names"?

[2022-06-23 17:21] celinval commented on #6956
That's amazing! Thank you for fixing this so fast.

[2022-06-23 17:55] tautschnig commented on #6953
My apologies for slightly too terse an instruction! When I was referring to `--dump-c` I was thinking of `goto-instrument`'s option, but you might not even have to use this for your input is C code anyway, so just ignore that part of my advice. For the source location, however, this is the place in your original source code where you expected constant propagation to succeed. In the context of loop