[2020-11-12 14:43] marcusgranstroem opened #5570 "Arithmetic overflow in write"
CBMC version: 5.15.0
Operating system: Ubuntu 20.04.1 LTS
Exact command line resulting in the issue: cbmc simple-write.c --function simple_write --trace --unwind 1 --conversion-check
What behaviour did you expect: VERIFICATION SUCCESSFUL
What happened instead: VERIFICATION FAILED (arithmetic overflow on signed to unsigned type conversion)

I'm trying verify a program that calls write.
But when I r

[2020-11-15 19:15] sbelodon opened #5597 "Maven / Gradle plugin for jbmc"
Hello!

Why jbmc isn't available as maven or gradle plugin? Maybe some developers wants to check their code and plugin is the easiest way to do this.

CBMC version:
Operating system:
Exact command line resulting in the issue:
What behaviour did you expect:
What happened instead:

[2020-11-17 14:53] martin-cs commented on #5597
Ummm... because no-one has written one yet?  Development in CBMC tends to be driven by what the developers / their customers / sponsors want rather than there being any centralised plan.  There have been IDE plug-ins in the past but they have required a non-trivial amount of maintenance and after a while, no one was willing to maintain them.

Diffblue sells a number of products that include things

[2020-11-19 16:26] danielsn opened #5623 "symtab2gb should be in install packages"
What it says in the title

[2020-11-19 22:40] #5623 closed, assigned to nobody

[2020-11-20 14:19] hannes-steffenhagen-diffblue commented on #5623
The linked PR fixes the issue, thanks for recording it here.

[2020-11-20 16:05] martin-cs commented on #5453
@hannes-steffenhagen-diffblue ( and @chenrui333 W.R.T. https://github.com/diffblue/cbmc/issues/5448 ) is this now resolved?  Can this issue be closed?

[2020-11-21 21:33] kenmcmil opened #5626 "Strange behavior of __CPROVER_r_ok"
CBMC version: 5.15.0
Operating system:
Exact command line resulting in the issue: cbmc r_ok_unsound.c
What behaviour did you expect: verification failed
What happened instead: verification successful
[r_ok_unsound.zip](https://github.com/diffblue/cbmc/files/5578388/r_ok_unsound.zip)

The predicate __CPROVER_r_ok behaves strangely when the memory pointed to will be allocated in the future. Here is

[2020-11-21 22:45] tautschnig commented on #5626
Hello Ken, Please see #5194 for an earlier discussion on this, and the documentation at http://cprover.diffblue.com/memory-primitives.html. In short, using `__CPROVER_r_ok` within `__CPROVER_assume` is only permissible when the pointer is guaranteed to be either null or valid (and running CBMC with `--pointer-primitive-check` will ensure this is the case).

This also implies that `__CPROVER_r_ok`

[2020-11-21 23:22] kenmcmil commented on #5626
OK, thanks!

[2020-11-22 21:21] jeanparker opened #5627 "Running compiled cbmc on Darwin/ARM64 violates 2 invariants"
CBMC version: 5.18.0
Operating system: macOS 11.0.1
Exact command line resulting in the issue: ./cbmc
What behaviour did you expect: No errors
What happened instead:
Invariant check failed
File: config.cpp:1035 function: set
Condition: ansi_c.char_is_unsigned == (static_cast<char>(255) == 255)
Reason: char_is_unsigned flag shall indicate system char unsignedness

Another invariant check will fail

[2020-11-22 21:43] tautschnig commented on #5627
Thank you very much for your report. This should be fixed by #5628, but I don't currently have access to such a system to confirm this works as expected. Therefore, testing would be much appreciated!

[2020-11-22 22:22] jeanparker commented on #5627
Thanks, that was quick.
I tested the PR locally and the issue is gone.

[2020-11-22 22:58] #5627 closed, assigned to nobody

[2020-11-23 08:55] hannes-steffenhagen-diffblue commented on #5626
For some context, these primitives were never really meant for end users at all. They were mostly meant to be used by cbmcs own pointer and bounds checking. You can use them if you really want to, but you need to be _very_ careful with them!

[2020-11-27 17:14] thomasspriggs commented on #5543
For your first case `example2.c`, the line coverage is the same in terms of our analysis either with or without `--pointer-check`. The issue is to do with the reporting of the coverage. The whole of the call to the `foo` function including the dereference of `ptr` is included in block 2, regardless of whether `--pointer-check` is specified or not. The reporting was including the line where a multi

[2020-11-27 18:56] hannes-steffenhagen-diffblue commented on #5543
As to your second issue: The coverage here is changing because the default behavior is that in coverage assertions are turned into assumptions – including the ones added by the various checks. So as @danielsn correctly guessed, the problem here is that the dereference would be an error in the null case, which is caught by `pointer-check` so there's no coverage afterwards. This is usually the expec

[2020-12-02 19:52] feliperodri opened #5641 "New CBMC version seems broken in several s2n proofs"
CBMC version: 5.19.0
Operating system: macOS High Sierra, 10.13.6
Exact command line resulting in the issue: `make report` in any proof harnesses from [s2n codebase](https://github.com/awslabs/s2n) under `s2n/tests/cbmc/proofs/` folder.
What behaviour did you expect: Run `goto-cc`, `goto-instrument` and `cbmc` without errors.
What happened instead: Invariant violation on `goto-cc`.

[code]

[2020-12-02 20:30] tautschnig commented on #5641
Most likely introduced by https://github.com/diffblue/cbmc/pull/5555, but really a bug hidden by the previous (deprecated) constructor. Taking a look.

[2020-12-02 22:01] tautschnig commented on #5641
Reproduced for the `s2n_array_new` proof, but the problem should be fixed in s2n. Compiling with `-Wall` added to compile options:
[code]
The main problem is the first warning: `__CPROVER_uninterpreted_hasher` is not declared, and thus we don't know the correct type of the (uninterpreted) function. I'll try to come up with a better error message, but this will just make your failure easier to unde

[2020-12-03 10:47] #5641 closed, assigned to nobody

[2020-12-03 10:49] NlightNFotis commented on #5641
Hi @feliperodri, this was automatically closed by GitHub when I merged the associated PR.

Can someone verify it is indeed fixed? If not, we can reopen this issue.

[2020-12-03 15:42] adpaco-aws opened #5643 "nondet_unsigned_char() has type 'int' instead of 'unsigned char'"
CBMC version: 5.17.0
Operating system: macOs 10.15
Exact command line resulting in the issue: `goto-cc` and `cbmc` with flags
[code]
on the following code:

[code]

What behaviour did you expect: No errors.
What happened instead: Get error "arithmetic overflow on signed to unsigned type conversion in (unsigned char)return_value_nondet_unsigned_char"

`nondet_unsigned_char()` appears to have type `

[2020-12-03 16:06] tautschnig commented on #5643
@adpaco-aws Is this literally the complete code? If so: `nondet_unsigned_char` isn't declared, which you will have gotten a warning about. For an undeclared function, C assumes `int` to be the return type.

[2020-12-03 16:28] adpaco-aws commented on #5643
No, the complete code is here: https://github.com/adpaco-aws/aws-encryption-sdk-c/tree/derive-nondet-char
After cloning recursively, go to `aws-encryption-sdk-c/verification/cbmc/proofs/derive_data_key` and run `make`.

In the warnings I do not see this function. We looked for its definition in the project but could not find it, so we assumed this was coming from CBMC.

[2020-12-03 16:43] tautschnig commented on #5643
Much like #5641, running `goto-cc` with `-Wall` (and perhaps: `-Werror`) would be really helpful here: you'd get a warning if directly running this C code past CBMC, but since `goto-cc` is part of the workflow, it's for `goto-cc` to report the problem.

No, CBMC does not have anything pre-defined here. It's just that it will create a somewhat more efficient encoding when seeing a function named wi

[2020-12-04 15:35] feliperodri commented on #5641
Hi @NlightNFotis, I confirm that the problem has been fixed.

[2020-12-10 19:50] danielsn opened #5650 "__atomic_compare_exchange_n appears to return the wrong value in the `expected` paramater"
[code]

https://gcc.gnu.org/onlinedocs/gcc/_005f_005fatomic-Builtins.html

This built-in function implements an atomic compare and exchange operation. This compares the contents of `*ptr` with the contents of `*expected`. If equal, the operation is a read-modify-write operation that writes desired into `*ptr`. **If they are not equal, the operation is a read and the current contents of `*ptr` are

[2020-12-11 07:18] #5650 closed, assigned to nobody

[2020-12-11 17:24] hannes-steffenhagen-diffblue opened #5653 "Variable sensitivity ­– functions shouldn’t affect value of globals they don’t write to"
Take this test example:

[code]

We would expect the assertion to pass... but it doesn’t because `remember` has seen the state of `global` once and forevermore reports it back to us. I believe @martin-cs had some ideas for fixing this in a sound way in the past?

[2020-12-11 18:53] martin-cs commented on #5653
Try out `--three-way-merge --vsd --vsd-data-dependencies`, it is designed for exactly this use case and should work. There is some regression tests that demonstrate it.  The paper on the Toyota system has some of the description.  I believe that it has been independently invented as "sparse abstract interpretation".

[2020-12-13 11:29] lou1306 opened #5654 "--stop-on-fail generates a trace even though --trace is omitted"
If I run `cbmc --unwind 2 --unwinding-assertions count_by_1.i` I only get a summary of the results, as expected:
[code]

However, if I add `--stop-on-fail`, CBMC will also generate a counterexample trace, even though I did not specify `--trace`. Is this expected behaviour? I would expect to see a summary similar to the one above, containing only the failed assertion.

Please find attached a copy o

[2020-12-13 13:31] kroening commented on #5654
Debatable -- I'd say that most users will want to have the trace when using `--stop-on-fail`.

[2020-12-13 17:15] lou1306 commented on #5654
I'm not denying that this is the common way one uses `--stop-on-fail`. Still, it's a bit surprising (to me, at least), since the CBMC documentation states that you can only get a trace by adding `--trace` to the command line.

Maybe having `cbmc -h` say something like "`--stop-on-fail` implies `--trace`" would make this behaviour clearer?

[2020-12-14 15:49] #5654 closed, assigned to nobody

[2020-12-24 18:10] cajun-rat opened #5695 "cmbc unsound with respect to signed integer overflow?"
CBMC version: master(#92ef21ea07f7) and 5.10 (cbmc-5.10)
Operating system: Debian Stable
Exact command line resulting in the issue: `cbmc --function atoi_buggy --bounds-check --signed-overflow-check --unsigned-overflow-check --nan-check --all-properties  --unwind 22 --trace  --unwinding-assertions atoi-test.c`

I wrote a small example implementation of 'atoi()' to experiment with CBMC. When run wi

[2020-12-25 10:15] tautschnig commented on #5695
Hello, Thank you very much for your report! It seems CBMC does report this just fine once you omit `--function atoi_buggy`. If you wanted to use `atoi_buggy` directly (without your `main` function), then you'll need to also use `goto-harness` as otherwise CBMC does not know how to create a non-deterministic C string (as input value `s`). You can see this problem by adding `--pointer-check`.

For a

[2020-12-25 10:15] #5695 closed, assigned to nobody

[2020-12-27 16:10] #5643 closed, assigned to nobody

[2020-12-28 12:23] cajun-rat commented on #5695
Thank you! I got caught out by the fact that cbmc found an input that overflowed the first case (the string "5555...."), so I'd assumed that my harness was setup correctly.

[2020-12-28 13:21] tautschnig commented on #5695
I believe that whenever dealing with pointers, adding `--pointer-check` seems advisable to make sure you don't end up with spurious results.

[2021-01-02 13:57] tautschnig commented on #249
I'm inclined to close this issue as dump-c's output appears to work fine these days. It's certainly not perfect, but #5700 shows that it does generally work. I think we need concrete examples of failures to drive further fixes.

[2021-01-02 13:57] #249 closed

[2021-01-05 17:08] tautschnig commented on #5351
@NlightNFotis What is the status here? It seems that a number of tests were marked `KNOWNBUG` yet they appear to work perfectly fine at the moment. It seems the problem is somewhere outside what's being tested?

[2021-01-06 18:56] feliperodri commented on #5643
This is no longer a problem for us anymore.

[2021-01-07 16:45] adpaco-aws opened #5718 "Invariant violation coming from byte operators"
CBMC version: 5.20.1 (but appears to be present in 5.18 as well)
Operating system: macOs 10.15
Exact command line resulting in the issue: `make` on `verification/cbmc/proofs/aws_cryptosdk_priv_unwrap_keys` in branch [CBMC-ISSUE-5718](https://github.com/adpaco-aws/aws-encryption-sdk-c/tree/CBMC-ISSUE-5718)
What behaviour did you expect: No errors.
What happened instead: Received the following invar

[2021-01-08 14:26] hannes-steffenhagen-diffblue commented on #5543
@markrtuttle I have added the `--cover-failed-assertions` flag, when passed with `--cover locations` it will prevent assertions from affecting coverage.

[2021-01-10 12:54] #5263 closed, assigned to nobody

[2021-01-11 10:41] #380 closed

[2021-01-15 08:21] tautschnig commented on #5718
I do now have a patch for this problem, but still need to figure out what a small regression test could look like.

[2021-01-15 09:43] adpaco-aws commented on #5718
That is great, @tautschnig! Can you explain where the problem comes from? I did not have time to debug this myself and I am curious 😀

[2021-01-15 10:39] hannes-steffenhagen-diffblue commented on #5718
Ah yes, we've been working on this (we're stuck at the same thing, coming up with a regression test).

@tautschnig We were thinking [this](https://github.com/diffblue/cbmc/blob/develop/src/solvers/lowering/byte_operators.cpp#L495) was the problem - since unpack should return a byte array expression this should be `bv_typet{8}`, not the original subtype. Was that the same thing you saw or did you i

[2021-01-15 13:11] tautschnig commented on #5718
@adpaco-aws There now is a fix in #5750, but I do need to warn you that while this solves the original problem you'll now most likely run into out-of-memory problems as the resulting expressions very heavily rely on the array decision procedure. I stop my CBMC run at around 65 GB of memory. The culprit is that some of your code is trying to copy (via `memcpy`) an unconstrained number of bytes out

[2021-01-15 14:58] hannes-steffenhagen-diffblue commented on #5718
@tautschnig I fixed the PR reference in your comment

[2021-01-15 15:43] #5718 closed, assigned to nobody

[2021-01-15 21:22] tautschnig commented on #5542
@martin-cs Thank you for diagnosing the problem! I've posted the fix in #5754. @andreast271 thank you for this nice test, I've included that in the PR.

[2021-01-15 21:37] tautschnig commented on #5344
I just confirmed that this had the same root cause the problem reported in #5718, and was therefore also fixed by #5750. I was able to reproduce the original problem on the branch posted by @danielsn, and able to confirm the fix. Closing.

[2021-01-15 21:37] #5344 closed, assigned to nobody

[2021-01-15 21:49] tautschnig commented on #5271
This no longer fails in generating the SAT formula, but still does require large amounts of memory. The most recent bug fix that was also needed here is #5750. The SMT back-end, however, still fails. The fact that this requires as much memory is also a bug, thus leaving this issue open for now.

[2021-01-15 22:02] tautschnig commented on #5256
@hannes-steffenhagen-diffblue Was there a test to demonstrate what actually was going wrong?

[2021-01-15 22:07] tautschnig commented on #5216
Thank you for this report. The problem was fixed in #5355 (specifically in f022757801909).

[2021-01-15 22:07] #5216 closed, assigned to nobody

[2021-01-15 22:12] tautschnig commented on #5080
This stacktrace suggests that this will likely have been fixed by #5750. Please re-open if the issue still reproduces for you.

[2021-01-15 22:12] #5080 closed, assigned to nobody

[2021-01-15 22:16] tautschnig commented on #3525
This was done in #3767.

[2021-01-15 22:16] #3525 closed, assigned to nobody

[2021-01-15 22:18] tautschnig commented on #3438
Closing as this does not seem to be an issue in CBMC.

[2021-01-15 22:18] #3438 closed, assigned to peterschrammel

[2021-01-15 22:21] tautschnig commented on #3146
This was fixed in #2289.

[2021-01-15 22:21] #3146 closed, assigned to nobody

[2021-01-15 22:22] tautschnig commented on #3039
Closing as #3641 has been merged.

[2021-01-15 22:22] #3039 closed, assigned to nobody

[2021-01-15 22:51] #5542 closed, assigned to nobody

[2021-01-15 22:52] tautschnig commented on #5254
This was fixed by the changes in #5390.

[2021-01-15 22:52] #5254 closed, assigned to nobody

[2021-01-16 09:34] tautschnig commented on #2637
This has been fixed in the underlying infrastructure and documentation was added in #5424.

[2021-01-16 09:34] #2637 closed, assigned to nobody

[2021-01-16 09:36] tautschnig commented on #2224
This was completed in #5181.

[2021-01-16 09:36] #2224 closed, assigned to tautschnig

[2021-01-16 09:38] tautschnig commented on #2285
This wording has since been changed. It now says "A variant of CBMC that analyses Java bytecode is available as JBMC."

[2021-01-16 09:38] #2285 closed, assigned to kroening

[2021-01-16 09:40] tautschnig commented on #1880
Closing this in favour of #3152. We have since made a lot of progress in this direction, and #3152 has pointers to various in-progress PRs.

[2021-01-16 09:40] #1880 closed, assigned to nobody

[2021-01-16 09:59] tautschnig commented on #2416
This was fixed in #2426 by using a git submodule instead of downloading.

[2021-01-16 09:59] #2416 closed, assigned to cesaro, peterschrammel, Degiorgio

[2021-01-16 22:05] #5397 closed, assigned to nobody

[2021-01-16 22:12] tautschnig commented on #5376
This was fixed in f022757 (part of #5355).

[2021-01-16 22:13] #5376 closed, assigned to nobody

[2021-01-16 22:59] tautschnig commented on #4933
Closing as #4917 has been merged.

[2021-01-16 22:59] #4933 closed, assigned to nobody

[2021-01-16 23:04] tautschnig commented on #4275
This is expected behaviour: the missing declaration of `foo` in `test.c` results in a default type for `foo` being assumed, which turns out not be consistent with the definition in `test1.c`. GCC (or, more specifically, ld) does not perform link-time type checking, and thus cannot detect this error.

[2021-01-16 23:04] #4275 closed, assigned to nobody

[2021-01-16 23:15] tautschnig commented on #2808
`type_eq` has been removed in #4304.

[2021-01-16 23:15] #2808 closed, assigned to nobody

[2021-01-16 23:16] tautschnig commented on #2780
`void_typet` has been removed in #4102.

[2021-01-16 23:16] #2780 closed, assigned to nobody

[2021-01-16 23:21] tautschnig commented on #2652
The byte-update problem has since been fixed, but now we run into "array too large for flattening." This requires #1874 and #2108.

[2021-01-16 23:26] tautschnig commented on #2104
Code was removed in #4691.

[2021-01-16 23:26] #2104 closed, assigned to nobody

[2021-01-16 23:29] tautschnig commented on #2057
Resolving as `--bounds-check` should be used.

[2021-01-16 23:29] #2057 closed, assigned to nobody

[2021-01-16 23:36] tautschnig commented on #1695
Fixed in #4167.

[2021-01-16 23:36] #1695 closed, assigned to nobody

[2021-01-16 23:41] tautschnig commented on #1684
This was addressed in #2167.

[2021-01-16 23:41] #1684 closed, assigned to nobody

[2021-01-16 23:43] tautschnig commented on #1366
This doesn't seem to be a problem any longer. As of #5709 we use Glucose in one of our GitHub actions.

[2021-01-16 23:43] #1366 closed, assigned to nobody

[2021-01-16 23:47] tautschnig commented on #662
The `symex` folder no longer exists in this repository, closing.

[2021-01-16 23:47] #662 closed

[2021-01-16 23:50] tautschnig commented on #613
With all the changes that happened to byte-operator lowering this test no longer fails.

[2021-01-16 23:50] #613 closed

[2021-01-16 23:53] tautschnig commented on #544
A check was added in #3116.

[2021-01-16 23:53] #544 closed

[2021-01-17 00:01] tautschnig commented on #536
This issue has since been fixed, the example is processed just fine (modulo making `Container::boxes` `public`.

[2021-01-17 00:01] #536 closed

[2021-01-17 00:07] tautschnig commented on #459
Fixed in #517.

[2021-01-17 00:07] #459 closed

[2021-01-17 00:16] tautschnig commented on #2010
The reduced test passes just fine nowadays, and the original example does not seem to be running into an invariant failure. It does, however, consume a large amount of memory. This remains worth investigating.

[2021-01-17 00:18] tautschnig commented on #1985
This test appears to be working fine by now.

[2021-01-17 00:18] #1985 closed, assigned to nobody

[2021-01-17 00:20] #5169 closed, assigned to nobody

[2021-01-18 11:10] thomasspriggs commented on #5169
thk123 is not currently an active CBMC developer. The current team within diffblue working on CBMC includes myself, NlightNFotis, hannes-steffenhagen-diffblue, piotr-grabalski, and our newest member TGWDB. Of these Fotis is probably the most enthusiastic Mac user.

[2021-01-22 11:14] hannes-steffenhagen-diffblue commented on #5653
Forgot about that!

[2021-01-22 11:14] #5653 closed, assigned to nobody

[2021-01-22 11:16] hannes-steffenhagen-diffblue commented on #5626
Seems like the question has been answered

[2021-01-22 11:16] #5626 closed, assigned to nobody

[2021-01-23 01:05] #5348 closed, assigned to nobody

[2021-01-23 03:31] DennisYurichev opened #5779 "Yet another small example using CBMC..."
Not an issue, just a $SUBJ.
https://yurichev.com/news/20210121_Knuth_Morris_Pratt_1/
Thanks for your tool!

[2021-01-25 12:28] martin-cs commented on #5779
Thanks for this.  Would you consider adding these to `regressions/cbmc` that way we can be sure they will continue to work.

[2021-02-01 13:15] martin-cs commented on #5307
https://github.com/diffblue/cbmc/pull/5793 touches on some of this functionality.

[2021-02-05 02:48] feliperodri commented on #5004
@smowton @tautschnig @markrtuttle any updates on this issue? Should we close it?

[2021-02-05 02:50] feliperodri commented on #5052
@danielsn @tautschnig there was no update from #5004 should we close this issue?

[2021-02-05 02:52] feliperodri commented on #5096
@hannes-steffenhagen-diffblue @markrtuttle @kroening is there any updates from this issue? Should we close it?

[2021-02-05 02:52] feliperodri commented on #5173
@hannes-steffenhagen-diffblue any updates on this issue? Should we close it?

[2021-02-05 02:53] feliperodri commented on #5275
@hannes-steffenhagen-diffblue any updates on this issue? Should we close it?

[2021-02-05 02:54] feliperodri commented on #5292
@markrtuttle @hannes-steffenhagen-diffblue @karkhaz is there any updates on this issue? Should we close it?

[2021-02-05 02:54] feliperodri commented on #5392
@karkhaz is there any updates on this issue? Should we close it? @hannes-steffenhagen-diffblue is there anybody working on this issue?

[2021-02-05 02:56] feliperodri commented on #5395
@hannes-steffenhagen-diffblue I guess we conclude that "existential quantifiers are still not fully supported," correct? Should we close this issue?

[2021-02-05 02:58] feliperodri commented on #5405
@danielsn @hannes-steffenhagen-diffblue any updates on this issue? Should we close it?

[2021-02-05 02:58] feliperodri commented on #5473
@hannes-steffenhagen-diffblue is there anyone currently working on this issue? Any updates?

[2021-02-05 02:59] feliperodri commented on #5477
We concluded we can't check for nullness of function pointers using CPROVER memory primitives.

[2021-02-05 02:59] #5477 closed, assigned to nobody

[2021-02-05 03:01] feliperodri commented on #5505
@hannes-steffenhagen-diffblue @NlightNFotis is there anyone working on this issue? Any updates? @danielsn is that low priority?

[2021-02-05 03:02] feliperodri commented on #5514
@danielsn is that still a problem since #5518 got merged? @hannes-steffenhagen-diffblue any updates? Should we close this issue?

[2021-02-05 03:08] feliperodri commented on #5529
@tautschnig you suggested this [here](https://github.com/diffblue/cbmc/pull/5403#discussion_r495092697). Do you agree with @martin-cs? Should I keep this open?

[2021-02-05 03:10] feliperodri commented on #5531
I believe #5582 solves this issue. Thanks @hannes-steffenhagen-diffblue.

[2021-02-05 03:10] #5531 closed, assigned to nobody

[2021-02-05 03:10] feliperodri commented on #5543
@markrtuttle @hannes-steffenhagen-diffblue any updates on this issue? Should we close it?

[2021-02-05 10:07] hannes-steffenhagen-diffblue opened #5797 "Regression: Recent changes to byte-operators break proofs in aws-c-common"
CBMC version: 5.23.0
Operating system: Linux
Exact command line resulting in the issue:

With the CProver tools on PATH and the project setup for aws-c-common done, when inside the `verification/cbmc/proofs/aws_byte_buf_write_be16` directory:

[code]

What behaviour did you expect: Should verify without errors
What happened instead: Crashes with an invariant violation in bitvector conversion when

[2021-02-05 11:34] martin-cs commented on #5477
@feliperodri I haven't been following this one closely so this may be stupid but you should be able to `assert(comparator == NULL)`.  At one point there was a patch that added this check to the end of any dispatch chain created by remove function pointers.

[2021-02-05 13:04] tautschnig commented on #5797
Here is a minimal version reproducing the problem (with --pointer-check):
[code]
@hannes-steffenhagen-diffblue I believe you've got the fix prepared already, so hopefully the above helps as a regression test.

[2021-02-05 15:12] hannes-steffenhagen-diffblue commented on #5543
@markrtuttle From our perspective it doesn't seem like there's anything left to do. Let us know if you're having a related issue.

[2021-02-05 15:12] #5543 closed, assigned to nobody

[2021-02-05 17:15] feliperodri commented on #5477
@martin-cs in our project, we were checking for nullness using the following macro
[code]
So, you're right that I could simply be able to `assert(comparator == NULL)`, but my original question was if I was able to `__CPROVER_r_ok(comparator, sizeof(comparator))` or something similar. I have created now a specific macro to deal with function pointers using the former.

[2021-02-05 21:43] tautschnig commented on #5797
Closing as #5798 has been merged.

[2021-02-05 21:43] #5797 closed, assigned to hannes-steffenhagen-diffblue

[2021-02-06 16:12] peterschrammel commented on #15
has been done

[2021-02-06 16:12] #15 closed

[2021-02-06 16:18] peterschrammel commented on #69
not pursued further

[2021-02-06 16:18] #69 closed

[2021-02-06 16:27] peterschrammel commented on #95
Likely to be fixed.

[2021-02-06 16:27] #95 closed

[2021-02-06 16:50] peterschrammel commented on #113
Likely fixed.

[2021-02-06 16:50] #113 closed

[2021-02-06 17:56] martin-cs commented on #5477
@feliperodri thanks for the explanation and glad to hear you got something working.

[2021-02-06 22:38] peterschrammel commented on #153
fixed

[2021-02-06 22:38] #153 closed

[2021-02-06 22:43] peterschrammel commented on #159
fixed

[2021-02-06 22:43] #159 closed

[2021-02-06 22:43] #160 closed

[2021-02-06 22:44] peterschrammel commented on #161
Fixed. See https://github.com/diffblue/cbmc/issues/197

[2021-02-06 22:44] #161 closed

[2021-02-06 22:46] #162 closed

[2021-02-06 22:47] #175 closed

[2021-02-06 22:48] peterschrammel commented on #176
Fixed.

[2021-02-06 22:48] #176 closed

[2021-02-06 22:50] peterschrammel commented on #179
fixed

[2021-02-06 22:50] #179 closed

[2021-02-06 22:52] peterschrammel commented on #182
Macros from `util/invariant.h` are now used instead of asserts.

[2021-02-06 22:52] #182 closed

[2021-02-06 22:53] peterschrammel commented on #123
Also see https://github.com/diffblue/cbmc/issues/184

[2021-02-06 22:54] peterschrammel commented on #184
Duplicate, see #123

[2021-02-06 22:54] #184 closed

[2021-02-06 22:55] #190 closed

[2021-02-06 22:57] #208 closed

[2021-02-06 22:57] peterschrammel commented on #123
See also https://github.com/diffblue/cbmc/issues/208

[2021-02-06 22:58] #211 closed

[2021-02-06 23:00] #234 closed

[2021-02-06 23:01] peterschrammel commented on #242
obsolete

[2021-02-06 23:01] #242 closed

[2021-02-06 23:02] peterschrammel commented on #248
question answered

[2021-02-06 23:02] #248 closed

[2021-02-06 23:07] peterschrammel commented on #229
obsolete

[2021-02-06 23:07] #229 closed

[2021-02-07 14:04] #156 closed

[2021-02-08 10:38] hannes-steffenhagen-diffblue commented on #5505
@feliperodri We're currently looking into implementing a potential optimisation based on this. It's still a WIP for now, we'll update you once we feel it's in a presentable state.

[2021-02-08 10:46] hannes-steffenhagen-diffblue commented on #5505
@feliperodri This is currently not WIP, although we'll probably be taking a look at this in the future.

[2021-02-08 10:57] tautschnig commented on #5505
@hannes-steffenhagen-diffblue and all: please make sure you are aware of https://github.com/diffblue/cbmc/pull/2193 and the discussion that triggered it.

[2021-02-08 11:53] martin-cs commented on #5505
https://github.com/diffblue/cbmc/pull/2031 - I had totally forgotten about the big discussion about the semantics of assume and assert and how they aren't dual.  There is also the "are assumptions retroactive" discussion.

[2021-02-08 19:45] DennisYurichev opened #5805 "Typo at the website"
"CBMC verifies that verifies the array accesses are within the bounds..."
( https://www.cprover.org/cprover-manual/cbmc/tutorial/ )

[2021-02-08 23:33] #5805 closed, assigned to nobody

[2021-02-09 10:35] TGWDB commented on #5473
See [pull request here](https://github.com/diffblue/cbmc/pull/5808).

[2021-02-10 18:28] danielsn opened #5811 "Invariant violation on 5.23.0"
CBMC version: 5.23.0
Operating system:
Exact command line resulting in the issue:
What behaviour did you expect:
What happened instead:

You can see the logs at this link https://ds4auz7vny70f.cloudfront.net/c1881680-283a-42a3-a3a1-1ba9c7d074ff/pipelines/aws_byte_buf_write_be16/index.html

On this proof `aws_byte_buf_write_be16` from `aws-c-common`, with this commandline

[code]

we got stdout:
[c

[2021-02-10 20:26] tautschnig commented on #5811
To me, this looks like a duplicate of https://github.com/diffblue/cbmc/issues/5797?

[2021-02-10 21:03] hannes-steffenhagen-diffblue commented on #5811
@danielsn This is indeed probably a duplicate of #5797. It'd be helpful if you could check if this can still be reproduced with a recent from-source build (it should be fixed, this looks exactly the same as the error I saw), if the fix does work for you we can create an "emergency" release so you don't have to wait until next thursday.

[2021-02-10 23:44] tautschnig commented on #220
Closing as the bugs in byte-extract operations have been fixed (some time before releasing 5.10, the Debian package of which no longer disabled the regression test mentioned in this issue; 5.6 still had that test disabled).

[2021-02-10 23:44] #220 closed

[2021-02-11 10:14] hannes-steffenhagen-diffblue commented on #5811
Duplicate of #5797

Let me know if you think this is in error.

[2021-02-11 10:14] #5811 closed, assigned to nobody

[2021-02-11 11:59] #5284 closed, assigned to nobody

[2021-02-11 20:27] danielsn opened #5818 "CBMC does not ignore the is_padding comment on datatype fields"
On a datatype_parameter, the field is marked with the following named sub if its padding
[code]

CBMC appears to consider two structs to have different types if they agree on all fields, but disagree on which ones have the `#is_padding` comments. Aren't comments supposed to be ignored when comparing equality?

[2021-02-11 20:28] danielsn opened #5819 "Should array sizes be signed or unsigned?"
Currently, CBMC uses signed, but wouldn't unsigned make more sense? What does a negative array size mean?

[2021-02-11 21:14] tautschnig commented on #5818
On a second look, this doesn't seem to be `#is_padding` that's causing trouble. It's #5815, again, as a padding member looks like this:
[code]
Note the absence of `pretty_name`, which the C front-end otherwise does always seem to set.

[2021-02-12 08:49] kroening commented on #5819
The C standard isn't reasonably clear on that. C11 6.7.6.2 says "If they delimit an expression (which specifies the size of an array), the expression shall have an integer type. If the expression is a constant expression, it shall have a value greater than zero."

The second sentence implies that we can't simply cast to unsigned, since that would make the check meaningless.

If you are generating

[2021-02-13 18:48] sepideha opened #5824 "Deactivating field-sensitivity in Cprover 5.12"
We have a BMC tool (UpProver & HiFrog) relies on Cprover 5.12 framework for generating GOTO-programs/SSA encoding. We recently upgraded the frontend of our tool from CPROVER 5.10 to  5.12. After this upgrade our tool  hits a failure in invariant check in verifying programs with struct or array, for e.g.,

`Reason: value_sett::assign types should match
`
`rhs.type(): struct_tag but lhs.type(): stru

[2021-02-13 23:39] martin-cs commented on #5824
Paging @tautschnig

[2021-02-15 15:57] NlightNFotis opened #5828 "Failing tests on M1-Arm64 on develop"
CBMC version: 5.23.0 (cbmc-5.21.3-exp-254-g268f8864e)
Operating system: macOS 11.0
Exact command line resulting in the issue: `cbmc/regression/ansi-c/gcc_version1 $ clang gcc-5.c`
What behaviour did you expect: Binary is compiled without issue.
What happened instead: Clang fails with error: `__float128 is not supported on this target`.

---

Running the regression test-suite under make on macOS Bi

[2021-02-15 16:00] NlightNFotis commented on #5828
@tautschnig I'd appreciate your input on this one.

[2021-02-15 17:02] tautschnig commented on #5828
We had a first round of fixes in 4435150d89, but it seems more work is due. Will take a look.

[2021-02-15 23:19] tautschnig commented on #5824
Hi, Disabling constant propagation was broken up until #5682.

That said, you'll want the following patch to disable field sensitivity in the latest version (if possible, please try to upgrade to a very recent version, lots of bugs have been fixed since February 2020):
[code]
The first three hunks are hacks, but it might make sense to come up with a proper patch that follows a similar approach to

[2021-02-16 10:25] tautschnig commented on #5828
@NlightNFotis Could you please try out the fix proposed in #5829? I'd don't have access to an M1 myself, and GitHub doesn't yet support them either (https://github.com/actions/virtual-environments/issues/2187).

[2021-02-16 11:13] NlightNFotis commented on #5828
@tautschnig I run the test suite again and everything is passing 👍🏻

[2021-02-16 12:05] #5828 closed, assigned to nobody

[2021-02-16 12:10] sepideha commented on #5824
Thanks, will try! How about arrays? Could we disable field sensitivity in a similar way?

[2021-02-16 13:25] tautschnig commented on #5824
I believe the above patch disables field sensitivity entirely, i.e., both for structs and arrays. Let me know if you find an example that shows otherwise!

[2021-02-17 16:20] #5473 closed, assigned to nobody

[2021-02-17 16:20] TGWDB commented on #5473
Fixed in https://github.com/diffblue/cbmc/pull/5808

[2021-02-18 15:46] hannes-steffenhagen-diffblue commented on #5004
`__CPROVER_assume` can only be used to "prune" possible nondeterministic states. It can't make anything true as is the expectation in the bug report here. This is unlikely to change so closing for now. Feel free to reopen if you believe this is in error.

[2021-02-18 15:46] #5004 closed, assigned to smowton, chrisr-diffblue

[2021-02-18 15:47] hannes-steffenhagen-diffblue commented on #5052
This is fundamentally the same issue is #5004, closing for the same reason.

[2021-02-18 15:47] #5052 closed, assigned to nobody

[2021-02-18 15:48] hannes-steffenhagen-diffblue commented on #5173
I don't think this one should be closed, it just hasn't made it to the top of our backlog.

[2021-02-18 15:52] hannes-steffenhagen-diffblue commented on #5275
I reiterate what I said above: There may be some value in having a diagnostic of some description for it, but I'm not convinced the code should be rejected.

[2021-02-18 16:11] feliperodri commented on #5275
@danielsn should we close it then?

[2021-02-18 18:05] vmihalko opened #5840 "CBMC fails to build on Fedora Rawhide due to Catch2"
CBMC version: 5.24, and older
Operating system: fedora-rawhide
Exact command line resulting in the issue: `cmake --build build`
What behaviour did you expect: build without errors
What happened instead:

[code]

This behaviour seems to be related to this change in `glibc`: https://sourceware.org/git/?p=glibc.git;a=commit;h=6c57d320484988e87e446e2e60ce42816bf51d53.
There is already issue in `catch2

[2021-02-19 00:38] danielsn opened #5841 "Feature request: Saturating arithmatic"
It would be really useful to have saturating arithmetic primitives in CBMC

[2021-02-19 00:40] danielsn opened #5842 "Feature request: atomic builtins"
CBMC currently has support for the gcc atomic builtins. However, these are added by the C front end, and hence there is no irep to directly target. It would be great to have support for these as first class ireps

[2021-02-19 09:59] KVISDAOWNER opened #5843 "Unexpected Pointer Out Of Bounds FAILURE"
**Issue Info**
CBMC version: 5.10
Operating system: Ubuntu 20.04.1 LTS
Exact command line resulting in the issue: `cbmc stringCompare.c --function stringCompare_HARNESS --pointer-check --unwind 2 --unwinding-assertions --trace`
What behaviour did you expect: No "pointer outside object bounds" error
What happened instead: Pointer outside object bounds error

**Issue Description**
The function shoul

[2021-02-19 12:43] martin-cs commented on #5843
This does seem like a bug.  I know @tautschnig has just submitted a couple of PRs on pointer subtraction and bounds checking.  I don't know if those were linked with you / this report but they might be worth a try.  Are you able to try out branches?  If so

https://github.com/diffblue/cbmc/pull/5844

might be worth a try.

[2021-02-19 12:48] martin-cs commented on #5841
This should be reasonably do-able but it would be good to know a bit more about what you want.  Are you using the internal back-end or an SMT solver?  Do you want signed or unsigned?  Do you have a particular implementation / system in mind?  What about the edge cases involving the limit value(s); what is LIMIT * 0, what is LIMIT / 0 or 0 / LIMIT?

[2021-02-19 12:50] martin-cs commented on #5173
Might be effected by https://github.com/diffblue/cbmc/pull/5807

[2021-02-19 14:16] KVISDAOWNER commented on #5843
Thank you for the fast response. I figured out how to compile the PR #5844. Now trying to run the same verification with version `CBMC version 5.24.0 (cbmc-5.24.0-1-g4a31d6265) 64-bit x86_64 linux` gives me this.

[code]

So the PR version does not have the same issue :+1: (I have not tested with any other versions)

[2021-02-19 14:36] sepideha opened #5846 "No verification condition is generated"
CBMC version: cbmc-5.12-d8598f8
Operating system: 64-bit x86_64 macos
Exact command line resulting in the issue: /cbmc --unwind 2  008.493977f.43_1a.cil_safe.i
What behaviour did you expect: generated VCC = 1
What happened instead: generated VCC =0

In the above benchmark,  I added `assert(0)` in the following function:

`__inline static void ( __attribute__((__always_inline__)) ldv_error)(void)
{

[2021-02-19 14:46] hannes-steffenhagen-diffblue commented on #5842
@danielsn Could you please elaborate? Which builtins do you want and how exactly would you like to "target" them?

[2021-02-19 14:49] hannes-steffenhagen-diffblue commented on #5840
Thanks for reporting this. We'll update the Catch version once it's fixed there, in the meantime you can simply avoid building the unit tests by specifying which targets you want built by telling to only build specific targets, so if you just want cbmc you can build it via

[code]

[2021-02-19 14:54] martin-cs commented on #5843
OK, how about we close this issue once #5844 has been merged?  Would you like to add the test case you gave as a regression test?

[2021-02-19 14:55] hannes-steffenhagen-diffblue commented on #5843
`cbmc-5.10` is quite old, I'm closing for now as it's not clear to me the bug is still present. Please try one of the more recent versions from our [releases](https://github.com/diffblue/cbmc/releases/) page (I couldn't reproduce locally with the current release version). Please let me know if you happen to run into any issues with the current release version.

[2021-02-19 14:55] #5843 closed, assigned to nobody

[2021-02-19 15:02] hannes-steffenhagen-diffblue commented on #5846
Hello, thanks for letting us know about a potential problem.

We will however needs some more information to answer the question here or determine if this might be a bug. Ideally this would be a short program exemplifying the same issue.

FWIW VCCs are not generated for assertions which can be shown to never fail (e.g. unreachable (from the entry point) assertions or assertions whose condition can

[2021-02-19 15:05] martin-cs commented on #5846
To add to what @hannes-steffenhagen-diffblue has said : `--show-properties` finds the assertion in the program, it does not check if they are reachable.  So it is possible for a program to have assertions but running CBMC never reaches them.  Please can you make sure that it is actually reachable.

Also, minor pedantry, have you `#include <assert.h>`?  One of the warnings suggest that you might no

[2021-02-19 15:09] hannes-steffenhagen-diffblue commented on #5819
@danielsn Hello Daniel, does @kroening's comment answer your question? Are you ok with closing this?

[2021-02-19 15:52] peterschrammel commented on #5841
@danielsn, can you give a code example of a use case?

[2021-02-19 18:40] tautschnig commented on #5843
Just for the sake of completeness: this issue was fixed by 11431ea80bf4 (merged in #2852). I believe this is part of 5.11 (and any later version).

[2021-02-19 19:27] KVISDAOWNER commented on #5843
Thanks for the response. I didn't realize the CBMC version was that old. I just downloaded what appeared to be the "newest" from cprover.org :D

[2021-02-19 19:41] #5426 closed, assigned to nobody

[2021-02-19 20:48] tautschnig commented on #5846
@sepideha Would you be able to share the benchmark you are looking at? It is possible that work I'm doing on #5845 would address the problem, but it's really hard to tell without the code in front of us.

[2021-02-19 21:16] sepideha commented on #5846
Thanks all for the insights! Then it's very likely that the assertion is unreachable and thus VCC is zero but I am not sure if it's really the case since the original benchmark is 3k LOC and I don't have the minimal version.
I am sharing the original benchmark [here](https://gist.github.com/sepideha/c1407553617a7897841f4dc09cd8f683).

[2021-02-19 21:31] tautschnig commented on #5846
It seems those lines invoking `ldv_error` are never reached. You can check this by adding `--cover locations | egrep -w 'line (28|37|46)'` to your command line, although the results are somewhat ambiguous as whoever pre-processed that file decided that duplicate line markers were a good idea.

[2021-02-19 21:34] tautschnig commented on #5843
#5260 ...

[2021-02-19 21:46] sepideha commented on #5846
Thank you very much for your elaboration.

[2021-02-19 22:24] tautschnig commented on #3728
These tests pass as expected as of 10177c6a77d (#4673).

[2021-02-19 22:24] #3728 closed, assigned to nobody

[2021-02-20 02:26] martin-cs commented on #2101
@clairexen do you have further thoughts on this issue?

[2021-02-20 17:26] peterschrammel commented on #258
MC/DC tests have been written in https://github.com/diffblue/cbmc/tree/develop/regression/cbmc-cover.

[2021-02-20 17:27] peterschrammel commented on #258
Boundary value analysis is a different issue. PR is here for reference: https://github.com/diffblue/cbmc/pull/298

[2021-02-20 17:27] #258 closed

[2021-02-20 17:54] peterschrammel commented on #253
obsolete

[2021-02-20 17:54] #253 closed

[2021-02-20 18:02] peterschrammel commented on #286
obsolete

[2021-02-20 18:17] peterschrammel commented on #295
Obsolete. The `function` field has been removed from goto instruction.

[2021-02-20 18:17] #295 closed

[2021-02-21 13:47] martin-cs commented on #5841
Note that https://github.com/diffblue/cbmc/issues/5405 would give a relatively simple and probably pretty good route to implementing them.

[2021-02-21 14:19] sbelodon opened #5850 "Reduce number of variables in cnf"
Hi all,

I tried t generate cnf for simple code
`#include <assert.h>

int main() {
    char x;

    assert ((x&1)==0);
}`

**And it contains 17 variables:**

cbmc main.c
CBMC version 5.10 (cbmc-5.10) 64-bit x86_64 linux
Parsing main.c
Converting
Type-checking main
Generating GOTO Program
Adding CPROVER library (x86_64)
Removal of function pointers and virtual functions
Generic Property Instrumenta

[2021-02-21 14:32] peterschrammel commented on #299
Question has been answered.

[2021-02-21 14:32] #299 closed

[2021-02-21 14:37] peterschrammel commented on #306
Requested feature has been implemented.

[2021-02-21 14:37] #306 closed

[2021-02-21 16:53] martin-cs commented on #5850
Theoretically : yes.
Implementable : maybe.
Worth doing : probably not.

I don't know how much of this you already know so please forgive me if I am telling you things you consider basic.

1. CBMC (and other similar tools) use Boolean variables for a lot more than just variables.  They are used to represent path conditions / where is reachable.  They are used to represent assertion conditions.  Th

[2021-02-21 17:04] martin-cs commented on #5850
A few more thoughts:

- 5.10 is quite an old version; you might want to try with something more modern.
- `1` and `0` are both `int`s so evaluating the expression requires type promotion of `x`.
- `--slice-formula` is useful because it allows you to focus on the relevant parts of the formula generated.

[2021-02-21 17:11] martin-cs commented on #5850
Adding a return value (so that CBMC does not create a non-deterministic one, using another 32 bits) and using `--slice-formula` on a modern version of CBMC I get:

[code]

I suspect the extra variable is used to hold the value of the comparison.

[2021-02-21 17:39] sepideha commented on #5846
Does CBMC differentiate between the "unreachable assertion" and "TRUE assertion via constant propagation"?
When we get VCC = 0 in cbmc, is there some debugging prints to show which category was it?

[2021-02-21 19:27] sbelodon commented on #5850
thanks for the info!

[2021-02-21 20:35] #5850 closed, assigned to nobody

[2021-02-22 08:54] tautschnig commented on #5846
The "unreachable" part might even require further distinguishing: there is the case of symbolic execution not even simulating the assertion (because constant propagation helped determine that a branch towards the assertion couldn't be taken, or perhaps there isn't even a control-flow path to the assertion), or the SAT solver determining unreachability. These cases can be distinguished using covera

[2021-02-22 12:46] sepideha commented on #5846
Thanks again for the thorough response!

[2021-02-22 23:44] xaaronc opened #5857 "Spurious null-pointer failure on self-referential data structure"
CBMC version: `5.24.0 (cbmc-5.24.0-31-ge989d743f)`
Operating system: macOS
Exact command line resulting in the issue: `cbmc/src/cbmc/cbmc --pointer-check --trace --stop-on-fail test.c`
What behaviour did you expect: verification successful
What happened instead: verification failure

Given the following `test.c`:
[code]

I get a verification failure with the following counterexample:
[code]

I wou

[2021-02-23 07:47] tautschnig commented on #5857
Thank you for reporting this issue, and also for the very nice reproducer. The issue should be addressed by #5858 (once merged).

[2021-02-23 21:30] #5857 closed, assigned to nobody

[2021-02-24 19:47] sree314 opened #5864 "Weird interactions between position of declarations and goto statements"
CBMC version: 5.10 and 5.11
Operating system: Linux (Ubuntu 20.04LTS and 18.04LTS)
Exact command line resulting in the issue: cbmc --function d --trace --c99 /tmp/test2.c
What behaviour did you expect: All assertions should pass.
What happened instead: Two assertions fail.

I'm using CBMC to verify three-address code generated by student assignments. This example is one in which short-circuiting m

[2021-02-24 20:26] tautschnig commented on #5864
Thank you for your detailed report! It seems that the bug was fixed in eaa7d93ac, which is part of CBMC 5.12 (and any later version).

[2021-02-24 20:26] #5864 closed, assigned to nobody

[2021-02-26 11:40] hannes-steffenhagen-diffblue commented on #5846
I believe the question has been sufficiently addressed for now, so I'm closing this. @sepideha feel free to ask any further follow up questions in a new ticket.

[2021-02-26 11:40] #5846 closed, assigned to nobody

[2021-02-26 11:44] hannes-steffenhagen-diffblue commented on #5819
@danielsn I'm closing this for now because it looks like @kroening's comment answers the question. If you think otherwise please let me know.

[2021-02-26 11:44] #5819 closed, assigned to nobody

[2021-02-26 11:45] hannes-steffenhagen-diffblue commented on #5597
Hello, a Maven or Gradle plugin with JBMC is currently not planned. That doesn't mean it wouldn't be useful, on our end we just don't have the capacity for it. We'd certainly love a PR adding something like this.

[2021-02-26 11:45] #5597 closed, assigned to nobody

[2021-02-26 21:06] danielsn commented on #5842
I'm trying to support intrinsics like https://doc.rust-lang.org/std/intrinsics/fn.atomic_cxchg.html - these vary over both the type, and the memory model. CBMC has facilities that generate builtins that do exactly this, but its done on the C front end, and there is hence no backend model to target. If instead we had a set of Ireps that handled these in the backend, it would make them available to

[2021-02-26 21:07] danielsn commented on #5841
I'm trying to implement operations like these:
I'm trying to implement these:
https://doc.rust-lang.org/std/intrinsics/fn.saturating_add.html
https://doc.rust-lang.org/std/intrinsics/fn.saturating_sub.html
https://doc.rust-lang.org/std/primitive.u32.html#method.saturating_mul

[2021-02-27 15:39] martin-cs commented on #5842
`ansi-c/library/intrin.c` contain a number of models of this form.  I think having them implemented as library functions using atomic and fence avoids having too many irept's with complex semantics and interactions.  You should be able to link against this kind of library even if you are using an alternative front-end.  The Ada front-end links against them for example.

[2021-02-28 22:12] sree314 opened #5875 "Ubuntu 18.04 deb depends on libgcc-s1 which isn't in 18.04, it should depend on libgcc1 instead"
CBMC version: 5.24 (also older packages)
Operating system: Ubuntu 18.04
Exact command line resulting in the issue: dpkg -i ubuntu-18.04-cbmc-5.24.0-Linux.deb
What behaviour did you expect: CBMC gets installed
What happened instead: dpkg returns: cbmc : Depends: libgcc-s1 (>= 3.4) but it is not installable

libgcc-s1 isn't in Ubuntu 18.04: https://packages.ubuntu.com/search?suite=xenial&arch=amd64&

[2021-02-28 23:36] martin-cs commented on #5875
Thanks for the bug report, this should be a reasonably straight-forward fix.

[2021-03-01 16:25] danielsn commented on #5842
That appears to be for the windows builtin intrinsics, which don't handle the different memory ordering models. I know CBMC supports the gcc intrinsics, which do, but I believe that is done on demand and I can't actually find a c file to link against. Is there one?

[2021-03-01 16:31] tautschnig opened #5878 "[RFC] CBMC architecture configuration uses architecture-specific int width"
CBMC version: 5.24 (b26d347967)
Operating system: any
Exact command line resulting in the issue: n/a
What behaviour did you expect: Linking together goto binaries built on different platforms is possible
What happened instead: When writing goto binaries, CBMC uses `int` to create constants like `__CPROVER_architecture_int_width`. It's not obvious that such platform configuration options should be

[2021-03-01 16:45] kroening commented on #5878
Sure, happy to change to `integer` -- the reason to have these in the symbol table is to do the right thing when linking. For now, that could be to reject linking binaries from different platforms when the architecture differs, but in the future it is conceivable that the linker learns how to glue binaries from different architectures together.

[2021-03-01 16:55] tautschnig commented on #5842
@martin-cs Would you mind pointing us towards where in https://github.com/diffblue/gnat2goto this is being done to better understand current best practice?

[2021-03-01 17:36] martin-cs commented on #5878
Multi-language linking is a use-case that I have seen but I haven't yet seen multi-architecture.

[2021-03-01 17:37] hannes-steffenhagen-diffblue commented on #5875
We've been able to produce this over here. No fix yet, but it seems like the package is being built on the wrong ubuntu version somehow? If I create the packages locally from ubuntu-18.04 they work fine. The dependencies are determined by `dpkg-shlibdeps` instead of being specified manually.

[2021-03-01 17:48] sree314 commented on #5875
Yeah, I looked at release-packages.yaml, but the labels all seem to check out. It could be a GitHub issue?

[2021-03-01 17:50] hannes-steffenhagen-diffblue commented on #5842
Linking against the builtin-library happens automatically (see [here](https://github.com/diffblue/cbmc/blob/bfad11a7fdebcf6b935a720453bbd0e699ebf495/src/ansi-c/c_typecheck_expr.cpp#L1902)), you just need to reference the functions in your goto binary. @danielsn I don't really understand your other point, what exactly were you trying to do / why does what @martin-cs suggested not work for you?

FWI

[2021-03-01 19:25] sree314 commented on #5875
Reading this:

https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu1804-README.md

It's clear that GitHub's ubuntu-18.04 is not standard -- it includes g++-7.5 to g++-10 which aren't included in the base distribution.

The package is built using g++-7.5
[code]

which isn't part of Bionic AFAICT.

[2021-03-01 19:34] danielsn commented on #5842
The rust builtins differentiate between different memory ordering constraints, as do the `gcc` builtins https://gcc.gnu.org/onlinedocs/gcc/_005f_005fatomic-Builtins.html My understanding is that the CBMC implementation of these gcc builtins does model the memory ordering, but is not exposed in the backend.

The Windows builtins you linked against don't. So we can get the same basic behaviour (inte

[2021-03-02 11:42] hannes-steffenhagen-diffblue commented on #5875
🤦 Ah, I did not realise this. That is... very unfortunate.

[2021-03-02 16:33] sree314 commented on #5875
Yes, I think GitHub should document that their 18.04 images are suitable for _running_, not for building. I opened an issue and mentioned this there.

[2021-03-03 15:53] SaswatPadhi opened #5882 "Loop invariant contracts are ignored"
**CBMC version:** 5.24.0 (also applies to `develop` @ 7f998c4d)
**Operating system:** Mac OS

**Exact command line resulting in the issue:**
[code]

with `test.c` being:

[code]

**What behaviour did you expect:**

I expect the `__CPROVER_loop_invariant` contract to be compiled to a bunch of assertions, and those to show up in the output of `--show-goto-functions`.

**What happened instead:**
The

[2021-03-03 15:54] SaswatPadhi commented on #5882
cc: @karkhaz @feliperodri

[2021-03-04 11:26] #5875 closed, assigned to nobody

[2021-03-05 08:57] andreast271 opened #5885 "Incorrect assertion failure after memcpy with variable size"
CBMC version: cbmc-5.25.0
Operating system: Linux x86_64
Exact command line resulting in the issue: cbmc <file>
What behaviour did you expect: Verificaton success
What happened instead: Verification failed

An example is below:
[code]
Simplifying the if condition to `delta == 3` or `delta == 4` works correctly, as does setting delta to a constant value.

The program equation as shown by --program-

[2021-03-05 09:38] tautschnig commented on #5885
Andreas, thank you for the detailed report! I'm taking a look.

[2021-03-05 20:26] #5882 closed, assigned to SaswatPadhi

[2021-03-05 20:27] martin-cs commented on #5842
On Mon, 2021-03-01 at 08:55 -0800, Michael Tautschnig wrote:

We haven't got as far as handling concurrency in gnat2goto yet.  I was
referring to the use of C library functions.  We simply generate a
symbol table entry for the function and the body gets patched in when
linking libraries.

[2021-03-08 09:59] #5885 closed, assigned to nobody

[2021-03-08 10:10] tautschnig commented on #3653
What behaviour do we actually expect here? Looking at the C standard, this is explicitly called out as invalid (paragraph 21/Example 2 in "6.7.2.1 Structure and union specifiers" in C11). Is the desired bug fix for us to reject this during type checking?

[2021-03-08 10:20] kroening commented on #3653
This might be a gcc/clang extension, but the documentation doesn't seem to be clear about that.

[2021-03-08 12:12] tautschnig commented on #3653
It seems to work with GCC and MSVC, Clang rejects the program.

[2021-03-09 11:43] thomasspriggs commented on #456
As nice as it would be from a maintenance point of view to be using a standard library, it would add to the difficultly of building CBMC. We also don't have time allocated to do the rewriting which would be required to use a new library instead of the existing interface. I am therefore closing this out as part of a open issues clean-up effort and due to the aforementioned reasons.

[2021-03-09 11:43] #456 closed

[2021-03-09 15:40] thomasspriggs commented on #200
The issue reported in this issue seems to be fixed when I attempt to reproduce this using the current version of CBMC in the `develop` branch. Therefore I am going to close out this ticket. The output from cbmc when attempting to reproduce is below for posterity.
<details>
<summary>Click to expand cbmc output</summary>

[code]

</details>

[2021-03-09 15:40] #200 closed

[2021-03-09 15:59] thomasspriggs commented on #222
`goto-instrument` doesn't seem to have a `--points-to` argument any more. I am assuming its been either renamed or removed in the 4 years since you asked this question. I am also going to close out this issue as part of a clean-up effort. If you still have questions about an equivalent current argument/analysis then feel free to re-open.

[2021-03-09 15:59] #222 closed

[2021-03-09 16:05] thomasspriggs commented on #225
Hi Martin. Did you ever resolve your memory usage issue? Was there ever a collective decision on how to resolve sharing issues like this? Do you think this github issue is still useful for discussion or are you happy for it to be closed out due to it no longer being relevant / useful?

[2021-03-09 17:18] adpaco-aws opened #5903 "Compilation errors with SIMD libraries in different platforms"
CBMC version: 5.24
Operating system: macOS 10.15 / Ubuntu 20.04
Exact command line resulting in the issue: `goto-cc simd.c` where simd.c contains the program
[code]
What behaviour did you expect: Successful compilation.
What happened instead:

Got the following error on macOS 10.15:
[code]
and the following error on Ubuntu 20.04:
[code]

[2021-03-09 18:58] tautschnig commented on #5903
I have some time ago done some fixes around this code, I need to check whether those are pushed already, or whether additional changes are needed. Placing this on my stack.

[2021-03-09 19:18] thomasspriggs commented on #308
I think the original question of "How should it be done?" and "How is it done?" have already been answered. Therefore I am going to close this issue out.

[2021-03-09 19:18] #308 closed

[2021-03-09 20:28] feliperodri opened #5905 "How to minimize the number of loop indexes?"
CBMC version: 5.25
Operating system: MacOS Catalina
Exact command line resulting in the issue: --
What behaviour did you expect: --
What happened instead: --

We need to specify which loop we want to unwind in the program, but they might have multiple index. Any changes in the source code might change the loop index. Usually we list all possible indexes, but even this set might change too.

[code]

[2021-03-09 21:18] tautschnig commented on #5905
@feliperodri Could you please elaborate what you mean by "but they might have multiple index?" Yes, changes to the source code can affect the loop identifier. Having a unique identifier for a loop (that is not affected by source code changes) may seem desirable, but it's not entirely obvious how that would work. Even the "actual loops" part is not entirely unambiguous: CBMC treats each backwards c

[2021-03-09 21:48] martin-cs commented on #308
Thanks; I should have closed this at the time.

[2021-03-09 22:17] martin-cs commented on #222
I think I removed the option after it was clear that it wasn't implemented and wasn't needed.  I can't find the commit but, from my point of view, this is done.

[2021-03-10 10:37] thomasspriggs commented on #222
:+1:

[2021-03-10 11:32] thomasspriggs commented on #373
1. This seems to be fixed in the current `develop` version of cbmc.

Example tried -
  <details>
  <summary> declspec.c </summary>

[code]

  </details>

  <details>
  <summary> cbmc output </summary>

[code]

  </details>

2. Pre-processor actions such as include are dealt with using your compiler rather than by cbmc. So there is probably something not right with the environment variables for you

[2021-03-10 11:32] #373 closed

[2021-03-10 17:22] SaswatPadhi opened #5910 "Some regression test runners fail to `clean`"
**Exact command line resulting in the issue:** `make clean` within `regression/cbmc`
**What behaviour did you expect:** `.out`, `.gb`, `.log` files should be removed
**What happened instead:** `find: illegal option -- n`

Some of the `regression/<suite>/Makefile`s use a use a `find` command to recursively search and remove temporary files, e.g. in `regression/cbmc/Makefile` we have:
[code]
This st

[2021-03-10 18:26] thomasspriggs commented on #350
I have just been checking over this issue, as a review of old issues. It looks like this is still a problem as I can still reproduce the failure. The original link in this issue seems to be broken, but I think the example can still be found here - [https://github.com/sosy-lab/sv-benchmarks/blob/master/c/floats-cbmc-regression/float-rounding1.i](https://github.com/sosy-lab/sv-benchmarks/blob/master

[2021-03-10 18:27] thomasspriggs commented on #350
@martin-cs I have assigned this to you, as you had volunteered and the issue was unassigned.

[2021-03-10 18:33] thomasspriggs commented on #224
Given that Chris' PR is merged I am going to close this out. If the industrial partner is still having problems with running out of memory during function pointer removal then feel free to reopen.

[2021-03-10 18:33] #224 closed

[2021-03-10 21:22] peterschrammel commented on #562
Not reproducible

[2021-03-10 21:22] #562 closed

[2021-03-10 21:30] peterschrammel commented on #610
Question has been answered. Not sure anything came out of that. Closing.

[2021-03-10 21:30] #610 closed, assigned to nobody

[2021-03-11 08:31] tautschnig commented on #5256
I am now actually seeing such a case while working on #5913. Will include that fix.

[2021-03-11 11:29] thomasspriggs commented on #90
Given that `cformat` no longer exists in CBMC, I am going to close out this issue as no longer relevant.

[2021-03-11 11:29] #90 closed

[2021-03-11 12:58] tautschnig commented on #5256
Actually changing my course of action here: those expressions are exclusively generated by the type checker, and thus should not be seen in type checking again. It's most likely a bug (as was the case in my work in #5913). If re-typechecking is expected/unavoidable, use `make_already_typechecked`.

Closing, but please do re-open if my claims turn out to be wrong.

[2021-03-11 12:58] #5256 closed, assigned to nobody

[2021-03-11 18:41] thomasspriggs commented on #524
This looks to have been resolved by PR519, which is merged. Therefore I am going to close out this issue. Feel free to reopen if you think there is still work which needs to be done around this.

[2021-03-11 18:41] #524 closed

[2021-03-11 21:44] SaswatPadhi opened #5915 "False positive from side-effect check in loop contracts"
**CBMC version:** `develop`
**Operating system:** Mac OS 10.15

Running `--enforce-all-contracts` raises a false positive on the following file:

[code]

**Exact command line:**

[code]

**What behaviour did you expect:**
`goto-instrument` shouldn't reject this file. The invariant seems free of side effects -- it only performs basic arithmetic comparisons and read-only heap access.

[2021-03-12 10:55] thomasspriggs commented on #502
To my knowledge there are no plans within diffblue to implement this feature request. Given that there have been no comments of this issue for the last 3 years, I am going to close it out as part of an effort to reduce the number of stale open issues.

[2021-03-12 10:55] #502 closed

[2021-03-12 18:45] brenoguim opened #5921 "Wrong simplification in try_evaluate_pointer_comparison"
CBMC version: latest (downloaded the tip of today)
Operating system: Linux x86_64
Exact command line resulting in the issue: ./cbmc main.c
What behaviour did you expect: SUCCESS on the assertion
What happened instead: FAILURE

Hello,

I noticed an unexpected behavior in the symbolic execution and crafted a testcase to expose the behavior.
I'm pretty convinced this is a bug, but maybe I'm missing s

[2021-03-12 18:46] brenoguim commented on #5921
@andreast271 you might want to watch this one

[2021-03-12 19:55] thomasspriggs commented on #534
I have been unable to reproduce this with the current `develop` version of cbmc. Therefore I am going to close this out on the basis that it must have been fixed sometime in the 3 years since this issue was raised. Below is the output from cbmc for reference -
  <details>
  <summary> cbmc output </summary>

[code]

  </details>

Please feel free to reopen this ticket if this issue can actually be

[2021-03-12 19:55] #534 closed

[2021-03-12 21:36] tautschnig commented on #5921
Thank you very much for the detailed bug report and the debugging. With all your diagnosis already done, I chose to use `simplify_expr` to facilitate the normalisation, and this nicely solves the problem (cf. #5922).

[2021-03-13 20:28] feliperodri opened #5925 "CPROVER primitive for invalid pointers"
CBMC version: 5.15.0
Operating system: macOS Mojave
Exact command line resulting in the issue: `cbmc main.c --pointer-primitive-check`
What behaviour did you expect: Check whether `ptr_sizeof` is a valid pointer BEFORE calling CPROVER memory primitives and avoid "pointer primitive check" errors.
What happened instead: Get "pointer primitive check" failures.

[code]

I want to create a macro to che

[2021-03-14 15:27] #5921 closed, assigned to nobody

[2021-03-14 21:33] #3200 closed, assigned to nobody

[2021-03-14 23:07] tautschnig commented on #5925
Why would `#define MEM_IS_WRITABLE(base, len) __CPROVER_r_ok((base), (len))` not do the trick?

As a side note, `sizeof(*pointer)` will always return the size of the data type, it won't bear any resemblance with the size of the underlying allocation. `sizeof(void) == 1` is a GCC-ism.

[2021-03-15 15:49] adpaco-aws opened #5930 "Feature request: Support for SIMD comparison operators"
Support for SIMD arithmetic operators (e.g., addition or logical operators) exists in CBMC but this is not the case for comparison operators `==`, `!=`, `<`, `>`, `<=` and `>=`. According to [GCC online docs](https://gcc.gnu.org/onlinedocs/gcc/Vector-Extensions.html ) vectors are compared element by element producing a 0 when the comparison is false and -1 otherwise.

I am not able to provide an e

[2021-03-15 19:25] thomasspriggs commented on #522
The documentation for our SMT support is unfortunately somewhat limited. We also aren't currently planning changes to the SMT output to support consumption of the output by any tool other than an SMT solver. I would be concerned that introducing such features would make it more difficult to debug and otherwise improve the support for SMT solvers without breaking compatibility with your tool. I hop

[2021-03-15 19:25] #522 closed

[2021-03-15 22:10] tautschnig commented on #5930
Thank you for raising this, will be fixed once #5940 is merged.

[2021-03-15 23:55] feliperodri opened #5941 "Consistent order of parameters across the various instrument_* functions in code_contracts.*"
CBMC version: 5.25.0
Operating system: macOS Mojave
Exact command line resulting in the issue: N/A.
What behaviour did you expect: N/A.
What happened instead:

Some `instrument_*` instrument_* functions from `code_contracts.h` use `function_id` while others don't. Make sure we have consistency among the parameters of these functions. Suggested [here](https://github.com/diffblue/cbmc/pull/5538/file

[2021-03-16 11:56] TGWDB commented on #5910
Addressed in [PR 5943](https://github.com/diffblue/cbmc/pull/5943) .

[2021-03-16 12:19] SaswatPadhi commented on #5910
Thanks!

[2021-03-16 19:54] #5910 closed, assigned to TGWDB

[2021-03-16 20:14] #5930 closed, assigned to nobody

[2021-03-17 14:48] SaswatPadhi opened #5947 "SIGSEGV in loop acceleration with z3"
**CBMC version:** `develop`
**Operating system:** Mac OS
**Exact command line resulting in the issue:** `make` in `regression/acceleration` with `z3` installed
**What behaviour did you expect:** Regression tests to pass
**What happened instead:** 3 of the regression tests crash with segmentation fault

This was exposed in #5944.

When `z3` is installed, the regression tests fail.
When `z3` is not

[2021-03-17 15:10] SaswatPadhi commented on #5947
I linked a PR that fixes the issue of solver errors being ignored, ~~and changes the default solver from Z3 to CPROVER_SMT2.~~

But I am leaving this issue open because we should debug z3 issues with loop acceleration code at some point in the future.

[2021-03-17 17:25] thomasspriggs commented on #5947
This should be fixed in https://github.com/diffblue/cbmc/pull/5944/commits/fa657acfb8e43161a0cceab9c8ed61a10193b31c

[2021-03-17 22:14] feliperodri opened #5950 "Remove all get_namespace from code_contracts"
CBMC version: 5.25.0
Operating system: macOS Mojave
Exact command line resulting in the issue: N/A.
What behaviour did you expect: N/A.
What happened instead: N/A.

Refactor: remove all `get_namespace`from `code_contracts.*`. This could require refactoring input values across functions.

[2021-03-18 00:53] SaswatPadhi opened #5952 "A soundness bug in SMT encoding of pointer objects"
**CBMC version:** `develop`

**Operating system:** Mac OS 10.15.7

**Test case:**
[code]

**Exact command line resulting in the issue:**
Either `cbmc --smt2 test.c` or `cbmc --cprover-smt2 test.c`.
[Note that `z3` is required with the `--smt2` flag.]

**What behaviour did you expect:**
Same behaviour as without the `--smt2` flag -- CBMC should be able to establish the assertion.

**What happened i

[2021-03-18 02:01] SaswatPadhi commented on #5952
cc: @feliperodri

[derived from s2n_blob validation checks]

[2021-03-18 02:04] SaswatPadhi commented on #5952
Making `data` and `allocated` global, or inlining the `validate` function in `main`, resolves this issue.

So there's probably some SMT translation error with function call parameters.

[2021-03-18 14:22] hannes-steffenhagen-diffblue commented on #5952
That seems unlikely. By the time we reach the backend function parameters don't really look significantly different from other types of variables and variable assignments anymore.

[2021-03-18 14:25] thomasspriggs commented on #5947
This has been fixed as part of https://github.com/diffblue/cbmc/pull/5944.

[2021-03-18 14:25] #5947 closed, assigned to nobody

[2021-03-18 14:28] tautschnig commented on #4206
We probably have more than one bug around flexible array members. Likely we should consider introducing a dedicated type (or at least some annotation to the containing struct) to handle these.

[2021-03-18 14:29] thomasspriggs commented on #5297
~I think this issue may have been fixed by https://github.com/diffblue/cbmc/commit/fa657acfb8e43161a0cceab9c8ed61a10193b31c~
The fix is in this PR - https://github.com/diffblue/cbmc/pull/5904
Your specific test case needs to be tried with this fix in place in order to check this.

[2021-03-18 15:13] danielsn commented on #5952
there is an `r_ok` in assume context. Does `--pointer-primitive-check` pass for this?

[2021-03-18 15:19] SaswatPadhi commented on #5952
I just checked -- yes it does:

<details>
<summary>CBMC output</summary>

[code]
</details>

[2021-03-18 21:58] SaswatPadhi opened #5955 "Memory primitives in `assume` are unchecked"
**CBMC version:** `develop`

**Operating system:** Mac OS 10.15.7

I know it's recommended not to use `__CPROVER_r_ok` within `__CPROVER_assume`, but it's not enforced -- no error from CBMC.

Some projects (e.g. throughout s2n) use this, and the point of this test case is to demonstrate that CBMC would accept bad programs when `__CPROVER_r_ok` is used in `__CPROVER_assume`, and give a false guaran

[2021-03-19 03:48] feliperodri commented on #5905
@tautschnig Perhaps, having a unique identifier for a loop would be troublesome, but could we have an option to where CBMC automatically apply the same bound across all identifiers? I just want to make this specification less brittle. For example, could we have a rule that if we specify a bound for a loop without adding the identifier, CBMC would automatically apply this bound across all identifie

[2021-03-19 04:08] feliperodri commented on #5925
I was confused by the use of `sizeof(*pointer)`, thus, `#define MEM_IS_WRITABLE(base, len) __CPROVER_r_ok((base), (len))` will do the trick.

[2021-03-19 04:08] #5925 closed, assigned to nobody

[2021-03-19 14:04] SaswatPadhi commented on #5955
A simpler example:

[code]

No warnings / errors and verification succeeds with the following cmdline:

[code]

<details>
<summary>Full output from CBMC</summary>

[code]
</details>

[2021-03-19 21:16] SaswatPadhi opened #5960 "Loop invariant contract havocs a pointer instead of havocing its value"
**CBMC version:** `develop`

**Operating system:** Mac OS 10.15.7

**Test case:**

[code]

**Exact command line resulting in the issue:**

[code]

**What behaviour did you expect:**

CBMC should be able to verify the goto program with the loop contracts properly enforced.

**What happened instead:**

CBMC complains that `data` is assigned to `NULL` and thus `*data = 42` may be invalid.

This happe

[2021-03-19 21:17] SaswatPadhi commented on #5960
cc: @feliperodri @markrtuttle

[2021-03-20 00:49] SaswatPadhi commented on #4206
I think the crash with SMT backend might be fixed by #5904 (the PR is waiting for Z3 integration in CI).

[2021-03-20 23:54] #5960 closed, assigned to SaswatPadhi

[2021-03-22 19:57] vmihalko opened #5965 "Feature request: specify input arguments of verified programs"
Hi,
We are (at RedHat) developing a tool for running dynamic analysis on RPM packages fully automatically. For this purpose, we want to use the open-source tools like Divine, Symbiotic, CBMC, Valgrind and others.
Because the "size" of the verified model is often too large, cbmc is running for too long (or forever). We would appreciate if CBMC had an option to enter specific input arguments for ver

[2021-03-22 20:33] martin-cs commented on #5965
Glad to hear you are finding it useful.  I'm not sure I would class it as a dynamic analysis tool in the same way as Valgrind though.

You can pass arguments, sort of using two different approaches.  -DMACRO=VALUE allows you to set preprocessor macros.  The other option is to generate some C:

[code]

Then run `cbmc print.c main_with_args.c --function main_with_args`.   You might also want to try

[2021-03-22 21:42] feliperodri opened #5966 "What is the proper annotation for ranges in function contracts"
CBMC version: 5.26.0
Operating system: macOS Mojave
Exact command line resulting in the issue: N/A.
What behaviour did you expect: N/A.
What happened instead: N/A.

Currently, we support the specification of array ranges in code contracts using the syntax `[lower .. upper]`. However, this requires changes in the parser. @hannes-steffenhagen-diffblue suggested [here](https://github.com/diffblue/cbm

[2021-03-23 09:10] KVISDAOWNER opened #5969 "Unexpected Behavior from Nondeterministic Function Pointer"
**CBMC version**: 5.24.0 (cbmc-5.24.0)
**Operating system**: Ubuntu 20.04.1 LTS
**Exact command line resulting in the issue**: cbmc file.c  --trace
**What behaviour did you expect**:
`foo` is only reachable from the `some1_entry` call. `bar` is unreachable.
Or
`foo` is reachable from `some1_entry` call. `foo` and `bar` are both reachable  from `some2_entry` call since `some2` is nondeterministic.

[2021-03-23 10:17] thomasspriggs commented on #5952
I have confirmed locally that the results of this example are different depending on whether using the default option of using SAT solving vs using a SMT solver. I have also been able to reproduce this using a more minimal example. This example does not use function calls or `__CPROVER_r_ok` inside an assume -
[code]
<details>
<summary> Output running cbmc. </summary>

[code]

</details>

[2021-03-23 11:20] thomasspriggs commented on #5952
@SaswatPadhi How urgent is resolving this issue for you? Does it block other work which you are currently trying to get done?

[2021-03-23 11:57] tautschnig commented on #5969
The address of `bar` is never taken in this program, thus we assume that function pointers cannot resolve to it. You might argue this is unsound, but then this program is full of undefined behaviour anyway. So I'm not entirely sure this should be changed.

[2021-03-23 13:34] TGWDB commented on #5969
As tautschnig said `cbmc` does not assume that a function pointer can resolve to any possible address anywhere. If you wish to assume that `some2` can point to either `foo` or `bar` you can use a code fragment such as:
[code]
This will non-deterministically allow `cbmc` to determine that `some2` could resolve to `bar` and also reference `bar` in the program more generally.

[2021-03-23 14:21] SaswatPadhi commented on #5952
Thanks for looking into this @thomasspriggs.

We recently removed all instances of `__CPROVER_r_ok` within assume contexts from the s2n project. After that, I didn't encounter this bug for 2 of the harnesses that I was looking into, so it's not super urgent for now. Although from your example it's clear that the issue persists even without r_ok within assume.

Getting Z3 running on the CI is a hig

[2021-03-23 14:48] SaswatPadhi commented on #5966
I'm just documenting the offline discussion we had.

Hannes' concerns regarding syntax are valid and it's unclear if we need such level of precision within the assigns clause right now. Many languages that do support assigns / modifies clause, e.g. Dafny, Spec# etc. just use the entire array, or a particular index of it in the modifies clause. To my knowledge, only JML supports the range syntax `a

[2021-03-23 19:07] thomasspriggs commented on #5952
The cause of this issue is likely to be an issue converting from the program form to SMT. Therefore I am going to attach below the --program-only and SMT for reference.

<details>
<summary> cbmc ./reduced_example.c --smt2 --program-only </summary>

[code]

</details>

<details>
<summary> SMT output </summary>

[code]

</details>

Given that getting Z3 running in CI is a higher priority, I am going

[2021-03-23 19:35] martin-cs commented on #5966
If you have existential variables and can introduce them in contracts then that would give you another alternative.  We have some support for ACSL which would be another alternative.  IMHO trying to use the same syntax for dependencies as assignment LHS could be good.

[2021-03-23 21:26] SaswatPadhi commented on #5966
That's a good point! We do have plans to implement ghost variables, so we could probably leverage those.

[2021-03-23 22:39] SaswatPadhi commented on #5952
Thanks @thomasspriggs.
I was able to reduce it a bit more:

[code]

This generates a much simpler SMT file:

<details>
<summary>SMT2 file sent to Z3</summary>

[code]
</details>

The last constraint looks like the incorrect constraint:

[code]

`object_size.0` is unrelated to any allocation however!

Inspecting the constraints before SMT2 translation:
[code]

Replacing `object_size.0` with `|__CPR

[2021-03-23 22:47] vmihalko commented on #5965
Thank you for your quick reply.

The things you have mentioned are possible if it were a one-time affair, but the whole process of automatic analysis of RPM packages is quite complex and uses several different programs and scripts. Therefore, I think that the implementation of some of the methods you mentioned is unnecessarily demanding (and opens up room for bugs).

If the implementation of such

[2021-03-24 00:13] SaswatPadhi commented on #203
Just wanted to ping here and revive this issue.

In our on-going work on function and loop contracts, we find the need to be able to `assume` universally quantified expressions in many cases (e.g. functions/loops that deal with arrays). Hopefully with the new thrust on switching the backend to SMT, we would have be able to handle these cases properly now? 🤞 Just wanted to bump this issue and put i

[2021-03-24 00:39] SaswatPadhi opened #5970 "SMT solver errors in counterexample extraction over quantified expressions"
**CBMC version:** `develop`

**Operating system:** Mac OS 10.15.7

**Test case:**

[code]

**Exact command line resulting in the issue:**
[code]

**What behaviour did you expect:**
CBMC would report a counterexample trace.
(A = 0 violates the assertion.)

**What happened instead:**
CBMC does not generate a counterexample trace, and shows the following error:
[code]

[2021-03-24 00:56] SaswatPadhi commented on #203
With the SMT backend, so far I haven't encountered any unsoundness related to this, but there is an issue with counterexample extraction: https://github.com/diffblue/cbmc/issues/5970.

For the SAT backend, may I suggest rejecting the program (i.e. throw an error) instead of just showing a warning (which can be easily overlooked) and unsound verification results?

[2021-03-24 08:57] KVISDAOWNER commented on #5969
Thank you for your answers.

I am trying to model a function pointer that can point to any possible function (to model memory tampering attacks). So in my case, I would have liked it to take into consideration every function, not just the ones whose address had been evaluated. This could also be argued as unsound since one should probably consider all possible addresses and not only the addresses

[2021-03-24 13:51] TGWDB commented on #5969
Good to hear this has solved the main issue.

There has been some research into checking programs for arbitrary jumps to try and detect vulnerabilities. A few links below, but very broadly there are limits to how effective this can be with model checking (including bounded model checking or statistical model checking), and also whether this can be done on source code or needs to be on the binary (

[2021-03-24 13:51] #5969 closed, assigned to TGWDB

[2021-03-24 14:01] TGWDB commented on #535
Not reproducible in current version.

If you believe this has been closed erroneously please reopen.

[2021-03-24 14:01] #535 closed

[2021-03-24 14:38] TGWDB commented on #542
Closing this due to age and inability to reproduce (cbmc too far out of date). Please reopen if you believe this is still a producible bug on current cbmc.

[2021-03-24 14:38] #542 closed

[2021-03-24 15:23] TGWDB commented on #543
Fix PR closed, also mentioned in other commits. Cannot reproduce now.

Closing as it is unclear that this is still a problem, please reopen if you believe this is erroneous.

[2021-03-24 15:23] #543 closed

[2021-03-24 15:32] TGWDB commented on #547
This is a goal to achieve indefinitely. I'm closing this as it's extremely old, but if there are specific missing options now/in future please create an appropriate issue/PR.

[2021-03-24 15:32] #547 closed

[2021-03-25 11:56] TGWDB commented on #557
Closing this due to age and lack of clear problem (I recognise that some analysis appears to assume returns are no longer there, but if there is no actual error or behaviour problem in cbmc it is not clear this requires attention at this time).

If you believe this is erroneous please reopen this issue.

[2021-03-25 11:56] #557 closed

[2021-03-25 12:12] TGWDB commented on #677
This does not appear to be a problem in the current version of jbmc. Please reopen if you believe closing this issue is erroneous.

[2021-03-25 12:12] #677 closed

[2021-03-25 12:43] martin-cs commented on #5965
I'll see if I can make the time to have a go.  Before I do though, could you clarify what you mean by dynamic analysis?  CBMC is really not the same kind of tool as valgrind and if you try to use it in the same way, your effort / result curve will likely not be very good.

[2021-03-25 12:51] martin-cs commented on #203
I would support throwing an error but late in the process (i.e. in `solver`).  As described above there are cases where we can convert `forall` into `exists` and we should probably support that.  Limited, static instantiation of loops would be nice but passed that we should probably just throw an error.

[2021-03-25 13:30] vmihalko commented on #5965
This is [short talk](https://www.youtube.com/watch?v=mQzLmgaDUK4&list=PLVuc-VIfmlz3zeKbY2uK8_VqksLDZyaql&index=5&ab_channel=RedHatCommunity) about what we are doing, and how (and why) we want to use the tools for formal verification.

If you take the time, we'd appreciate it.

[2021-03-25 15:35] TGWDB commented on #832
Effectively solved by [PR#1624](https://github.com/diffblue/cbmc/pull/1642)

[2021-03-25 15:43] tautschnig commented on #832
Re-opening as #1642 was never merged.

[2021-03-25 22:10] SaswatPadhi opened #5977 "Incorrect (hard-coded) logic for SMT backend"
**CBMC version:** `develop`

**Operating system:** Mac OS 10.15.7

**Test case:**
[code]

**Exact command line resulting in the issue:**

`cbmc --z3 test.c` or `cbmc --cvc4 test.c`

**What behaviour did you expect:**

CBMC would verify the assertion and report success.

**What happened instead:**

[code]

**Additional context:**

CBMC also fails to verify this program with the SAT backend, but a s

[2021-03-26 11:17] ligurio opened #5978 "parsing error: syntax error before `strtof32'"
CBMC version: CBMC version 5.10 (cbmc-5.10) 64-bit x86_64 linux
Operating system: Ubuntu 20.04 x86_64
Exact command line resulting in the issue:
[code]
What behaviour did you expect: successful C sources parsing
What happened instead: parsing error

`/usr/include/stdlib.h`:
[code]

[2021-03-26 12:05] tautschnig commented on #5978
Thank you for your report! Would you be able to use a more recent version than 5.10? (We're at 5.26.1 at present.) This problem was fixed with c937b3f6061132, which is part of 5.12 (and all subsequent versions).

[2021-03-26 14:33] #5903 closed, assigned to nobody

[2021-03-26 19:14] SaswatPadhi commented on #5977
In my experience, just `(set-logic ALL)` works well with most solvers today. This is part of SMTLIB standard now (so is valid, syntactically) and might be the simplest fix.
But, what does everyone else think? cc: @kroening, @martin-cs, @tautschnig

If performance hit is a concern, I can create a draft PR once we have Z3 running on the CI [#5949] and check how long the `smt-backend` tests take.

[2021-03-26 19:50] ligurio commented on #5978
@tautschnig Thanks for answer! I built a latest version and it works fine.

[2021-03-26 20:07] tautschnig commented on #5978
That's good to hear! Note that you may be able to just use pre-built binaries from https://github.com/diffblue/cbmc/releases to save some time.

[2021-03-26 20:07] #5978 closed, assigned to nobody

[2021-03-26 23:06] SaswatPadhi commented on #5977
cc: @mww-aws

Also adding Mike to this discussion.

[2021-03-28 01:18] SaswatPadhi opened #5982 "Regression testing infrastructure for the SMT backend"
This is based on a recent discussion I had with @tautschnig. I wanted to open this RFC and get some feedback before introducing a new tag in #5973.

Currently we seem to have 3 tags for our regression tests that relevant to the SMT backend:
- `smt-backend`: Tests that _require_ the SMT backend, and don't work with the SAT backend
- `broken-smt-backend`: Tests that pass with the SAT backend, but do

[2021-03-28 14:07] peterschrammel commented on #5982
Sounds good to me.

Just too comments:
- Isn't `broken-smt-backend` currenty used for "doesn't work with CPROVER SMT2" (i.e. has nothing to do with whether it works with other SMT solvers such as Z3 or CVC4)?
- I'd use `broken-cprover-smt-backend` instead of `broken-cprover-smt2-smt-backend`.

[2021-03-28 16:22] SaswatPadhi commented on #5982
Thanks Peter.

I wasn't sure about `broken-smt-backend`. I thought these tests triggered the `SMT_TODO` so don't work on any solvers yet.

If the tag is only about CPROVER SMT2 then I think once we have Z3 running on the CI, we should run all of these tests al retag them.

Should we use `broken-smt-backend` tag in future only for those tests that are broken on all solvers, because of unimplemented

[2021-03-28 17:03] martin-cs commented on #5982
Assorted thoughts :

- If we are targetting specific solvers I would strongly recommend that the set is at least cprover-smt2, bitwuzla, cvc4 and z3 as those are the ones with known users.  OpenSMT and MathSAT would be good too but I don't know about their active user-base.  Ideally we should avoid solver-specific things where possible.
- SMT-LIB 3.0 is due out this summer which might help simplif

[2021-03-28 17:15] martin-cs commented on #5977
- Enabling the quantifier engine in solvers can result in some answers being given as `unknown` rather than `sat` so is best avoided where possible.
- I have not seen this happen with strings but given the lack of useful decideable fragments, I can believe it might happen.
- The wider question, to me, is "should we maintain different translations for different solver features".  If we are doing th

[2021-03-29 06:56] SaswatPadhi commented on #5982
Hi @martin-cs,

I just wanted to clarify the suggestion that I was making -- I wasn't proposing implementing more solver-specific encodings, but I was suggesting that we fix the existing flags that we have: `--cprover-smt2`, `--z3`, `--cvc4`.

I also agree with that the emitted SMT encoding should be as solver-agnostic as possible. But that said, I think solver specific "optimizations" should be u

[2021-03-29 10:47] martin-cs commented on #5982
I would suggest that the flags are the other way around.  By default everything should work with all back-ends and then use flags to disable those that don't.  So `--no-SAT`, `--no-Z3`, `--no-CVC4`.

Bitwuzla and MathSAT are both already supported and have been for years.  Bitwuzla had commercial users last I heard.  MathSAT and OpenSMT had research groups using them.  I think including at least B

[2021-03-29 14:02] SaswatPadhi commented on #5982
I am unclear about this part. Running CBMC without any flags (i.e. default configuration) should be solver-agnostic as you said, then doesn't that imply `--no-Z3` and `--no-CVC4`? I am not sure how the SMT encoding would differ on giving a `--no-Z3` or `--no-CVC4` flag.

[2021-03-29 15:20] martin-cs commented on #5982
Apologies; s/flags/tags/.

I think we should have a way of blocking regression test from being run with specific solvers (including the internal back-end).  The default for regression tests that it is run with all solvers.

[2021-03-29 15:27] SaswatPadhi commented on #5982
Thanks, got it.

I agree on this; I was suggesting the same with the `broken-X-backend` tags.

[2021-03-29 17:01] feliperodri commented on #5528
Fixed in #5538

[2021-03-29 17:01] #5528 closed, assigned to feliperodri

[2021-03-31 00:28] SaswatPadhi opened #5986 "Several inconsistenties in regression test build scripts"
**CBMC version:** abba3d7
**Operating system:** Mac OS 10.15.7

PR #5985 exposed some issues with the existing `Makefile`s and `CMakeLists.txt` in `regression/` subdirectories:

#### 1. `make` and `cmake` sometimes run different regression tests

One example is `regression/cbmc`:
- `make` only builds the `test` target. Although `test-cprover-smt2` and `test-paths-lifo` are _defined_, they are not

[2021-04-01 17:01] SaswatPadhi commented on #5986
Some more comments:

**3. Missing `CMakeLists.txt`**

For instance, within `regression/array-refinement`.

**4. `test` vs `test.log` targets**

In almost all `Makefile`s these two targets look like duplicates, the only difference being `test.log` checks that the `test.pl` file actually exists before running any tests.

I think this is related to point **2** above -- the `test` target can probably

[2021-04-01 17:21] tautschnig commented on #5986
This is work in progress: #5936, among others.

[2021-04-01 19:09] #5351 closed, assigned to NlightNFotis

[2021-04-01 20:41] tautschnig commented on #5297
Confirmed, thus closing the issue.

[2021-04-01 20:41] #5297 closed, assigned to nobody

[2021-04-03 01:11] SaswatPadhi opened #6005 "CBMC silently ignores syntax errors from SMT solver"
**CBMC version:** d98b56b
**Operating system:** Mac OS 10.15.7

**Test case:**
[code]

**Exact command line resulting in the issue:**

[code]

The above command will trigger a solver-agnostic (generic) SMT2 translation which should not currently work with Z3.

**What behaviour did you expect:**

CBMC would report an `ERROR` status.
Indeed Z3 does not accept the generated SMT2 file:

[code]

The er

[2021-04-06 09:47] NlightNFotis commented on #5351
Hi @tautschnig, sorry, this fell through the cracks before (I didn't see the notification among others), so I'm updating you on this now.

This was definitely a problem back when we changed `goto-harness` to work with C programs instead of GOTO ones. IIRC this broke the memory snapshot one. Looks like https://github.com/diffblue/cbmc/commit/af01532409533aba21378f779876d3dec4218bd5 fixed it, so tha

[2021-04-06 12:33] martin-cs commented on #5965
Working note : `goto-instrument`'s `--model-argc-argv` could be relatively easily adapted to do this.

[2021-04-06 13:23] TGWDB commented on #4206
Can confirm there is no crash with `--smt2` and Z3.

[2021-04-06 13:29] TGWDB commented on #4938
Closing this due to time and inactivity.

If you wish to reopen please provide an example input file since this cannot be reproduced in the current version of cbmc.

[2021-04-06 13:29] #4938 closed, assigned to nobody

[2021-04-06 13:44] TGWDB commented on #5271
Tentatively adding the SMT label to this. Note that the problems do not exist on Linux (so this may be MacOS specific). I'm aware this is raised as a MacOS issue, the above is top be informative.

[2021-04-06 14:37] TGWDB commented on #4721
No longer reproducible (fixed in cbmc 5.26).

[2021-04-06 14:37] #4721 closed, assigned to nobody

[2021-04-06 14:50] TGWDB commented on #5161
Closing this as it seems to be no longer of interest, please reopen if you believe this is erroneous.

[2021-04-06 14:50] #5161 closed, assigned to nobody

[2021-04-08 20:15] SaswatPadhi opened #6020 "Soundness bug with array havocing in loop contracts"
**CBMC version:** 99f1a2e

**Operating system:** 10.15.7

**Test case:**

[code]

**Exact command line resulting in the issue:**

[code]

**What behaviour did you expect:**

Clearly the verification should fail because we are initializing all elements of `data` to `1`.

**What happened instead:**

CBMC reports that verification was successful!

Running `cbmc test.c` unwinds the loop and ignored th

[2021-04-08 20:16] SaswatPadhi commented on #6020
cc: @feliperodri

The same issue might appear with `__CPROVER_assigns` contracts on functions as well.

[2021-04-08 20:53] SaswatPadhi opened #6021 "Crash in enforcing loop invariant contract due to imprecise alias analysis"
**CBMC version:** 99f1a2e

**Operating system:** 10.15.7

**Test case:**

[code]

**Exact command line resulting in the issue:**

[code]

**What behaviour did you expect:**

`goto-instrument` would decompose the invariant contract to appropriate assertions and assumptions.

**What happened instead:**

`goto-instrument` crashes with a precondition violation:

[code]

**Additional Information:**

In

[2021-04-09 02:08] SaswatPadhi commented on #5952
Digging deeper into this case, I notice that the SMT2 file generated with:

[code]

does have additional constraints on `object_size.0`:

[code]

I am not sure why these constraints don't appear in the SMT2 file that is sent to Z3 (i.e. when `--outfile` is not used)! That's why Z3 returns a `sat` result and a counterexample.

[2021-04-09 03:48] SaswatPadhi opened #6022 "Crash during SMT translation of `NULL` pointers"
**CBMC version:** 99f1a2e

**Operating system:** Mac OS 10.15.7

**Test case:**

[code]

**Exact command line resulting in the issue:**

[code]

**What behaviour did you expect:**

CBMC would report a verification failure.

**What happened instead:**

CBMC crashed during SMT translation:

<details>
<summary>invariant violation report</summary>

[code]

</details>

**Additional information:**

The

[2021-04-12 16:09] vmihalko opened #6024 "Various questions about the cbmc package in fedora"
As a maintainer of cbmc package in fedora, there are two questions I want to ask:

1. I added an option to use the system sat solver because of the Fedora packaging guidelines. If you'd like I can create a pull-request.

Is the sat solver patched by you "better" than the system one?

From your point of view, is there any recommended SAT solver which should be used by default?

2. There is GCC 11.0

[2021-04-12 16:16] martin-cs commented on #6024
Thank you for getting in touch.  I hope @NlightNFotis and @thomasspriggs can help with the CI.  As regards SAT solvers... it depends on what the system one is.  CBMC's default solver is MiniSAT which is not particularly modern but produces very consistent performance.  It would not be an unreasonable thing to do for a package maintainer to build and ship with CaDiCaL for example.  As for your chan

[2021-04-12 16:39] NlightNFotis commented on #6024
Hi @vmihalko, some quick thoughts from me on item 2:

* A stable version of fedora on CI is something that we will consider internally, and potentially implement (prioritised, of course, against our other commitments),
* Support for bleeding-edge environments (like fedora-rawhide) or experimental/development tool versions (like gcc 11.0.1, currently) is in my opinion not a good idea for a CI targe

[2021-04-12 16:42] vmihalko commented on #6024
Sorry for the ambiguity in my previous comment. I meant the difference between the [fedora (system) `minisat`](https://src.fedoraproject.org/rpms/minisat2) and the `minisat` patched by you at `/scripts/minisat-2.2.1-patch`. Which of them would you recommend for usage with CBMC?

[2021-04-12 16:51] martin-cs commented on #6024
@vmihalko I believe the patch is only needed to avoid compiler warnings.  I do not think it should affect performance.  If it does it would be very interesting to know.

[2021-04-12 18:05] vmihalko commented on #6024
@NlightNFotis, I understand your rationale, and I'm glad to hear that you will consider the stable version of fedora.

@martin-cs If there is no performance difference, then I'll keep using the fedora system `minisat`.

Thank you both, for quick answers.

[2021-04-12 18:28] martin-cs commented on #6024
@vmihalko Forgive me if I am telling you things you already know but:

[code]

should work without you needing to alter CBMC at all.

[2021-04-12 19:50] tautschnig commented on #6024
Except ... not really. https://sources.debian.org/src/cbmc/5.12-5/debian/patches/minisat-debian/ is the patch I'm carrying in the Debian package. Though also (un-)setting `MINISAT2_LIB=` on the command line might actually do the trick.

[2021-04-13 10:12] rurban opened #6028 "Still SIMD1 failures with ia32_vec_ext_v4si"
When I compile on AMD64 with `-march=native`
the SIMD1 test fails still after #5919 with
[code]

CBMC version: cbmc-5.27.0-16-gd79e5f0b6
Operating system: Fedora Core 32
Exact command line resulting in the issue: make test
What behaviour did you expect:

[LastTest-marchnative.log](https://github.com/diffblue/cbmc/files/6302924/LastTest-marchnative.log)

See also my march-native branch with the `-D

[2021-04-13 11:10] tautschnig commented on #6028
Won't be today, but I'll take a look at this.

[2021-04-13 11:18] tautschnig commented on #6028
@rurban In the meantime, could you perhaps post the upload of running CBMC on this test with `--preprocess`? Also, could you post the full output, not just those three lines? I'm really surprised that `__builtin_ia32_vec_ext_v4si` is not found, it should be provided by the internal library. Thank you!

[2021-04-13 11:59] rurban commented on #6028
See the https://github.com/diffblue/cbmc/files/6302924/LastTest-marchnative.log link, already there. Or more?
Could be Fedora specific

[2021-04-13 12:34] tautschnig commented on #6028
Ah, thank you, I thought this was a log of a successful run. (The `Malloc13` failure is also surprising.) The output of running just that test with `--preprocess` would still be useful.

[2021-04-13 14:30] tautschnig commented on #6028
I got hold of a Fedora 33 system, but I'm unable to reproduce. Here is what I did:

[code]

The only test I'm getting to fail is `integer-assignments1`.

[2021-04-13 15:08] tautschnig commented on #6028
Fixed in #6030.

[2021-04-13 15:37] rurban commented on #6028
This is the SIMD1 preprocess:

[SIMD1.preprocess.out.gz](https://github.com/diffblue/cbmc/files/6304900/SIMD1.preprocess.out.gz)

And this the strange Malloc13 (including preprocess and all)
[Malloc13.out.tar.gz](https://github.com/diffblue/cbmc/files/6304964/Malloc13.out.tar.gz)

plus gcc_popcount2
[gcc_popcount2.tar.gz](https://github.com/diffblue/cbmc/files/6305311/gcc_popcount2.tar.gz)

So far

[2021-04-13 16:29] tautschnig commented on #6028
@rurban Thank you for sharing those inputs! I'm afraid even with those I'm unable to reproduce the failures :-( Is it exactly a single platform where you are able to produce these failing test results?

[2021-04-13 22:14] SaswatPadhi commented on #6021
Based on discussions with @tautschnig and @mww-aws:
- we should allow `__CPROVER_assigns` annotations on loops
- we should show an error in this case and instruct the user to use `__CPROVER_assigns` since automatic inference of the modified set was imprecise

[2021-04-14 16:42] #6020 closed, assigned to SaswatPadhi

[2021-04-15 17:29] SaswatPadhi commented on #6022
The issue appears to be with the encoding of `NULL` pointers in general.

[code]

[2021-04-15 18:08] shosho613 opened #6039 "CBMC Stops at Converting SSA with Program including non deterministic floating point addition."
My goal is to get CBMC to output the logical formula for a program when the input to the program is a non deterministically generated floating point value.
However, I have found that when the program includes addition of nondeterministic floating point numbers, the CBMC process cannot move past the "Converting SSA" step.
Below is a sample program that reproduces this potential bug.
[failing_progra

[2021-04-15 19:57] tautschnig commented on #6039
Thank you for your report! Would you mind trying a version newer than 5.6 (we're at 5.28.0 at this point)? With 5.28.0, the above example appears to work just fine.

[2021-04-16 04:05] shosho613 commented on #6039
Thank you so much! I tried with the latest version and everything seems to be working as expected. Thanks for your help.

[2021-04-16 04:05] #6039 closed, assigned to shosho613

[2021-04-16 10:19] tautschnig commented on #5494
Closing as #5964 has been merged.

[2021-04-16 10:19] #5494 closed, assigned to NlightNFotis, hannes-steffenhagen-diffblue, TGWDB

[2021-04-16 10:25] tautschnig commented on #1381
We no longer use AppVeyor or selectively disable tests for Windows. Closing.

[2021-04-16 10:25] #1381 closed, assigned to nobody

[2021-04-16 11:59] #2925 closed, assigned to nobody

[2021-04-16 19:09] SaswatPadhi commented on #6021
Removed the `pending merge` label.

The commit that referred to this issue added some `KNOWNBUG` regression tests that should pass once this issue is resolved. The commit does not fix this issue. Sorry if that was confusing.

[2021-04-16 20:17] tautschnig commented on #4930
Closing as the issue was resolved in b8f648300d (#5427).

[2021-04-16 20:17] #4930 closed, assigned to nobody

[2021-04-16 20:18] tautschnig commented on #144
The underlying problem was fixed sometime before 5.10. Closing.

[2021-04-16 20:18] #144 closed

[2021-04-16 20:28] tautschnig commented on #1002
This is not a problem in JBMC: it's the Java compiler that removes this assertion. Here is the output of `javap -l -v -c test.class`:
[code]
Observe that line 5 isn't included at all.

[2021-04-16 20:28] #1002 closed

[2021-04-16 20:32] tautschnig commented on #489
Closing as there are very few occurrences left, and cleanup can be done as needed.

[2021-04-16 20:32] #489 closed

[2021-04-16 20:49] tautschnig commented on #4877
Resolving as no longer reproducible in current `develop`.

[2021-04-16 20:49] #4877 closed, assigned to nobody

[2021-04-16 20:58] tautschnig commented on #3240
Closing as not reproducible.

[2021-04-16 20:58] #3240 closed, assigned to nobody

[2021-04-16 20:59] tautschnig commented on #2273
We don't seem to see this issue on GitHub macOS runners, resolving.

[2021-04-16 20:59] #2273 closed, assigned to nobody

[2021-04-16 21:03] tautschnig commented on #1933
This was taken care of in 13a058c9b2f (#4352).

[2021-04-16 21:03] #1933 closed, assigned to nobody

[2021-04-16 21:05] tautschnig commented on #1707
Comment added to the source code in 0a8d1c84029.

[2021-04-16 21:05] #1707 closed, assigned to kroening

[2021-04-16 22:19] #6022 closed, assigned to SaswatPadhi

[2021-04-17 10:12] #5328 closed, assigned to nobody

[2021-04-20 09:25] TGWDB commented on #5955
I've done some exploration of this issue and there are two different things interacting that cause the unexpected behaviour. One appears to be a misunderstanding about how `cbmc` checks properties, and the other is (probably) a bug in the `--smt2` option.

### Part 1 - Misunderstanding CBMC

To explain the misunderstanding let's consider the simpler example:
[code]

Now there are several commands

[2021-04-20 19:37] SaswatPadhi commented on #5955
Thanks for looking into this, @TGWDB.

Regarding part 1, we understand that that incorrect use of `__CPROVER_r_ok` in assume context would lead to `assume(false);` any other check after that would vacuously succeed. The fact that these primitives don't work as expected in assume context -- don't really make an allocation have a desired size, is not intuitive though and so in large projects it's ea

[2021-04-20 20:17] tautschnig commented on #5955
Selectively quoting:

I'm not quite following why the example is a case of unintuitive semantics -- it seems `__CPROVER_r_ok(data, 128)` is rather obviously false? I thought that `--pointer-primitive-check` was the approach to identify cases where the semantics may be surprising.

Isn't it really coverage checking that you need?

[2021-04-20 20:32] SaswatPadhi commented on #5955
But `--pointer-primitive-check` doesn't raise any warning or error in this case either (see the [second comment](https://github.com/diffblue/cbmc/issues/5955#issuecomment-802857130)). So I am not sure in what way is it more helpful than not using it, in this case.

That's one approach yes ... but we don't yet have an automated coverage check. I also think it might be hard to enforce such an automa

[2021-04-20 21:18] feliperodri commented on #5955
@tautschnig not only for coverage checking, but also to check for valid pointers. `--pointer-primitive-check` helps us to identify when we try to use memory primitives with invalid pointers (i.e., neither NULL or allocated). However, we want to warn users that using memory primitives in assumptions could lead to unreachable traces. In the past, users believed the example above succeeds because the

[2021-04-20 22:01] feliperodri opened #6045 "Memory primitives should handle invalid pointers"
CBMC version: 5.27.0 (cbmc-5.26.0-148-g7ced011bd-dirty)
Operating system: macOS Mojave 10.14.6
Exact command line resulting in the issue: `cbmc main.c --malloc-may-fail --malloc-fail-null --trace`
What behaviour did you expect: `line 7 assertion __CPROVER_r_ok(ptr, 0): FAILURE`
What happened instead: `VERIFICATION SUCCESSFUL`

To explain the behavior, let's consider the following example.

[code]

[2021-04-20 22:01] feliperodri commented on #6045
cc. @SaswatPadhi

[2021-04-20 22:25] feliperodri commented on #6045
In fact, why does cbmc return `dynamic_object1` for `malloc(0)`?

[2021-04-20 23:18] SaswatPadhi commented on #6045
Quoting from https://stackoverflow.com/a/2022402:

`malloc(0)` could return `NULL` or a valid memory location which shouldn't be dereferenced.

So, I think there are two issues raised by this bug report:
1. What does `__CPROVER_r_ok` do without `--pointer-primitive-check` flag?
2. `malloc(0)` shouldn't return a new dynamic object, as Felipe already pointed out.

Here is a clear soundness bug, even

[2021-04-21 06:03] tautschnig commented on #6045
[...]

See http://cprover.diffblue.com/memory-primitives.html.

Why not?

[...]

I don't think "According to the C standard, this should fail" is correct. The C standard says that the behaviour is implementation-defined. If, however, we want to simulate all permitted implementations, then, yes, we would also have to consider the case where multiple calls to `malloc` return the same address. This i

[2021-04-21 07:06] tautschnig commented on #5955
Unless coverage checking is enabled, there never is information about unreachable checks. That's why coverage checking is (at least: currently) necessary. As much as I do agree that the memory primitives have their surprising pitfalls: I'm not sure why they'd deserve preferential treatment here. The example that @SaswatPadhi posted at the beginning of this conversation is a really good case here:

[2021-04-21 13:34] SaswatPadhi commented on #6045
Hi Michael,

You're right, I should have said, "according to the C standard, this _could_ fail." Are we currently verifying all properties assuming a particular compiler implementation?

I don't know enough about `malloc` -- can different calls to `malloc` for non-zero-sized allocations actually return the same address (within the same process)?

I suggested this to "simulate all platforms", as yo

[2021-04-21 13:59] tautschnig commented on #6045
[...]

We do honor the system compiler at times, but here it's not just the compiler: also the C library matters. And, no, we don't consistently consider all possible cases or all the specifics of an existing implementation. We should strive to fix this and make sure all such aspects are configurable.

Yes:

[code]

But a non-deterministic pointer would include pointers to existing objects, result

[2021-04-21 14:22] SaswatPadhi commented on #6045
Thanks a lot for the detailed explanation.

`malloc` could reuse `free`d addresses, so I see now how different calls to it could return the same address.

Ah yes, so perhaps a non-deterministic pointer that's invalid, i.e. either `NULL` or doesn't map to any existing object.

May be @feliperodri can comment on this. He was debugging some s2n issue. (I was just digging deep into the bug report.)

[2021-04-21 20:24] feliperodri commented on #6045
@tautschnig The problem is that checking for nullness is not enough to make sure a pointer is valid. Take a look at the following example:
Command line: `cbmc main.c --malloc-may-fail --malloc-fail-null --pointer-primitive-check --trace`
[code]
I'd expect this assertion to fail, because for `len == 0` the pointer might be invalid. Instead, I get a `pointer outside dynamic object bounds in R_OK(ptr

[2021-04-21 20:45] feliperodri commented on #5955
They could be very useful when dealing with pointers and we often tried to use them, but fell in their pitfalls. So, targeting them here wouldn't solve the vacuity problem, but it'd at least help users to not apply them in the wrong context unintentionally.

I think this is unnecessary for now, because we already perform coverage checking in proof harnesses.

 I like this idea. This would make cle

[2021-04-21 20:53] SaswatPadhi commented on #5955
+1. I like it too. This is exactly what I was trying to say when I mentioned that we should warn users about using these primitives in `assume` context.

[2021-04-21 20:55] feliperodri commented on #6045
This might not be an urgent problem. There are two important remarks here:
1. We no longer use `__CPROVER_*_ok` primitives in proofs anymore in order to make sure they are not used in negative contexts.
2. CBMC reports an error when we try to dereference a pointer previously allocated with zero. See the following example:

Command line: `cbmc main.c --malloc-may-fail --malloc-fail-null --pointer-p

[2021-04-22 12:30] tautschnig commented on #6045
@feliperodri Thank you for your further clarification! Perhaps the main point we need to work out is what exactly an "invalid" pointer is? Here are my thoughts:

What is your definition of an "invalid" pointer? As the standard prescribes that "the behavior is as if the size were some nonzero value" the pointer returned by a call `malloc(0)` must either be `NULL` or a pointer to an object of the re

[2021-04-22 13:59] feliperodri commented on #6045
@tautschnig Precisely! Take a look at the next example.

Command line: `cbmc main.c --malloc-may-fail --malloc-fail-null --trace`
[code]
In this case, CBMC considers that `ptr == INVALID-3`, take a look at the complete counterexample.
[code]

What does `INVALID-3` mean in this context? Why can't we use it to represent an invalid pointer in the `malloc(0)` case as well? AFAIK, we can still use `ptr

[2021-04-22 20:18] tautschnig commented on #6045
CBMC's encoding of pointers, at present, has three groups of object: the `NULL` object, the `INVALID` object, and all actually allocated objects. For a reason that isn't known to me, symbolic execution initializes each pointer to be pointing to the `INVALID` object (note that this is different from a non-deterministic value, and causes some confusion when afterwards trying to use `__CPROVER_assume

[2021-04-22 23:50] feliperodri commented on #5529
I'll close this for now based on @martin-cs' comment.

[2021-04-22 23:50] #5529 closed, assigned to feliperodri

[2021-04-23 01:00] feliperodri commented on #6045
@tautschnig thank you for the clarification.

1. Can we make `malloc(0)` non-deterministically return `NULL` or `INVALID`? I can see the reason why CBMC doesn't consider that a pointer could be non-deterministically assigned to any allocated object, but I don't see a problem with implementing `malloc(0)` to non-deterministically return either `NULL` or `INVALID`. This would match the definition in

[2021-04-23 09:05] sbelodon opened #6050 "solving speedup proposition"
Hello!

I was thinking how to speedup generated CNF file solving and remember that there is ANF form https://en.wikipedia.org/wiki/Algebraic_normal_form
Theoretically it can be faster because ANF can be minimized faster (Needed to delete equal terms of ANF),
besides in some cases ANF may be smaller that CNF.

Is there a possibility to add ANF generation to CBMC?
I know that there is no ANF solvers

[2021-04-23 10:20] martin-cs commented on #6050
A few thoughts...

1. Have a look at the AIG code `solvers/prop/aig`.  These work with And-Inverter-Graphs which is a popular form used by the hardware model checking folks and solvers like Bitwuzla.  They claim that it is a net improvement.  When I was working on this and using the AIGs to generate CNF I found that it took quite a bit of work to match the CNF we normally generate.  There are cert

[2021-04-23 20:28] SaswatPadhi commented on #6045
In addition to the MEM04-C page, which Felipe mentioned above, I was also looking at these slides [<http://index-of.es/Exploit/HES10-jvanegue_zero-allocations.pdf>], and they discuss various verification approaches, but I think the most relevant bits are in slides 24 -- 35.

This was exactly my confusion as well. Michael pointed me to http://cprover.diffblue.com/memory-primitives.html, which state

[2021-04-23 21:28] tautschnig commented on #6045
`--pointer-primitive-check` will only generate checks for pointers used within `pointer_object`, `pointer_offset`, `object_size`, `r_ok`, `w_ok`, `is_dynamic_object` expressions. For such pointers, however, it is perfectly possible that `--pointer-check` (elsewhere, e.g., within `dereference`) might generate similar checks.

[2021-04-23 22:00] feliperodri opened #6057 "Warnnings on assumptions that lead to vacuous proofs"
CBMC version: `develop`

Operating system: macOS Mojave 10.14.6

What behaviour did you expect: Is there a way to detect false assumptions and throw a warning whenever they appear in the formula? This could help users detect possible vacuous satisfaction.

What happened instead: No warrings. Verification succeeds.

Exact command line resulting in the issue: `cbmc main.c`
Test case:
[code]

[2021-04-23 22:00] feliperodri commented on #6057
cc. @markrtuttle @SaswatPadhi

[2021-04-24 20:58] tautschnig commented on #6057
We currently print such warnings when simplification/constant propagation results in `assume(false)` (we print `aborting path on assume(false) at <location>`). Some assumptions, however, will only be found to be unsatisfiable when invoking the solver back-end. It shouldn't be too hard to also test these for satisfiability. Is that what you're asking for?

[2021-04-24 20:59] tautschnig commented on #6057
As a side-note: I don't really understand how the provide code example relates to the question.

[2021-04-24 21:11] SaswatPadhi commented on #6057
Hi Michael,

Yes, precisely.

I don't think the posted code example highlights the real problem -- we just check `\forall cond . cond => cond`, and it should pass without any warnings.

A `__CPROVER_assume` essentially prunes the state space for the remainder of the program. We want to show a warning when this state space becomes "empty" after an assumption, because then all assertions would vacuo

[2021-04-24 23:38] DennisYurichev opened #6058 "Probably, CBMC have a hard time unwinding a loop"
CBMC 5.10.
https://yurichev.com/news/20210421_boyer_moore/
I unwound the loop manually, that helped.
(Or maybe I should try other CBMC options...)
Am I right CBMC can't unwind a loop where iterator is modified inside a body?

[2021-04-25 00:22] SaswatPadhi commented on #6057
BTW, the fix for this issue could also subsume #5955, so we may not need a separate warning for usage of `__CPROVER_r_ok` / `__CPROVER_w_ok`.

[2021-04-25 14:43] martin-cs commented on #6057
I don't know if it would help but `goto-instrument` has an option for converting asserts to assumes.  I wonder if something similar would help.  Converting `assume(X)` to `assert(X)` or maybe `assert(!X)` would allow all of the existing tools to be used to check whether the assumes were triggered / vacuous.  There might be options for `--cover` as well, for example `--cover-failed-assertions`.  Pl

[2021-04-25 23:12] SaswatPadhi commented on #6057
Yes, this is a nice idea. We could insert an `assert(!X)` right before `assume(X)` -- if the assertion turns out to be valid, then the assumption would render the subsequent assertions vacuously true.

We sometimes do that manually in our proofs, but this doesn't help us find the root cause. If we could show a warning for the exact assumption after which everything was vacuously true, that would b

[2021-04-26 08:52] tautschnig commented on #6058
Would you please share the exact command line you're using, and perhaps also the exact code? I'm assuming this is about your code variant `unsigned search_cat_BM_v1 (char *s, unsigned len)`. If that's the case, then I'd guess that the increment to `i` is input-dependent (the value of `skip` can either be `1` or `3`). Hence, the value of `i` cannot be constant-propagated, and CBMC will have to keep

[2021-04-26 09:36] DennisYurichev commented on #6058
https://yurichev.com/news/20210421_boyer_moore/files/for_GCC/BM_cat_v1.c
https://yurichev.com/news/20210421_boyer_moore/files/for_GCC/BM_cat_v2.c
I can't wait till this finish: cbmc --trace --function check -DLEN=10 -DCBMC BM_cat_v1.c
As you suggest, I can prove it using: cbmc --trace --function check -DLEN=10 -DCBMC --unwind 100 --unwinding-assertions BM_cat_v1.c
Fine, but how I can be sure 100 i

[2021-04-26 10:27] martin-cs commented on #6057
So it seems there are three possible bits of functionality here:

1. Finding reachable but vacuous / redundant assumptions.
2. Finding unreachable assumptions.
3. Finding assumptions that have no passing traces.

1. Is probably best as an option to goto-check, as you say, inserting `assert(!X)` before each assumption. 2. is an easy clone of `--cover assertion` and could be done in the coverage cod

[2021-04-29 14:17] feliperodri opened #6065 "Invariant check failed in `goto-analyzer`"
CBMC version: `develop` branch
Operating system: 18.04.1-Ubuntu

First, clone the [s2n-tls](https://github.com/aws/s2n-tls) repository.
[code]

What behaviour did you expect: No errors.

What happened instead:
[code]

[2021-04-29 14:28] martin-cs commented on #6065
Sorry to hear about this and thanks for the great bug report.  That is definitely a bug.  Does it affect CBMC as well?  Since I harmonised the preprocessing steps between them I would expect it would turn up there too.

Can you try rebuilding with `LINKFLAGS=-rdynamic` and running to get a more detailed backtrace?

[2021-04-29 14:29] feliperodri commented on #6065
AFAIK, it doesn't affect CBMC. I'll post here a more detailed report using `LINKFLAGS=-rdynamic`.

[2021-04-29 14:30] martin-cs commented on #6065
Hmmm... that is interesting.  There really should be very little that is different between these two at this stage of processing.

[2021-04-29 18:37] feliperodri commented on #6065
@martin-cs is this useful now?

[code]

[2021-04-29 19:02] tautschnig commented on #6065
@martin-cs You've obviously taken care to preserve existing behaviour when cleaning things up - from `goto_analyzer_parse_options.cpp`:

[code]

[2021-04-30 09:29] thomasspriggs commented on #5982
It is worth noting that the only external SMT2 solver we currently install in CI is Z3 and as far as I know it is only being used on a small handful of tests at the moment. Expanding the selection of SMT solvers will require CI updates in order to make them available on CI runs. I am not against adding more solvers, just noting that it will require some work to make them available and maintain the

[2021-04-30 09:51] thomasspriggs commented on #6050
I guess this could be done based on adding a new subclass of the `propt` class, if you wanted to experiment with this. The work currently being planned by cbmc developers within diffblue is currently more focused on improvements for cbmc's support for SMT solving, in an attempt to take better advantage of existing solvers. Please feel free to share your results with us if you do experiment with AN

[2021-04-30 09:51] #6050 closed, assigned to nobody

[2021-04-30 10:21] thomasspriggs commented on #6024
It seems like you have answers on the 2 versions of minisat and what is involved in using a different version. I am going to close this out for the moment, but please feel free to reopen if you have further questions.

[2021-04-30 10:21] #6024 closed, assigned to nobody

[2021-04-30 15:20] feliperodri commented on #6065
Should I assign this issue to you @martin-cs ?

[2021-04-30 17:11] thomasspriggs commented on #225
I am going to close this out, due to the length of time since there was useful discussion on this issue and due to the lack of response from the Martin. Please feel free to re-open if you think this is still relevant.

[2021-04-30 19:52] SaswatPadhi commented on #5982
BTW, I opened this draft PR: https://github.com/diffblue/cbmc/pull/6000 to run all of the regressions tests that pass with CPROVER SMT2 also with Z3. Apparently there are some tests that pass with CPROVER SMT2 backend, but not Z3.

[2021-04-30 21:02] markrtuttle opened #6072 "CBMC 5.29 performance slow down"
CBMC version: 5.24 and 5.25 (and 5.29)
Operating system: Ubuntu20
Exact command line resulting in the issue: see below
What behaviour did you expect: termination
What happened instead: nontermination

I'm experiencing a slow down with 5.29 that I can't explain.  It seems to develop between 5.24 and 5.25.  To reproduce,

[code]

The following finishes in seconds

[code]

The following does not fini

[2021-04-30 23:24] SaswatPadhi opened #6073 "Better `--trace` for `--memory-leak-check`"
**CBMC version:** 5.29.0
**Operating system:** Mac OS 10.15.7

**Testcase:**
[code]

**Exact command line resulting in the issue:**
<details>
<summary> <code>cbmc --trace --memory-leak-check test.c | tail -n 21</code> </summary>

[code]
</details>

**What behaviour did you expect:**
The trace would show the object that was not `free`d.

**What happened instead:**
The trace just reports that the as

[2021-05-02 20:24] tautschnig commented on #6072
It seems that `--pointer-overflow-check` makes all the difference here. ~I'm working out the exact commit~ It's 3acdb52dd6e07f345dbce21ad8cac826b310580d that's causing the performance regression, which made pointer-overflow checks actually meaningful at all.

[2021-05-02 22:00] tautschnig commented on #6072
I do believe that CBMC is (now) generating the correct constraints, they are just hard to solve, caused by the pointer arithmetic in lines 273 and 276 of Source/queue.c. I'll try to figure out what exactly is making it so hard to solve these.

[2021-05-03 15:51] danielsn commented on #6058
The `--unwinding-assertions` will fail if the bound is not large enough

[2021-05-04 14:30] TGWDB commented on #6065
Some notes on where we are (in no special order).

- The partial inlining is included in the code for `cbmc` and `goto-diff` but not possible to invoke, so this cannot cause a problem for these executions.
- The commit that introduced the bug is https://github.com/diffblue/cbmc/commit/6fdf17e3646ac362104b678a3814110c0a27d8a1
- The actual problem is the locations not increasing in the goto model.

[2021-05-04 16:07] tautschnig commented on #6072
My understanding based on some further experiments is that it's the multiplications in those lines mentioned that's causing the slow down. There's still some room for improvement, but there might be little we can do about this (multiplication is known to be hard).

[2021-05-05 14:48] FlorianBarrau opened #6079 "CBMC unable to verify C++ Hello World - PARSING ERROR"
**CBMC version**: 5.28.0

**Operating system**: Ubuntu 18.04

**Exact command line resulting in the issue**:
`cbmc --cpp11 -I . main.cpp`

**What behaviour did you expect**:
`VERIFICATION TRUE`, or CBMC is able to conclude.

**What happened instead**:
[code]

**C++ Code to reproduce the problem**
[code]

**Extra information**
1. `cbmc  -I . main.cpp` produce a crash, if we don't specify C++11
[cod

[2021-05-05 15:39] tautschnig commented on #6079
Thank you for raising this. We are aware of the C++ front-end needing work, partly documented via https://github.com/diffblue/cbmc/blob/develop/regression/cpp/type_traits_essentials1/test.desc.

[2021-05-06 18:15] ArenBabikian opened #6087 "NULL havoc avoidance lacks struct and array support"
CBMC version: 5.29.0
Operating system: Ubuntu20
Exact command line resulting in the issue: See below
What behaviour did you expect: n/a
What happened instead: n/a

---

This issue pertains to the implementation of a new feature for CBCM that avoids havocing NULL assignable symbols (see #6077).

Specifically, the changes proposed in #6077 only support pointer objects.
This issue indicates the lack

[2021-05-07 08:53] TGWDB commented on #5955
I propose this issue is closed as there does not appear to be a true bug here. Also since the concern of vacuous proofs is now in #6057 and the SMT aspect is in #5952 (or the upcoming SMT backend rework).

[2021-05-07 09:37] vmihalko opened #6090 "tests fail on parsing `noexcept` and `decltype` in c++17 mode"
CBMC version: 5.29
Operating system: Fedora 34
Exact command line resulting in the issue: `ctest -L CORE`
What behaviour did you expect: all tests pass
What happened instead:
`Failed test:  regression/cpp/virtual1/`
[code]
`Failed test: regression/cpp/Method_qualifier1`
[code]

The problem is with parsing the `noexcept` and `decltype` expressions.

The reason of this problem is GCC 11 uses c++17 b

[2021-05-07 14:32] SaswatPadhi commented on #5955
Sure, I am closing this issue. A fix for #6057 would also check for vacuity due to usage of memory primitives in assume context.

[2021-05-07 14:32] #5955 closed, assigned to chrisr-diffblue, TGWDB

[2021-05-07 15:40] NlightNFotis commented on #6072
@tautschnig I have identified (and verified) that the commit introducing the regression is: https://github.com/diffblue/cbmc/commit/3acdb52dd6e07f345dbce21ad8cac826b310580d

Do you see anything suspect in this commit? I will look further into that, but if you have any intuition as to what in this PR might be causing problems I would be grateful.

EDIT: Ahh, I see you had identified the commit some

[2021-05-07 15:57] NlightNFotis commented on #6072
Okay, some more info, more useful this time:

It is the change in `goto_check.cpp` that is introducing the regression:
* Without it, I see verification successful in <1s, and the number of clauses and variables are `179807 variables, 666054 clauses`.
* With it, the regression manifests and the number of clauses and variables are now `193823 variables, 743268 clauses`.

[2021-05-07 16:07] tautschnig commented on #6072
Having discussed this with @kroening, I further confirmed that the multiplications in lines 273 and 276 of Source/queue.c really are multiplications of two values that intentionally are not constant (there's no failure of constant propagation). Non-linear arithmetic is known to be expensive.

We already have support for arithmetic refinement (`src/solvers/refinement/refine_arithmetic.cpp`), which

[2021-05-07 16:17] NlightNFotis commented on #6072
I did an experiment running this with CaDiCaL as the backend solver, and the results are similar.

[2021-05-07 18:03] #6087 closed, assigned to nobody

[2021-05-10 11:13] thomasspriggs commented on #360
This issue looks to be no-longer-relevant, as we have -

- Moved to github actions rather than Travis.
- Moved the linting checks into a parallel job.

Please feel free to either re-open this issue, or open a new one if there are still linting related problems.

[2021-05-10 11:21] thomasspriggs commented on #462
The downstream redhat ticket reports that this issue was fixed in cbmc version 5.7. Therefore it would appear that this ticket is no longer needed. Please feel free to reopen if there are still problems related to this for us to resolve.

[2021-05-10 11:21] #462 closed

[2021-05-10 11:24] thomasspriggs commented on #475
Closing this issue out, as it was reported as solved by the person who originally raised it.

[2021-05-10 11:24] #475 closed

[2021-05-10 16:21] ArenBabikian opened #6105 "Improve handling of invalid pointers in assigns clause"
CBMC version: 5.29.0
Operating system: Ubuntu20
Exact command line resulting in the issue: See below
What behaviour did you expect: n/a
What happened instead: n/a

---

The current implementation of the assigns clause considers the cross product of the writeable set (all the variable to which the program may write to) and the assigns clause set (all the variables included in the assigns clause). F

[2021-05-10 18:21] ArenBabikian opened #6106 "Suport for char variables in __CPROVER_w_ok()"
CBMC version: 5.29.0
Operating system: Ubuntu20
Exact command line resulting in the issue: See below
What behaviour did you expect: Test passes
What happened instead: Test fails

---

The modifications proposed in #6077 have shown the existence of a bug in CBMC. Currently, CBMC does not support calling `__CPROVER_w_ok()` by passing a `char` object as a parameter.

This bug causes problems in the [

[2021-05-10 18:57] SaswatPadhi commented on #6105
_Just a bit of clarification:_

Validity of the writeable set cannot always be established simply during the creation of goto program. It would require symbolic execution of the function.

But the optimisation that we can perform during goto program creation is to propagate constants as much as possible and detect _some cases_ of invalid pointers (`NULL` is an obvious one, if it results out of con

[2021-05-10 19:35] tautschnig commented on #6106
@ArenBabikian It seems there is information missing that you perhaps meant to include in this report?

[2021-05-10 23:05] tautschnig commented on #2041
Closing as we by now use field sensitivity during goto-symex, which addresses exactly this issue.

[2021-05-10 23:05] #2041 closed, assigned to nobody

[2021-05-11 19:49] ArenBabikian commented on #6106
@tautschnig Yes, I have just added a more detailed description!

[2021-05-13 17:20] #1706 closed, assigned to nobody

[2021-05-13 17:20] chrisr-diffblue commented on #1706
No longer using travis for CI (several generations old!)

[2021-05-13 17:47] SaswatPadhi opened #6114 "Unsigned overflow checked for `0U - x` but not for `-x`"
**CBMC version:** 5.29.0
**Operating system:** 10.15.7

**Test case:**

[code]

**Exact command line resulting in the issue:**
[code]

**What behaviour did you expect:**
CBMC would report overflow consistently on `-x` and `0u - x`.

**What happened instead:**
CBMC does not report an overflow on unary negation `-x` but does so on `0u - x`.

[2021-05-13 17:57] SaswatPadhi commented on #6114
Tagged this as `aws-high` because the behavior is inconsistent with `0U - x`, and it might be an easy fix?

cc: @feliperodri

[2021-05-13 18:04] feliperodri commented on #6114
cc: @tautschnig

[2021-05-13 18:42] hc825b opened #6115 "Outdated documentation for `--fixedbv` commandline option and where to find more documentation for `__CPROVER_fixedbv`"
CBMC version: 5.10
Operating system: Ubuntu 20.04
Exact command line resulting in the issue: `cbmc --fixedbv test.c`
What behaviour did you expect: N/A
What happened instead: `Unknown option: --fixedbv`

Hi CBMC-dev,

It seems the command line option `--fixedbv` is removed at #2148, and the pull request says `__CPROVER_fixedbv` is the preferred way to reason with fixed-point numbers. However, the

[2021-05-13 20:03] SaswatPadhi commented on #6114
Note also that MISRA rules (which FreeRTOS projects enforce), flag unary negation `-x` but not `0U - x`.
(See: https://rules.sonarsource.com/c/RSPEC-876)

[2021-05-13 20:10] tautschnig commented on #6114
I agree that we should be consistent here. I'd probably favour adding a check for unary minus (checking that the value must be zero so as not to overflow). But that's something where I'd really like to get @kroening and @martin-cs input on.

[2021-05-14 06:11] kroening commented on #6114
Unary minus is pretty useless on unsigned arithmetic. Likely a cast to a signed type is missing.

[2021-05-14 06:12] kroening commented on #6114
We could do the "is not zero test" for completeness, but really this is just saying "rewrite your code".

[2021-05-14 09:01] #4988 closed, assigned to nobody

[2021-05-14 12:33] yum7777 opened #6124 "windows error"
Hi

i got error

[code]

[2021-05-14 12:51] TGWDB commented on #6124
Can you please provide more information. If `file1.c` in the right place? Does it `#include` other files that may be needed by `cbmc`? It would help us a lot if you can provide everything we need to reproduce the error.

[2021-05-14 13:16] martin-cs commented on #6115
Ooops.  That is a bug.

They are handled along with the other bit-vector operations rather than
there being one place that contains all of them (as with float).  For
example, multiplication is:

https://github.com/diffblue/cbmc/blob/972a993a2d5790c94b079e5c580f5529c8a0f3ab/src/solvers/flattening/boolbv_mult.cpp#L32

Divide is:

https://github.com/diffblue/cbmc/blob/972a993a2d5790c94b079e5c580f5529

[2021-05-14 16:19] #5915 closed, assigned to SaswatPadhi

[2021-05-14 19:37] yum7777 commented on #6124
Hi @TGWDB

I downloaded and tested the files in the tutorial.

Ref : https://raw.githubusercontent.com/diffblue/cbmc/develop/doc/cprover-manual/file1.c
http://www.cprover.org/cprover-manual/cbmc/tutorial/

[2021-05-14 20:33] hc825b commented on #6115
Thanks for the help and the references!

I'd like to also share some of my findings to help on the documentation.

### Overflow Check
I quickly tried out two ways to see if CBMC 5.10 (installed by apt) and CBMC 5.30.0 (installed using deb file) check overflow for `__CPROVER_fixedbv`.
First way is to just use command options `--signed-overflow-check` and `--unsigned-overflow-check`, and I don't fin

[2021-05-14 22:19] yum7777 commented on #6124
and i install Visual C++ redistributables

https://aka.ms/vs/16/release/vc_redist.x64.exe

[2021-05-14 23:36] SaswatPadhi opened #6125 "Pretty print `__CPROVER_havoc_object` in `--show-goto-functions`"
**CBMC version:** 5.30
**Operating system:** 10.15.7

**Test case:**
[code]

**Exact command line resulting in the issue:**
[code]

**What behaviour did you expect:**
Some readable expression for the `__CPROVER_havoc_object` call.

**What happened instead:**
An overly verbose debug output for the irep is printed.

**Additional context:**
We generate calls to `__CPROVER_havoc_object` when enforcing

[2021-05-17 15:05] martin-cs commented on #6115
Thanks for the feedback and sorry the fixed-point support is not more immediately usable.  As for constants...a union of an array of characters and a fixed-point number should be low-overhead.

[2021-05-17 15:57] martin-cs commented on #6114
I think the following are the relevant bits of ISO 9899:

"6.3.1.3 Signed and unsigned integers
1 When a value with integer type is converted to another integer type other than _Bool, if
  the value can be represented by the new type, it is unchanged.
2 Otherwise, if the new type is unsigned, the value is converted by repeatedly adding or
  subtracting one more than the maximum value that can be r

[2021-05-18 12:35] TGWDB commented on #6065
Fix now merged.

[2021-05-18 12:35] #6065 closed, assigned to TGWDB

[2021-05-18 14:51] NlightNFotis commented on #6124
Hi, @yum7777, the error message you shown us indicates that CBMC cannot find the file and open it for analysis.

Can you try passing the absolute file path to CBMC and tell us how it responds then? If it still fails, can you try opening the file using the absolute file path with another tool, say, `type`, to make sure that the file exists and is accessible from that path?

[2021-05-18 18:15] SaswatPadhi commented on #6114
Yes, the main thing I am pointing out in this bug report is that CBMC has inconsistent behavior on `-x` and `0u -x`. Either of these two behaviors make sense, and we should document which one of these is to be expected for `--unsigned-overflow-check`:

1. report _all_ unsigned overflows, i.e. value outside of `[0, 2^n - 1]`
  - so error on both `-x` and `0u - x`
2. report _non-trivial_ overflows,

[2021-05-19 15:06] feliperodri opened #6129 "Lack of support for CFString functions"
CBMC version: `develop`
Operating system: macOS Mojave 10.14.6
Exact command line resulting in the issue: N/A.
What behaviour did you expect: Support for [CFString](https://opensource.apple.com/source/CF/CF-635.15/CFString.c.auto.html) library.
What happened instead: `**** WARNING: no body for function __builtin___CFStringMakeConstantString`

[2021-05-19 15:37] tautschnig commented on #6129
Would you have an example using this library, including the command-line needed to use it? Also, the example would really help to understand to what level of detail this function needs to be modelled. As far as I understand, a precise implementation would have to keep around a map to ensure that the same two strings passed as argument result in the same address pointed to by the result.

[2021-05-19 16:37] feliperodri opened #6130 "Spurious malloc behavior for large allocations"
**CBMC version:** `develop`
**Operating system:** macOs Majave
**Exact command line resulting in the issue:** `cbmc main.c --malloc-may-fail --malloc-fail-null --pointer-overflow-check --pointer-check`
**What behaviour did you expect:** Consistent behaviour using malloc for large allocations.
**What happened instead:**

Consider the following example.
[code]

Running this example with `cbmc main.c

[2021-05-19 16:40] feliperodri commented on #6130
The counterexample when running `cbmc main.c --malloc-may-fail --malloc-fail-null --pointer-overflow-check --pointer-check --trace` on this example also raise some questions.
[code]

Why does CBMC have a negative number as offset in this case?

[2021-05-19 16:58] SaswatPadhi commented on #6130
IMO, the most worrying issue here is the crash. CBMC should never crash.

This PR looks related: https://github.com/diffblue/cbmc/pull/5210.
When using `--malloc-fail-assert`, as used in `regression/cbmc/malloc-too-large` introduced in this PR, CBMC doesn't crash:

[code]

[2021-05-19 17:07] feliperodri commented on #6130
Without the flag `--malloc-fail-assert`, I wouldn’t expect `[malloc.assertion.1] line 26 max allocation size exceeded: FAILURE`. `malloc` should fail to allocate a huge chunk of memory, and return NULL.

[2021-05-19 21:03] tautschnig commented on #6130
@SaswatPadhi Could you please elaborate on the following:

Which of the examples provided above results in some kind of "crash?"

[2021-05-19 21:09] tautschnig commented on #6130
@feliperodri @SaswatPadhi Thank you for the detailed report. Apart from my above question: I'll try to figure out whether there are bugs hidden in here that aren't just down to the object:offset encoding. That I'm trying to get rid of in #1086, which I'm (very slowly) making progress on.

[2021-05-19 21:21] SaswatPadhi commented on #6130
I meant when running CBMC without `--malloc-fail-assert` flag:

<details>
<summary> <code>cbmc ~/test.c</code> </summary>

[code]
</details>

May be "crash" is the wrong word here, but this does look like an internal exception or a crash ...

An assertion failure on whatever property we expect `malloc` to always satisfy, may be some size bound in this case, would be a much better output.

[2021-05-19 21:29] tautschnig commented on #6130
Ah, understood. That would be fixed by #2108, which we should perhaps merge (after rebasing) as-is and not wait for #1874 to be fixed first.

[2021-05-19 21:31] SaswatPadhi commented on #6130
Thanks for looking into this!

Yes, if #1874 is an optimization PR (which it looks like, from the title), then let's please merge #2108 first.

[2021-05-20 08:18] TGWDB commented on #1202
"[C]reated on the wrong repository.", closing.

[2021-05-20 08:18] #1202 closed

[2021-05-20 08:23] TGWDB commented on #1191
No longer reproducible.

[code]

[2021-05-20 08:23] #1191 closed

[2021-05-20 08:27] TGWDB commented on #1160
Closing as this is a feature request that is partially addressed and otherwise very old.

[2021-05-20 08:27] #1160 closed

[2021-05-20 08:33] TGWDB commented on #1148
Closing as an old feature request.

[2021-05-20 08:33] #1148 closed

[2021-05-20 08:41] TGWDB commented on #933
No longer reproducible.

[2021-05-20 09:01] #921 closed

[2021-05-20 09:06] TGWDB commented on #905
Closing as there seems to be no desire to make this change and the cost/benefit does not look optimistic.

[2021-05-20 09:06] #905 closed

[2021-05-20 10:47] TGWDB commented on #903
Closing this as old and not touched for a long time. If there is desire to reopen and do something here, see #5916 for some inspiration.

[2021-05-20 10:47] #903 closed

[2021-05-20 10:50] TGWDB commented on #896
Insufficient information to reproduce. Closing this due to age, but if the source files/reproduction information is available please reopen.

[2021-05-20 10:50] #896 closed

[2021-05-20 11:02] TGWDB commented on #878
Looks like this discussion isn't going to happen here.

[2021-05-20 11:02] #878 closed

[2021-05-20 11:07] TGWDB commented on #744
I'm closing this as a feature request that is too old and not being considered. But I don't have the context to fully understand, maybe this is already addressed/resolved. Please reopen if this is a real issue (ideally with some details on how this relates to cbmc now after 4 years).

[2021-05-20 11:23] martin-cs commented on #903
Paul McKenney @paulmckrcu does this:

http://www.rdrop.com/users/paulmck/RCU/Validation.2017.01.16a.LCA.pdf

I guess the question is whether there is a gain in having this CI'd in CBMC?

[2021-05-20 11:25] martin-cs commented on #744
Depending on what the goal is with #6131 this might be relevant.  I guess @peterschrammel is the person to ask; I don't know if his incremental branch got merged or not.

[2021-05-20 15:56] tautschnig commented on #933
Re-opening as this is still relevant (note that it's an issue when using the C++ front-end only!). Here's a slightly extended version to work around issues with `--function` and the C++ front-end:

[code]

[2021-05-20 16:29] paulmckrcu commented on #903
On Thu, May 20, 2021 at 04:23:25AM -0700, Martin wrote:

If you are talking about the CBMC verification of SRCU, if you would
like to add this, please make sure to use the kernel at the time that
it was originally introduced, which I believe is v4.11.

The problem we have with this is that the SRCU implementation changes too
quickly to reasonably keep the extraction scripts operating correctly.
Th

[2021-05-20 22:45] SaswatPadhi commented on #5986
Adding one more:

**6. Tags (e.g. `smt-backend`) are ignored in many directories**

For instance, within `regression/contracts`.
I noticed this when I added `regression/contracts/quantifiers-loop-02/test.desc` as part of #6012.

It looks like many subdirectories have their own `chain.sh` variant and at least for the `contracts` directory it wasn't straightforward for me to update the `Makefile` so

[2021-05-21 07:34] TGWDB opened #6134 "[RFC] SMT Plan"
### Executive Summary

This RFC outlines an implementation plan for adding a standard and easily switchable SMT backend to CBMC. The goal of this work is to address two main areas. The first is to improve performance of CBMC by being able to both: use (runtime) switchable SMT solvers, and be extendable to exploit different theories. The second is for CBMC to have a high quality (clean, clear, robu

[2021-05-21 07:36] TGWDB commented on #6134
Note that PR #6131 is a large part of the foundation deliverable mentioned above.

[2021-05-21 09:09] #2827 closed, assigned to nobody

[2021-05-21 09:15] TGWDB commented on #2921
Closing as no longer reproducible.

[2021-05-21 09:15] #2921 closed, assigned to nobody

[2021-05-21 13:08] martin-cs commented on #6134
Thank you for posting this; it is helpful to understand the context of
what you are trying to achieve.

I am really supportive of this idea.  If I am picking up a lot of
points it is because I really care about doing this right and helping
you avoid some of the issues I have had in working on and with SMT
solvers.  I'm happy to discuss any of this at a meeting if it would
help.

On Fri, 2021-05-21

[2021-05-23 04:49] luke-croak opened #6135 "Export DIMACS file without generating a solution"
CBMC version: 5.28.0 (cbmc-5.28.1-dirty)
Operating system: Ubuntu 20.04

I'm wanting to just export the generated formula from symbolic execution as a CNF and I don't want the the in-built solver to try and find a solution to it (for time and memory reasons). When I run CBMC with the "--dimacs" option it generates the information I want, but I believe it also makes a call to the in-built solver to

[2021-05-23 11:39] tautschnig commented on #6135
No, when invoke with `--dimacs`, no other solver is consulted. What is it that made you conclude that a solver was being invoked?

[2021-05-23 23:21] luke-croak commented on #6135
When I ran CBMC with `--dimacs` it contained the following output:
[code]
I inferred that this meant that a solver was being called to solve the CNF.

[2021-05-24 11:49] thomasspriggs commented on #6134
I think we should use `--slice-formula` instead of skipping the initialise function. It seems like a lower risk approach and moves the temporary work around from the implementation to the the tests.

[2021-05-24 11:59] thomasspriggs commented on #6134
I am of the same opinion that incremental support is important and difficult to retrofit. Indeed, this is one reason in favour of doing a large refactor / rewrite. I'd like to make an incremental example one of the earlier things we get working and test against.

[2021-05-24 14:30] martin-cs commented on #6134
Great!  It would be something really good to have.  May I suggest
starting with a solver other than Z3 as it has notably bad incremental
performance.  Also it might be worth getting more tests running with
one of the analyses that actually makes use of the incremental
interface.  At the moment I think that is:

* cbmc --paths (4 regression tests, maybe @karkhaz has some more that
are not merged ye

[2021-05-24 14:43] martin-cs commented on #6135
I can see how that could be a bit misleading but, no, that is the time spent in the "solver" which prints DIMACS.

[2021-05-24 17:19] martin-cs commented on #6090
I don't have a GCC 11 handy so is there any chance you could see if this:

https://github.com/diffblue/cbmc/pull/6144

fixes the problem.

[2021-05-24 23:53] #6135 closed, assigned to nobody

[2021-05-25 15:33] SaswatPadhi opened #6149 "Document quantifiers & code contracts support"
Just a TODO ticket to properly document the code contracts support (Felipe -> function contracts, I -> loop contracts) at some point.

As Felipe suggested @ https://github.com/diffblue/cbmc/pull/6145#discussion_r638326431, we should also document the restricted quantifier support with the SAT backend. If this is already documented somewhere please point us to it.

[2021-05-26 10:36] martin-cs commented on #6149
Yes; a page in the manual about code contracts and how to do deductive verification would be *amazing* and would be make accessible all of the great work you have been doing.

I don't think the limitations of the SAT backend are documented anywhere.

[2021-05-26 10:42] martin-cs commented on #225
@thomasspriggs : sorry I missed this.

Yes; this was resolved, in a way.  `sharing_mapt` allows us to share (CoW) objects within abstract domains.  VSD makes very heavy use of this.  The `ai_storaget` interface also allows sharing of domains between locations, although this is not implemented yet.

So, problem solved and yes, this should be closed!

[2021-05-26 19:14] feliperodri opened #6154 "Assigns clause should only check assignments over variables from the write set"
**CBMC version:** `develop` branch.
**Operating system:** N/A.
**Exact command line resulting in the issue:** N/A.
**What behaviour did you expect:** We only want to check assignments over variables from the write set. Local variables should be ignored.
What happened instead: When using assigns clause, CBMC checks for all assignments, even if they are over local variables.

[2021-05-26 20:55] SaswatPadhi commented on #6154
Context: https://github.com/diffblue/cbmc/pull/6108#discussion_r640038840

[2021-05-26 20:57] #5526 closed, assigned to feliperodri

[2021-05-28 08:44] TGWDB commented on #6057
Adding to the discussion, but also want to direct to a concrete plan for what a suitable solution would be.

I agree this seems reasonable and nice, although I'm not sure it addresses the motivation/cause that was mentioned by @SaswatPadhi  :

My interpretation of the above is the desire to see the point at which an unreachable block/path is created (perhaps regardless of the existence of assumpti

[2021-06-01 17:29] SaswatPadhi commented on #6057
Thanks for looking into this issue, @TGWDB.

I agree with your assessment that (3) above is what @feliperodri and I are looking for. Our main concern is being able to root cause "VERIFICATION SUCCESSFUL" cases that were vacuous (i.e., had no passing traces).

[2021-06-01 18:03] #4111 closed, assigned to NlightNFotis

[2021-06-03 19:04] vecchiot-aws opened #6161 "Name used in error trace is not `display_name`"
CBMC version: 5.30.0
Operating system: macOS Big Sur 11.3.1
Exact command line resulting in the issue: `cbmc --trace --xml-ui --function main /Users/vecchiot/Documents/rmc/library/rmc/rmc_lib.c main.goto`
What behaviour did you expect: LHS name in the trace for assignments match the display_name.
What happened instead: LHS name does not consistently match base_name nor display_name.

Goto file: [m

[2021-06-04 14:56] marcusgranstroem opened #6162 "Inconsistent behaviour with --pointer-overflow-check"
CBMC version: 5.15.0
Operating system: Ubuntu 20.04.2 LTS
Exact command line resulting in the issue: cbmc simple_pointer.c --pointer-overflow-check
What behaviour did you expect: VERIFICATION SUCCESSFUL
What happened instead: VERIFICATION FAILED

I am having some troubles with --pointer-overflow-check where I get reported violations when a negative index is being passed.

I use this simple program

[2021-06-04 20:32] danielsn opened #6163 "Invariant violation in boolbv_width.cpp"
CBMC version: 5.30
Operating system: OSX
Exact command line resulting in the issue:
Using this branch of RMC https://github.com/danielsn/rmc/tree/thread-lo
On this test: https://github.com/danielsn/rmc/blob/thread-lo/rust-tests/cbmc-reg/Static/fixme_thread_local.rs
[code]
What behaviour did you expect: CBMC to run on the generated file
What happened instead: The invariant violation

[2021-06-04 20:32] danielsn commented on #6163
[Archive.zip](https://github.com/diffblue/cbmc/files/6601111/Archive.zip)

[2021-06-05 00:12] #6106 closed, assigned to SaswatPadhi

[2021-06-07 10:37] TGWDB commented on #6057
I'm posting again to ensure that I have the right idea, I'm going to start planning a proper solution. At the moment the goal is to do the following.

cbmc will raise a warning when an assumption causes the current path/trace to cease to be reachable any further. The warning will be raised on the assumption that creates this unreachable point, not on any later points (that may still report verific

[2021-06-07 13:31] SaswatPadhi commented on #6057
The plan sounds good to me. I had posted this snippet above, which could be used a small regression test for this case:

[code]

Regarding the implementation, Martin suggests:

I might be missing some context regarding these coverage flags, but wouldn't `assert(!X)` always fail after `assume(X)`, even when the assumption doesn't actually eliminate all paths?
I was suggesting adding `assert(!X)` ju

[2021-06-08 06:30] martin-cs commented on #6057
On Mon, 2021-06-07 at 06:32 -0700, Saswat Padhi wrote:

It will only fail if it is reachable.  If the assumption eliminates all
paths then the assertion will pass and, in keeping with the rest of the
coverage infrastructure, it will be marked as unreachable.

To my mind this is more like checking to see whether the assumption is
vacuous.  For example:

x = 1;
assert(x == 1);
assume(x == 1);

The a

[2021-06-09 08:15] TGWDB commented on #1252
Can no longer reproduce, closing. Please reopen if you believe this is erroneous.

[2021-06-09 08:15] #1252 closed

[2021-06-09 08:17] TGWDB commented on #1309
Closing as this does not appear to be happening.

[2021-06-09 08:17] #1309 closed

[2021-06-09 08:19] TGWDB commented on #1311
Closing as suggested architectural change we're not progressing on. Please reopen if you believe this is erroneous.

[2021-06-09 08:19] #1311 closed

[2021-06-09 08:22] TGWDB commented on #1314
Closing as this appears to be an idea/architecture request that is beyond the scope of a ticket here. Observations are that some of this is done/being done anyway. Please reopen if you believe this is erroneous.

[2021-06-09 08:22] #1314 closed

[2021-06-09 08:27] TGWDB commented on #1317
Closing as a feature we're not actively working on (and have not been considering for a long time). Please reopen if you believe this is erroneous.

[2021-06-09 08:27] #1317 closed

[2021-06-09 09:15] TGWDB commented on #1361
Closing as no longer reproducible (test is gone/moved, linked in other PR not behaves correctly).

[2021-06-09 09:15] #1361 closed, assigned to nobody

[2021-06-09 09:16] #1619 closed, assigned to nobody

[2021-06-09 09:28] TGWDB commented on #1675
Closing as this does not appear to be progressing/in imminent future plans. Please reopen if you believe this is erroneous.

[2021-06-09 09:28] #1675 closed, assigned to nobody

[2021-06-09 09:31] TGWDB commented on #1680
Closing as this is not in the imminent future plans, although the idea/feature is nice. Please reopen if you believe this is erroneous.

[2021-06-09 09:31] #1680 closed, assigned to nobody

[2021-06-09 09:47] TGWDB commented on #1681
Closing as not being done imminently, please reopen if you believe this is erroneous.

[2021-06-09 09:47] #1681 closed, assigned to nobody

[2021-06-09 10:37] TGWDB commented on #1700
This appears to be have been done.

[2021-06-09 10:37] #1700 closed, assigned to nobody

[2021-06-09 10:43] TGWDB commented on #1723
Closing as no longer reproducible. Please reopen if you believe this is erroneous.

[2021-06-09 10:43] #1723 closed, assigned to nobody

[2021-06-09 10:45] TGWDB commented on #1734
Closing as feature request that does not appear imminently considered. Please reopen if you believe this is erroneous.

[2021-06-09 10:45] #1734 closed, assigned to nobody

[2021-06-09 10:50] TGWDB commented on #1752
Closing as this appears not to be followed up upon for more than three years and no example provided (`rand() == rand()` does not hold for current version of `cbmc`). If you believe this is erroneous please reopen.

[2021-06-09 10:50] #1752 closed, assigned to hannes-steffenhagen-diffblue

[2021-06-09 10:54] martin-cs commented on #1734
Also; task completed : https://github.com/model-checking/rmc/

[2021-06-10 23:11] SaswatPadhi opened #6168 "`natural_loop`s not computed correctly in presence of function pointers [blocks #5530]"
**CBMC version:** 556b4325
**Operating system:** Mac OS 10.15.7

**Test case:**
[code]

**Exact command line resulting in the issue:**

[code]

**What behaviour did you expect:**

The loop invariant would be used and unwinding wouldn't be necessary.

**What happened instead:**

The loop invariant is not used because the loop in `main` is not recognized.

Note that if we use `adder` in place of `lo

[2021-06-10 23:14] SaswatPadhi commented on #6168
cc: @feliperodri @tautschnig

[2021-06-11 01:24] feliperodri commented on #6168
cc. @chrisr-diffblue

[2021-06-11 05:52] SaswatPadhi commented on #6057
Thanks for the explanation, @martin-cs.

I think I understand how `assert(!X)` after `assume(X)` could work too. If it passes (only possible when unreachable) then the previous assumption eliminated all paths and led to vacuity.

With my suggestion of placing `assert(!X)` before `assume(X)`, if the assertion passes, then `!X` always holds at the code point, and thus `assume(X)` would be `assume(fa

[2021-06-11 08:20] NlightNFotis opened #6169 "Windows Package creation fails because of a code-signing issue."
The latest CBMC release (5.32.0) failed to produce a packaged windows installer, because of issues with the code signing tool reaching the timestamp server during code signing.

The log associated with this is at https://github.com/diffblue/cbmc/actions/runs/926031216

CBMC version: 5.32.0
Operating system: Windows
Exact command line resulting in the issue:
What behaviour did you expect: Produce `

[2021-06-11 08:59] NlightNFotis commented on #6169
It seems that the timestamp server at `tsa.starfieldtech.com` is now down (https://gist.github.com/Manouchehri/fd754e402d98430243455713efada710).

We pushed a hotfix to change it to the one recommended by the certificate issuer we are using now. The hotfix is available at https://github.com/diffblue/cbmc/issues/6170.

Once the hotfix is merged, we will make a new minor release so that we can get u

[2021-06-11 09:26] martin-cs commented on #6057
As I (meant to) suggest earlier, I would go with the forms that can most easily be integrated into `goto_check` or the coverage instrumentation https://github.com/diffblue/cbmc/issues/6057#issuecomment-826717178

[2021-06-11 11:06] martin-cs commented on #1314
Quite a lot of this was implemented with the introduction of the `INVARIANTS` and various clean-ups associated with it.  There is still work to be done on this area though.  I guess it depends how you feel about issues that are "This would be good to do at some point".

[2021-06-11 15:36] NlightNFotis commented on #6169
We have now made release https://github.com/diffblue/cbmc/releases/tag/cbmc-5.32.1 which contains a Windows `.msi` installer.

We have also pushed PR https://github.com/diffblue/cbmc/pull/6172 which retries different timestamp servers in that step in case of failure of one.

[2021-06-14 09:12] NlightNFotis commented on #346
Apologies, I am unable to reproduce this issue (given that it also depends on a number of includes that have not been provided as part of this report).

Given that this is a very old issue and a number of changes have happened to both z3 and cbmc, I'm going to go ahead and close the issue for now.

If you do find that this remains to be an error, please let us know, and we'll reopen and investigat

[2021-06-14 09:12] #346 closed

[2021-06-14 09:24] NlightNFotis commented on #409
Hi.

I can see that the code triggering this issue is still there, but it's worth noting that we are currently working on a reworked SMT backend. It's still some way off achieving feature parity with the old one, but going forward it's going to become the default SMT backend once it becomes more feature rich.

So while this is a problem for now, we do not anticipate this exact issue is going to pl

[2021-06-14 09:33] NlightNFotis commented on #498
I have tried to reproduce this and I wasn't able to (the `UNINIT` enum element is no longer present in `symex_targett::assignment_typet`).

I will be closing this issue for now, but if you find that this is still a problem, please go ahead and reopen the issue and we will investigate further.

[2021-06-14 09:33] #498 closed

[2021-06-14 09:38] NlightNFotis commented on #501
This appears to be fixed.

`cpp/Decltype2` is a test marked `CORE` and running on CI, passing.

As I'm unable to reproduce this, I will be closing this issue for now. If you believe this issue persists, please feel free to reopen it and we will investigate further.

[2021-06-14 09:38] #501 closed

[2021-06-14 10:15] thomasspriggs commented on #309
We have been unable to reproduce this error.

[2021-06-14 10:15] #309 closed

[2021-06-14 14:21] TGWDB commented on #1924
Closing since I guess this is no longer happening. Please reopen if you believe this is erroneous, or have the mythical python implementation working.

[2021-06-14 14:21] #1924 closed, assigned to nobody

[2021-06-14 14:27] TGWDB commented on #2012
Closing as (most?) are now fixed.

[2021-06-14 14:27] #2012 closed, assigned to nobody

[2021-06-14 14:34] NlightNFotis commented on #6169
PR #6172 is now merged, so I will consider this issue as closed for now.

[2021-06-14 14:34] #6169 closed, assigned to NlightNFotis

[2021-06-14 20:15] #6125 closed, assigned to SaswatPadhi

[2021-06-15 09:23] JonasKlamroth opened #6178 "JBMC cant handle aliasing"
JBMC version: 5.32.1 (cbmc-5.32.1-10-gb84b37dea)
Operating system: Ubuntu 20.04.2 LTS
Exact command line resulting in the issue: ./jbmc Test --function Test.test
What behaviour did you expect: Verification should fail because of the "assert false"
What happened instead: Verification was sucessful

Above information are the result given the following content of Test.java:
[code]

I assume this is t

[2021-06-15 10:30] NlightNFotis commented on #6178
Paging @tautschnig @kroening who might know more about this.

[2021-06-15 10:53] peterschrammel commented on #6178
This is a known issue, and there are currently no concrete plans to fix this.
In the meanwhile, you can work around it by encoding the desired behavior yourself, e.g.
[code]
and then run `jbmc Test.entryPoint`.

[2021-06-15 15:52] #5840 closed, assigned to nobody

[2021-06-15 15:54] NlightNFotis commented on #5840
https://github.com/diffblue/cbmc/pull/6018 has now been merged, which should have fixed this issue.

@vmihalko Can you check now and tell me if the problem persists? I'll look further if so.

[2021-06-17 14:52] JonasKlamroth commented on #6178
Thank you for the workaround.

I thought about trying to implement this myself. Can you estimate the complexity of this endeavor? If you think it can be done with reasonable effort: Can you point me to a good place to start?

[2021-06-18 11:34] martin-cs commented on #6168
That's horrible :-\

Conjecture : your problem is here:

https://github.com/diffblue/cbmc/blob/0ae6010a4e3977e591d9f4dd6029f6cfc6dc4508/src/goto-programs/cfg.h#L397

`cfgt` is called by `cfg_dominatorst` which is called by `natural_loops`.  It fails to detect an edge and thus it is not a loop.

Fixing it at the source is ... going to be unpleasant, ironically for the same reason that this bug happ

[2021-06-18 13:24] martin-cs commented on #6178
Complexity : Assuming you have a reasonable level of familiarity with the code / this kind of tool then the changes are not actually that difficult in this case but the general case is probably a bit harder.  Configuring it could be a little tricky.

Plan of attack...

1. Get comfortable building cbmc from source.  `export CXXFLAGS="-O0 -g"; export LINKFLAGS=-rdynamic;` is your friend.  So is `rr`

[2021-06-18 13:33] JonasKlamroth commented on #6178
Thank you. I will take a look at it.

[2021-06-21 13:30] TGWDB commented on #5977
I've had a quick look into this and am updating with some preliminary information (and welcome to guidance/feedback if there is anything you can recommend).

A look at the documentation for SMT2 logics [here](https://smtlib.cs.uiowa.edu/logics.shtml) indicates that there is no SMT2 theory that supports quantifiers over bitvectors. This is unfortunate and may cause some issues, but more details bel

[2021-06-21 13:36] martin-cs commented on #5977
( Note that the list of logics on the website is somewhat out of date and the list of benchmark collections http://smtlib.cs.uiowa.edu/benchmarks.shtml is probably a better view of the state-of-the-art, although most people have adopted the 'automata' approach to the naming of logics and it will all change in a month or so with the release of SMT-LIB 3.0. `ABVFP` is probably what you want if you a

[2021-06-21 13:47] TGWDB commented on #5977
Sadly `ABVFP` is not the right answer (details below), but I'll try some others and update.

Some data from trying `ABVFP` with excess cut:
[code]

[code]

[code]

[2021-06-21 14:03] TGWDB commented on #5977
Some more updates for possible logics to try with `z3`. I checked the list of logics from the benchmarks and tried all the ones the had `BV` in them (and not `QF`):
[code]

So of the ones listed on the website only `UFBV` appeared possible to try for `z3`. Results for testing below.

[code]

Nothing unusual in the above, but when I tried to run it in `z3` from the command line I ended up killing i

[2021-06-21 19:57] thomasspriggs commented on #6005
Firstly, there is a slight misunderstanding with how the cbmc options are working here. The `cbmc --smt2 test.c` does not generate solver-agnostic (generic) SMT2 formulas. It uses the `z3` solver by default and crucially, it does so with `z3` specialisations. See `src/solvers/smt2/smt2_conv.cpp` line 108 for details of what these `z3` specific settings/feature sets are.
When using `cbmc --smt2 tes

[2021-06-22 03:36] SaswatPadhi commented on #6005
Thanks for looking into this, and for the detailed explanation, @thomasspriggs!

Yes, I am closing this issue now, since, as you said, all errors before the `unsat` error are fixed / explainable.

[2021-06-22 03:36] #6005 closed, assigned to thomasspriggs

[2021-06-22 03:53] SaswatPadhi commented on #5977
Thank you so much for taking a look at this PR, and for the detailed logs, @TGWDB!

Regarding,

Yes indeed. It looks like Z3 is having a hard time with these verification constraints!
(The BV theory with quantifiers is decidable though.)

I extracted the SMT output from CBMC, reduced it to the core verification problem, and changed the logic to `ALL`:

[code]

Z3 seems to run forever and I eventua

[2021-06-22 11:02] TGWDB commented on #5977
Further update with better usage of `cbmc` and `z3` based on detail from #6005. Without the `--z3` option the `--outfile` is generic SMT2 and this can cause errors for `z3` (details [above](https://github.com/diffblue/cbmc/issues/5977#issuecomment-865035159).)

When the `--z3` option is use with `--outfile` then we can indeed pass the files to `z3` afterwards without errors. Also (and perhaps more

[2021-06-22 14:13] SaswatPadhi commented on #5977
So currently:
- Z3 returns `unknown`, so is unreliable, on BV problems with quantifiers
- CVC4 is given QF_AUFBV, so it throws errors.

Would it be possible to specify another logic for CVC4 (and other SMT encodings, including the generic one) to allow quantifiers (at least when they are used in the C program)?

[2021-06-22 14:37] TGWDB commented on #5977
Actually `cvc4` **might** be able to handle things fine. More details below.

I tried running `cvc4` over the output files that were generated both with and without the `--z3` flag and for the logics `QF_AUFBV` and `ALL`. Details below with lots of (similar) errors removed (discussion/analysis at the end).

With `--z3` flag and logic set to `QF_AUFBV` in `cbmc`:
[code]

No `--z3` flag and with log

[2021-06-22 15:27] TGWDB commented on #5977
The linked PR number 14 above is a provisional fix that appears to work for the examples above. Output from that version of `cbmc` below:

[code]

[2021-06-22 18:27] martin-cs commented on #5977
On Tue, 2021-06-22 at 07:14 -0700, Saswat Padhi wrote:

This is semi-expected.  It can be improved by instantiation patterns
but TBH avoiding quantifiers is a better route.

If the problem includes quantifiers then this is the expected and
correct behaviour.

I would suggest switching the logic based on what you are actually
using.  You might want FP or DT in there as well, for example.

( From el

[2021-06-24 09:43] thomasspriggs commented on #5970
The error message shown here from the SMT2 solver is complaining that CBMC is attempting to get the value of an identifier, where the definition of this identifier contains a quantifier. In this case the identifier is defined as `(define-fun |B3| () Bool (forall ((|main::1::1::i!0#0| (_ BitVec 32))) (or (not (bvsge |main::1::1::i!0#0| (_ bv0 32))) (bvuge |main::1::1::i!0#0| |main::1::A!0@1#1|) (bv

[2021-06-24 11:23] martin-cs commented on #5970
On Thu, 2021-06-24 at 02:43 -0700, Thomas Spriggs wrote:

One of the reasons why the output of `(get-model)` is not standardised
in SMT-LIB 2.* is that there are cases like this where it is not
obvious what one should return.  Do you return true?  Do you return
some kind of Skolem function (a function that takes a `(_ BitVec 32)`
and gives you the value required for `|main::1::1::i!0#0|` so that t

[2021-06-24 14:55] thomasspriggs commented on #5970
There is a quick and dirty fix for some of the problems reported in this issue here - https://github.com/NlightNFotis/cbmc/pull/15
This branch would need tests, before I would raise it as a PR on the diffblue fork.

[2021-06-28 08:56] TGWDB commented on #5952
An update on this Issue, there is one real bug and one potential bug that can fix this.

The **real** bug is that the `write_footer` function was using a different approach to writing to the temporary file and in some code paths this would drop the assertions related to object size. This caused the bad SMT behaviour since key information was missing. This is fixed in [this PR #17](https://github.c

[2021-06-28 16:33] NlightNFotis commented on #6161
Hello @vecchiot-aws, I'm having some trouble extracting the requirements here. In this case:

[code]

CBMC appears to be right in the LHS, because the type is a struct, and it appears to be an assignment to it (or the first element of it). Regardless of that, I changed to code so that now, the same piece of code looks like this:

[code]

Is this closer to what you want it to be? The difference is

[2021-06-28 19:13] vecchiot-aws commented on #6161
A few things:

1) That makes sense, it was just odd that we had three identifiers for the variable in the `assignment` tag, but none of them were the ones being used, so we weren't sure where the LHS names were coming from.
2) Using the `base_name` makes sense, though what's the purpose of `display_name` then?
3) Does this mean we will lose the projections that currently appear in the LHS (e.g. `a

[2021-06-29 08:10] TGWDB commented on #5952
Update, the above mentioned [PR #17](https://github.com/NlightNFotis/cbmc/pull/17) is now the preferred solution. This resolves the issue and also passes several more regression tests (and breaks one).

[2021-06-29 08:45] TGWDB commented on #6161
Answering both of these, there are three places that some kind of name appears in the example (i.e. an assignment in the trace).

### `base_name`

The `base_name` this shows the _unscoped_ name for the symbol being assigned to. Note that here unscoped means without the full scope information, but with function scope. For example, in the code below:
[code]
the `counter` variable would have an unsco

[2021-07-05 15:33] NlightNFotis commented on #6124
Closing this as we are lacking information to move forward with this.

If you think the problem persists, feel free to reopen the issue.

[2021-07-05 15:33] #6124 closed, assigned to nobody

[2021-07-05 15:49] NlightNFotis commented on #5952
Hi @SaswatPadhi, is the fix we have provided in #6207 solving your issue?

We believe the original issue as described is mostly fixed in that PR. We have added a new PR #6212 which adds some tests based on code from this issue. The reduced test is passing successfully, while the test based on the original-post code is failing, presumably because of the `__CPROVER_r_ok` within the `assume` context.

[2021-07-08 15:28] vecchiot-aws commented on #6161
Sorry for not getting back to you sooner. This explanation is very helpful, and I think that we will be able to handle the original issue on our end by just displaying the `display_name` ourselves instead of the `full_lhs`. Thanks again for your help!

[2021-07-08 15:28] #6161 closed, assigned to NlightNFotis

[2021-07-08 21:35] danielsn opened #6219 "RFC: Language mode for Rust"
[RMC](https://github.com/model-checking/rmc) is a new Rust front-end for CBMC. Currently, it uses the `C` mode in the symbol-table. We propose adding a `Rust` mode to symbols. For now, this mode would have the same semantics as `C`, but would allow us to distinguish rust code from C code.  This is particularly important as Rust support linking C code using a FFI, which we need to support in RMC.

[2021-07-09 10:43] #6130 closed, assigned to tautschnig, SaswatPadhi

[2021-07-09 11:41] martin-cs commented on #6219
If we are adding this then it would also be good to have these for Ada for the https://github.com/diffblue/gnat2goto/ front-end which is currently also using the `C` mode.

[2021-07-09 12:41] TGWDB commented on #5970
I believe this is now fixed after #6215 as the last outstanding problem.

[2021-07-09 14:11] TGWDB commented on #5977
Returning to examine this issue now that various related bugs/limitations of the `cbmc` SMT backend are addressed, I am not sure there is a good solution to this issue (unless a significant effort is involved and even then it might be unclear).

To summarise the current state of `cbmc` and SMT interactions:

1. `cbmc` currently relies heavily on bitvectors and related theories in the SMT output.
2

[2021-07-09 14:46] TGWDB commented on #5977
Tiny update, we already see `unknown` in the results from `z3`. #6221 is created to handle this more gracefully. So to some extent we are already dealing with uncertainty from the solver and treating as `ERROR`.

[2021-07-09 16:59] kroening commented on #6219
The expected pattern for this (Rust or Ada) is to set up a separate executable, with specialised command-line options. The executable then registers the relevant languages using the `register_language` API.

Look at `jbmc` as an exemplar.

[2021-07-09 17:20] martin-cs commented on #6219
Both of them use the `json_symtab` language which is already supported.

[2021-07-09 18:01] martin-cs commented on #6219
I guess more generally; for languages that are using the `json_symtab` interface, what should `mode` be set to?  `gnat2goto` (and I think `RMC`) both lie and set the mode to "C".

[2021-07-12 03:14] feliperodri commented on #5525
https://github.com/diffblue/cbmc/pull/6185 solves this issue.

[2021-07-12 03:14] #5525 closed, assigned to feliperodri

[2021-07-12 08:53] TGWDB commented on #2848
Fixed in #6205

[2021-07-12 08:53] #2848 closed, assigned to nobody

[2021-07-12 09:06] TGWDB commented on #2170
Closing as this appears to not longer be producible (using regression example from #2185 although the associated code seems to have moved or changed since then). If you believe this is erroneous of have a working example please reopen and post the example.

[2021-07-12 09:06] #2170 closed, assigned to nobody

[2021-07-12 09:08] TGWDB commented on #2183
Closing this as a feature request that seems not to be of interest at the moment (also I suspect there are still users who parse the text output).

[2021-07-12 09:08] #2183 closed, assigned to nobody

[2021-07-12 13:09] TGWDB commented on #2746
Closing as this can no longer be reproduced.

[2021-07-12 13:09] #2746 closed, assigned to nobody

[2021-07-12 13:10] TGWDB commented on #2745
Closing this issue as extremely old and specific. If this particular problem is still an outstanding issue for some current project please reopen and update.

[2021-07-12 13:10] #2745 closed, assigned to nobody

[2021-07-12 13:25] TGWDB commented on #2696
Closing as I can no longer reproduce this crash.

[2021-07-12 13:25] #2696 closed, assigned to nobody

[2021-07-12 15:00] vmihalko commented on #5840
Hi, Sorry I wasn't able to look at this, because of exams at my university.
The problem is now solved - CBMC builds without errors.
Thank you!

[2021-07-12 18:35] martin-cs commented on #5840
@vmihalko Thanks for getting back to this and I hope the exams went well.

[2021-07-12 22:22] martin-cs opened #6223 "Front-ends and modes in symtab2gb"
I don't yet have a reproducer for this issue but it seems that there is a design / architectural problem.

1. `symtab2gb` only loads the `json_symtab` language:
https://github.com/diffblue/cbmc/blob/665abf7ab7c75d411cec4e24a9487bfa38bab9a1/src/symtab2gb/symtab2gb_parse_options.cpp#L115

2. It calls linking.  The error reporting of linking calls `from_type` which uses the mode of the symbol:
`linki

[2021-07-13 11:49] luke-croak opened #6224 "Missing Explanation for Clauses"
**CBMC version:** 5.28.0
**Operating system:** Ubuntu 20.04.2 LTS

**Exact command line resulting in the issue:** `cbmc example.c --write-solver-stats-to out.json`

**What behaviour did you expect:** For every clause an explanation of what part of the program the clause was generated from.

**What happened instead:** Some clauses had no corresponding explanation in the "out.json" file which indica

[2021-07-13 12:46] martin-cs commented on #6224
Thanks for this.  There are a few extra things that are added to the clause set, like "at least one assertion must be reachable and false".  I don't know how `--write-solver-stats-to` handles these.  I tend to use `--show-vcc` and `--slice-formula` when doing this kind of optimisation work.  A quick scan down the output with `--slice-formula` looks about right to me.

[2021-07-13 17:27] peterschrammel commented on #6219
a. I'm with @martin-cs on this one: `json_symtab` shouldn't be a 'language', but it should have 'mode' property.
b. The issue is that `register_language` registers a front-end implementation for handling certain input files, which is a slightly different concept than 'language'.
c. Having a separate executable is preferable if language-specific options are required or the command line is adapted t

[2021-07-14 09:22] TGWDB commented on #6219
Taking into account the comments and discussion above, would a reasonable choice be as follows.

To support the handling of rust in displays and mixed input (i.e. a goto binary comprising of a mixture of `C` and `rust`:

1. Extend the `json_symtab` "language" to have a `mode` property.
2. Support (at least) `json_symtab` `mode`s for `ID_C` and `ID_Rust`.

Then for semantic differences between the

[2021-07-14 09:31] TGWDB commented on #5952
@SaswatPadhi Is this still an outstanding issue for you? We're aware that the SMT backend does **not** solve the original problem correctly, but also aware that this may be related to the problems with using `__CPROVER_r_ok` in an `assume` context with SMT. Other related problems have been fixed (incorrect object size behaviour due to footer writing issues in #6207 and related regression test now

[2021-07-14 11:37] martin-cs commented on #6219
@TGWDB I agree with splitting this in two (getting the correct `mode` and then how and where you do language-specific things) and with the general principle that `mode` should be correct (i.e. we should have `ID_C`, `ID_cpp`, `ID_java`, `ID_rust`, `ID_ada`, etc.).  However may I raise a few concerns with your plan:

1. The mode is compared to the output of the `id()` method:
https://github.com/dif

[2021-07-14 16:43] SaswatPadhi commented on #5952
Hi @NlightNFotis, @TGWDB,
Sorry that I didn't see the comments on this thread earlier.

I have been working on a fork that uses patches from #6207 and this (pointer size calculation) hasn't been an issue for me. As you mentioned, the original test case on this bug report is probably blocked due to r_ok being used in assume context. But if @thomasspriggs' minimal example above, which doesn't use r_

[2021-07-15 07:58] TGWDB commented on #5952
Glad to hear it is fixed for you now. I'll close the issue.

[2021-07-15 07:58] #5952 closed, assigned to SaswatPadhi, NlightNFotis, TGWDB

[2021-07-15 19:59] vecchiot-aws opened #6229 "Output of `goto-instrument --dump-c` doesn't have function headers for `nondet_<type>()`"
CBMC version: 5.34.0 (cbmc-5.32.1-183-gc50985444)
Operating system: macOS Big Sur v11.4

Exact command line resulting in the issue:
`goto-cc test.c -o test.goto; goto-instrument --dump-c test.goto > test-dump-c.c`

`test.c`:
[code]

What behaviour did you expect: A function header is generated for all functions which don't have one.

What happened instead: A function header is generated for the un

[2021-07-15 20:22] SaswatPadhi opened #6230 "Commit `cd1ec89b` breaks proofs"
**CBMC version:** `develop` (currently 06c563a7)
**Operating system:** Mac OS / Linux

**Exact command line resulting in the issue:**
We don't have a "small" example yet, but here is a broken proof harness from s2n:
[code]

**What behaviour did you expect:**
This harnesses can still be verified after updating CBMC.

**What happened instead:**
CBMC crashes with an invariant violation:

[code]

**Ad

[2021-07-15 20:40] SaswatPadhi commented on #6230
cc: @feliperodri @jimgrundy

[2021-07-15 20:42] martin-cs commented on #6230
My apologies; I approved #6194 .  This looks like a crash caused by a knock-on effect of one of these changes rather than directly in the code.  If I had to speculate I might guess the change from `unbounded_arrayt::U_NONE` to `unbounded_arrayt::U_AUTO` might be it.  If you have a moment to test, you could try just reverting that.

It feels like it should be safe to revert this and attempt the PR

[2021-07-15 20:51] SaswatPadhi commented on #6230
Thanks @martin-cs!

Yes, reverting to `unbounded_arrayt::U_NONE` from `unbounded_arrayt::U_AUTO` indeed fixes this crash.

[2021-07-15 21:08] SaswatPadhi opened #6231 "Check flags are not respected within quantified expressions"
**CBMC version:** 5.34.0
**Operating system:** Linux

**Test case:**

[code]

**Exact command line resulting in the issue:**

[code]

**What behaviour did you expect:**

`NULL` and invalid pointer issues would be checked within both assertions.

**What happened instead:**

`NULL` and invalid pointer issues are checked within first assertion but not the second. Commenting out the first assertion re

[2021-07-15 21:08] SaswatPadhi commented on #6231
cc: @feliperodri

[2021-07-16 09:56] martin-cs commented on #6230
https://github.com/diffblue/cbmc/pull/6232 reverts just that part of #6194 and should do as a hot fix.  If you have a test case that triggers the problem, that would be a great addition to the patch.  My guess is that it is something that involves an unusually large or sort-of dynamically sized array.

[2021-07-16 15:33] martin-cs commented on #6231
https://github.com/diffblue/cbmc/blob/06c563a76589ed00cc372d68e2819880537977b2/src/analyses/goto_check.cpp#L1565

is the problem but the fix is non-trivial because you may need the assert in side the range of the quantifiers which doesn't work because you can't have an `instructiont` inside an `exprt`.  Of the top of my head I think you might have to create a copy of the quantified expression and

[2021-07-16 15:50] martin-cs commented on #6231
Of course, this is just the tip of the iceberg as what happens if the checks are from the side that is bounding the range, for example `0 <= i && i < *p`.

[2021-07-16 16:23] martin-cs commented on #6229
This might be a little bit of a fiddle because functions whose names start with `nondet_` are treated specially by CBMC.  Have a look at:

[code]

In the later the function call has been removed.  This happens during `goto_convert` (going from symbol-table to goto-program):

https://github.com/diffblue/cbmc/blob/06c563a76589ed00cc372d68e2819880537977b2/src/goto-programs/builtin_functions.cpp#L891

[2021-07-17 00:32] feliperodri opened #6235 "Replace with contracts - havoc entire array content"
CBMC version: develop (current 06c563a76589ed00cc372d68e2819880537977b2)

Operating system: N/A.

Exact command line resulting in the issue:

`goto-cc *.c -o main.gb && goto-instrument main.gb main-mod.gb --replace-all-calls-with-contracts && cbmc main-mod.gb`

[code]

What behaviour did you expect:
[code]

What happened instead:
[code]

We need to havoc all contents of an array.

[2021-07-19 10:52] TGWDB commented on #3152
Closing as the noted PRs are now closed/merged and it is unclear that this is outstanding. Please reopen if you believe this is erroneous.

[2021-07-19 10:52] #3152 closed, assigned to danpoe, chrisr-diffblue

[2021-07-19 11:16] TGWDB commented on #3304
Closing as this code seems to be long gone. Please reopen if you believe this is erroneous (ideally with a pointer to where the new instance of this is).

[2021-07-19 11:16] #3304 closed, assigned to romainbrenguier

[2021-07-19 11:19] TGWDB commented on #3427
Closing as the benchmarks are no longer available and so cannot reproduce. Please reopen if you believe this is erroneous/with a link to an appropriate example.

[2021-07-19 11:19] #3427 closed, assigned to nobody

[2021-07-19 12:41] TGWDB commented on #3435
Closing as the benchmarks are no longer available and it is unclear if this can be reproduced. Please reopen if you believe this is erroneous/if you can show a current example.

[2021-07-19 12:41] #3435 closed, assigned to nobody

[2021-07-19 12:42] TGWDB commented on #3436
Closing as the benchmarks are no longer available and it is unclear if this can be reproduced. Please reopen if you believe this is erroneous/if you can show a current example.

[2021-07-19 12:42] #3436 closed, assigned to nobody

[2021-07-19 12:45] TGWDB commented on #3574
Closing as very old suggested architectural idea, please reopen if you believe this is erroneous and this should be acted upon.

[2021-07-19 12:45] #3574 closed, assigned to nobody

[2021-07-19 14:33] martin-cs commented on #3435
Is
https://github.com/sosy-lab/sv-benchmarks/blob/99d37c5b4072891803b9e5c154127c912477f705/c/loop-floats-scientific-comp/loop4.i
the first of the benchmarks?  SVCOMP has been reorganised a bit but the same benchmarks are likely still available.  ( See also #3436 and #3427 )

[2021-07-20 02:10] SaswatPadhi commented on #6231
Thanks for taking a look, @martin-cs. I thought about this a little bit more along the same lines as you proposed above.

For the unbounded quantification case, which is only handled by the SMT solver, we would have an expression of the form:

[code]

As you suggested above, could we instrument it to:

[code]
where `pred_SAFETY` is a conjunction of all the additional safety predicates introduced b

[2021-07-20 08:47] chrisr-diffblue commented on #6223
While its not the _biggest_ problem in the world, it does seem that adding more 'language modes' to json_symtab_language makes it an increasing maintenance burden over time (e.g. harder to add sensible invariants, easier for language specific implementation details to leak into dark corners of code, etc). I think I prefer the proposals in #6219 personally (see comments I'm about to add there...)

[2021-07-20 08:53] chrisr-diffblue commented on #6219
I think I agree with most of the points raised by @peterschrammel @TGWDB and @martin-cs - in particular, I do quite like the idea of splitting `languaget` into explicit "front-end/reporting" and "output/reporting/mid-end/back-end" - that I think enables `json_symtab` to remain a fairly focused, language-agnostic "intermediate representation" rather than having bits of ad-hoc language specific know

[2021-07-20 09:31] martin-cs commented on #6231
Sounds reasonable.  I wish there were a more straight-forward way of doing this but I am not immediately seeing what it would be.  I guess that if the quantifier is inside an expression, so...

[code]

then that will have to be copied as well.

Thinking about it, there is s simpler but less desirable approach which is to convert the quantifiers into loops.  But I don't think you want to go that ro

[2021-07-20 09:36] martin-cs commented on #6219
@TGWDB any feel for a time-frame on this one?  If it is soon then I won't merge #6233

[2021-07-20 15:03] SaswatPadhi commented on #6231
Yes, we are writing these quantified predicates within contracts for functions and loops, so loop-ifying them wouldn't be possible there. For generic assertions, we could though.

[2021-07-20 16:20] feliperodri commented on #5530
We should only update `checked_for_looped_malloc` once issue https://github.com/diffblue/cbmc/issues/6168 is resolved.

[2021-07-20 16:50] jimgrundy opened #6238 "Add flag to check pointer validity only for those pointer primitives that lack defined semantics for invalid pointers"
CBMC version: 5.34.0
Operating system: N/A

The CBMC Manual section on “Memory Primitives / Detecting potential misuses of memory primitives” (http://cprover.diffblue.com/memory-primitives.html#autotoc_md108) ends with the following text:

"While the first three primitives [__CPROVER_POINTER_OBJECT, __CPROVER_POINTER_OFFSET, and __CPROVER_same_object]  have well-defined semantics even on invalid p

[2021-07-20 17:15] feliperodri commented on #6238
We need to be careful while using these primitives in assumptions (see https://github.com/diffblue/cbmc/issues/6057). Instead of creating a new flag, we might want to consider updating the behavior of these primitives to properly handle invalid pointers (see the discussion https://github.com/diffblue/cbmc/issues/6045#issuecomment-824334506). For instance, consider the following code snippet:
[code

[2021-07-20 17:16] feliperodri commented on #6238
cc. @SaswatPadhi

[2021-07-20 18:36] jimgrundy commented on #6238
Sorry, didn't mean to close this issue, just close a comment window I had open. I'll get used to this interface.

Above, "__CPROVER_assume(__CPROVER_same_object(a, b));" may be insufficient to cause "b" to be a valid pointer, since while this constrains the object-id component of the pointer it does not constrain the offset component, and -ve offsets are used mark invalid pointers (from what I rea

[2021-07-20 18:49] jimgrundy opened #6239 "Add support for the "check disable" pragma to disable the pointer-primitive check"
CBMC version: 5.34.0
Operating system: N/A
Exact command line resulting in the issue: cbmc main.c --pointer-primitive-check
What behaviour did you expect:

Running this program, I expect the analysis to pass, exactly as it does if I don't include the "--pointer-primitive-check" on the command line.

[code]

What happened instead:

CBMC version 5.34.0 (cbmc-5.34.0-dirty) 64-bit x86_64 macos
Parsing

[2021-07-21 19:41] vecchiot-aws opened #6241 "`goto-instrument --dump-c` does not propery generate for `rol` or `ror` operators."
When working on a `--dump-c` for the Rust Model Checker, we are running into issues with `rol` and `ror` not being generated properly into C code.

CBMC version: 5.34.0 (cbmc-5.32.1-183-gc50985444)
Operating system: macOS Big Sur v11.4

Exact command line resulting in the issue: `symtab2gb test.json --out test.goto; goto-instrument --dump-c test.goto > test.c`
with [test.json](https://github.com/d

[2021-07-21 19:46] vecchiot-aws commented on #6241
In case it helps, here is the original Rust code:
[code]

[2021-07-21 20:50] danielsn commented on #6219
@martin-cs I also like the idea of splitting into front-end and back-end parts.

[2021-07-21 20:50] vecchiot-aws opened #6242 "`goto-instrument --dump-c` produces invalid code when parameter name overlaps with local variable name"
When two local variables have the same base name, --dump-c automatically uses the unique name for all (except the first) variables in that scope to avoid name conflicts. However, this does not consider function parameter names at the moment.

CBMC version: 5.34.0 (cbmc-5.32.1-183-gc50985444)
Operating system: macOS Big Sur v11.4

Exact command line resulting in the issue: `symtab2gb test.json --ou

[2021-07-21 21:24] martin-cs commented on #6230
#6232 has been merged and https://github.com/diffblue/cbmc/pull/6243 adds your test case. Please confirm whether this is fixed.

[2021-07-21 21:28] SaswatPadhi commented on #6230
On my simpler example and the s2n harness, the fix works as expected. Thanks!

@jimgrundy could you please retry the s2n harness that had contracts (since I don't have it).

Should we keep this issue open until we figure out why `cd1ec89b` introduced this crash (and why reverting to `unbounded_arrayt::U_NONE` fixed it)?

[2021-07-21 21:44] martin-cs commented on #6230
@SaswatPadhi I would rather further investigations and changes to the array handling were on a separate issue because I think there is a non-trivial amount of work to do there.  If the break is resolved then I would suggest closing this issue (but, by all means, open another one on the topic).

[2021-07-21 21:47] SaswatPadhi commented on #6230
Thanks, makes sense. I would check with Jim and we can close this issue by EoD tomorrow if this is fully resolved (most likely it is).

[2021-07-21 21:51] martin-cs commented on #6242
Good find; thank you for the bug report.

[2021-07-22 06:07] #6224 closed, assigned to nobody

[2021-07-22 08:11] luke-croak opened #6245 "Displaying SSA Conversion"
CBMC version: 5.28.0
Operating system: Ubuntu 20.04.2 LTS

I've found that I'm able to display the SSA conversion of a program by adding the option `--write-solver-stats-to`. However this has much more information than I'm wanting. Is there a simpler option for just displaying the SSA conversion done by CBMC? I'm trying to understand how CBMC converts to SSA (in particular where it places the phi

[2021-07-22 08:36] martin-cs commented on #6245
Have you tried `--show-vcc`?  That will give you the end result of the conversion.  Failing that, increasing the `--verbosity` level will give you a log of the SSA as it is working.  phi nodes are placed eagerly when control-flow paths merge.

[2021-07-22 09:20] martin-cs opened #6247 "Please can someone who has access fix the codecov reports"
I tagged one regression test as needing the `smt-backend`.  codecov says:

[code]

https://github.com/diffblue/cbmc/pull/6244#issuecomment-884550320

This is clearly nonsense.  Please can someone fix it?  Or, if that is not possible, can it at least not be a blocking part of the CI?

[2021-07-22 09:31] NlightNFotis commented on #6247
Last time I ported CI jobs, there were two (semi-competing) codecov jobs, submitting to reports to the same endpoint, which would create the effect of seeing one report come out fast and then changing to a more accurate one after an hour or something, when the second one was submitted.

After I ported the codecov job, I made sure to kill the two scripts submitting reports, and now we only have one

[2021-07-22 09:40] martin-cs commented on #6247
When it works it is really really valuable so I am in favour of keeping it.  The problem is that given a report, there is no way to tell whether it is accurate / complete.  I don't have the access or the time to fix it.  I would love it if someone else did.  Often I find with this kind of thing, it is worth spending a small amount of time to have an initial look and to work out what would need to

[2021-07-23 22:23] jimgrundy commented on #6238
Daniel's take on this is that, in fact, these three predicates dot no act correctly when used on invalid pointers, and so that issue here is not that we should have a new flag that would allow them to be so called, but rather that we should fix the documentation to say that they cannot.

[2021-07-25 00:30] luke-croak commented on #6245
Yep, `show-vcc` works!

I'm still confused by the phi nodes. From my understanding phi nodes are only inserted when there is a possibility of referring to different instances of the same variable due to an assignment that occurs along different paths. However, in CBMC (in some cases) it generates a phi node for a variable referenced in a guard and in other cases it does not. It seems to be that wh