[2022-06-23 18:08] #5267 closed, assigned to nobody

[2022-06-23 18:08] #5268 closed, assigned to nobody

[2022-06-23 20:31] eleehiga commented on #6953
@tautschnig No problem and that sounds good. But what do you mean by "assignment/equality that doesn't have the expected constant on the right-hand side"?

[2022-06-23 21:07] eleehiga opened #6966 "`break` statement does not break from loop"
For the following code:
[code]
Running the command `cbmc test.c --function test_harness` will infinitely repeat a line like `Unwinding loop test.0 iteration 580 file test.c line 16 function test thread 0`. I thought that this would go to the `break` statement but it appears that it does not. As when I comment out the `while` and `break` statement in the code above the assertion will hold that the

[2022-06-24 07:18] tautschnig commented on #6953
CBMC will stop unwinding a loop when it can determine that the loop condition necessarily evaluates to false. The only way that CBMC, at present, can do so is when this evaluation can be completed by the combined application of constant propagation and algebraic simplification. Therefore, it will be necessary that whatever contributes to the loop condition, for example a loop counter, evaluates to

[2022-06-24 07:39] tautschnig commented on #6966
It seems algebraic simplification did not consider the case of string constants when doing pointer comparison. Fixed in #6967. (Running this example with `--unwind 2 --unwinding-assertions` always produced the correct result.)

[2022-06-24 12:54] #6735 closed, assigned to nobody

[2022-06-24 13:52] eleehiga commented on #6953
@tautschnig I understand and I will look for this, thank you.

[2022-06-24 21:39] #6966 closed, assigned to nobody

[2022-06-25 02:03] #6943 closed, assigned to SaswatPadhi, remi-delmas-3000

[2022-06-27 15:19] eleehiga commented on #6966
@tautschnig and @kroening Thank you guys for making this change.

[2022-06-27 16:12] eleehiga opened #6973 "Request for advice about how to verify a function like `int main(int argc, char *argv[])`"
Currently I am trying to verify this function:
[code]
However, I am unsure how to test this with inputting parameters for main. Therefore was wondering how I can verify this function with inputting the parameters for main?

[2022-06-27 18:36] tautschnig commented on #6973
Would `goto-instrument`'s `--model-argc-argv` perhaps do the trick for you?

[2022-06-27 19:11] eleehiga commented on #6973
@tautschnig I think so but I was wondering where can I find more information about how to use this?

[2022-06-27 19:21] feliperodri opened #6974 "No file or function name when reporting memory leak"
CBMC version: 5.57.0 (cbmc-5.57.0)
Operating system: macOS Monterey 12.3.1
Exact command line resulting in the issue:
1. Download/clone the branch [reproduce-error-memory-leak-report](https://github.com/feliperodri/s2n/tree/reproduce-error-memory-leak-report);
2. Enter directory `s2n/tests/cbmc/proofs/s2n_array_free`
3. Run `make`
4. Open HTML report in `s2n/tests/cbmc/proofs/s2n_array_free/report

[2022-06-27 20:14] feliperodri commented on #6974
cc. @markrtuttle

[2022-06-27 20:38] tautschnig commented on #6973
There's just `goto-instrument --help` at present, which says that you need to give the maximum number of arguments you'd like to model. Apologies that we don't have more than that little piece of documentation at the moment. So it would be:
[code]
to emulate 0, 1, 2, 3 arguments.

[2022-06-27 20:48] eleehiga commented on #6973
@tautschnig No problem but for the `main` function I first posted, when using the command `goto-instrument --model-argc-argv 2 a.out` (before this command I did run `goto-c test.c`) there is the output:
[code]
Where would I put `__CPROVER__start`?

[2022-06-27 21:51] tautschnig commented on #6973
Unless there is a bug (which I wasn't able to reproduce) this very much looks like you've done `goto-cc -c test.c` (note the `-c` option) instead of `goto-cc test.c`.

[2022-06-27 23:46] jimgrundy opened #6975 "Crash on type error"
CBMC version: 5.60.0
Operating system: MacOS 12.3.1 (intel)
Exact command line resulting in the issue: cbmc test.c
What behaviour did you expect: not a crash
What happened instead:
[code]

Suppose I forgot the order and type of main's argc/argv arguments and instead used this wrong test.c:
[code]
That's all it takes

[2022-06-28 09:41] tautschnig commented on #6974
@SaswatPadhi provided a nice idea in #6073 that would make for a more informative trace, although it would still not produce the actual source of the allocation.

[2022-06-28 14:07] eleehiga commented on #6973
@tautschnig Thank you turns out I was verifying the wrong code and now I am able to verify the right code and it works out how you said it would. However, I was wondering, is there a way to specify what inputs to go into the main function's arguments like trying to input `1` for the code in my first post?

[2022-06-28 15:21] markrtuttle opened #6978 "Coverage generates incomplete source location"
CBMC version: 5.53.1
Operating system: Red Hat 7.3.1-13

Create the file main.c
[code]
and run
[code]
and notice that in the output
[code]
the line `main.c::5` is missing a function name as the second component.  I'm not sure what name makes sense here, but prior to this example it has been an invariant that source location information reported in coverage data included file, function, and line nu

[2022-06-28 15:24] SaswatPadhi commented on #6974
It's been a while since I looked at memory leak traces, but when I was last looking at it, the object id was being reported. As @tautschnig said above, it doesn't point to the source line for the allocation, but it's possible to figure that out by scrolling up in the trace.

For instance, in the example I reported in #6073 if we add a `leaked` at the end, then it points to the object (`dynamic_obj

[2022-06-28 16:30] feliperodri commented on #6974
@tautschnig @SaswatPadhi Shall we close this issue and keep the #6073 open with this feature request?

[2022-06-28 17:55] tautschnig commented on #6973
See #5965 for a discussion on how to implement/accomplish this (there's also a PR linked that sought to provide this feature). In absence of a working implementation, and depending on your precise verification workflow, you might either create a separate harness that sets up `argc` and `argv` appropriately, or use `--model-argc-argv` and then add assumptions in your `main` function.

[2022-06-28 18:27] SaswatPadhi commented on #6974
I believe we can, unless we want that bug report to be about automatically adding a `leaked` variable at the end of the main function, and this bug report to be about something more -- somehow presenting the source location for the allocation pointed to by `leaked`.

[2022-06-28 19:00] feliperodri commented on #6974
Already tracked at https://github.com/diffblue/cbmc/issues/6073

[2022-06-28 19:00] #6974 closed, assigned to nobody

[2022-06-29 06:15] Jerry-zhxf opened #6979 "`__CPROVER_object_slice` and `__CPROVER_object_from` are used in the loop specification and have some problems."
CBMC version: remi-delmas-3000:contracts-object-slice
Merged Link: [CONTRACTS: Support object slices in assigns clauses](https://github.com/diffblue/cbmc/pull/6814)
Operating system: Ubuntu 20.04
I found that cbmc started to support assigns of a specific length. And I saw a example to use it.
![image](https://user-images.githubusercontent.com/36923038/175896589-536fc21b-6a73-44bf-8b0a-acdda081ee89

[2022-06-29 13:50] eleehiga commented on #6973
@tautschnig I understand, probably will do the harness method, thank you.

[2022-06-29 14:19] tautschnig commented on #6948
@PeterMacGonagan Would you have further requests on this case or is it ok for us to close this issue?

[2022-06-29 15:39] remi-delmas-3000 commented on #6979
Hi, thank you for reporting this issue. We have identified the issue and will be woking on a fix in the next few days.

[2022-06-29 21:04] celinval opened #6983 "CBMC aborts path exploration when it cannot resolve a function pointer"
CBMC version: 5.60
Operating system: Ubuntu 18.04
Exact command line resulting in the issue: `cbmc main.c`
What behaviour did you expect: I expected that at least one of the assertions in this code would fail.
What happened instead: CBMC verification is successful.

This is the test case I created.

[code]

When I run `cbmc main.c`, I get the following:
[code]

If I add `--pointer-check` there is

[2022-06-29 21:16] tautschnig commented on #6983
The argument type and parameter type are not compatible, so this isn't defined behaviour in the C standard. (I will therefore also remove the "soundness" label from this issue.) CBMC does not currently think that `fn` is a reasonable candidate here, but we could fix this by extending function-pointer discovery rules to also accept cases where one type is `T` and the other is `struct { T }`.

If yo

[2022-06-29 21:19] celinval commented on #6983
Why is it adding an `assume(false)`? Shouldn't the behavior at least mirror the behavior chosen by the user for missing functions?

[2022-06-29 21:28] tautschnig commented on #6983
Fair point, though it's harder for us to produce a warning here.

[2022-06-29 21:33] celinval commented on #6983
In Kani we use `assert-false-assume-false` for missing functions. Would that be possible here?

[2022-06-29 21:58] fzaiser opened #6984 "CBMC silently omits invalid struct field in GotoC output"
I discovered this bug working on Kani, in particular the bug https://github.com/model-checking/kani/issues/1243 with @danielsn. Kani there tries to create a struct with a field of type `code`, which is not allowed in C because a function cannot be stored directly in a struct but has to be behind a pointer. The symbol table correctly records this invalid field type, but the GotoC output (produced w

[2022-06-29 22:15] jimgrundy commented on #6983
Questions:
- Do we need to introduce the weaker pointer conversion rule Michael suggested above, perhaps as an option for use with the Rust front end.
- CBMC seems to have a "closed world" approach for resolving function pointers, namely that the set of options it knows about is the full set of options. This is perhaps not good when verifying library code that will be placed in richer contexts lat

[2022-06-30 09:37] #6978 closed, assigned to nobody

[2022-06-30 09:38] #5227 closed, assigned to nobody

[2022-06-30 09:40] tautschnig commented on #6984
This would have been fixed by #6892 already, just waiting for code reviews.

[2022-06-30 11:56] tautschnig commented on #6983
1. If rustc generates function pointer calls that involve type conversion as in the provided example then it might be more suitable for Kani to use `goto-instrument --value-set-fi-fp-removal` (once #6985 has landed). Or just wait for #6463, which delays function pointer resolution until symbolic execution. Both approaches use value sets (points-to sets) rather than a type-based choice.
2. I am wor

[2022-06-30 12:17] #6846 closed, assigned to nobody

[2022-06-30 23:30] celinval commented on #6983
I actually don't think we need to. The use case I had in mind was to simplify our code generation, but we can (and should) just respect the C spec. My main problem is with the fact that CBMC just assume(0) at the else branch. This can lead to soundness issues if we encode anything incorrectly.

That's exactly what we need. I think it would make a lot of sense to just pick whatever encoding the use

[2022-06-30 23:40] celinval commented on #6983
I think there is a soundness issue, but it might be related to `--drop-unused-functions`. Using the same test in the example above. The following commands succeed even with `--pointer-check`.

[code]

[2022-07-01 07:15] tautschnig commented on #6983
Oh, yes, in that case you'd have to use `--pointer-check` with `goto-instrument --drop-unused-functions`, because that stage will do the function pointer removal already.

[2022-07-01 10:48] tautschnig commented on #6983
#6987 now implements the proposed approach of introducing a dummy function (the behaviour of which you can configure when using `--generate-function-body` after having done `--remove-function-pointers`).

[2022-07-05 08:29] elsonkurian1991 opened #6990 "[QUESTION] Initializing large arrays"
Let us suppose I have a large array and that I need to initialize it with inputs. It seems that the only way to do it is by explicitly initializing every member, e.g.

    int x[100];
    __CPROVER_INPUT("x[0]", x[0]);
    ...
    __CPROVER_INPUT("x[99]", x[99]);

It would be nicer to do something like:

    int x[100];
    char name[10];
    for (int i = 0; i < 100; ++i) {
        sprintf(name, "

[2022-07-05 08:53] tautschnig commented on #6990
Would you mind expanding on what you are trying to accomplish with this initialisation? I'd like to add two observations that make me ask this question:
1. The built-in is `__CPROVER_input`, not `__CPROVER_INPUT`.
2. If you use just `int x[100];` without any further initialisation it will be set to non-deterministic values, and that might be all that you need?

[2022-07-05 08:54] tautschnig commented on #6948
Closing, please do not hesitate to re-open if further questions arise.

[2022-07-05 08:54] #6948 closed, assigned to PeterMacGonagan

[2022-07-05 09:12] elsonkurian1991 commented on #6990
1. Yes, it is __CPROVER_input, it was a typo.
2. Just setting the 100 ints to nondeterministic input values is not enough, we need to give each input a distinct name. At the end of the analysis we need CBMC to generate test cases, and CBMC test cases use the name parameter of __CPROVER_input to identify the different values.
3. It is unclear to me one thing: If declaring a variable without assigni

[2022-07-05 09:17] FlorianBarrau opened #6992 "Arrays badly displayed in the counter-example trace when using `__CPROVER_input` or `__CPROVER_output`"
## Short Description
CBMC version: **CBMC version 5.56.0**
Operating system: **64-bit x86_64 linux**

When we define arrays as I/O using the CBMC API, the counter-example is badly displayed. It works fine for structs, but for arrays it seems not recognized. See below more details.

## How to reproduce
Exact command line resulting in the issue: `cbmc --unwind 16 main-issue.c --trace --xml-ui`

**ma

[2022-07-05 09:24] tautschnig commented on #6990
Ok, so if you're doing test-input generation and you want to use `--show-test-suite` then `__CPROVER_input` is the right way to go (the sole purpose of `__CPROVER_input` is to report an input value, see https://www.cprover.org/cprover-manual/api/). There are three possible next steps:
- You just use the trace to generate input (perhaps consider building upon https://github.com/tautschnig/fshell-w2

[2022-07-05 09:28] tautschnig commented on #6992
See also the discussion at #6990 just moments ago. There isn't really anything obviously wrong in what `__CPROVER_input` is doing here (`arr` is equivalent to `&arr[0]`), but we may wish to add some heuristics to infer that the user actually wanted the array content.

[2022-07-05 10:48] PeterMacGonagan commented on #6948
Thank you for your answer. I was on another projects.

What's the meaning of !0@1, please? Is it thread?

[2022-07-05 12:04] tautschnig commented on #6948
[...]

With apologies for this being buried among other documentation: http://cprover.diffblue.com/group__goto-symex.html#static-single-assignment briefly explains these levels; yes, this is the thread and the function, respectively.

[2022-07-05 21:14] markrtuttle opened #6994 "Source location missing from array initialization in error trace"
CBMC version: 5.60.0
Operating system: MacOS

Define the file `test.c`
[code]

Run the command
[code]

Examine the file `trace.xml` and notice that the allocation of `str` has a source location but the assignments of the initial values to the array components to their initial values are missing their source locations.
[code]

[2022-07-06 13:02] #6994 closed, assigned to nobody

[2022-07-06 14:17] danielsn opened #6997 "Document MMIO behaviour"
Currently, there is no documentation for how `mmio` works and what its semantics is. Anyone using `mmio` will need documentation.

[2022-07-06 22:45] akshayutture opened #6998 "History variables treated as function calls with side effects within quantified expressions"
**CBMC version:** 5.60.0
**Operating system:** MacOS Monterey (12.3.1)

**Input file:**
[code]

**Exact command line resulting in the issue:**
[code]

**What behaviour did you expect:** Code would successfully compile

**What happened instead:** goto-cc complained that the quantifier should not contain side effects. Removing `__CPROVER_loop_old()` makes the error disappear. Hence, the issue may po

[2022-07-06 22:59] SaswatPadhi commented on #6998
Closing this as `__CPROVER_loop_old` is currently unsupported (#6302) and is expected to be compiled as a function call.

We should be using `__CPROVER_loop_entry` here, and that works as expected.

[2022-07-06 22:59] #6998 closed, assigned to nobody

[2022-07-07 03:26] adpaco-aws opened #6999 "Models for sine and cosine builtins should be more precise"
The current models for sine/cosine are too over-approximated: They return 0/1 if the argument is 0, and a nondeterministic value -1 and 1 otherwise. I think this is confusing for everyone who has used them (see an example in https://github.com/model-checking/kani/issues/1342), and they can be improved so they provide more precise results for special values the same way it's done for 0. Additionall

[2022-07-07 07:43] tautschnig commented on #6999
While I, of course, agree that those models are over-approximations: what is the bar when the implementation would be considered sufficiently precise? Asking in another way: what performance price are you willing to pay?

[2022-07-08 19:54] adpaco-aws commented on #6999
The smallest radian value defined for [f64 constants](https://doc.rust-lang.org/std/f64/consts/constant.FRAC_PI_8.html) is FRAC_PI_8 (i.e., PI/8). I believe that providing exact (pre-computed) values from [0, 2*PI] in increments of PI/8 (and symbolic intervals for any number in between) would not be too costly and a significant improvement. What do you think?

[2022-07-12 09:27] tautschnig opened #7006 "[RFC] High-level plan for documentation"
[Edited version of a comment originally posted in #7005]

My opinion (and I do by no means claim to be authoritative on this, just my own thoughts):

1. Users new to verification and with a focus on the overall process start with https://model-checking.github.io/cbmc-training/.
2. If you know what verification is about, but you better want to understand the workflow with and use of CBMC, https://m

[2022-07-12 09:34] tautschnig commented on #7006
As an implementation-level note: I do wonder whether we could use GitHub pages to host some of the documentation. At present, there is the always-failing ["pages build and deployment" job](https://github.com/diffblue/cbmc/runs/7284326850?check_suite_focus=true) that I have no idea where it originates from or how to configure it.

[2022-07-12 09:49] peterschrammel commented on #7006
We have cprover.github.io which is currently unused.

[2022-07-13 13:34] #5485 closed, assigned to nobody

[2022-07-14 09:29] tautschnig commented on #6983
#7011 at least addresses this part of the problem.

[2022-07-14 15:07] SaswatPadhi opened #7012 "Performance issue with large arrays"
CBMC version: f9bd83ec6e2199436cc12516616025154a59f82a

CBMC seems to be struggling to prove unbounded correctness under large allocations. Here is a super simplified version of a proof that I and @akshayutture are working on:

[code]

The loop isn’t doing anything interesting and the invariant is trivial. The only “expensive” operations here are the initial `malloc` and the subsequent `havoc` (fo

[2022-07-14 15:32] tautschnig commented on #7012
A bunch of comments:
1) #2108 would fix that the array theory be used automatically in such a case, and there were attempts to merge this when this should really not have happened, and indeed cannot happen, until #1874 is addressed.
2) There is a manual way of enforcing the use of the array theory via `--array-uf-always`, but this currently fails an INVARIANT when applied to the above example. Thi

[2022-07-16 01:04] SaswatPadhi commented on #7012
Here is another interesting test case from @akshayutture:

[code]

CBMC is actually _much_ slower when activating array theory in this case:

[code]

vs

[code]

[2022-07-18 22:12] #5453 closed, assigned to nobody

[2022-07-18 23:31] zhassan-aws opened #7013 "Performance with temporary variables"
CBMC version: 5.61.0
Operating system: Ubuntu 20.04

CBMC manages to solve the following program quickly:
[code]
[code]
But if I inject temporary variables:
[code]
it runs for >10 minutes without terminating.

Are there possible optimizations/reductions that would allow discovering that the two expressions are equivalent?

Such an optimization would particularly be helpful for [Kani](https://githu

[2022-07-18 23:33] celinval opened #7014 "Feature request: Add support to Poison value"
As a user, I would like to be able to verify that my program only reads initialized memory. For example, I should be able to verify that the following testcase reads uninitialized memory:

[code]
<details> <summary> CBMC's verification in the example above succeeds.</summary>

[code]
</details>

<details> <summary> While `valgrind` is able to detect an error.</summary>

[code]
</details>

For that

[2022-07-19 10:16] martin-cs commented on #7014
Thanks for the request. Double^WTriple thanks for it coming with a clear minimal test case.  A few questions to try to understand the need / functionality / implementation split...

1. Would a flag, say `--uninitialized-check` that added assertions for every potential uninitialized read be sufficient?
2. Do you want to be able to explicitly marks things as uninitialized?  If it could be done autom

[2022-07-19 10:20] tautschnig commented on #7014
Just to say that I'd also view this as 1) fix/extend `--uninitialized-check` or 2) fully implement something like shadow memory, which likely is expensive. @peterschrammel might have some ideas, and anyone else who has completely different ideas please do weigh in!

[2022-07-19 13:33] martin-cs commented on #7013
Short answer : use an SMT solver as a back-end.  Improving "constant" propagation can probably fix this case but I am not sure that it will fix everything like this.

Long answer:  If we use `--show-vcc` we can see what equations are generated.  `--slice-formula` helps remove the noise.

[code]

Let's break down what is happening a bit:

A. Symex aims to generate one equation per assignment.  Each

[2022-07-19 14:29] martin-cs commented on #6999
@adpaco-aws it sounds reasonable but i think we need to answer @tautschnig 's question.  From looking at this I think the key issues are:

1. What do you regard as "exact"?  The computation that goes float -> real -> compute in real -> nearest float?  The system implementation of sin, cos, etc.
2. What kind of accuracy do you want?  `cos(x) == 1.0` and `sin(x) == 0.0` for lots of small values of `

[2022-07-19 14:42] remi-delmas-3000 commented on #7013
For simple cases like this where a fresh variable is assigned only once and is not dirty wouldn't it be safe to propagate/substitute it in a single forward pass on the goto program, statically before SymEx ?

[2022-07-19 15:38] martin-cs commented on #7013
@remi-delmas-3000 in principle it should work but in practice I would not advise it because:

A. Adding extra passes, esp. those that mean `--show-goto-functions` is not what is processed is a non-trivial cost.
B. This is harder and more fiddly than it sounds.  @peterschrammel wrote https://github.com/diffblue/cbmc/blob/d69761e962e0181ef50c5b31c807d2514028493c/src/analyses/constant_propagator.h#L9

[2022-07-19 17:27] celinval commented on #7014
I do want to say that I understand this is a big ask and I think there are a lot of subtleties that would need to be well thought out. I just wanted to kick off the idea and I'm happy to brainstorm more on this.

My use case comes from implementing Kani; hence, having a more fine grain control would be great; for example, rust doesn't allow users to read uninitialized local variables. So checking

[2022-07-20 09:06] tautschnig commented on #7013
In addition to what @martin-cs said: I am contemplating adding a circuit cache that should pick up the equality despite the temporary variables. But ultimately multiplication is fundamentally hard, and it will always be easy to construct an example that is very hard to solve.

[2022-07-20 09:43] kroening commented on #7013
Perhaps mostly for entertainment: backwards substitution also solves problems like this trivially.

[2022-07-20 09:46] kroening commented on #7014
Take a look at Pasquale Malacaria's papers -- he has been checking properties like these with CBMC for many years.

[2022-07-20 09:52] tautschnig commented on #7013
"Cache expensive circuits for given input bvts" in #7001 now implements such a circuit cache, which indeed makes the provided example trivial to solve.

[2022-07-21 06:57] rladydpf1 commented on #7013
I have a similar problem.

CBMC version: 5.43.0
Operating system: Ubuntu 20.04
[code]
the variable 'IN' is initialized by '__VERIFIER_nondet_float()';
its CBMC result:
[code]

And this is not initialized version,
[code]
which the variable 'IN' is not initialized.
its CBMC result:
[code]

After applying the '--slice-formula' option, the reuslt was:
[code]

[2022-07-21 09:37] tautschnig commented on #6883
@NlightNFotis It seems we're in this situation once again (with the ongoing maintenance explained at https://status.chocolatey.org/issues/2022-07-18-scheduled-maintenance-chocolatey-community-repository-and-website/).

[2022-07-21 23:05] celinval opened #7022 "Is --validate-goto-model too aggressive?"
While trying to enable `--validate-goto-model`  in our regression (https://github.com/model-checking/kani/issues/957), I noticed that it checks for function pointer removal even though users might've not run this pass yet. Is that an invariant of any `goto-model`? Is there a specific moment where we should be running `goto-instrument --validate-goto-model`? Is it possible to configure the type of

[2022-07-22 15:48] NlightNFotis opened #7027 "Github Actions sunsets images based on `macOS-10.15`"
[The `macOS-10.15` image in Github Actions is deprecated since May, and scheduled for deletion by 30 Aug 2022.](https://github.blog/changelog/2022-07-20-github-actions-the-macos-10-15-actions-runner-image-is-being-deprecated-and-will-be-removed-by-8-30-22/) There's also a warning to that effect in our [latest release's CI run.](https://github.com/diffblue/cbmc/actions/runs/2713358253)

We need to

[2022-07-22 15:59] NlightNFotis commented on #7027
According to the blog post, there are more scheduled failures to raise awareness to the sunsetting of those runners, so this needs to be bumped up in priority, otherwise we're going to see intermittent failures in more of our CI runners.

[2022-07-25 18:05] zhassan-aws opened #7031 "Feature request: Update CBMC homebrew tap with every release"
Thanks for providing CBMC's [homebrew tap](https://github.com/diffblue/homebrew-cbmc)! This is now [integrated in Kani's CI](https://github.com/model-checking/kani/blob/a06136b9425affb870b5c63f300eab66b7b2f467/scripts/setup/macos-10.15/install_cbmc.sh#L17), and allows us to pin a specific CBMC version for both Ubuntu and Mac.

This might already be in the works, but is it possible to update the ho

[2022-07-25 23:17] nwetzler opened #7032 "Function contract source locations incomplete"
**CBMC version:**  5.62.0
**Operating system:**  macOS 11.6.6
**Exact command line resulting in the issue:**
Any flow that checks or abstracts function contracts.  For example,
`goto-instrument --enforce-contract coverage_abstraction_add_ten coverage_abstraction_add_ten_harness.c8.goto coverage_abstraction_add_ten_harness.c9.goto`

Here is an example using the CBMC Starter Kit (let me know if repo

[2022-07-25 23:27] nwetzler commented on #7032
Pull request that fixes issue is being submitted soon.

[2022-07-26 08:57] vedadux opened #7033 "Support for literal operator in C++ frontend"
Here is the toy example I wanted to parse:
[code]

CBMC version: 5.10
Operating system: Ubuntu 20.4
Exact command line resulting in the issue: cbmc --cpp11 main.cpp
What behaviour did you expect: success
What happened instead:
[code]

After looking into the cbmc C++ parser, It appears that the literal operator `operator""` is not implemented, although it is [part of the C++11 standard](https://en.

[2022-07-26 16:23] #7027 closed, assigned to nobody

[2022-07-26 16:26] martin-cs commented on #7014
@celinval Am happy to discuss these either here or in a call.

In my opinion checking for uninitialised variables and having poison values are rather different things.  You could use the poison values to instrument in a check for uninitialised variables in a front-end like Kani but there are A. other ways of checking variable initialised and B. other uses of poison.  Which is more important to you

[2022-07-26 19:05] tautschnig commented on #7033
Thank you for calling this out. Our C++ front-end (even in versions much more recent than 5.10) has very incomplete C++-11 support, but it does help to have a better idea of which those missing aspects are.

[2022-07-26 22:13] remi-delmas-3000 opened #7036 "__CPROVER_array_replace updates the wrong addresses"
cbmc 5.62.0 (cbmc-5.62.0-41-g4680c5f48c-dirty)

Here is the spec for the operations that I reverse engineered from comments and code:

`__CPROVER_array_set(dest, value)` overwrites all of `*dest` using the given value. So it should update `size` bytes starting from `dest` where `size` is computed as follows:

[code]

`__CPROVER_array_copy(dest, ...)` overwrites all of `*dest` (possibly using nonde

[2022-07-27 09:43] NlightNFotis commented on #7031
Hi @zhassan-aws, the tap should now contain `5.62.0` as well.

There was a small delay this release, primarily related to https://github.com/diffblue/cbmc/issues/7027 causing some issues with the action running the homebrew release, which got us a bit delayed. This should not be the case moving forward, as the runner for the PR has been moved to `macOS-11` as part of https://github.com/diffblue/cb

[2022-07-27 16:05] tedinski commented on #7031
I think that's fine. Kani releases every 2 weeks on Tuesdays, so we're usually trying to turn around the Thursday release of cbmc into the Kani release 5 days later. We can do this just fine on Monday, but it'd be nice if we could reliably do it on Friday.

Is the Friday update of the tap reasonably automated? As long as we aren't at risk of regularly discovering the tap accidentally wasn't update

[2022-07-27 22:46] markrtuttle opened #7038 "cbmc --verbosity 10 --xml-ui invariant failure"
CBMC version: 5.61.0
Operating system: MacOS 11.6.7

Create the file `main.c`
[code]
and run the command
[code]
and `cbmc` fails with
[code]

I think the problem is that `--verbosity 10` generates lines like
[code]
and the character `¬` is extended ASCII character 170 (I can't explain the 226 in the error message).  In xml.cpp, line 113 asserts the data invariant `ch > ' '` but since `ch=170` inte

[2022-07-28 02:03] piyush-J opened #7039 "Equivalence checking for Java-C or C-C"
I just started working on equivalence checking of programming languages, and I was wondering if CBMC/JBMC could be used to support equivalence checking of two C programs or Java-C programs? Or is there any other equivalence checking tool out there that uses JBMC/CBMC?

Any guidance in this regard would be really helpful for me!

Thanks in advance!

[2022-07-28 04:50] rladydpf1 opened #7040 "Performance issue with --slice-formula"
CBMC version: 5.43.0
Operating system: Ubuntu 20.04.4 LTS
Exact command line resulting in the issue: cbmc --unwind 2 --slice-formula sv-benchmarks/c/combinations/gcd_3+newton_1_4.i
What behaviour did you expect: better performace than running CBMC without the '--slice-formula' option
What happened instead:
[code]

[code]
You can find the input file: https://gitlab.com/sosy-lab/benchmarking/sv-benc

[2022-07-28 05:06] rladydpf1 opened #7041 "A bug with --constant-propagator and --dump-c"
CBMC version: 5.43.0
Operating system: Ubuntu 20.04.4 LTS
Exact command line resulting in the issue:
[code]
What happened instead:
test.c :
[code]
and test1.c:
[code]
The "assert(1);" is invalid.

and another bug case with a recursive function: https://gitlab.com/sosy-lab/benchmarking/sv-benchmarks/-/blob/main/c/recursive-simple/fibo_25-1.c
[code]
the fibo.c:
[code]
"signed int return_value_fibo=f

[2022-07-28 09:50] NlightNFotis commented on #7039
Hello, can you elaborate a bit on the meaning of

in this context?

CBMC/JBMC can be used to tell you if a program is concordant to the language's specification according to certain properties (and modulo some constraints/bugs).

If you were to have a simple translation of `.c` and `.java` file, that do more or less the same thing, then running it by `cbmc` or `jbmc` would only tell you that the p

[2022-07-28 10:42] NlightNFotis commented on #7031
Hi @tedinski,

The release process right now is *semi-automated* (semi- because of branch permissions not allowing us to programmatically make changes to files, so we need one of us to submit a PR with a version change to the config file, make a tag out of the merged PR, and the rest of it is automated). There's some documentation on how it works [here](https://github.com/diffblue/cbmc/blob/develo

[2022-07-28 12:27] tautschnig commented on #7041
My hunch is that we’re missing return-value removal before doing constant propagation.

[2022-07-28 13:54] NlightNFotis opened #7042 "Proposal of Interface between Kani/CProver tools"
Hello,

We are looking to solicit some feedback from the Kani Team for the following proposal
on future integration between Kani and CBMC.

Do let us know about any inaccuracies in the description of the status quo, or any clarifications/enhancements to the proposals.

Thank you,

---

## Current Integration between Kani and CBMC

Bulk of code of interest is under `kani/kani-driver`. The following

[2022-07-28 13:56] NlightNFotis commented on #7042
Tagging some people who might be interested in the above RFC:

@danielsn @tautschnig @feliperodri @jimgrundy

[2022-07-28 21:11] piyush-J commented on #7039
Yes, this is what I meant.

I see, that's what I thought. Thank you so much for your prompt reply! Are you aware of any such tool by any chance?

[2022-07-28 21:20] piyush-J opened #7043 "How does JBMC detect a null pointer exception?"
Hi,

Thank you for this amazing project!

I am new to the field of verification. I was curious **how does JBMC verify a null pointer exception**?

I have been using a Static Program Analysis (SPA)-based tool called [CheckerFramework](https://checkerframework.org/manual/#nullness-checker) to detect null pointer exceptions. I understand that JBMC is a Bounded Model Checker, so in simplified terms -

[2022-07-28 21:26] giltho commented on #7042
Hi,
Writing this comment as an outsider, but it could be worth writing a C API (i.e just a thin C layer on top of the current code), instead of interfacing C++ with Rust directly.
It would enable this same API to be used with a lot more different languages, and therefore possibly also by other tools?

[2022-07-28 21:35] tautschnig commented on #7042
This might require changing various classes to plain structs, and will prohibit exposing anything that uses the STL. Maybe those are blockers for Rust bindings anyhow, in which case we will have to reconsider this.

[2022-07-28 22:04] tautschnig commented on #7036
The problem here is that the assignment to `ptr` is rewritten into pointer arithmetic over `arr` (`ptr!0@1#2 == (char *)arr!0@1 + 11l`), which is not something that `process_array_expr` is ready to deal with. We'd need to teach the latter to look at the offset properly and check whether that's within a nested array.

[2022-07-29 10:17] NlightNFotis commented on #7039
Hm, I think your best bet might be something like [PLT Redex](https://redex.racket-lang.org)

[2022-07-29 14:05] martin-cs commented on #7040
Better performance is usual but not guaranteed.  There are two main reasons for this:

* The solver is applying heuristics.  It should be deterministic given the same formula and options but changing the formula changes the heuristic decisions.  Maybe the sliced one is an "unlucky" run, or maybe the unsliced one is a "lucky" formula.  This is part of why people do large scale benchmarks; to even o

[2022-07-29 14:12] martin-cs commented on #7041
Strong suggestion @tautschnig , I would not be at all surprised if that is the case.

@rladydpf1 please could you try two options, each instead of using `goto-instrument --constant-propagator`:
A. `goto-analyzer test --simplify test1 --constants`
B. `goto-analyzer test --simplify test1 --vsd --vsd-value constants`

I am pretty sure they handle return-value removal correctly so if A works, it was t

[2022-07-29 14:15] martin-cs commented on #7043
@piyush-J @peterschrammel is the expert here so I will let him answer but a small advert first : `goto-analyzer` is our abstract interpreter which will work more like the CheckerFramework.  I don't know pluggable type qualifiers but there are quite a lot of interfaces in `goto-analyzer` in which you could add code to.  Hope this is of some interest / entertainment.

[2022-07-29 15:04] martin-cs commented on #7042
@NlightNFotis this is a really well articulated plan but I feel like I am missing some context which will make it hard to C your RF.  What problem are you solving?  Is this performance?  Is this having less code to maintain?  Is this having more of the tool chain written in Rust?  Is this having a more sophisticated workflow?

Some random, out of context, thoughts:

* Before starting gnat2goto we

[2022-07-29 16:11] martin-cs commented on #7039
@piyush-J People have and do use CBMC to do whole program or whole function C-C equivalence.  Generally this is pretty simple in that you have a wrapper function that calls both, one after the other and then asserts that their outputs are equal.  You run CBMC on the wrapper and then (modulo the usual caveats about bounded verification) get any counter-examples to equivalence.  This works and Pasqu

[2022-07-29 19:03] martin-cs commented on #7042
Another thought.  If you want a cross-language API to create `goto-modelt`s, either be serialisation or by wrapping, you need an `exprt` interface.  This is probably a bigger job than wrapping / interfacing `goto-modelt` as it is very OO and so not in the "basically C" subset of C++ that is easy to interface to other languages.  @smowton 's smart idea was to auto-generate it.  I think his vision w

[2022-07-30 10:26] rladydpf1 commented on #7040
Thank you for the answer.

[2022-07-30 10:26] #7040 closed, assigned to nobody

[2022-07-30 10:50] rladydpf1 commented on #7041
[code]

It does work,
test1.c :  (Case A)
[code]

however, fibo_25-1.c has stll the same error.
[code]
fibo.c :  (Case A)
[code]

The case B does work:
[code]
fibo.c :  (Case B)
[code]

[2022-07-31 14:24] peterschrammel commented on #7039
This could also done for Java-C, maybe not fully out-of-the-box, though. After some name-wrangling with a goto-instrument pass, one could link together the goto-binaries for C, Java and the wrapper and then run CBMC to perform the verification.

[2022-07-31 14:42] peterschrammel commented on #7043
Yes, that's correct.

This is true, in principle, but it depends on the properties of the models that you use for the libraries that your code depends on. The practical situation may be quite confusing: JBMC's models library (core-models.jar) is under-approximating (up to bugs). If your code uses methods that are not part of the models then the behaviour of these methods can be a mixture of under-

[2022-07-31 20:58] piyush-J commented on #7043
Thank you so much for your prompt responses @martin-cs and @peterschrammel!

[2022-07-31 20:58] #7043 closed, assigned to peterschrammel

[2022-07-31 21:02] piyush-J commented on #7039
Thank you so much for your replies! It is really useful!

I will explore these options and come back if I have any additional queries. :)

[2022-07-31 21:02] #7039 closed, assigned to nobody

[2022-08-01 10:09] martin-cs commented on #7042
@NlightNFotis If one of your goals is to simplify the interaction between Kani and CPROVER, one option would be to write a C++ program that does (Current Integration between Kani and CBMC) steps 2 to 5 inclusive in one program.  This should be plugging together various existing APIs and should not be particularly long.

[2022-08-01 10:24] martin-cs commented on #7042
https://github.com/diffblue/cbmc/issues/6495 may also be relevant

[2022-08-01 10:26] martin-cs commented on #6851
@FlorianBarrau SARIF would be great but as @tautschnig says, if there were one or more users or system integrators who would use this it would make it much easier to test and provide extra motivation to implement it.

[2022-08-01 10:37] martin-cs commented on #7041
@rladydpf1 thanks for testing this out.  If A works but `goto-instrument` doesn't then it is probably an issues like @tautschnig suggests.  I have an in-progress patch set that deprecates the functionality in `goto-instrument` in favour of `goto-analyze`.  Would using A or (probably better) B work for you?

As regards the recursive example, there is a bug in how our abstract interpreter handles re

[2022-08-01 21:12] hflsmax opened #7053 "A bug in SMT2 converter"
CBMC version: 5.11
Operating system: Ubuntu 20.04
Exact command line resulting in the issue: cbmc --z3 alias.c
What behaviour did you expect:
Should see assertion fail without any error
What happened instead:
Saw error message
[code]

Minimal reproducible program `alias.c`
[code]

[2022-08-01 21:17] kroening commented on #7053
This works with 5.62.0 -- may I suggest an update.

[2022-08-01 21:24] hflsmax commented on #7053
Thanks. I can confirm it works on newer version.

[2022-08-01 21:24] #7053 closed, assigned to nobody

[2022-08-02 15:47] adpaco-aws commented on #6999
Hi @martin-cs, sorry for the delay in getting back to you.

To be clear, I'm not saying we use system implementations. I agree those will be too expensive.

What I'm proposing is that we extend the [current model](https://github.com/diffblue/cbmc/blob/16240afb9a855951533a57a0343b1737dd3f0168/src/ansi-c/library/math.c#L512-L527) to provide more precise results. At present, [this test](https://githu

[2022-08-02 18:09] celinval commented on #7014
That's a great question. I am leaning towards poison, which give us fine control over the analysis and it enables other use cases. That said, it would require more work on our side.

What are the trade offs on the cbmc side? Any idea which one would perform better?

Thanks!

Btw, Sorry for the late response.

[2022-08-02 18:39] danielsn commented on #7042
@NlightNFotis Would it be possible to give some (pseudocode) examples of what the initial API would look like, and what calls on it from an API consumer might look like?

[2022-08-02 18:47] danielsn commented on #7042
There seem to be questions on two time-scales:

1. What is the right long-term architecture for CProver/CBMC. The re-architecture here seems to make a lot of sense, but also sounds like a lot of potential work.  What is the expected time frame for delivering this?
2. What is the best API to export in the short-term to allow easy scriptability of CBMC. As mentioned above, a concrete set of possible

[2022-08-02 20:27] martin-cs commented on #7014
@celinval Thanks for the thoughts and no worries about the time.

Uninitialised variables : I would probably make this a two phase analysis.  I'd build on the existing `uninitialized_domaint` or implement something similar with the variable sensitivity domain.  You would have to explicitly run `goto-instrument` or `goto-analyzer` for the first part.  This would find all of the things that /might/

[2022-08-03 14:35] NlightNFotis opened #7054 "Pathological behaviour in some regression tests"
Hello,

I have noticed a strange (pathological) behaviour in total runtime of certain tests. This was the result of investigating some of the issues that the runner `check-ubuntu-20_04-cmake-gcc-THOROUGH` is currently experiencing.

I am currently unsure as to what's currently plugging that runner and it completely timeouts (is killed by Github after spending more than 6hrs running tests).

Howeve

[2022-08-03 20:25] tautschnig commented on #7054
This CI job didn’t time out until very recently, so I am wondering what change caused this slowdown.

[2022-08-03 20:41] tautschnig commented on #7054
GitHub history suggests that the changes of #6922 may be worth inspecting, but that analysis of mine could well be completely wrong.

[2022-08-03 21:20] peterschrammel commented on #7014
@martin-cs, coincidentally, [something that may help here already exists on a branch](https://www.youtube.com/watch?v=pqlbyiY5BLU) (and will hopefully get merged soon as time allows).

[2022-08-04 12:04] exokortex opened #7057 "Setting the main function name in C++ does not work"
CBMC version: `CBMC version 5.62.0 (cbmc-5.62.0) 64-bit x86_64 linux`, (also tested on 5.30.0 with the same result)
Operating system: Ubuntu 22.04
Exact command line resulting in the issue: `cbmc --function mymain mytest.cpp`
What behaviour did you expect:

This should result in cmbc using the function `mymain` as an entrypoint.

Content of `mytest.cpp`:

[code]

What happened instead:

cbmc canno

[2022-08-04 12:42] FlorianBarrau commented on #6851
@tautschnig @martin-cs
Thank you for your feedback. I understand the point.
I had requested this feature because github claims to support SARIF through [CodeQL](https://github.com/github/codeql) as shown [in this post](https://docs.github.com/en/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning).
Maybe i can add some suggestions
1. A first quick try would b

[2022-08-04 12:54] kdudka commented on #6851
We have introduced support for the SARIF format in [csdiff](https://github.com/csutils/csdiff).  So one can pipe the output of `formatCBMCOutput.py` from [cbmc-utils](https://github.com/aufover/cbmc-utils/) into `csgrep --mode=sarif` and upload its output to a GitHub pull request.  @jamacku was recently successful in using `csgrep` for producing SARIF in his [differential-shellcheck](https://githu

[2022-08-04 22:01] hflsmax opened #7058 "Loop unwinding creates undesirable aliases when SHARING is enabled"
CBMC version:5.62
Operating system:Ubuntu 20.04
Exact command line resulting in the issue:NA
What behaviour did you expect:see below
What happened instead:see below

I'm working on a project that uses CBMC to do analysis and source-to-source transformation. After loops are unwinded, `exprt` inside `instructiont` across iterations becomes aliases because SHARING is enabled. We still want SHARING as

[2022-08-05 13:54] NlightNFotis commented on #7057
Hello,

It seems you're using the C++ language frontend, which isn't maintained very well.

You might find better luck if you do the same thing against a `.c` file. I just tried that with your example code (but in a `.c` file) and it works.

[2022-08-05 13:57] remi-delmas-3000 opened #7059 "`--stop-on-fail` suppresses output of proof objectives status when analysis is successfull."
The terminal output  does not print individual PO statuses  when `--stop-on-fail` is used, making it hard to see what was actually analysed.

CBMC version: 5.62
Operating system: Linux, macOS
Exact command line resulting in the issue: `cbmc --stop-on-fail main.c`
What behaviour did you expect: status of POs printed in terminal
What happened instead:  no status printed

[code]

[code]

Without stop

[2022-08-07 02:32] hflsmax commented on #7058
We solved the problem by calling `irep::write()` to avoid sharing.

[2022-08-07 02:32] #7058 closed, assigned to nobody

[2022-08-10 14:27] jimgrundy commented on #7041
Isn't this a soundness issue? (Adding soundness label).

[2022-08-10 14:28] jimgrundy commented on #7041
Confirmed that this is an issue in the current version 5.63

[2022-08-10 14:33] jimgrundy commented on #7038
This is a real pain that has bitten a few of us recently. It's really hard to debug for the user as it gives you no hint as to where and in what file you need to find the offending character.

[2022-08-10 14:44] jimgrundy commented on #7031
Closing. Let's see if the process in place now works.

[2022-08-10 14:44] #7031 closed, assigned to nobody

[2022-08-10 15:36] remi-delmas-3000 opened #7064 "`--pointer-primitive-check` fails on `__CPROVER_r_ok(ptr, 0)` when `ptr = malloc(0)`"
CBMC version: 5.62
Operating system: linux/macos
Exact command line resulting in the issue: `cbmc --pointer-check --pointer-overflow-check --pointer-primitive-check"
What behaviour did you expect: success
What happened instead: failed proof obligations

I ran into this issue while writing a custom stub for `memcpy`, by copying the CPROVER library function and modifying it slightly :

[code]

[code

[2022-08-11 12:53] thomasspriggs commented on #7064
From an initial reading of this issue, it seems to me like it would be reasonable to say that `__CPROVER_r_ok` should return true in the case where size is zero. Meaning that it is valid to read zero bytes of memory from any memory location due to this implying that no memory will be read or address dereferenced. It also looks like it should be fairly straight forward to add this exception for a s

[2022-08-11 13:26] NlightNFotis commented on #7042
Hi @danielsn, the questions you have asked merit a bit of deliberation from our end. We aim to get back to you some time next week with answers to those.

[2022-08-11 13:41] NlightNFotis commented on #7042
Answering several points from @martin-cs comment (thanks for the detailed thoughts, Martin!)

I seem to recall seeing somewhere an `Irep` bindings generator, but can't remember if that was part of gnat2goto or something else. IIRC, and my memory doesn't falter, extending something like that to provide the `Irep` structures and APIs as headers/implementation files for various languages might be the

[2022-08-11 13:44] NlightNFotis commented on #7042
Sorry, I kind of missed this comment, and just noticed this:

https://github.com/diffblue/gnat2goto/blob/master/irep_utils/src/irep_specs_to_ada.py
https://github.com/diffblue/gnat2goto/tree/master/gnat2goto/ireps/irep_specs

Yeah, these are what I remember. I think they were kind of outdated already in 2018/2019, but maybe some investigation could be done to see if we can bring them up to speed a

[2022-08-11 13:47] NlightNFotis commented on #7042
I missed this one, too:

My personal opinion is that it's not a scalable idea, because while it might work for Kani's case, if anyone needs another tool to do those or a subset of these steps, we may need to create another binary for that.

I think long term might be a better idea if we can expose those steps as interfaces, and give leeway to external tools to mix and match calls to those as it su

[2022-08-11 14:01] TGWDB commented on #7036
Assigning this to @tautschnig since he has a PR to fix it. Please remove if this assignment is unreasonable.

[2022-08-11 14:46] thomasspriggs commented on #7042
The https://cxx.rs/ tool linked by Fotis appears to support a selection of STL types including `std::vector`, `std::unique_ptr` and `std::shared_ptr`. This would indicate that we don't necessarily need to exclude usage of the STL, at least for Rust bindings.

[2022-08-11 15:00] thomasspriggs commented on #7042
One aspect of the interface which hasn't been mentioned yet is error handling. CBMC uses C++ exceptions for user errors, where we want to be able to report the incorrect usage of CBMC. My current understanding is that Rust does not have exceptions. So these would need to be converted to a `Result<T, E>` on the Rust side of the interface.

CBMC also has invariants which currently end in a call to `

[2022-08-11 15:05] danielsn commented on #7057
Does it work if you export the harness as `extern C`?

[2022-08-11 15:05] kroening commented on #7064
__CPROVER_r_ok can be false in a couple of cases, even when the size is zero. Note that memcpy doesn't accept invalid pointers even when the size is zero.

[2022-08-11 15:18] danielsn commented on #7042
Kani currently has a Rust model of `goto` here https://github.com/model-checking/kani/tree/main/cprover_bindings/src/goto_program

[2022-08-11 17:47] martin-cs commented on #7041
@jimgrundy It is certainly a "this can trash your program and give you wrong results" bugs.

@rladydpf1 does the workaround work for you?  How urgent are the recursive examples?

[2022-08-11 18:19] martin-cs commented on #7042
It is certainly worth considering.  It might even be worth
autogenerating std_expr.h anyway just to reduce the amount of
boilerplate code.

There were a few issues but given that it pretty much works 6 years
later it is a viable approach.

Given that irept's are copy-on-write, we are not too far from this Just
Working.  If you deep copied the goto-model before the transform then
this ~should~ JFW.

[2022-08-11 18:30] adpaco-aws opened #7069 "Extracting information from property names is unreliable"
CBMC version: 5.63.0

In general, property names have the format `<function>.<class>.<counter>`. Until now, we had assumed in Kani that `<function>.` was optional, so extracting the property class was still easy enough.

Some time ago, we had a regression in Kani for detecting missing function definitions when we tried to upgrade to CBMC 5.59.0 (more details in https://github.com/model-checking/ka

[2022-08-11 18:33] martin-cs commented on #7042
@thomasspriggs makes a good point.  Often there is little that can be
done internally to recover; the code needs to be fixed.

Agreed.  This has always been a bit of an issue with the "CPROVER is a
library of components" vision.  It sort of works if it is "CPROVER is a
library of components for building your own verification tool" but not
really if it is "CPROVER is a library of components just li

[2022-08-11 19:37] martin-cs commented on #7058
Hi @hflsmax , glad to hear you got this sorted.  Calling `irept::write()` will indeed break sharing, although that is not it's intended purpose but it should solve the immediate problem.

However I am a little worried about why this was a problem at all.  There isn't a way of doing this explicitly because if `irept` is used roughly as designed you should never need to do this.  Sharing is supposed

[2022-08-12 20:03] tautschnig commented on #7069
Would you have example code exhibiting these? I would like to believe that only (1) is expected, and all others are some kind of bug that needs fixing.

[2022-08-12 21:47] nwetzler opened #7070 "Function contracts can be attached to function pointers as parameters"
CBMC version: 5.63.0
Operating system: macOS 11.6.6
Exact command line resulting in the issue:
**main.c**
[code]
cbmc main.c

What behaviour did you expect:
Expected behavior is that a parsing error should occur.

What happened instead:
Function contracts are parsed and assigned to function pointer declarators in function parameters.

[2022-08-15 21:16] martin-cs commented on #7070
This is exciting; it is using the annotation almost as part of the type.  I am not sure it is appropriate to do this at the parsing stage.  For example if I have:

[code]

Can I `foo(&baz)` because `x > 0 => x != 0`?  If so then we have to do an entailment check and that is really not viable as part of parsing.

More generally, thinking about Liskov's substitution principle, isn't what is required

[2022-08-16 09:14] JonasKlamroth opened #7071 "JBMC not creating outfile for smt backends"
Im trying to have a look at the smt2 output of jbmc for some program. However when running jbmc with "--outfile file" no file is created. In particular it seems that the smt solver e.g. z3 isnt even used when running with --z3.

CBMC version: 5.63.0
Operating system: ubuntu-20.04
Exact command line resulting in the issue: jbmc Test --function Test.m --z3 --outfile out.smt2
What behaviour did you e

[2022-08-16 15:43] remi-delmas-3000 opened #7072 "`dirtyt` analysis and `OTHER` instructions ?"
CBMC version: 5.63.0 (cbmc-5.63.0-41-g5a7a0a8801-dirty)
Operating system: macOS

`dirtyt` uses `goto_programt::instructiont::apply` to search for dirty symbols in instructions. `goto_programt::instructiont::apply`  only visits the contents of an `OTHER` instruction if its `statement` attribute is an `ID_expression` :

[code]

Since OTHER operations can also have `statement` be equal to `ID_array_s

[2022-08-16 21:25] peterschrammel commented on #7071
External SMT solvers are not supported by JBMC.
Clearly, the unsupported options (that were just inherited from CBMC) should be removed from the command line interface.

[2022-08-16 21:53] pennyan opened #7073 "xml rendering issue when encountering string "\x01""
CBMC version: 5.53.1
Operating system: linux
Exact command line resulting in the issue: cbmc issue.c --trace --xml-ui
What behaviour did you expect: Successfully generated xml file
What happened instead: Program aborted with an error

Problem program issue.c:
[code]

Last several lines of output when running `cbmc issue.c --trace --xml-ui`:
[code]

[2022-08-16 21:59] pennyan commented on #7073
Might be related #7038

[2022-08-16 22:00] pennyan commented on #7073
This issue might be related #7038

[2022-08-17 05:14] rladydpf1 opened #7074 "CBMC's counterexample (testcase) cause Floating point exception"
CBMC version: 5.43
Operating system: Ubuntu 20.04
Exact command line resulting in the issue:
[code]
What behaviour did you expect: the violation of the assertion can be reproduced (replayed) using the testcase extracted from the CBMC's counterexample.
What happened instead: "Floating point exception" occurs.

target.c:
[code]
and it's counterexample trace was
[code]
However, in __iv__gcd_test_stub

[2022-08-17 07:03] JonasKlamroth commented on #7071
ok thanks for the quick reply

[2022-08-17 07:03] #7071 closed, assigned to nobody

[2022-08-17 13:54] jimgrundy commented on #7073
Agree. This is likely the same issue as #7038

[2022-08-17 15:03] markrtuttle commented on #7069
It would be helpful to have a small example to study that is independent of kani. The json and xml output from cbmc differ dramatically in content.  For error traces, the xml output is far easier to deal with, and more complete for the things I care about.  I consider the canonical property listings to be from `cbmc --show-properties --xml-ui`.  The output of `cbmc --trace --xml-ui` does include p

[2022-08-17 15:15] jimgrundy commented on #7064
I agree with @kroening that __CPROVER_r_ok(p,0) can be false in some cases. But, also there are cases where I want (need?) it to be true. If there are ambiguous cases I would favor making them true just to the extent necessary to keep it simple while making the cases that I want to be true return true. Here is the case that I want to be true:
[code]
If this is not handled as above then it introduc

[2022-08-17 16:59] kroening commented on #7064
Yes, the above program is well-defined according to the standard. Note that you can't dereference `q`.

[2022-08-17 17:02] jimgrundy commented on #7064
Agree (can't dereference q).

[2022-08-18 10:42] martin-cs commented on #7072
Using `OTHER` for array copy and replace (rather than using builtin functions) feels like a mistake.  It certainly wasn't implemented uniformly and the handling of `OTHER` is patchy at best.  See https://github.com/diffblue/cbmc/issues/4323 for the last discussion of this.  I think I agree with the conclusion that `OTHER` should be replaced or at least minimised, especially given the growth of use

[2022-08-19 14:52] martin-cs commented on #6999
@adpaco-aws my apologies for the delay in getting back to you.

Will it affect performance : probably.
Will it affect performance in a significant way : it really depends on what assumptions you are adding.

My bigger concern is how you are picking these assumptions.  Are they properties of the mathematical sine?  The "ideal" implementation of sine (the mathematical sine rounded to the nearest flo

[2022-08-23 14:05] jimgrundy commented on #6911
We now have a version of this in a C code repository, so, not Kani specific. I'll see if we can get a version of it posted.

[2022-08-24 13:08] TGWDB commented on #7042
# Pseudocode API for parts of CBMC

Note that this is a sketch of some of the key behaviours of the API planned to allow
CBMC to be used like a library, and in particular for the Kani project. The goal of
this document is to illustrate main pieces of functionality and nevision how they
would be used. It is important to keep in mind that the details here are largely left
out since focusing on them

[2022-08-24 13:10] TGWDB commented on #7042
I'm planning on arranging a time when various stakeholders and contributors who are interested in this project can discuss (perhaps biweekly?). If you'd like to be part of this discussion please message me so I can include you in planning.

[2022-08-24 13:54] jimgrundy commented on #6983
Assigning Michael T so he can drive merging the PRs that would address this.

[2022-08-24 14:15] jimgrundy commented on #6695
Looks like this option is being removed. So removing "soundness" tag.

[2022-08-24 14:20] #7032 closed, assigned to nwetzler

[2022-08-24 14:20] jimgrundy commented on #7032
Resolved by https://github.com/diffblue/cbmc/pull/7037

[2022-08-24 14:21] jimgrundy commented on #7070
Resolved by https://github.com/diffblue/cbmc/pull/7037

[2022-08-24 14:21] #7070 closed, assigned to nwetzler

[2022-08-24 14:22] jimgrundy commented on #6997
Why is this medium @danielsn now that the allocated_memory is deprecated?

[2022-08-24 14:24] jimgrundy commented on #6997
I'm dropping "medium" as I don't know of a driving use case right now. Feel free to restore if you do @danielsn

[2022-08-24 14:26] markrtuttle commented on #6997
For the record, there is some description of the MMIO functionality in the CAV paper that added it:  https://link.springer.com/content/pdf/10.1007/s10703-020-00344-2.pdf

[2022-08-24 14:48] remi-delmas-3000 commented on #7064
Hi again. In short the core of the issue is that we produce different analysis results for the same code, triggered by values that do not cause UB:
- uses of  `__CPROVER_r_ok(p,s)` found inside a library functions like `memcpy`, `memmove`, etc. do not cause failures with `--pointer-primitive-check`,
- the exact same use of `__CPROVER_r_ok(p,s)` triggers failures when analysed as user-defined code,

[2022-08-31 14:10] #6946 closed, assigned to eleehiga

[2022-08-31 14:10] #6953 closed, assigned to eleehiga

[2022-08-31 14:11] #6955 closed, assigned to eleehiga

[2022-09-02 09:35] tautschnig commented on #7072
Notwithstanding what @martin-cs said: the changes in #7085 should be moved to the actual `dirtyt` implementation instead of code contracts rolling its own.

[2022-09-02 10:10] JonasKlamroth opened #7093 "Array assignments not working as expected"
CBMC version: 5.65.0
Operating system: ubuntu 20.04
Exact command line resulting in the issue: cbmc Test.c
What behaviour did you expect: sucessful verification
What happened instead: assertion failure

Consider the following simple program Test.c:
[code]

I would expect that a verification with and without the commented line is equally successful. However when running cbmc and the program as show

[2022-09-02 10:47] tautschnig commented on #7093
C standard (C11) 6.5.2.5: "The value of the compound literal is that of an unnamed object initialized by the initializer list. If the compound literal occurs outside the body of a function, the object has static storage duration; otherwise, it has automatic storage duration associated with the enclosing block." The array within the `if` statement goes out of scope, so you're accessing a non-existe

[2022-09-02 10:47] #7093 closed, assigned to nobody

[2022-09-02 13:34] martin-cs commented on #7072
Agree with @tautschnig .  Let's not have multiple copies of the same code again; it takes ages to de-duplicate them.

[2022-09-02 21:15] zhassan-aws opened #7095 "Ubuntu 18.04 package for CBMC 5.65.0 is missing"
![image](https://user-images.githubusercontent.com/88045115/188236345-a675118a-5944-4bc1-b015-c06f2fd0d4ec.png)

Seems it failed in CI: https://github.com/diffblue/cbmc/runs/8139333515?check_suite_focus=true

[2022-09-05 13:42] NlightNFotis commented on #7095
Hello, there seems to be a new version of `z3` installed in one of the actions that run per PR, but somehow we missed adding it to the release build job - which made it fail when the tests run.

I will fix it now, but we need to make a point release to fix that. We'll work on an ASAP basis to get it done today, to avoid any disruption to your release cycle.

[2022-09-05 17:46] NlightNFotis commented on #7095
We have now released version [5.65.1](https://github.com/diffblue/cbmc/releases/tag/cbmc-5.65.1) which contains binaries for Ubuntu 18.04.

Apologies for any disruption caused by this.

[2022-09-05 18:30] thomasspriggs commented on #7038
The 128-255 range does potentially open up a can of character encoding worms. But they certainly correspond to printable characters for (code page dependant) extended ascii or part of a multi-byte sequence for many printable UTF-8 characters. In this case I think it is the ⇔ character which is encoded as 0xE2 0x87 0x94 or 226 135 148 in decimal. This is from the line `__CPROVER_malloc_is_new_array

[2022-09-05 20:09] thomasspriggs commented on #7095
This issue should now be resolved by the provision of a new release. Please feel free to re-open if that does not meet your needs.

[2022-09-05 20:09] #7095 closed, assigned to NlightNFotis

[2022-09-06 10:27] thomasspriggs commented on #7069
Separate fields for the various different components of the property names is a far more robust solution in my opinion than trying to keep a standardised string which is then split. In particular the current style of approach has caused many problems to me in the past dealing with Java type names. For example with a Java name such as `foo.bar.baz` it isn't clear whether `bar` is a package or a cla

[2022-09-06 13:51] brenoguim opened #7104 "Unexpected assertion result with arrays of __CPROVER_bitvector"
CBMC version: 5.65.1 (cbmc-5.65.1) 64-bit x86_64 linux
Operating system: RHEL7
Exact command line resulting in the issue:

main.c
[code]

[code]

What behaviour did you expect:
Both assertions to pass

What happened instead:
Assertion on line 9 failed.

----

Since I investigated this issue, I'll leave my analysis:

To my understanding, the issue is in the `*(f1.m_array + 1)` expression. When CBMC

[2022-09-06 13:54] jimgrundy commented on #7072
So, who's moving this code then? Michael seems to be doing a bunch of stuff, should we assign Remi?

[2022-09-06 16:05] zhassan-aws commented on #7095
Thanks! Would it be possible to add the 5.65.1 version to the [CBMC brew tap](https://github.com/diffblue/homebrew-cbmc)?

[2022-09-06 16:35] NlightNFotis commented on #7095
@zhassan-aws I just added it to the tap.

Let us know if there are any further issues! Thanks for your patience.

[2022-09-06 18:33] zhassan-aws commented on #7095
Thanks @NlightNFotis!

[2022-09-06 19:47] thomasspriggs commented on #7041
I have raised this PR to handle the initial issue with remove returns - https://github.com/diffblue/cbmc/pull/7105

However I notice the doxygen for this particular constant propagator describes it as "A simple, unsound constant propagator." - https://github.com/diffblue/cbmc/blob/develop/src/analyses/constant_propagator.h#L12
Is this an indication that this constant propagator should not be used

[2022-09-06 20:02] martin-cs commented on #7041
@thomasspriggs Yes.  This is why I suggested using `goto-analyzer` specifically with `--vsd --vsd-value constants` which should be (fixable to be) sound.

[2022-09-06 20:59] remi-delmas-3000 commented on #7072
I can take the action. If things break as a result I might need help.

[2022-09-06 21:08] remi-delmas-3000 commented on #7072
Could we also consider modifying `goto_programt::instructiont::apply` to traverse all subnodes of `OTHER` instructions and not just ID_expression ?

[2022-09-07 11:19] martin-cs commented on #7072
On Tue, 2022-09-06 at 13:59 -0700, Rémi Delmas wrote:

Happy to help if needed.

[2022-09-07 11:24] martin-cs commented on #7072
Yes... unfortunately there is not a complete list of what this can be
or what the intended semantics are.
https://github.com/diffblue/cbmc/issues/4323 is my best attempt.

To be honest, I think we should just remove OTHER or at least give it a
semantics of "It is fine to ignore these" or "If you find an OTHER that
you do not recognise, it could do *anything*, including havoc and non-
termination".

[2022-09-07 13:25] tautschnig commented on #7104
Thank you very much for the extensive analysis! I'd like to call out https://github.com/diffblue/cbmc/pull/6488 as a related PR, but I don't think your example would use that piece of code, so we'll also need to fix issues elsewhere. Adding it to my list of issues to take a look at.

[2022-09-07 14:02] remi-delmas-3000 commented on #7072
Fixed by https://github.com/diffblue/cbmc/pull/7106

[2022-09-07 14:02] #7072 closed, assigned to tautschnig, remi-delmas-3000

[2022-09-07 16:16] thomasspriggs commented on #7041
Ah! Thank you for the explanation. I hadn't previously understood that your suggested alternate command line was using entirely separate code to do the constant propagation. I have a couple of further followup questions -

1. Is there a reason why we shouldn't add a deprecation / unsoundness warning to `goto-instrument --constant-propagator` today if there is a plan to replace it?
2. Would it be r

[2022-09-07 19:09] martin-cs commented on #7041
My apologies for not being clearer!

1. TBH I have two half-completed PRs which will simply remove it and give a warning with the new suggested command-line.
2. The recursion issue is A Pain.  As it can affect the values that are returned from / modified by recursive functions it is not clear that workarounds will be less work than fixing it.

[2022-09-07 19:48] thomasspriggs commented on #7073
This issue is related to https://github.com/diffblue/cbmc/issues/7038 as it is the same invariant. However the issue isn't _exactly_ the same. The other issue relates to character codes greater than or equal to 128, which are printable and non-control code characters. This issue relates to control code characters, which would be those in the range 0-31 inclusive. The codes for \n and \r are curren

[2022-09-08 12:26] kroening commented on #7104
This should yield an error message during type checking (in the same way that taking the address of bit field yields an error message). While at it, we should do the same for `__CPROVER_bool`.

[2022-09-08 14:27] thomasspriggs commented on #7038
PR https://github.com/diffblue/cbmc/pull/7109 which should address this issue has now been merged. @markrtuttle Can you confirm whether you are satisfied with the current solution so we can close out this issue?

[2022-09-08 14:46] jimgrundy commented on #7073
I would strongly endorse finding some way to continue printing XML (probably best to add in these #nnn; codings) rather than exiting ungracefully as we do now. The current experience is unpleasant for users and gives them few clues of how to move one.  I would really like to see the solution you propose implemented.

[2022-09-08 15:31] adpaco-aws commented on #7069
Apologies for the delay, @tautschnig !

We have examples of each instance in our regression suite. They are easier to identify with a few modifications on the deserializing code in https://github.com/model-checking/kani/pull/1514 (which we may to use as a temporary fix in Kani). Below I point you to some of them.

### `<class>.<counter>`

This case is the most common by far, and it looks like a hi

[2022-09-08 15:45] adpaco-aws commented on #7069
Thanks for the comment, @markrtuttle ! We might consider using `cbmc-viewer` to this end, but in my opinion it would be better to get this fixed in CBMC. It doesn't make sense that the JSON and XML outputs differ that much!

[2022-09-08 15:52] adpaco-aws commented on #7069
Thanks for the input, @thomasspriggs ! We also have this issue in Kani since mangled names may contain dots in between, which makes it harder to separate the property attributes.

[2022-09-08 17:29] jimgrundy commented on #7073
@thomasspriggs if you can do this do you want to self-assign?

[2022-09-08 17:32] thomasspriggs commented on #7073
I can work out how to make the changes needed to raise PR a for this kind of change. However I'd like to discuss the prioritisation for this piece of work with the rest of my team before I commit to it.

[2022-09-08 17:32] jimgrundy commented on #7041
Can we at least drive this as far as giving people a stern warning (and perhaps the recommendation of what to do instead). Then we could drop the "soundness" tag as our users were appropriately warned.

[2022-09-08 18:00] jimgrundy commented on #7006
I'd like to see us move to using GitHub hosted pages including GitHub hosted Doxygen output.  User and reference material is needed as well, but can we do at least this?

[2022-09-09 14:07] thomasspriggs commented on #7073
@jimgrundy I should have time to work on this next week.

[2022-09-09 15:34] thomasspriggs commented on #7041
I have raised a PR solely to add the warning. I haven't included information in the warning about alternatives because (A) Symex already performs its own constant propagation by default and (B) Martin's suggestion of using `goto-analyzer test --simplify test1 --vsd --vsd-value constants` also needs fixing for the recursive case.

[2022-09-09 15:57] tautschnig opened #7112 "Rendered doxygen is out of date and needs further work"
This is a specific aspect of #7006: unless we decide to abandon doxygen in favour of some other documentation approach, the following need to be addressed:

- [ ] http://cprover.diffblue.com is out of date (as can be seen by comparing http://cprover.diffblue.com/md__home_travis_build_diffblue_cbmc_doc__a_d_r_release_process.html and its source https://github.com/diffblue/cbmc/blob/develop/doc/ADR/

[2022-09-09 15:58] tautschnig commented on #7112
Pinging some people here: @NlightNFotis @jimgrundy @remi-delmas-3000

[2022-09-09 15:59] jimgrundy commented on #7112
Also pinging @markrtuttle

[2022-09-09 16:02] jimgrundy commented on #7112
It seems like the natural place to host documentation for github.com/diffblue/cbmc is diffblue.github.io. Unless... deep breath, we want to think about moving github.com/diffblue/cbmc over to github.com/cprover/cbmc, but maybe we can contemplate that for later and for now do diffblue.github.io

[2022-09-10 20:14] tautschnig commented on #7038
Thanks you @thomasspriggs for fixing the bug that I had introduced! I had just failed to take into account signedness.

[2022-09-10 20:15] #7038 closed, assigned to markrtuttle

[2022-09-11 19:33] martin-cs commented on #7041
#7120 also resolves this problem by removing the functionality completely.

[2022-09-11 19:36] martin-cs commented on #7041
@thomasspriggs please forgive me if I am telling you things you already know but both the constant propagation and `--vsd --vsd-value constants` will be broken in some recursive cases because the issue is in common code. VSD should be strictly less broken than the constant propagator.

[2022-09-12 11:26] thomasspriggs commented on #7041
That was also my understanding. I am happy to have confirmation that our understandings match.

I have yet to work on the variable sensitivity domain code (or the abstract interpreter). However I am interested in learning, so that I can help maintain it, given that it is merged into the CBMC repository. My intuition is that back edges of loops and recursive functions calls will represent similar c

[2022-09-12 12:36] martin-cs commented on #7041
AI/VSD : I will be doing an onboarding session soon-ish for one of our new recruits, will be in person but have an online "you are welcome to join in", drop me an e-mail if you want to be on the invite list.

Loops/Recursion : yes, at some formal level a loop is just a degenerate case of a recursive function, so, yes they are conceptually the same problem.  However at the level that the abstract i

[2022-09-12 12:39] martin-cs commented on #7006
To me it is more important that the documentation is accessible and up-to-date (including making it as easy as possible for developers to keep it up to date) and covers both external / user and internal / developer needs, than what form it takes.  I am willing to support any proposal / plan / suggestion / layout / split that achieves this.

[2022-09-12 13:54] jimgrundy commented on #7041
If you have room for more folks to join in do let us know and maybe some folks might travel from further afield to join.

[2022-09-12 21:39] #6973 closed, assigned to nobody

[2022-09-13 09:04] TGWDB commented on #7042
Just a ping to those who are watching - we'd like to progress on the next steps ASAP. If you have comments/examples from Kani's current usage, or expectations/desires, please update here.

[2022-09-13 13:43] jimgrundy commented on #7042
@danielsn what is the status on providing feedback?

[2022-09-13 19:11] markrtuttle commented on #7006
I'm working on a proposal to publish documentation from github.com/diffblue/cbmc to diffblue.github.io/cbmc.

The publication part is easy.  If you look at my [cbmc-documentation](https://github.com/markrtuttle/cbmc-documentation) copy of cbmc, and if you look at the develop branch there, you can see a [training](https://github.com/markrtuttle/cbmc-documentation/tree/develop/doc/training) director

[2022-09-13 19:13] markrtuttle commented on #7112
See comment https://github.com/diffblue/cbmc/issues/7006#issuecomment-1245848220 for some discussion.

[2022-09-13 22:12] jimgrundy commented on #7006
This sounds like great progress. I guess we need to resolve the warnings, or at least have a plan for resolving the warnings (which could involve farming the work out to various people to clean up certain files), but I'm excited.

[2022-09-15 21:06] feliperodri opened #7135 "Empty reason for "Invalid User Input" error from --restrict-function-pointer"
CBMC version: 5.65.1 (cbmc-5.58.1-391-gf3f0044f5d)
Operating system: macOS Monterey 12.5.1
[code]
Exact command line resulting in the issue: `goto-cc example.c -o example.goto && goto-instrument --restrict-function-pointer fun_ptr.function_pointer_call.1/foo example.goto example-inst.goto`
What behaviour did you expect: An explanation for the misused of `--restrict-function-pointer`.
What happened

[2022-09-16 14:22] danielsn commented on #7042
I am reviewing our requirements with the Kani team and will have feedback beginning of next week

[2022-09-16 20:01] pietrobraione opened #7138 "[QUESTION] controlling the degree of parallelism in CBMC"
We are doing some experiments with multiple CBMC instances running concurrently on a multi-core machine. As I understand CBMC parallelizes its work across multiple threads. To make our experiments more reproducible we would like to be sure that, when a CBMC instance runs, it may use at most N cores, with N fixed. Is there a way to configure that?

[2022-09-17 09:15] tautschnig commented on #7138
At present (though this may change in future), CBMC does _not_ use multi-threading (unless you choose to use a solving back-end that itself uses multiple threads), unless you are making use of the script added in #6895.

[2022-09-19 18:29] brenoguim commented on #7104
In my application I need the `__CPROVER_bitvector` to be addressable, so I have incentive get creative to break the code even if array elements are not addressable as suggested by @kroening .

See this second example:
[code]

We get:
[code]

This indicates some adjustment still needs to be done, either in the size of the array as whole, or by adding some padding between the array and `bar`.

[2022-09-20 09:17] #7036 closed, assigned to tautschnig

[2022-09-20 14:46] NlightNFotis commented on #7006
I really like Mark's approach on his repository, and I think this is the way forward for now - it allows us to get some documentation up quick, and allows us to iterate to start improving it.

A couple of things I have found out during my research:

1. The `\ref` warnings need to be examined (and fixed?) over time - they might be because of stale documentation, or because of some missing Doxygen c

[2022-09-20 14:57] rladydpf1 opened #7147 ""__CPROVER_printf()" doesn't support '%ld", "%hd" and "%Lf""
CBMC version: 5.43
Operating system: ubuntu 20.04
Exact command line resulting in the issue: cbmc --trace test.c
What behaviour did you expect:
[code]
What happened instead:
[code]

test.c:
[code]

[2022-09-21 09:57] TGWDB commented on #7042
@danielsn We're half way through the week now and I'm not aware of any updates here or on the linked Kani issue. We'd like to move on this work ASAP, should we wait on you or continue anyway?

[2022-09-21 10:22] thomasspriggs opened #7148 "Out of memory problem during trace printing for CaDiCaL builds on Ubuntu 18"
A test was switched to THOROUGH in this PR - https://github.com/diffblue/cbmc/pull/7134
I have managed to reproduce the error seen in the associated github runner but on a local non-github machine. The machine I reproduced the issue on has 16gb of RAM and the input java for the test in question looks at least superficially straight forward. Doing some initial debugging shows that the out of memory

[2022-09-21 10:32] kroening commented on #7148
Can you dump the expression given to simplify that triggers the unbounded recursion? This should be fixed.

[2022-09-21 11:23] thomasspriggs commented on #7148
Ok, I have now attempted to use `irept::pretty` to dump the expression. However this moves the unbounded recursion into `pretty` instead. So there is presumably a cycle in the expression. The top level `.id()` is "array", but I'll need to write more custom printing code to pull out anything more useful from what now seems to be a malformed expression.

[2022-09-21 19:24] danielsn commented on #7042
Thanks for the detailed proposal.  We should have a larger discussion about next-steps/milestones, but to start this looks like a great first step towards the 1.0 goal of supporting with the API the same use-cases we have with command-line.
We have a few questions/concerns:

1. We would like to have access to the same level and immediacy of information we get by running CBMC at present.  In partic

[2022-09-22 10:03] JonasKlamroth commented on #6579
I have a question regarding the `--throw-runtime-exceptions` option. As i understand it this option when provided treats runtime-exceptions as in a normal program flow java would do. However when testing this hypothesis it turns out that exceptions are still being treated as "unhandled" even if thats not the case. Consider the following minimal example:
[code]
JBMC detects an uncaught exception. S

[2022-09-22 13:10] tautschnig commented on #7147
Note to self: this requires extending `printf_formattert::process_format` to handle length modifiers.

[2022-09-22 13:22] tautschnig commented on #7112
I believe this can be closed once 1) #7149 is merged and 2) the gh-pages publication is enabled. The latter requires action from people with admin permissions, hence my assignment to people who I believe have these.

[2022-09-22 13:32] tautschnig commented on #7057
As @exokortex correctly noted, the issue is that we are doing lookups in two different ways: `ansi_c_entry_point` (which is also used for the C++ entry point) uses the base name (which is `mymain`). `generate_entry_point_for_function`, however, uses the fully qualified name (which is `mymain()`). We should not be doing lookups in two different ways, and also need to consider whether the C++ front-

[2022-09-22 15:01] tautschnig commented on #7104
@brenoguim Would it be acceptable to restrict the use of taking the address (explicitly or implicitly when using the array by name) to multiples of 8 bits (byte widths, more precisely)?

If we end up extending type checking, we should likely also do so during goto-program conversion to ensure no other way of presenting input to goto conversion ends up doing this.

[2022-09-23 09:29] #7022 closed, assigned to nobody

[2022-09-23 09:36] #7135 closed, assigned to nobody

[2022-09-24 14:21] brenoguim commented on #7104
Well, for my application we use bitvectors just as arbitrary-length integers. We don't see them as bitfields. So, it's common to use it as one would with integers: taking addresses, passing pointers around and so on.

If it's decided that CBMC sees them as bitfields and restrict taking addresses (even if only for non multiple of 8), I'll continue my work of wrapping these bitvectors in a struct, o

[2022-09-26 10:33] thomasspriggs commented on #7148
Unassigning as I have other work to prioritise first.

[2022-09-26 10:36] thomasspriggs commented on #7138
I am going to close this issue out as it appears to have been comprehensively answered and there has been no further response from the person raising it. Please feel free to re-open if you have further related queries.

[2022-09-26 10:36] #7138 closed, assigned to pietrobraione

[2022-09-26 11:39] tautschnig commented on #7042
On the topic of error reporting/error handling: would it perhaps be easier not to expose exceptions at the level of the API proposed in here? Instead, each function should report success/failure? This likely wouldn't require much of a re-architecting, just catching exceptions at the layer that implements the top-level API and turning any exceptions into a "failure" result.

[2022-09-26 11:42] tautschnig commented on #7112
Closing as https://diffblue.github.io/cbmc/ is now live.

[2022-09-26 11:42] #7112 closed, assigned to NlightNFotis, thomasspriggs, TGWDB

[2022-09-26 11:44] tautschnig commented on #7006
Closing this as remaining documentation issues can be handled in more focussed issues, the high-level agenda appears to be in place.

[2022-09-26 11:44] #7006 closed, assigned to nobody

[2022-09-26 11:46] #5779 closed, assigned to nobody

[2022-09-26 13:00] Jerry-zhxf opened #7156 "In this specific program, `goto-cc` can be used to generate goto files in the `x86` architecture. However, in the `arm64` architecture, an error is reported."
**CBMC version**: 5.65.1 (cbmc-5.65.1)
**Architecture**: arm64
**OS**: linux
**gcc**: 9.4.0
**Exact command line resulting in the issue**:
[code]
**Program**:
test.h
[code]
test1.c
[code]
test2.c
[code]
test.c
[code]
**What behaviour did you expect**:
[code]
In the above environment, the program can generate goto files normally.
![image](https://user-images.githubusercontent.com/36923038/192282817

[2022-09-26 15:03] tautschnig commented on #7156
I'll take a look at fixing what we do about linking code contracts.

[2022-09-26 16:24] thomasspriggs commented on #7042
I think I mentioned this previously, but it is preferable not to expose exceptions through the API because the user of the API may be working in a language which doesn't support exceptions at all. My understanding is that cross-language exceptions are generally problematic. That implies that we will need to catch the exceptions on the cbmc side of the API and expose the result status in some other

[2022-09-26 20:59] jimgrundy commented on #7042
I'm in agreement with Michael and Thomas. Best to have an API that returns a boolean success status than throw an exception. We might want to think about how to return information about the nature of the error - perhaps setting n error code (an enumeration?). File and line information about the location of source code fragments contributing to the error are important to get.

[2022-09-27 13:57] remi-delmas-3000 commented on #6979
Hi, PR #7127 brings support for slice operations in loops but is still a work in progress

[2022-09-27 15:55] danielsn commented on #7042
Sounds like we're all in agreement about this: a failure enum sounds like a good solution here. If we're using Rust, there is an `Error` type which it could be conveniently translated into.

[2022-09-27 21:22] zhassan-aws opened #7158 "Invariant violation with `--dump-c`"
This issue is derived from https://github.com/model-checking/kani/issues/1722.

Running this sequence of commands:
[code]
on the following program:
[code]
results in an invariant violation:
[code]

CBMC version: 5.66.0
Operating system: Ubuntu 20.04
Exact command line resulting in the issue:
What behaviour did you expect:
What happened instead:

[2022-09-28 12:33] tautschnig commented on #7158
Dump-C's code was written with the assumption that all struct/union types have tags, but this is not actually an invariant of GOTO programs. I'm working on a fix for dump-c.

[2022-09-28 12:34] #6975 closed, assigned to nobody

[2022-09-28 23:36] zhassan-aws opened #7164 "Exception when processing SAT assignment with cryptominisat"
I'm trying to use https://github.com/msoos/cryptominisat as an external SAT solver. It seems to cause an issue if the test has a counterexample, e.g.
[code]
If I change the assert to
[code]
verification succeeds:
[code]
Does cryptominisat not produce the correct output that CBMC needs in case of a satisfiable instance?

CBMC version: 5.66.0
Operating system: Ubuntu 20.04
Exact command line resulti

[2022-09-30 06:42] #7158 closed, assigned to nobody

[2022-09-30 22:34] feliperodri opened #7181 "Requires and ensures clauses with descriptions"
Similar to how `__CPROVER_assert(bool cond, char *msg)` accepts a string that shows up in the terminal output,
we could modify the front end to allow users to name ensures and requires clauses in function contracts with an optional string. For example,

[code]

[2022-10-03 14:44] martin-cs commented on #7181
Sounds good.  I guess the challenge is how to do it without breaking backwards compatibility.

[2022-10-04 18:13] zhassan-aws opened #7185 "Invariant violation when using `--z3`"
On the following C program, which is a minimized version of the program from https://github.com/model-checking/kani/issues/1748:
[code]
Running CBMC with the `--z3` option causes an invariant violation:
[code]

CBMC version: 5.67.0
Operating system: Ubuntu 20.04
Exact command line resulting in the issue: `cbmc test.c --z3`
What behaviour did you expect: Verification successful
What happened instea

[2022-10-05 13:19] thomasspriggs commented on #7041
@jimgrundy The PR adding the soundness warning is now merged.

[2022-10-05 21:04] feliperodri opened #7187 "Partial correctness with cyclic dependencies of recursive functions"
CBMC version: 5.67.0
Operating system: N/A

Consider the following `test.c` file:

[code]

We observe the following behavior with CBMC currently:
 * Running `--enforce-contract a` produces a proof failure, as expected
 * Running `--enforce-contract a --replace-call-with-contract b` produces no failures, and verification succeeds!
 * Of course, we haven’t verified the contract b and so unsoundness

[2022-10-05 21:11] feliperodri opened #7188 "Document recursive functions support in contracts"
CBMC version: 5.67.0
Operating system: N/A

Currently we:
- rename the target function, say `f`, to `original_f`
- generate a wrapper function with the same name and insert assumptions & assertions as per the contracts
- all calls to `original_f` are now replaced with calls to the wrapper `f` because of renaming

This would result in unsoundness for recursive functions. For example, consider the `

[2022-10-05 21:19] feliperodri opened #7189 "Warnings from purity checks on assertions and assumptions"
CBMC version: 5.67.0
Operating system: N/A

We should at least be checking this, and should report warnings (not errors because it might break too many existing proofs) to users when their assertions / assumptions have side effects.

[2022-10-05 21:22] feliperodri opened #7190 "Definy semantics for `__CPROVER_is_fresh(ptr,0)`"
CBMC version: 5.67.0
Operating system: N/A

Today, __CPROVER_is_fresh fails with the message "pointer outside object bounds in POINTER_OBJECT(*elem)" when used as an assumption and  the size argument is (allowed to be) 0.

I believe that when is_fresh(p,0ul) is used in a require it should:

- return true
- set p to a non-NULL value that could have been obtained from p=malloc(0ul)

Setting aside th

[2022-10-05 21:26] feliperodri opened #7191 "Improve error message for `__CPROVER_old`"
CBMC version: 5.67.0
Operating system: N/A

Consider the following code:

[code]

We will produce the error

What is going on here is that values that are not dereferenced-pointers are taken to refer to their initial values in contracts, and so __CPROVER_old should not be used with them. It took me a very long time to figure what that was what was going on here. The error message needs to tell you

[2022-10-05 21:31] feliperodri opened #7192 "Warning for functions with "empty" contracts"
CBMC version: 5.67.0
Operating system: N/A

# Summary
If we ask CBMC to use a contract as an abstraction for a function, then the function must have a contract.

# Basic Ask
When checking some function "f" complies with its contract we may ask CBMC to abstract calls to another function "g" by using g's contract. This should produce an error if no contract has been associated with g.

# Background

[2022-10-05 21:34] feliperodri opened #7193 "Treatment of undefined functions in function contracts is unsound"
CBMC version: 5.67.0
Operating system: N/A

# Problem

If CBMC encounters a call to a function with an unknown definition it replaces that call with a nondeterministic value of the appropriate type — representing the unknown function’s return value. However, a function can do more than return a value (it can also write to its arguments and other memory), so this abstraction is not sound.
This unso

[2022-10-05 21:37] feliperodri opened #7194 "Predicate to describe overlapping pointers"
CBMC version: 5.67.0
Operating system: N/A

We need to describe pointers that may overlap, for example an array and a pointer within that array. Currently, we have prototype  `same_space` to express this as follows:

[code]

The issue is that any proof that uses this primitive must disable the `pointer-primitive-check` CBMC flag, which is something that should be used in memory safety proofs. We n

[2022-10-05 21:41] feliperodri opened #7195 "Find a proper way to specify pointers to static objects in contract preconditions"
CBMC version: 5.37.0
Operating system: N/A

# How to reproduce

[code]

[code]

Run `make all`.

# The issue
Using the current approach relying on `__CPROVER_is_fresh(p,size)` it is impossible to describe objects which are partly malloc'd and partly pointing to static objects.

In this example struct a has a field b that is meant to point to one of two static objects b1 or b2 (check the new_a() fu

[2022-10-05 21:44] feliperodri opened #7196 "Handle loop contracts on do/while loops"
CBMC version: 5.67.0
Operating system: N/A

Currently do/while loops are not handled correctly in the contracts instrumentation pass.

The tricky bit here is the first unguarded iteration. It's syntactically "inside" the loop, but the "base case" assertion must be placed _after_ it, which might be confusing to users.

[2022-10-05 21:50] feliperodri opened #7197 "Proper handling of library and __CPROVER built-in functions in contracts"
CBMC version: 5.67.0
Operating system: N/A

These classes of functions need special care during contract instrumentation:

- Built-in `__CPROVER` functions
  - they have no written implementation and need to be treated in an ad-hoc manner during instrumentation
- `__CPROVER` library functions (have a written implementation)
- POSIX library functions:
  - implemented in C on top of built-in functio

[2022-10-05 21:52] feliperodri opened #7198 "Pack CAR validity var, lower bound and upper bound in a single struct object"
CBMC version: 5.67.0
Operating system: N/A

Function and loop contract instrumentation introduces three variables (car_valid, car_lb, car_ub) for each target specified in the assigns clause, for each local declaration, and for each assignment lhs. This greatly augments the number of objects created by CBMC during SymEx, and the number of object bits to use for pointers during the analysis.

Packin

[2022-10-05 21:54] feliperodri opened #7199 "Loop invariants cause `va_list` to fail"
CBMC version: 5.67.0
Operating system: N/A

For the following program:
[code]
CBMC fails to prove that the invariant preserves.

I suppose the cause of failure is that __builtin_va_arg(p, int) is statically rewritten to va_args[j] where va_args is the build-in array of arguments. However, after havocing, p becomes a nondet pointer; hence __builtin_va_arg(p, int) cannot be correctly rewritten (and

[2022-10-05 21:56] feliperodri opened #7200 "Allow `__CPROVER_old(expr)`"
CBMC version: 5.67.0
Operating system: N/A

New users would have an easier time using function contracts if users could write `__CPROVER_old(expr)` in requires and ensures clauses.  In TLA+, it is routine to write things like (expr)' == (expr) + 1 to mean the expression increasing value by 1.

[code]

The "natural" ensures clause in a function contract to write is

[code]

but because this is a ma

[2022-10-05 21:58] feliperodri opened #7201 "Allow let bindings in function contracts"
CBMC version: 5.67.0
Operating system: N/A

For readability by naive readers, and even for hardened pros, we need to allow let bindings in function contract expressions for easy-to-read contracts.

[code]

among other things.  The ensure clause should be something like
[code]

Without lets, the best we can do is in-place expansion of both expressions (unreadable: notice that the double nesting of

[2022-10-05 21:59] feliperodri opened #7202 "Trace expression evaluation in ensures clauses"
CBMC version: 5.67.0
Operating system: N/A

We need to give the proof writer more help understanding why an ensures clause is failing by providing a bit of a trace of the expression evaluation.

If you open viewer to look at a failure trace for an ensures clause failure, all you get is a single line saying failure.  In contrast, if you define a function predicate and look at its evaluation in view

[2022-10-05 22:01] feliperodri opened #7203 "Support reference to prior values (was "Support the deep-copy of history variables")"
CBMC version: 5.67.0
Operating system: N/A

## Problem description

History variables in loop contracts (maybe also in function contracts?) only make shallow copies. This is sufficient for scalars, but arrays and pointers may require a deep copy, like in the example below.

## Example

This example shows a case where we wrote function contracts to specify the behavior of the loop. However, the ter

[2022-10-05 22:04] feliperodri opened #7204 "Implement a vacuity check for function contracts"
CBMC version: 5.67.0
Operating system: N/A

# The Ask

Implement a vacuity check for function contracts

# Background

It is easy to write a function contract that embodies a contradiction:
+ requires *x > 10
+ assigns *y
+ ensures *x < 10

This contract is impossible to satisfy. Perhaps the author meant assigns *x?

When writing a proof of a program we may proceed from the root of the proof towar

[2022-10-05 22:06] feliperodri opened #7205 "goto-instrument internal error with function pointers"
CBMC version: 5.67.0
Operating system: N/A

A function takes a ```state``` struct which contains some hash data a pointer ```hash_impl``` to a struct containing pointers to some functions.

The contract requires that the ```state->hash_impl->digest``` is one of two possible static object defined in the C file.

The function under analysis just calls this function on the state ```return state->hash

[2022-10-05 22:08] feliperodri opened #7206 "Check purity of function contracts"
CBMC version: 5.67.0
Operating system: N/A

Check purity of function contracts.

[2022-10-05 22:09] feliperodri opened #7207 "Check purity of loop contracts"
CBMC version: 5.67.0
Operating system: N/A

Check purity of loop contracts.

[2022-10-05 22:12] feliperodri opened #7208 "Implement inductive check for assigns clauses in loop contracts"
CBMC version: 5.67.0
Operating system: N/A

## Description

Currently the loop contract instrumentation havocs the given targets in the `loop_assigns` clause and instruments the body of the loop according to the assigns clause. This really means that we assume that the set of all locations where the function can write at any given iteration is correctly captured by the clause.

[code]

[code]

Int

[2022-10-05 22:13] remi-delmas-3000 commented on #7203
To avoid copies we should defer the resolution of history variables to the SSA conversion stage.

If we look at the program below:

[code]

The symex steps it generates are:
[code]

Which once translated to SSA gives these equations. We see that several logical versions of the `ptrs` and the `data` arrays occur in the formula.

[code]

These steps correspond to the first loop
[code]

These steps c

[2022-10-05 22:14] feliperodri opened #7209 "Generalize `a[i]` to `__CPROVER_POINTER_OBJECT(a)` or `__CPROVER_object_slice(&a[0], i)` when inferring loop assigns clauses automatically"
CBMC version: 5.67.0
Operating system: N/A

When no user-provided assigns clause is given for a loop, we infer one from the loop's instructions and an automatically inferred aliasing relation.

For a loop like this one:

[code]

The inferred clause is `__CPROVER_assigns(i, a[i])`, which is insufficient to pass verification. We would like instead to infer `__CPROVER_POINTER_OBJECT(a)` or even `__CP

[2022-10-05 22:15] feliperodri commented on #7207
the internal mechanics for checking side effects is now available through https://github.com/diffblue/cbmc/pull/6887, but loop contracts need to be ported over to DFCC)

[2022-10-05 22:17] feliperodri opened #7210 "Add `__CPROVER_ensures_frees(ptr; ... )` clauses to loop contracts"
CBMC version: 5.67.0
Operating system: N/A

**tl/dr.** https://github.com/diffblue/cbmc/pull/6887 brings __CPROVER_frees clauses and related predicates to function contracts only, this needs to be extended to loop contracts

# Problem description

It is currently is not possible to specify that a memory location can/must be freed.

# Proposal

## 1. Add a new clause `__CPROVER_frees(ptr)`

Specifi

[2022-10-05 22:18] feliperodri opened #7211 "Implement natural loop rotation/canonicalization in GOTO programs"
CBMC version: 5.67.0
Operating system: N/A

# Problem description

Let us consider a natural loop and the sequence of its instructions in the order in which they appear in the goto program.

The problem is that the sequence of loop instructions not necessarily densely packed in the goto program instruction sequence, meaning, the span of instructions between the first and the last loop instruction

[2022-10-05 22:19] feliperodri commented on #7211
It would greatly simplify our work on contracts.

[2022-10-05 22:21] feliperodri opened #7212 "New CBMC syntax needed for assigns clause with quantifiers"
CBMC version: 5.67.0
Operating system: N/A

# Problem description

In the `assigns` clause of loop-contracts and function-contracts, there are cases where we may need some kind of quantifiers to express the full set of assignable memory locations. An example of this is given below. Currently CBMC does not have any syntax to express such assigns clauses.

Ideally, we would like the solution to work

[2022-10-05 22:25] jimgrundy commented on #7203
+100 on Remi's comment. Maybe change the name of this issue.

[2022-10-05 22:28] feliperodri opened #7213 "Incorrect encoding of function pointer operations in CBMC"
CBMC version: 5.67.0
Operating system: N/A

# How to reproduce

[code]

[code]

Run `make all`.

Assertions are falsified when they shouldn't.

# The issue

Consider the function below:

[code]

The contract says that the `obj->ftbl` can point to `ftbl_0` or `ftbl_1`, two static structs that contain a field `.set_value` which is a function pointer to function `set_value_0` or `set_value_1` respect

[2022-10-05 22:31] qinheping commented on #7212
I think their are two approaches for this problem 1) checking if the full set of memory locations are assignable, and 2) non-deterministically choosing one location and checking if it is assignable. We can achieve 2 with conditional assigns clauses. For the above example, the assign clause would be
[code]
In the GOTO level, we need to check the condition before havocing (note that havocing `i` sho

[2022-10-06 14:54] feliperodri commented on #7213
The example can be distilled down to this.
[code]
The underlying problem is that pointer dereference depends on the value set associated with the pointer, and that the value set only reflects imperative updates made to the pointer and not declarative assumptions.

[2022-10-06 15:11] jimgrundy commented on #7104
Let's have someone take a close look at this:

[2022-10-06 15:30] tautschnig commented on #7013
Notes as just discussed out-of-band:
- The SAT back-end will avoid generating fresh symbols for temporary variables in many (but not necessarily: all) cases.
- A more general caching than the hack mentioned in https://github.com/diffblue/cbmc/issues/7013#issuecomment-1190069081 would be to cache all Tseitin encoding steps. This may reduce formula size substantially, but cache lookups could prove c

[2022-10-06 15:37] TGWDB commented on #7211
@diffblue/diffblue-opensource This tag might work where we cannot "assign" this to the Team.

[2022-10-06 17:12] NlightNFotis commented on #7042
Hello, following up here on the first steps of the implementation of the Kani API.

We had an internal meeting yesterday where we ratified the following plan:

1. We will start with the first step of the plan as outlined in the original proposal (original issue text). To reiterate it here, we _aim to provide an API for verification given some options and a `goto-model`_.
2. The implementation laye

[2022-10-06 20:24] feliperodri commented on #5505
https://github.com/diffblue/cbmc/pull/5866 fixes this issue.

[2022-10-06 20:28] feliperodri commented on #5842
@danielsn is this still an issue?

[2022-10-06 20:30] feliperodri commented on #5878
@tautschnig are you aware of any PRs that concludes this discussion? Should we keep this issue open?

[2022-10-06 20:32] feliperodri commented on #5905
Closing this issue now that we have support for labels in loop unwinding set. See https://github.com/diffblue/cbmc/pull/6508

[2022-10-06 20:32] #5905 closed, assigned to nobody

[2022-10-06 20:33] feliperodri commented on #5986
@TGWDB can we close this issue?

[2022-10-06 20:46] feliperodri commented on #6374
@danielsn could you provide more details?

[2022-10-06 20:56] feliperodri commented on #6495
[@diffblue/diffblue-opensource](https://github.com/orgs/diffblue/teams/diffblue-opensource)

[2022-10-06 21:11] feliperodri commented on #6613
@tautschnig any updates on this issue?

[2022-10-06 21:14] feliperodri commented on #6870
[@diffblue/diffblue-opensource](https://github.com/orgs/diffblue/teams/diffblue-opensource)

[2022-10-06 21:15] feliperodri commented on #6871
[@diffblue/diffblue-opensource](https://github.com/orgs/diffblue/teams/diffblue-opensource)

[2022-10-06 21:18] feliperodri commented on #7104
[@diffblue/diffblue-opensource](https://github.com/orgs/diffblue/teams/diffblue-opensource)

[2022-10-06 21:18] feliperodri commented on #7164
[@diffblue/diffblue-opensource](https://github.com/orgs/diffblue/teams/diffblue-opensource)

[2022-10-06 21:19] feliperodri commented on #7185
[@diffblue/diffblue-opensource](https://github.com/orgs/diffblue/teams/diffblue-opensource)

[2022-10-06 21:19] feliperodri commented on #7189
[@diffblue/diffblue-opensource](https://github.com/orgs/diffblue/teams/diffblue-opensource)

[2022-10-06 22:49] feliperodri commented on #7191
This is no longer an issue on CBMC 5.67.0.

[2022-10-06 22:49] #7191 closed, assigned to feliperodri

[2022-10-06 23:09] celinval commented on #6983
Thanks @tautschnig! #7011 addresses my main concern which was interrupting the analysis without producing any error.

[2022-10-06 23:09] #6983 closed, assigned to tautschnig, celinval

[2022-10-07 08:31] TGWDB commented on #5986
Yes, I believe we can (closing now).

[2022-10-07 08:31] #5986 closed, assigned to TGWDB

[2022-10-07 10:29] thomasspriggs commented on #6870
I believe the current plan is to remove it. Therefore adding documentation beyond "This is deprecated. Don't use it." Wouldn't really be useful.

[2022-10-07 10:38] thomasspriggs commented on #6870
Aha! Documentation of the current behaviour is here - https://github.com/diffblue/cbmc/pull/7157
See also -

-  https://github.com/diffblue/cbmc/issues/6997
-  https://github.com/diffblue/cbmc/pull/6876
- https://github.com/diffblue/cbmc/issues/6871
- https://github.com/diffblue/cbmc/issues/6695

[2022-10-07 13:32] #6997 closed, assigned to nobody

[2022-10-07 13:33] tautschnig commented on #6870
Closing via #7157.

[2022-10-07 13:33] #6870 closed, assigned to nobody

[2022-10-07 15:16] NlightNFotis opened #7219 "Redirect `diffblue.github.io` to `diffblue.github.io/cbmc`"
In https://github.com/diffblue/cbmc/pull/7152, there was a suggestion by Peter to redirect URL requests from `https://diffblue.github.io` to `https://diffblue.github.io/cbmc`, the root directory for CBMC documentation.

@tautschnig did some research on that, and according to the resource he cited there (https://inbo.github.io), we need to make a new repository, `diffblue.github.io`, and include so

[2022-10-08 10:46] tautschnig commented on #7213
I believe that #6326 was built to specifically address this case. Would adding explicit nondet initialisers solve the problem?

[2022-10-08 10:54] tautschnig commented on #7189
Why is this the right thing to do? Conversely, why is it wrong to have side effects in assertions or assumptions? Yes, there is the risk that people have a side effect in `assert(expression-with-side-effect)` and then compile their code with `-DNDEBUG`. Is this the potential pitfall that you are trying to address?

More generally, any warnings beyond those produced by a standard compiler cater the

[2022-10-08 20:04] #7156 closed, assigned to nobody

[2022-10-08 20:04] #7185 closed, assigned to nobody

[2022-10-08 20:06] #7164 closed, assigned to nobody

[2022-10-09 08:47] #7059 closed, assigned to nobody

[2022-10-09 11:10] tautschnig commented on #7054
Closing as we are no longer seeing this behaviour.

[2022-10-09 11:10] #7054 closed, assigned to tautschnig

[2022-10-09 12:21] tautschnig commented on #7074
If you run your example with `--div-by-zero-check --stop-on-fail` you'll see that you run into a division-by-zero before reaching your assertion. If there is undefined behaviour (as division by zero is) there is no guarantee that the execution will continue, and CBMC may or may not simulate the behaviour exhibited by a particular platform.

[2022-10-09 12:21] #7074 closed, assigned to tautschnig

[2022-10-10 11:02] tautschnig commented on #7064
As I keep struggling with the intended semantics of `--pointer-primitive-check` I am also having a hard time to come up with the best possible fix. I've put up #7229 as a proposal.

[2022-10-10 18:58] #198 closed

[2022-10-11 10:46] #5878 closed, assigned to nobody

[2022-10-12 16:57] remi-delmas-3000 commented on #7213
Adding a nondet initializer does not seem to fix the problem:

[code]

[code]

[2022-10-12 17:01] jimgrundy commented on #5357
Can confirm that this is still an issue as of version 5.67

[2022-10-12 18:01] kroening commented on #5357
I took a quick look. This hasn't been designed for nested loops. I'd say this needs a full redesign to do nested loops.

[2022-10-12 19:11] jimgrundy commented on #5357
So, this turns out to be more of a "feature request" than a "bug" since the request would be to make k-induction work for nested loops, which is not a well known thing. Ideally this code would quit elegantly and tell the user that nested loops aren't handled.  Or, maybe we strip out k-induction, or give people a warning when they use it.

Now that I understand the issue a little better, addressing

[2022-10-12 22:19] mahantaf commented on #6572
Hi again,

I have a quick question that maybe related to this topic
What is the size of BitVector that CBMC uses? (I mean in bits or bytes)

Thanks

[2022-10-12 22:20] mahantaf opened #7236 "Size of BitVectors used in CBMC"
Hello,

I have a quick question:
What is the size of BitVector that CBMC uses? (I mean in bits or bytes)

[2022-10-13 07:06] tautschnig commented on #6572
If you are using standard C syntax, CBMC will use the bit widths used on a particular platform and data type (see https://wiki.debian.org/ArchitectureSpecificsMemo, for example). You may, however, also use `__CPROVER_bitvector` to create a variable of non-standard bit width (see https://diffblue.github.io/cbmc/cprover-manual/md_api.html).

[2022-10-13 07:07] tautschnig commented on #7236
If you are using standard C syntax, CBMC will use the bit widths used on a particular platform and data type (see https://wiki.debian.org/ArchitectureSpecificsMemo, for example). You may, however, also use __CPROVER_bitvector to create a variable of non-standard bit width (see https://diffblue.github.io/cbmc/cprover-manual/md_api.html).

[2022-10-13 07:07] #7236 closed, assigned to nobody

[2022-10-13 18:10] mahantaf commented on #6572
Thank you for your answer.

I have one more question. I actually used the --dmacs option to get the CNF version of a go-to BitVector program from CBMC. I wonder if there are any ways that I can reduce the number of variables and clauses on the 3-CNF generated by CBMC.

[2022-10-13 20:20] tautschnig commented on #6572
You could use `void test(__CPROVER_bitvector[2] x, __CPROVER_bitvector[2] y)` instead of `void test(int x, int y)`.

[2022-10-16 23:18] jimgrundy commented on #7064
@kroening does @tautschnig 's PR https://github.com/diffblue/cbmc/pull/7229 address this correctly?

[2022-10-17 01:54] mahantaf commented on #6572
Thank you for your response. I used it and it worked.

I have one more question.
Is there any way to get a CNF formula of a function even when the assertion is passed? Because I can only get the CNF when the assertion is not passed and when the verification is successful it does not return the CNF.

For example, I have this code:
[code]
When I run `cbmc --function test sum.c --dimacs` the assertio

[2022-10-17 10:52] tautschnig commented on #6572
You could use `--no-propagation` or `--no-simplify` (both of which are intentionally undocumented for they severely hamper performance on larger examples), both of which should make the assertion no longer trivially true.

[2022-10-17 12:56] #7064 closed, assigned to kroening

[2022-10-18 09:03] DanBlackwell opened #7246 "Invariant check failed, Reason: assignments must be type consistent"
CBMC version: 5.68.0 (n/a) 64-bit x86_64 linux
Operating system: Linux
Exact command line resulting in the issue: `cbmc openssl_heartbleed --function test`
What behaviour did you expect: For the model checker to run.
What happened instead: Received the following from stderr after many lines of output indicating that function pointers were replaced:
[code]

I can see the assertion in the CBMC sourc

[2022-10-18 10:29] tautschnig commented on #7246
Thank you for your report! If you could please share the goto binary that would really help. We have seen this happen elsewhere, but in those cases the input program had been produced using custom front-ends (and the problem was in that front-end).

[2022-10-18 13:19] DanBlackwell commented on #7246
[openssl_heartbleed.zip](https://github.com/diffblue/cbmc/files/9810793/openssl_heartbleed.zip)
I've had to compress it with zip so that github will let me upload it here - unzip will get it back out. I'm aware that it's a large binary too, so I suspect the model checker will probably struggle anyway once I do get it to behave.

Given that it's an open source project I can provide the source and a

[2022-10-18 20:09] qinheping commented on #7209
Implemented in #7228.
The widening strategy is better than `__CPROVER_assigns(i, a[i])`, but is still not perfect.  It over-approximate the assigns clauses so that additional invariant clauses might be required to specify that untouched elements in `a` keep unchanged.
Can we do better? If we have a more precise over-approximate `[l, u]` of the range of `i`, we can have a better assign clause `__CP

[2022-10-18 20:09] #7209 closed, assigned to qinheping

[2022-10-18 20:47] qinheping commented on #7199
Cannot reproduce the failure now. The issue does not persists. I suppose it is fixed by #6326.

[2022-10-18 20:47] #7199 closed, assigned to qinheping

[2022-10-20 13:25] tautschnig commented on #6692
As I have closed #6629 for it increases complexity: the best approach for code generating assertions (in Kani) would be:
1) generate an `assert` statement, not a function call. (Perhaps Kani already does this.)
2) Set the `property_class` in the source location of that `assert` statement.
The resulting ID will have a prefix (the function that the `assert` statement lives in) and a suffix (to ensur

[2022-10-20 13:25] #6692 closed, assigned to nobody

[2022-10-20 13:28] tautschnig commented on #7069
I believe #4131 will fix the cases where there is no "function" prefix (which will be caused by a lack of source location information in the expression provided by Kani). The real fix for this issue, however, is to provide structured output as @thomasspriggs suggested.

[2022-10-20 13:31] tautschnig commented on #7069
Unassigning myself for the time being: we'll want #4131 to be merged, and then someone needs to step up to build the JSON/XML output extensions.

[2022-10-21 11:10] esteffin opened #7265 "Incorrect result when analyzing misaligned pointers"
Running CBMC on the following program:

[code]

We get a `VERIFICATION FAILURE` result instead of success.

The program should be correct as assigning `y + 1` to `z` makes `z` to point to at the most significant byte of `x[0]` followed by the least significant byte of `x[1]`.

By looking at the trace it seems that the issue is caused by the removal of the alias `y` and then the `y + 1` operation,

[2022-10-21 11:46] thomasspriggs commented on #7265
The `y` variable is still shown in the vcc output. However the `+1` seems to have gone awol somewhere -
[code]

[2022-10-21 12:04] tautschnig commented on #7265
Given I have touched the offending code in 84df81e590ea402e I might manage to get a fix out quickly.

[2022-10-21 14:26] tautschnig commented on #6695
#6747 will eventually introduce proper checking, but depends on reworking property instrumentation. The latter is a bunch of work that's being taken care of, but its progress is slow. So it'll have to wait for a bit.

[2022-10-24 19:49] #7265 closed, assigned to nobody

[2022-10-25 13:02] thomasspriggs opened #7272 "Construction of with expression in `lowering/byte_operators.cpp` does not match getters in `with_exprt` [rfc]"
This section constructs a with expression containing multiple where/new value pairs -
https://github.com/diffblue/cbmc/blob/8bd2617310877c27c912faedd2b33d5d8d8e2116/src/solvers/lowering/byte_operators.cpp#L1514-L1517
However the API here only provides access to a single where/new value pair -
https://github.com/diffblue/cbmc/blob/8bd2617310877c27c912faedd2b33d5d8d8e2116/src/util/std_expr.h#L2444-L

[2022-10-25 13:36] tautschnig commented on #7272
I believe "B" is the way to go: the reason "A" isn't the best approach is that it could result in deeply nested expressions when a large array is to be updated in this way.

[2022-10-25 13:47] thomasspriggs commented on #7272
For context, we came across this issue whilst working on SMT support. The closest array theory equivalent term seems to be the `store` function - https://smtlib.cs.uiowa.edu/theories-ArraysEx.shtml This array theory function only supports a single where/new value pair. So for the purposes of SMT I would expect this to be converted into a deeply nested expression which ever choice we make for the A

[2022-10-25 15:40] tautschnig commented on #7272
Yes, I suppose that nested expression is unavoidable at SMT level at this time.

[2022-10-27 15:06] tautschnig commented on #7246
With #7277 you now get more detailed information. The output hints at a linking issue, but I don't know whether that's a bug on our end or a problem in the source code. So if you don't mind providing full source and build instructions that would really help.

[2022-10-27 21:33] NlightNFotis opened #7280 "Substitute deprecated `upload-release-asset` action in CI"
Our [release package building jobs](https://github.com/diffblue/cbmc/blob/develop/.github/workflows/release-packages.yaml) are using the [upload-release-asset](https://github.com/actions/upload-release-asset) action by Github to push the built artefacts to the release page.

The readme for that project indicates that it has been sunset, and it now guides users to the [actions-gh-release](https://g

[2022-10-27 22:00] adpaco-aws opened #7282 "Rounding mode type isn't `integer`"
With the recent change in types for architecture strings in #7215, all of them use `integer` except for `__CPROVER_rounding_mode`. Is there any reason to not use `integer` for it as well?

[2022-10-28 09:18] tautschnig commented on #7282
`__CPROVER_rounding_mode` is a program variable that may get assigned to/will be read when using floating-point operations. It's how we implement [fesetround](https://linux.die.net/man/3/fesetround) and friends. An architecture might specify what the default rounding mode is, but that's about all that it shares with other architecture strings. Those other architecture strings just inform the platf

[2022-10-28 09:19] tautschnig commented on #7282
That said, we might well decide to make it a 2-bit bitvector (or some other hard-coded width) rather than using an architecture-specific width.

[2022-10-28 09:20] tautschnig commented on #7282
Assigning to @kroening and @martin-cs who might be able to give additional context or correct me in case I misspoke.

[2022-10-29 11:04] sepideha opened #7284 "Printing SMT formula or SSA form of a program"
CBMC version: cbmc-5.69.0
Operating system: MacOsBigSur 11.5.2
Exact command line resulting in the issue: `./cbmc --smt2 --outfile formula.smt  example.c`
What behaviour did you expect: Full SMT formula corresponding to `example.c`
What happened instead: The body of SMT formula was not printed, only the following headers

; SMT 2
; Generated for MathSAT
(set-info :source "Generated by CBMC 5.69.0

[2022-10-30 20:56] tautschnig commented on #7284
You could use one of `--no-propagation` or `--no-simplify` (both of which are intentionally undocumented). The effect of using these will be that we can no longer determine that the property is true without the help of the SMT solver.

For the SSA form use one of `--program-only` or `--show-vcc`.

[2022-10-31 19:51] adpaco-aws opened #7286 "Formula for CBMC 5.69.1 is missing"
The formula for CBMC 5.69.1 is missing, so we cannot install CBMC through `brew` on macOS platforms. This is blocking our upgrade to CBMC 5.69.1 in https://github.com/model-checking/kani/pull/1811

[2022-10-31 23:15] NlightNFotis commented on #7286
Hello @adpaco-aws @feliperodri

Our apologies for this - we had a CI failure in our 5.69.0 release, so we had to make a point release on an accelerated schedule, which caused us to miss a step in our usual release process.

I have now updated the tap to contain the [formula](https://github.com/diffblue/homebrew-cbmc/commit/323400e425388bb370726a4e3ed1d4aa88848fa0) and the binaries for `5.69.1`.

L

[2022-11-01 16:31] adpaco-aws commented on #7286
Hello @NlightNFotis ,

Thanks for the quick turnaround! We've been able to upgrade to CBMC 5.69.1 this morning thanks to your update on the tap.

Closing because the issue has been solved.

[2022-11-01 16:31] #7286 closed, assigned to NlightNFotis

[2022-11-01 20:22] SUPERCILEX opened #7288 "How to interpret this result?"
[code]

Is this a kani bug? There's a ton more "Unwinding loop" where that came from and I'm not sure what "CBMC failed" means.

[2022-11-02 11:13] NlightNFotis commented on #7288
Hm, I don't have a lot of experience with Kani, but from what I can see an invariant violation was triggered by what appears to be a malformed type being passed to a transfer function (inside of CBMC - this might have been passed to it by Kani).

The `CBMC failed with status 134` is just a generic status message it seems - `134` is what CBMC raises in the case of an invariant violation.

I can't s

[2022-11-02 13:36] #7197 closed, assigned to remi-delmas-3000

[2022-11-02 13:36] #7198 closed, assigned to remi-delmas-3000

[2022-11-02 13:36] #7206 closed, assigned to remi-delmas-3000

[2022-11-02 14:06] feliperodri commented on #7288
@danielsn is this error message from Kani?

@SUPERCILEX could you provide us a small reproducible example?

[2022-11-02 14:20] jimgrundy opened #7292 "Introduce a mechanism to refine expected behavior of regression tests by solver."
This PR introduced some new tests for unions in structs: https://github.com/diffblue/cbmc/pull/7278
Those tests pass with some solver configurations (built-in) but not others (Z3).
We have a mechanism to indicate which tests are expected to pass and which to fail, but we don't have a mechanism to indicate expected pass/fail status by solver.

The lack of such a mechanism is a hinderance for SMT ba

[2022-11-02 14:41] adpaco-aws commented on #7288
This is an error message from CBMC while using Kani, which was able to identify that CBMC crashed during verification time.

The root cause is likely due to a bug in Kani's codegen. We'd need a reproducible example.

[2022-11-02 14:42] adpaco-aws commented on #7288
I've create a mirror issue on our end: https://github.com/model-checking/kani/issues/1836

Please @SUPERCILEX post the code there if you can.

[2022-11-02 16:31] DanBlackwell commented on #7246
Ok, I can't reproduce the issue anymore with a fresh build sorry. I must have done something unusual before.

Will close this issue now and if it reappears at any point I will try and figure out what I did differently and reopen (with the fix if I find one).

[2022-11-02 16:31] #7246 closed, assigned to DanBlackwell

[2022-11-02 18:40] feliperodri opened #7293 "Add cover checks to CBMC"
# Feature
A cover check specified as `__CPROVER_cover(expr, msg)` is considered a `SUCCESS` if a model can be found where both control flow constraints and `expr` are satisfied, and a `FAILURE` otherwise.

The main motivation is to use cover checks in tandem with assertions, to detect vacuity.

[code]

[code]

GOTO `ASSERTION` and `symex_target_equationt` are extended with an attribute specifying

[2022-11-02 19:27] feliperodri commented on #7042
WIP: https://github.com/diffblue/cbmc/pull/7274

[2022-11-03 09:19] tautschnig commented on #7292
I am not sure I can agree with this statement: don't the tags that we have:
- "broken-smt-backend" -- broken for all solvers
- "broken-cprover-smt-backend" -- broken just with the built-in solver
- "broken-z3-smt-backend" -- broken with Z3, but not the built-in solver

do the trick? What else are we missing?

[2022-11-03 10:08] TGWDB commented on #7292
We also have CI with cvc, so that's one more solver for the potential list.

That said, this arose from issues with the `KNOWNBUG` run that does not (I'm pretty sure?) test all the solvers we have in CI.

Just how fine-grained do we need to be in CI here? We seem to (as per the quoted message) have pretty good fine-tuning, but it is not always understood or used.

[2022-11-03 14:53] jimgrundy commented on #7292
So, after discussion with @tautschnig I think what I want is the following:
- These particular tests to be tagged using the set of tags we have to indicate accurately in which configurations they are expected to pass an which they are expected to fail
- We conduct a review of there tests in the "core" set (run on PRs) and tag them all as "required" (can't merge your PR unless the outcome matches t

[2022-11-03 16:48] feliperodri commented on #7288
We will track this issue at https://github.com/model-checking/kani/issues/1836.

[2022-11-03 18:55] qinheping commented on #7207
The purity check is already of loop contracts is implemented.
Invariant clauses: https://github.com/diffblue/cbmc/blob/develop/src/goto-programs/goto_convert.cpp#L877
Decreases clauses: https://github.com/diffblue/cbmc/blob/develop/src/goto-programs/goto_convert.cpp#L891
Assigns clauses: https://github.com/diffblue/cbmc/blob/develop/src/ansi-c/c_typecheck_code.cpp#L505

[2022-11-03 19:01] qinheping commented on #7207
The purity checks of loop contracts are already implemented.
Invariant clauses: https://github.com/diffblue/cbmc/blob/develop/src/goto-programs/goto_convert.cpp#L877
Decreases clauses: https://github.com/diffblue/cbmc/blob/develop/src/goto-programs/goto_convert.cpp#L891
Assigns clauses: https://github.com/diffblue/cbmc/blob/develop/src/ansi-c/c_typecheck_code.cpp#L505

[2022-11-03 22:15] jimgrundy commented on #7292
Bumping this to "high" after discussion this morning to get it assigned to the right person/people. We may need @tautschnig  to do the documentation, but perhaps DiffBlue hand handle the other aspects?

[2022-11-03 22:35] jimgrundy commented on #7190
I think we know what we want here, let's do it.

[2022-11-03 22:37] jimgrundy commented on #7073
Where are we on this @thomasspriggs ?

[2022-11-03 22:46] jimgrundy commented on #6999
It should be possible to write a nondeterministic sin and cos model that returns a result constrained to have the properties you want. I would encourage you to write that model and contribute it.

[2022-11-04 11:49] thomasspriggs commented on #7073
We can't print character code '\x01' whether it is the raw character, or encoded using XML standard escaping as this is not allowed by XML standard 1.0. We could use XML escaping for character code '\x01' (but not '\x00') if we moved to XML standard version 1.1. However XML standard 1.1 has not been widely adopted despite having been released over a decade ago. My PR to move to the newer standard

[2022-11-04 11:58] NlightNFotis commented on #7073
@thomasspriggs I think what you've mentioned so far covers everything - I don't have anything more to add.

[2022-11-04 15:16] tautschnig commented on #7284
Closing, please feel free to re-open in case the above answer was insufficient!

[2022-11-04 15:16] #7284 closed, assigned to nobody

[2022-11-04 16:12] jimgrundy opened #7301 "Change the "about" description of the repo to reference the new documentation site"
Our github page has this at the very top (right):

That link instead should go to https://diffblue.github.io/cbmc/

I'd change it, but I think only diffblue can do that. The instructions on how to change it are here:
https://github.com/orgs/community/discussions/22456

[2022-11-04 16:16] jimgrundy commented on #5260
We've gotten more systematic about our approach to releases this year, so I'm going to close this.

[2022-11-04 16:16] #5260 closed, assigned to nobody

[2022-11-04 21:08] tautschnig commented on #5396
This was fixed in 914f3d6f6487 (#6188), which is included in 5.37.0 and any later release.

[2022-11-04 21:08] #5396 closed, assigned to nobody

[2022-11-04 21:12] tautschnig commented on #2499
This was fixed in cace2cee98de03e70e9345cc6422465223ccb718 (#6709), which is included in 5.53.0 as well as any later version.

[2022-11-04 21:12] #2499 closed, assigned to nobody

[2022-11-04 21:16] tautschnig commented on #398
This works fine with today's version of CBMC, and perhaps any version since 5.7.

[2022-11-04 21:16] #398 closed

[2022-11-04 21:37] tautschnig commented on #352
I was able to reproduce the problem based on the above instructions. With current CBMC (5.69.1) this yields:
[code]
and then conversion to a SAT or SMT formula requires a lot of disk space (or memory, if not writing the SAT formula do disk). With 274298 symbolic execution steps this behaviour seems unsurprising, and CBMC might simply not be the right tool here, or manual abstraction needs to be pe

[2022-11-04 21:37] #352 closed

[2022-11-04 21:44] tautschnig commented on #409
I ran the above commands with current CBMC (5.69.1) and can no longer observe the issue with either of the two input files. Closing.

[2022-11-04 21:44] #409 closed

[2022-11-04 21:48] tautschnig commented on #431
With apologies for replying more than 5 years later: your example sets the pointer (!) to `8`, i.e., assumes there is some valid memory at address `8`. CBMC accounts for this scenario by introducing an object called `__CPROVER_memory` (that represents all your system's memory) and will access that "object" at index `8`. You don't actually have a named object in your program, so you couldn't possib

[2022-11-04 21:48] #431 closed

[2022-11-04 21:54] adpaco-aws opened #7302 "Type-checking for vector data type assignments is too restrictive"
CBMC version: 5.69.1

In this Kani example:
[code]
CBMC crashes with the invariant violation:
[code]

Type-checking is too restrictive here. AFAIK Rust allows assignments between two different vectors if they have the same number of elements (e.g., u64x2 can be converted into a i64x2 or u32x2, but not a u32x4).

I'm about to open a PR for this, will refer to this issue in our test and keep you pos

[2022-11-04 21:57] tautschnig commented on #5271
Closing as this now solved by constant propagation, neither SAT nor SMT solvers are even invoked.

[2022-11-04 21:57] #5271 closed, assigned to nobody

[2022-11-04 23:46] tautschnig commented on #6563
The crash in the SMT back-end is now addressed in #7303.

[2022-11-05 00:06] tautschnig commented on #4206
Was fixed in #6661.

[2022-11-05 00:06] #4206 closed, assigned to nobody

[2022-11-05 11:03] #6266 closed, assigned to nobody

[2022-11-05 11:03] #6348 closed, assigned to nobody

[2022-11-05 11:03] #6369 closed, assigned to nobody

[2022-11-05 11:05] kroening commented on #2117
The equality check `x == y` is undefined behaviour.

[2022-11-07 11:40] thomasspriggs commented on #7302
Have you tried inserting a typecast expression? If I remember correctly it is mandatory for typecasts at that stage of CBMC to be explicit.

[2022-11-07 17:58] qinheping opened #7306 "Avoid backward goto during applying loop contracts"
CBMC version: 5.69.1
Operating system: n/a

# Problem description
Currently, the loop contract transformation will insert a backward jump (https://github.com/diffblue/cbmc/blob/develop/src/goto-instrument/contracts/contracts.cpp#L110) into the result goto program. So after applying loop contracts, there will be loops that execute only one iteration in the place of the original annotated loops, whi

[2022-11-08 00:16] zhassan-aws opened #7308 "Invariant check fails with `--z3` and `--json-ui`"
This test is the same one in #7185, but with an extra assert:
[code]
Running it with `--z3` and `--json-ui` causes an invariant violation:
[code]
This doesn't crash if I remove either of the `--z3` or the `--json-ui` options.

CBMC version: 5.69.1
Operating system: Ubuntu 20.04
Exact command line resulting in the issue: `cbmc unit2.c --z3 --json-ui`
What behaviour did you expect: Verification fail

[2022-11-08 10:16] #4327 closed, assigned to nobody

[2022-11-08 11:07] TGWDB commented on #7301
Done by Peter, closing.

[2022-11-08 11:07] #7301 closed, assigned to peterschrammel

[2022-11-08 11:26] #6333 closed, assigned to nobody

[2022-11-08 13:45] tautschnig commented on #260
It won't be the last bug to resolve, but this is currently blocked by a bug in how we handle recursion in the abstract interpreter, see also https://github.com/diffblue/cbmc/issues/7041#issuecomment-1201024851.

[2022-11-08 13:47] tautschnig commented on #7012
This will eventually be fixed by #1874.

[2022-11-08 16:19] remi-delmas-3000 commented on #2117
The pointer comparison should be flagged as UB, but `--pointer-checks` does not catch this at the moment.

[2022-11-08 22:09] adpaco-aws commented on #7302
Hey @thomasspriggs , thanks for the answer!

After some more work, we realized that CBMC was right about this. For the return type, we were generating the same type as the operands, but that's not allowed in Rust (but the front-end can't detect this problem, as SIMD types depend on the back-end). The solution is to extend Kani's type-checker for CBMC expressions so it takes into account the expect

[2022-11-08 22:09] #7302 closed, assigned to nobody

[2022-11-09 16:04] orionpapadakis opened #7312 "Unable to verify Java method using the fully qualified name"
CBMC version: `5.58.1`
Operating system: `Ubuntu 20.04 - kernel 5.15.0-52-generic`
Exact command line resulting in the issue: `JBMC_BIN --classpath $JAVA_MODEL:./$TESTS my.petty.examples.SimpleMethod.foo:(Ljava/lang/String;)Z --unwind 5`
What behaviour did you expect: To verify the method.
What happened instead: `bash: syntax error near unexpected token `('`

The code of the method is:
[code]

[2022-11-09 16:26] feliperodri commented on #2117
Is there any documentation with a list of all UBs that `--pointer-checks` covers?

[2022-11-09 18:26] remi-delmas-3000 commented on #7306
The backjump is introduced to separate the base case and the step case of the loop in the transformed program, and analyse the loop step only if the loop can run at least once.

The structure of the transformed loop is roughly this:
[code]

I see at least two ways to address this unrolling issue:
- add a loop unwinding assertion in the transformed program at instrumentation time so that the analys

[2022-11-09 22:48] qinheping commented on #7306
Thank you @remi-delmas-3000. I will create a PR to unwind the transformed loop at instrumentation time.

[2022-11-10 13:03] tautschnig commented on #7312
You will need to use quotes, this isn't really a problem we can handle on the JBMC side, it's your shell. (Other than us mangling names so that they don't contain characters the shell tries to interpret.) Here is what worked for me:
[code]

[2022-11-10 14:25] orionpapadakis commented on #7312
Thank you for your answer. Actually I was missing 2 things:
1) the quotes, as you say
2) pass the the class name as argument, after the fully classified name of the method.

I kindly suggest to add an example to your documentation because none of the above is clear.

[2022-11-10 21:57] #6360 closed, assigned to nobody

[2022-11-10 23:18] peterschrammel commented on #7312
There are multiple equivalent ways of calling JBMC. The simplest one is just to pass the fully qualified method name (if necessary with the descriptor if you have overloads).
So, `JBMC_BIN --classpath $JAVA_MODEL:./$TESTS my.petty.examples.SimpleMethod.foo --unwind 5` should just work.
Surely, this can be better explained in the docs.

[2022-11-11 05:30] #7306 closed, assigned to qinheping

[2022-11-11 08:57] #6984 closed, assigned to nobody

[2022-11-11 11:32] orionpapadakis commented on #7312
Indeed, that is the simplest way (and easily understood from the documentation). However, it is usual in Java to have multiple methods with the same name but with different signature. In such a case the fully qualified name of a method is the only way to be clear.

[2022-11-11 19:14] feliperodri opened #7324 "Hide instrumentation code from contracts in counterexamples"
CBMC version: 5.69.1 (cbmc-5.59.0-676-gb4a4122dee)
Operating system: N/A
Exact command line resulting in the issue:
What behaviour did you expect: No instrumentation code in the counter-example.
What happened instead: Many temporary variables from function contracts instrumentation in the counter-example.

[2022-11-11 19:41] tautschnig commented on #7324
Those symbols would just need to be marked as `auxiliary` (or directly be created as `auxiliary_symbolt`, accomplishing the same).

[2022-11-11 20:39] remi-delmas-3000 commented on #7324
I left these visible for debugging purposes, but now would be a good time to hide them

[2022-11-11 20:42] feliperodri commented on #7324
@tautschnig if we define them as `auxiliary`, can we still print them out in counterexamples on a "DEBUG" mode? There is still benefit on certain cases.

[2022-11-11 21:23] tautschnig commented on #7324
One would always get them in the JSON or XML trace; I don't think the plain-text trace ever shows them, but we could consider changing that.

[2022-11-11 23:23] feliperodri commented on #7324
If they are still visible in the JSON and XML code, then users would still see them in viewer, correct? (cc. @markrtuttle)

[2022-11-14 09:46] tautschnig commented on #7324
Was fixed in #7326.

[2022-11-14 09:46] #7324 closed, assigned to remi-delmas-3000

[2022-11-14 09:49] tautschnig commented on #7211
Just a note that #7321 might partially take care of this.

[2022-11-14 19:35] #7207 closed, assigned to qinheping

[2022-11-15 09:31] tautschnig commented on #7282
Also noting that there are two related PRs:
- #6555 clarifies that the rounding mode is a part of the configuration.
- #6590 may open up an avenue to add the object on demand.

[2022-11-15 10:40] NlightNFotis commented on #7104
Hello, just a quick update on this one:

The first problem has been identified and a solution has been drafted in #7298. The solution first proposed was to effectively deny the dereferencing of such constructs at a type checking level.

After some feedback, the solution has morphed into a more general check at the bit vector conversion step, so that it's not limited to C programs only. The solutio

[2022-11-15 12:33] tautschnig commented on #7292
This was completed in #7290.

This requires admin permissions for the repository. @TGWDB could you please co-ordinate this activity?

Turns out we already have this information in `regression/readme.md`. We need to figure out what file anyone might actually look at, and I'd lean towards just renaming this file to `README.md` so that it doesn't get lost as easily among all the directories. **Update

[2022-11-15 15:25] kroening commented on #7282
The rounding mode is naturally very architecture dependent, so I'd say it's ok that that variable has an architecture-specific type and interpretation.

[2022-11-15 15:27] kroening commented on #7104
I don't think that the solver backend is the right place to address this.
The check does belong into the front-end.

[2022-11-15 15:45] TGWDB commented on #7104
It seems @tautschnig disagrees based on the PR discussion on #7298 . It seems like the real point of tension is whether the type-checking in the front end captures enough of the other ways CBMC is used? Or is the responsibility upon other users not to pass things in that would fail the (C-)front end?

[2022-11-15 15:59] kroening commented on #7104
The solver-back end is also the wrong place to enforce constraints on goto-programs.

[2022-11-16 02:45] feliperodri opened #7349 "Spurious warnings from DFCC instrumentation"
CBMC version: `5.69.1 (cbmc-5.59.0-676-gb4a4122dee)`
Operating system: N/A
Exact command line resulting in the issue:
First, clone my fork for [coreJSON](https://github.com/feliperodri/coreJSON/tree/JSON_validate-proof). Then, navigate to the proof located at `coreJSON/verification/cbmc/proofs/skipString/`. Finally, run the proof using `make veryclean; time make`.
What behaviour did you expect: No

[2022-11-16 03:23] feliperodri opened #7350 "Missing source location for DFCC instrumentation"
CBMC version: `5.69.1 (cbmc-5.59.0-676-gb4a4122dee)`
Operating system: N/A
Exact command line resulting in the issue:
First, clone my fork for [coreJSON](https://github.com/feliperodri/coreJSON/tree/JSON_validate-proof). Then, navigate to the proof located at `coreJSON/verification/cbmc/proofs/skipString/`. Finally, run the proof using `make veryclean; time make`.
What behaviour did you expect: No

[2022-11-16 03:30] feliperodri opened #7351 "Unroll loops using original name when checking contracts with DFCC"
CBMC version: `5.69.1 (cbmc-5.59.0-676-gb4a4122dee)`
Operating system: N/A
Exact command line resulting in the issue:
First, clone my fork for [coreJSON](https://github.com/feliperodri/coreJSON/tree/JSON_validate-proof). Then, navigate to the proof located at `coreJSON/verification/cbmc/proofs/skipString/`. Finally, take a look at the following [Makefile](https://github.com/feliperodri/coreJSON/bl

[2022-11-16 10:30] NlightNFotis commented on #7104
Hi @kroening,

I think the checks in the mid/backend are still useful if only to cover for bugs in transformations that may end up in a malformed goto-program being converted and sent to a solver.

The mid-end check is also useful in that it doesn't limit the check to programs that have come from the C-frontend (say, anything coming from `gnat2goto` or `kani`).

Is it still so that this must be lo

[2022-11-16 10:47] lou1306 opened #7353 "JBMC invariant violation when trying to generate CNF"
CBMC version: 5.70.0
Operating system: macOS 12.6.1 (Monterey)
Exact command line resulting in the issue:

unzip the attached MWE and execute the following command from its root directory:

[code]
What behaviour did you expect: JBMC generates a CNF and outputs it to a file `a.cnf`
What happened instead: JBMC fails on an invariant check

---

Dear CBMC developers,
I am performing some experiments w

[2022-11-16 16:38] peterschrammel commented on #7353
The dimacs option doesn't make much sense for JBMC because, in general, JBMC solves a series of incremental SAT problems that cannot be encoded into a single CNF.
We should remove that option as it is confusing.

[2022-11-16 16:40] peterschrammel commented on #7353
Does JBMC solve the problem correctly without the dimacs option?

[2022-11-17 12:13] hellotommmy opened #7358 "--unwinding-assertions pass, but assertion after loop not reachable?"
CBMC version: 5.10, 5.68, 5.70
Operating system: macOS Monterey 12.6
Exact command line resulting in the issue:
[code]
What behaviour did you expect:
If the unwinding assertions don't fail, then the assertion at line 849 (immediately after the loop) in main should fail:
[code]

What happened instead: all assertions passed, including the unwinding assertions and the smoke test assertion.

The code

[2022-11-17 16:27] remi-delmas-3000 commented on #7349
This is likely due to the manual removal of a number of function bodies in the proof build or to the "drop unreachable functions" part of the build.

The problem is, when a function body is missing during the DFCC pass, there is no way to know if it is intentional or not, so by default DFCC instrumentation warns about it.

For soundness we would like to trigger an error if such a function is event

[2022-11-17 16:54] remi-delmas-3000 commented on #7350
These seem to be linker-related warnings, somehow induced by the presence of code_json.c in the proof folder

[2022-11-17 16:56] remi-delmas-3000 commented on #7349
I'll create a CBMC issue and suggest improvements to the `--drop-unused-functions` and `--remove-function-body` works.

[2022-11-17 17:31] remi-delmas-3000 commented on #7351
Indeed contract instrumentation mangles the name of checked functions, so if the loop to unwind is in that function you need to use the mangled name.

However, it would be simpler to unwind these loops before contract instrumentation.

In Makefile.common there are two distinct unwind sets`EARLY_UNWINDSET` which is handled using goto-instrument, and `UNWINDSET` which is handled by cbmc at analysis

[2022-11-18 09:23] lou1306 commented on #7353
Can't say that it really *solves* the problem, as it is currently working on a very large SAT query, but it seems to run just fine when I remove `--dimacs`.

[2022-11-18 14:37] tautschnig commented on #7351
It seems to me that the discussion is now one about what https://github.com/model-checking/cbmc-starter-kit does?!

[2022-11-18 14:41] tautschnig commented on #7350
@feliperodri Can you clarify which of the warnings you are referring to? Most of the ones you list have a source location, relate to linking, and need to be investigated in the context of the project under verification (it seems the file `core_json.c` file is generated at build time, but perhaps is inconsistent with the declaration?!). Then there is `file MISSING`, which I don't know where it migh

[2022-11-18 15:19] tautschnig commented on #7358
Your assumption
[code]
doesn't hold at the last last iteration, and therefore aborts execution. So you don't actually get out of this loop, and hence don't reach your expected smoke-test assertion.

[2022-11-18 15:19] #7358 closed, assigned to nobody

[2022-11-18 16:24] adpaco-aws opened #7362 "Potentially missing overflow check in bitshift operators for vector expressions"
CBMC version: 5.69.1 (+ [this Kani branch](https://github.com/adpaco-aws/rmc/tree/simd-bitshift-miss-check))
Operating system: ubuntu-20.04
Exact command line resulting in the issue: Default `kani` command this example:

[code]

What behaviour did you expect: Expected the properties to be checked to be the same for both `<<` and `simd_shl`.

What happened instead: The properties checked aren't the

[2022-11-21 18:13] esteffin opened #7366 "CBMC does not build with clang on ubuntu 22.04"
Building CBMC with `clang` on `ubuntu 22.04` fails.

The issue is that during the compilation of target `library-check.stamp` at step `Checking /root/cbmc/src/ansi-c/library/stdio.c` there is an error:
[code]

The issue happens with `clang-11`, `clang-12` and `clang-13`.

The build using `gcc` instead works.

CBMC version: commit d932d6ffded15019b7591b025f22e8e072c58a52
Operating system: Ubuntu 22

[2022-11-21 18:18] esteffin commented on #7366
After a bit of investigation it seems that the script `src/ansi-c/library_check.sh` fails when checking `stdio.c` as clang cannot build it on Ubuntu 22.04.

On Mac the compilation with `clang-12` instead is successful.

[2022-11-21 20:47] adpaco-aws opened #7367 "Missing checks in division/remainder operators for vector expressions"
CBMC version: 5.69.1 (+ this [Kani branch](https://github.com/adpaco-aws/rmc/tree/simd-div-ops-support))
Operating system: ubuntu-20.04
Exact command line resulting in the issue: Default `kani` command the example
[code]

What behaviour did you expect: Expected the properties to be checked to be the same for both `/` (or `%`) and `simd_div` (or `simd_rem`).
What happened instead:  The properties c

[2022-11-22 10:56] tautschnig commented on #7366
We should probably `#ifndef` the non `__isoc99_` variants when `__clang__` is set.

[2022-11-22 11:36] tautschnig commented on #7362
I'm afraid that check "attempt to shift left with overflow" is one that Kani generates (it's already part of the generated symtab JSON file), it's not one generated by CBMC. So Kani will need to duplicate this for the SIMD case.

[2022-11-22 11:36] #7362 closed, assigned to tautschnig

[2022-11-22 13:48] tautschnig commented on #7367
It seems all the missing properties are ones generated by Kani. Closing for time being, but please do reopen in case you expected CBMC to create those checks by itself.

[2022-11-22 13:48] #7367 closed, assigned to tautschnig

[2022-11-22 18:03] martin-cs commented on #7282
@tautschnig I think I agree.  There are the four modes from IEEE-754 1989, 1 that was added in 2008 but is not required for binary and then the 1 or 2 that are mentioned in 2019 IIRC.  It's a small number anyway.  We could have a `uint_16t` and comfortably "1 hot" encode all possible current and likely future rounding modes.

There is also a practical point which is that it is an input into all fl

[2022-11-22 18:04] martin-cs commented on #7282
@adpaco-aws Is that an answer?  If so, please close the issue or, if not, let's discuss it more.

[2022-11-22 23:41] #5570 closed, assigned to nobody

[2022-11-23 14:56] tautschnig opened #7377 "Silent transformation of __CPROVER_{r,w,rw}_ok causing surprising behaviour"
Posting an analysis by @nwetzler, @jimgrundy and @remi-delmas-3000  The [attached a gzipped tarball](https://github.com/diffblue/cbmc/files/10076605/goto-instrument-pointer-checks.tar.gz) contains a single C file and a script to demonstrate the problem.

The following function takes a single pointer and asserts that it is read/write okay:
[code]

We can compile this to goto (to create a.out) and t

[2022-11-23 15:37] remi-delmas-3000 opened #7378 "Performance problem with --pointer-checks, --pointer-primitive-checks"
This branch contains the problematic model https://github.com/remi-delmas-3000/cbmc/tree/record-write-v-minimized

The `s2n_record_writev.c` model reveals several problems, described in `regression/contracts/s2n_record_writev/RUNME.sh`.

In short:
- translating the model with `goto-cc s2n_record_writev.c` produces a model `a.out` that can be analysed directly by `cbmc` with pointer checks and poin

[2022-11-23 16:41] jimgrundy commented on #7377
There is some urgency to this one as it looks like the extra complication introduced into the assertion is part of a performance problem we are seeing (in a more complex example, of course). Removing this complication is important.

[2022-11-23 17:21] feliperodri commented on #7351
This problem has been solved by using `EARLY_UNWINDSET`, which unrolls the loop before contracts instrumentation.

[2022-11-23 17:21] #7351 closed, assigned to remi-delmas-3000

[2022-11-23 17:26] feliperodri commented on #7350
This issue is on the Viewer side, so replacing it with https://github.com/model-checking/cbmc-viewer/issues/133.

[2022-11-23 17:26] #7350 closed, assigned to remi-delmas-3000, feliperodri, nwetzler

[2022-11-23 19:23] feliperodri opened #7379 "Bug in contract replacement with conditional assings clauses"
CBMC version: 5.69.1 (cbmc-5.59.0-676-gb4a4122dee)
Operating system: N/A
Exact command line resulting in the issue:
[code]
What behaviour did you expect: No failures.
What happened instead: NULL pointer derefecences.

[code]

[2022-11-23 21:03] remi-delmas-3000 commented on #7379
fixed by https://github.com/diffblue/cbmc/pull/7380

[2022-11-24 16:30] TGWDB opened #7383 "IWYU failing on develop and also fails too early"
As seen on a recent PR, the IWYU CI job is currently failing on develop (likely due to parallel changes), example output here: https://github.com/diffblue/cbmc/actions/runs/3540003949/jobs/5945959712

This should be fixed (but not in the release PR since I want to keep that clean).

Further, this highlights a potential issue in the IWYU CI job that it fails immediately:
[code]
It might be a good i

[2022-11-25 08:06] tautschnig commented on #7383
I am not sure why this is deemed to be failing early?

[2022-11-25 08:56] TGWDB commented on #7383
Sorry if this is not clear. The script exits immediately if any IWYU compliance violation is found:
[code]
I would propose to rewrite something like (pseudocode):
[code]
This allows all the non-compliant instances to be shown and then all resolved in one pass.

[2022-11-25 11:16] #7383 closed, assigned to nobody

[2022-11-25 11:44] tautschnig commented on #7383
Hmm, the only concern I really share is the use of `-B1`: this isn't a `for` loop that exits early, it will actually `grep` all the output produced by include-what-you-use, which has run to completion beforehand. And even with the `-B1`: the full output (i.e., the contents of what ends up as `includes.txt`) is dumped to the log file.

[2022-11-25 13:41] TGWDB commented on #7383
Yes. I'm not sure the best way to resolve here, but exiting without all the annotations is annoying for someone who has to keep rerunning to get them. On the other hand, the output is pretty verbose, so showing only the important ones would be good...

[2022-11-25 14:05] tautschnig commented on #7383
I might have misunderstood, but is the only remaining concern that the final summary uses `-B1` and, thereby, may fail to list some of the unnecessary includes _in the summary_? The output prior to that has all unnecessary includes as well as include-what-you-use's recommendation on what to use instead. If I do understand correctly, then the fix is to use `sed` or `perl` instead of `grep -B1` to h

[2022-11-25 14:08] TGWDB commented on #7383
Yes. This bit me because I was going to wrap the fix up myself but I couldn't run locally (iwyu issue), so seeing everything in the CI run would have been good.

[2022-11-25 14:48] tautschnig commented on #7383
Well, as said it's all there, you would just need to browse further up.

[2022-11-25 14:53] TGWDB commented on #7383
Yes, it was there in 50,000 lines of logs. Now having spent more time with it I can better understand what I'm looking for, but yesterday with limited time and an unexpected failure that I could not reproduce locally it was annoying to try to sort out.

I agree that if it all passes now then it should be ok though.

[2022-11-25 16:17] remi-delmas-3000 commented on #7377
the related issue is decribed here : https://github.com/diffblue/cbmc/issues/7378

[2022-11-25 18:30] #7379 closed, assigned to remi-delmas-3000

[2022-11-28 12:27] tautschnig commented on #7377
I started to work on the issues noticed in here (as well as in #7378). #7395 should be part of the puzzle (once complete). I am still trying to figure out, however, what is really causing this performance problem (the issues listed in this ticket are to be addressed, but don't necessarily explain why performance should be so much worse).

[2022-11-28 22:47] zhassan-aws commented on #7308
Re-opening: I could reproduce the same invariant violation with CBMC 5.71.0 on a different program involving `_Bool`:
[code]
[code]
Similar to above, removing `--z3` or `--json-ui` makes the crash go away.

[2022-11-28 22:53] jimgrundy opened #7397 "Documentation formatting is broken on Developer-Guide/Code-Organization Page"
Take a look at this page of our documentation: https://diffblue.github.io/cbmc/folder-walkthrough.html
The formatting is all messed up.

[2022-11-29 14:49] NlightNFotis commented on #7397
Yeah, the `<tt>` tags are, I believe, an artefact of an older system based on another markup format (I believe it was restructured text), that we haven't translated in our new format.

I'll try to spin up a PR to fix that on an ASAP basis (it's a small change) but there are bound to be more of these around, and we're going to have to fix them on a case-by-case basis, unless there's some decision t

[2022-11-29 15:01] NlightNFotis commented on #7292
@tautschnig Is there something outstanding here, or are we good to close this ticket?

[2022-11-29 15:11] tautschnig commented on #7292
I think the piece left open is:

This requires someone with admin permissions to change which of the CI jobs are marked "Required."

[2022-11-29 19:07] #7397 closed, assigned to nobody

[2022-11-30 17:33] thomasspriggs commented on #6134
The user-facing documentation for the new SMT backend has been merged in this PR - https://github.com/diffblue/cbmc/pull/7363

It should be possible to find it on https://diffblue.github.io/cbmc/ once the publishing job has completed. The links to follow to find it will be -

 1. Go to https://diffblue.github.io/cbmc/
 2. User Guide in the side bar.
 3. The link to "A short manual" in that pages's

[2022-11-30 17:39] thomasspriggs commented on #6134
The publishing job succeeded. The direct link is here - https://diffblue.github.io/cbmc/cprover-manual/md_smt2_incr.html

[2022-11-30 22:41] #7308 closed, assigned to nobody