[2017-05-11 10:59] tautschnig commented on #909
Be aware that other than via RTTI we wouldn't have any way of knowing that an expression is an `associative_exprt`. Thus it would almost exclusively be information usable by humans, not necessarily by the compiler.

[2017-05-11 11:29] martin-cs commented on #909
ID_and, ID_or, ID_bitor, ID_bitxor, ID_bitand would be other candidates,
all of which are symmetric and associative.  ID_concatinate is an
example of an associative but not symmetric operation.

[2017-05-11 19:50] martin-cs commented on #182
Thanks all for the input and suggested libraries.  I have written something that meets my immediate needs.  I believe it will also meet the other requirements given here.  In the default build it throws a std::exception and if built with GLibc and LINKFLAGS="-rdynamic" will also give you helpful backtraces!  The PR is here:

https://github.com/diffblue/cbmc/pull/911

can I suggest that discussion

[2017-05-12 08:51] #259 closed

[2017-05-12 13:58] tautschnig commented on #909
It may be worth mentioning that 3f1afed and 35eb739 have "happened".

[2017-05-14 06:22] kroening commented on #909
It may be worth mentioning that multi_ary_exprt does have some semantic change over exprt -- this is not just 'human documentation'. In particular binary_exprt comes with two operands when constructed, a multi_ary_exprt does not.

[2017-05-14 06:22] #909 closed

[2017-05-15 06:25] tautschnig commented on #909
@kroening Would you mind explaining what the difference between `multi_ary_exprt` and `exprt` is? (It's safe to say that I am very unhappy about the fact that 3f1afed and 35eb739 just "happened" without any chance for further discussion.)

[2017-05-15 09:30] NathanJPhillips opened #921 "Move existing unit tests to Catch"
Any existing unit tests that still make sense should be moved to the new catch unit framework introduced by PR #874.

[2017-05-15 15:45] mgudemann commented on #561
done in #824

[2017-05-15 15:45] #561 closed

[2017-05-15 18:44] mgudemann opened #926 "array index off by one"
This program is verified by CBMC
[code]
as
[code]
but `java -ea incr` correctly fails
[code]
the problem is that the array access index in the GOTO program is incremented before the access is done

[2017-05-15 19:20] mgudemann commented on #926
found by @reuk in `java/util/ArrayList.java`

[2017-05-16 13:41] reuk opened #930 "Unable to resolve correct virtual method"
On c503366 (current test-gen-support), CBMC is able to verify the first `assert`, but fails to verify the second. As the only difference between the two `asserts` is the known type information at each point, it seems likely that CBMC is unable to resolve the correct `equals` to call.

[code]

[2017-05-16 18:51] mgudemann commented on #926
There seems to be a problem with the `?load` implementation. In the example the bytecodes in question are
[code]
where local variable 1 corresponds to `n`. This is supposed to 1) put the content of local variable 1 onto the stack 2) increase the local variable 1, and 3) access an array at the index on the stack (in this case the old value of `n`).

The `?load` implementation puts the variable itse

[2017-05-16 20:23] mgudemann commented on #926
So this seems to be a slightly more complex problem. In short, on the stack are values of local variables or fields. When the local variable or field is changes, the value of the stack must not change at the same time. The current implementation of `?load` pushes the variable instead of its value and `getfield` / `getstatic` push a reference to the field.
This can be solved by introducing a tempor

[2017-05-16 20:58] mgudemann commented on #926
cf. #931

[2017-05-17 10:23] tautschnig opened #932 "Use of anonymous namespaces requires further work/discussion"
See the post-merge discussion in #929, in particular @peterschrammel's [statement](https://github.com/diffblue/cbmc/pull/929#issuecomment-302047930).

[2017-05-17 10:41] cliffordwolf opened #933 "Unwarranted "equality without matching types" error"
The following example code causes CBMC to fail with an `equality without matching types` error:

[code]

I'm running this with `cbmc --function test test.cc` using todays git head.

Defining `HOTFIX` (and thus explicitly casting `state._abc_1398_n363.value_0_0` from `uint8_t : 1` to `bool` in the third argument to the ternary operator) works around the issue. GCC 5.4 and Clang 3.8 both accept the

[2017-05-17 10:42] pkesseli commented on #932
Yes, I do that frequently. Simple example is if I'm using a small expr_visitort implementation which is only relevant in the current .cpp file, I put it in an anonymous namespace.

I'm referring to its differing semantics if it's in a namespace scope vs. when applied to class members. Also, I just find it repetitive:

[code]

Instead, I prefer:

[code]

Limiting their size to 5 lines seems excessi

[2017-05-17 11:48] stahlbauer opened #934 "goto-instrument: handling of VarArgs"
It would be great if `goto-instrument` would be able to handle variable arguments and dump valid C code; example of a program that is not yet fully covered by the implementation:

[code]

`GCC` complains about when parsing the file that was produced by goto-instrument:

[code]

`clang` states that:

[code]

[2017-05-17 11:48] stahlbauer commented on #934
@tautschnig FYI

[2017-05-17 12:34] stahlbauer commented on #934
A workaround would be a feature that abstracts away (declare them as `external`) the definitions of some functions. For example, functions with variable argument list.

[2017-05-17 12:52] stahlbauer commented on #934
The _hackiest_ and _ugliest_ solution I can imagine would be something like:

    os_body << "// " << symbol.name << std::endl;
    os_body << "// " << symbol.location << std::endl;
    const std::string &fn_decl_str = make_decl(symbol.name, symbol.type);
    if (fn_decl_str.find("...")==std::string::npos
        && fn_decl_str.find("va_list")==std::string::npos) {
      os_body<<fn_decl_str<<std:

[2017-05-20 11:46] #746 closed

[2017-05-22 10:20] jgwilson42 opened #947 "Instructions for Code Coverage fail on Ubuntu 16.10"
** Observed Behaviour **

Having followed the instructions (COMPILING) on Ubuntu 16.10 I get the following error when attempting to run get_coverage.sh:
[code]
After installing g++ using `apt-get install g++` this error goes away

**Expected Behaviour**

For the documentation to include the packages required.

**Version**

CBMC master Latest commit d999e56.

**Steps to reproduce**
1. On a clean ub

[2017-05-22 10:22] jgwilson42 opened #948 "Ubuntu 16.10 VPATH Build for Code Coverage Fails"
**Observed Behaviour**

When running `get_coverage.sh` on Ubuntu 16.10 I get the following error:
[code]
**Expected Behaviour**

Code coverage report.

**Version**

CBMC master Latest commit d999e56

**Steps to Reproduce**
1. On a clean ubuntu VM (gcloud)
2. Install packages from COMPILING
3. Install g++
4. `cd regression`
5. `./get_coverage.sh`

[2017-05-22 12:32] tautschnig commented on #948
Taking ownership of this as I wrote that vpath build script in the first place.

[2017-05-23 17:45] pkesseli commented on #932
For what it's worth, I don't think it makes sense to refactor out all uses of `static` for TU-local content. The above comment shows some examples where anonymous namespaces are intuitive or even necessary, but I wouldn't ban the use of static for this purpose either. There are cases, such as single variables or functions, where `static` is the simpler choice.

I suggest we form a basic guideline

[2017-05-24 08:41] tautschnig opened #962 "Build no longer uses -O2 by default"
As of  10eb073 running `make` without overwriting `CXXFLAGS` will no longer do optimised builds. This will cause severe performance penalties as the code base relies on compiler optimisation a lot.

At minimum, the instructions in "COMPILING" should be updated. I would, however, suggest that optimisations be re-enabled.

[2017-05-24 09:56] stahlbauer opened #964 "goto-instrument: anonymous structs in typedefs"
The problem is caused by not dumping names of **anonymous structs** in **typedefs**. Example:

Input for **goto-cc**:
[code]

Output of **goto-instrument**:
[code]

**GCC** output:
[code]

**clang** output:
[code]

[2017-05-24 09:57] stahlbauer commented on #964
@tautschnig: FYI

[2017-05-24 11:00] #947 closed

[2017-05-24 11:00] #948 closed

[2017-05-24 12:21] martin-cs commented on #962
That's very concerning and I don't think that kind of change should be
part of a fix.

[2017-05-24 14:48] owen-jones-diffblue commented on #902
To be more precise, the lines of the test suite are generated here: https://github.com/diffblue/cbmc/blob/master/src/cbmc/bmc_cover.cpp#L460 . The sections just after the equals sign are output here: https://github.com/diffblue/cbmc/blob/master/src/cbmc/bmc_cover.cpp#L140 . So they are coming directly from the goto trace. `from_expr()` resolves to `expr2c()`.

[2017-05-24 16:27] NathanJPhillips commented on #962
Are you sure you have the right commit reference? I don't see the change that removes optimisation there.

[2017-05-24 17:29] tautschnig commented on #962
The problem is that `CXXFLAGS += ...` in "config.inc" will cause `CXXFLAGS ?= ...` in "common" not to have any effect.

[2017-05-25 07:05] tautschnig commented on #964
I have just confirmed that this is already addressed by #858, and have added the above as a regression test.

[2017-05-25 07:29] tautschnig commented on #964
I'm sorry, I have spoken too soon as it does only work when using an older version of goto-cc. I'll take a look and will provide an update once properly fixed.

[2017-05-25 11:41] tautschnig commented on #964
This is now fixed, and #858 is updated to include that fix. As such this issue will auto-resolve when #858 is reviewed and merged.

[2017-05-25 13:12] NathanJPhillips commented on #962
I see. That does seem to be a problem. Shouldn't optimisation be added in config.inc rather than common? Unfortunately I've been moved off CBMC as part of our two month sprint, otherwise I'd suggest I do a PR to make that change.

[2017-05-25 14:51] tautschnig commented on #962
@NathanJPhillips No worries - I've put up #969 that ought to address this. Comments/reviews appreciated.

[2017-05-25 16:42] #962 closed

[2017-05-25 16:48] owen-jones-diffblue commented on #902
I dug into this a bit more. The `step.io_arg.front()` from https://github.com/diffblue/cbmc/blob/master/src/cbmc/bmc_cover.cpp#L140 which has "!0" in it is being set in https://github.com/diffblue/cbmc/blob/master/src/goto-symex/build_goto_trace.cpp#L281. When I run my Steps To Reproduce with a breakpoint on this line, on the fifth time that the breakpoint is hit `tmp` is the address of `tmp$1!0`.

[2017-05-26 07:01] tautschnig commented on #902
My apologies for not attending to this in a while.

For a start, it should be noted that it's not just test-input that contains the L0/L1 identifiers, but the same is true for the counter-example trace. I would suggest to discuss with @kroening whether this is a bug or a feature. I'd lean towards the latter as this information is essential to distinguish multiple objects that the address may be ta

[2017-05-26 10:01] stahlbauer opened #972 "goto-instrument: function pointer typedefs"
Function pointer types are not translated correctly by the current version of goto-instrument:

**Input:** `typedef void (*__sighandler_t) (int);`

**Output:** `typedef void (*)(signed int) __sighandler_t;`

**GCC error:**

[code]

**Full example** for regression checks:

[code]

@tautschnig: FYI

[2017-05-26 10:22] stahlbauer commented on #934
The problem is still there. Functions with `va_list` parameters cause problems. For example, if the "va_list" gets assigned to a `void**` pointer.

[2017-05-26 10:50] stahlbauer opened #973 "goto-instrument: diverse problems with the signal.h API"
Producing code from goto-files that reference `signal.h` causes several problems.

**Example** program:

[code]

Resulting C file (produced with **goto-instrument**):

[code]

Especially the translation of `sigset_t ss;` to `struct anonymous ss;` seems to be critical (the struct anonymous is declared/defined nowhere).

[2017-05-26 10:51] stahlbauer commented on #973
@tautschnig: FYI

[2017-05-26 11:36] tautschnig commented on #973
Fix included in #858.

[2017-05-26 11:37] tautschnig commented on #972
Fix included in #858 (my previous attempt at constructing the typedef string could safely be called stupid).

[2017-05-26 13:55] tautschnig commented on #926
This will be addressed by #951.

[2017-05-26 13:59] tautschnig commented on #807
The only way to resolve this issue could be better documentation, or should it just be closed as is? @thk123 ?

[2017-05-26 14:02] tautschnig commented on #850
Fixed via #860.

[2017-05-26 14:02] #850 closed

[2017-05-26 14:27] thk123 commented on #807
Hi sorry this stopped blocking me - I think this still doesn't work even for reasonable RHS code but I've now lost the example - we can just close this for now - if/when I try to use it again I'll open a new issue with more detail

[2017-05-26 14:27] #807 closed

[2017-05-26 14:54] tautschnig commented on #755
For the record: this is due to 6129d3673c3a. I'm working on a workaround.

[2017-05-31 16:08] martin-cs commented on #902
The calls into the back-end (solvers/flattening) look roughly as expected and I would expect the solver / back-end to handle things with the SSA name, rather than the original / program name.

This matches my expectation (FWIW).  I believe the trace should exist at the level of goto-programs and be independent of how it was generated (i.e. these can be built from BMC SSA, IIRC symex also builds th

[2017-05-31 16:16] martin-cs commented on #902
I can see why dynamically created objects need to be numbered and why their numbering is more / different to the SSA numbering and should persist through the conversion to a goto trace but I can't see that the pointer variables would need this numbering.

[2017-05-31 18:14] tautschnig commented on #902
It's completely up to the code generating the output to decide what is appropriate. The SSA information is persisted all the way, so (as indicated in my comment) people may choose to build the output in any way deemed most appropriate.

[2017-06-01 17:10] owen-jones-diffblue commented on #902
@tautschnig The code snippet you gave seems to not work on functions with parameters that are arrays

[2017-06-01 17:16] tautschnig commented on #902
Would you have an example code snippet?

[2017-06-01 17:27] owen-jones-diffblue commented on #902
https://github.com/diffblue/cbmc/blob/master/regression/cbmc-java/NullPointer1/NullPointer1.java

[2017-06-01 18:35] tautschnig commented on #902
It seems my patch had a syntax error anyway. The below appears to work:
[code]

[2017-06-02 13:06] owen-jones-diffblue commented on #902
Thanks Michael, that works. I've made #985 which has the same code but in a different place. In bmc_covert::get_test() it only affects the test suite as it's printed out. I've put it in build_goto_trace(), so it affects the goto trace.

[2017-06-02 13:08] owen-jones-diffblue commented on #902
Thanks @tautschnig , that works. I'm going to make a PR to test-gen-support to merge this, but in a slightly different place so it actually affects the goto trace.

[2017-06-05 11:39] owen-jones-diffblue commented on #902
I've thought of a better way of showing what I think the problem is. Make a file with this as its contents:
[code]
Run `cbmc` on it with these flags: `--function fun --show-goto-functions`. In the output you'll fine `tmp$1` but not `tmp$1!0`. Now run `cbmc` on it with these flags: `--function fun --trace`. You should get output a lot like this:
[code]
To me this doesn't make sense. In state 28 we'

[2017-06-05 12:16] tautschnig commented on #902
I may be repeating myself: please discuss this with @kroening. As far as I am aware it is a conscious decision to output in the way it is done (i.e., with L0/L1 SSA indices as only then an object can be uniquely identified), and thus it might mainly be a matter of providing suitable documentation.

[2017-06-12 13:47] allredj opened #1002 "Valid assertions missing from cbmc output"
When running cbmc on the following java class:
[code]
I get the following output:
[code]
That is, the first (statically true) assertion is discarded from the output, and the second one is assigned identifier `1`. In my opinion, this is potentially misleading and makes the writing of regression tests difficult, as we do not know in advance which assertions will be omitted. For instance, in the foll

[2017-06-12 13:51] tautschnig commented on #1002
Could you please check whether adding `--no-simplify` to the command line yields the output you are looking for?

[2017-06-12 14:13] allredj commented on #1002
So, `--no-simplify --unwind 5` does show me the assertion in the String example. But not in the `assert 1 + 1 ==2` case, which is not very far from `assert true`.

[2017-06-14 10:42] martin-cs commented on #182
#911 has now been merged so the last thing to do to resolve this issue is to convert over the remaining asserts and throw 0 / throw "error" calls.

[2017-06-15 08:43] smowton opened #1015 "Java frontend requires `--simplify` for constant casts"
The Java frontend synthesises expressions like `(signedbv_typet(32)) (integer_typet(50))`, for example due to the bytecode op `bipush 50`, for which the parser makes an integer-typed constant for the `50` and then wraps it in a typecast for the `bipush` (see https://github.com/diffblue/cbmc/blob/master/src/java_bytecode/java_bytecode_convert_method.cpp#L1416)

Problem is, only `simplify_expr` actu

[2017-06-15 10:24] martin-cs commented on #1015
On Thu, 2017-06-15 at 01:43 -0700, Chris Smowton wrote:

Note that --no-simplify is intended more as a testing option than a
feature / user accessible thing.  May I ask why you want this to work?

This is a bit expected.  The integer type is intended to be mathematical
integers (i.e. \Z) so them not being supported by the bit-blaster (or at
least requiring an extra layer with abstraction) is not w

[2017-06-15 10:37] smowton commented on #1015
The use case was "trying to create a new driver program, failing to set 'simplify', wondering why the Java frontend produces illegal expressions"

[2017-06-15 10:38] smowton commented on #1015
And `bipush` semantics are to push a constant `int` -- the existence of the cast at all is just a convenience thing for the parser.

[2017-06-15 10:42] smowton commented on #1015
To phrase this another way, surely simplify should be doing what it says -- simplifying, making a downstream task *easier* rather than *possible* -- rather than eliminating certain expression forms that other passes fail to cover?

[2017-06-15 11:07] tautschnig commented on #1015
Yes, but as just said in https://github.com/diffblue/cbmc/pull/1016#discussion_r122177556 I am wondering whether those expressions should exist in the first place?!

[2017-06-15 13:14] martin-cs commented on #1015
On Thu, 2017-06-15 at 03:38 -0700, Chris Smowton wrote:

Assuming that 'int' is a machine integer then, yes, the simplifier
should be called when the cast has been created.

[2017-06-15 13:21] martin-cs commented on #1015
On Thu, 2017-06-15 at 03:42 -0700, Chris Smowton wrote:

Sort of.  The simplify / no-simplify options are about one specific case
which is (context-free) expression simplification during symbolic
execution.  It isn't more general than that and critically, it is a
back-end option rather than anything front-end.

A consequence of this can be eliminating problematic constructs, which
may mean that mo

[2017-06-16 09:52] smowton commented on #1015
I don't think the semantics require them; the contexts where they're used already specify a byte or half-word or similar rather than an arbitrary integer, so going via a universal integer intermediate format is purely a convenience. Simplify-when-built: the attached PR does this.

[2017-06-23 07:07] #1015 closed

[2017-06-27 15:08] smowton opened #1065 "Trace production with JSON UI segfaults"
This happens in the test-gen-support branch when trying to simplify an index-expression with a pointer-offset expression in the index operand. The cause is a misunderstanding of `pointer_offset_exprt` here (https://github.com/diffblue/cbmc/blob/test-gen-support/src/goto-programs/json_goto_trace.cpp#L26)-- the transformation simply discarding pointer_offset_exprt(constant) is not correct. Fix comin

[2017-06-27 15:33] smowton commented on #1065
Fix:
https://github.com/diffblue/cbmc/pull/1066
https://github.com/diffblue/test-gen/pull/617

[2017-06-28 10:25] smowton opened #1069 "String solver attempts to reason about @class_identifier fields; aborts"
I suspect because of logic that should only activate for C rather than Java code, a `cprover_string_literal_func` is created wrapping an expression of the form `x ? y.@class_identifier : z.@class_identifier`. This results in an abort when `string_constraint_generatort::add_axioms_from_literal` attempts to cast its operand to a `constant_exprt`.

Command-line to reproduce: `test-generator 1cb074b7a

[2017-06-28 18:25] dkreuter opened #1073 "constexpr cast operator crashes parser"
The parser seems to fail on
[code]
I modified Parser::rOtherDeclaration to look for ID_operator recursively
[code]
but that just moves the crash to a later phase (cpp_typecheckt::typecheck_compound_declarator)

[2017-07-03 16:49] #882 closed

[2017-07-03 16:49] #934 closed

[2017-07-03 16:49] #964 closed

[2017-07-03 16:49] #972 closed

[2017-07-03 16:49] #973 closed

[2017-07-04 13:51] tautschnig commented on #932
I believe this should be closed via #1031.

[2017-07-04 14:00] tautschnig commented on #249
@peterschrammel Has this been fully addressed by #858?

[2017-07-04 14:35] tautschnig commented on #330
This has been fixed in #795 (237d8be12d).

[2017-07-04 14:35] #330 closed

[2017-07-05 10:25] jasigal opened #1091 "Update assertions to invariants in refinement solver (test-gen-support)"
The assertions (and `throw`s) in `src/solvers/refinement` are in the old style and will need to be updated. Currently waiting on more structured exceptions, but the process can begin now.

[2017-07-05 10:31] jasigal commented on #1091
Closing, wrong place.

[2017-07-05 10:31] #1091 closed

[2017-07-06 13:51] david-k commented on #351
Hi, I stumbled upon the same problem (multiplications always being forwarded) and wanted to ask what the current state of this issue is. It seems it should be easy to fix, but I don't really understand the special case for `ID_C_c_sizeof_type` so I should probably not touch the code.

[2017-07-06 13:58] tautschnig commented on #351
To what extent is it a "problem" for people? The code is strange and, in a way, wrong, but what is it that elevates this to an observable problem?

FWIW, the correct code should be:
[code]

[2017-07-06 14:05] david-k commented on #351
Thank you!
We use CBMC to separately compile functions to circuits. If function A computes `a * b` and passes the result to another function B, then B would compute the multiplication again if `a * b` is being forwarded.

[2017-07-06 14:29] tautschnig commented on #351
I'll try to find time to put in a pull request in the next hours.

[2017-07-06 14:37] david-k commented on #351
No hurry, and thanks again.

[2017-07-06 15:00] tautschnig commented on #351
@david-k See #1099.

[2017-07-11 09:54] pkesseli opened #1115 "Nondeterministic indexes unsound"
CBMC marks the followong program as safe when run with "-D NONDET_INDEX", which is incorrect. The assertion should fail for `index=0`, and CBMC works as expected if it is set statically.

C program:

[code]

VCC (nondet index case):
[code]

CBMC Version:
32b68ced26243533b697d5d262fe7769879b2419

[2017-07-11 14:19] tautschnig commented on #1115
Just for the record: I'm looking at this, and I'm trying to figure out where `{-32} actual!0@1#2 == actual!0@1#0` is coming from.

[2017-07-11 14:37] tautschnig commented on #1115
There are two bits that are happening here: 1) an object that has gone out-of-scope is chosen to be assigned to and 2) a phi-node is generated on that same object. The former ought to be optimised away, and the latter should certainly never be done (even though a direct consequence of the former). I'm working on fixes.

[2017-07-12 00:04] pkesseli commented on #932
That's correct. In the CEGIS project, I currently apply the following policy:

- Use anonymous namespaces for local classes
- Use `static` for local functions and variables.

The current CBMC coding standard permits more liberal use of anonymous namespaces, but I've come around to prefer `static` for functions and variables after trying it for a while.

[2017-07-13 11:07] tautschnig opened #1121 "Port improvements from test-gen-support to master"
I'm mainly opening this issue to understand whether this is any plan or strategy to do this, or whether this isn't even planned at all. It seems test-gen-support has a large array of improvements in the Java front-end that do not appear to be particularly specific to test generation.

[2017-07-13 12:17] #1115 closed

[2017-07-13 14:57] tautschnig commented on #1121
Here's a task list, in chronological order, with commit series to be read from top to bottom:

- d47d503b6 Get symbol of member expression
- 27153d142 Auxiliary function to check if the ssa has enough data to build an identifier
- 298740647 Bitwise operators for mpinteger
- d81dd759c Auxiliary function to retrieve tail of trace and added dead command to trace
- 7fb817448 Fix arithmetic shift opera

[2017-07-14 20:45] tautschnig commented on #1121
There is now https://github.com/diffblue/cbmc/tree/rebased-test-gen-support that has all commits in test-gen-support up to e8e20ea4fe0, rebased onto current master (d63d2c7a). @peterschrammel has more details.

[2017-07-15 15:07] #351 closed

[2017-07-17 07:05] tautschnig commented on #933
My apologies for the late response. Is it intentional that you are using C++ in this example, i.e., are you trying to exercise the C++ front-end? Your example does work fine in C mode (but I can confirm the issue when using C++ mode).

[2017-07-17 07:14] cliffordwolf commented on #933
Yes, using C++ is intentional. I reduced this from a larger test case that is in fact using C++ features. (methods and some relatively simple templates afair)

[2017-07-17 07:21] tautschnig commented on #933
Ok, thanks for confirming. (The use of `stdbool` was surprising.) While the C++ front-end is known to have a lot of issues, I believe @peterschrammel does have patches flying around. I'd prefer to avoid redundant work, so maybe he can chime in.

[2017-07-17 07:39] cliffordwolf commented on #933
I can explain where that came from: In the original test case I was checking C code from one source against C++ code from another source. The resulting input to cbmc was a C++ file, but the stdbool include survived from the C portion.

In case you are interested: I'm formally verifying the Verilog instruction models in [riscv-formal](https://github.com/cliffordwolf/riscv-formal) against the (C++)

[2017-07-17 16:28] #932 closed

[2017-07-17 19:36] tautschnig commented on #1121
FWIW, I have rebased https://github.com/diffblue/cbmc/tree/rebased-test-gen-support to account for #890. Hopefully that one was the last of the across-the-code-base changes.

[2017-07-18 08:32] tautschnig opened #1148 "Action items for compatibility-breaking release"
We should consider dropping some cruft; doing so will break compatibility and thus must happen in one major release (and only one). Requires an increment of the goto binary format version.

- [ ] Drop `symbol_typet` and `ns.follow` (and use tag types instead)
- [ ] Restrict gotos to a single target
- [ ] Add a width to pointers (and remove all `config` references from solvers)
- [ ] Clean up the i

[2017-07-18 15:52] reuk commented on #1148
#905?

[2017-07-18 18:09] tautschnig commented on #905
This item has been raised for #1148; I believe @martin-cs and myself have voiced opinions clearly. All others are invited to put in their weight.

[2017-07-18 19:51] #525 closed

[2017-07-19 10:47] thk123 commented on #1148
The variable sensitivity domain stuff would be potentially good to get in. The main problem I see is the current interface is crude (binary on/off switches for the different modes) but with a more sophisticated system planned. I had therefore hoped to use a major version release to change this so we could get in what we have so far without feeling tied to it.

Depending on when the major version r

[2017-07-19 10:56] tautschnig commented on #1148
As much as I agree that variable sensitivity is interesting, I don't think it fits this particular bill of compatibility-breaking changes?

[2017-07-19 11:56] thk123 commented on #1148
@tautschnig I was more thinking about the change in interface, but since the old style isn't going to get in for the maintenance release it won't break compatibility.

It would be nice to get the variable-sensitivity-domain with new interface in before the major release so that the old interface can go in and then be improved without having to worry about breaking compatibility.

[2017-07-19 22:18] tautschnig commented on #1148
Point taken, and I think my subject line has been to unclear: the items that I listed in the initial comment are about changes that break compatibility at goto-program level, i.e., goto binaries compiled with an earlier version would need to be recompiled. Such isn't the case with internal APIs.

[2017-07-20 11:45] jasigal opened #1160 "Create iterators for `exprt` and associated utility functions"
@jasigal commented on [Thu Jul 20 2017](https://github.com/diffblue/test-gen/issues/795)

Currently there is no good, unified way to do the following:

- Determine is any subexpression satisfies a predicate
- Find a subexpression that satisfies a predicate
- Count the number of subexpressions that satisfy a predicate
- Traverse an expression to create a new data structure
- Feed all subexpressions

[2017-07-20 12:05] tautschnig commented on #1160
I agree that these are repeated problems and I'm looking forward to seeing the solution :-)

[2017-07-20 13:04] LAJW commented on #1160
I'm on it.

So the first iterator would be exprt::depth_iteratort obtainable by calling exprt::depth_begin() and exprt::depth_end().

The reason for naming it depth_* instead of classic begin/end() would be to avoid confusing behaviour when calling:

[code]

 Where parent_expr is some form of an array and the expected behaviour would be to do flat traversal.

STL algorithms would still be usable,

[2017-07-21 14:16] reuk commented on #1148
I don't think #835 falls into this category. It just improves the memory safety of the program, it doesn't affect the goto binary format or any other user-facing interfaces.

[2017-07-21 17:03] LAJW commented on #1160
Here's the PR.

https://github.com/diffblue/cbmc/pull/1165

[2017-07-26 17:30] carlburgess commented on #1065
@smowton Is there anything for QA to do here ?

[2017-07-28 08:22] smowton commented on #1065
Hmm, I can't immediately find the originally failing test case for this. Perhaps @mgudemann has one?

[2017-08-01 17:08] vladrich opened #1191 "Regressions verifying OpenSSL"
Hello.

Back in the day, the OpenSSL verification task referenced below was succeeding (as I would expect). Starting with
https://github.com/diffblue/cbmc/commit/4bb8f88b2767bac835b4e5670be1df9d293623a1
I started receiving
warning: ignoring byte_update_little_endian
and the assertion started failing.

Currently (alas, I do not know since when), CBMC runs out of RAM (128GB) in post-processing with

[2017-08-03 12:06] allredj opened #1202 "String.format produces errors in set_to"
The tests introduced in #1105 (but almost certainly elsewhere) generate type inconsistencies.
For instance, the test cbmc/regression/strings-smoke-tests/java_format2/test.desc:
[code]
with the following command line:
[code]
generates the following warnings:
[code]

[2017-08-03 12:08] allredj commented on #1202
This is a fairly serious issue, as some equalities are not added to the solver and could explain some of the non-terminating cases that we have.

[2017-08-04 10:11] smowton commented on #1148
De-overload (and perhaps entirely rethink) the CATCH GOTO instruction. This currently serves three purposes:
1. Push an exception handler
2. Pop an exception handler
3. Catch an exception
We should split it into an instruction per action (a la DECL and DEAD), as the overloading (and misleading naming) invites mistakes from analysis authors.

[2017-08-04 13:48] thomasfangyi opened #1209 "CBMC segfaults when using flexible array member with union of struct"
Minimal sample
[code]

Run log

[code]
Exit code = 139

[2017-08-04 14:20] tautschnig commented on #1209
Taking a look.

[2017-08-04 14:56] tautschnig commented on #1209
Some part of the code generates a `struct` expression without any operands. I'll continue debugging on Monday.

[2017-08-04 18:23] tautschnig commented on #1209
See #1211 for a bug fix.

[2017-08-04 20:30] #1209 closed

[2017-08-05 12:01] thomasfangyi commented on #1209
Thanks

[2017-08-08 12:08] allredj commented on #1202
This issue was created on the wrong repository. The test-gen issue is here:
https://github.com/diffblue/test-gen/issues/913

[2017-08-10 06:51] danielratiu commented on #674
Is there any change on this? This feature is useful, it would be a pitty not to print the fault location when --xml-ui is used ...

[2017-08-10 14:39] theyoucheng commented on #674
A thing I am not clear is that why there is the need of '--xml-ui' when using '--localize-faults'. Most fault localization algorithms are built upon the assumption of availability of multiple 'failing traces (i.e., counterexamples)' and 'passing traces'. In this case, what will be the interesting information to put in the XML output?

FYI, there is an ongoing work on CBMC's fault localization sche

[2017-08-10 14:47] danielratiu commented on #674
many thanks for the explanations !

we are integrating CBMC in the mbeddr IDE (www.mbeddr.com) and I am parsing the results of CBMC programatically - we use cbmc --xml-ui since the results are more expressive (contain more infos) and easier to parse

Thereby, it would be great to add the information about the potential fault location to the "failure" state.

[2017-08-10 20:34] theyoucheng commented on #674
Thanks.

I'll try to add this output and let you know.

With best regards,

Youcheng

On 8/10/17 3:47 PM, danielratiu wrote:

--
Youcheng Sun
Research Assistant
Department of Computer Science
University of Oxford
Wolfson Building, Parks Road
Oxford OX1 3QD
https://sites.google.com/site/theyoucheng/

[2017-08-11 06:26] carlburgess commented on #1065
@smowton @mgudemann    How do we reproduce the conditions that caused this bug ?  Is there an existing  test case for this ?

[2017-08-11 08:40] martin-cs commented on #749
@theyoucheng may have made some progress on this...

[2017-08-11 09:15] tautschnig commented on #749
Is there any code to look at?

[2017-08-11 09:43] smowton commented on #1065
Looks like the test case is added here: https://github.com/diffblue/cbmc/pull/1066/files

[2017-08-11 10:23] theyoucheng commented on #749
On 8/11/17 10:15 AM, Michael Tautschnig wrote:

Here it is https://github.com/theyoucheng/cbmc/commits/clustering

To run it, simply use "--clustering" with the cbmc command.

Currently, it does nothing more than randomly "detecting and executing
an arbitrary path". I use "--show-vcc" to check the correctness on small
examples.

Its implementation is totally based on goto-symex. On-the-fly with
go

[2017-08-14 09:59] theyoucheng commented on #674
Please refer to this patch for the --xml-ui
https://github.com/theyoucheng/cbmc/tree/fault-localization-xml-ui while
it is waiting to be merged.

Youcheng

On 8/10/17 3:47 PM, danielratiu wrote:

--
Youcheng Sun
Research Assistant
Department of Computer Science
University of Oxford
Wolfson Building, Parks Road
Oxford OX1 3QD
https://sites.google.com/site/theyoucheng/

[2017-08-14 10:32] reuk opened #1236 "Java synchronized blocks don't throw NullPointerException"
The docs for the Java monitorenter instruction say that NullPointerException should be thrown if the argument to the synchronized block is null.

It seems like the current behaviour is to ignore monitorenter and monitorexit (according to #186), which leads to inaccurate results. I suggest that the exception-throwing behaviour is modelled, even if the thread-synchronization itself is not.

[2017-08-14 18:09] carlburgess commented on #1065
Fixed

[2017-08-16 06:05] carlburgess commented on #1065
@smowton  @jgwilson42     I do not have the ability to close this

[2017-08-16 07:44] jgwilson42 commented on #1065
@sara-db please could you close this?

[2017-08-16 08:04] #1065 closed

[2017-08-17 15:01] fangyi-zhou opened #1252 "A question on pointer operations with CBMC"
I have the question when I play around `uintptr_t` with CBMC

[code]

Result by CBMC:
[code]

It is interesting why the pointers are identical, but the dereferenced pointers are not. With a trace, I made the following discovery:
[code]

For some reason, `*ptr` is 16384.

While I'm not entirely sure whether my code is triggering any undefined behaviour because C standard only guarantees that `uintp

[2017-08-17 15:21] thomasfangyi commented on #1252
Seems to be fixed on master. Closing.

[2017-08-17 15:34] thomasfangyi commented on #1252
Looks like it's fixed by #1226 because ANDing with all 1 bits get simplified out.

New way to reproduced bug: applying bitwise NOT twice: `uptr = ~uptr; uptr = ~uptr;`

Reopening the issue with updated sample/result

[2017-08-17 15:58] tautschnig commented on #1252
This is a bug in value sets, because dereferencing `ptr2` currently only yields `__CPROVER_memory`.

[2017-08-23 11:48] nmanthey opened #1287 "CBMC is not analyzed with Coverity"
Warnings raised by Coverity might reveal problems that are not caught by the regression test suite. Intergating Coverity in the CI story helps to improve code quality.

[2017-08-24 12:35] fangyi-zhou commented on #1252
[code]

A more straightforward example. I suspect pointer equality does not imply equality of the pointer metadata and the provenance so CBMC was not able to do further deductions.

[2017-08-24 12:48] tautschnig commented on #1252
Assumes are actually a slightly different problem (I think), which are also documented in the KNOWNBUG-regression test regression/cbmc/Pointer_Assume1. Either way, dereferencing needs work. (This is known, but finding time to work on it is not a solved problem.)

[2017-08-24 13:22] fangyi-zhou commented on #1252
Thanks for taking the time to have a look.

[2017-08-24 14:24] fangyi-zhou commented on #1252
If the deductions have been made that two pointers are equal, the issue will occur. So it is not limited to assume.

[code]
Another sample, this shares some similarities with the first sample. The pointer equalities are able to establish.

[2017-08-30 15:45] LAJW opened #1309 "Implement settingst object"
A data structure that would replace `optionst` and be the primary way of providing arguments for constructing modules. Should have following properties:

 - Key-value map
 - Value can be of type `int`, `bool`, `string`, (and potentially reference to an object) or an array of one of each.
 - Cheap copy and value override by sharing values with old instances.

Requested by @peterschrammel.

[2017-08-30 15:46] LAJW commented on #1309
I'd assign myself If I could.

[2017-08-30 16:18] smowton commented on #1069
Can't reproduce with this command-line in current test-generator because the example times out. Closing for now.

[2017-08-30 16:18] #1069 closed

[2017-08-31 11:21] peterschrammel opened #1311 "Refactor system_library_symbolst to support languages beyond C"
This will be needed to distinguish internal and modelled functions for various input languages from actual user code in downstream applications, e.g. through the "isInternal" property in the JSON output.

[2017-08-31 14:49] peterschrammel commented on #1287
See https://github.com/diffblue/cbmc/pull/1307

[2017-08-31 20:58] peterschrammel opened #1314 "Error handling"
- [ ] replace asserts
- [ ] define basic exceptions (util/error.h / https://github.com/diffblue/cbmc/pull/1280)
- [ ] replace throws
- [ ] replace integer return codes where appropriate
- [ ] replace boolean return codes where appropriate
- [ ] clean up catches (lift to top-level and report to user in a single place)

[2017-08-31 20:58] peterschrammel opened #1315 "Refactor coverage instrumentation"
- [ ] split in several files

[2017-08-31 21:02] peterschrammel opened #1316 "Replace partial inline"
@tautschnig, @kroening, why is https://github.com/diffblue/cbmc/blob/develop/src/cbmc/cbmc_parse_options.cpp#L825 done?

This makes the coverage goal instrumentation non-compositional, which is troublesome.

[2017-08-31 21:14] peterschrammel opened #1317 "Factor out replacement of calls to bodyless functions into separate pass"
...to enable custom replacements (assume(false), return nondet, full nondet sideeffects and returns, summaries, etc).

[2017-09-01 08:27] tautschnig commented on #1317
Note that there already is "undefined-function-is-assume-false" in `goto-instrument`. While I do agree that some factoring-out would be good, there is a risk of introducing even more command-line options to control the behaviour. I would strongly suggest that any such pass is done via `goto-instrument`.

[2017-09-01 08:30] tautschnig commented on #1316
I believe this is done for the same reason that functions in ansi-c/library/* are marked as "inline": it should avoid confusion in the counterexample by displaying the point-of-call source location instead of "<built-in-library...".

[2017-09-01 08:33] tautschnig commented on #1311
Isn't all that it takes an additional check of the `mode` attribute of a `symbolt`?

[2017-09-03 17:13] peterschrammel commented on #1311
`system_library_symbolst` is misplaced in `goto-programs` because it is C-specific. We require similar system library information for each language that we support. Therefore there should be an interface in `util`, and the respective system_library_symbols implementations should put into the language folders (the contents of the current `system_library_symbols` can go into `ansi-c`). This will als

[2017-09-04 11:07] reuk opened #1340 "Big-int copy constructor unsafe"
bigint.cc contains the following code:
[code]

The problem is in these lines:
[code]
If the call to `new onedig_t[size]` throws, then the object will be left in an invalid state in which the `size` is nonzero, even though `digit` doesn't point to a valid location.

[2017-09-04 11:54] polgreen opened #1342 "symex regression test is broken: trace output from symex only includes initialisation of CBMC"
The following symex regression test fails:
regression/symex/show-trace1
[code]
It should output a trace that contains i=2, j=3 and k=6. The actual trace outputted is:
[code]
I have tested this on the develop branch and the master

[2017-09-04 13:06] polgreen commented on #1342
I have reverted to the commit where this test was introduced (commit b52d8a955d82a21030d9f7b12e4e267f7fcbfcae), and it doesn't seem to have worked then either

[2017-09-04 14:44] romainbrenguier opened #1345 "Difference in behaviour between variable size array and pointer"
This two slightly different c programs (only one line changes) should behave the same:
[code]
and
[code]
cbmc on the first program reports SUCCESS as expected, but FAILURE on the second.
Is there a reason why the two should be different?

[2017-09-04 15:09] tautschnig commented on #1345
No, these should not be expected to behave the same: `char tmp_new_array_data$11[cprover_string_length$5];` will go out of scope when returning from the function, and thus the `data` pointer becomes dangling, and `char i3=b->data[2];` is invalid.

[2017-09-04 15:18] romainbrenguier commented on #1345
That makes sense. Thanks for the quick answer!

[2017-09-04 15:18] #1345 closed, assigned to nobody

[2017-09-06 09:16] reuk opened #1353 "32-bit builds with warnings as errors are broken"
Currently it is not possible to produce a 32-bit build of CBMC with `-Wall -Wpedantic -Werror` set. This is because there is a cast from `2<<32` to `size_t` which gets truncated to `0` on 32-bit platforms (in `interpreter.cpp`).

There have been several attempts to fix this problem.

The first attempt, #987, solves the problem by reducing the shift amount to `1<<32`. It is not clear why this PR wa

[2017-09-06 09:24] mgudemann commented on #1353
#987 left too little space for object allocation I think, after that we decided to leave 32-bit support aside for the moment. The initial change of 2<<32` was also to make it consistent with the comment, but it turned out that a real solution would be more complex

[2017-09-06 09:25] reuk commented on #1353
I see. That probably means that #1330 is too simplistic then, if it keeps the `2<<32` value in place

[2017-09-08 11:45] thk123 opened #1361 "Re-enable failing test: symex/show-trace1"
In enabling the symex regression folder it appears this test doesn't work. The result still seems to match (i.e it verifies it can violate an assertion which it still thinks it can violate), but the information the test.desc is looking for is not present in the trace.

The counter example that is produces is:

[code]

But the test.desc is looking for:

[code]

[2017-09-11 09:07] mgudemann commented on #1353
not necessarily, but the comment should be consistent with the code, which wasn't the case. Also `2<<32` is undefined on 32-bit, so this was found when trying to compile CBMC on a 32-bit system after the move to `-Werror` was made.

[2017-09-11 09:11] reuk opened #1366 "Some CORE regression tests do not complete when CBMC is built with Glucose"
Discovered on #1293.

Using the Glucose/CMake build of CBMC (enabled by passing `-Dsat_impl=glucose` when running the initial configure), some CORE regression tests appear not to complete:

- strings-smoke-tests/java_int_to_string/test2.desc
- strings-smoke-tests/java_int_to_string_with_radix/test_decimal.desc
- strings-smoke-tests/java_long_to_string/test1.desc

[2017-09-11 21:07] kroening commented on #1361
#1373

[2017-09-12 12:21] polgreen commented on #1361
This is a duplicate of the issue that I filed last week, I will close the other one:
https://github.com/diffblue/cbmc/issues/1342

[2017-09-12 12:22] #1342 closed, assigned to nobody

[2017-09-12 12:28] thk123 commented on #1361
@polgreen Ah my apologies - should have done a more thorough search,

[2017-09-12 17:35] reuk opened #1376 "Object files in arch_flags* must be regenerated"
A recent change in CBMC made it an invariant of `pointer_typet` that pointers have a width field. On my development branch, I've added `assert(!type.get(ID_width).empty());` to `to_pointer_type` so that I find all malformed`pointer_typet`s.

This is fine, and I've found several places where `pointer_typet`s are constructed incorrectly. The problem is that when the cross-compiled object files in th

[2017-09-13 10:25] thk123 opened #1381 "Reenable failing symex regressions on Windows."
Failing symex tests on Windows:

[code]

These are currently manually disabled for just Windows. (Disabled in `appveyor.yml`)

[2017-09-13 10:26] thk123 commented on #1381
Disabled by PR: #1378

[2017-09-15 10:38] peterschrammel commented on #1287
Merged.

[2017-09-15 10:38] #1287 closed

[2017-09-19 08:07] karkhaz commented on #1376
Please let me know if the instructions for generating cross-compiled binaries are still unclear.

[2017-09-20 09:14] reuk commented on #1376
LGTM

[2017-09-23 13:34] reuk opened #1415 "library check target fails with apple clang 9"
I get an error running the library check target with apple clang 9:
[code]

`cc --version` gives the following:
[code]

[2017-09-23 13:34] reuk commented on #1415
Maybe @tautschnig could take a look at this, I

[2017-10-04 14:40] #1415 closed, assigned to nobody

[2017-10-12 09:05] #1340 closed, assigned to nobody

[2017-10-16 17:44] andreast271 opened #1490 "goto-cc fails to load any goto library created from c++ files"
To reproduce the problem, do:
[code]
Error message:
[code]
The problem was introduce a long time ago, by the following commit:
[code]

[2017-10-19 12:57] thk123 opened #1500 "goto-gcc tests don't work under CMake"
The regression tests in goto-gcc are not enabled on CMake (#1481 tried to turn them on).

Travis build output:

[code]

https://travis-ci.org/diffblue/cbmc/jobs/289820097

[2017-10-19 13:24] tautschnig commented on #1500
It seems the CMake test runs don't output details in case of failure? Does the CMake set up do (some equivalent of) `ln -s goto-cc ../../src/goto-cc/goto-gcc`? @reuk could something be done about the first question of mine here?

[2017-10-19 13:29] reuk commented on #1500
At the moment, the makefiles run the test.pl script, and run a second script to print output if the first script fails. CMake only allows us to run a single command for each test, so I would recommend either:
- Adding a flag to the test.pl script which automatically prints output on failure, or
- Writing a wrapper script for test.pl + the failed-test-printer.

[2017-10-19 13:39] tautschnig commented on #1500
Question by a CMake dummy:

Does that mean that `test.pl <options> || failed-tests-printer.pl` is not possible?

Either way it might be a good idea to integrate the printer into test.pl

[2017-10-19 13:49] reuk commented on #1500
Yes, it has to be a single `cmd arg0 arg1 arg2` invocation. The command isn't run in a shell, so binops like `||` won't work.

I think adding an option to test.pl to print failed tests is probably the best way forward, as this will simplify the makefiles too. However, I don't know any Perl so unfortunately I won't be able to make this change myself.

[2017-10-19 14:23] tautschnig commented on #1500
I'm taking care of the failed-tests-printer integration. @reuk Could you advise on how to run `ln -s goto-cc ../../src/goto-cc/goto-gcc` (well, some equivalent of it in the right folder) as part of src/goto-cc/CMakeLists.txt when not on Windows?

[2017-10-19 14:35] reuk commented on #1500
I don't understand the significance of the symlink here. Why can't these tests be run with `goto-cc` directly?

[2017-10-19 15:06] tautschnig commented on #1500
The behaviour of `goto-cc` varies according to the name that it has been invoked as. (Hence also the goto-cc -> goto-cl renaming on Windows.)

[2017-10-19 15:13] reuk commented on #1500
Cmake has some built-in portable command which you can see with `cmake -E`.

To run them from a `custom_command` you would do something like `${CMAKE_COMMAND} -E create_symlink <$TARGET_FILE:goto-cc> goto-gcc`.

The actual custom_command should probably be a post-build command on `goto-cc`: https://cmake.org/cmake/help/v3.0/command/add_custom_command.html

[2017-10-19 15:26] tautschnig commented on #1500
Thanks @reuk! I've tried to translate this into code in #1502.

[2017-10-23 08:10] #1376 closed, assigned to nobody

[2017-10-25 09:38] martin-cs opened #1521 "Discussion : best practice for handling (command line) options"
This has come up in reviewing a number of PRs recently and I thought it might be good to have a documented consensus on this.  To achieve one, we possibly need a discussion.  So this is my understanding of the current state-of-affairs / how things are (but not necessarily how I, or anyone else) thinks they should be.

1. There has been a long-term goal of minimising the number of command-line opti

[2017-10-25 09:44] smowton commented on #1521
Wasn't me. @pkesseli ? I did move a few option definitions e.g. to here (https://github.com/diffblue/cbmc/blob/develop/src/java_bytecode/java_bytecode_language.h#L24) to enable sharing them across drivers however.

[2017-10-25 19:34] pkesseli commented on #1521
Our "problem" in CEGIS was that we wanted to be able to use the same language front-end as CBMC and JBMC to run synthesis problems. We solved this by aggregating both `cbmc_parse_optionst` and `jbmc_parse_optionst`.

[2017-10-26 18:29] martin-cs commented on #1521
Thanks @smowton and @pkesseli , comments from @kroening @tautschnig and @peterschrammel ?

[2017-11-02 14:50] #1500 closed, assigned to nobody

[2017-11-09 20:18] LAJW commented on #1521
I'd just like to leave this here:

Disclaimer: This is my opinion, If I am completely wrong, let me know.

I'd like to make a distinction between **command line** and **function** arguments (which include setters and constructor arguments).

## Command line arguments

Command line arguments are a very special case in any program - they're not typed, have to be verified for different kinds of error

[2017-11-13 11:20] polgreen opened #1581 "freeze lazy constraints, unused variable?"
This is a question rather than a bug report, but I wasn't sure who to direct the question to.

I'm looking at the function bv_refinementt::freeze_lazy_constraints()
https://github.com/diffblue/cbmc/blob/develop/src/solvers/refinement/refine_arrays.cpp#L118-L139

I don't really understand what this loop is doing:
[code]
The iterator "it" for the outer loop is never used, and calling set_frozen mult

[2017-11-13 13:30] romainbrenguier commented on #1581
Strange, there is something wrong here. I guess it was meant to be `bvt bv=convert_bv(*it);` on the 5th line, but I think @kroening should confirm that.

[2017-11-13 17:54] kroening commented on #1581
Yes, *it seems the thing

[2017-11-14 14:44] polgreen commented on #1581
Ok, I've made that change in my version now. Pull request might have been slightly pointless, but it's here: https://github.com/diffblue/cbmc/pull/1588

[2017-11-17 18:57] tautschnig opened #1602 "Compiling requires GCC >= 5.0"
As of 3eab1852 the code base no longer compiles with GCC 4.9, due to https://gcc.gnu.org/bugzilla/show_bug.cgi?id=59987:
[code]

Either a workaround or an update of COMPILING.md are required.

[2017-11-24 07:11] jungyh0218 opened #1619 "Using mallinfo, CBMC does not print out the memory consumption correctly."
When printing out the memory consumption of the program by giving verbosity 10, I found out that there was a variable overflow. As the result, a negative integer value was printed. Is there any other way to check the memory consumption?

[2017-11-24 11:52] polgreen opened #1620 "--refine causes seg fault"
There are currently no regression tests for --refine. See discussion on this PR: https://github.com/diffblue/cbmc/pull/1588

I tried to run the tests in regression/cbmc with --refine, and the test cbmc/Float-div1 seg faults.

[2017-11-24 15:24] NlightNFotis commented on #1602
@tautschnig Are there any consequences to just upgrading the compiler version requirement?

[2017-11-24 15:49] tautschnig commented on #1602
I think it's ok to upgrade.

[2017-11-24 17:16] reuk opened #1622 "CBMC-cover tests fail due to an invariant violation"
While working on #1612, I found an error in [goto-instrument/cover.cpp](https://github.com/reuk/cbmc/blob/4448ce8a3313c95555347a1184b0320c3a38ceba/src/goto-instrument/cover.cpp#L1557). The problem is that the `begin()` of an empty vector is dereferenced, leading to undefined behavior.

Adding an invariant to ensure the vector has at least one element causes several tests in cbmc-cover to fail. The

[2017-11-24 17:40] #1620 closed, assigned to nobody

[2017-11-24 18:29] tautschnig commented on #1521
While I ack all that has been said here: what's the goal of this discussion? I believe @martin-cs has accurately captured the current state of affairs. @LAJW has described some general design principles. What's next?

[2017-11-27 21:40] cesaro opened #1630 "Symex wrongly nondets local variable inherited after START_THREAD"
When cbmc as in current `develop` is given this program:

[code]
it finds a violation to the assertion using the following equation:

[code]
in which it is possible to see that the copy of variable `loc` in thread 1 that is being assigned to the thread-local variable `thlocal` is a free variable in the equation (`loc!1@0#0`), which therefore can be assigned any value, thus triggering the assertion

[2017-11-28 00:14] tautschnig commented on #1630
I'm not sure why [this loop](https://github.com/diffblue/cbmc/blob/48ee47543ffdbcc1af354efda8da8a1e21c9508b/src/goto-symex/symex_start_thread.cpp#L54) isn't creating a copy of `loc!0` into `loc!1` in your example.

[2017-11-29 12:41] martin-cs opened #1638 "Discussion : context-sensitive abstract interpretation"
@chrisr-diffblue and myself have to implement something like this in the next month or so.  The following is a write up of a discussion @chrisr-diffblue , @NlightNFotis and I had on the topic.  I thought it would be good to make it public as I know @danpoe and @peterschrammel have experience of how to approach this and I think maybe @smowton , @tautschnig and @thk123  might care about the solution

[2017-11-29 12:53] smowton commented on #1638
I already have an implementation of (B) for the particular case of value-set analysis: https://github.com/diffblue/security-scanner/pull/259

In essence, we maintain a tree of contexts, each of which are standard function-scoped `ait` instances. Recursive calls feed up the tree; other calls have corresponding child contexts.

[2017-11-29 13:03] tautschnig commented on #1638
I believe (C) is the approach that CPA/CPAchecker seeks to implement and promote. The concept of modular domains and being able to combine them is appealing as it would, e.g., also be useful for a much more precise function-pointer analysis. See [CAV'07](https://www.sosy-lab.org/research/pub/2007-CAV.Configurable_Software_Verification.pdf) for the description of the concepts.

In practice, this mi

[2017-11-29 15:15] martin-cs commented on #1622
Thanks @reuk for the informative summary.

@theyoucheng : please could you have a look at these, we really shouldn't have obvious code inputs which trigger invariant failures.

@peterschrammel might also be interested in this as he was refactoring some of the coverage code at one point.

[2017-11-30 13:25] tautschnig commented on #926
#951 has been merged several months ago.

[2017-11-30 13:25] #926 closed

[2017-11-30 13:27] tautschnig commented on #832
The PR is now #1624.

[2017-12-01 23:07] tautschnig commented on #1353
@reuk Would you happen to know whether this is solved, or how we would confirm it is? #1341 and ~#1330~#1484 have been merged.

[2017-12-03 20:34] #1581 closed, assigned to nobody

[2017-12-04 09:22] tautschnig opened #1647 "Apple's block pointers are not yet supported in C++ front-end"
See regression/cpp/Apple_extensions1/main.cpp.

[2017-12-04 10:29] reuk commented on #1353
Not sure if it's solved. It should be possible to do a cross-compile with CMake (which might be a good nightly build candidate...), but I haven't done that before so it will take me some time to work out how to do it. I'll give it a go if I have time.

[2017-12-04 11:28] polgreen opened #1649 "CBMC hangs on multiplication and division"
CBMC gets stuck verifying this simple multiplication function:
[code]
It hangs on a SAT formula of size 3177 variables, 16794 clauses.

Any insights as to why, or any better ways of writing this function? @martin-cs ?

[2017-12-04 13:14] reuk commented on #1353
The following completes without any problems. Hopefully it's enough to resolve this issue.
[code]

[2017-12-04 13:34] martin-cs commented on #1649
What's Happening
-----------------------

"Difficulty" in the SAT formulae comes from particular operators (*, /, % and variable shifts) and from the way they are combined.  You have created a small but very hard formula.  There are others that demonstrate similar behaviour ( for example, associativity, see https://github.com/diffblue/cbmc/pull/63 ).

What You Can Do
-----------------------
1. Rew

[2017-12-04 13:58] tautschnig commented on #1353
@reuk Thank you very much for undertaking this experiment!

[2017-12-04 13:58] #1353 closed, assigned to nobody

[2017-12-15 13:07] martin-cs commented on #1521
1. Someone (probably me) documents that state of affairs.
2. We have space to discuss changing these things, which judging by the response, is not something that is widely desired.

I'll close the issue once I've done 1.

[2017-12-15 13:15] martin-cs commented on #1638
A quick follow up:

*. I discussed this with Chris and I seemed to have miscommuncated, I think we came to the conclusion that there solution is an instance of (C).  He is interested in the option of (B) and might make use of it.

*. @tautschnig Thanks for the link.  I think what I am proposing is subtly different and a little more general but, operationally, very much that kind of thing.

@chrisr

[2017-12-18 15:48] martin-cs commented on #1619
Not within the tool.  I tend to use GNU time using -v to capture peak memory usage and time externally of the tool.  I presume you were allocating more than 2GB of RAM?

[2017-12-20 15:15] NathanJPhillips opened #1675 "Make `goto_convert_functionst::convert_function` const"
`goto_convert_functionst` has internal state that it changes during the course of conversion. Strictly speaking it should make that state mutable or recreate it for each conversion. Once that is done `goto_convert_functionst::convert_function` can be made const.
The fact this currently doesn't happen means that `lazy_goto_functions_mapt` currently stores an instance of `goto_convert_functionst` as

[2017-12-20 16:01] peterschrammel opened #1680 "Extending --show-loops to display information about recursive calls"
Running CBMC with --show-loops on
[code]
displays
[code]
It would be useful to show also information on the recursive function foo.

(request from cprover mailing list)

[2017-12-20 16:23] tautschnig opened #1681 "Replace uses of goto_functiont by goto_programt when type function types are not used"
See https://github.com/diffblue/cbmc/pull/1563#discussion_r156300068.

[2017-12-21 15:20] polgreen opened #1683 "Possible bug in left shift of bitvectors"
left shift "<<" on signed and unsigned __CPROVER_bitvectors produces odd behaviour if the operator is used inside the __CPROVER_assert statement, and the number being shifted has a 1 in the MSB.

In the following example, both assertions should be the same, but one passes and one fails:
[code]
[code]

I'm running cbmc/develop at commit 7b06a006b0d55c2d17812feca1a04fa6d66303d9

[2017-12-21 15:56] peterschrammel commented on #1683
Not sure, I see the problem:
`(8u << 1)` in line 8 has more than 4 bits. Therefore, it does not overflow.

[2017-12-21 16:31] polgreen commented on #1683
Oh.. that's obvious once I've summarised my example that much. My original example had everything as explicitly being a bv.

Ok, nevermind.. I just need to rethink how to translate smt bitvectors into cbmc bitvectors.
[code]

[2017-12-21 16:31] #1683 closed, assigned to nobody

[2017-12-21 17:00] NathanJPhillips opened #1684 "Unwindset parser duplicated"
See https://github.com/diffblue/cbmc/blob/develop/src/cbmc/bmc.cpp#L562 and https://github.com/diffblue/cbmc/blob/develop/src/goto-instrument/unwind.cpp#L53. The former is better but is specific to BMC, the latter includes comparisons to signed -1 instead of `std::numeric_limits::max`. As a result another duplicate has been made in https://github.com/diffblue/test-gen/pull/1236 which should be mov

[2017-12-29 20:16] peterschrammel opened #1686 "Refactor basic block detection of coverage goal instrumenter"
* Basic block detection on a goto program should become a utility function similar to loop detection.
* Also language-specific should become pluggable
* Some control over whether assume statements delimit basic blocks should be added

[2018-01-03 18:03] tautschnig opened #1695 "Get rid of parameter_identifiers"
... because these are never used. See #1688.

[2018-01-04 20:47] peterschrammel opened #1700 "Move solver factory into src/solvers to unify solver instantiation"
CBMC uses its solver factory cbmc_solverst to configure and instantiate solvers.
As made apparent by https://github.com/diffblue/cbmc/pull/1501, solvers are instantiated in many more places (goto-instrument, solvers/flattening, solvers/refinement, ...).
There should be a single factory to instantiate solver objects and configure them through optionst.

Therefore, I suggest to move the CBMC-indepen

[2018-01-06 00:03] tautschnig opened #1703 "Use get_fresh_aux_symbol in goto_convert_functionst::convert_function"
... instead of running a separate temporary counter and duplicating functionality.

[2018-01-08 11:06] chrisr-diffblue opened #1706 "Suggestion for reducing Travis CI matrix"
In an email, @andreast271 suggested a possible reduced build matrix for travis that would  still give us roughly the same coverage:

The current build configurations are:

OS | Compiler | Build System | DEBUG defs | Regression
-- | -- | -- | -- | --
linux | gcc | make |   | yes
osx | gcc | make |   | yes
osx | clang | make |   | yes
linux | gcc | make | DEBUG | no
linux | clang | make |   | yes
li

[2018-01-08 11:32] tautschnig opened #1707 "invariant_sett::add_type_bounds only works for unsigned bitvector types up to 8 bits"
The test `if(op_width<=8)` uses this magic limit without any comment. All other cases are silently ignored.

[2018-01-08 11:36] tautschnig opened #1708 "generate_ansi_c_start_function limits argc in a seemingly arbitrary way"
The comment says: `// assume argc is at most MAX/8-1` while the code then uses `mp_integer upper_bound=power(2, config.ansi_c.int_width-4);`. I don't know where either is coming from and why they differ.

[2018-01-11 02:31] alipourm opened #1723 "Core dump on --smt2"
On CBMC 5.8, `cbmc minmized.c --smt2` for the following code crashes with a core dump. It works fine without `--smt2` option.
`int a, b = &a;
int **c = b;
main() {
  int d = *c;
  assert(0);
}`

[2018-01-11 11:22] tautschnig commented on #1723
Thanks a lot for this report. I'm adding a somewhat sanitised version:
[code]
which leads to:
[code]
or
[code]

[2018-01-14 03:57] martin-cs commented on #1638
Follow up with (what I think is) an interesting observation.  (B) is straight forward and elegant apart from one thing -- function return.  I tried to implement this a number of times before I came to something of a realisation.  Function return (and exceptions to some degree, but *not* normal branch) is history sensitive control flow.  Consequences:

*. If you are really doing analysis without hi

[2018-01-14 08:40] martin-cs commented on #1723
Thanks both.  We should fix it anyway but this doesn't look like valid C to me.

@alipourm : is this a blocking issue for you?

[2018-01-14 09:28] alipourm commented on #1723
The failure occurs on all data structures that I have.

The reported failure happened on an AVLTree implementation which was reduced by `creduce`. The original code is [here](http://alipourm.github.io/tmp/harness2.c).
To reproduce, run `cbmc tmp/harness2.c -DMAX_ITEMS=2 --unwind 2 --smt2`.

[2018-01-14 09:29] martin-cs commented on #1684
*sigh* I'd hoped we'd moved on beyond duplicated functionality (remembering that time when we had four loop detection systems...).  Yes; it would be good to not have this repeated.  If your suggestion with test-gen is to be implemented (and it does sound like a good idea) it will have to be done by someone with access to test-gen (and the delegated legal authority to contribute it under BSD 4 clau

[2018-01-15 11:11] tautschnig opened #1734 "Add a Rust front-end"
Adding this issue to ensure there is co-ordination in case there is an ongoing effort.

[2018-01-15 11:44] smowton commented on #1638
My implementation used a call tree-ish data structure, so return was simply flow-to caller contexts, which number exactly one except when this function is the root of a recursive subgraph, at which point return flowed to all callsites within this subgraph. That latter was a little inaccurate but is fairly rare in the grand scheme of things.

For example, `f { g(); g(); } g { h(); } h { g(); }` wou

[2018-01-17 11:27] martin-cs opened #1746 "Discussion : structural invariants on goto-programs"
At which points in the system, if any, is it acceptable to have a GOTO instruction whose target is the next instruction? For example:

if CONDITION goto next;
next : ...

I ask because remove_skip recognises (and removes) this case and many of the older abstract domains are written (implicitly) assuming it does not occur.  So can/should we always assume that remove_skip has been run after any prog

[2018-01-17 14:39] melshuber opened #1748 "Integer Promotions with --16 --LP32"
Hi,

Are the integer promotions done by CBMC when using the arguments --16 --LP32 weird?

I know this post is quite long, sorry but I tried to put in as many details this issue I found.
I am also not totally sure if this is really an issue, so i mainly want to start a discussion.

### Observations

When using CMBC on code for 8bit MCU (sizeof(int)==2), I encountered strange behaviour when in CBMC

[2018-01-17 14:41] martin-cs commented on #1748
Thanks for the in-depth and informative query.  It may take a little
while to work through this and get back to you.

[2018-01-17 15:42] peterschrammel commented on #1746
What is the performance optimisation enabled by this assumption?

[2018-01-17 15:47] martin-cs commented on #1746
It's not performance, it is correctness :

https://github.com/diffblue/cbmc/blob/develop/src/analyses/interval_domain.cpp#L84

[2018-01-17 16:25] peterschrammel commented on #1746
Why wouldn't it take a join at the GOTO target location (next)?

[2018-01-17 17:02] peterschrammel commented on #1746
The current implementation is simply unsound. Assumptions on the absence of certain control flow patterns are not a good idea and should be fixed.

[2018-01-17 17:08] martin-cs commented on #1746
OK, will fix all instances.

[2018-01-17 17:08] #1746 closed, assigned to nobody

[2018-01-18 14:45] hannes-steffenhagen-diffblue opened #1752 "`simplify_expr` incorrectly simplifies equality between syntactically equivalent expressions"
When passing equals of two non-constant but syntactically equivalent expressions - such as `get_some_value() == get_some_value()` to `simplify_expr`, they will be simplified based on being syntactically equivalent. This is unsound because there is no guarantee the LHS and RHS are going to evaluate to the same value just because they are syntactically equivalent (obvious counterexample would be `ra

[2018-01-19 14:30] peterschrammel opened #1757 "Replace uses of cout and cerr"
Directly printing to cout or cerr makes XML and JSON output unparseable. *ALL* output must be done through a message stream.
In particular in solver/flattening, lots of error messages are still printed to cout or cerr. They should be attached to the exception thrown.

More work needs to be done for:
src/cbmc/bmc.cpp
src/cbmc/cbmc_dimacs.cpp
src/cbmc/cbmc_parse_options.cpp
src/cbmc/cbmc_solvers.cpp

[2018-01-19 14:56] tautschnig opened #1758 "Use CPROVER_PREFIX instead of hardcoded __CPROVER"
There are a number of places in the codebase that should use the macro instead of hardcoding the string -- or else `CPROVER_PREFIX` should be dropped. Having some part of the code base use it is of little value.

[2018-01-20 23:06] tautschnig opened #1760 "Consider using PRECONDITION etc. in expr2c"
As briefly discussed in #1726, expr2c does not enforce the expected structure of expressions. It may be worth revisiting this, and this should be done in one go instead of piecemeal.

[2018-01-26 15:17] peterschrammel opened #1770 "--json-ui --help should print help page in JSON format"
The structured information could be used to build man pages, command line completion, validation, etc

[2018-01-28 15:28] marcelosousa commented on #1638
I don't know much about the current infrastructure but the _standard_ way of solving context sensitivity heavily relies on graphs implemented using memory efficient data-structures -- the prime example being Patricia trees. It could be interesting to look at Merkel trees as well.

Regarding the three options, it seems clear to me that the most general choice is C -- from the literature (work by Re

[2018-01-28 17:19] johnfxgalea opened #1771 "CBMC seems to not detect buffer overflows from read funcs."
**Commit ID**: 83602336be41

CBMC does not detect buffer overflows stemming from `read` functions. I have provided a simple test case highlighting this issue.

[code]

**Command**: cbmc test.c --bounds-check --pointer-check --unwind 100

After inspecting the source file _cbmc/src/ansi-c/library/unistd.c_, there seems to be dead code at line 216 which aids overcoming the issue. This code is shown b

[2018-01-29 08:23] tautschnig commented on #1771
It seems I forgot about `read` (and possibly others?) in bb8cfaa0bb9. A similar fix is required.

[2018-01-30 17:43] florianschanda opened #1782 "--smt2 --fpa sometimes emits fp.isInf instead of fp.isInfinite"
On the included benchmark, when CBMC produces an invalid smt2 file.

$ cbmc foo.i --smt2 --fpa --outfile foo.smt2

[code]

[2018-01-31 08:31] nmanthey opened #1783 "Function Pointer Removal uses a redundant set"
Dear CBMC team,

I just looked into the function pointer removal code to implement a related functionality. While reading, I spotted a redundancy in the code. The marked line shows that a set "functions" and a set "done" is created, which are both filled at the same time. For checking whether the function is "done", the done set is used, while the functions set is finally returned.

I think one of

[2018-02-01 18:04] martin-cs commented on #618
There seem to actually be several bits of information this interface could give (per function / loop):

1. Condition for traces guaranteed to terminate : true == all, false == none known
2. Conditions for traces guaranteed to non-terminate : true == all, false == none known
3. Upper and lower bounds on iterations (exact if equal).

If the static unwinder and symex can be optionally aware of this i

[2018-02-07 12:04] dcattaruzza opened #1807 "Package_friendly loads the java_languaget twice which creates problems when there are models."
Dual loading of java_bytecode_language causes duplicate attempt to create the clinit of model classes, which violates an invaraint. The loading should be done on a single instance.

See `regression/cbmc-java/package_friendly1/test.desc` for a failing test.

[2018-02-08 15:12] martin-cs commented on #1783
Thanks for this; I'll see what can be done.

[2018-02-08 15:22] martin-cs commented on #1760
If it is using things that should always be true for expressions, may I suggest DATA_INVARIANT is the way to go so eventually we can check these are enforced within the expr objects.

[2018-02-12 10:44] thk123 opened #1824 "Introduce a java_source_locationt to contain Java specific source location information"
Currently the language agnostic contains the Java bytecode index and (as of #1812) the `remove_virtual_call` flag. These should be pulled into a `java_bytecode_source_locationt`.

[2018-02-12 15:57] #1748 closed, assigned to nobody

[2018-02-14 09:58] romainbrenguier opened #1837 "Not defining USE_DSTRING breaks cbmc"
Commenting out `#define USE_DSTRING` means cbmc does not compile.
The possibility of commenting this does not seem to be used, and has not been tested for some time.
We should determine whether it's useful to have this possibility and if yes fix the compilation problems.

[code]

[2018-02-14 11:32] tautschnig commented on #1837
Just a few notes until time for a proper fix becomes available:
1. `expr_listt` has a very small number of users and should be declared locally rather than imposing the `list` header on each and every file.
2. "std_types.h" needs `#include <unordered_map>` (since 3f1fd645b4).

And then a lot more fixes are necessary ... working on it.

[2018-02-15 12:17] tautschnig opened #1847 "A missing entry point should be reported early"
At present, `goto_symext::symex_from_entry_point_of` will throw an exception if no entry point is found. I believe the existence of an entry point should become a `PRECONDITION` and instead the command-line front-ends invoking symex should perform this check.

The reason for this concern is that errors should be as early as they can possibly be detected. Delayed error reporting wastes users' time.

[2018-02-15 12:25] tautschnig opened #1848 "Review ait::initialize(goto_{programt,functiont})"
`ait` has both `void initialize(const goto_programt &);` and `void initialize(const goto_functionst::goto_functiont &);`, where `goto_functiont` has very little additional information. This API should be reviewed so as the enable removal of `goto_programt::get_function_id` which currently has a single use case in `dependence_grapht::initialize`.

[2018-02-15 12:26] peterschrammel commented on #1848
goto_functiont should be made aware of its own name to actually add value and simplify interfaces.

[2018-02-15 13:37] martin-cs commented on #1848
I don't see a problem here.

[2018-02-16 09:39] tautschnig opened #1852 "Benchmark disabling USE_DSTRING or identify other unique selling point"
It is not clear whether disabling `USE_DSTRING` actually adds value, or mainly had historic value. Benchmarking needs to be performed, unless there are other reasons to keep it, which are unknown to me.

[2018-02-16 11:18] martin-cs commented on #1852
For the general record ... My understanding of dstring is that we have a
lot of string constants and perform a lot of comparisons of them and
profiling highlighted the cost of these, so Daniel implemented a custom
string class to reduce the overhead to comparing integers.  It would be
interesting to see if this is still the case.

[2018-02-16 12:49] tautschnig opened #1854 "Use descriptive enums instead of Boolean parameters"
The semantics of `true` or `false` are often hard to understand without extensive context. Using enums (with just two values, but descriptive identifiers) may be a better route.

[2018-02-16 14:40] hannes-steffenhagen-diffblue commented on #1854
As an example for this, `simplify_expr` returns `true` when the expression was simplified and false when it wasn't. If you see code like `if(simplify_expr(expr))` you need to know this to read the code; If it was something like `if(simplify_expr(expr) == Simplify::ChangedExpression)` it'd be easier to discern the meaning (this isn't a parameter in this case, but basically the same logic applies).

[2018-02-16 15:36] david-k opened #1857 "memcpy() does not take pointer offset into account"
Hi,
`memcpy()` does not seem to take pointer offsets into account, e.g. `memcpy(dest + 1, src + 1, sizeof(int))` compiles to the equivalent of `memcpy(dest, src, sizeof(int))`.

    void test()
    {
        int a = 1;
        int b = 2;
        int dest[2];

        memcpy(dest, &a, sizeof(int));
        memcpy(dest + 1, &b, sizeof(int));

        assert(dest[1] == b); // Erroneously fails in CBM

[2018-02-16 15:40] tautschnig commented on #1857
Yes, the changes to `__CPROVER_array_{copy,replace}` introduced that bug. It's fixed by #1800, once merged.

[2018-02-16 15:42] david-k commented on #1857
Great, thank you!

[2018-02-16 17:19] danpoe opened #1859 "Split up dependency graph implementation"
Part of the complexity of the current dependency graph implementation comes from the fact that data dependencies and control dependencies are computed simultaneously by the same analysis (with domain dep_graph_domaint) and then a graph is built from the result (in dependence_grapht, which is derived from ait).

Since neither control dependencies are needed to compute data dependencies (nor vice ve

[2018-02-16 17:23] tautschnig commented on #1859
I'd like to note that I have got work that further splits up data dependencies (due to some recent, rather prominent event). This wouldn't really stop what's being suggested here, but it may be worth talking about before anyone actually getting to action.

[2018-02-16 18:03] david-k commented on #1857
I just tried out the referenced commit but it seems to only work with `char`: the test in the commit breaks if `int` is used, and my example above works if I use `char`.

[2018-02-16 19:24] martin-cs commented on #45
@peterschrammel I believe this to be long obsolete so I have closed it.

[2018-02-16 19:24] #45 closed

[2018-02-16 19:25] martin-cs commented on #46
@peterschrammel I believe this to be long obsolete so I have closed it.

[2018-02-16 19:25] #46 closed

[2018-02-17 00:13] tautschnig commented on #1857
Thank you very much for insisting! There is another bug lingering around, I'm trying to figure out what's going on there.

[2018-02-17 00:41] tautschnig commented on #1857
I believe this is now actually fixed by #1800.

[2018-02-20 13:57] hannes-steffenhagen-diffblue opened #1867 "C Frontend doesn't handle extern declarations in nested scope correctly"
Given a C program like this
[code]
The correct output is

global: 11
local: 5
global: 12

i.e. the local variable declaration should shadow the global variable, and the extern declaration should shadow the local variable with the global variable.

But the goto function generated for shadow is

[code]

In this case, the `extern` declaration seemingly gets ignored and the assignments that should've

[2018-02-20 18:49] martin-cs commented on #1867
May I ask what basis you use for determining what the right behaviour is?  It's not that I doubt it, I'm just wondering why it's that.  From my copy of ISO 9899:1999 I've found:

6.2.1.2. For each different entity that an identifier designates, the identifier is visible (i.e., can be used) only within a region of program text called its scope. Different entities designated by the same identifier e

[2018-02-20 18:58] martin-cs commented on #1859
I completely agree with @danpoe's suggestion.  Data-dependencies are (IMHO) best computed with an abstract interpretation approach while control dependencies are (at the moment) CFG-based.  Some extra complications:

1. @chrisr-diffblue is hard at work on a new way of computing data-dependencies.  He will also need to handle control dependencies so may be ... supportive / enthusiastic about modula

[2018-02-20 21:35] tautschnig commented on #1867
Thanks a lot for the detailed analysis! I think I've got a fix, I'll post the PR in the morning.

[2018-02-21 09:59] hannes-steffenhagen-diffblue commented on #1867
@martin-cs @tautschnig Thanks for looking into this so quickly!

[2018-02-21 11:24] david-k commented on #1857
Yes, works in my use cases!

[2018-02-21 11:30] peterschrammel opened #1869 "Factor out java-specifics from language-agnostic code"
I have created a JBMC repository where all the Java stuff will eventually go: https://github.com/diffblue/jbmc

(I'll populate below as my investigations progress)

**Step 1a:** Move `jbmc` and `java_bytecode/library` into new repo (in progress, see `master` branch of `jbmc` repo)
* TODO: update once we switch over (this could be done any time, removes JDK dependencies from CBMC build, see #1970)

[2018-02-21 15:31] martin-cs commented on #1869
I see value in modularising language dependent things out as much as possible but does it make sense to put this in a separate repository?  My experience so far is that keeping things in sync is a pain unless there are some clear, well defined, boundaries / APIs between them.

[2018-02-21 15:31] martin-cs commented on #1869
As owner of a non-trivial number of out-of-tree branches, perhaps @tautschnig could say more...

[2018-02-21 15:40] tautschnig commented on #1869
I think the track record of software kept in different repositories is poor, but maybe DiffBlue now has the resources to have dedicated teams assigned to each project who then take and keep ownership of those systems. Thus I trust that only @peterschrammel will know what's appropriate.

[2018-02-21 15:53] tautschnig commented on #1869
Since I do have an interest in keeping JBMC alive, could that internal strategy that I postulated above be made public? As far as I can tell, the current graveyard of tools-outside-the-repo enlists Deltacheck, FShell, Impara, Musketeer, Satabs, Symex. I think EBMC and 2LS are the ones that are alive.

[2018-02-21 15:53] tautschnig commented on #1869
Maybe @kroening can also comment?

[2018-02-21 15:53] peterschrammel commented on #1869
cons:
- maintenance overhead: Separate repositories are a pain unless there is someone responsible for keeping it up to date. In this case, everything java-related will depend on the jbmc repository, so this won't be a problem.
- development process overhead: Honestly, I'd prefer to have a single repo for everything to reduce friction in the development process.

pros:
- added inertia in changing

[2018-02-21 16:08] tautschnig commented on #1869
I believe the situation, also with regard to the graveyard of tools, would be very different if there were a set-up that triggered an automatic build (and notifications back to the originator) of all dependencies. If this were the case, I'd be all up for such a refactoring. In absence of such a set-up any project that is factored out is doomed.

With a private CI such as a Jenkins host it's easy t

[2018-02-21 19:29] martin-cs commented on #1869
I think at least one of the pros (improvement of core APIs) could be done without splitting repos.

@tautschnig : I'm not sure of the health of hw-cbmc, LoopFrog (and FunFrog?) and I might be able to add a few more to the roll of the lost (Wolverine, Scoot, TAN, https://svn.cprover.org/wiki/doku.php?id=software , cdfpl).

[2018-02-21 21:11] peterschrammel commented on #1869
I don't think that it makes sense to keep 20 unused tools alive by placing a burden on everyone who wants to make a PR to the central (i.e. cbmc) repository. If these tools had a relevant user base then there would be someone who took responsibility to maintain them. It's hard to say whether they would get more users by carrying them as zombies around, but sometimes it makes sense to leave things

[2018-02-21 23:24] martin-cs commented on #1869
@peterschrammel I wasn't suggesting any kind of resurrection (and yes, keeping the pointer would be the right suggestion; that is what we should have done).  I guess I was just OCD attempting to complete @tautschnig 's list.

The key point is that without *active* maintainance, keeping even branches alive and in sync is a real pain.  I think we (in the general sense) are getting better at it but e

[2018-02-23 12:01] peterschrammel opened #1878 "Do not store __CPROVER_start and __CPROVER_initialize in goto binary"
This would allow us to get rid of the "recreate support function" hack when a goto binary has been created that might not contain a __CPROVER_start or the __CPROVER_start for the wrong entry point function.
* The `function` option can be removed from goto-cc.
* Every driver program will always create __CPROVER_start
* We don't actually need __CPROVER_initialize any more; it could actually be inlin

[2018-02-23 16:29] mbeckersys commented on #344
More information on this: It's not (only) the multiplication. The same behavior occurs with the following program:

[code]
Debugger shows that in both cases the `irep::hash` function is stuck (busy calling itself) when `map.find(expr)` is called in `smt2_convt::collect_bindings`.

[2018-02-23 16:52] tautschnig commented on #344
That's a very interesting insight. Would you mind trying to set `#define HASH_CODE` in `src/util/irep.h`? That seems to make it terminate very quickly for me.

[2018-02-23 17:05] mbeckersys commented on #344
Incidently, we had the same idea moments ago. Yes, that helps.

Apparently, with `HASH_CODE` defined, the cycle is broken and everything works again. Besides higher memory consumption, does this have other side effects?

[2018-02-23 17:07] tautschnig commented on #344
None other than considerable performance improvement.

[2018-02-23 17:48] rmetta commented on #344
Further, if one uses -fpa, the resulting 'Floating Point' encoding is not supported by yices (which is our current choice, as yices is outperforming both z3 and MathSat on our applications). The HASH_CODE fix is definitely better, both for performance and for the choice of running yices.

[2018-02-23 18:31] tautschnig commented on #344
Mainly for @kroening and @martin-cs: The example that @mbeckersys posted yields an expression that, when explored to depth 43, has 848557880 nodes. Either there genuinely is a loop in the data structure, or it's simply extremely large.

[2018-02-24 03:58] rmetta commented on #344
A point to note: this very example is solved by cbmc+z3 within a second,
when cbmc is invoked with -fpa.

On 24-Feb-2018 00:01, "Michael Tautschnig" <notifications@github.com> wrote:

Mainly for @kroening <https://github.com/kroening> and @martin-cs
<https://github.com/martin-cs>: The example that @mbeckersys
<https://github.com/mbeckersys> posted yields an expression that, when
explored to depth

[2018-02-26 13:30] peterschrammel opened #1880 "Goto program and SSA validation"
Introduce a --validate option to check goto programs and SSA for consistency.

* https://github.com/diffblue/cbmc/pull/1875#issuecomment-367995675
(to be refined)

[2018-02-26 13:47] tautschnig commented on #1880
In #918 I made some first attempts in this direction, which immediately raised problems in the internal data structures.

[2018-02-27 10:51] smowton commented on #1869
Some of the Java-specific stuff mentioned above is a positive thing that we would want to reproduce somehow even if the codebase is split up. For example, goto-check knowing that Java pointers are always guaranteed to be either null or pointing to the head of a valid object is useful.

[2018-02-28 10:49] #1837 closed, assigned to nobody

[2018-03-01 13:50] martin-cs commented on #1880
Sounds like a great idea!

[2018-03-01 14:28] #1857 closed, assigned to nobody

[2018-03-01 15:43] martin-cs commented on #1878
Interesting idea.  It's quite a bit of work but it would move us to a "calling context as part of the analysis" model rather than "calling context as part of the program" which is probably a better way of seeing the world anyway.  Is there any information that goto-cc adds to the goto binary which couldn't be captured in this model?

[2018-03-02 09:40] tautschnig opened #1902 "cpplint should warn about any use of exit() or abort()"
Following @martin-cs' suggestion in #1875:

Suggested policy: The only way for normal termination of program execution is via return from `main`. Abnormal termination is to be handled via the macros provided by `invariant.h`. Any other use requires explanation and should be explicitly marked as `NOLINT`.

[2018-03-02 12:34] martin-cs commented on #1902
Slight tweak.

Suggested policy: The only way for normal termination of program execution is via return from main. Explicit abnormal termination should be done via throw, invariant failure (via the macros provided by invariant.h) should also result in abnormal termination. Any other use requires explanation and should be explicitly marked as NOLINT.

[2018-03-04 14:00] #1771 closed, assigned to nobody

[2018-03-06 17:59] peterschrammel commented on #1902
See also https://github.com/diffblue/cbmc/issues/1314

[2018-03-10 21:49] touisteur opened #1921 "Can't run cbmc on a very basic C example"
Hi,

newbie question, I'm sure I'm doing something wrong.

I have downloaded the 5.8 source archive (https://github.com/diffblue/cbmc/archive/cbmc-5.8.tar.gz), launched "make" (no error during the build process), then tried to launch cbmc on a (very ?) simple C example :

[code]

When just launch :
`$ src/cbmc/cbmc example/example.c `
I get :
[code]

Any idea on what I'm doing wrong ? I thought at

[2018-03-10 21:54] tautschnig commented on #1921
Thank you very much for your feedback! May I ask you whether the same problem arises with the current development head? That would be https://github.com/diffblue/cbmc/archive/develop.zip.

Thanks a lot!

[2018-03-10 22:46] touisteur commented on #1921
Hi Michael,

thanks for quick (flash !) feedback.

I just (as fast as I could) finished downloading/building the tip of the develop branch, and it is indeed looking far better:

`$ src/cbmc/cbmc example/example.c`

gives me:

[code]

I even went further and did:
`src/cbmc/cbmc example/example.c --function foobar`

(to start directly in foobar and check that yes, the assertion /could/ happen):

[co

[2018-03-10 22:46] #1921 closed, assigned to nobody

[2018-03-12 11:05] tautschnig opened #1924 "Replace test.pl by Python-based implementation, possibly within pytest"
See #1907 for discussion.

[2018-03-12 17:32] peterschrammel opened #1928 "Clean up JSON output of goto-analyzer"
* make JSON property names conform to coding standard
* disentangle output generation, e.g. in `goto-analyzer/unreachable_instructions.cpp`
* contemplate using `--json-ui` instead of `--json file`

See #1926 for context and discussion.

[2018-03-13 10:09] tautschnig opened #1933 "Use bv_spect/bv_arithmetict"
In a discussion with @polgreen we just noticed that `bv_spect` could actually be used in several places that currently derive the maximum value for a particular `typet` by locally using `power` and testing for the signedness. `bv_spect::max_value` would take care of all this, if only it were actually used.

[2018-03-18 17:16] peterschrammel opened #1942 "Remove langapi dependency from util"
Replace `ansi-c/expr2c` by `util/format_expr`as language-independent expression printer

[2018-03-19 11:49] mikhailramalho opened #1944 "CBMC never finishes verification when using --floatbv and --smt2"
Hi all,

I'm trying to dump the SMT formula of programs with floating-points and I get the following output:
[code]

It's running for a couple of days now.

No crash or high memory usage (~50MB).

It happens in the programs floats-esbmc-regression/*nondet*.c from SV-COMP.

[2018-03-19 11:54] tautschnig commented on #1944
Most likely the same issue as #344. Some bug appears to create a loop in the data structures.

[2018-03-19 12:46] smowton opened #1945 "BMC in path-exploration mode needs path-global state"
Now that `--paths` exists, permitting path exploration and multiple BMC runs on a single problem, we should move certain behaviours from occurring once per BMC run (i.e. once per path) to running once per problem:

* In either all-properties (i.e. not `--stop-on-fail`) or `--cover` modes, every goal is tested for on every path. We should surely maintain the goal map at a path-global level, at each

[2018-03-19 12:53] karkhaz commented on #1945
Thanks for highlighting these issues @smowton. How much of this are you proposing that I implement? I don't have cycles to get onto this immediately, and I'm not super-familiar with how things are reported/how goals are stored so will need a bit of time to read. But happy to help if you let me know what's required

[2018-03-19 13:28] smowton commented on #1945
I'm not proposing an allocation of work, just noting things I think ought to be done. The relevant bits of code at `bmc/all_properties.cpp` and `bmc/bmc_cover.cpp`, as well as the core reporting stuff in `bmct::execute`

[2018-03-19 14:24] tautschnig commented on #1752
I'm not entirely sure of the context of this report, but I would maintain that expressions should be free from side effects. Notably, a function call cannot guarantee such freedom, and thus is not an expression. Where has this come up?

[2018-03-19 15:43] martin-cs commented on #1944
It's not a loop in the data structure; it is structural sharing which happens a *lot* in the floating-point encodings.  @mikhailramalho see #344 for the current (and, really correct) work-around.  If you just want *an* SMT formula, use --fpa.

[2018-03-19 15:49] tautschnig commented on #1944
@martin-cs Are your sure about the assertion about sharing? I've been running the simple example from #344 now for >570 hours.

[2018-03-19 16:14] mikhailramalho commented on #1944
Hi, thank you for the replies. Indeed, it looks like a duplicate of #344.

I tried to debug the formula generation and trying to print `result` in `float_bvt::sticky_right_shift` doesn't work after a few iterations (maybe in the last one?).

I hope it helps.

[2018-03-19 16:15] mikhailramalho commented on #1944
By 'doesn't work', I mean it hangs in the print call.

[2018-03-19 17:24] hannes-steffenhagen-diffblue opened #1948 "Add additional regression tests for --replace-function-body"
As per @thk123 s comments on https://github.com/diffblue/cbmc/pull/1889 there are some additional edge cases which we should be testing for, for instance pointer-to-pointer-to-const.

[2018-03-19 17:34] martin-cs commented on #1948
Particular horrors are the difference between 'const int *'  'int * const'  'const int * const' and structures (and unions?) with some const fields and some non-const ones.

[2018-03-19 17:44] tautschnig opened #1949 "Goto programs with missing function bodies should not be considered well-formed"
Once #1889 is merged we should be in a good position to disallow any analysis on goto programs that contain function calls to either completely undeclared functions (should never be allowed) or functions without a body. Input programs of course contain such code with varying assumptions on non-determinism, but an analysis should not make its own private assumptions about this. Instead, user-specif

[2018-03-20 09:10] owen-mc-diffblue commented on #1924
I've looked into pytest-xdist, which is a plugin for pytest to enable parallel running of tests. It seems to work. We have quite a small set of regression tests so it isn't a great comparison. Also, one of the tests takes much longer than the others (10:00 out of 11:39). Parallelising (with automatically chosen number of cores) reduces the time from 11:39 to 10:27. If I take out that long test the

[2018-03-20 15:14] tautschnig commented on #1924
@owen-jones-diffblue Thanks a lot for following up! Which test is it that vastly dominates the run-time? Maybe we've been working hard on solving the wrong problem...

[2018-03-20 15:17] owen-mc-diffblue commented on #1924
@tautschnig This was on a private repo, where the tests have already been written using pytest. And yes, we have plans for making that test a lot faster.

[2018-03-21 11:10] hannes-steffenhagen-diffblue commented on #1948
@martin-cs What should the behaviour in that case be? Just refuse to assign, or assign to all non-const fields manually?

__EDIT__ referring to structs with a mix of constant and non-constant members

[2018-03-26 04:31] karkhaz opened #1972 "Fatal warnings for C++2a / Clang 6.0"
Dumping various errors that happen when trying to build cprover with Clang 6.0, which has experimental support for C++2a and gives off many new warnings.

[code]
[code]
[code]
[code]

[2018-03-26 04:45] karkhaz opened #1974 "C++2a `<=>` operator breaks the build"
One last build failure when using a recent compiler (Clang 6.0 with experimental C++2a support):
[code]
`<=>` is the "spaceship operator" that might be introduced in C++ at some point. This is a bit weird because the `<=>` is supposed to be stringified by the macro, but Clang still sees it for some reason. Anyhow, I haven't patched this in #1973, but it can be suppressed for now by building with `

[2018-03-26 07:48] tautschnig commented on #1974
I'm wondering whether this some kind of bug in the way Clang generates those warnings? I'd be curious whether it does the same for

[code]
? I'd suggest to add a pragma to override this, possibly just for Clang - take a look at various util/pragma*.

[2018-03-26 07:58] karkhaz commented on #1974
[code]
Line 4 is `#define op <=>`. Yeah, maybe a bug? This seems a bit silly. I'll ask about it on the mailing list, and investigate adding a pragma meanwhile.

[2018-03-26 08:09] tautschnig commented on #1974
Brilliant, thanks!

[2018-03-26 08:53] karkhaz commented on #1974
BTW should I copy you in? If not, I can just post a summary over here when I've heard back from clang developers.

[2018-03-26 08:56] tautschnig commented on #1974
Happy to be copied in, but also please do post a summary here or a link to the thread if there is a public archive (I suppose so).

[2018-03-26 09:28] smowton commented on #1974
@karkhaz what happens if you use `clang++ -E` to preprocess in isolation, then `clang++ -c` afterwards? Does an unquoted `<=>` appear in the `clang++ -E` output?

[2018-03-26 09:38] karkhaz commented on #1974
I believe @tautschnig's example is slightly wrong, I don't think you can use the `#` character in arbitrary C code, it needs to be in a define. Here's a slightly different example:
[code]
The preprocessed output of that is
[code]
`clang++` does not complain about this when I compile it! (But does emit the warning when I don't do the preprocessing step separately). Thanks for the suggestion, I'll m

[2018-03-26 09:45] karkhaz commented on #1974
Ah, nonsense. Sorry, here's the correct version:
[code]
Preprocessed:
[code]
Clang complains both when I preprocess it with `-E`, and when compiling it directly. If I compile the preprocessed file, it obviously doesn't complain. If I compile it directly, the assertion still manages to pass, so it's compiling correctly but the warning is spurious.

Sorry for the confusion.

[2018-03-26 09:58] tautschnig commented on #1974
Why is it that the `xstr` step is necessary? I'm wondering, because this might need to be fixed in `irep_ids.cpp`.

[2018-03-26 10:02] karkhaz commented on #1974
Because `str(op)` is preprocessed to `"op"`, even if we previously had a `#define op <=>`. You need to pre-process _twice_ if you want to stringify the _expansion_ of `op` rather than the literal `op` itself. See the example at the bottom of [the page on stringification](https://gcc.gnu.org/onlinedocs/gcc-3.4.4/cpp/Stringification.html).

[2018-03-26 10:09] tautschnig commented on #1974
So maybe that's ok, because we have `IREP_ID_TWO` in there. Might be worth checking, though.

[2018-03-26 10:23] karkhaz commented on #1974
Not sure what you want me to check?

I believe `irep_ids.cpp` and `irep_ids.def` are both fine, the macro should expand to `"<=>"` wherever it's used. I think this does happen, since with `-Wno-c++2a-compat` the code compiles just fine...

[2018-03-26 10:24] tautschnig commented on #1974
Ok, thanks, then we're good. Let's see what the Clang people say.

[2018-03-26 10:30] karkhaz commented on #1974
Cool! I don't think this is super-urgent, which is good because most of the Clang developers are probably still sleeping :slightly_smiling_face: The mail that I sent to the list needs to be moderated, not sure how long that will take.

In theory this issue only affects users of Arch Linux, Gentoo, etc., and also people who compile Clang from source. Even then, switching off the warning should be f

[2018-03-26 16:41] #1972 closed, assigned to nobody

[2018-03-26 23:25] karkhaz commented on #1974
Duncan Exon Smith confirms that this is likely a bug. I need to open a bugzilla account to file for this, but I'll update this thread if anything interesting happens.

https://lists.llvm.org/pipermail/cfe-dev/2018-March/057396.html

[2018-03-28 00:22] karkhaz commented on #1974
Filed a bug here: https://bugs.llvm.org/show_bug.cgi?id=36925

[2018-03-29 08:16] romainbrenguier opened #1985 "Precondition failed in boolbv::convert_bv"
Running `jbmc --function Bug.test Bug.class` on the following Java program
[code]

aborts with an precondition violation and the following backtrace:
[code]

[2018-04-04 12:37] vladrich opened #2010 "function __CPROVER__start: byte_update of unknown width"
CBMC master, input attached.

cbmc cookie.c -unwind 32 --bounds-check --pointer-check --memory-leak-check --div-by-zero-check --conversion-check

fails with

[...]
converting SSA
function __CPROVER__start: byte_update of unknown width:
byte_update_little_endian
[...]

[cookie.txt](https://github.com/diffblue/cbmc/files/1875701/cookie.txt)

[2018-04-04 14:20] polgreen opened #2012 "many versions of out of date documentation exist"
The documentation found here is fine
http://cprover.diffblue.com/cbmc-user-manual.html#man_install-cbmc

But the documentation found here has broken links, including the one for the compilation instructions
http://www.cprover.org/cprover-manual/installation-cbmc.html
I got to that documentation by following the link from the github readme to the cprover wiki, and then clicking on CBMC tutorial, wh

[2018-04-06 20:40] tautschnig opened #2018 "bv_cbmct::unbounded_arrayt::U_AUTO is never enabled"
While seemingly meant to be the default (only never/always can be set via the command line), the default is actually `U_NONE`. Enabling it is trivial, but will break lots of examples until #1086 is complete and merged. Furthermore it seems current code only looks at the top-level size, not the nested values. Below is a patch that may be a useful starting point:
[code]

[2018-04-11 13:42] thiago-cavalcante opened #2041 "Problem passing a struct member as a function parameter"
Hi, I'm using CBMC to check my C program and I got a situation. When a pass as a function parameter a member of a struct, the verification takes way more steps than when I pass directly a parameter. for example:
[code]
In my real code, CBMC outputs:
- using a struct member:
[code]
- using a simple parameter:
[code]
So, passing a struct member, I got a lot more steps, and when I pass a simple param

[2018-04-11 13:52] tautschnig commented on #2041
Hello,
I'm not sure what the non-struct version of your program exactly looks like, but what you are observing is the effect of absence of constant propagation on values assigned to struct members. One remedy for that is #35, but it would be good to better understand the exact differences between the programs you are looking at to judge whether that is the full cure.

[2018-04-11 14:21] thiago-cavalcante commented on #2041
Hi @tautschnig , thanks for your reply. The differences are exactly like in the example above. I don't know why this is happening.

[2018-04-11 15:55] tautschnig commented on #2041
I don't quite understand: the above example doesn't given two versions of the code, so I'm not sure how I could tell the "differences"?

[2018-04-11 17:36] thiago-cavalcante commented on #2041
I'm sorry. The following lines are the difference:
[code]
In the first line is passed a member of a struct and the second line is passed a simple number. In the code given before those lines are not together.

[2018-04-11 18:05] tautschnig commented on #2041
Ok, so that firmly is constant propagation: you might take a look at the differences when running cbmc with `--program-only` in  the two variants of the code. I'm not sure we have an explicit issue about this open, but the regression test `cbmc/constant_folding2` does document the problem. As said, #35 would fix it.

[2018-04-11 18:06] tautschnig commented on #2041
Follow-up: if you change your code to do `PKVL t = {5.0, 2};` you should see the desired, faster behaviour as well.

[2018-04-12 15:31] karkhaz opened #2050 "Crusade against string lookup"
We have plenty of this sort of thing:
[code]
`depth` doesn't ever change, there's no need to look it up in a table every time we do a symex step. I recommend that we find these things, and replace them with
[code]
even if the option isn't constant, we can still have it as a member variable (although options that change through the life of the program are somewhat questionable...). Having a member

[2018-04-15 11:41] muchang opened #2057 "An unexpected verification result."
[code]
The `assert(0);` is infeasiable in this case, while the CBMC gives FALSE verification result which means `assert(0);` is feasible.  I ran CBMC-5.6 with the command "./cbmc ~/simple_replace_172.c --unwind 6 --depth 350 -function main --trace".  I would like to know if I ran CBMC with the wrong command line arguments so that I got the unexpected verification result?

[2018-04-15 15:14] mgudemann commented on #2057
@muchang, with `--unwind 6` you effectively force the `while` loop to exit.

You can see with `--unwinding-assertions` that this cannot be proven from the program alone though. When you assume (via `__CPROVER_assume`) at least one element of the array actually being `0`, the 'assert false` cannot be reached any more.

[2018-04-15 16:45] muchang commented on #2057
Thank you so much for your reply. It is very helpful to me.
Actually, CBMC works well on a simpler case, for example:
[code]
In this case, CBMC-5.6 with the command `./cbmc ~/simple_replace_172.c --unwind 6 --depth 350 -function main --trace` can give the TRUE verification result which means the `assert(0)` cannot be reached. However, I think CBMC should give the same verification results on this

[2018-04-15 16:51] tautschnig commented on #2057
The problem of your example is that it will yield an out-of-bounds memory access. Each such access yields a non-deterministic result, which means that reading `arg[5]` two times (in the condition of the `while` as well as in the condition of the `if`) does not mean the result will be the same each time.

[2018-04-15 21:47] muchang commented on #2057
Thank you so much for your clear explanation.
It is reasonable that the result won't be the same each time.
So it is the feature of CBMC rather than an issue, right?

[2018-04-15 22:04] tautschnig commented on #2057
It's a feature, but arguably the user interface may not be sufficiently clear here.

[2018-04-15 23:14] muchang commented on #2057
I got it, thanks a lot!

[2018-04-16 05:48] tautschnig opened #2067 "remove_skip: do it in every transforming pass or in none at all"
Discussion in https://github.com/diffblue/cbmc/pull/2029#discussion_r180329037: there does not seem to be consistency whether `remove_skip` is the duty of a transforming pass or instead should be taken care of by the driver program. We should only do one or the other.

[2018-04-16 09:54] chrisr-diffblue opened #2070 "Cleanup 'undefined-function' options to use 'generate-function-body'"
Once #1889 is merged, `--undefined-function-is-assume-false` can be deprecated and its functionality replaced with the combination of `--generate-function-body '.*' --generate-function-body-options assume-false`. Likewise `undefined_function_abort_path` could also be replaced with the `--generate-function-body` mechanism. These and any similar options should be cleaned up to use the new mechanism.

[2018-04-16 09:56] chrisr-diffblue commented on #2070
@tautschnig - I hope this issue captures the thoughts you had on cleanups that followed the work in #1889 but please add anything else that I may have missed.

[2018-04-16 16:27] #755 closed

[2018-04-17 20:13] peterschrammel opened #2083 "Spurious function call type difference in goto-diff"
Some function calls have `ID_parameters`, others don't.

This is observed in failing instruction->code comparisons at:
https://github.com/diffblue/cbmc/blob/develop/src/goto-diff/unified_diff.cpp#L396
https://github.com/diffblue/cbmc/blob/develop/src/goto-diff/syntactic_diff.cpp#L98

The difference is not visible in --show-goto-functions output. It requires dumping ireps.

A temporary fix has been

[2018-04-19 12:22] tautschnig opened #2090 "Cleanup scattered and inconsistent use of id_sett"
There was a proposal in #2075, but then #2082 created an opportunity to get rid of `id_sett`. See #2075 for discussion.

[2018-04-19 13:27] tautschnig opened #2091 "Remove uses of cmdlinet::set from unit tests"
As discussed in #1915, using `cmdlinet::set` has no effect (unless first setting up an options map). Nevertheless there are a few uses in unit tests (some including a TODO -  @thk123).

[2018-04-19 13:59] thk123 commented on #2091
Note you can use (in unit tests) `free_form_cmdlinet::add_flag/set_option` which allow arbitrary flags/options to be set but then behaves like a regular `cmdlinet`

[2018-04-21 14:32] #2090 closed, assigned to nobody

[2018-04-22 12:05] peterschrammel commented on #1757
Two more json-related cleanups to note here:
* src/goto-programs/loop_ids.cpp
* src/analyses/dependency_graph.cpp

[2018-04-23 11:40] cliffordwolf opened #2101 "Unwinding should use assertions as break condition"
Consider the following code:

[code]

cbmc will unwind that loop forever.

Adding the following (unreachable) return will fix unwinding and cbmc will correctly verify the assertion:

[code]

I think `assert(x);` should be treated like `if (!x) return;` for the purpose of loop unwinding. There is nothing to gain from unwinding a loop beyond a failed assertion.

[2018-04-23 13:45] tautschnig commented on #2101
I'd refer to #88 and #2031, where in particular the latter has interesting input from @martin-cs: it is perfectly conceivable for `assert` not to abort an execution path. Further input is much appreciated!

[2018-04-23 15:22] cliffordwolf commented on #2101
hmm.... interesting.  That's one reason why I have in Yosys `$assert` cells and `$cover` cells as different constructs. If I understand that correctly, only a "cover" assert would not abort execution, an "assert" assert always would, correct? Would it be possible to only use "assert" asserts (and assumptions) for loop unrolling?

[2018-04-23 15:54] thk123 opened #2103 "Extend boolean conversion to throw structured exceptions for other kinds of conversion error"
`convert_bitvector` currently throws an exception when something goes wrong with flatten_byte_extraction operations. This should be extended for other kinds of errors.

[2018-04-23 16:14] thk123 opened #2104 "Remove legacy code for supporting old VSC++ compiler"
VS2013 does not support nested_exception and associated standard library features. When we drop support for this, the code in `util/throw_with_nested.h` should be updated

[2018-04-25 09:02] tautschnig commented on #1880
Additional suggestion: also check the symbol table for consistency, for example that every symbol has a non-empty `mode` field.

[2018-04-25 11:27] hannes-steffenhagen-diffblue commented on #437
The interval domain shows some rather odd behaviour overall, consider this:

[code]

Running this against `goto-analyzer --verify --intervals` gives us this output:

[code]

So it's not actually able to tell that x is in [1.0f,2.0f]. What's even weirder is that it can't do equality, but has no problem checking the equivalent condition with two inequalities and `&&`.

Besides that, the interval dom

[2018-04-26 08:33] peterschrammel opened #2117 "Address reuse of malloc cannot be detected"
CBMC returns VERIFICATION SUCCESSFUL for the following program, although the assertion can fail.

[code]

CBMC's object encoding assumes that malloc never returns the same address.

[2018-04-29 18:12] tautschnig opened #2138 "Do not add `ID_mode` to expressions and instead infer it from the function"
This has been introduced in #2130 to fix recent breakage, but is a hack that seems wrong.

[2018-05-02 20:15] #2138 closed, assigned to nobody

[2018-05-03 20:09] stefanodallapalma opened #2151 "PARSING ERROR: syntax error before `__value' compiling with goto-cc"
I have the following parsing error when compiling the project https://github.com/libav/libav with goto-cc:
[code]
The commands I've executed are:
1. `./configure`
2. `make CC=goto-cc`

Compiling the project only with `make` works fine.

The environment I use is:
CBMC version: 5.8
goto-cc : the version contained in CBMC 5.8
Ubuntu 18.04

Any idea?

### /usr/include/x86_64-linux-gnu/bits/mathcalls-h

[2018-05-03 20:18] tautschnig commented on #2151
Would you mind attaching the result of preprocessed source to this issue? The issue might be in whatever `_Mdouble_` expands to. Thanks!

[2018-05-03 20:44] stefanodallapalma commented on #2151
Do you mean the result of performing `goto-cc -E` ?!
[code]

[all + avconv_opt.zip](https://github.com/diffblue/cbmc/files/1972590/all.avconv_opt.zip)

[2018-05-03 21:02] tautschnig commented on #2151
This issue will be fixed by #2146.

[2018-05-04 10:13] #2151 closed, assigned to nobody

[2018-05-07 09:42] kroening opened #2158 "conversion fixed-point <-> floating-point numbers missing"
Conversions from fixed-point numbers to floating-point numbers and the other direction aren't implemented in any of the solver backends

[2018-05-09 10:31] smowton opened #2170 "New _Float32 type conflicts with libc `Ubuntu GLIBC 2.27-3ubuntu1`"
Ubuntu glibc version 2.27-3ubuntu1, file `bits/floatn-common.h` contains:

[code]

As of the recent past, cbmc supports the `_Float32` and similar types (an extension to C supported by gcc (https://www.iso.org/standard/65615.html / https://gcc.gnu.org/onlinedocs/gcc/Floating-Types.html))

Unfortunately cbmc only claims compatibility with GCC 4.2.1 (in `c_preprocess.cpp`), so libc tries to define _

[2018-05-09 12:35] tautschnig commented on #2170
I think we should go for option 2. My rationale is that right now using `goto-cc` + `cbmc` vs. `cbmc` directly will yield different results. (May I actually ask you to confirm this on the example you are looking at?)

[2018-05-09 13:31] smowton commented on #2170
On my system goto-cc behaves just like cbmc modified to declare GCC version 7.0 (unsurprisingly, since GCC 7 is currently my default version, and goto-cc uses the real GCC for preprocessing). Thus goto-cc does not have this problem, but does have the fpclassify problem. That we hadn't noticed the fpclassify problem before presumably indicates a shortcoming of the goto-cc testsuite.

[2018-05-10 11:55] polgreen opened #2177 "Casts between different fixedbv types broken in goto-cc"
Casts between different sizes of __CPROVER_fixedbv seem to have broken at some point since release 5.7, when the analysis is performed on a binary produced by goto-cc. Here is a minimal example:
[code]
Commands used to compile with goto-cc and analyse
[code]
This produces the following error:
[code]
I'm using goto-cc and cbmc at commit d06971936dbe180bfd0cd170e0529f9e8b2b7d68

When I follow the sa

[2018-05-10 12:00] polgreen commented on #2158
This is the same as the issue I filed in January 2017:
https://github.com/diffblue/cbmc/issues/482

[2018-05-10 12:01] #435 closed

[2018-05-11 14:13] cherusker commented on #2010
I run into the same issue.

[2018-05-11 14:54] peterschrammel commented on #2010
`getline` shouldn't succeed storing the read data at `NULL` or is that the bug that you would like to detect?

[2018-05-11 19:46] cherusker commented on #2010
@peterschrammel I run into the same issue using CBMC 5.8-2.fc28 as it is distributed by Fedora 28 at the moment: https://fedora.pkgs.org/28/fedora-x86_64/cbmc-5.8-2.fc28.x86_64.rpm.html

I ran `cbmc --memory-leak-check memory-leak-check-crash.c 2> crash.log` on a Fedora 28 using 4 cores of my i7-6700HQ with 8 GB Ram (via VMware on a Windows 10 host). You can find both files attached.

(The program

[2018-05-14 14:41] tautschnig opened #2183 "Human-targetted output should abbreviate large arrays"
Creating this as an issue as the entire pretty-printing appears to be in flux: `expr2ct` will presently print all elements of an array, even when all of them are them same (e.g., `0`) and there are millions of them. The result is valid C, but hardly human-readable. Instead printing should be done like, e.g., `gdb` does, where expressions are abbreviated after a certain number of characters by defa

[2018-05-14 16:31] martin-cs commented on #2183
+1 does want but I note that this may make parsing of these things harder.  Should we say if people want to parse things then they should use the JSON or XML formats?

[2018-05-16 11:37] vladrich commented on #2010
ping @martin-cs, @peterschrammel

[2018-05-16 14:05] martin-cs commented on #2010
pong @vladrich

I'll have a look this afternoon.  Thanks for the reduced test cases and error log; most useful.  At first guess I would say that symex is generating an expression that the back-end solver can't handle so the resolution is likely to be: A. change whatever symex is doing so it doesn't do that, B. fill in an additional case in the back-end.

[2018-05-16 19:08] martin-cs commented on #2010
Thanks to both @vladrich and @cherusker for their help.  I've reduced it down to:

[code]

which gives this error on CBMC 5.8, with ```cbmc --memory-leak-check working.c```.

--show-vcc suggests the likely cause of the problem is:

```dynamic_object1#1 == byte_update_little_endian(dynamic_object1#0, 0l, src_n!0@1#1, char [src_n$array_size0!0@1#2])```

and ... I can see that the solver could have p

[2018-05-17 15:45] chrisr-diffblue opened #2194 "Extend optionst to be typed and use it to replace configt and other custom configuration objects"
Currently we have both `optionst` and `configt` (plus a few other even more custom configuration options). Each has benefits - `optionst` is generic but un-typed, and `configt` is typed, but not very generic... We should expand `optionst` so that options are type safe, and then replace any usage of `configt` or other custom config objects with `optionst`.

[2018-05-17 15:55] martin-cs commented on #2194
I think ```optionst``` and ```configt``` are used for different things:

https://github.com/diffblue/cbmc/issues/1521

This is not to say that they /should/ be, just a back link to the last discussion of this.

[2018-05-17 16:04] chrisr-diffblue commented on #2194
Thanks for the link - I wasn't aware of that, so its very useful extra context.

[2018-05-17 19:11] martin-cs commented on #1948
@hannes-steffenhagen-diffblue I'm not sure I have one fixed answer in mind; just as long as there is a consistent, correct and justifiable answer.  Throwing an error, assigning all non-const fields (possibly with a warning), assigning everything (with a warning), these all seem possible.

[2018-05-17 19:58] martin-cs commented on #2070
#1899 has been merged... :-)

[2018-05-17 21:50] peterschrammel commented on #571
Cleanup issues observed when creating the module dependency files in https://github.com/diffblue/cbmc/pull/2196:

- [ ] Cleaning out langapi (currently on the way)
- [ ] Cleaning out java_bytecode (#2118)
- [ ] Remove use of ansi-c in analyses, jsil, linking, pointer-analysis, goto-programs, java_bytecode, jbmc, goto-analyzer and goto-instrument
- [x] Move version.h somewhere else to remove depend

[2018-05-17 22:17] tautschnig commented on #1880
When working on this reverting (parts of) #2110 should be considered, and the same is true for #2046.

[2018-05-21 13:35] polgreen commented on #2012
This is still a pretty irritating issue.

- Please could the out of date documentation be removed (namely https://www.cprover.org/cbmc/doc/manual.pdf).
- Please could the link "to compile the source code, follow these instructions" at the bottom of this page be updated: http://www.cprover.org/cprover-manual/installation-cbmc.html

[2018-05-21 13:37] polgreen commented on #2158
Related: casts between different lengths of fixed point bit vectors are broken in goto-cc.
https://github.com/diffblue/cbmc/issues/2177

[2018-05-21 14:35] tautschnig opened #2215 "Post-jbmc move cleanup"
- [ ] Introduce a `goto-java` (or the likes) to match `goto-cc` and get rid of `janalyzer` and `jdiff` (cf. #2118).
- [X] CODEOWNERS are not up-to-date. -> https://github.com/diffblue/cbmc/pull/2216
- [X] .gitignore is not up-to-date. -> https://github.com/diffblue/cbmc/pull/2216
-  ~~Cleanup the Travis configuration to run `jbmc` tests in parallel to `cbmc` ones - requires input on #2047.~~

[2018-05-21 15:35] martin-cs commented on #2101
Assorted thoughts:

*. See #2031 for discussion of the two possible semantics for ASSERT.  From your description I would interpret your "assert" and "cover" to be each of these.

*. See
https://github.com/diffblue/cbmc/pull/2193/commits/92b92d6032d4f0492603d2f85db5b52d6798b04c
for why I think CPROVER's ASSERT should not alter executions.

*. Yes, we could use ASSUME (the recommended way of getting

[2018-05-21 15:37] martin-cs commented on #2103
Some of them should probably be removed in favour of INVARIANTs of some kind.

[2018-05-22 11:41] martin-cs commented on #2012
As far as I know only @kroening has the access rights to fix this.  Sorry :-\

[2018-05-22 11:54] peterschrammel commented on #2012
The documentation on http://cprover.diffblue.com is entirely auto-generated from files in the CBMC repository. Fixing issues there is a matter of creating a PR; it will then be automatically updated by travis on merge.

The other documentation on cprover.org requires @kroening to perform a clean-up.

[2018-05-22 11:55] polgreen commented on #2012
The documentation on http://cprover.diffblue.com is the only one that's up to date!

[2018-05-22 15:07] tautschnig opened #2224 "Use typecast_exprt::conditional_cast and remove make_typecast"
... once #2223 is merged.

[2018-05-22 21:59] kroening commented on #2183
Yes, we've always recommended that people use JSON/XML if they want to parse (but I know of at least one commercial user who decided to parse the text output).

[2018-06-01 09:13] #1783 closed, assigned to nobody

[2018-06-01 09:38] #1867 closed, assigned to nobody

[2018-06-01 17:48] kroening commented on #344
The program with the multiplication is now solved in <1s.

[2018-06-04 09:29] #344 closed

[2018-06-04 09:29] #1944 closed, assigned to nobody

[2018-06-04 15:57] #2067 closed, assigned to nobody

[2018-06-04 18:53] LAJW opened #2273 "Test runner failing on Travis and OSX"
On this branch: https://github.com/LAJW/cbmc/tree/lajw%2Falways-load-cprover-nondet-initialize

The following test:
[code]

Fails on CI and OSX. Renaming that test to `test-2.desc` makes it run on OSX and CI... once. On top of that, after renaming, it seems to be run twice, and the second run fails.

Removing regex entries (`^EXIT=0$`, `^SIGNAL=0$`) is the only way to make the test pass (even thou

[2018-06-05 15:59] JohnDumbell opened #2281 "Enhance replace java nondet to deal with non-trivial goto"
This is focused mostly around check_and_replace_target in  replace_java_nondet.cpp.

The code attempts to find all instructions that's been generated between a org.cprover.CProver.nondetX() call and its assignment (or use) and then skips everything and replaces the call with just a NONDET statement of the specified type. This works in most basic situations, but if the goto code has any sort of com

[2018-06-06 08:45] mgudemann opened #2285 "Remove `experimental support for Java bytecode` from CBMC website"
The [CBMC](http://www.cprover.org/cbmc/) webpage states that `We have recently added experimental support for Java Bytecode.` This should be removed or replaced with a link to [JBMC](http://www.cprover.org/jbmc/).

[2018-06-06 10:21] #2083 closed, assigned to peterschrammel

[2018-06-06 10:42] tautschnig opened #2287 "Follow-up for #2269: mark various `code_typet` objects `const`"
See https://github.com/diffblue/cbmc/pull/2269#issuecomment-394689478.

[2018-06-06 13:33] tautschnig opened #2295 "goto-symex: "depth" option should be set to max-unsigned by default"
See https://github.com/diffblue/cbmc/pull/2262#discussion_r192809866.

[2018-06-06 13:33] #2050 closed, assigned to nobody

[2018-06-06 20:19] #2287 closed, assigned to peterschrammel

[2018-06-07 16:05] thk123 opened #2307 "Crash when using core models and comparing two inputs"
Given the following Java:

[code]

When running jbmc with the core models: `jbmc Test2Class.class --function Test2Class.test --classpath ../../../src/java_bytecode/library/core-models.jar:.`

The following error is generated:

[code]

The component that is specifically the wrong type is `monitorCount` from `java.lang.Object` model.

[2018-06-07 16:37] Degiorgio commented on #2307
The following PR when merged should fix this: https://github.com/diffblue/cbmc/pull/2280

[2018-06-09 10:57] peterschrammel opened #2328 "Run also CBMC and JBMC unit tests on AWS code build"

[2018-06-12 14:35] tautschnig commented on #1703
This has been fixed in 4215f21ce8f9da.

[2018-06-12 14:35] #1703 closed, assigned to nobody

[2018-06-12 14:41] tautschnig commented on #1121
This plan seems to have been shelved. We'll release from develop.

[2018-06-12 14:41] #1121 closed

[2018-06-12 14:45] tautschnig commented on #655
Fixed in 3e22217209c3.

[2018-06-12 14:45] #655 closed

[2018-06-12 14:46] tautschnig commented on #1758
Duplicate of #735.

[2018-06-12 14:46] #1758 closed, assigned to nobody

[2018-06-12 16:42] #1602 closed, assigned to nobody

[2018-06-12 18:37] #1647 closed, assigned to nobody

[2018-06-15 17:10] peterschrammel opened #2357 "Fix temporarily invalid instructions in goto convert"
See https://github.com/diffblue/cbmc/pull/2356 for the context

A couple of initial suggestions to fix this:
1. Use an explicit dummy target to be passed to make_goto()
    - very simple
    - helps avoiding wrongly incomplete initialisations
    - allows checking that a converted goto program does not have incompletely initialised instructions
2. Refactor goto_convert to perform single-step initi

[2018-06-15 17:30] smowton opened #2358 "CBMC C++ frontend doesn't support namespace attributes"
Excerpt from glibc 2.27:
[code]

The CBMC frontend however can't parse such a thing, as it doesn't expect attributes on namespaces. This causes tests that include `<cassert>` among other headers to fail.

A change such as the following successfully hacks around the problem:

[code]

However I don't know enough about either the C++ grammar to say whether the attribute can occur in other places, or

[2018-06-15 17:33] tautschnig commented on #2358
I'd much encourage you to create a PR with exactly this patch! The current C++ front-end is in a best-effort state, so we'll notice when we need more than the above patch when new tests come up!

[2018-06-15 17:33] smowton opened #2359 "CBMC C++ frontend doesn't detect implicit `-std` option"
With `g++-7` at least, `-std=c++14` is implied if the user doesn't make an explicit choice. However, cbmc's frontend expects `c++03` unless something is explicitly specified. It should either check the `__cplusplus` defined by the compiler to find out what it understood to be the prevailing standard and act accordingly, or force `-std=c++03`. The former is better, as a configure script would be re

[2018-06-15 17:34] smowton commented on #2359
Suggestion: I think this series of problems with modern compilers indicates it's time we were CI'ing against multiple gcc versions.

[2018-06-15 17:40] tautschnig commented on #2359
At least for `goto-cc` that really just needs using the new `gcc_version` tool. I agree that CI'ing all this is desirable, likely that should be part of the same PR. Now let me just ask my time machine to get this implemented :-)

[2018-06-15 17:40] tautschnig commented on #2359
(But I'm accepting responsibility for eventually doing so.)

[2018-06-15 17:44] smowton commented on #2358
https://github.com/diffblue/cbmc/pull/2360

[2018-06-15 17:44] smowton commented on #2358
The C++ standard one is trickier -- want to always pass `-std=c++03` to the preprocessor if we're not told otherwise?

[2018-06-15 17:46] tautschnig commented on #2358
Really #2360 (Java instanceof)?

[2018-06-15 17:48] tautschnig commented on #2358
Yes, we should always pass some `-std` - I'm however leaning towards `-std=c++98`.

[2018-06-18 08:25] smowton commented on #2358
Oops. https://github.com/diffblue/cbmc/pull/2362

[2018-06-18 08:32] smowton commented on #2359
Gah, awkwardly the GCC default is actually `-std=gnu++98` and `-std=gnu++14` respectively, which compilers we merely think are GCC but which are actually something GCC-like are likely to choke on. I will therefore submit a patch using the gcc-version logic to choose.

[2018-06-19 08:05] tautschnig commented on #2358
Fixed via #2362.

[2018-06-19 08:05] #2358 closed, assigned to tautschnig, kroening

[2018-06-19 08:21] tautschnig commented on #2357
Fixed via #2361.

[2018-06-19 08:21] #2357 closed, assigned to nobody

[2018-06-19 14:06] kroening commented on #2359
Is this obsoleted by #2364?

[2018-06-19 14:26] smowton commented on #2359
That will fix it, if it works as I hope, yes.

[2018-06-20 09:46] smowton commented on #1974
@karkhaz worth pinging them?

[2018-06-20 10:29] smowton opened #2370 "Some goto-cc regression tests fail when native compiler is clang-6.0"
Failing tests:

`regression/ansi-c/MMX2`:

[code]

`regression/ansi-c/gcc_builtins4`: `STATIC_ASSERT(__builtin_classify_type((_Bool)0)==4)` fails. Someone expected Clang would classify `_Bool` as a logical rather than an integer type, which may be true for some Clangs, but evidently not 6.0, at least not 6.0 + glibc-2.27 (if libc is even responsible for defining `_Bool`). Need to check which compi

[2018-06-20 10:36] smowton commented on #2370
I also repeated these tests with clang-3.9, the oldest Clang readily available to me, and found the MMX2 test does not fail, but the gcc_builtins4 and ts18661 tests fail in the same way.

[2018-06-20 12:19] tautschnig opened #2372 "Replace uses of iostream by sstream in unit tests"
Unit tests should not be interactive and instead be as quiet as possible. Any output may as well be a warning/an error. Message streams should take a string stream, which should afterwards be tested for being empty.

[2018-06-21 02:12] tr4nc3 opened #2378 "Error simplify_expr_boolean.cpp:154:29: error: no matching function for call to ‘std::vector<exprt>::erase(std::vector<exprt>::const_iterator&)’ it=operands.erase(it);"
Seems like I am getting a compilation error with the following GCC
gcc version 4.8.5 20150623 (Red Hat 4.8.5-28) (GCC) .

[code]
                             ^
Any ideas?

[2018-06-21 05:53] mgudemann commented on #2378
@tr4nc3 please note that you need gcc 5.0 or higher (cf. https://github.com/diffblue/cbmc/blob/develop/COMPILING.md)

[2018-06-21 08:52] karkhaz commented on #1974
@smowton I'm going to ask for advice on IRC about fixing this. Basically the warning is being emitted from [here](https://github.com/llvm-mirror/clang/blob/master/lib/Lex/Lexer.cpp#L3641), i.e. in the lexer. IMO, this is too early to decide whether the warning should be emitted, as you need some context to decide whether the use of `<=>` is inappropriate (an example of the sort of thing Clang want

[2018-06-21 16:00] karkhaz commented on #1974
@smowton however, if your commit fixes that problem, then I would recommend opening a PR for it---even if the Clang bug is fixed fairly soon, I'm not sure how quickly it would propagate to the distro versions of Clang. It would suck if Ubuntu or whatever started using Clang 6.0 and broke a lot of people's builds, it would be nice to preempt that.

[2018-06-22 06:32] #2378 closed, assigned to nobody

[2018-06-22 08:36] polgreen opened #2390 "make_chordal and connected_subgraphs grapht functions don't compile"
The functions `grapht::make_chordal` and  `grapht::connected_subgraphs` don't currently compile.

The fix to make them compile is here:
https://github.com/diffblue/cbmc/pull/2389

But the fix still needs unit tests to be merged

[2018-06-22 19:26] tr4nc3 opened #2394 "sat/satcheck_minisat2.cpp:53:33: error: ‘l_True’ was not declared in this scope"
Using gcc version 7.3.1 20180303 (Red Hat 7.3.1-5) (GCC) :

[code]

[2018-06-22 19:28] tr4nc3 commented on #2378
I had to install devtoolset-7 and zlib-static libraries to fix the issue.  Thanks @mgudemann .

[2018-06-22 20:04] tr4nc3 commented on #2394
If I follow the suggestion mentioned i.e., changing ``l_True`` to ``Minisat::l_True`` the problem goes away.  But then the linker fails.

I think I made the initial mistake by not doing first the following:
``make minisat2-download``

[2018-06-22 20:23] nmanthey opened #2395 "infinite recursion in goto-cc"
Dear CBMC Team,

I just tried to compile upstream Xen with the current develop branch version (8f6dab8). I get the following trace when I compile the symbols tool of Xen. This single goto-gcc call leads to segmentation faults on machines with large memory.

Best,
Norbert

To reproduce:
git clone git://xenbits.xen.org/xen.git
cd xen
git checkout 11535cd
cd xen/tools
gdb --args goto-gcc -Wall -Werro

[2018-06-23 13:23] tautschnig commented on #2394
So are you still facing the problem you posted above? If you haven't done `make minisat2-download`, how did you install Minisat instead?

[2018-06-23 15:08] tautschnig opened #2416 "Travis builds need to use tagged release of java-models-library"
The update in diffblue/java-models-library#5 broke the `jbmc/coreModels` test. @smowton identified the culprit and guided me in crafting #2415, but such surprise breakage should be avoided in future. Thus java-models-library should provide tagged releases that Travis builds fetch.

[2018-06-24 18:01] #2307 closed, assigned to nobody

[2018-06-25 13:43] muchang commented on #2057
I met another unexpected verification result case.
Consider about this piece of code:
[code]
The program will throw out an Assertion failed when compiled by gcc or clang, but CBMC gives the TRUE verification result on this case.

What should I do if I want to use CBMC to find the bug?

[2018-06-25 14:27] tautschnig commented on #2057
Would you mind posting the exact command line you are using, and possibly also the platform you are running on? I'm running the following on Ubuntu 14.04:
[code]
as it should be?!

[2018-06-25 15:01] muchang commented on #2057
Yes, I just tried your command line and got the excepted result.
I guess I got the unexpected result before because I used the unwind configuration.
Thanks for your reply! It's solved.

[2018-06-26 01:31] tr4nc3 commented on #2394
I installed minisat via the yum install ... and it seemed to have worked but seems like it messes something with how cbmc expects it.  No longer a problem now - the key was to follow the instructions exactly.

[2018-06-26 01:31] #2394 closed, assigned to nobody

[2018-06-26 01:35] tr4nc3 opened #2478 "CBMC runtime Compiler error"
I am trying to run CBMC as follows on file.C:
``cbmc --bounds-check  src/file.C  -I deps/  -I include/ -I deps/log4cpp/1.1.0/include/ --cpp11``

I get a warning and an error which states the following... any ideas on what the issue could be ... this seems like a C++ compilation issue:

``file /opt/rh/devtoolset-6/root/usr/include/c++/6.3.1/backward/backward_warning.h line 32: /opt/rh/devtoolset-6/

[2018-06-26 05:34] tautschnig commented on #2478
I'm afraid our C++ support has a number of limitations right now; most notably, some of the features of C++11 that `type_traits` requires are not yet supported. We have `regression/cpp/type_traits` tracking this.

[2018-06-30 18:40] nchong opened #2499 "Exception on `--smt2`"
The following program makes CBMC throw an exception when using the switch `--smt2`: `Unexpected case: smt2_convt::convert_expr: ``function_application' is unsupported`. The program is parsed and fails verification (as expected) when `--smt2` is removed.

[code]

Here's the full output:

[code]

[2018-07-02 12:48] peterschrammel commented on #15
Also @karkhaz's path-explorer needs to be separated out and based on a common safety-checker/BMC interface. The current integration into bmct itself is very hard to maintain.

[2018-07-02 19:12] karkhaz commented on #15
@peterschrammel bmct is certainly more unwieldy and less elegant than it used to be given the path explorer stuff, sorry about that. Is there anything specific that you'd like me to do or help with? I won't be free to work on CBMC for the next month or so, but if you have some specific suggestions I can start thinking about how to get them done.

[2018-07-03 11:56] polgreen opened #2514 "Traces on windows report integers as longs"
I realise long and int are the same size on windows, but I still think CBMC should report the types as they are declared in the code unless a cast occurs. If nothing else, it adds an extra layer of obfuscation when reading the traces.

Test case:
[code]
The trace on linux will report:
[code]

On windows it will report
[code]

[2018-07-03 12:22] karkhaz commented on #2499
@nchong using a non-`__CPROVER` prefixed name for the function makes this problem go away:
[code]
is there a reason why you're calling your function `__CPROVER_uninterpreted_function`? That doesn't seem to be a name that CBMC has reserved for a specific use, but it's best to avoid naming functions that way even so...if there's a good reason to be using that name I can ping somebody, otherwise plea

[2018-07-03 12:28] karkhaz commented on #2499
Actually, I'm going to ping somebody anyway. @peterschrammel is there a reason why CBMC behaves differently in the presence of `__CPROVER`-prefixed functions even when those names haven't been reserved by CBMC? It seems to me that either the behaviour should be identical to a regular function, or CBMC should be warning users that they're using a name which isn't reserved but which will change the

[2018-07-03 12:32] nchong commented on #2499
Thanks for the response, @karkhaz. My understanding is that the prefix `__CPROVER_uninterpreted_` causes the function to be treated as an uninterpreted function.

http://www.cprover.org/cprover-manual/modeling-nondet.shtml

[2018-07-03 12:37] karkhaz commented on #2499
Ah, I see, thanks! (I was grepping for `uninterpreted_function` rather than `uninterpreted_`...) in which case, not sure about this, but perhaps @peterschrammel knows who would best know more about this part of the codebase...

[2018-07-04 14:46] NlightNFotis commented on #2359
@smowton Was this fixed by #2364 ? If yes can this be closed?

[2018-07-04 22:17] peterschrammel opened #2524 "Range sets cannot handle negative offsets in byte extracts"
The test `regression/cbmc/full_slice3` (#2525) currently crashes at https://github.com/diffblue/cbmc/blob/develop/src/analyses/goto_rw.cpp#L157

[2018-07-05 10:25] muchang commented on #2057
Hi, another unexpected case is coming:
[code]
For this case, the `assert(0)` is reachable when it is compiled by gcc.
But CBMC gives the VERIFICATION SUCCESSFUL result which means the `assert(0)` is unreachable for the case.
The command is `cbmc file.c`. On MacOS 10.13.

[2018-07-05 11:33] tautschnig commented on #2057
As far as I can tell your above example has undefined behaviour (the value `5` take the comparison out of bounds), and thus any result is technically ok. You really want to use `--bounds-check` with such a code.

[2018-07-07 14:23] peterschrammel opened #2555 "Fix naming of fresh variables in java string preprocessing"
Currently, some of the fresh variables are not prefixed with the function names which would break `jdiff` if string processing was required to be used there, e.g. https://github.com/diffblue/cbmc/blob/develop/jbmc/src/java_bytecode/java_string_library_preprocess.cpp#L266

[2018-07-07 16:18] tautschnig opened #2559 "Cleanup API of unicode.{h,cpp}"
#2533 exposed one additional function, and made others unused. The various *_endian functions should be reviewed and their utility be carefully considered.

[2018-07-08 18:49] tautschnig opened #2562 "goto-analyzer: Use messaget/message_handler for output"
See comment in #2464: goto-analyzer should not use streams (let along `std::cout` directly) for output, and should instead go via `messaget` or `message_handlert`.

[2018-07-10 07:59] tautschnig commented on #2395
This has been fixed by #2553.

[2018-07-10 07:59] #2395 closed, assigned to nobody

[2018-07-10 09:13] #1622 closed, assigned to nobody

[2018-07-11 13:38] guyio opened #2573 "--bounds-check problem with malloc"
take this code for example:

#include <stdlib.h>
void main(){
int* a = malloc(4);
a[10]=1;
}

if i run cbmc with these clauses: --function main --bounds-check
it results in VERIFICATION SUCCESSFUL.

what am i doing wrong? do i need another configuration?

[2018-07-11 13:45] peterschrammel commented on #2573
You need `--pointer-check` in this case.

`--bounds-check` would work for cases such as
[code]

[2018-07-11 13:48] guyio commented on #2573
Thank you! I've mistakenly assumed accessing allocations with index will be checked within 'bounds-check'

[2018-07-11 13:48] #2573 closed, assigned to nobody

[2018-07-15 11:58] guyio opened #2578 "problem regarding memcpy bound check"
Hey, consider this code:

#include <string.h>
#include <stdlib.h>
int main()
{
  char* a = malloc(10);
  char* b = malloc(10);
  memcpy(b, a, 100);
}

using the following options:
    --bounds-check --pointer-check
results in success.

what am i doing wrong? is it a known issue?

[2018-07-15 14:27] martin-cs commented on #2578
Thanks for the bug report!

On Sun, 2018-07-15 at 04:58 -0700, Guy Inbar wrote:

Which version are you using?  I've just tried the current master and
got:

$ cbmc ./bug-2578.c --bounds-check --pointer-check

CBMC version 5.9 (cbmc-5.9-318-g87c2a6891) 64-bit x86_64 linux
Parsing ./bug-2578.c
Converting
Type-checking bug-2578
Generating GOTO Program
Adding CPROVER library (x86_64)
Removal of functio

[2018-07-16 08:26] guyio commented on #2578
On version 5.8.
entered this:
cbmc test.c --function main --bounds-check --pointer-check

and got
CBMC version 5.8 64-bit x86_64 windows
Parsing test.c
test.c
Converting
Type-checking test
Generating GOTO Program
Adding CPROVER library (x86_64)
tmp.stdin12156.mWmaaa.c
Removal of function pointers and virtual functions
Partial Inlining
Generic Property Instrumentation
Starting Bounded Model Checkin

[2018-07-16 11:10] tautschnig commented on #2578
Would you be able to confirm that release 5.9 fixes this problem for you (as you are running Windows)? Thanks! (There have been numerous changes in the relevant parts of the code, and missing bounds checks was a known problem that has however been addressed.)

[2018-07-16 11:32] martin-cs commented on #2578
5.8 is incorrect and misses these bug.  Thanks for reporting this.  5.9
works for me and gives the same results as master.  As Michael says,
please could you try 5.9 and let us know?  If it works, is moving to
5.9 a solution for your use-case?

[2018-07-16 11:34] guyio commented on #2578
Yes, just verified on 5.9 and it's working properly.
Thank you!

[2018-07-16 12:25] #2578 closed, assigned to nobody

[2018-07-16 13:06] martin-cs commented on #2578
On Mon, 2018-07-16 at 05:25 -0700, Guy Inbar wrote:

This works for me with 5.9.  Are you seeing a problem?

[2018-07-16 13:07] guyio commented on #2578
Oh, I'm sorry.. I've deleted it instantly, I accidentally changed the wrong input file.
It's working now!

[2018-07-16 13:09] martin-cs commented on #2578
No worries; glad you've got things working.

[2018-07-17 13:53] chrisr-diffblue opened #2583 "Regression in goto-cc since PR #2490 switch-range was merged"
The following example:

[code]
Used to be able to be compiled by goto-cc, but since #2490 was merged this example now fails to compile due to a type check failure:

[code]

[2018-07-17 14:17] chrisr-diffblue commented on #2583
The closed/abandoned PR https://github.com/diffblue/cbmc/pull/2076 and/or the merged PR https://github.com/diffblue/cbmc/pull/2081 may have some hints as to how to solve this.

[2018-07-17 14:20] tautschnig commented on #2583
Maybe we shouldn't strictly require that the result is a single constant, and instead accept expressions that solely consist of constants (and type casts).

[2018-07-17 14:25] chrisr-diffblue commented on #2583
That would be one option - though it seems theres a number of places that we've recently tripped over cases where this kind of constant FP operation isn't currently handled - so maybe we really should attempt a better fix to `simplify()` to handle this kind of expression?

[2018-07-17 14:27] tautschnig commented on #2583
Sure, if we can fix `simplify()` then that's even better!

[2018-07-17 15:10] chrisr-diffblue commented on #2583
I won't get chance to look this week, but I'll see if I can make some time next week...

[2018-07-19 10:27] #2583 closed, assigned to nobody

[2018-07-24 07:54] #2559 closed, assigned to nobody

[2018-07-24 09:10] polgreen opened #2593 "goto-instrument behaviour when not given an output file name"
goto-instrument should check whether it has been given an output file name before getting into expensive analysis steps, not afterwards.

Currently, running the command
`goto-instrument --full-slicer input.binary` will result in goto-instrument running the full slicer, before realising that it hasn't got an output file name, which causes it to output the help information.

It would be better to ch

[2018-07-24 11:17] martin-cs commented on #2593
+1 agree; all command line parsing should be done first, in
goto_instrument_parse_options.

[2018-07-25 12:13] martin-cs opened #2611 "CBMC tests fail on Debian stable (stretch) on x86_64"
This used to work.  Looks like a preprocessor configuration issue.  I have a ```/usr/include/x86_64-linux-gnu/gnu/stubs-64.h```

[code]

[2018-07-25 12:28] martin-cs commented on #2611
Release 5.9 has the same problem.

[2018-07-25 12:42] martin-cs commented on #2611
Release 5.8 works and 3 of the tests haven't been changed since then so I think it is a definite regression.

[2018-07-25 15:56] qaphla opened #2617 "Soundness bug with unconstrained pointers"
The handling of writes to unconstrained pointers treats all writes, regardless of offset, as writing to a single object. This can result in soundness issues. See, for example, the following program, which CBMC verifies:

[code]

While unconstrained pointers are unlikely to occur in actual C code, some `goto-instrument` passes (in particular, the code-contracts passes) create unconstrained variable

[2018-07-25 17:18] martin-cs commented on #2611
https://github.com/diffblue/cbmc/commit/a31f5307855d894d3b50301b1826e7dc1db6dffa does not have this bug
https://github.com/diffblue/cbmc/commit/f653dec9f6bb0caea78ea52006a075cd8131b91f does

@kroening please can you look at this; I think your preprocessor clean-up has had some unintended side effects.

[2018-07-26 08:43] kroening commented on #2617
The unsoundness is fixed by giving the --pointer-check option to CBMC. This option should become default at some point.

For contracts, you will need to be able to express a precondition that requires a pointer to point to something. This feature is yet to be implemented.

[2018-07-26 08:45] martin-cs commented on #2617
Thanks for the bug report.  Uninitialised / unconstrained pointers are always an issue as it is far from clear what the semantics should be.  For example, if you have ```typedef struct _tree { int label; struct _tree *left, struct _tree *right} tree;``` and are verifying a function ```int search (tree * root)```, should ```root->value``` work?  What about ```root->left->value```?  Is it different

[2018-07-28 12:24] kroening commented on #2611
Does PR #2529 fix this?

[2018-07-30 08:04] polgreen opened #2631 "reachable-call-graph terminates with std::out_of_range exception"
I am producing a reachable call graph of Xen, using `goto-instrument --reachable-call-graph input.binary output.binary`.

I am using develop, at commit `709b45f446cce6134d65cf08ae74d028e03c054d1`

The exception I get is:
[code]
The stack trace is
[code]

I'm working on trying to find an open source binary for you to recreate this. It should be sufficient to use this branch of Xen:
https://github.c

[2018-07-30 08:48] polgreen commented on #2631
The binary is here:
https://drive.google.com/open?id=1Vco57D_iMhQ6N1EXqLTmF1wC9WiSN3mZ

[2018-07-30 09:10] polgreen commented on #2631
This appears to be an issue with `__asm_sfence`. Is it possible that remove_asm introduces new functions but doesn't add them to the function_map?

[2018-07-30 14:20] polgreen commented on #2499
The manual does say that this feature isn't supported on all back ends, hence the error message. Admittedly the error message could be a bit clearer. As far as I can tell, the only back end with which CBMC currently supports uninterpreted functions is minisat.

There doesn't seem to be a reason that it couldn't be supported by the smt back end, since Z3 has support for uninterpreted functions, jus

[2018-07-30 14:21] #2177 closed, assigned to nobody

[2018-07-30 14:21] #1649 closed, assigned to nobody

[2018-07-30 14:21] #2390 closed, assigned to nobody

[2018-07-30 14:24] polgreen commented on #2012
So, I'm going through and closing issues I've filed that have been resolved. Is there anyone that can remove the out of date documentation?

It's here:
https://www.cprover.org/cbmc/doc/manual.pdf
http://www.cprover.org/cprover-manual/installation-cbmc.html

[2018-07-30 14:25] polgreen commented on #482
This type case is still missing

[2018-07-30 15:05] EtiChaudhary opened #2632 "goto-instrument --accelerate does not seem to be accelerating loops."
Giving the GOTO Binary Produced by goto-cc for the following C file as input to _**goto-instrument**_ with the _**--accelerate**_ option:

[code]
The GOTO-program corresponding to the output produced is as follows:
[code]
_As one may note, there is no accelerated path inserted into the GOTO-program as should be._

[2018-07-31 09:54] polgreen opened #2637 "Access to CI AWS CodeBuild"
Please can the AWS CodeBuild be set up so that external collaborators can view the output.

[2018-07-31 12:24] polgreen commented on #482
closing this issue as it is duplicate to https://github.com/diffblue/cbmc/issues/2158

[2018-07-31 12:24] polgreen commented on #2158
Closed the duplicate issue. The test case for this, in the duplicate issue was:
[code]

[2018-08-01 12:00] guyio opened #2652 "byte_update of unknown width error"
Hey, I've been trying to reproduce a bug example of an integer overflow used for an allocation.
Using cbmc I've found that I get the following error:
file cve-2017-5428.c line 49: byte_update of unknown width

Version 5.9 on windows.
command line used:
cbmc cve-2017-5428.c --function main --bounds-check --pointer-check

output:
CBMC version 5.9 (cbmc-5.9) 64-bit x86_64 windows
Parsing cve-2017-542

[2018-08-01 12:06] tautschnig commented on #2652
Thank you very much for this bug report. This is a problem the fix of which is work in progress; as a temporary workaround you might want to enable the loop-based version of `memcpy` in src/ansi-c/library/string.c (the line saying `for(__CPROVER_size_t i=0; i<n ; i++) ((char *)dst)[i]=((const char *)src)[i];`) and instead comment out the three lines below that.

[2018-08-01 12:41] guyio commented on #2652
Thank you!

[2018-08-01 12:57] polgreen opened #2653 "2 full-slicer crashes"
To recreate both of these issues you will need this Xen binary:
https://drive.google.com/file/d/1Vco57D_iMhQ6N1EXqLTmF1wC9WiSN3mZ/view?usp=sharing
And this branch of cbmc:
https://github.com/diffblue/cbmc/tree/remove_asm_fix
(if you use develop, a different invariant is violated)

**Issue 1**

To recreate:
[code]
This triggers either this invariant: https://github.com/diffblue/cbmc/blob/develop/sr

[2018-08-02 07:22] polgreen opened #2662 "CBMC error caused by conditional statements if 2nd operand is missing"
CBMC can't currently handle correctly conditional statements without the 2nd operand, e.g., `C = A?: B`, equivalent to `C = A ? A : B`

The following example causes CBMC to return the error
`file conditional.c line 6 function main: symex_assign: unexpected side effect: gcc_conditional_expression`

[code]

[2018-08-02 12:02] polgreen opened #2663 "generate-function-body creates goto binaries that can't be analysed"
I want to generate a function body for any function that currently has no body, and I want that body to havoc all params that it can havoc. Essentially I want to do what this PR did: https://github.com/diffblue/cbmc/pull/1585

I am running the command
[code]
The input binary is available here:
https://drive.google.com/open?id=1SD9qIH9e8l4KPP0TQgvDAEZNUWNL9oXd

Once the output binary is generated,

[2018-08-02 12:31] polgreen commented on #2663
Possibly of interest to @hannes-steffenhagen-diffblue ?

[2018-08-02 13:07] #2631 closed, assigned to nobody

[2018-08-02 16:12] danpoe commented on #1859
A heads up on this, we are planning to do the suggested refactorings (starting in about a week or so).

Here's the plan:

- Make the control dependence computation a separate non-AI analysis. We'll also add annotations `true` and `false` to indicate whether a statement postdominates the true or false successor of a goto statement on which it depends. Moreover the function entry point will also hav

[2018-08-02 18:43] martin-cs commented on #1859
1.  Control dependency as non-AI.  Yes; sounds good as it is basically a CFG property.  I can't see that AI information will help you compute this any way other than finding dead paths and I think there are other ways of interfacing that.

2. Can you expand a bit more what you mean?  I would keep the reaching definitions (and supporting analyses) as an AI analysis.  I /presume/ you are proposing t

[2018-08-02 19:48] martin-cs commented on #2637
+1 I haven't yet got stuck on the only build failure being an AWS CodeBuild one but it would be nice if that wasn't a problem.

[2018-08-02 19:50] tautschnig commented on #1859
Now that sufficient time has passed, and with regard to the possible clash: my suggestion is to introduce a concept of address dependencies. These are a subset of data dependencies that are used to compute pointer offsets or array indices. I don't strictly expect you to integrate this in your planned work, but maybe you can give it some thought. Why do I care? Speculation ...

[2018-08-03 09:48] danpoe commented on #1859
@martin-cs Yes, the reaching definitions analysis would stay as is, just the code that uses the information it computed to compute the data dependencies would become a non-AI analysis.

[2018-08-03 09:56] danpoe commented on #1859
@tautschnig Ah, I see. Yes, I think that should be mostly orthogonal to the refactorings proposed here.

[2018-08-03 10:15] #2662 closed, assigned to tautschnig

[2018-08-03 10:18] martin-cs commented on #1859
@danpoe : sounds great then, esp. if we can swap in the variable sensitivity domains's last modified information.

[2018-08-03 10:37] martin-cs commented on #2158
I have the code for this in SymFPU.  I can try to schedule some time to get this done but it is unlikely to be this month due to deadlines.  Is that a problem?

[2018-08-03 10:46] martin-cs commented on #2632
Thanks for the bug report.  Despite it's considerable utility, the loop accelerator is currently without a maintainer and the test for it are comparatively sparse.  As I recall, the accelerator is underapproximate, so it adds accelerated paths when it can but if it can't find any it won't add them.  Have you tried simpler loops?

[2018-08-03 10:48] martin-cs commented on #2012
As before, I think only @kroening can help you here.

[2018-08-03 10:53] martin-cs commented on #2499
@polgreen Yes; should be easy to support in the SMT-LIB back-end; I think the key change will be making sure that the function is declared properly before use in the SMT.

[2018-08-03 10:56] polgreen commented on #2158
Nope, no hard deadline, I was just tidying my issue list.

[2018-08-03 16:42] martin-cs commented on #2611
I think so.  develop now works so all I will close this issue.

[2018-08-03 16:42] #2611 closed, assigned to nobody

[2018-08-03 18:25] EtiChaudhary commented on #2632
Yes, I also tried it on a simple example as follows:
[code]
The corresponding GOTO-program for the output produced is as follows:

[code]
As visible, there are no under-approximated paths added as should be.

_One problem that I observed is the following:_
Call to (Path Enumerator's) _next_ function, called in _enumerating_loop_accelerationt_'s accelerate function, never returns true. Inside the n

[2018-08-05 20:13] karkhaz opened #2684 "Assertions that were never touched are reported as SUCCESS by CBMC"
Supose we do path exploration on this program
[code]
by running
[code]
the output indicates that both paths were explored. However, in each case, the assertion on the _other_ path is printed as being successful, even though it clearly fails, because that path was not the one currently under consideration:
[code]
we should not print a spurious `SUCCESS` result for assertions that lie on a path that

[2018-08-06 11:58] martin-cs commented on #2684
I disagree.  BMC and symex are fundamentally underapproximate analyses, so FAILURE means "we know, for sure, that there is an execution traces that reaches this point and falsifies the condition", while SUCCESS is the converse; the analysis has *not found* a path that reaches it and falsifies it.  In the example you give this is completely correct; if you are only exploring one branch then the oth

[2018-08-06 12:20] karkhaz commented on #2684
Ok, perhaps "not print spurious SUCCESS" is too strong. I was actually thinking to replace it with `UNKNOWN` or `UNREACHED` or similar, so that `SUCCESS` (in the context of path exploration) means "we touched this assertion along this path and couldn't find a way to falsify it", as opposed to "we didn't reach this assertion at all and didn't even bother trying to falsify it".

OTOH, given that the

[2018-08-06 13:28] martin-cs commented on #2684
I'm tempted to approach this in two parts:

1. Decide whether the results of the tools should be relative to the kind of analysis (as now) or whether they should be uniform across all tools.  This is a serious policy question and one that will need proper consultation, it should not be changed through a PR to tool output.

2. If we decide to change then we need a very clear, well documented set of

[2018-08-06 14:20] martin-cs commented on #2632
It is sad this has bit-rotted.  Given there shouldn't have been functional changes, it might be useful to see which was the last version of CBMC that this worked with.  Can you try with the following program:

[code]

and would you be willing to try to patch this?

[2018-08-06 15:43] karkhaz commented on #2684
That sounds very reasonable. I don't think I'm super-qualified to add much to the policy question, especially across the range of cprover tools that I'm not familiar with; I can chime in about path exploration if need be. What's the best way to proceed---unless there's a better forum to discuss this, would you ping everybody who should be involved in this discussion on this bug report?

Note that

[2018-08-07 07:52] polgreen opened #2689 "goto-analyser simplify generates binary that can't be analyzed with goto-instrument"
I am using this Xen binary (which is a goto-cc build of this branch: https://github.com/nmanthey/xen/tree/gotocc):
https://drive.google.com/file/d/1Vco57D_iMhQ6N1EXqLTmF1wC9WiSN3mZ/view?usp=sharing
To rebuild this binary, use the docker file in this PR:
https://github.com/diffblue/cbmc/pull/2504

I am running the following commands:
[code]
The error message is:
[code]

I am running on develop + th

[2018-08-07 09:27] nchong commented on #2499
@polgreen @martin-cs Thanks very much for your comments. If this is a relatively easy feature to implement then I would find it very useful.

Will uninterpreted function calls have a different `expr.id`? Maybe we could add the uninterpreted function call declarations in the smt2 header? If one of you had time to give me an overview of `solvers/smt2/smt2_conv.cpp` then I'd be happy to try implement

[2018-08-07 13:02] martin-cs commented on #2499
@nchong I would be (unpleasently) surprised if it is more than a day's work.  If it is then we should stop and think about why and whether there is a better way.  Hypothetically, one would need to...

```function_application``` is the key type.  One place they are built (the one you are probably using) is here:

https://github.com/diffblue/cbmc/blob/develop/src/goto-programs/builtin_functions.cpp#

[2018-08-07 13:16] martin-cs commented on #2689
Hmmm... that's not good.  It's not entirely unprecedented though.

[2018-08-07 13:24] martin-cs commented on #2684
Unless we wind up with most / everyone in the same place at the same time, this is probably the best place.  To change 1. I think we'd need a set of people behind it including a large subset of @tautschnig @peterschrammel @smowton @chrisr-diffblue @kroening .

[2018-08-08 07:37] polgreen commented on #2689
I wonder if the root cause is related to either of these issues though, or if CBMC's handling of this style of low-level C code has just generally degraded a bit over the last 6 months?
https://github.com/diffblue/cbmc/issues/2653
https://github.com/diffblue/cbmc/issues/2663

[2018-08-08 09:30] krobelus opened #2696 "JBMC crash on getClass()"
This example causes JBMC to crash.
It would be great if there was a more detailled error message in this case, so clients can choose how to handle it.

`A.java`
[code]

[code]

[2018-08-08 12:24] martin-cs commented on #2696
Thanks for the bug report.  This is an internal error, so there probably isn't too much a user can do with it.  What kind of information would you think was useful in the report?

[2018-08-08 12:28] martin-cs commented on #2689
Simplify can produce code that is outside of the range of things normally produced by the C front-end so it can sometimes turn up bug in other tools based on mistaken assumptions about what can and can't happen ( #751 as ever ).

[2018-08-08 13:38] krobelus commented on #2696
I see, if this crash were fixed, then there would actually be no need for an error message.
In case that it's not easily fixable, I think there should be a hint to the user that they can add a model of `java.lang.Object` to the classpath, then it seems to work.

[2018-08-08 15:09] martin-cs commented on #2696
Paging JBMC code owners @smowton @mgudemann @cristina-david @cesaro @pkesseli @peterschrammel -- can you help here?

[2018-08-08 15:29] peterschrammel commented on #2696
Yes, this would be desirable.

[2018-08-08 16:59] nchong commented on #2499
@martin-cs Thanks for the pointers. I'd be happy to give this a go. I may check back in with you with some further questions, but it looks straightforward (at present)!

- Will the declaration of the uninterpreted function be represented as an expr? If so then what will its id() be: ID_symbol?

[2018-08-08 23:06] nchong commented on #2499
@martin-cs I've made some progress here: https://github.com/nchong/cbmc/tree/smt2_uf

Task -1: Added regressions to `regression/smt2_solver/uninterpreted_function[1-4]/`
Task 0: This wasn't necessary because it seems that we are already using `QF_AUFBV`
Task 1: This one is the difficult one. I wasn't able to figure out how to extract out the declarations of the uninterpreted functions (since I nee

[2018-08-11 09:04] tautschnig opened #2715 "Replace dump_ct::make_decl once #2713 is merged"
With #2713 there is a variant of `type2c` that build a declaration string, making the hack in `dump_ct::make_decl` no longer necessary.

[2018-08-11 09:59] tautschnig commented on #2684
Just adding a note that `SUCCESS` may be spurious with CBMC in many cases when loop/recursion unwinding is incomplete, which is what @martin-cs has elaborated on above. I am thus changing the title of this issue to remove the restriction on path exploration.

[2018-08-11 10:30] peterschrammel commented on #2684
The current policy of CBMC (with BMC) is simple and transparent:
* FAILURE: at least one of the assertions is violated by at least one input
* SUCCESS: none of the assertions is violated by any input under the given under-approximations (restriction on loop unwindings etc)

The discussion with @karkhaz came up because with the paths option assertions appear as SUCCESS although they might be violat

[2018-08-11 10:56] karkhaz commented on #2684
I think I understand your position a lot better now! I think you and I have different mental models of what CBMC is trying to achieve when doing path exploration.

I think @peterschrammel views path exploration as "just another underaproximation," such that even though we haven't falsified an assertion yet (because we didn't explore its path yet, didn't unwind enough, or any other reason), we stil

[2018-08-11 11:05] peterschrammel commented on #2684
Exactly.

The difficulty that I have as a user is that I have little visibility _which_ path is being explored, but this information is crucial for correctly interpreting the output. I am not really interested whether it explores "one path at a time" or it is doing something else - the only thing I care about is the status of the assertions, which should be easily interpretable and not depend on _

[2018-08-11 17:25] #2372 closed, assigned to nobody

[2018-08-14 22:16] kroening commented on #2663
There are now two PRs, which fix the two issues identified here:
PR #2734 fixes the issue of the missing mode for gcc_builtin_va_arg.
PR #2735 fixes the problem of assigning to a void-typed nondeterministic object.

However, it the "havoc params" has further problems: in the case of arrays, it relies on the user to provide the array size, which must be constant, as part of the parameter type. This

[2018-08-14 22:46] kroening commented on #2653
The first issue is addressed in PR #2736

[2018-08-15 07:33] polgreen commented on #2663
I don't follow the final comment, do you mean to insert a havoc instruction so that, at symex time,  `goto_symext::havoc_rec` is used? Instead of `havoc_generate_function_bodiest::havoc_expr_rec`?

The latter function seems to duplicate a lot of the former functionality?

I'm also not sure what the intention is with the latter function as far as objects containing pointers go, if an object contain

[2018-08-15 08:52] polgreen opened #2740 "goto-cc produces binaries that can't be analyzed"
using CBMC on develop at commit:
05993f467b55b1da3b592c41d2f2a0c7495234c2

I am compiling this branch of Xen with goto-cc, using one-line-scan as in the docker file in PR https://github.com/diffblue/cbmc/pull/2504:
https://github.com/nmanthey/xen/tree/gotocc

The binary is here:
https://s3.amazonaws.com/cbmc-public-bucket/xen-syms.binary

The commands I am running are:
[code]
The error is:
[code]

[2018-08-15 10:08] kroening commented on #2653
The second in PR #2741.

[2018-08-15 10:22] kroening commented on #2740
PR #2742 is a candidate fix.

[2018-08-16 07:54] polgreen opened #2745 "goto-cc --function produces "error: failed to initialize `symbol'""
A change that happened in develop between yesterday and today has made yesterdays goto-cc binaries incompatible with todays goto-cc.

I am aware that goto-cc was made incompatible with goto-binaries made with versions of CBMC prior to 5.10, but these binaries were made with goto-cc post 5.10.

I have moved from CBMC at this commit (with 2 commits reverted because they cause issue #2740). Call this

[2018-08-16 10:24] krobelus opened #2746 "JBMC invariant violation when type checking certain method invocations"
This specific example causes an invariant violation while typechecking the bytecode.

It is somehow connected to the fact one the arguments to the method invocation is an instantiation of an array, as it always happens if the array parameter is a variadic parameter instead (`int...` in place of `int[]`).

[code]

[code]

[2018-08-16 12:39] polgreen opened #2749 "drop-unused-functions doesn't remove unused functions"
Example.c:
[code]

goto-cc example.c -o example.binary
The result of `goto-instrument --list-goto-functions example.binary` is:
[code]

'goto-instrument --drop-unused-functions example.binary output.binary` appears to remove the right functions:
[code]

Now `goto-instrument --list-goto-functions output.binary` gives the same list of functions as in the original binary:
[code]

I have tried adding

[2018-08-16 14:17] kroening commented on #2749
This is caused by this piece of code in read_bin_goto_object:
     if(!sym.is_type && sym.type.id()==ID_code)
     {
       // makes sure there is an empty function
....

The question is whether or not we want to maintain the invariant that for every function-typed symbol in the symbol table there's an entry in the goto_functions map.

If so, drop-unusued-functions should then also remove the symb

[2018-08-16 14:24] tautschnig commented on #2749
@polgreen What is it that you think is not being done correctly here? As Daniel says, there is no expectation (on the contrary, it would be wrong) for the symbol to be removed. The implementation of the function, however, does get remove (just like `--remove-function-body` does).

[2018-08-16 14:34] polgreen commented on #2749
I assumed that it would be removed from the symbol table.

The problem I have is that I have a large binary, with a lot of unreachable functions that I would like to trim away, and if I use drop-unused-functions and then use "generate function bodies" with this binary, I end up with a massive binary.

[2018-08-17 12:20] #2740 closed, assigned to nobody

[2018-08-20 13:53] karkhaz opened #2764 ""Compound" codets don't have a source location"
When using `goto_program2code` to turn a list of `instructiont`s into a `code_blockt`, some of the nested code blocks do not have a source location. In particular, the blocks with the missing source locations tend to be "compound" code types, like `code_ifthenelset` and `code_whilet`.

Often the children of these codeblocks (e.g. the boolean guard) do have a source location, but the top-level bloc

[2018-08-20 14:05] #2328 closed, assigned to nobody

[2018-08-20 14:07] kroening commented on #2370
BTW, is this now fixed?

[2018-08-20 15:33] smowton commented on #2370
No, all three failures are as described still

[2018-08-21 09:28] NlightNFotis opened #2768 "Dead code in goto-instrument/alignment_checks.cpp?"
I have noticed that the `else if` branch of the `print_struct_alignment_problems` function in https://github.com/diffblue/cbmc/blob/develop/src/goto-instrument/alignment_checks.cpp#L92 has been `#if 0`ed out.

A basic git blame shows that this is like that at least 7 years now (looks like that is the date the repository was imported in git), which means that whatever functionality is there is unus

[2018-08-21 09:42] tautschnig commented on #2768
There is a _lot_ of half-dead code in the `goto-instrument` folder. Lots of it is prototypes that would just need someone to pick up the lead, other bits can likely be thrown away. I would suggest sitting down with @kroening before taking any action.

[2018-08-21 11:52] polgreen commented on #2653
I am running on CBMC with both of the above PR's cherry picked on and I get the following invariant violation from running `goto-instrument --full-slice  A.binary B.binary'

[code]

A.binary is here
https://s3.amazonaws.com/cbmc-public-bucket/A.binary

[2018-08-21 11:56] polgreen commented on #2653
With a different binary, I get the following invariant from running `goto-instrument --full-slice C.binary D.binary`

[code]

C.binary here:
https://s3.amazonaws.com/cbmc-public-bucket/C.binary

[2018-08-21 14:17] tautschnig opened #2780 "Remove one of `empty_typet` or `void_typet`"
Those are defined the same way, meaning `empty_typet() == void_typet()` actually evaluates to true.

[2018-08-21 14:33] polgreen commented on #2663
I think there might be something wrong with the goto_symext::havoc_rec function; I have reused the implementation from PR #1585 but I get errors saying things like " assignment to `symbol' not handled".

I have also tried using the generate function bodies stuff now with the 2 fixes described above, and just not havocing any arrays of unknown size. It doesn't throw any errors but analysis of the r

[2018-08-21 14:44] polgreen commented on #2663
Also, this issue is still not fixed for all cases. I have a binary where it still produces the error

[code]
Input and output binaries here:
https://s3.amazonaws.com/cbmc-public-bucket/in.binary
https://s3.amazonaws.com/cbmc-public-bucket/out.binary

[2018-08-21 17:51] tautschnig opened #2805 "Remove goto_program::get_successors and make all users use a cfg"
There is ambiguity what is to be considered a control-flow successor in case of function calls and thread-spawns, and such ambiguity should be explicitly resolved by current users of `get_successors` by using an appropriate variant of `cfg_baset`.

[2018-08-22 09:34] tautschnig opened #2808 "Replace all uses of type_eq by base_type_eq"
It holds that `type_eq(t1, t2, ns)` implies `base_type_eq(t1, t2, ns)`, but the converse isn't necessarily true (if expansion of symbol types isn't consistent between `t1` and `t2`). This distinction, however, is subtle and only comes with a some (not measured) performance benefit. Maintaining two functions doing almost the same is painful and confusing.

In the medium term, neither `type_eq` nor

[2018-08-22 09:49] tautschnig opened #2809 "Remove the multi-argument variants of exprt::move_to_operands and expr::copy_to_operands"
They are rarely used and just seem to bloat the API.

[2018-08-22 09:56] tautschnig opened #2810 "codet should inherit from irept"
At present, `codet` inherits from `exprt` - mainly to borrow it's API. This is not an accurate reflection of reality, as "codet is-an exprt" contradicts that "a statement is not an expression."

[2018-08-22 16:12] kroening commented on #2653
The problem with A.binary is fixed with PR #2822.

[2018-08-23 11:44] kroening commented on #2810
#2825

[2018-08-23 13:07] nmanthey opened #2827 "call graph does not show "printf""
Dear CBMC Team,

I have a small piece of C code that I wanted to use as a test case for a call graph extension. I tried to print the default call graph, and noticed that the function "printf" is dropped. Replacing printf with malloc works as expected.

Is this a bug, or a feature because you assume printf is not relevant for the task of CBMC?

The source is attached below.

Best,
Norbert

#include

[2018-08-23 16:37] peterschrammel commented on #2827
The reason is that `printf` has special handling inside CBMC (it's not treated as a function call instruction) and never appears as a function in the goto model. `call_grapht` would have to take this into account if this is desired.

[2018-08-23 18:03] nmanthey commented on #2827
Okay, I see. This explains what I am seeing. Can you also shed some light
on the why, please? Thanks!

Best,
Norbert

[2018-08-24 08:28] peterschrammel commented on #2827
CBMC prints output produced by `printf` as part of the trace (at least in PLAIN format).
This could probably be done while still keeping it as a function in the goto model, but currently the replacement of printf happens very early in the frontend (before generating the goto program).

[2018-08-28 08:25] nchong opened #2848 "CVC4 type-error on array in nested struct"
Checking the following program with `--cvc4` results in an error: `SMT2 solver returned error message: "expecting bit-vector terms"`. The program is verified (and fails, as expected) with MiniSat and Z3.

[code]

Looking at the smt2 file it seems the problem is the array `a` within the nested struct of `x`: it looks like `concat` is being applied to a function `array.1`.

[code]

[2018-08-29 14:22] NlightNFotis opened #2861 "goto-instrument's options require two file arguments and when not supplied, fails with a non-obvious help message"
`goto-instrument`, as mentioned in #2793, needs two file arguments passed for most of the command line arguments it supports (given it's just transformations that are read from one goto-binary, applied, and then written to another goto-binary). When it's not given two file arguments for these options, it fails with its generic `--help` message, failing to make obvious what has gone wrong.

[2018-08-30 09:40] peterschrammel opened #2864 "Make jbmc classpath behaviour `java`-compliant"
JBMC should behave like the `java`-executable. Currently there are many deviations as https://github.com/diffblue/cbmc/pull/2733 shows.

[2018-08-30 10:28] polgreen opened #2866 "path-based symex throws map out of range error"
Path based symex throws the following error with :
[code]

Stack trace
[code]

Binary:
https://s3.amazonaws.com/cbmc-public-bucket/pathsymex_test.binary

Command:
[code]
(Error is independent of whether fifo or lifo is used)

Maybe of interest to @karkhaz

[2018-08-30 10:30] karkhaz commented on #2866
Oooh, thanks. I'll take a look over the weekend.

[2018-08-30 10:50] tautschnig commented on #2866
My hunch is that `goto_symext::safe_pointers` is not actually in the right place as this needs to be maintained per path. Pinging @smowton to work with @karkhaz.

[2018-08-30 12:30] karkhaz commented on #2764
Pinging @tautschnig for information. I have a preliminary patch for this, but I may or may not need this anymore; we can discuss it offline.

[2018-09-01 08:09] karkhaz commented on #2866
@polgreen I'm going to try debugging this blindly, but I can't actually run CBMC on the binary that you linked to.
[code]
@tautschnig do you know what might be causing this? @polgreen would you mind checking what version of `goto-cc` you're using; if it's different to mine, would you rebuild with tip-of-tree `goto-cc`?

[2018-09-01 08:16] karkhaz commented on #2866
OK, can reproduce with
[code]
backtrace:
[code]

[2018-09-01 08:43] polgreen commented on #2866
I think i compiled that binary with CBMC 5.10, which I guess would explain that? (*think*...I've got a lot of binaries and a lot of different versions of CBMC at the moment).

[2018-09-01 08:44] karkhaz commented on #2866
@polgreen I just posted a patch (#2879). Please apply it and let me know if that fixes the issue.

[2018-09-01 09:15] polgreen commented on #2866
Great, that was quick, thanks! It's been running for ~10 minutes and not thrown any exceptions, so I'd say that's fixed. I'll let you know if it finds a path.

(pathsymex_test was a 5.10 binary, I can run your branch on it without any changes, so I'm running that instead of patching)

Looks like some java library changes have snuck into the PR by accident?

[2018-09-01 09:25] karkhaz commented on #2866
Yes, not sure why the submodule change got included in the patch; fixed now. Thanks for the report.

[2018-09-03 10:00] NlightNFotis commented on #2780
Could it be that the removal of this might hinder support for other languages in the future? Is it possible that we might want to support a language that needs support for both of these?

[2018-09-03 10:03] tautschnig opened #2887 "Several unit tests in jbmc/unit are marked mayfail without explanation"
At present, 5 tests (with 76 assertions) are permitted to fail, polluting the output and making it really hard to identify genuine failures/regressions. While this isn't great, there isn't a clear path forward either: there are no links to issues or other comments that would explain why failing is acceptable, or what kind of fix is due.

[2018-09-03 14:42] danpoe commented on #1695
I think `parameter_identifiers` (in `goto_functiont`) was introduced as the identifiers shouldn't be part of the type. Should instead the parameter identifiers be removed from `code_typet` and the code base be refactored to fill in and use the `parameter_identifiers` in `goto_functiont`?

[2018-09-03 15:14] #2866 closed, assigned to nobody

[2018-09-06 12:00] peterschrammel opened #2908 "Pass options to languaget to avoid duplicate parsing of object factory parameters"

[2018-09-08 12:16] EtiChaudhary commented on #2632
With some further inspection I realized that _scratch_programt_ objects specifically create objects for Z3 only (which had some installation issue in my system). Hence, even though when I manually set _use_Z3_ option (argument in _accelerate_functions_) to FALSE, it didn't have an effect.
As soon as I fixed that part, the accelerator worked smoothly.

Thanks!

[2018-09-08 12:16] #2632 closed, assigned to nobody

[2018-09-08 13:32] EtiChaudhary opened #2921 "Problem Verifying Accelerated Code (containing Arrays) in CBMC 5.8 Release"
I have been trying to verify an 'accelerated' GOTO Program making use of 'Arrays' using Z3 and other solvers but haven't succeeded.
Here's the sample program:
[code]
Here's the sequence of steps followed:
[code]

Here's the result when I issue the last command listed above:
_- z3 (Version 4.7.1 64 Bit)_ : Gets stuck
_- yices (Version 2.6 )_
     &nbsp; &nbsp; &nbsp; &nbsp;"Running SMT2 QF_AUFBV us

[2018-09-09 10:20] peterschrammel opened #2925 "Memcpy model doesn't work if a struct contains a pointer to a struct"
See #2924

(generalised example reported by a user)

[2018-09-11 20:38] peterschrammel commented on #1315
This has been done quite a while ago in #1419.

[2018-09-11 20:38] #1315 closed

[2018-09-11 20:44] peterschrammel commented on #1316
Has been cleaned up in #1372.

[2018-09-11 20:44] #1316 closed

[2018-09-11 20:47] #43 closed

[2018-09-13 17:25] markrtuttle opened #2949 "--add-library on 32 bit code seems to use 64 bit library"
With the file main.c

[code]

the commands

[code]

report numerous conflicts including

[code]
I can see from the symbol table that something has been added (strlen::1::len and strlen::s), but I'm not sure I can trust the result.  I don't see the equivalent of --32 or -m32 for goto-instrument (it doesn't recognize these flags).  I tried to submit this as a KNOWNBUG test case for goto-instrument,

[2018-09-18 09:00] polgreen opened #2974 "Generate function body returns misleading error message"
Generate function body will not generate a body for a function that already has a body, which isn't clear from the help file or the internal documentation, and the error message given is
"generate function bodies: No function name matched regex"

Example:
[code]

This call works:
[code]
This call does not, and gives the error message "generate function bodies: No function name matched regex"
[code

[2018-09-22 12:19] #2949 closed, assigned to nobody

[2018-09-25 09:56] danpoe opened #3037 "Add ID_cond expressions"
`ID_case` and `ID_cond` expressions are used in cbmc/develop but there are no corresponding expression types in `std_expr.h`. Moreover, `ID_case` and `ID_cond` are not assigned in cbmc/develop (they are assigned in EBMC).

New expression types should be added to `std_expr.h` and then the code in cbmc/develop should be refactored to use those instead of plain `exprt`.

[2018-09-25 12:32] danpoe opened #3039 "Add ID_lambda expression"
An `ID_lambda` expression is used in cbmc/develop but there is no corresponding expression type in `std_expr.h`. A new expression type should be added and the code in cbmc/develop refactored to use it instead of plain `exprt`.

[2018-09-25 12:44] danpoe opened #3040 "Add ID_onehot and ID_onehot0 expressions"
`ID_onehot` and `ID_onehot0` expressions are used in cbmc/develop but there are no corresponding expression types in `std_expr.h`. Moreover, `ID_onehot` and `ID_onehot0` are not assigned in cbmc/develop (they are assigned in EBMC).

New expression types should be added to `std_expr.h` and then the code in cbmc/develop should be refactored to use those instead of plain `exprt`.

[2018-09-26 08:53] owen-mc-diffblue opened #3046 "Add ID_virtual_function expression"
An ID_virtual_function is used in cbmc/develop but there is no corresponding expression type in std_expr.h. A new expression type should be added and the code in cbmc/develop refactored to use it instead of plain exprt. See https://github.com/diffblue/cbmc/blob/develop/jbmc/src/java_bytecode/java_bytecode_parser.cpp#L784 for an example of such an expression being instantiated.

[2018-10-02 10:15] xbauch opened #3081 "builtin type vs user type conflict"
[code]

CBMC version: cbmc-5.10-836-g273f375aa-dirty
Operating system: Ubuntu 18.04
Exact command line resulting in the issue: cbmc --unwinding-assertions --unwind 2 test.c
What behaviour did you expect: not to see invariant violation
What happened instead: invariants were violated

**Problem analysis**

- The input code implements it's own version of `fopen` and `FILE`.
- CBMC warns about redefin

[2018-10-02 10:30] kroening commented on #3081
This appears to be covered by regression/cbmc/Linking7.

My view is that we can't really stop people from linking together files with functions that have somewhat inconsistent signatures.

This should be detected during symbolic simulation, and an appropriate type cast should be added.

[2018-10-02 10:34] peterschrammel commented on #3081
In this case it's not just renaming of struct members; various additional members have been inserted into the struct...

[2018-10-02 10:49] xbauch commented on #3081
I guess the difference from `Linking7` is that the user is unaware of the builtin implementation. Here the question remains whether we prefer user-defined or builtin.

[2018-10-02 10:54] peterschrammel commented on #3081
The user has already got that choice by using `--no-library`. It's all or nothing, though.
The problem remains that there is no error message that tells the user what to do.

[2018-10-02 12:45] tautschnig commented on #3081
I'm biased, but #2016 is my preference.

[2018-10-03 10:40] kroening commented on #3081
@xbauch may I ask you to check whether #3089 fixes this?

[2018-10-03 11:52] xbauch commented on #3081
Yes, it does.

[2018-10-03 11:54] tautschnig commented on #3081
I do note that this largely just fixes the symptoms. The fact that we'd effectively be using two different versions of the C library remain, but #2016 is on my stack.

[2018-10-03 12:14] xbauch commented on #3081
I've tried checking out #2016 and it also fixes the issue.

[2018-10-03 15:09] kroening commented on #3081
I think we need both -- there will be people who simply have type-inconsistent definitions and declarations of functions, not involving libraries, which requires #3089.
At the same time, it would be good to avoid this from happening in the first instance in the case of library functions, using #2016.

[2018-10-03 16:25] owen-mc-diffblue opened #3094 "Use remove_java_new in jdiff and janalyzer"
jdiff and janalyzer should use the remove_java_new pass.

Note that https://github.com/diffblue/cbmc/pull/3092 improves the documentation of convert_java_nondet and makes it clear that remove_java_new should be run after convert_java_nondet, because convert_java_nondet might introduce extra `new` statements.

[2018-10-03 16:27] peterschrammel commented on #3094
Thanks for this, @owen-jones-diffblue.
The need for this needs to be investigated. It certainly looks incorrect for `janalyzer`. `jdiff` can do its analyses without it, at the moment at least.

[2018-10-04 07:00] tautschnig opened #3095 "goto-symex constant propagation peculiarities"
CBMC version: 5.10 a1e86d3bbee9d
Operating system: any
Exact command line resulting in the issue: n/a
What behaviour did you expect: To understand why constant propagation is restricted as it is
What happened instead: Constant propagation in goto-symex is limited to expressions with ids
`ID_typecast`,  `ID_array_of`, `ID_plus`, `ID_array`, `ID_struct`, `ID_union`, `ID_byte_update_big_endian`, `ID_

[2018-10-08 11:01] NlightNFotis opened #3122 "CBMC doesn't promote 0 constant to null pointer implicitly"
CBMC version: 5.10 (cbmc-5.10-939-gf749ab4-dirty)
Operating system: Ubuntu 16.04.5 LTS (`lsb_release -a`)
Exact command line resulting in the issue: make regression
What behaviour did you expect: all tests pass
What happened instead: at least one `regression/cbmc` test fails

----

In `goto_symex_state.cpp:428` there's a `DATA_INVARIANT` that seems suspiciously general. I thought it a good idea to

[2018-10-08 16:53] #2908 closed, assigned to nobody

[2018-10-11 15:47] hannes-steffenhagen-diffblue opened #3146 "goto-instrument --interpreter appears to be broken"
CBMC version: 5.10 (cbmc-5.10-970-g7905492ff-dirty) (although I've checked, and this already happened in 4.9)
Operating system: Linux
Exact command line resulting in the issue:
[code]

What behaviour did you expect: Should interpret the program with no error
What happened instead: Hit an invariant in the interpreter

[code]

[2018-10-11 15:50] NlightNFotis commented on #3146
Oh wow, this looks scary 😱

[2018-10-11 17:48] martin-cs commented on #3146
I would suggest some unit tests for sparse vector and a review of how the interpreter is using it.

[2018-10-11 18:23] tautschnig commented on #3146
Can people with insight into TG maybe comment on this? I thought the interpreter was in use quite a bit.

[2018-10-12 09:12] xbauch commented on #3146
If the reason for the invariant is that some elements in the vector may end up out of range then we could simply erase them:

[code]
We use the sparse vector to simulate a memory map, resizing it to 1 when initializing the interpreter. Erasing the out-of-scope elements shouldn't cause any problem in this case. In the other (two) uses we indeed only resize up and the invariant is valid. Maybe resiz

[2018-10-12 13:18] danpoe opened #3152 "Well-formedness checking of goto models"
To check that the goto model is well-formed, we want to check that the symbol table and the goto functions are well-formed, and that the symbol table and the goto functions are consistent. This includes the well-formedness of instructions, statements, expressions, and types.

The overall framework is in PR #3123 (it might need to be adapted slightly as new checks are added). It descends into the g

[2018-10-17 16:05] chrisr-diffblue opened #3192 "CMake based build configuration needs some cleanup"
Our current CMake based builds have a couple of minor issues:

* Currently a couple of the CMakeFile.txt files declare `project(blah)` - but these projects cannot actually be built stand-alone in our current CMakeFile configuration. This can break certain editors/IDEs which interpret CMakeFile rules and also expect CMake projects to be buildable 'stand alone' (e.g. the EasyClangComplete plugin to

[2018-10-18 09:54] tristanninet opened #3200 "Buffer overflow in strcat"
Hi,

I am trying to use CBMC to verify generic properties (like pointer-check) on
Openssl. I am on Ubuntu 16 and I use a x86_64 architecture.

I first compiled Openssl using goto-cc. It worked like a charm.
Now for the analysis I am using:

[code]

I obtain the following error trace:

After some debugging I discovered that the error was not in Openssl but in
CBMC's implementation of  `__builtin___

[2018-10-18 10:10] tautschnig commented on #3200
Many thanks for your debugging work and the report! We will of course patch this and should make sure we have regression tests for all library functions.

[2018-10-18 12:24] tautschnig commented on #3200
I have started this work in #3201.

[2018-10-19 16:22] martin-cs commented on #3200
@tristanninet : Thank you very much for this.  IIRC there were a couple of MSc students in 2016 who did projects on OpenSSL with CBMC.  There might be some useful ideas in their dissertations.  If you haven't found them, want to and are having a hard time -- give me a shout.

[2018-10-23 16:10] tristanninet commented on #3200
Thank you for the tip. Are you referring to this paper?
https://dl.acm.org/citation.cfm?id=2976749.2978369

[2018-10-23 16:15] tristanninet commented on #3200
Also, do you think I should use CBMC 5.10, CBMC 5.8, the master branch, or even the develop branch to analyze Openssl?

[2018-10-28 17:51] karkhaz opened #3238 "Build fails with Clang 7.0 due to local variable copies"
When building with Clang 7.0, I'm getting thousands of errors like this.
[code]
I'll fix these soon. Here's the environment:
[code]

[2018-10-28 19:22] gnakibli opened #3240 "Incompatibility with VS community 2017"
CBMC version: 5.10
Operating system: Windows 7 64bit, VS Community 2017
Exact command line resulting in the issue: any command line from VS command prompt
What behaviour did you expect:
What happened instead:
CBMC version 5.10 (cbmc-5.10) 32-bit i386 windows
Parsing file1.c
'CL' is not recognized as an internal or external command,
operable program or batch file.
CL Preprocessing failed
PARSING ER

[2018-10-28 20:42] #3238 closed, assigned to nobody

[2018-10-29 18:52] #735 closed

[2018-10-30 08:20] #2684 closed, assigned to nobody

[2018-11-05 13:58] hannes-steffenhagen-diffblue opened #3271 "Regression test ansi-c/float_constant1 is failing on develop"
The test `regression/ansi-c/float_constant1` gives me this output:

[code]

This worked before 72957a9128d597e3d2f315df39f5396232f2a53c (which does make changes relating to floating point numbers, but nothing that immediately jumps out as "wrong" to me)

Note that so far I've only seen this happen on machines that have upgraded to Ubuntu 18.04, so maybe this is related to different versions of the

[2018-11-05 14:00] NlightNFotis commented on #3271
Can confirm for me this is not visible on Ubuntu 16.04, all tests passing:

[code]

[2018-11-05 14:41] smowton commented on #3271
@hannes-steffenhagen-diffblue your gcc version?

[2018-11-05 14:43] hannes-steffenhagen-diffblue commented on #3271
@smowton `gcc (Ubuntu 7.3.0-27ubuntu1~18.04) 7.3.0`

[2018-11-05 15:00] smowton commented on #3271
Thanks, successfully reproduced, taking a look now

[2018-11-05 15:25] smowton commented on #3271
Fix: https://github.com/diffblue/cbmc/pull/3280

[2018-11-05 17:48] #3271 closed, assigned to nobody

[2018-11-06 11:38] lu-w opened #3283 "Incorrect handling of switch-local variables"
Hey all,

CBMC does not seem to handle values of "switch-local" variables correctly, i.e. variables that were defined in the local scope of a switch-statement. In this example, `x` is such a variable:

[code]

CBMC returns `VERIFICATION FAILED` when run on this program. Indeed, `x` is of an indeterminate value at its declaration, but set to `0` directly afterwards in the default case. Hence, the e

[2018-11-06 13:34] martin-cs commented on #3283
Thanks for reporting this.  It does look like a front-end bug.  My guess is that the DECL instruction is in the wrong place, so symex gets confused.  Maybe one of the C front-end maintainers can have a look at this.

[2018-11-09 11:44] peterschrammel commented on #547
To reduce noise I'm in favour of a basic `--help` option and a complete `--help-full` (or any other suitable name).

[2018-11-09 13:39] #2764 closed, assigned to nobody

[2018-11-09 15:21] tautschnig opened #3304 "java_string_library_preprocesst::make_argument_for_format may use nil_exprt"
As highlighted in https://github.com/diffblue/cbmc/pull/3301/files#r232243707, `make_argument_for_format` uses the return value of `get_primitive_value_of_object` to construct an assignment - but that return value may be `nil_exprt`. It seems that a resulting assignment would be invalid.

[2018-11-15 16:20] xbauch opened #3427 "SVCOMP-benchmark incorrect (valid-deref)"
Reporting on one SVCOMP benchmarks that were working in previous versions (5.8) but CBMC give incorrect result now. The benchmark code is here:

https://github.com/sosy-lab/sv-benchmarks/blob/master/c/memsafety/test-0521_true-valid-memsafety.c

CBMC version: 5.10
Operating system: 64-bit linux
Exact command line resulting in the issue: ./cbmc --graphml-witness witness.graphml --32 --propertyfile .

[2018-11-15 16:59] xbauch opened #3428 "SVCOMP-benchmark incorrect (memcpy src/dst overlap)"
Reporting on one SVCOMP benchmarks that were working in previous versions (5.8) but CBMC give incorrect result now. The benchmark code is here:

https://github.com/sosy-lab/sv-benchmarks/blob/master/c/ntdrivers/floppy_true-unreach-call_true-valid-memsafety.i.cil.c

CBMC version: 5.10
Operating system: 64-bit linux
Exact command line resulting in the issue: ./cbmc --graphml-witness witness.graphml

[2018-11-15 17:00] xbauch commented on #3428
Also occurs here: https://github.com/sosy-lab/sv-benchmarks/blob/master/c/ntdrivers/diskperf_true-unreach-call.i.cil.c

[2018-11-15 17:03] xbauch commented on #3428
Also occurs here: https://github.com/sosy-lab/sv-benchmarks/blob/master/c/ntdrivers/floppy2_true-unreach-call_true-termination.i.cil.c