[2018-11-15 17:08] xbauch commented on #3428
This benchmark is related: https://github.com/sosy-lab/sv-benchmarks/blob/master/c/ntdrivers/cdaudio_true-unreach-call.i.cil.c

the currect CBMC reports the same violation as above but CBMC 5.8 returned:

VERIFICATION SUCCESSFUL
EC=0
TRUE

[2018-11-15 18:02] tautschnig commented on #3428
Is all this still the case after https://github.com/sosy-lab/sv-benchmarks/pull/673?

[2018-11-15 18:04] tautschnig commented on #3428
In fact quite possibly so, the PR didn't touch the old NT drivers. @karkhaz would you know about the benchmarks @xbauch is mentioning above?

[2018-11-15 18:13] karkhaz commented on #3428
https://github.com/sosy-lab/sv-benchmarks/pull/673 did not touch the NT drivers, but I actually fixed those in the earlier PR https://github.com/sosy-lab/sv-benchmarks/pull/597. We believe that it is the benchmark that is incorrect, not CBMC; CBMC correctly reports that the memory regions overlap, so I fixed those benchmarks in those two pull requests. @xbauch please pull the latest sv-benchmarks

[2018-11-15 21:29] tautschnig commented on #3427
I believe either #1996 or #2000 might fix this.

[2018-11-16 11:31] xbauch commented on #3428
The latest benchmark results no longer show these as incorrect, I guess we should close this issue and concentrate on the actually incorrect ones.

[2018-11-16 11:31] #3428 closed, assigned to nobody

[2018-11-16 11:39] xbauch commented on #3427
The benchmark: https://github.com/sosy-lab/sv-benchmarks/blob/master/c/ldv-memsafety/memleaks_test3_false-valid-free.i

results in:

Violated property:
  file ../sv-benchmarks/c/ldv-memsafety/memleaks_test3_false-valid-free.i function entry_point line 1440 thread 0
  free argument must be dynamic object
  (void *)p == NULL || DYNAMIC_OBJECT((void *)p)

VERIFICATION FAILED
EC=10
FALSE(valid-deref)

[2018-11-16 12:32] xbauch commented on #3427
The benchmark: https://github.com/sosy-lab/sv-benchmarks/blob/master/c/memsafety-ext3/freeAlloca_false-valid-free.c

results in:

Violated property:
  file ../sv-benchmarks/c/memsafety-ext3/freeAlloca_false-valid-free.c function main line 9 thread 0
  dereference failure: pointer NULL in p[i]
  !(POINTER_OBJECT(p) == POINTER_OBJECT(((char *)NULL)))

VERIFICATION FAILED
EC=10
FALSE(valid-deref)

I'

[2018-11-16 12:43] xbauch opened #3435 "SVCOMP-benchmark incorrect (reachability false alarm)"
The benchmark https://github.com/sosy-lab/sv-benchmarks/blob/master/c/loop-floats-scientific-comp/loop4_true-unreach-call.c.i

is incorrectly marked as violating assertion (should be "no property violated").

CBMC version: 5.10
Operating system: 64-bit linux
Exact command line resulting in the issue: ./cbmc-wrapper --graphml-witness witness.graphml --32 --propertyfile ../sv-benchmarks/c/ReachSafet

[2018-11-16 12:58] xbauch commented on #3435
The benchmark https://github.com/sosy-lab/sv-benchmarks/blob/master/c/ldv-linux-3.4-simple/32_1_cilled_true-unreach-call_ok_nondet_linux-3.4-32_1-drivers--acpi--container.ko-ldv_main0_sequence_infinite_withcheck_stateful.cil.out.c

results in:

Violated property:
  file ../sv-benchmarks/c/ldv-linux-3.4-simple/32_1_cilled_true-unreach-call_ok_nondet_linux-3.4-32_1-drivers--acpi--container.ko-ldv_ma

[2018-11-16 12:59] xbauch commented on #3435
The benchmark https://github.com/sosy-lab/sv-benchmarks/blob/master/c/ldv-linux-3.4-simple/32_1_cilled_true-unreach-call_ok_nondet_linux-3.4-32_1-drivers--acpi--fan.ko-ldv_main0_sequence_infinite_withcheck_stateful.cil.out.c

results in:

Violated property:
  file ../../sv-benchmarks/c/ldv-linux-3.4-simple/32_1_cilled_true-unreach-call_ok_nondet_linux-3.4-32_1-drivers--acpi--fan.ko-ldv_main0_seque

[2018-11-16 13:02] xbauch commented on #3435
The benchmark https://github.com/sosy-lab/sv-benchmarks/blob/master/c/ldv-linux-3.4-simple/32_1_cilled_true-unreach-call_ok_nondet_linux-3.4-32_1-drivers--platform--x86--topstar-laptop.ko-ldv_main0_sequence_infinite_withcheck_stateful.cil.out.c

results in:

Violated property:
  file ../../sv-benchmarks/c/ldv-linux-3.4-simple/32_1_cilled_true-unreach-call_ok_nondet_linux-3.4-32_1-drivers--platform

[2018-11-16 13:05] xbauch commented on #3435
The benchmark https://github.com/sosy-lab/sv-benchmarks/blob/master/c/ldv-linux-3.4-simple/32_1_cilled_true-unreach-call_ok_nondet_linux-3_true-termination.4-32_1-drivers--firmware--google--gsmi.ko-ldv_main0_sequence_infinite_withcheck_stateful.cil.out.c

results in:

Violated property:
  file ../../sv-benchmarks/c/ldv-linux-3.4-simple/32_1_cilled_true-unreach-call_ok_nondet_linux-3_true-terminati

[2018-11-16 13:09] xbauch commented on #3435
The benchmark https://github.com/sosy-lab/sv-benchmarks/blob/master/c/ldv-consumption/32_7a_cilled_true-unreach-call_linux-3.8-rc1-32_7a-drivers--video--aty--radeonfb.ko-ldv_main0_sequence_infinite_withcheck_stateful.cil.out.c

results in:

Violated property:
  file ../../sv-benchmarks/c/ldv-consumption/32_7a_cilled_true-unreach-call_linux-3.8-rc1-32_7a-drivers--video--aty--radeonfb.ko-ldv_main0_s

[2018-11-16 13:10] xbauch commented on #3435
The benchmark https://github.com/sosy-lab/sv-benchmarks/blob/master/c/ldv-consumption/32_7a_cilled_true-unreach-call_linux-3.8-rc1-32_7a-drivers--video--udlfb.ko-ldv_main0_sequence_infinite_withcheck_stateful.cil.out.c

results in:

Violated property:
  file ../../sv-benchmarks/c/ldv-consumption/32_7a_cilled_true-unreach-call_linux-3.8-rc1-32_7a-drivers--video--udlfb.ko-ldv_main0_sequence_infinite

[2018-11-16 13:16] xbauch opened #3436 "SVCOMP-benchmark wrong proof in Device Drivers"
Probably the worst incorrectness: CBMC marks this benchmark as "true", where it probably shouldn't be.

https://github.com/sosy-lab/sv-benchmarks/blob/master/c/ldv-linux-4.0-rc1-mav/linux-4.0-rc1---drivers--usb--misc--legousbtower.ko_false-unreach-call.cil.c

CBMC version: 5.10
Operating system: 64-bit linux
Exact command line resulting in the issue: ./cbmc --graphml-witness witness.graphml --64 -

[2018-11-16 14:01] xbauch commented on #3435
So basically for line

`strcpy(__cil_tmp11, "Topstar TPSACPI");`

we create a VCC stating that the source and destination pointers cannot point to the same address. I guess we can't really follow the pointer arithmetic needed for the exact value of `__cil_tmp11` (so it gets abstracted to TOP). But is it really sensible to have this VCC in the case `source` is a constant string?

[2018-11-16 16:40] karkhaz commented on #3435
Thanks @xbauch. I might pick up some more src/dst overlaps over the next few days (these may be the same as yours, or different ones). When I do so, I'll open a PR against the `sv-benchmarks` repository like the others I opened, changing the `memcpy` calls to `memmove`.

I'm not sure what to do about `strcpy` src/dst overlap. There isn't an equivalent of memove for strings.

[2018-11-16 16:55] peterschrammel commented on #3435
The problem is that `__cil_tmp11` can point anywhere because it has been computed from a nondeterministic pointer (the `device` passed from the `main` function, for which memory has never been allocated...).

Last year we did some fixes by adding preconditions to the benchmarks before calling library functions (e.g. https://github.com/sosy-lab/sv-benchmarks/commit/786a943018500e31b3548b261adf9848b

[2018-11-16 17:28] xbauch commented on #3435
Or something like PR #3251, given that we know that `device` _should_ point to a particular structure.

[2018-11-16 17:42] peterschrammel commented on #3435
Yes, but this must be the same for all participating verification tools. Such a harness must be part of the benchmark.

[2018-11-17 09:46] peterschrammel commented on #1236
The monitor entry exception is fixed in #3423.

The Monitor exit exceptions require additional attention: Enabling these exceptions makes `jbmc-regression/synchronized-blocks/test_sync.desc` run into an infinite loop during symex (which I don't have time to investigate now).

[2018-11-17 14:53] peterschrammel opened #3438 "SVCOMP-benchmark wrong result in Floats"
SVCOMP command line:
`./cbmc --graphml-witness witness.graphml --32 --propertyfile ../../sv-benchmarks/c/ReachSafety.prp ../../sv-benchmarks/c/loop-floats-scientific-comp/loop4_true-unreach-call.c.i`

Requires models for `sin` and `cos` with the property `for all x |sin(x)-cos(x)|<=1`

[2018-11-18 13:45] kroening commented on #3122
Consider
[code]

The relevant line in the goto program is:
p = c != 0 ? p : ((signed int *)NULL);

I.e., the promotion of the 0 to the pointer type does happen!

[2018-11-18 14:18] gnakibli commented on #1490
I have encountered the same issue on Windows. I understand that goto-cc (or in my case goto-cl) can not be used with c++ source files? Is there a work-around?

[2018-11-18 14:59] martin-cs commented on #3438
On Sat, 2018-11-17 at 06:53 -0800, Peter Schrammel wrote:

That isn't guaranteed by ISO 9899.  Given the inaccuracies of hardware
implementations I doubt it is true for many real systems.

[2018-11-18 21:27] martin-cs commented on #3438
On Sat, 2018-11-17 at 06:53 -0800, Peter Schrammel wrote:
<snip>

Do you mean |sin(x)^2 - cos(x)^2| <= 1 ?  Because as written it is not
true for:

1/2 (4 \pi n + \pi) < x < 2 \pi n + \pi

( if Wolfram Alpha is to be believed).

[2018-11-21 13:24] tautschnig commented on #3438
See https://github.com/sosy-lab/sv-benchmarks/issues/693: there is further claim that the benchmark simply is mislabelled.

[2018-11-27 06:30] tautschnig commented on #1630
This will be fixed once #2220 is merged - I'll add it as a regression test.

[2018-11-30 14:50] danielsn opened #3482 "Precondition in memcpy is too strict"
In  memcpy there is the following precondition:
[code]
However, it is valid to memcpy between two segments of the same allocation, as long as the two segments themselves do not overlap.  A better check would be something like
[code]

[2018-11-30 15:15] kroening commented on #3482
Indeed, thank you!

[2018-12-01 09:37] tautschnig commented on #355
This seems to have been fixed for a long time (the oldest binary I found lying around was one built for #1855). Just for completeness the current output (using 1eb1df68):
[code]

[2018-12-01 09:37] #355 closed

[2018-12-01 12:19] #3482 closed, assigned to nobody

[2018-12-03 09:25] peterschrammel opened #3519 "Move generate-opaque-stubs where it is used"
This is not used in the CBMC repo and seems legacy elsewhere. To be clarified.

[2018-12-03 23:14] #3519 closed, assigned to peterschrammel

[2018-12-04 10:04] tautschnig opened #3525 "Use validation options in regression tests"
Now that we have (several) internal consistency validation options, we should also think about the best way of making use of them during CI runs. For example, we might validate the goto model in goto-cc and goto-instrument related regression tests, and validate SSA in CBMC/JBMC regression tests.

[2018-12-04 14:58] thk123 opened #3526 "Non symex module should not use symex magic string SYMEX_DYNAMIC"
Non-symex modules should not use the magic string used by the internals of goto-symex. This was discussed in #3481. The string was factored into `SYMEX_DYNAMIC_PREFIX` and put in util for now.

- ansi-c / expr2c.cpp -> convert_symbol
- goto-instrument / race_check -> is_shared
- util / simplify_expr_pointer -> simplify_dynamic_object

[2018-12-09 09:43] venkyjntu-git opened #3551 "c++ program with single inheritance, Bounds check Aborted"
The following c++ program with single inheritance.
Giving error the error described below, please let me know the reason
OS is :Ubuntu 14.04.5 LTS
_______________________________________________________________

//#include<iostream>
//using namespace std;
class Base {
  int a[10];
 public:
  void show() {
   //cout<<"In base class"<<endl;
     a[11]=20;
   }
};
class Derived:public Base {
int b[5]

[2018-12-09 14:29] lu-w commented on #3283
Hey Martin, thanks for the reply! Is there any news on the issue?
This may seem like a rather constructed problem, but was actually discovered on code that was outputted by the static analysis tool Frama-C. Thus, we are currently not able to run CBMC on Frama-C exports that contain such switch-local variables.

[2018-12-11 14:29] nchong opened #3561 "CBMC v5.10 abort in ssa_expr.h"
The following test program (referred to as `out.c` in the command-line argument example, below) causes a CBMC assertion fault for v5.10, but previously in v5.8 was working as expected. This seems to be related to the use of uninterpreted functions.

[code]

CBMC version: 5.10 (built from source)
Operating system: Mac OS X
Exact command line resulting in the issue:
`cbmc --no-assertions --no-built-

[2018-12-13 02:46] Smattr opened #3566 "tutorial contains C code with errors"
CBMC version:  e1ecf26
Operating system: N/A
Exact command line resulting in the issue: N/A
What behaviour did you expect: Conforming C code in docs
What happened instead: Typo?

I'm not sure if this is intentional or not, but the CBMC tutorial contains two C examples that look incorrect to me. The first is in [Verifying Modules](https://github.com/diffblue/cbmc/blob/develop/doc/cprover-manual/cbm

[2018-12-14 16:23] smowton opened #3569 "value_sett::make_member is unsound wrt struct casts"
Faced with an expression like `((struct X)some_struct_y).a`, value-set's `make_member` function will reduce that unsoundly to `some_struct_y.a`, here: https://github.com/diffblue/cbmc/blob/develop/src/pointer-analysis/value_set.cpp#L1654

Clearly that only works when the two structs happen to have the same layout and names.

Expressions like that are hard to get from C, but `value_set_dereferencet

[2018-12-15 12:01] peterschrammel opened #3574 "Improve design of solver_factoryt"
See https://github.com/diffblue/cbmc/pull/3557#discussion_r241727211

[2018-12-17 16:50] #3569 closed, assigned to nobody

[2018-12-18 12:09] venkyjntu-git commented on #3551
Any one , Please help me to resolve the issue

[2018-12-19 11:47] tautschnig opened #3598 "goto-symex/show_program should not print to std::cout, missing test"
As the subject says, which came up when working on/reviewing #3342.

[2018-12-19 18:33] #1630 closed, assigned to nobody

[2018-12-31 17:37] muchang opened #3653 "Unexpected verification result about nested struct initialization"
[code]

CBMC version: 5.10
Operating system: Ubuntu 18.04
Exact command line resulting in the issue: cbmc <file.c>
What behaviour did you expect:  result in SUCCESS (proofed by compiling with gcc and executing)
What happened instead: [main.assertion.1] assertion 0: FAILURE

[2019-01-02 10:12] #3551 closed, assigned to nobody

[2019-01-06 10:27] kroening commented on #3653
Many thanks; I've made a PR with a test for this as PR #3695.

[2019-01-06 10:36] kroening commented on #3566
Many thanks -- I've opened PR #3696 to fix both problems.

[2019-01-06 19:02] tautschnig commented on #3566
Fixed via #3696.

[2019-01-06 19:02] #3566 closed, assigned to nobody

[2019-01-07 16:29] muchang opened #3706 "Unexpected verification result related to unsigned char calculation"
[code]

CBMC version: 5.10
Operating system: Ubuntu 18.04
Exact command line resulting in the issue: cbmc <file.c>
What behaviour did you expect: Result in SUCCESS (proofed by compiling with gcc and Compcert)
What happened instead: [main.assertion.1] assertion 0: FAILURE

[2019-01-07 16:39] muchang opened #3707 "Unexpected verification result related to the calculation in function argument list"
[code]

CBMC version: 5.10
Operating system: Ubuntu 18.04
Exact command line resulting in the issue: cbmc <file.c>
What behaviour did you expect: Result in SUCCESS (proofed by compiling with gcc and executing)
What happened instead: [foo.assertion.1] assertion 0: FAILURE

[2019-01-07 16:47] muchang opened #3708 "Unexpected verification result related to long double"
[code]

CBMC version:5.10
Operating system:Ubuntu 18.04
Exact command line resulting in the issue:cbmc <file.c>
What behaviour did you expect: Result in SUCCESS (proofed by compiling with gcc and executing)
What happened instead:[foo.assertion.1] assertion 0: FAILURE

[2019-01-07 16:52] muchang opened #3709 "Unexpected verification result related to bit-field"
[code]
[code]
[code]

CBMC version: 5.10
Operating system: Ubuntu 18.04
Exact command line resulting in the issue: cbmc <file.c>
What behaviour did you expect:Result in SUCCESS (proofed by compiling with gcc and executing)
What happened instead:[foo.assertion.1] assertion 0: FAILURE

[2019-01-08 08:54] kroening commented on #3709
Many thanks -- I've made PRs for the first two problems.

I'll need to look a bit more into the third. gcc on Ubuntu 18.04 passes this, but clang gives a failure. This may well be implementation-defined or undefined behavior.

[2019-01-08 09:35] kroening commented on #3708
The issue here is that compile-time rounding mode (for the initializers, and in particular for Y2) differs from rounding during the computation. This is in principle something the standard permits; in practice, this aspect is usually ignored by compiler builders.
I'll likely fix the compile-time rounding mode to the one given.

[2019-01-08 09:51] kroening commented on #3706
Many thanks, test added.

[2019-01-08 15:09] #3706 closed, assigned to nobody

[2019-01-08 17:20] muchang commented on #3709
Thank you so much for your update, the third one may be the implementation-defined feature.
Here is another case related to bit-field:
[code]
CBMC version: 5.10
Operating system: Ubuntu 18.04
Exact command line resulting in the issue: cbmc <file.c>
What behaviour did you expect:Result in SUCCESS (proofed by compiling with gcc and executing)
What happened instead:[foo.assertion.1] assertion 0: FAIL

[2019-01-08 17:27] muchang opened #3728 "Unexpected verification result related to some builtin functions"
[code]
[code]
CBMC version: 5.10
Operating system: Ubuntu 18.04
Exact command line resulting in the issue: cbmc <file.c>
What behaviour did you expect:Result in SUCCESS (proofed by compiling with gcc and executing)
What happened instead:[foo.assertion.1] assertion 0: FAILURE

[code]
[code]
CBMC version: 5.10
Operating system: Ubuntu 18.04
Exact command line resulting in the issue: cbmc <file.c>
Wh

[2019-01-08 22:51] #3561 closed, assigned to nobody

[2019-01-08 22:54] kroening commented on #3039
BTW, in #3641

[2019-01-09 10:34] kroening commented on #3709
I looked at the third one. I think this is undefined behavior. The bit-field should get promoted to _signed_ long long. Then you are doing an overflowing signed left shift.

[2019-01-09 10:35] kroening commented on #3709
I.e., clang failing this is ok.

[2019-01-09 10:53] kroening commented on #3709
The problem in the "other case" has already been fixed with ab6e2d109664f09fd.

[2019-01-09 10:54] #3709 closed, assigned to nobody

[2019-01-09 10:55] muchang commented on #3709
Thank you for your confirmation! I also think the third one is undefined behavior. This issue can be closed.

[2019-01-09 11:02] tautschnig commented on #3240
I have recently worked on a system with Visual Studio Community 2017 installed and found no such issue. This is obviously a very late response, but can you please confirm that you have been running in a Visual Studio command prompt (or had the PATH set up in a different way)?

[2019-01-09 11:56] #3708 closed, assigned to nobody

[2019-01-11 09:49] #623 closed

[2019-01-11 09:49] #787 closed

[2019-01-14 08:41] tautschnig opened #3798 "XML output of properties lacks description"
See discussion at https://github.com/diffblue/cbmc/pull/3583#discussion_r247361722: JSON and plain-text output also print the description of a property, XML output doesn't.

[2019-01-16 11:41] peterschrammel opened #3823 "Remove namespacet reference members"
https://github.com/diffblue/cbmc/pull/3819#issuecomment-454740129

[2019-01-26 11:30] peterschrammel opened #3956 "--paths fails on some regression/cbmc benchmarks"
Running `develop` (8900b60) `--paths lifo` now on `regression/cbmc`:
- `Bitfields3` crashes
- `Multi_Dimensional_Array6` doesn't terminate or takes very long
- `address_space_size_limit1` doesn't terminate or takes very long
- `array-tests` doesn't terminate or takes very long
- `coverage_report1` crashes
- `gcc_switch_case_range1` fails
- `gcc_switch_case_range2` fails
- `havoc_object1` fails

[2019-01-26 22:01] tautschnig commented on #3956
I believe it was 8fb29024c40c (#3433) that broke this. The counters must be kept across instances of `goto_symext` as otherwise multiple objects with the same name, but different types, exist.

[2019-01-26 22:27] tautschnig commented on #3956
What I just posted only affects `Bitfields3`, the issues with the others are different (in parts only issues with the *.desc files).

[2019-01-26 22:33] tautschnig commented on #3956
See #3959 for the first bugfix.

[2019-01-26 22:44] tautschnig commented on #3956
#3960 addresses `gcc_switch_case_range1`, `gcc_switch_case_range2`, `havoc_object1`.

[2019-01-26 22:46] tautschnig commented on #3956
The number of paths in `array-tests` will inevitably mean that single-path symbolic execution takes a very long time.

[2019-01-26 22:48] tautschnig commented on #3956
Each loop iteration in `address_space_size_limit1` introduces a number of branches (in `malloc`), which induces a large number of paths, and thus single-path symbolic execution will take a very long time.

[2019-01-26 22:52] tautschnig commented on #3956
`Multi_Dimensional_Array6` does seem to terminate with `--unwind 1`, `--unwind 2`, and might just take very long for `--unwind 3` (or any higher bound) given the number of paths that the nested and sequenced loops introduce.

[2019-01-26 23:14] tautschnig commented on #3956
And finally #3961 for `coverage-report1`.

[2019-01-28 17:12] martin-cs opened #3981 "test.pl inserts a single, empty argument if none are given."
Possibly one of the most obscure bugs but, if you set up you test.desc file so that there are no arguments at all, then when test.pl runs the program, `argc == 2` and `argv[1] == ""`, rather than `argc == 1` as intended.

[2019-01-30 12:41] nmanthey opened #3990 "CBMC PARSE ERROR"
Hi all,
I tried to compile upstream Xen with upstream CBMC via my one-line-scan tool, and noticed the following error. I will attach the faultyInput that is generated during the process.

CBMC version: gcc (goto-cc 5.11 (cbmc-5.11-941-g88f5a3f)) 5.4.0
Operating system: Ubuntu 16.04 (docker container)
Exact command line resulting in the issue: goto-cc -x c CBMC/faultyInput/faulty-goto-gcc-input-for

[2019-01-30 12:45] nmanthey commented on #3990
I attached the zipped input file.

[faulty-goto-gcc-input-for-103448.8EdG6O.zip](https://github.com/diffblue/cbmc/files/2812548/faulty-goto-gcc-input-for-103448.8EdG6O.zip)

[2019-01-30 13:54] tautschnig commented on #3990
We do not seem to accept `__attribute__` in this (procedure-local) declaration:
[code]

Taking a look.

[2019-01-31 09:03] batchenRothenberg opened #4002 "Verification result changes when using smt2"
I am running CBMC version 5.11 (cbmc-5.11-33-g053ae9c) on a Linux Ubuntu 16.04 virtual machine.
I run it on the following file:
[sum.txt](https://github.com/diffblue/cbmc/files/2816379/sum.txt)
which calls two functions with identical code and then asserts that the results are equal.
The functions compute the sum of an array,

When running:
./cbmc sum.c
I get
[main.assertion.1] line 24 assertion r

[2019-01-31 09:23] tautschnig commented on #4002
@batchenRothenberg It seems you snipped all the interesting output - quite likely there was something along the lines of
[code]
? If so, is z3 on your PATH?

[2019-01-31 09:33] batchenRothenberg commented on #4002
OMG I feel so silly...
Yeah, that was the problem. I have added z3 to my path and now it returns SUCCESS as expected.
Thanks for the quick response!

[2019-01-31 09:33] #4002 closed, assigned to nobody

[2019-01-31 09:49] tautschnig commented on #4002
We really need to start colouring the errors I guess!

[2019-01-31 15:33] peterschrammel opened #4013 "Improvement suggestions for CBMC output"
* Runtime decision procedure -> Decision procedure runtime
* Measure duration for different phases separately: symex, conversion, solving
* goto checker iterations should be JSON/XML formatted
* fix incomplete plain text tests output in c_test_input_generator for multiple i/o values https://github.com/diffblue/cbmc/pull/3968#discussion_r251346424
* reconsider removing special cases when traces are

[2019-02-01 13:42] natasha-jeppu opened #4019 "Conversion error: Member not found in structure"
CBMC version: 5.11 (cbmc-5.11-103-g1f4da29)
Operating system: 64-bit x86_64 linux
Exact command line resulting in the issue: cbmc <prgname.c>
What behaviour did you expect: no conversion error
What happened instead: Member not found in structure definition conversion error

The bug was introduced by the following commit:
**commit 1f4da29**
Author: Daniel Kroening <kroening@cs.ox.ac.uk>
Date:   Sat

[2019-02-01 13:49] tautschnig commented on #4019
It seems the anonymous union is given an ambiguous name. I'm taking a look.

[2019-02-02 11:17] #4019 closed, assigned to nobody

[2019-02-02 12:40] sschwarzmann commented on #2359
Maybe the errors I'm seeing fit in this issue report (resp. an update of the used branch `deadlock-analysis` with the above mentioned fix is required).

I've just used the latest version of branch `deadlock-analysis` (commit: `808d234d`, which is from July 2016) and built the SW as per instructions in `COMPILING`. `goto-cc` aborts with errors if I include a C++ header (e.g. iostream).

    $ goto-

[2019-02-02 13:06] natasha-jeppu commented on #4019
The issue is fixed now. Compiles without errors.

[2019-02-04 16:00] peterschrammel opened #4071 "Refactor handling of entry point in goto-symex"
entry point and resume need to be handled uniformly

and clean up get_goto_functions: https://github.com/diffblue/cbmc/pull/3969#discussion_r253271211

[2019-02-05 18:18] #3956 closed, assigned to nobody

[2019-02-06 22:25] peterschrammel opened #4110 "02/2019 regression on sv-benchmarks/c/array-tiling/skippedu_false-unreach-call.i"
Observed on f02417343fbb22ff258b5e9c96876a53f28b718e
Still working on baaabc80e5ce72aaba4649869b2de1d2a04c2b25 (might be due to missing validation, tough)

http://svcomp.cprover.org/svcomp19/benchexec/results-ReachSafety-Arrays/diff.html

--- begin invariant violation report ---
Invariant check failed
File: goto_symex_state.cpp:359 function: rename
Condition: (expr.id() != ID_with || expr.type() =

[2019-02-07 08:39] tautschnig opened #4111 "Add starter projects from wiki to mini-projects list"
As discussed in #3930: it would seem like a good idea to add several projects from https://web.archive.org/web/20150530010030/http://www.cprover.org/wiki/doku.php?id=starter_projects to the in-tree projects list, possibly introducing several levels (from actual "mini" projects to larger ones).

[2019-02-07 11:01] blizzard4591 commented on #3283
@martin-cs We are currently working on a comparison study which includes CBMC and this bug is blocking us from benchmarking CBMC on the same code as the other tools. Can you give an estimate on when this might be fixed?

[2019-02-07 11:10] tautschnig commented on #3283
@blizzard4591 I'll take a look.

[2019-02-07 12:47] NlightNFotis commented on #4111
I can do this. I will try to get a PR as soon as possible for this.

[2019-02-07 14:57] peterschrammel opened #4116 "02/2019 regression on sv-benchmarks/c/ntdrivers/diskperf_false-unreach-call.i.cil.c"
Observed on [f024173](https://github.com/diffblue/cbmc/commit/f02417343fbb22ff258b5e9c96876a53f28b718e)
Still working on [baaabc8](https://github.com/diffblue/cbmc/commit/baaabc80e5ce72aaba4649869b2de1d2a04c2b25)

[code]

http://svcomp.cprover.org/svcomp19/benchexec/results-ReachSafety-ControlFlow/diff.html

[2019-02-07 14:59] peterschrammel opened #4117 "02/2019 regression on sv-benchmarks/c/ntdrivers/floppy_false-unreach-call.i.cil.c"
Observed on [f024173](https://github.com/diffblue/cbmc/commit/f02417343fbb22ff258b5e9c96876a53f28b718e)
Still working on [baaabc8](https://github.com/diffblue/cbmc/commit/baaabc80e5ce72aaba4649869b2de1d2a04c2b25)

[code]

http://svcomp.cprover.org/svcomp19/benchexec/results-ReachSafety-ControlFlow/diff.html

[2019-02-07 15:01] tautschnig commented on #4116
This will be fixed by #2068 (or more likely a PR breaking out the next commit from it, the fix for this problem is actually the next in line).

[2019-02-07 15:01] peterschrammel opened #4118 "02/2019 regression on sv-benchmarks/c/ntdrivers/parport_false-unreach-call.i.cil.c"
Observed on [f024173](https://github.com/diffblue/cbmc/commit/f02417343fbb22ff258b5e9c96876a53f28b718e)
Still working on [baaabc8](https://github.com/diffblue/cbmc/commit/baaabc80e5ce72aaba4649869b2de1d2a04c2b25)

[code]

http://svcomp.cprover.org/svcomp19/benchexec/results-ReachSafety-ControlFlow/diff.html

[2019-02-07 15:13] #4071 closed, assigned to peterschrammel

[2019-02-07 19:39] #4116 closed, assigned to nobody

[2019-02-07 21:05] tautschnig commented on #3283
Since eaa7d93ac4d9 CBMC actually yields the correct result for the example, but I'll add a PR adding at least a regression test, and possibly also adjusting where we place the declaration that's generated for `int x;`.

[2019-02-08 18:59] #3990 closed, assigned to nobody

[2019-02-12 17:01] hannes-steffenhagen-diffblue opened #4168 "Regression: CBMC crashes because it passes the string "NULL" get_bvrep_bit during symex"
Observed on: 3b7d59af5ff55e2135b6308022aa2ce5e99fd374
Still working on: 9cf2bfb3e458d419d842a0e1fd26fb1748451851

(approximate range, haven't bisected yet)

CBMC fails with:

[code]

For some reason the `src` parameter ends up being the string `"NULL"` when running `cbmc` against the following example:

[code]

This does _not_ happen when `8ul` above is replaced with `sizeof(struct linked_list)`.

[2019-02-15 12:02] NlightNFotis commented on #3122
I found some time to take a look at this. With a diff of

[code]

the `regression/cbmc/Bitfields3` test fails with:

[code]

That's on latest develop. I will dig in some more to find the root cause. It might be that the assertion is not appropriate to be placed at that point, as it's not guaranteed that it would hold, but since this is an `if expression` that's being represented as far as I can un

[2019-02-15 12:14] #2861 closed, assigned to NlightNFotis

[2019-02-15 12:23] NlightNFotis commented on #3122
Extra information on this is that just before the crash, the two expressions (consequent and alternative) have types:

[code]

[2019-02-15 12:45] NlightNFotis commented on #3122
@kroening @tautschnig I debugged this. It doesn't seem to be a problem. Apparently what happens is that the appropriate promotions happen in `c_typecheck_baset::typecheck_expr_trinary` which is acting on a `if_exprt` as the result of the call of `to_if_expr` (https://github.com/diffblue/cbmc/blob/develop/src/ansi-c/c_typecheck_expr.cpp#L221).

It seems it's not a bug, however this raises a questio

[2019-02-15 12:45] #3122 closed, assigned to NlightNFotis

[2019-02-15 13:04] tautschnig commented on #3122
@NlightNFotis Many thanks for digging deeper! I am wondering whether `to_if_expr` simply shouldn't be used at this point, because it's not really a proper `if_exprt` before fully type checked?

[2019-02-16 11:08] andreast271 opened #4206 "Initialization of a flexible array member leads to cbmc crash or verification failure."
CBMC version: cbmc-5.11, cbmc-5.11-1479-ga86978840
Operating system: Linux 4.15.0-45-generic x86_64 GNU/Linux
Exact command line resulting in the issue: cbmc ccb.c , cbmc ccb.c --smt2
What behaviour did you expect: all 4 assertions should pass
What happened instead: 2 assertions fail (SAT backend), CBMC crash (smt2 backend)

In the following code all assertions should be true:

[code]

With cbmc,

[2019-02-16 16:47] peterschrammel opened #4208 "Type promotion in compound assignments is broken"
The program

[code]

yields a goto program:

[code]

Broken since https://github.com/diffblue/cbmc/commit/e78e7d105c7e5716ae5205697f62380278bb8a23

See also https://github.com/diffblue/cbmc/pull/4209.

[2019-02-17 07:33] tautschnig commented on #4208
The fix is now included in #3770.

[2019-02-17 08:03] tautschnig commented on #4206
Just adding that with `--no-simplify` the `assertion s.d[1]==5` also fails. We need to make sure we work with the actual size in the back-end, not the one we infer from the type.

[2019-02-17 10:48] #4168 closed, assigned to nobody

[2019-02-18 14:33] karkhaz commented on #1924
Soon come ;-)

[code]

[2019-02-19 09:30] owen-mc-diffblue commented on #1924
@karkhaz Have you rewritten test.pl using python? Or are you using a framework, like pytest? (I had to briefly check that it wasn't the 1st of April.)

[2019-02-19 09:43] karkhaz commented on #1924
@owen-jones-diffblue It's not finished, but I'm rewriting it from scratch in python, and trying to ensure that it doesn't use any packages from outside the standard library. I actually thought about waiting until April to post the PR, just to be contrary; doing it twice [just might make it a tradition](https://github.com/diffblue/cbmc/pull/1989)...

[2019-02-19 15:02] tautschnig commented on #4117
This has been fixed, I believe the exact commit making the difference is 5c3860636ea2168a3204ad704aae08c18d8fe82c.

[2019-02-19 15:02] #4117 closed, assigned to nobody

[2019-02-19 15:02] tautschnig commented on #4118
This has been fixed, I believe the exact commit making the difference is 5c3860636ea2168a3204ad704aae08c18d8fe82c.

[2019-02-19 15:02] #4118 closed, assigned to nobody

[2019-02-19 15:05] tautschnig commented on #4110
I've got a branch that fixes this, but I need to figure out which commit exactly makes the difference.

[2019-02-19 17:17] chrisr-diffblue commented on #1924
One thing to consider (if this is possible to fix in the new test runner) is that some of the current regression tests are not thread safe (e.g. if you try to distribute running the tests over multiple cpu's), particularly where one regression directory contains multiple '.desc' files. One such example is `regression/goto-cc-cbmc/mixed-c-library-goto-main/*.desc` - if the two `.desc` files in that

[2019-02-19 17:21] owen-mc-diffblue commented on #1924
@karkhaz On April 1st you can announce that rewriting test.pl was too hard, so you're rewriting cbmc in perl instead :smile:.

[2019-02-19 17:27] karkhaz commented on #1924
@chrisr-diffblue are multiple .desc files the only situation where this happens? Would it suffice for me to parallelise all directories, but to always serialize .desc files within one directory?

[2019-02-19 17:34] chrisr-diffblue commented on #1924
I think thats the main threading issue I'm aware of, so yes, that would probably be one approach - though that does still mean that if you want the test runner to leave behind the intermediate files (e.g. the `.gb` files for debugging purposes, you have similar confusing behaviour. Probably the most robust approach would be to do something like generate a new temporary working directory for each .

[2019-02-19 17:38] chrisr-diffblue commented on #1924
Oh, and "Default: $TESTPL_JOBS if set" - are we keeping the "PL" for sentimental reasons, or should that be "TESTPY_JOBS" now :-)

[2019-02-19 19:07] karkhaz commented on #1924
Thank you, a fresh directory for each .desc file sounds sensible---I'll do that. My job is a lot easier due to the plethora of regression tests, which serve to test regressions between test.pl and test.py as well as regressions of cbmc :)

$TESTPL_JOBS: this was intentional. My rationale for this and other features is that I'd prefer not to break people's scripts. So at least for this first implem

[2019-02-19 21:51] chrisr-diffblue commented on #1924
As far as TESTPL_JOBS is concerned, I was mostly just being tongue-in-cheek - keeping as its current name seems entirely sensible. Its great to see someone finally tackling this and helping out everyone in the processes!

[2019-02-20 02:39] tautschnig commented on #4110
It seems that enabling field sensitivity solves this problem. Quite possibly the problem always existed and we just didn't notice due to the lack of validation. But it will go away once #2574 is merged.

[2019-02-25 08:48] avritichauhan opened #4275 "CBMC 5.10 type checking error - implicit function declaration"
cbmc 5.8 (windows), runs fine and gives expected output "Verification Failed" (without any errors) on the following test case.  However, cbmc 5.10 (windows version) gives a type checking error - "implicit function decalration".  Also, compilation using gcc, does not gives any error.

![image](https://user-images.githubusercontent.com/24314631/53324252-55962100-3906-11e9-8586-178ffb67427e.png)

Tes

[2019-02-26 11:32] hannes-steffenhagen-diffblue commented on #1924
Just a stray comment: One mild annoyance with the way test.pl right now is the colouring, which is unconditionally applied, which is fine if you're viewing the test log on travis or on your terminal, but a nuisance if you're writing to a file or viewing the log on AWS CodeBuild. I'd like to change the behaviour to

1. By default, only colour on terminal output (and even then only terminals that su

[2019-02-27 16:17] #4208 closed, assigned to nobody

[2019-02-28 10:56] karkhaz opened #4295 "CBMC does not build using CMake & MSVC"
The issue is with `src/ansi-c/library-check.sh`. There are (at least) two issues:
* MSVC doesn't understand the flags passed to `$CC`. It thinks that `-Werror` is an argument to `-Wall`. Don't ask.
* The `$CC` variables should be quoted in that script, in case the path to the compiler contains spaces. Otherwise the shell tries to run a compiler called `C:\Program`.

Fix on the way shortly.

[2019-02-28 10:58] karkhaz commented on #4295
Oh, and this is using the VisualStudio developer console. No cygwin or mingw.

[2019-02-28 12:27] #4295 closed, assigned to nobody

[2019-03-04 13:04] martin-cs opened #4323 "What is a safe overapproximation of an OTHER instruction"
To the best of my knowledge, what an OTHER instruction does is not well documented.  goto-programs/goto_program.h:132 says:

 "Execute the `code` (an instance of codet of kind ID_fence, ID_printf, ID_array_copy, ID_array_set, ID_input, ID_output, ...)."

goto-symex/symex_other.cpp:77 seems to have one of the most comprehensive lists of possibilities including `ID_output` (so it can manipulate the

[2019-03-04 13:15] tautschnig commented on #4323
Thanks a lot for bringing this up. I am wondering whether at some point we should just remove this? Of course `OTHER` adds a lot of flexibility, but it might be at the expense of soundness. For a program analysis framework the latter may be rather important. I am leaning towards making all of these function calls? Something like `__CPROVER_asm`, etc? The downside of that approach would be that it'

[2019-03-04 14:14] martin-cs commented on #4323
At the moment I am deeply skeptical that all of the uses of `OTHER` are correctly handled by all analysis tools.  TBH I'm not confident that we even know all of the uses for it.  All of the uses I know of can be replaced with magic functions.  Given that we already have some magic functions ( `__CPROVER_malloc`, etc.) and there seems little motivation for changing these into instructions, perhaps

[2019-03-04 14:20] peterschrammel commented on #4323
I'd get rid of `OTHER` altogether and replace the remaining (meaningful and well-defined) uses by magic functions.

[2019-03-04 15:11] martin-cs commented on #4323
@smowton ?
@chrisr-diffblue ?

[2019-03-04 16:09] martin-cs commented on #4323
https://github.com/diffblue/cbmc/pull/2548/ suggests that we rely on having over approximations for OTHER but I have no idea if they are sound or not.

[2019-03-04 16:11] tautschnig commented on #4323
... and 7b51b0c from #2548 makes clear that we didn't quite expect those in a number of places.

[2019-03-05 07:48] martin-cs opened #4327 "scripts/cpplint.py skips the include checks if module_dependencies.txt exists but is empty"
CBMC version: 91a03071b on develop
Operating system: Debian
Exact command line resulting in the issue: `touch modependencies.txt; scripts/cpplint.py`
What behaviour did you expect: That all non-system headers were flagged as lint issues.
What happened instead: The inclusion check was disabled.

[2019-03-05 07:58] martin-cs commented on #4327
Reading `ccplint.py` tells me that this check only applies to things with `#include ""` which is what is giving this behaviour.

[2019-03-05 10:34] martin-cs commented on #4327
Further checking and I am confident this is a real issue.

[2019-03-06 19:14] smowton opened #4336 "Killing `#return_value` behaves inconsistently"
Suppose we have `f` like:
[code]
On the first call to `f`, the two arms of the `if` produce value sets `{ f#return_value -> { dynamic_object1 }, @inflight_exception -> { null } }` and `{ @inflight_exception -> { dynamic_object2 } }` respectively. These merge "cleanly" to give `{ f#return_value -> { dynamic_object1 }, @inflight_exception -> { null, dynamic_object2 } }` allowing the caller to procee

[2019-03-06 20:49] peterschrammel opened #4337 "SAT solver performance problem with floating point equalities"
Tests in #4338.

[code]
has equation
[code]
and solves quickly,

whereas
[code]
with the equation
[code]
takes forever to solve.

[2019-03-06 20:49] tautschnig commented on #4336
I believe the problem is that we do `DEAD f#return_value` even though we never have a declaration for `f#return_value`. The latter actually seems right, because it has static lifetime. Killing `f#return_value` seems wrong.

[2019-03-06 20:58] tautschnig commented on #4337
Adding another `ASSUME` fixes this, even when the expressions strictly can't be cached (the problem is as bad with `float` instead of `double`):
[code]

[2019-03-06 20:59] smowton commented on #4336
Note if you just skip the DEAD instruction then you'll get the same inaccuracy except we'll believe it may have it's old value, rather than the special dead value. The inconsistency between first and second call will remain

[2019-03-06 21:53] smowton commented on #4336
Further thoughts:
1. In some dialects of C it's possible to compile functions that don't return on some or all paths, even if their type indicates they should. Presumably we want to detect that in the same way that we detect use of an uninitialised local or field of a dynamic object. This suggests we ought to initialise the `#return_value` variable, or treat absence from the value-set the same as

[2019-03-06 22:18] tautschnig commented on #4337
Attaching a zip file of a CNF for future reference.
[float.cnf.zip](https://github.com/diffblue/cbmc/files/2938564/float.cnf.zip)

[2019-03-07 07:29] tautschnig commented on #4337
Here's a variation on the "easy" case that's also hard:
[code]
A key difference is that `0 + a + b` enforces that `a + b` cannot be reused while encoding. Corresponding CNF is attached.
[float.cnf.zip](https://github.com/diffblue/cbmc/files/2939950/float.cnf.zip)

[2019-03-07 07:54] martin-cs commented on #4337
@peterschrammel : this one is interesting because the expression substitution on equality is definitely happening.  I should probably check that it also re-orders 'b + a' although it is not the problem here.

@tautschnig : the cases you give have a number of more subtle things going on. '0' is an integer which promotes to double IIRC, so like '0.0' it forces type promotion of the whole expression.

[2019-03-07 08:03] tautschnig commented on #4337
@martin-cs Yes, using `0.0f` produces exactly the same formula (the C front-end type-casts the `0` to a `float`, and the simplifier turns this into `0.0f`).

[2019-03-07 13:39] smowton commented on #4336
Partial solution: https://github.com/diffblue/cbmc/pull/4343

[2019-03-09 07:41] cliffordwolf opened #4358 "Handling of ."cc" file extension in c_preprocess.cpp"
The `.cc` suffix is missing in this code:
https://github.com/diffblue/cbmc/blob/develop/src/ansi-c/c_preprocess.cpp#L583

I think this is a bug, because it is present here:
https://github.com/diffblue/cbmc/blob/develop/src/goto-cc/gcc_mode.cpp#L308
https://github.com/diffblue/cbmc/blob/develop/src/goto-cc/compile.cpp#L144
https://github.com/diffblue/cbmc/blob/develop/src/cpp/cpp_language.cpp#L39

[2019-03-09 08:02] cliffordwolf opened #4359 "cpp_declarator.cpp:54: Assertion `!t.id().empty()' failed."
CBMC version: git head (804efea)
Operating system: Ubuntu 18.04

[code]

I trace it down to the following declaration:

[code]

[2019-03-11 06:43] tautschnig commented on #4358
Thank you very much for the detailed report, this will be fixed in #4363.

[2019-03-11 18:50] #4358 closed, assigned to nobody

[2019-03-13 16:13] smowton opened #4380 "Pre- and post-order byte operator lowering behave differently"
`lower_byte_operators` (in `expr_lowering.h`) uses a pre-order visit strategy -- that is, remove byte ops from child expressions before removing this byte operator. By contrast the SMT2 backend (prior to https://github.com/diffblue/cbmc/pull/4379) used a post-order strategy: it called `lower_byte_extract` or `lower_byte_update` on each expression as it was found and then  recursed over the result,

[2019-03-22 10:12] JanSvejda opened #4418 "Witness edge scope makes name resolving ambiguous"
[code]

CBMC version: 5.8, also tested on 5.11 with same results
Operating system: Ubuntu 18.04
Exact command line resulting in the issue: cbmc --32 --graphml-witness witness.graphml --unwindset main.0:1 --unwinding-assertions main.c
What behaviour did you expect: The scope of assumption "foo = ((float *)NULL);" in the witness  should be 'one'.
What happened instead: Scope is 'step'. Assignment to

[2019-03-22 10:17] tautschnig commented on #4418
Thank you very much for this report! I'm afraid CBMC's GraphML output is in a rather messy state and certainly needs fixing. Your example may help us sort this out! There is #2001, a variation of which has again been used in SV-COMP'19 (see #3486) for some fixes, which might include the NULL/NAN/INFINITY bits. But it does need a lot of cleanup, and possibly also further fixes.

[2019-03-23 17:32] tautschnig commented on #4418
I have now included a fix for the scope problem in #2001. That PR also addresses problems with `NULL`. For `NAN` and `INFINITY`, however, I am wondering what could even be done: the GraphML witness specification forbids function calls in assumptions, but that's what `NAN` (`__builtin_nanf("")`) and `INFINITY` (`__builtin_inff()`) would expand to!?

[2019-03-23 19:10] JanSvejda commented on #4418
Wonderful, thank you very much for fixing the scope issue! Glad I could help.
About NULLs etc: when I was validating other witnesses, I changed all occurences of NULL to 0, NAN to 0.0/0.0 and INFINITY to 1.0/0.0, but these are rather hacky approaches and may not even be semantically correct.

[2019-03-23 22:53] tautschnig commented on #4418
Thanks @JanSvejda! @martin-cs Would you have some suggestions or comments on @JanSvejda's ideas for representing `NAN` and `INFINITY`?

[2019-03-25 07:47] martin-cs commented on #4418
@JanSvejda @tautschnig : they are indeed correct.  I would suggest that you use names rather than expressions because, strictly speaking, the expressions trigger floating-point exceptions.  IEEE-754 doesn't give specific names for these, nor does ISO 9899 because the link between `float` and `double` is optional so things like NaN and Inf are not guaranteed to exist.

[2019-03-25 11:25] tautschnig commented on #4418
Thanks @JanSvejda @martin-cs! I have added code to #2001 to generate output without those macros for GraphML (or in general when using the "clean" configuration of `expr2ct`).

[2019-03-28 14:31] martin-cs opened #4452 "[RFC] CPROVER should use a reproducible resource limit rather than a time-out"
[ Prompted by https://github.com/diffblue/cbmc/pull/4449 ]

The SMT-LIB standard ( http://smtlib.cs.uiowa.edu/papers/smt-lib-reference-v2.6-r2017-07-18.pdf Page 57 ) describes a reproducible resource limit option for solvers :

[code]

This can be implemented as a simple count on learnt clauses, clause database cleans, etc.  The relationship between a number and an actual run time will depend on t

[2019-04-04 20:10] peterschrammel opened #4486 "04/2019 regression on sv-benchmarks/c/ntdrivers/cdaudio_(true|false)-unreach-call.i.cil.c"
Observed on ba576c4
Still working on f5483b2

http://svcomp.cprover.org/svcomp19/benchexec/results-ReachSafety-Arrays/diff.html

--- begin invariant violation report ---
Invariant check failed
File: ../util/std_types.h:214 function: to_struct_union_type
Condition: can_cast_type<struct_union_typet>(type)
Reason: Precondition
Backtrace:
./cbmc-binary() [0x4f9fca]
./cbmc-binary() [0x4fad74]
./cbmc-bi

[2019-04-04 20:11] peterschrammel commented on #4486
Same on sv-benchmarks/c/ntdrivers/cdaudio_false-unreach-call.i.cil.c

--- begin invariant violation report ---
Invariant check failed
File: ../util/std_types.h:214 function: to_struct_union_type
Condition: can_cast_type<struct_union_typet>(type)
Reason: Precondition
Backtrace:
./cbmc-binary() [0x4f9fca]
./cbmc-binary() [0x4fad74]
./cbmc-binary() [0x430729]
./cbmc-binary() [0x7875e5]
./cbmc-binary(

[2019-04-04 20:15] peterschrammel opened #4487 "04/2019 performance regression on sv-benchmarks/c/floats-cdfpl/newton_2_(1|3|4)_true-unreach-call_true-termination.i"
`>875s` (timeout) on ba576c4
`<700s` on f5483b2

http://svcomp.cprover.org/svcomp19/benchexec/results-ReachSafety-Floats/diff.html

[2019-04-04 21:22] tautschnig commented on #4486
#2001 fixes these.

[2019-04-04 21:28] tautschnig commented on #4487
I will try to bisect this, but my suspicion is that propagating equalities as constants may have a negative impact on floats. I am actually already in the process of bisecting the converse impact: we had a 40% improvement in points in ReachSafety-ECA over the last month.

[2019-04-05 08:13] peterschrammel commented on #4487
Yes, the effects are not consistent across the categories. For instance, there are visible gains in ControlFlow.

[2019-04-08 14:17] #661 closed

[2019-04-11 13:24] jkbbwr commented on #2652
@tautschnig Has there been any progress on the fix for this?

[2019-04-17 12:36] #3283 closed, assigned to nobody

[2019-04-17 12:39] #4418 closed, assigned to nobody

[2019-04-17 12:39] #4486 closed, assigned to nobody

[2019-04-24 12:14] tautschnig commented on #4110
Closing as #2574 has been merged.

[2019-04-24 12:14] #4110 closed, assigned to nobody

[2019-05-01 15:01] danielsn opened #4602 "CBMC stops with the word "vector""
CBMC version: ```5.12 (cbmc-5.11-2637-gd14ffbcd7)```
Operating system:
[code]
Exact command line resulting in the issue: ```cbmc calloc_harness.c --function calloc_harness```
What behaviour did you expect: CBMC to print an assertion failure for the invalid call to calloc
What happened instead: printed the word ```vector``` and then exited.

[code]

[2019-05-01 15:06] danielsn opened #4603 "CBMC dumps core unexpectedly"
CBMC version: ```5.12 (cbmc-5.11-2637-gd14ffbcd7)```
Operating system:
[code]
Exact command line resulting in the issue: ```cbmc calloc_harness.c --function calloc_harness```

[code]

What behaviour did you expect: An error that is in some way related to the error in the code. Yes, there is a warning, buried in the output.  But CBMC should not dump core on a program that it successfully parses.

W

[2019-05-01 19:12] danielsn opened #4604 "CBMC malloc should fail if called for a size CBMC cannot represent"
I believe that CBMC can only represent allocations of size 2**(64-number-object-bits). And yet

[code]
succeeds. This should either return NULL, or block with an assume that the input to malloc is a representable size.

[2019-05-01 19:13] danielsn opened #4605 "CBMC malloc should be able to non-determinstically fail"
[code]
the assertion never triggers, tho it ought to be able to, given that real malloc can fail.

[2019-05-01 19:51] danielsn commented on #4603
I can get the error even with calloc defined:
[code]

[code]

[2019-05-01 20:14] danielsn opened #4606 "Integer overflow in builtin-library-calloc"
Given the following code, we get an integer overflow in the standard library. I expect the standard library not to overflow.
[code]

Operating system: OSX 10.12
[code]

[2019-05-02 11:59] xbauch opened #4610 "Linking goto binaries fails when looking up empty identifier"
main.c:
[code]
supp.h:
[code]
supp.c:
[code]

CBMC version: 5.12
Operating system: Ubuntu 18.04
Exact command line resulting in the issue:
[code]
What behaviour did you expect:
[code]
What happened instead:
[code]

[2019-05-03 13:44] hannes-steffenhagen-diffblue commented on #4610
I can reproduce it, but I don't think it's a linking problem per se - this example works if the order of the arguments to `cbmc` is reversed. Still, we shouldn't be getting invariant failures from that

[2019-05-03 16:07] xbauch commented on #4610
https://github.com/diffblue/cbmc/pull/4615 .. addresses the issue.

[2019-05-06 08:48] tautschnig commented on #4610
Fixed by #4615.

[2019-05-06 08:48] #4610 closed, assigned to nobody

[2019-05-06 22:24] mauguignard opened #4621 "Pointer check failure in fgets"
CBMC version: 5.11
Operating system: Linux
Exact command line resulting in the issue: cbmc --pointer-check fgets.c
What behaviour did you expect: VERIFICATION SUCCESSFUL
What happened instead: VERIFICATION FAILED

File fgets.c:
[code]

This program should be successfully verified, however, it produces a dereference failure inside CBMC's fgets implementation. More precisely, a _pointer outside obje

[2019-05-12 17:55] tautschnig commented on #751
Closing as I believe this is now done.

[2019-05-12 17:55] #751 closed

[2019-05-13 17:19] peterschrammel commented on #4487
05/2019: additionally, we have now also the following timeouts:
- sv-benchmarks/c/floats-cdfpl/newton_2_2_true-unreach-call_true-termination.i
- sv-benchmarks/c/floats-cdfpl/newton_3_6_false-unreach-call_true-termination.i

[2019-05-13 18:00] martin-cs commented on #4487
Hmmm... not good...  When I have time I may try to look at these...

[2019-05-14 20:58] peterschrammel opened #4655 "05/2019 regression: sv-benchmarks/c/ldv-regression/test27_true-unreach-call_true-termination.c"
true (expected): ba576c479126f9ae3e42b32b1efc7c9b7d550200
false: 3d94a62d83c7cbf999abcd9460e6ad3d9c75853a

http://svcomp.cprover.org/svcomp19/benchexec/results-ReachSafety-Heap/diff.html

[2019-05-15 04:19] tautschnig commented on #4655
I believe the “bug” label should rather be applied to https://github.com/sosy-lab/sv-benchmarks/issues/767.

[2019-05-15 07:07] #4621 closed, assigned to nobody

[2019-05-18 14:37] #4606 closed, assigned to nobody

[2019-05-18 14:37] #4602 closed, assigned to nobody

[2019-05-18 14:37] #4603 closed, assigned to nobody

[2019-05-21 15:03] #1490 closed, assigned to nobody

[2019-05-21 23:03] danielsn opened #4687 "__CPROVER_overflow_add does not behave the way I'd expect"
[code]
CBMC version: 5.12 (cbmc-5.11-2969-gecb6efb62-dirty)
Operating system: 10.12.6

Exact command line resulting in the issue: cbmc --unsigned-overflow-check test.c
What behaviour did you expect: No assertions to fail
What happened instead:
[code]

[2019-05-22 06:55] tautschnig commented on #4687
I think this is just a name confusion: you likely wanted `__CPROVER_overflow_plus` instead of `__CPROVER_overflow_add` (which I don't think any documentation claims to exist).

[2019-05-22 06:55] #4687 closed, assigned to nobody

[2019-05-22 08:45] karkhaz opened #4689 "export-file-local-symbols doesn't work when compiling+linking"
The `--export-file-local-symbols` flag appears to have no effect when doing a combined compile+link (i.e., when not using the `-c` flag to goto-cc).

[2019-05-22 11:24] danielsn commented on #4687
Ahh. Then feature request: a warning if I use CPROVER_doesnt_exist. And an option to raise that warning to an error.

[2019-05-22 11:26] tautschnig commented on #4687
You did get `**** WARNING: no body for function __CPROVER_overflow_add` - but it's a fair point to have an option to make those an error.

[2019-05-23 13:37] karkhaz opened #4699 "Build is broken with clang 3.8"
I'm assigning @smowton because git blame told me to, but I doubt it's actually your fault. I'll bisect this later today and update the ticket.

[code]
[code]
[code]
[code]
[code]

[2019-05-23 13:49] tautschnig commented on #4699
@karkhaz My suspicion is that this is caused by #4694.

[2019-05-23 14:45] smowton commented on #4699
This (https://github.com/diffblue/cbmc/blob/develop/src/util/reference_counting.h#L184) should be providing the relevant `operator==`, any hints why Clang 3.8 uniquely thinks it doesn't?

[2019-05-23 15:41] karkhaz commented on #4699
@tautschnig: git-bisect was fast, but tautschnig-bisect was faster.

@smowton I've been scratching my head over this all afternoon. I finally tried building with clang 9, and it does not complain. I can only conclude that clang 3.8 is miscompiling. (I know saying that "the compiler is wrong" is a cop-out, and this is the second time I've found a clang bug while building CBMC)...

Not sure what cou

[2019-05-23 15:43] karkhaz commented on #4699
I suppose we could at least modify the CMake and Makefile builds to require a non-ancient Clang, and maybe make the build tools print the URL for the official LLVM Ubuntu packages if the build is being run on Ubuntu...

[2019-05-23 15:49] smowton commented on #4699
I'm happy enough if we can find a workaround -- perhaps an explicit template instantiation to nudge clang in the right direction?

[2019-05-23 19:17] karkhaz commented on #4699
I spent some time on trying to add a template instantiation this afternoon without success. I agree that this solution would be good, but I'm unable to spend more time on this, sorry. I'm going to leave the issue open, up to Diffblue to decide how to close it; I'm just going to install a recent Clang on my machine or use GCC.

[2019-05-23 20:36] danielsn opened #4701 "Implement gcc integer overflow builtins."
Now that we have the overflow primitives, it would make sense to implement all the gcc builtins https://gcc.gnu.org/onlinedocs/gcc/Integer-Overflow-Builtins.html

[2019-05-24 13:51] allredj commented on #4699
We stumbled upon this problem on TG as well. Do we want to keep support for clang 3.8? If so we should add a build on Travis.

[2019-05-24 13:52] allredj commented on #4699
^ @peterschrammel ?

[2019-05-28 10:27] #4699 closed, assigned to nobody

[2019-05-28 13:12] ShaleXIONG opened #4721 "An core dump in cbmc 5.11 when using z3."
CBMC version: 5.11 (cbmc-5.11)
Operating system: Ubuntu 18.04.2 LTS
Exact command line resulting in the issue: cbmc --z3 test.c
test.c:
[code]
What behaviour did you expect: ---
What happened instead:
It output some information then a CORE DUMP at the end.
The z3 version is: Z3 version 4.8.5 - 64 bit.
I also tried cbmc 5.8, it DOES NOT give a core dump.
The same problem when use cvc4 (version 1.5)

[2019-05-30 11:54] #2103 closed, assigned to nobody

[2019-05-30 11:58] peterschrammel opened #4737 "05/2019 regression sv-benchmarks/c/ldv-memsafety-bitfields/test-bitfields-1_false-valid-deref.i"
expected: false (valid-deref): ba576c4
actual: false (valid-free): 3d94a62

http://svcomp.cprover.org/svcomp19/benchexec/results-MemSafety-Heap/diff.html

[2019-05-30 12:04] tautschnig commented on #4737
This actually is a bug in the benchmark, which is ambiguous as it contains multiple violated properties. Reported and fix PR'ed in https://github.com/sosy-lab/sv-benchmarks/pull/805.

[2019-05-30 12:04] #4737 closed, assigned to nobody

[2019-05-30 13:26] peterschrammel commented on #4737
I don't think it's a bug in the benchmark, but a bug in the SV-COMP rules about undefined behaviour. I've commented on sosy-lab/sv-benchmarks#805. I recommend to make assertions about undefined behaviour fatal for the purpose of SV-COMP.

[2019-06-04 14:30] romainbrenguier opened #4749 "smt2_solver gives incorrect result on multidimensional arrays"
I encountered a problem on an smt2 instance that I minimized into this example:
[code]

CBMC version: 5.12
Operating system:  64-bit x86_64 linux
Exact command line resulting in the issue: `smt2_solver test.smt2`
What behaviour did you expect: this should be unsat, as is confirmed by running z3 on the same file
What happened instead: smt2_solver returns sat

[2019-06-24 17:04] seanmcl opened #4834 "Build inherits $SRC from shell"
CBMC version: develop branch
Operating system: OSX
Exact command line resulting in the issue: make -C src
What behaviour did you expect: build
What happened instead: confusing, unrelated error message about something (the value of SRC) being a directory.

[2019-06-24 17:26] seanmcl commented on #4834
To reproduce

[code]

[2019-06-24 17:45] tautschnig commented on #4834
I guess we should warn/fail if `$(origin SRC)` does not evaluate to `file`.

[2019-07-03 16:15] dlohar opened #4871 "CBMC produces memcpy source region readable failure"
I am trying to verify the following code where a variable `connectionHeader` is assigned to a string inside a branch. If the execution takes the if branch `connectionHeader` gets string `Connection: closed\r\n`, otherwise it gets `Connection: keep-alive\r\n`. After the branch there is a `memcpy` that copies `connectionHeader` to another character array `finalHeaders`.

[code]

CBMC version: 5.12 (

[2019-07-07 15:50] tautschnig opened #4877 "statement-list parser has reduce/reduce conflicts"
CBMC version: 9e72e15602
Operating system: n/a
Exact command line resulting in the issue: make -C src
What behaviour did you expect: No build warnings
What happened instead:

[BISON][parser] Building parser with bison 3.0.4
src/statement-list/parser.y: warning: 3 reduce/reduce conflicts [-Wconflicts-rr]

Those conflicts should be resolved or (if they are expected) be silenced.

[2019-07-08 16:29] hannes-steffenhagen-diffblue opened #4882 "Field sensitivity appears to have broken display of counterexamples"
CBMC version: develop (acb3abaf5cd863c4e37df0a79db7680c21037a27)
Operating system: Linux (Ubuntu 18.04)
Exact command line resulting in the issue: cbmc --trace test.c
What behaviour did you expect: It should show a counterexample with the field set to a non-0 value
What happened instead: The counterexample had its field set to 0

Here we have a test with a failing assertion:

[code]

`cbmc` finds

[2019-07-11 14:44] angelhof opened #4892 "Internal function to check if all the bytes in a block of memory are zero"
It would be really useful to have a function that checks if all bytes in a block of memory are zero without using a loop.

[2019-07-12 12:38] tautschnig commented on #4892
What is a "block" and what does "check" mean? Could you please provide a loop-based variant of this as a specification?

[2019-07-14 17:37] yumibagge opened #4905 "cbmc invariant violation occurs due to equality_types_match"
CBMC version: cbmc-5.11-3703-ge2c2caaa9
Operating system: Ubuntu 18.04.2 LTS
Exact command line resulting in the issue: `cbmc --unwind 2 --bounds-check equality_type_match_invariant_violation.c` (Input C file is randomly generated by csmith)
What behaviour did you expect: no invariant violation
What happened instead: invariant violation occurs as follows

[code]

[2019-07-14 18:26] yumibagge opened #4907 "cbmc invariant violation occurs due to postcondition"
CBMC version: cbmc-5.11-3703-ge2c2caaa9
Operating system: Ubuntu 18.04.2 LTS
Exact command line resulting in the issue: cbmc --unwind 2 --bounds-check invariant-violation-postcondition.c (Input C file is randomly generated by csmith)
What behaviour did you expect: no invariant violation
What happened instead: invariant violation occurs as follows
[code]

[2019-07-14 19:50] yumibagge opened #4908 "cbmc invariant violation occurs due to bitvector width mismatch"
CBMC version: cbmc-5.11-3703-ge2c2caaa9
Operating system: Ubuntu 18.04.2 LTS
Exact command line resulting in the issue: `cbmc --unwind 2 --conversion-check invariant-violation-bitvector-width-mismatch.c` (Input C file is randomly generated by csmith)
What behaviour did you expect: no invariant violation
What happened instead: invariant violation occurs as follows

[code]

[2019-07-15 09:06] yumibagge opened #4909 "cbmc invariant violation occurs due to Precondition failure"
CBMC version: cbmc-5.11-3703-ge2c2caaa9
Operating system: Ubuntu 18.04.2 LTS
Exact command line resulting in the issue: `cbmc invariant-violation-precondition-bvrep2integer.c` (Input C file is randomly generated by csmith)
What behaviour did you expect: no invariant violation
What happened instead: invariant violation occurs as follows

[code]

[2019-07-15 09:37] yumibagge opened #4910 "cbmc appears to stop middle of analysis"
CBMC version: cbmc-5.11-3703-ge2c2caaa9
Operating system: Ubuntu 18.04.2 LTS
Exact command line resulting in the issue: `cbmc hang-1.c --unwind 2 --ILP64`  (Input C file is randomly generated by csmith)
What behaviour did you expect: cbmc exit gracefully
What happened instead: CBMC stops here
(This issue is not reproducible without `--ILP64`.

[code]

[2019-07-15 10:35] #4871 closed, assigned to nobody

[2019-07-17 09:22] hannes-steffenhagen-diffblue commented on #4892
Also, useful for what?

[2019-07-18 17:32] yumibagge opened #4927 "branch coverage is not reported as branch coverage in codedov"
This is related to #4847

As it is described in the PR, currently Codecov appears to display branch coverage in lcov file as line coverage.

This PR can be merged once Codecov supports the functionality.

[2019-07-19 16:12] xbauch opened #4930 "Void pointer argument cannot be pointer-checked"
[code]

CBMC version: 5.12 (cbmc-5.12-d8598f8-552-g03cc69c04-dirty)
Operating system: Ubuntu 18.04
Exact command line resulting in the issue: `$ cbmc main.c --function foo --pointer-check`
What behaviour did you expect: VERIFICATION FAILED
What happened instead:
[code]

[2019-07-21 12:35] andreast271 opened #4933 "cbmc invariant violation in rewrite_with_to_field_symbols"
CBMC version: 5.12 (cbmc-5.12-d8598f8-557-g1edf4d91f)
Operating system: CentOS Linux 7
Exact command line resulting in the issue: cbmc struct_array.c
What behaviour did you expect: no invariant violation
What happened instead: invariant violation

cbmc symbolic simulation fails with an invariant violation in function rewrite_with_to_field_symbols when it tries to simulate the following c code:
[co

[2019-07-22 12:58] smowton commented on #4933
https://github.com/diffblue/cbmc/pull/4917 would fix this by virtue of deleting the offending code entirely -- @tautschnig @romainbrenguier @kroening would you mind reviewing?

[2019-07-22 13:01] smowton commented on #4933
(confirmed the given test program works fine with #4917)

[2019-07-22 15:32] xbauch opened #4937 "Non-deterministic initialisation of function pointers is broken"
[code]

CBMC version: 5.12 (cbmc-5.12-d8598f8-559-gfaf21d043-dirty)
Operating system: Ubuntu 18.04
Exact command line resulting in the issue: `$ cbmc main.c --function foo`
What behaviour did you expect: VERIFICATION FAILED
What happened instead: `assignment to 'symbol' not handled`

[2019-07-22 15:34] xbauch commented on #4937
[code]
This is what the generated entry-point looks like.

[2019-07-22 19:29] sayakray opened #4938 "Invariant Check failed while dumping the SMT formula"
CBMC version: 5.11
Operating system: Ubuntu
Exact command line resulting in the issue: ./cbmc <source files> -I <include files> --function <target function name> --smt2 --outfile myfile.smt
What behaviour did you expect: CBMC will prove/disprove properties and will dump the SMT representation of the program and proof objectives in myfile.smt
What happened instead: CBMC reported an invariant violat

[2019-07-23 18:49] andreast271 commented on #4933
https://github.com/diffblue/cbmc/pull/4917 works on the test program, but introduces a different problem on another test case, where the constant offset of a byte extract operation exceeds the width of the first operand. I am trying to get a self-contained test case for this problem.

[2019-07-25 11:10] smowton commented on #4933
@andreast271 I haven't been able to reproduce that with some fiddling around with byte-extract ops, any luck on that test-case? If you have a non-reduced test-case I'm also happy to have a go at minimising it myself.

[2019-07-25 11:16] andreast271 commented on #4933
The problem with offset exceeding the operand width is probably not a bug after all. It occurs in C code that has been automatically translated from C++. Which such code, function pointers cannot always be resolved statically or by constant propagation, so symex has to guess. Symex will then occasionally execute a method of a derived class on an object of the base class. This can easily lead to of

[2019-07-26 11:25] aishaaldosery opened #4952 "cbmc works only when there is a call to assert function?"
CBMC version: 5.6
Operating system: ubuntu
Exact command line resulting in the issue: timeout 10 cbmc testfile.c --unwind 5 --function Fake --z3 --outfile testfile.z3
What behaviour did you expect: to get some information in .z3 file
What happened instead: it's running without any error but the .z3 file is empty

filetest.c
int Fake(int w)
{
  if ((w >= w) && ((w % w) == 0))
    printf("YES");
  e

[2019-07-26 11:46] tautschnig commented on #4952
As a verification tool, CBMC requires some form of specification so that it knows what to prove. CBMC can auto-generate assertions, or use user-defined assertions. In absence of either of those there really is nothing for CBMC to do. You may have seen http://www.cprover.org/cprover-manual/cbmc/tutorial/ ?

[2019-07-26 11:52] aishaaldosery commented on #4952
"CBMC can auto-generate assertions", why it didn't in my case?

if I don't want to include the assertion, how could I solve this?
Sorry, I am new to cbmc

[2019-07-26 12:36] tautschnig commented on #4952
See the tutorial that I linked in my earlier message for command-line options such as `--bounds-check`, etc.

Sorry, I am new to cbmc

We'd be more than happy to help you get started, but would you mind telling us what you are trying to achieve?

[2019-07-27 01:09] tautschnig commented on #4892
Here's how we implemented this in C Common: https://github.com/awslabs/aws-c-common/blob/1a2050eed4c1f9e02105e7d22743b0e7b8598691/include/aws/common/zero.h#L44

[2019-07-29 11:57] karkhaz opened #4956 "CMake build failure on macOS: __libcheck.c:4:10: fatal error: 'err.h' file not found"
[Edit] **Current status:** the workaround to this bug is to set the absolute path to the compiler when configuring CBMC, like this:
[code]
____
original bug report follows
____

CBMC fails to build with CMake on macOS. For some reason, building using the Makefile in the src directory works.

I've been unable to find a commit that broke this, and I also recently updated my system (both macOS itself

[2019-07-29 12:05] tautschnig commented on #4956
It seems that `/Library/Developer/CommandLineTools/usr/bin/clang` has different behaviour than using `/usr/bin/clang`. The latter processes a file containing just `#include <err.h>` just fine, the former fails in the way that you describe.

[2019-07-29 12:12] tautschnig commented on #4956
Running both commands with `-v` is actually pretty revealing. It seems `/Library/Developer/CommandLineTools/usr/bin/clang` has basically nothing in its search path. I'm not sure this is actually meant to be invoked directly?

[2019-07-29 12:17] karkhaz commented on #4956
Thank you! Confirming that this works:
[code]
You're right about the search path. I don't know why the /Library clang is being invoked, it's not on my `$PATH`, and `which` seems to find the right one...
[code]
Is the fix here to hardcode the `/usr/bin` path in `CMakeLists.txt` if we detect that we're running on macOS? That seems ugly, I can't think of anything else, and I also can't discount that

[2019-07-29 12:19] tautschnig commented on #4956
Maybe from your CMake logs you can figure out how it came to pick that path?

[2019-07-29 12:27] karkhaz commented on #4956
The logs aren't that helpful, they mention what compiler was used but don't really give a clue to why. I'm now wondering if CMake was upgraded together with my command-line tools? My CMakeVersion is 3.15.0, perhaps a new version of CMake introduced a bug where it looks in the wrong place?
[code]

[2019-07-29 18:46] karkhaz commented on #4956
Closing this, as I haven't made progress and it may well be a unique problem with my machine.

[2019-07-30 14:26] angelhof commented on #4892
Thanks @tautschnig :)

[2019-07-30 14:26] #4892 closed, assigned to nobody

[2019-07-31 10:05] smowton commented on #4882
Fixed by #4964

[2019-07-31 10:05] #4882 closed, assigned to nobody

[2019-08-02 09:01] dlohar commented on #4956
I have the same issue on MacOS 10.14.5 with CMake 3.15.1. I have the "err.h" file in the exact same location as mentioned here.

[2019-08-02 15:40] smowton opened #4978 "Snapshot-harness may initialise variables in the wrong order"
When snapshot-harness tries to set up aliasing pointers, it may use the name of one of the aliases to set up the other. For example, when working correctly it might generate:
[code]
But when generating those same assignments it might emit them in the wrong order, as it appears to expect that their RHS values are independent, leading to:
[code]

Since `x` is a global variable this leads to y being

[2019-08-06 00:04] tautschnig opened #4988 "Various uses of simplify_node are unnecessary or wrong"
See #4982 for comments, this issue is just for tracking purposes.

[2019-08-07 08:40] #4952 closed, assigned to nobody

[2019-08-09 12:42] xbauch opened #5002 "Tracking pointer-members across bi-recursion is broken"
[code]

CBMC version: 5.12 (cbmc-5.12-d8598f8-758-g719e9a985)
Operating system: Ubuntu 18.04
Exact command line resulting in the issue: `cbmc main.c --unwind 11 --unwinding-assertions`
What behaviour did you expect: The unwinding assertion to succeed
What happened instead: The unwinding assertion fails

Note that:
1: removing the (unused) integer member `datum` fixes the issue
2: inlining the bi-r

[2019-08-11 14:17] markrtuttle opened #5004 "Unexpected behavior with __CPROVER_assume and circular data structures"
CBMC version: 5.12 (cbmc-5.12-d8598f8-767-g06ef36d45)
Operating system: macOS Sierra 10.12.6
Exact command line resulting in the issue: goto-cc demo.c; cbmc --trace a.out
What behaviour did you expect: CBMC would succeed
What happened instead: CBMC fails with a trace of an assertion failure.

The attached file [demo.c.zip](https://github.com/diffblue/cbmc/files/3490078/demo.c.zip) demonstrates wha

[2019-08-15 10:45] romainbrenguier opened #5022 "C frontend issue with arrays that are declared without a length"
As noticed in this PR https://github.com/diffblue/cbmc/pull/4680#discussion_r310990046
in the example https://github.com/diffblue/cbmc/blob/develop/regression/cbmc/Global_Initialization2/main.c
the type of the array (which is declared without a length and not defined) is created with undefined length and then attached to various expressions from which the goto program is constructed. The implement

[2019-08-22 16:38] danielsn opened #5052 "CBMC handles assumption incorrectly, leading to spurious null dereference"
CBMC version: 5.12 (cbmc-5.12-d8598f8-709-gf2742bad2)
Operating system: OSX 10.12.6
Exact command line resulting in the issue:
1. clone the repo and branch https://github.com/danielsn/aws-encryption-sdk-c/tree/cprover-5052
1. Make sure you're on branch cprover-5052
1. `cd .cbmc-batch/jobs/aws_cryptosdk_edk_init_clone.`
1. `make report`

What behaviour did you expect: When I run the code with the d

[2019-08-22 16:46] tautschnig commented on #5004
@smowton Would you be able to take a look at this? The problem is (also) reproducible by using `--no-propagation` and really seems to boil down to symex not having any candidate values in the value set for `structb1` in `struct structB  *structb2 = (struct structB *)(structb1->structB_member1);` - which is not too surprising given that there is no assignment to the underlying object.

[2019-08-22 16:49] tautschnig commented on #5052
Likely the same issue as #5004.

[2019-08-25 00:02] karkhaz commented on #4956
Confirming that this error exhibits on a brand-new machine running macOS 10.14.6. I still don't understand why.

The workaround is still to build using
[code]
at some point, I'll try to change the CMake files to hardcode this path to clang if the OS version is >= 10.14.5. Unless somebody figures out what the actual problem is, but I'm pretty flummoxed. I'm also not ruling out that it's a recent CM

[2019-09-03 13:56] dominic-mulligan-arm opened #5080 "CBMC invariant failure in lower_byte_extract"
CBMC version: 5.12 (cbmc-5.12-d8598f8-951-g73e410ab6)
Operating system: macOS 10.15 Catalina
Exact command line resulting in the issue: cbmc -I<include-path> -unwind 2 -D CPROVER_FORMAL --bounds-check --pointer-check --memory-leak-check --div-by-zero-check --signed-overflow-check --unsigned-overflow-check --pointer-overflow-check --conversion-check --undefined-shift-check --float-overflow-check --

[2019-09-04 11:05] owen-mc-diffblue opened #5084 "goto_check takes a long time even if it isn't needed"
goto_check creates a local_bitvector_analysist even if it won't be needed because none of the command line options that are dealt with in goto_check have been set. As the code you are analysing gets large, this begins to take a long time, e.g. 30s in the last example I looked at. I suggest that goto_check should make its local_bitvector_analysist lazily, so it's only constructed if it's actually u

[2019-09-04 15:20] smowton commented on #5004
Acknowledged, I do intend to look at this though may not find time before my holiday 9th-20th September.

[2019-09-06 08:46] yumibagge opened #5093 "Pointer to struct with flexible array member as parameter to entry point causes invariant violation"
CBMC version: 5.12 (cbmc-5.12-d8598f8-953-g7fabc9d69)
Operating system:Ubuntu 18.04.2 LTS
Exact command line resulting in the issue: cbmc flexible_member_array.c --function testFunc
What behaviour did you expect: no invariant violation
What happened instead:invariant violation occurs as follows

[code]
input C (initial example was simplified thanks to the review by @danpoe :slightly_smiling_face:)

[2019-09-07 00:18] markrtuttle opened #5096 "__CPROVER_w_ok is wrong with large object offsets"
CBMC version: CBMC version 5.12 (cbmc-5.12-d8598f8-979-gfc0a0cd57) 64-bit x86_64 macos
Operating system: MacOS
Exact command line resulting in the issue: cbmc  --object-bits 7 --32 --trace demo.c
What behaviour did you expect: verification successful
What happened instead: verification failure

The final ```__CPROVER_w_ok``` assertion in the attached [demo.c](https://github.com/diffblue/cbmc/files

[2019-09-07 15:47] smowton commented on #5004
OK, confirmed, the cause is that the value of `STRUCTB->structB_member1` is never explicitly assigned, only implied via an assumption. That means that while solver figures out what it must be, the value-set (alias analysis) used in lowering pointer operations into concrete object references doesn't know where it might point, and offers `structb2$object` as a stand-in for the unknown pointer value.

[2019-09-07 21:14] ghost opened #5099 "Noob question"
I'm trying to use CBMC to find such an inputs for a function so that it will return, say, "true" or 1.
Like this:

    bool f(char *a, char *b)
    {
        return atoi(a)==123 && atoi(b)==456;
    };

What should I do?

[2019-09-08 06:53] Ryuanxue opened #5100 "loop problems"
Hello, I'd like to ask you about the solution to the loop problems.
If a project contains about hundreds of loops, do I need an upper bound for each loop? If so, it is difficult to determine the upper bound for each loop. How to solve this problem?  I use --unwindset as follows:

cbmc main1.c --unwindset main.2:1,yylex.0:1,yylex.1:1,yylex.2:1,yylex.5:1,yylex.3:1,yylex.6:1,yy_get_previous_state.0:1

[2019-09-08 11:26] yumibagge commented on #4908
This issue is reproducible by mutating
`.../regression/cbmc/unsigned___int128/main.c` line 13 is changed from
`typedef limb felem[4]` -> `typedef limb felem[0]`

and run `cbmc main.c --unsigned-overflow-check --signed-overflow-check --function reduce`
cbmc version: (cbmc-5.12-d8598f8-953-g7fabc9d69)

[2019-09-10 20:03] tautschnig commented on #5096
I do wonder whether this actually is a bug. Pointer offsets are signed in general (in C) as subtraction from a pointer is well-defined (while within an object). That said, a negative object in CBMC's pointer representation not necessarily makes sense. @chrisr-diffblue Would you be able to kick off a discussion with @kroening to figure out whether treating offsets in the object:offset model as sign

[2019-09-11 09:56] andreast271 opened #5103 "goto-cc crashes on softfloat code using __int128"
CBMC version: gcc (goto-cc 5.12 (crest.merged-48-gabe78fc77-dirty)) 7.4.0
Operating system: 4.15.0-45-generic x86_64 GNU/Linux
Exact command line resulting in the issue: goto-cc sf.c
What behaviour did you expect: no crash
What happened instead: invariant failure

The following is a reduced version of the softfloat code causing the crash:
file sf.c:
[code]
command: `goto-cc sf.c`

output:
[code]

[2019-09-13 14:56] martin-cs commented on #1638
In case anyone is following this:

https://github.com/diffblue/cbmc/pull/5036 implements the general framework.

https://github.com/diffblue/cbmc/pull/5072 implements context sensitivity in general.

[2019-09-13 19:20] danielsn opened #5108 "sizeof shouldn't work for forward declared structs"
[code]

[code]

[code]
CBMC version:
Operating system:
Exact command line resulting in the issue:
What behaviour did you expect: I expected sizeof on an forward declared type to fail
What happened instead: CBMC decided it was 0, and gave no warning.

[2019-09-13 19:20] danielsn commented on #5108
@tautschnig

[2019-09-13 19:22] danielsn commented on #5108
Technically its Clang that complained, not gcc.
[code]

[2019-09-19 11:21] martin-cs commented on #5099
So there are a few things you will need.  First off you will need an assertion, because you need something to check -- you need to tell the tool that you want f to return 1.  Secondly you will need some kind of set up of the calling context.  If you tell cbmc to start somewhere other than main (using `--function f00`) then it will make the function inputs non-deterministic.  This is easy for basic

[2019-09-19 11:51] ghost commented on #5099
Thanks, I tried that, but couldn't find correct cbmc command options...

[2019-09-19 12:49] martin-cs commented on #5099
Which options did you use?  You might want `--trace` if you want the execution trace that causes the assertion to fail.

[2019-09-19 15:36] ghost commented on #5099
Thanks, let me try...

[2019-09-20 09:07] dlohar opened #5120 "__CPROVER_assume does not work for global variables"
CBMC version: 5.12
Operating system: Debian
Exact command line resulting in the issue: cbmc test.c
What behaviour did you expect: assertion violation
What happened instead: verification successful

Following is the test code.
[code]
If I keep the declaration of mass inside main, the assertion fails, but if I make it a global variable the verification becomes successful.

[2019-09-20 12:24] markrtuttle commented on #5096
Any progress?  The effect of this issue is that proofs are weaker (hold for smaller objects).

[2019-09-23 09:59] kroening commented on #5096
There is significant value in negative offsets in the representation: they enable you to neatly distinguish the case where a pointer gets decremented too much from the one where it gets incremented too much.

The real fix for this issue should be to remove the limitation to anything less than the width of pointers for offsets.

[2019-09-30 11:17] JagadeepSai opened #5135 "CBMC not accepting C++ program with iostream header"
g++ version : 5.4.0
CBMC version:5.11
Operating system:Ubuntu 16.04.11
Exact command line resulting in the issue: **cbmc temp.cpp**
What behaviour did you expect:
What happened instead: ERROR
[code]
File **temp.cpp** is
[code]

basic_stringbuf is defined in class sstream. But its unable to find it.

[2019-10-01 10:26] owen-mc-diffblue commented on #3046
Fixed by https://github.com/diffblue/cbmc/pull/5007

[2019-10-01 10:26] #3046 closed, assigned to nobody

[2019-10-04 23:10] polgreen commented on #5120
I believe this is because global variables in C are initialised as 0 and local variables are not. If you declare mass as a global, it is initialised to 0 and then the assume blocks all program paths.

From the manual: http://www.cprover.org/cprover-manual/modeling/assumptions/
"You must ensure that the condition given as an assumption is actually satisfiable by some nondeterministic choice, otherw

[2019-10-05 04:55] dlohar commented on #5120
Then how do I assume a range for the global variable? I tried adding an assumption after the global declaration, but that did not work.

[2019-10-05 05:15] polgreen commented on #5120
If you need to assume the global takes some value in a range, you could initialise the global by assigning to it with a function with no body, which makes it a nondeterministic value, like this:

[code]

An assumption btw won't override the behaviour of the C program, it only restricts it. That's why it passes vacuously if you put that assumption on an uninitialised global. In C, the uninitialised

[2019-10-07 10:11] dlohar commented on #5120
This works. Thanks.

[2019-10-07 10:11] #5120 closed, assigned to nobody

[2019-10-07 18:20] F3real opened #5153 "goto-gcc fails to compile simple C program - Conversion error"
Trying to compile following code fails with conversion error:
[code]
Resulting output:
[code]

Program compiles fine with **gcc 9.1.0**.
Example may look a bit contrived but it is simplified testcase of issue I encountered trying to run CBMC on [radare](https://github.com/radareorg/radare2) .

CBMC version: **goto-cc 5.12 (cbmc-5.12-d8598f8-1166-gaca06bd9e) 64-bit**
Operating system: Manjaro
Exact

[2019-10-08 07:53] kroening commented on #5153
Many thanks for reporting -- I've made a PR with a KNOWNBUG test.

[2019-10-08 21:02] kroening commented on #5153
#5154 now has a candidate bugfix.

[2019-10-10 19:15] martin-cs commented on #5099
@DennisYurichev : any joy?

[2019-10-11 16:10] hannes-steffenhagen-diffblue commented on #5103
This is caused by the implicit promotion of the boolean `a < 1` to `__int128` failing because the promotion code assumes that what it's getting is going to be a bitvector already (and our internal `bool` type is its own thing rather than a bitvector)

[2019-10-12 11:08] tautschnig opened #5161 "CBMC solver iteration counting has off-by-one error"
CBMC version: 5.12-d8598f8-1211-gafac9c7
Operating system: Linux (Ubuntu 16.04)
Exact command line resulting in the issue: cbmc assertion.c --function quartile
What behaviour did you expect: CBMC printing "** 1 of 1 failed (1 iteration)" (as it did in the past)
What happened instead: CBMC prints "** 1 of 1 failed (2 iterations)"

Here is the full output:
[code]

For all that I can tell there only

[2019-10-12 17:41] peterschrammel commented on #5161
Hm... interesting. It seems I've changed the semantics of `iterations`.

The current semantics is 'how many times did I call `incremental_goto_checkert`, which might not coincide with the number of solver calls when no call was needed to determine that all work has been done (like in your case: 1st iteration: found violation, 2nd iteration: all properties decided). When refinements were enabled th

[2019-10-18 14:25] stefanodallapalma opened #5165 "Error 'The program has no entry point' on goto-binary either with and without main(), although --function is given"
I obtained the above error while following this [guide](https://svn.cprover.org/svn/cbmc/trunk/doc/html-manual/goto-cc-apache.shtml) but using a different version of httpd and apr, namely:
- httpd-2.4.41
- apr-1.7.8
- apr-util-1.6.1

The above error can be replicated as follows from a Docker image.

Extract apache-httpd.zip (you can download the folder [here](https://drive.google.com/open?id=1fbNG

[2019-10-18 16:18] stefanodallapalma commented on #5165
[code]
The problem was the ```-c``` option in the line ```goto-cc -c $a -o $a.gb```

Removing it resolves the problem.

[2019-10-18 16:18] #5165 closed, assigned to nobody

[2019-10-18 21:20] tautschnig commented on #5153
Fixed via #5154.

[2019-10-18 21:20] #5153 closed, assigned to nobody

[2019-10-29 07:24] emptylambda opened #5169 "glucose-download requires SSL"
Hello glucose dev team,

Thank you for developing & maintaining the system.
I've stumbled upon SSL issue while using the `glucose-download` inside Makefile

[code]
Operating system: osx

Maybe this issue should be resolved from the glucose side with an alternative tar?

Thank you in advance and Best Regards
Jeff

[2019-10-31 19:57] polgreen commented on #203
Could anyone give me an update on this? I am managing to create verification cases where the quantifiers are ignored and the verification spuriously passes, but I'm not sure if that is down to the way I'm building my exprt's, or something related to this issue.

[2019-11-01 15:38] martin-cs commented on #203
As far as I know, little has changed.  Michael wrote 38fd81ac26a62e48e4f74c8580297404a88ad4fc at the start of the year which should tidy things a bit but the architecture remains the same.  The native CPROVER back-end can only solve existential problems.  Have you tried with any of the SMT back-ends?  Are you are still getting the `warning: ignoring forall` message?  On older versions this did ind

[2019-11-01 15:53] martin-cs commented on #5169
( FWIW we aren't the glucose dev team, we just use it. )

Thank you for reporting this.  I have tried to reproduce but it seems to work on Linux and I don't have an OS X machine.  Maybe @chrisr-diffblue or @thk123 can help?  I think they are Mac users.

[2019-11-02 16:31] kroening commented on #5169
This is a problem with Apple's Perl setup.
http://blogs.perl.org/users/vsespb/2014/07/broken-lwp-in-the-wild.html
Consider using `curl` instead of lwp-download.

[2019-11-04 10:30] chrisr-diffblue commented on #5169
Confirmed, this happens on both OSX 10.14.6, and OSX 10.15.1 for me.

[2019-11-06 11:18] markrtuttle opened #5173 "goto-analyzer says __sputc is reachable in empty program"
CBMC version: 5.12 (cbmc-5.12-d8598f8-1270-g1ea1ede98)
Operating system: MacOS
Exact command line resulting in the issue:  goto-analyzer --reachable-functions test.goto
What behaviour did you expect: Report main and __CPROVER_initialize reachable
What happened instead: Got also __sputc from stdio.h

I need help debugging odd behavior on MacOS.  Consider the file test.c below.

[code]

Run the comm

[2019-11-06 11:26] tautschnig commented on #5173
This would require #2481 to be completed: `__sputc` is a function defined in stdio.h marked `__attribute__((always_inline))`, which we currently ignore.

[2019-11-13 21:38] danielsn opened #5185 "Multiple calls to unwindset should be legal"
CBMC version:
[code]
Operating system:
[code]
Exact command line resulting in the issue: ` cbmc --unwind 1 --unwindset main.0:11 --unwindset main.1:11 test.c`
What behaviour did you expect: I expected both unwindsets to be honoured.
What happened instead: Only the first one was

Test program:
[code]

[code]

[code]

[2019-11-13 21:39] danielsn commented on #5185
@karkhaz @tautschnig

[2019-11-13 22:08] karkhaz commented on #4956
I haven't had time to look into this, but I'll point out that I've been ramping up new CBMC users over the past few months, and they've all experienced this issue

[2019-11-14 17:10] kroening commented on #5185
Please try #5186

[2019-11-15 15:38] danielsn commented on #4701
@tautschnig may have solved this already; if so, feel free to close the ticket

[2019-11-15 22:08] peterschrammel opened #5191 "Thread ID in unwindset is not documented"
See https://github.com/diffblue/cbmc/pull/5186/files#r346841016

[2019-11-15 22:09] peterschrammel opened #5192 "Unwindset accepts invalid arguments"
See https://github.com/diffblue/cbmc/pull/5186/files#r346841454

[2019-11-19 10:57] karkhaz commented on #4956
@chrisr-diffblue this is the macOS build issue that I mentioned.

[2019-11-19 11:06] chrisr-diffblue commented on #4956
Thanks @karkhaz - yes, this is the same behaviour I've found. I've not entirely figured out what happens here, but I believe it is an issue with Apple's developer tools, possibly when you have a combination of CommandLineTools and XCode installed, and how Apple handle their system frameworks. I use a similar workaround (`-DCMAKE_CXX_COMPILER=clang++ -DCMAKE_C_COMPILER=clang` where `/usr/bin` is on

[2019-11-20 20:10] danielsn opened #5194 "__CPROVER_w_ok has weird behaviour"
Since `y > x`, it should be true that `!__CPROVER_w_ok(a, y)` is always false.  However, if you assert this fact, you get an assertion violation.

[code]

[code]

[code]

[2019-11-20 20:13] danielsn commented on #5194
Most likely related to the issue in https://github.com/danielsn/s2n/tree/cbmc_issue_5194 on the s2n/tests/cbmc/proofs/s2n_stuffer_init proof
@tautschnig

[2019-11-25 09:18] #3981 closed, assigned to peterschrammel

[2019-11-25 19:27] martin-cs opened #5197 "Source code text changes to the abstract interpreter"
As part of the reviews for #5036 there were a number of requests for changes to the text of the source-code of the abstract interpreter.  This is an issue to track them and discuss what people would like:

1. @hannes-steffenhagen-diffblue and @chrisr-diffblue do not like single letter variable names and want them changed.

2. @peterschrammel Wants consistency on the terminology used:
[code]

3. @s

[2019-11-25 19:37] #2864 closed, assigned to peterschrammel

[2019-11-27 13:10] martin-cs commented on #1638
Both PRs merged; I think this is done.

[2019-11-27 13:10] #1638 closed, assigned to nobody

[2019-12-20 19:43] markrtuttle opened #5207 "Built-in function returns hidden in json and xml traces"
CBMC version: 5.12 (cbmc-5.12-d8598f8-1368-g5e956891d)
Operating system: MacOS
Exact command line resulting in the issue:
What behaviour did you expect: malloc function return is not hidden
What happened instead: malloc function return is hidden

CBMC traces output by --json-ui and --xml-ui declare the malloc function call to be not hidden and the malloc function return to be hidden.  This makes i

[2019-12-20 19:44] markrtuttle commented on #5207
[test.c.zip](https://github.com/diffblue/cbmc/files/3989966/test.c.zip)

[2020-01-10 01:06] Smattr commented on #4206
Is there a work around for this? I hit something that looks like the latter failure (`converting SSA map::at`) when using the SMT2 back end on cbmc-5.12-d8598f8-1368-g5e956891d. My example does not use flexible array members and I have not attempted to minimise it, but can do so if you think it's a different issue.

[2020-01-15 15:08] xbauch opened #5213 "Structhack support is broken"
[code]

CBMC version: 5.12 (develop)
Operating system: ubuntu 18.04
Exact command line resulting in the issue: `$> cbmc main.c`
What behaviour did you expect: all assert succed
What happened instead: the last assert fails

We already have a regression test (`cbmc/Pointer_byte_extract5`) that expoits the undefined behaviour (originating from SV-COMP), so I guess if we want to keep it around we shou

[2020-01-15 15:34] hannes-steffenhagen-diffblue commented on #5213
FWIW the C standard only really allows this sort of thing for flexible array members, which can not have a size.

[2020-01-27 16:51] jparsert opened #5216 "Warning (treated as error) when compiling with instruction in Compiling.md"
When running `make -C src`

I ran into the following warning which is being treated as an error.

g++ -c -DSATCHECK_MINISAT2 -MMD -MP -std=c++11 -O2 -DHAVE_MINISAT2 -Wall -pedantic -Werror -Wno-deprecated-declarations -Wswitch-enum  -I .. -o complexity_limiter.o complexity_limiter.cpp
complexity_limiter.cpp: In member function ‘bool complexity_limitert::are_loop_children_too_complicated(call_stack

[2020-01-28 14:49] thk123 commented on #5194
This is tracked internally by ADA-450

[2020-01-28 14:50] thk123 commented on #5185
This is tracked internally by ADA-451

[2020-01-29 13:37] chrisr-diffblue commented on #4956
I'm told that on macOS 10.14 the following command will resolve the issue:
`sudo installer -pkg /Library/Developer/CommandLineTools/Packages/macOS_SDK_headers_for_macOS_10.14.pkg -target /`
I'm currently on macOS 10.15 (so I can't test the above - but @peterschrammel has used that command), and there doesn't appear to be a separate headers pkg like that for 10.15. So for 10.15 the solution still s

[2020-01-29 13:43] andyp1per commented on #4956
I am told that something like ```sudo ln -s `xcrun --show-sdk-path`/usr/include /usr/local/include``` might fix. But has not worked for me so far!

[2020-01-29 13:46] chrisr-diffblue commented on #4956
Yuck :-) I really don't think adding symlinks should be the way to go :-)

[2020-01-29 13:48] andyp1per commented on #4956
Or maybe
```export CPATH=`xcrun --show-sdk-path`/usr/include```

[2020-01-29 18:24] #5185 closed, assigned to nobody

[2020-01-31 12:57] danpoe commented on #5194
This behavior is due to how bounds checking for dynamically allocated memory is implemented in cbmc.

The model for `malloc()` in cbmc looks essentially as follows:

[code]

The nondeterministic switch controls whether the address and size of the memory block allocated in this particular invocation of `malloc()` are recorded.

The condition `__CPROVER_r_ok(a, size)` checks the following (simplifie

[2020-02-04 15:36] karkhaz commented on #5194
Here's another example that @danielsn and I came up with:

[code]

This assertion fails. It also fails if you change the `==` into `!=`.

[2020-02-04 16:05] danpoe commented on #5194
This behavior is due to how `__CPROVER_r_ok()` is implemented. At present, the only useful way to use the primitive is as `assert(__CPROVER_r_ok(x, size))`. That's why we should probably at some point replace `__CPROVER_r_ok()` with a new primitive `__CPROVER_assert_r_ok()` which directly asserts the condition (instead of just returning a boolean).

[2020-02-04 21:49] tautschnig commented on #4937
I believe this has been fixed in #4940. @xbauch Would you please confirm and close this issue? And perhaps review #5209?

[2020-02-05 08:06] xbauch commented on #4937
Fixed by #4940.

[2020-02-05 08:06] #4937 closed, assigned to nobody

[2020-02-06 15:53] danielsn commented on #4701
Note: the current overflow primitives lead to a significant performance cost when used in the naïve way, since they require the user to do a multiplication, keep the overflow bit but throw away the result, and do it again to get the result.  Fixing this would help performance.

[2020-02-06 15:59] martin-cs commented on #4701
Maybe.  In some cases the back-end will cache the two things back together.  More importantly though, there are way better encodings of multiply overflow check than doing the full multiply.

[2020-02-06 18:35] polgreen opened #5227 "check-invariant option doesn't exist anymore but is still in the help file"
The check-invariant cmdline option is in the help file of goto-instrument and isn't actually implemented. Not sure if it got removed at some point or was never implemented.

CBMC version: 5.12 (cbmc-5.12-d8598f8-1417-gcccdfd9ba)
Operating system: MacOS

The command line option  ` --check-invariant function   instruments invariant checking function\n"` is outputted when i run `goto-instrument --hel

[2020-02-06 18:52] danielsn commented on #5194
The example I mentioned today:
[code]

[code]

[2020-02-07 10:35] xbauch commented on #5108
Hi @danielsn, we think the PR #5211 fixed the issue. Could you please confirm that?

[2020-02-07 10:38] hannes-steffenhagen-diffblue commented on #4701
@martin-cs What are the way better encodings for multiply overflow check?

[2020-02-07 17:44] martin-cs commented on #4701
@hannes-steffenhagen-diffblue Somewhere there is a Z3 paper from ... '09 or so with a more compact encoding but, as it's Friday, let's see what we can do in a comment.

First do the unsigned case as it's easier.  Assume bit-vectors are length n.  Consider the easy cases first:
*. If either `x` or `y` is 1 or 0 then it trivially it doesn't overflow.
*. If both are under `sqrt(2^n - 1)` then it triv

[2020-02-07 17:46] martin-cs commented on #5227
Ooops!  I wish I could say I was surprised but ...  Want to write the patch to remove it or should I?

[2020-02-08 00:57] polgreen commented on #5227
I'll remove it

I don't suppose anyone remembers if this code ever existed and what it did though/how it did it though?

[2020-02-10 08:18] martin-cs commented on #5227
On Fri, 2020-02-07 at 16:57 -0800, E Polgreen wrote:

git blame suggests that the person to ask is Daniel in 2012.  IIRC
there was a project that finished around then with University of
Manchester and Airbus that used some kind of contracts on code
sections.  Possibly it was for that?  If not then I think 2012 is
around the start of goto-instrument as a separate tool and towards the
end of satabs

[2020-02-11 14:31] danpoe commented on #5194
Thanks for the example. After looking further into this, it turns out that all uses of `__CPROVER_r_ok(p, size)` other than `assert(__CPROVER_r_ok(p, size))` are not expected to work at the moment due to the way it is implemented. In most cases, it should be possible to model the behavior using other CPROVER primitives, e.g. for the provided example:

[code]

[2020-02-12 20:11] mww-aws commented on #5194
It is obvious this is how it is currently implemented, so whether you consider it a bug or not depends on whether you consider design issues.

To me, this is not a useful definition in full generality.  What is required here is a mechanism for getting the size of an allocated pointer.  Rather than `__CPROVER_malloc_size`, we need `__CPROVER_malloc_size(a)` where a is a pointer in the program.  If

[2020-02-13 00:31] karkhaz commented on #5194
@danpoe is this something that somebody at Diffblue could work on implementing, or give me some pointers on how to get started? This is feature is vital to us–we'll need a predicate that does the right thing when used in an assume (so `__CPROVER_assert_r_ok()` wouldn't work, we do need something that returns a boolean).

So the required behavior would be: if we *assume* that a pointer `p` points t

[2020-02-13 13:56] hannes-steffenhagen-diffblue commented on #5135
Current C++ support is rudimentary/experimental. Most C++ programs will not work. While unfortunate, I wouldn’t expect this to change in the short term.

[2020-02-27 11:08] xbauch commented on #4604
@danielsn Now that #5210 was merged, this may be resolved. Please have a look at `doc/cprover-manual/properties.md` for description of the user-options that enable `malloc` to fail here.

[2020-03-02 16:52] tautschnig commented on #5194
@danpoe @karkhaz @danielsn Should this one be closed now that #5247 has been merged? Though perhaps this should be done with an additional regression test that actually uses assumes. How about this one, which would not previously have worked:
[code]

[2020-03-02 18:03] mww-aws commented on #5194
Two further questions:

  1.  Are the __CPROVER_r_ok and __CPROVER_w_ok functions fixed?
  2.  If so, can we continue to use them (rather than use workarounds) for assumptions?

Thanks,

Mike

From: Michael Tautschnig <notifications@github.com>
Reply-To: diffblue/cbmc <reply@reply.github.com>
Date: Monday, March 2, 2020 at 10:55 AM
To: diffblue/cbmc <cbmc@noreply.github.com>
Cc: "Whalen, Mike" <mw

[2020-03-02 18:36] karkhaz commented on #5194
@tautschnig @mww-aws let's not close this quite yet. I haven't had a chance to play with #5247 yet, but @danpoe mentioned that it's only a partial fix.

I haven't studied how it works, but it does work on [my example with the two `r_ok`s in an assert](https://github.com/diffblue/cbmc/issues/5194#issuecomment-581967762), but it does not work on [@danielsn 's example that accesses a 10-length buffer

[2020-03-04 00:12] andreast271 opened #5254 "CBMC crash during lowering of byte_update expression originating from memcpy()"
CBMC version: 5.12 (cbmc-5.12-51-g051911e31)
Operating system: Linux x86_64
Exact command line resulting in the issue: cbmc memcopycrash.c
What behaviour did you expect: program finished successfully
What happened instead: Invariant check failed

Source file memcopycrash.c:

[code]

Backtrace is attached.
[backtrace.log](https://github.com/diffblue/cbmc/files/4284308/backtrace.log)

[2020-03-04 11:42] hannes-steffenhagen-diffblue opened #5256 "`c_typecheck_expr` does not work with compound literals"
This somehow gets avoided most of the time, but I don’t suppose there’s a good reason why it wouldn’t work?

I think this would “fix” it by basically doing nothing.
[code]

CBMC version:
Operating system:
Exact command line resulting in the issue:
What behaviour did you expect:
What happened instead:

[2020-03-04 20:47] karkhaz commented on #5194
I had a chat with @danpoe, writing down notes for the record:

- This bug apparently only occurs when we assume `r_ok` or `w_ok` on pointers that had not previously been initialized. This is because when a pointer is defined without being initialized, CBMC marks it as being INVALID. Any subsequent assignment (including to NULL) removes this INVALID flag. This is implemented in `local_bitvector_ana

[2020-03-06 07:56] PhilippWendler opened #5260 "Webpage and releases are confusing and incomplete"
The information about which CBMC version is the latest and how to get it is incomplete and inconsistent, and there are no binaries of the latest version:

- The last version advertised via the [mailing list](https://groups.google.com/forum/#!forum/cprover) was version **5.10**.
- The [website](http://www.cprover.org/cbmc/) says `NEW: Version 5.11 released`.
- The [website](http://www.cprover.org/c

[2020-03-09 03:14] DanielG opened #5263 "Writing to a value via a pointer fails in some circumstances"
CBMC version: 9ee5b9d68324791c00a0493492eae5e3ebff6cdb (develop), also reproducible on 5.11 and 5.10 (from Debian) to an extent
Operating system: Debian amd64

The program below is a minimal reproducer of a problem I encountered while trying to verify a uC program of mine. I have found three "fixes" to get the program to verify one of which only works on develop, see the comments.

Test program:

[2020-03-10 06:17] PhilippWendler opened #5264 "Invalid assumptions and invariants in witnesses of CBMC"
When looking at a [CBMC witness](https://sv-comp.sosy-lab.org/2020/results/fileByHash/c69f30b31dd3676d23cfa5c4863c82d5fd1e1068eb431f5175a4af0fd512daf1.graphml) from SV-COMP, one can see that there are several circumstances where CBMC adds invalid assumptions that violate the [rules of the witness format](https://github.com/sosy-lab/sv-witnesses) for `assumption` and `assumption.scope`.

1. Initial

[2020-03-12 12:47] PhilippWendler opened #5267 "Option --os is documented but does not work"
The command line option `--os` is shown in the help output of CBMC:
[code]
It is also mentioned in the man page.

However, it does not work:
[code]

CBMC version: 5.12
Operating system: Linux

I guess the fix is to add `(os):` to the end of the string in this line:
https://github.com/diffblue/cbmc/blob/c7bb936374e78fcfaecff5f8290e161c2b17bcd6/src/cbmc/cbmc_parse_options.h#L75
However, am I not sur

[2020-03-12 14:17] PhilippWendler opened #5268 "Clarify options regarding architecture selection"
After having a look at [src/util/config.cpp](https://github.com/diffblue/cbmc/blob/cbmc-5.12/src/util/config.cpp) and playing around with the options a little bit, it seems that the best way to set the target architecture for CBMC is with `--arch` and to never use `--32`, `--64`, `--LP64` etc. because `--arch` sets not only the appropriate type widths but more than that.

For example, if I run `cb

[2020-03-15 14:02] giltho opened #5271 "Analysis doesnt start, cannot unpack array of non-const size (SAT encoding error ?)"
Hi !

CBMC version: 5.11 (cbmc-5.11)
Operating system: macOS 10.15.3
Exact command line resulting in the issue: `cbmc array_test_add.c --unwind 50 --function main`
What behaviour did you expect: Expected analysis to be successful
What happened instead: Analysis didn't start, died before.

I am trying to use cmbc to run [this test](https://github.com/GillianPlatform/collections-c-for-gillian/blob/c

[2020-03-16 20:52] karkhaz opened #5272 "goto-cc isn't aware of cbmc's --object-bits setting"
This seems to be a CBMC bug introduced by [PR 5210](https://github.com/diffblue/cbmc/pull/5210).

The issue exhibits when running the [s2n proof for `stuffer_resize_if_empty`](https://github.com/awslabs/s2n/pull/1408). The command is:
[code]
which emits this warning:
[code]
The problem is that we're running CBMC with `--object-bits 6`, which sets `max_malloc_size` to `8399608ul` (`0x800 000`). How

[2020-03-19 15:14] danielsn opened #5275 "CBMC does not warn when indexing off a void*"
[code]

CBMC version: `5.12 (cbmc-5.12-104-g97993174d)`
Operating system: OSX
Exact command line resulting in the issue:
[code]
What behaviour did you expect: I expected it to say that you can't index using a `void*`, since void has no size
What happened instead:
[code]

[2020-03-19 15:21] danielsn commented on #5275
according to 6.5.2.1 array dereference requires a pointer to a complete object type. void is an incomplete object type that cannot be completed (6.2.5.19)

[2020-03-19 17:28] tautschnig commented on #5275
@danielsn While there is no question about 6.5.2.1 in the C standard, I don't think that this applies anywhere in the example that you posted above? The only candidate would be `&p[1]`, but taking the address of a dereference always cancels out, irrespective of whether the dereference would be valid or not.

[2020-03-31 18:16] danpoe opened #5284 "Spurious pointer overflow check failure"
[code]

CBMC version: 7e27cb2d46090c5fd08236327d3d95a404d4a6a7
Operating system: Ubuntu 16.04
Exact command line resulting in the issue: `cbmc --pointer-overflow-check test.c`
What behaviour did you expect: verification successful
What happened instead: spurious pointer overflow check failures

Regression test PR: #5283

[2020-04-02 12:42] hannes-steffenhagen-diffblue commented on #5275
@tautschnig I'm not sure that's necessarily true in this example; To get the address you need to compute the offset, and you can't because `void` is incomplete.

gcc and probably other compilers though have a hack where they just declare `sizeof(void) == 1` because a lot of code incorrectly treats `void*` equivalent to `char*`, so I'm not sure this is an error. Maybe there should be a warning, but

[2020-04-10 13:57] markrtuttle opened #5292 "goto-instrument --nondet-static-exclude fails on static locals"
CBMC version: 5.12 (cbmc-5.12-d8598f8-1432-g3d9133078)
Operating system: MacOS and Linux
Exact command line resulting in the issue: See examples below
What behaviour did you expect: exclusion of x from nondet static
What happened instead: failure when x is a statically scoped local

Consider the programs main1.c and main2.c (attached) with a static variable x: it is a global in main1 and a local i

[2020-04-10 19:30] danielsn opened #5293 "CBMC dumps core on simple example"
test.c is:
[code]

CBMC version: `CBMC version 5.12 (cbmc-5.12-156-g8911c0adb) 64-bit x86_64 macos`
Operating system: OSX
Exact command line resulting in the issue: `cbmc  --bounds-check --div-by-zero-check --float-overflow-check --nan-check --pointer-check --pointer-overflow-check --signed-overflow-check --undefined-shift-check --unsigned-overflow-check --unwind 1 --unwinding-assertions test.c`
W

[2020-04-10 19:45] danielsn commented on #5194
If the constraints are contradictory, how come the `assert(0)` in this example is reachable?

[code]

[2020-04-10 19:48] danielsn commented on #5194
The fact that this fails on `5.12 (cbmc-5.12-156-g8911c0adb)` suggests that https://github.com/diffblue/cbmc/pull/5247 didn't fix all the issues.

[2020-04-10 20:26] karkhaz commented on #5194
I believe that #5247 was never intended to fix this, it's supposed to fix negative uses inside an assert rather than positive uses inside assume.

But otherwise you're right: the fact that the `assert(0)` fails, but the possibly-null dereference of `p` is not caught, seems to refute the suggestion that `r_ok` inside `assume` causes contradictory assumptions. There must be more going on here.

@dan

[2020-04-10 21:10] karkhaz commented on #5292
The [regression test for this feature](https://github.com/diffblue/cbmc/blob/develop/regression/goto-instrument/nondet_static_exclude/test.desc#L3) shows that you're expected to pass a filename to that flag, like `main.c:main::1::x`.

However, the code doesn't seem like it would work in many cases at all, it basically assumes that the file is in the current directory. This doesn't work if you want

[2020-04-14 12:32] danpoe commented on #5194
We can distinguish between the semantics of the program, and cbmc's implementation of the semantics (which may be slightly overapproximate). According to the semantics, the above program would not be able to execute past the assume. However, due to cbmc's overapproximate behavior in that case, there are spurious executions in the encoding that can get past the assume, hence the `assert(0)` can fai

[2020-04-14 13:46] mww-aws commented on #5194
Daniel,

We want a generic, foolproof way of detecting inconsistent assumptions on any program.  Is there a good way to do that, currently?

Mike

From: Daniel Poetzl <notifications@github.com>
Reply-To: diffblue/cbmc <reply@reply.github.com>
Date: Tuesday, April 14, 2020 at 7:33 AM
To: diffblue/cbmc <cbmc@noreply.github.com>
Cc: "Whalen, Mike" <mww@amazon.com>, Mention <mention@noreply.github.com

[2020-04-15 18:13] shankarapailoor opened #5296 "JBMC example with data structures"
JBMC/CBMC version: 5.8
Operating system: Linux 5.0
What behaviour did you expect: An assertion failure
What happened instead: JBMC reports success

Hi,

I'm testing out JBMC and I want to see if it can verify some assertions over data structures and I gave the following simple example:

[code]

The full command I used to run JBMC was

[code]

Do these data structures need to be added to the JOM?

[2020-04-15 23:12] amosr opened #5297 "CBMC 5.12 crashes on converting structs to SMT2"
CBMC version: 5.12 (pilot_release_3_1_6-352-g0e8fb44063-dirty) and current head (cbmc-5.12-161-g48b8c90dd), though 5.11 works
Operating system: OSX and Ubuntu Linux
Exact command line resulting in the issue: `cbmc smt_failure.c --smt2`
What behaviour did you expect: verification should fail
What happened instead: CBMC crashes with the error `map::at: key not found`:
[code]

Test case `smt_failure.

[2020-04-16 14:52] karkhaz commented on #5194
We've tried to distil this issue into a series of precise test cases that capture what we think the problem is. We would expect CBMC to report failure on each of these programs when run with `--bounds-check --pointer-check`, but it reports no memory safety issues on any of them.

[code]

[code]

[code]

As a variation on the above: if you write `p[10] = 0` inside `fun`, CBMC actually does report a

[2020-04-16 15:32] danielsn commented on #5194
http://cprover.diffblue.com/cprover__builtin__headers_8h.html
Looking at this, I'm also concerned about:
[code]

http://www.cprover.org/cprover-manual/api/

[2020-04-18 15:18] markrtuttle opened #5304 "cmake jbmc build failure on macos"
* CBMC version: 5.12
* Operating system: macos
* Exact command line resulting in the issue:
    * cmake -DCMAKE_C_COMPILER=/usr/bin/clang -S. -Bbuild
    * cmake --build build
* What behaviour did you expect: cmake would build cbmc and jbmc
* What happened instead: cmake fails with a maven error message

I'm writing a homebrew formula for cbmc on macos.  I'd like to include jbmc, but I'm unable to

[2020-04-18 16:06] markrtuttle commented on #5304
You can see pull request for the homebrew formula (https://github.com/Homebrew/homebrew-core/pull/53282).  I am installing only the main binaries

* cbmc
* goto-analyzer
* goto-cc
* goto-diff
* goto-gcc
* goto-harness
* goto-instrument

because the others like `converter` and `driver` are too generically named to install in /usr/local/bin.  Do you agree?

[2020-04-20 09:31] hannes-steffenhagen-diffblue opened #5307 "Variable Sensitivity Value Set implementation should be split into separate objects for "normal" values and pointers"
Note: This issue references functionality that's currently not merged into develop.

This is how other subdomains of VSD work (see e.g. `constant_abstract_objectt` vs `constant_pointer_abstract_objectt`). As of now this is causing problems with merging, because the set management uses pointer comparisons to determine if two objects are equal (e.g. if you have two value sets each consisting only of

[2020-04-20 11:42] danpoe commented on #5194
Thanks for those examples. To confirm our understanding, here's the next steps for us:

(1) We'll produce a testsuite to determine to what extent inconsistent assumptions involving memory primitives such as `__CPROVER_same_object`, etc. can be detected via the `assert(0)` check.

(2) We'll provide a cbmc option `--invalid-pointers-in-assumptions-check` to check that no invalid pointers are used in

[2020-04-20 11:55] markrtuttle commented on #5304
I failed to follow the instruction to "git submodule update --init".

[2020-04-20 11:55] #5304 closed, assigned to nobody

[2020-04-20 21:11] aws-arg-padstone-ci-awslabs-s2n commented on #5194
I agree that failing an assertion would be the safest thing in that situation.

[2020-04-20 21:20] mww-aws commented on #5194
The steps look appropriate and should help us in the future.  These changes are very high priority for us (we have to report to our management about it), is it possible to have (1) and (2) implemented in one week's time?  I realize that this is abrupt, but it would be very helpful to us.  Having at least (1) would allow us to easily double check all of our proofs.

[2020-04-21 09:29] danpoe commented on #5194
Yes, it should be possible to provide (1) and (2) within a week.

[2020-04-27 13:27] danpoe commented on #5194
We've now created the testsuites of point (1). We checked the primitives listed by @danielsn above (except `__CPROVER_is_invalid_pointer()` and `__CPROVER_buffer_size`, these two are specific to cbmc-internal analyses). In summary, for assumptions involving `__CPROVER_r_ok()`, `__CPROVER_w_ok()`, `__CPROVER_DYNAMIC_OBJECT`, and `__CPROVER_OBJECT_SIZE`, the assumptions can be inconsistent according

[2020-04-27 14:15] danielsn commented on #5194
@danpoe which are the PRs that add those?

[2020-04-27 15:39] danpoe commented on #5194
PR #5318 is for `--pointer-primitive-check` (merged), and PRs #5321 and #5324 are for the tests (not yet merged).

[2020-04-28 21:06] danielsn commented on #5194
@danpoe Thanks.  I've added comments on those PRs.

One thing that would really help is a document listing in one place the expected semantics of each primitive.  Does such a document exist / would it be possible to create one?

[2020-04-29 14:34] danpoe opened #5327 "Pointer initialized via integer literal to same address as allocated memory does not point to same memory"
[code]

The problem is likely that `q` indexes into `__CPROVER_memory` whereas `p` targets the malloced memory.

CBMC version: 03ab5c75aa59c7c2d349136a14db0e130889126d
Operating system: Ubuntu
Exact command line resulting in the issue: `cbmc --pointer-check --no-simplify --no-propagation main.c`
What behaviour did you expect: verification failed
What happened instead: verification successful

[2020-04-30 16:31] danpoe opened #5328 "Crash on pointer dereference for pointer constrained with assumption"
[code]

CBMC version: 03ab5c75aa59c7c2d349136a14db0e130889126d
Operating system: Ubuntu
Exact command line resulting in the issue: cbmc --pointer-check --no-simplify --no-propagation main.c
What behaviour did you expect: verification failed
What happened instead: crash

[2020-05-04 14:40] danielsn commented on #5328
May be related to https://github.com/diffblue/cbmc/issues/5293

[2020-05-04 18:56] danpoe opened #5332 "Pointer check on null pointer succeeds"
[code]

CBMC version: 93b9e97980a01b9431917c8c129e10eae420e1d7
Operating system: Ubuntu
Exact command line resulting in the issue: cbmc --pointer-check test.c
What behaviour did you expect: verification failure
What happened instead: verification successful

This bug might be due to the pruning of pointer check constraints by the local bitvector analysis. In this case, only the check `!IS_INVALID_

[2020-05-06 16:16] danielsn opened #5335 "--pointer-primitive-check alarms for valid pointer"
CBMC version: 5.12 (cbmc-5.12-185-g03ab5c75a)
Operating system: OSX
Exact command line resulting in the issue: In the folder `tests/cbmc/proofs/s2n_stuffer_copy` in the https://github.com/danielsn/s2n/tree/diffblue-cbmc-5335 , run the command `make report`.
What behaviour did you expect: No errors
What happened instead: `pointer in pointer primitive is neither null nor valid in POINTER_OBJECT(__CP

[2020-05-06 16:22] danielsn commented on #5335
In particular
https://github.com/danielsn/s2n/blob/diffblue-cbmc-5335/tests/cbmc/proofs/s2n_stuffer_copy/s2n_stuffer_copy_harness.c#L34-L37
We can dereference `*from` without a problem, but can't check that its readable.

[2020-05-06 17:54] feliperodri commented on #5335
I have the same issue on this proof [aws_cryptosdk_encrypt_body](https://github.com/feliperodri/aws-encryption-sdk-c/tree/cprover-w-ok-error/.cbmc-batch/jobs/aws_cryptosdk_encrypt_body).
If you run it locally, there is no problem with the dereference, but the `__CPROVER_w_ok` and `__CPROVER_w_ok` checks fail.

[2020-05-06 19:58] danielsn commented on #5335
@danpoe

[2020-05-07 14:14] lwerdna commented on #5099
@martin-cs Yes, he was successful: https://yurichev.com/news/20200416_CRC64/

It has worked for me too, thank you for your support.

[2020-05-07 14:18] danpoe commented on #5335
Fix is here: #5336

[2020-05-08 12:07] martin-cs commented on #5099
Great to see the end result!  Thanks for following up.

[2020-05-08 12:07] #5099 closed, assigned to nobody

[2020-05-11 18:24] jamesjer opened #5337 "regression/cpp/virtual1 test failure"
CBMC version: 5.12
Operating system: Linux (Fedora Rawhide)
Exact command line resulting in the issue: make check
What behaviour did you expect: test success
What happened instead: test failure

While building version 5.12 on an x86_64 Fedora Rawhide machine with gcc 10.1.1, the test suite reported a failure:
[code]

[2020-05-14 10:37] karkhaz commented on #4689
Here is a more detailed explanation of this bug.

## Context
`goto-cc` has a flag, `--export-file-local-symbols`, that removes the `static` attribute from functions that it is compiling. Consider the following two files:
[code]
[code]
It is not possible to compile and link these files together correctly, as they are written, because `main` cannot call `foo`---because `foo` is marked as `static`, o

[2020-05-14 19:30] danielsn opened #5344 "CBMC dumps core with invariant violation: offset bits are byte aligned"
CBMC version: `5.12 (cbmc-5.12-225-g6e1ded2c7)`
Operating system: `Linux ip-172-31-81-124 5.3.0-1017-aws #18~18.04.1-Ubuntu SMP Wed Apr 8 15:12:16 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`
Exact command line resulting in the issue: `make report`
What behaviour did you expect: CBMC to verify the code
What happened instead: CBMC crashed:
[code]

Code located at: https://github.com/danielsn/aws-encryp

[2020-05-15 02:41] jmony opened #5345 "Cannot build with IPASIR - cryptominisat"
CBMC version: master and Release 5.12
Operating system: Linux (Debian and Ubuntu)
Exact command line resulting in the issue: make -C src IPASIR=/home/ubuntu/cryptominisat/src LIBS="/home/ubuntu/cryptominisat/build/lib/libipasircryptominisat5.a"
(cryptominisat built OK)
What behaviour did you expect: Successful build
What happened instead:
# Entering solvers
make  -C solvers
make[1]: Entering direc

[2020-05-15 02:46] jmony commented on #5345
I forgot to mention that I edited config.inc to uncomment IPASIR (and only IPASIR).

[2020-05-15 08:19] peterschrammel commented on #5345
This might be fixed by https://github.com/diffblue/cbmc/pull/5305.

[2020-05-15 12:27] jmony commented on #5345
I tried with #5305 but it had no effect.

[2020-05-20 04:52] lonsing opened #5348 "Build with cadical fails"
CBMC version: master commit c6082355bde3657bdfdefde8eff16a2813684b54
Operating system: Ubuntu 18.04
Exact command line resulting in the issue: `make -C src`
What behaviour did you expect: build succeeds
What happened instead: build fails

This issue is related to issue #5345.

I changed `src/config.inc` to enable cadical:
`CADICAL = ../../cadical`

Running `make -C src cadical-download` successful

[2020-05-20 15:12] NlightNFotis opened #5351 "Memory Snapshot Harness tests are marked KnownBug"
During work done in #5343 we discovered that changing the output of `goto-harness` to C code instead of GOTO binaries breaks the tests for the memory snapshot harness because the C harness we generate contains a modified version of the harness function so we can no longer link them.

[2020-05-25 16:25] TimotheeDurand opened #5357 "Segmentation fault crash on simple case of k-induction (goto-instrument)"
CBMC version: **5.6 and 5.12 (cbmc-5.12-206-g873daa903)**
Operating system: **Ubuntu 18.04.4 LTS (64bits)**, gcc 7.5.0
Exact command line resulting in the issue:
[code]

What behaviour did you expect: **the k-induction instrumentation to occur**
What happened instead: **Segmentation fault (core-dumped)**

Greetings,

I encountered a crash while instrumenting the k-induction step case on the follow

[2020-05-28 13:29] thk123 commented on #179
Just noting, for the avoidance of ambiguity, the commit that repeatedly references this issue is not a fix for this issue. (Commit: `(INT) Assume relation between two int vars...`)

[2020-06-03 16:52] #5332 closed, assigned to nobody

[2020-06-05 22:06] #4689 closed, assigned to nobody

[2020-06-08 17:54] martin-cs opened #5376 "G++ 9.0 maybe-uninitialized warning"
I think this may be an improvement in GCC's `maybe-uninitialized` check but it means that CPROVER  can't be built using GCC 9.0:

[code]

@johndumbell : I think this is your code and a glance does suggest it is possible that `loops_to_blacklist` does not get modified before it is returned.

[2020-06-10 17:55] feliperodri opened #5378 "Implement tolower from string.h"
CBMC version: 5.12 (cbmc-5.12-372-g70ca8a694)
Operating system: macOS Mojave Version 10.14.6
Exact command line resulting in the issue: N/A.
What behaviour did you expect: We should be able assert if the result of a `tolower` function is correct.
What happened instead: The assertion fails.

[code]
Extracted from https://github.com/awslabs/s2n/pull/1926

[2020-06-11 11:29] #5335 closed, assigned to nobody

[2020-06-12 14:53] NlightNFotis opened #5380 "Name mangling changes break goto-cc"
Recent multi-file mangling changes have caused goto-cc to fail with an invariant violation.

We have traced the change that breaks it to https://github.com/diffblue/cbmc/commit/fcd1083c6ba318720607d85413cf2a7bafbf5521

CBMC version: `develop`
Operating system: `ubuntu 18.04.4 LTS`
Exact command line resulting in the issue:
  * I am running this against jobs in https://github.com/awslabs/aws-c-comm

[2020-06-13 18:22] feliperodri opened #5382 "CBMC doesn't catch unsigned overflow with sizeof()"
CBMC version: 5.12 (cbmc-5.12.1)
Operating system: macOS Mojave Version 10.14.6
Exact command line resulting in the issue: `cbmc main.c --unsigned-overflow-check`
What behaviour did you expect: CBMC should detect an arithmetic overflow on unsigned + in (unsigned long int)y + sizeof(uint32_t) /*4ul*/.
What happened instead: CBMC reports success for this check.

[code]

[2020-06-14 15:55] peterschrammel commented on #5382
Note that the type of the `sizeof(x)` expression is `size_t` (see C11 6.5.3.4).

[2020-06-15 10:05] martin-cs commented on #5380
This is quite concerning.  In fixing this can we add a regression test / something to the CI to avoid this happening again?

[2020-06-16 16:51] feliperodri commented on #5382
I got it, thanks @peterschrammel!

[2020-06-16 16:51] #5382 closed, assigned to nobody

[2020-06-18 15:53] NlightNFotis commented on #4689
Hi @karkhaz.

As mentioned before we have found an issue with the implementation of this causing name mangling in `goto-cc` crash with an invariant, as documented in #5380.

We have a preliminary fix in #5385, but we wanted to make sure that this replicates the behaviour you want. We have changed in that PR the name mangler to be based on hashing instead of the local file name. We want to run it b

[2020-06-18 16:11] karkhaz commented on #4689
@NlightNFotis thanks for looking into this.

I would strongly prefer not to change the implementation of the name-mangling now. Although I included the djb-mangling implementation as an example, I feel that we're basically locked in to the file-mangling implementation, since we use the mangled names all over the place. `git-grep`ing for `__CPROVER_file_local` in -aws-c-common and aws-encryption-sd

[2020-06-18 16:18] karkhaz commented on #5380
I will try to look into this over the next two weeks.

Here's what I imagine is happening:

* Previously, the name-mangling implementation assumed that we were mangling the symbols in a single goto-binary. It was therefore not possible for there to be multiple symbols with the same name, which is why I put that assertion in.
* However, one use-case that surfaced later is that some people compile m

[2020-06-18 16:19] karkhaz commented on #4689
@danielsn

[2020-06-22 14:08] danielsn opened #5388 "Proof fails on OSX 10.15 that worked earlier versions"
CBMC version: `5.12 (cbmc-5.12.1)`
Operating system:
[code]
Exact command line resulting in the issue:
clone https://github.com/awslabs/aws-c-common/tree/master/.cbmc-batch/jobs/aws_array_list_get_at_ptr

[code]

What behaviour did you expect:
CBMC to compile the file
What happened instead:
It failed with a `PARSING ERROR`

Note that we can get this to run using `gcc` but fails with `goto-cc`.  I

[2020-06-22 14:08] danielsn commented on #5388
@danpoe @tautschnig @karkhaz

[2020-06-22 14:10] danielsn commented on #5388
Note: the relevant section of queue.h is
[code]

[2020-06-22 14:11] danielsn commented on #5388
https://opensource.apple.com/source/libdispatch/libdispatch-685/dispatch/queue.h.auto.html

[2020-06-22 14:53] danielsn commented on #5388
[common.preprocessed.txt](https://github.com/diffblue/cbmc/files/4813907/common.preprocessed.txt)

generated with
[code]

[2020-06-22 19:11] feliperodri opened #5389 "Invariant check failed when using memset"
**CBMC version:** 5.12 (cbmc-5.12.1-10-gdf2638c59)
**Operating system:** macOS Mojave Version 10.14.6
**Exact command line resulting in the issue:** Run `s2n_array_new` proof.
**What behaviour did you expect:** Verification Successful.
**What happened instead:** Invariant check failed.

To reproduce the error, clone [cbmc-array-set-predicates](https://github.com/feliperodri/s2n/tree/cbmc-array-set

[2020-06-22 21:05] tautschnig commented on #5388
@danielsn Would GCC/Clang on Catalina actually accept that input? Doing `clang -xc ../common.preprocessed.txt` throws the same errors for me (which is as expected, as code like `typedef enum : unsigned long { A } some_type;` is valid C++ 11, but not actually valid C.

[2020-06-22 21:18] tautschnig commented on #5388
@danielsn Can you check whether your GCC/Clang accepts
[code]
?

Even https://clang.llvm.org/docs/LanguageExtensions.html#enumerations-with-a-fixed-underlying-type suggests this is for Objective C, but perhaps this slipped into a C source nonetheless.

[2020-06-23 00:22] danielsn commented on #5388
@tautschnig It runs with no errors

[code]

[2020-06-23 00:22] danielsn commented on #5388
[code]

[2020-06-24 10:45] karkhaz opened #5392 "--export-file-local-symbols should also mangle static variables"
Currently it only mangles static functions.

There is a workaround meanwhile, as long as we can change the file where the static variable is defined. Just write an accessor function (doesn't need to be static) that returns the static variable's value (for reading) or a pointer to it (for mutating). So this isn't a such a high-priority request.

[2020-06-24 10:45] karkhaz commented on #5392
@danielsn ping

[2020-06-25 21:07] azcwagner opened #5395 "Unexpected __CPROVER_exists failure"
CBMC version: 5.12 (cbmc-5.12)
Operating system: macOS Catalina Version 10.15.4
Exact command line resulting in the issue: Run `s2n_constant_time_equals` proof.
What behaviour did you expect: Verification Successful.
What happened instead: `assertion __CPROVER_exists` failed.

To reproduce the issue, clone https://github.com/awslabs/s2n and include the changes in https://github.com/awslabs/s2n/pul

[2020-06-25 21:12] azcwagner commented on #5395
@tautschnig There seems to be some disagreement among the documentation about the status of quantifier support in CBMC.

- From http://www.cprover.org/cprover-manual/cbmc/assertions/:
“Future CPROVER releases will support explicit quantifiers with a syntax that resembles Spec#"

- From http://www.cprover.org/cbmc/language_features.html:
“Standard ANSI-C expressions are allowed as assertions; in ad

[2020-06-25 22:37] martin-cs commented on #5395
It depends on the back-end and how they are used (in an assume or an assert).  In some cases they can be flattened into the implicit existential quantification around all variables.  For example if you assert that something should hold for all values, then this equivalent to creating a non-deterministic variable for the failure point / witness and asserting that that particular case fails.

The in

[2020-06-26 09:04] hannes-steffenhagen-diffblue commented on #5388
Yes this appears to be a clang extension. We’ll have to check if/how we can support it in the frontend (not sure off the top of my head if our enum representation has an easy way to change the underlying type, but it shouldn’t be too hard).

[2020-06-26 20:13] andreast271 opened #5396 "Extern array declaration causes unsupported array typecast in smt2 conversion"
CBMC version: CBMC version 5.12 (cbmc-5.12.2-3-g9b5f761d5-dirty)
Operating system: 64-bit x86_64 linux
Exact command line resulting in the issue: cbmc --smt2 def.c use.c
What behaviour did you expect: VERIFICATION SUCCESSFUL
What happened instead: invariant violation

Example:
[backtrace.log](https://github.com/diffblue/cbmc/files/4839072/backtrace.log)
[def.c.txt](https://github.com/diffblue/cbmc

[2020-06-27 11:26] martin-cs commented on #5396
This looks like a bug.  There have been some recent patches to the SMT-LIB 2 back-end which may have broken things.  I think this should work, would you be able to try an earlier version and see if this is a regression?

[2020-06-29 08:27] andreast271 opened #5397 "Field sensitivity is not applied for pointer to struct member"
CBMC version: 5.12 (cbmc-5.12.2-3-g9b5f761d5)
Operating system: Linux x86_64
Exact command line resulting in the issue: cbmc --program-only access.c
What behaviour did you expect: field sensitivity is applied for the assignment to s.n[i]
What happened instead: field sensitivity is not applied

Test case:
[access.c.txt](https://github.com/diffblue/cbmc/files/4844617/access.c.txt)

I have encountere

[2020-06-29 11:19] martin-cs commented on #5397
I suspect this is happening because the pointer analysis is not field sensitive and so says that `p` can point to `s`.  If I am right then this won't be fixed without a major change to the internals of the symbolic execution engine.  VSD might give a way of doing field sensitive pointer analysis that could be used.  Alternatively I know @tautschnig did have plans at one point to improve symex's ha

[2020-06-29 13:43] danpoe commented on #5194
The behavior of the primitives (including preconditions) has been documented at http://cprover.diffblue.com/memory-primitives.html. In addition, there is now an option `--pointer-primitive-check` in cbmc to check the preconditions of the primitives.

[2020-06-29 13:43] #5194 closed, assigned to nobody

[2020-06-30 14:51] andreast271 commented on #5396
I ran the example with versions 5.12 and 5.11 and got the same invariant violation as with the latest version from the develop branch.

[2020-06-30 16:22] martin-cs commented on #5396
Thanks for checking that out.

[2020-06-30 21:14] smowton commented on #5397
Looked into this tonight, got some of the way to an answer. The critical moment looks to come during symex_dereference, which applies constant propagation to `*(p + i)` and resolves p to `cast(cast(address_of(main::1::s!0@1), signedbv[8]*) + 4, signedbv[32]*)`, or cleaning up the notation `((char*)&s) + 4`, which is of course `&s.n[0]`.

Taking addresses of fields is of course hazardous when there

[2020-07-01 13:35] danpoe commented on #5108
This is now fixed. cbmc will report a conversion error:

[code]

[2020-07-01 13:35] #5108 closed, assigned to nobody

[2020-07-01 14:05] danpoe commented on #4701
@danielsn The primitives have been implemented in PRs #5233, #5235, #5236, #5249 which have all been merged. What could still be done is implement some of the ideas for speeding up the checks. I would suggest we close this ticket here, and if the performance improvements are still required we can create a separate issue/ticket.

[2020-07-01 14:51] #5380 closed, assigned to nobody

[2020-07-02 01:05] danielsn commented on #4701
Sounds good. Let’s open an issue for the checks, which are indeed the
bottlenecks for some proofs.

On Wed, Jul 1, 2020 at 10:05 AM Daniel Poetzl <notifications@github.com>
wrote:

[2020-07-02 07:51] danpoe opened #5405 "Improve performance of cbmc's implementation of the gcc integer overflow primitives"
See #4701 for potential ways of improving the performance.

Tracked internally as ADA-563.

[2020-07-02 07:54] danpoe commented on #4701
Issue for the performance improvements: #5405

[2020-07-02 07:54] #4701 closed, assigned to nobody

[2020-07-03 16:09] thk123 commented on #5388
We are currently investigating how to implement this in the C front end for CBMC.

[2020-07-07 17:53] markrtuttle opened #5413 "Hidden attribute for malloc is inconsistent in traces"
CBMC version: 5.12.1
Operating system: MacOS
Exact command line resulting in the issue:
What behaviour did you expect:
What happened instead:

In error traces, for the function malloc, the function call is set to visible and the function return is set to hidden.

Can anyone help me debug this?

If I take the program main.c

[code]

and run the command

[code]

the xml output includes the tags

[co

[2020-07-07 18:32] hannes-steffenhagen-diffblue commented on #5413
If you look  [here](https://github.com/diffblue/cbmc/blob/develop/src/ansi-c/library/stdlib.c#L142) you’ll note it’s actually the entire body of `malloc` (including the `return`) that’s supposed to be hidden. The malloc function itself isn’t. This appears to be intentional, although I don’t know why it is that way.

[2020-07-07 19:00] markrtuttle commented on #5413
I saw that instance of `__CPROVER_HIDE`.  I assumed it had a different semantics.

This is a real problem for me, because it makes it impossible to balance (in a principled way) function calls and returns in my representations of error traces.

But it also doesn't explain the visibility of the malloc steps that I elided in my initial example.  If I take the program

[code]

then the error trace in

[2020-07-08 09:45] hannes-steffenhagen-diffblue commented on #4956
Thanks for adding the information to the documentation. I don’t believe there is much we can or should be doing this outside of documenting this behaviour though, as this is an issue with how CMake detects compilers and frameworks and as far as I can tell isn’t directly related to cbmc.

@karkhaz would you be OK with closing this on those grounds?

[2020-07-08 12:41] hannes-steffenhagen-diffblue commented on #5413
So I have a small test like this:

[code]

And in the trace I get

[code]

If I remove the `__CPROVER_HIDE:` the return is visible in the trace, like I would expect.

Which is in line with what I expect here, although I understand it’s not really what you want in this case. For clarification, what is the problem we are trying to solve? If it is just the attribute being set in the XML this could be

[2020-07-08 13:00] hannes-steffenhagen-diffblue commented on #5395
I believe the answer to this question is a "not really, no". The syntax is supported and it works in some cases, but off the top of my head I can’t tell you exactly in what cases it works. As Martin says, the backend tries to convert the quantifiers into something it knows how to handle, but if that fails you get the warning message you report here.

[2020-07-08 19:17] danielsn opened #5415 "CBMC dumps core on simple program"
[code]

CBMC version: 5.12 (cbmc-5.12.1)
Operating system: osx
Exact command line resulting in the issue: cbmc test.c
What behaviour did you expect: no crash. Perhaps an error message
What happened instead:
[code]

[2020-07-08 19:57] danielsn commented on #5415
@danpoe

[2020-07-09 10:01] hannes-steffenhagen-diffblue commented on #5415
Cause:

CBMC assumes that functions called `main` have one of the signatures specified in the C standard (+ a GNU C one that also takes `envp`), and this isn’t one of them.

Short term remedy:

Fail with a user-friendly error message saying what’s the actual problem.

Potential alternative:

Treat `main` with a nonstandard signature as a regular entry point. Problem with that is that we special ca

[2020-07-09 10:41] thomasspriggs commented on #5344
I have been unable to reproduce this issue, due to the following build error -
[code]
Do you have a simpler (standalone) example which reproduces this invariant violation?

[2020-07-09 10:56] hannes-steffenhagen-diffblue commented on #5413
^- for clarification on the above questions: What I’m asking is, when are you expecting hidden to be set on calls and returns? I got the impression you are expecting returns to be visible or hidden whenever the corresponding function call is, is that correct?

[2020-07-09 10:58] hannes-steffenhagen-diffblue commented on #5405
@danielsn Could you elaborate on your comment [here](https://github.com/diffblue/cbmc/issues/4701#issuecomment-652720055)? I.e. if you have some examples where these checks are causing problems, could you link to a couple here so we have something to benchmark against?

[2020-07-09 11:37] thomasspriggs commented on #5389
Unable to reproduce on Ubuntu 20 -

<details>
<summary>Very long log</summary>

[code]

</details>

[2020-07-10 08:42] hannes-steffenhagen-diffblue commented on #5378
`tolower` is implemented in CBMC, but it is from `ctype.h`, not `string.h`.

A small test case works like I would expect:

[code]

And `cbmc --unwind 10` (manual unwind limit necessary because constant folding fails here) yields, as expected:

[code]

Our models for `ctype.h` functions (including `tolower`) live [here](https://github.com/diffblue/cbmc/blob/develop/src/ansi-c/library/ctype.c), and

[2020-07-10 20:24] karkhaz opened #5417 "goto-cc cannot compile two files with the same name together"
When compiling two files with the same name in a single invocation of goto-cc, only one of the files' functions are included in the resulting goto-binary.
[code]
[code]
What happens:
[code]
What I expected to happen: the binary should also contain an implementation of `foo1()`.
CBMC version: cd3c603d8fe2d5b0572dd761532dd76d37f89d33

[2020-07-10 20:27] karkhaz commented on #5417
@danielsn ping

[2020-07-11 16:20] smowton commented on #5397
Looks like `p` gets that value because `int *p = s.n`'s rhs is `&s.n[0]`, which symex_clean_expr turns into `(int*)((char*)&s) + 4`. That form appears to be a very deliberate invariant of `address_arithmetic`, so in the context `p[i]` = `*(p + i)` we would need to recover the array form when trying to apply field sensitivity to the LHS.

[2020-07-12 15:44] smowton commented on #5397
Eventual conclusion: the problem was value-set-dereference losing sight of the underlying object (`s` and specifically `s.n`), so producing a byte-extract against the whole object not an index against `s.n`, and so failing to trigger the (in this case, unsound) application of field-sensitivity (unsound in that it assumes the references is in-bounds, which should probably be optional).

@andreast27

[2020-07-13 09:36] hannes-steffenhagen-diffblue commented on #5417
Yep, can easily reproduce. Really weird.

FWIW this _only_ seems to happen if you do this with source files directly, compiling with `goto-cc -c` and then linking them together later seems to work even if the object files have the same name, which is probably how that slipped past us for so long.

Tracking this internally as ADA-574

[2020-07-13 09:44] hannes-steffenhagen-diffblue commented on #5415
@danielsn With #5416 we consider this done for now, unless support for specific nonstandard signatures is needed in which case we should track it as another issue.

[2020-07-13 09:44] #5415 closed, assigned to nobody

[2020-07-13 11:17] hannes-steffenhagen-diffblue commented on #5397
@smowton In principle interesting thing to do, we’re considering possible performance improvements (and it seems like we might have to make some changes to field sensitivity regardless for that). We don’t have a ton of time to schedule this right now but I’ll definitely take a look.

[2020-07-13 11:18] martin-cs commented on #5413
@hannes-steffenhagen-diffblue some historical context...  `CPROVER_HIDE` was an old feature when I started working on CPROVER.  @tautschnig may have explained it to me back then but maybe I am confused about this.  Note that it significantly pre-dates the change in how return statements were handled (i.e. remove returns).

I think its purpose is to omit the details modelling of the standard librar

[2020-07-13 14:18] hannes-steffenhagen-diffblue commented on #5405
This is internally tracked as ADA-563

[2020-07-13 14:18] hannes-steffenhagen-diffblue commented on #5413
This is internally tracked as ADA-575

[2020-07-13 14:21] hannes-steffenhagen-diffblue commented on #5275
This is internally tracked as ADA-567

[2020-07-13 14:21] hannes-steffenhagen-diffblue commented on #5272
This is internally tracked as ADA-568

[2020-07-13 14:23] hannes-steffenhagen-diffblue commented on #5378
We track the underlying issue (i.e. easy to miss/misinterpret diagnostics) as ADA-572

[2020-07-13 14:23] hannes-steffenhagen-diffblue commented on #5344
Tracked internally as ADA-571

[2020-07-13 14:24] hannes-steffenhagen-diffblue commented on #5096
Tracked internally as ADA-566. Currently not planning to fix this as we don’t know of a reasonable way to remove this limitation.

[2020-07-13 14:26] hannes-steffenhagen-diffblue commented on #5292
Tracked internally as ADA-569, not planning to fix this right now as Kareem said he was going to.

@karkhaz Have you gotten around to this?

[2020-07-13 14:28] hannes-steffenhagen-diffblue commented on #4956
Tracking this internally as ADA-565 – currently not planning to do anything about it as it appears to be an issue with CMake itself, not with anything in CBMC.

[2020-07-13 14:41] karkhaz commented on #5292
I haven't, I don't think this was a high priority for us.

@markrtuttle is this issue blocking you from doing anything? Is it worth looking into?

You had a workaround (I forget what it was), is it worth documenting that in lieu of fixing the bug?

[2020-07-13 20:58] andreast271 commented on #5397
@smowton Thank you very much and I will definitely test your fix on a number of industrial examples for both correctness and performance impact. I'll have to backport the change set to our version of cbmc, but the code in value_set_dereference.{cpp,h} has not changed and I did not see any changes to field sensitivity either, so the impact of the change set should be the same on the latest version

[2020-07-14 08:37] smowton commented on #5397
@andreast271 looking at that Travis report I've definitely broken type-preservation with this one -- I've probably thrown a cast away somewhere. I'll try for a version of this that passes tests tonight...

[2020-07-14 19:55] polgreen opened #5422 "incorrect behaviour on cosine/sine"
CBMC gives wrong answers to cosine? I don't know if CBMC supports cosine/sin, but I infer from issue https://github.com/diffblue/cbmc/issues/3438, and the libraries in /src/ansi-c that it is intended to support it to some extent?

CBMC version: 5.12 (cbmc-5.12.3-4-g0c08382c2)
Operating system: MacOS
Exact command line resulting in the issue: cbmc cosine.c

cosine.c is:
[code]
What behaviour did yo

[2020-07-14 20:01] peterschrammel commented on #5422
CBMC does not support exact verification of trig functions out of the box. It only has a very rough, over-approximating model for them: https://github.com/diffblue/cbmc/blob/develop/src/ansi-c/library/math.c#L413
Bit-precise verification of trig functions is tricky because the exact behaviour depends on the library that you use. You'd have to pass to CBMC the implementation of the maths library th

[2020-07-14 20:12] polgreen commented on #5422
Ok, so it couldn't ever have solved the problem referenced in https://github.com/diffblue/cbmc/issues/3438, even if the problem had been correctly specified because all it can do is assume that the return value is within the bounds -1 and 1?

[2020-07-14 20:36] #5422 closed, assigned to nobody

[2020-07-14 21:12] smowton commented on #5397
@andreast271 it was just a missing integer typecast, I'm expecting the version I just pushed to pass tests

[2020-07-15 12:03] #5417 closed, assigned to nobody

[2020-07-15 13:32] hannes-steffenhagen-diffblue commented on #5413
I’m closing this for now as it’s not obvious that there is anything that needs to be changed here, other than noting that the behaviour of internal flags can be a bit confusing to end users and should be better documented.

[2020-07-15 13:32] #5413 closed, assigned to nobody

[2020-07-15 13:34] hannes-steffenhagen-diffblue commented on #5417
The referenced PR here should’ve fixed this issue.

[2020-07-15 13:36] hannes-steffenhagen-diffblue commented on #5378
Closing for now, as while the diagnostics aren’t as helpful as they should be, the requested functionality (i.e. implementation of `tolower`) is already there.

[2020-07-15 13:36] #5378 closed, assigned to nobody

[2020-07-16 15:49] danielsn commented on #5344
I can try to get that example working again

[2020-07-19 11:47] martin-cs commented on #5422
@polgreen if you need exacttrig things let me know as it has been something I have been working on and will hopefully be getting code working early next year?

[2020-07-19 15:06] TimotheeDurand opened #5426 "Confusing results with --pointer-overflow-check"
CBMC version: release 5.12
Operating system:  x86_64-linux (Ubuntu 18.04.4)
Exact command line resulting in the issue: `cbmc test.c --pointer-overflow-check`
What behaviour did you expect: VERIFICATION FAILED
What happened instead: VERIFICATION SUCCESSFUL

`test.c`:
[code]

Greetings,

I am confused that CBMC reports no errors on the code above: The C standard specifies that incrementing a pointer

[2020-07-20 06:35] danpoe commented on #5426
Thanks for reporting this. At the moment cbmc only reports an overflow when the result of pointer arithmetic cannot be represented with the pointer bit width (e.g., assuming 32-bit pointers, when adding 0xFFFFFFFF to a pointer of value 0xFF000000). There are plans however to change the semantics of `--pointer-overflow-check` to detect the cases you mentioned above (see discussion here: https://git

[2020-07-20 09:17] TimotheeDurand commented on #5426
Oh, I did not know that there was an open discussion about that topic.
Thank you for the explanation.

[2020-07-21 18:22] danpoe commented on #5293
This is now fixed in the latest develop.

[2020-07-21 18:22] #5293 closed, assigned to nobody

[2020-07-21 20:40] markrtuttle opened #5430 "Add cmake macro for installation symlinks"
In the pull request [5419](https://github.com/diffblue/cbmc/pull/5419), @hannes-steffenhagen-diffblue proposes a macro to create the symlinks during installation to installed binaries and man pages.  This will make the cmake files easier to read and be less error prone than the current cut-and-paste implementation.  This will also give an opportunity to warn about using DESTDIR on Windows: The use

[2020-07-23 12:33] hannes-steffenhagen-diffblue commented on #5388
We now have [a PR](https://github.com/diffblue/cbmc/pull/5431) for supporting the _syntax_, but not yet the semantics (i.e. you’ll no longer get a parse error, but the underlying type won’t be correct).

Also interesting to note that the `clang` support for this is rather new (less than 2 years old apparently) and has some interesting quirks, like syntax like this

[code]

works, sort of – the und

[2020-07-23 12:40] danpoe commented on #5388
Also cbmc warns about the fact that in e.g. `enum enum1 : unsigned { X, Y}` the underlying type specification (here `unsigned`) is ignored.

[2020-07-31 08:29] hannes-steffenhagen-diffblue commented on #5388
@danielsn We believe this will be fixed once https://github.com/diffblue/cbmc/pull/5438 is merged.

[2020-08-06 11:24] thomasspriggs opened #5443 "Running `goto-cc` followed by `cbmc` with different values for `--object-bits` only causes a warning."
Running `goto-cc` followed by `cbmc` with different values for `--object-bits` only causes a warning. This should really be an error rather than a warning. This option was added to `goto-cc` as part of this PR - https://github.com/diffblue/cbmc/pull/5440 , in order to address issue - https://github.com/diffblue/cbmc/issues/5272
Example -
[code]

[2020-08-06 13:08] hannes-steffenhagen-diffblue commented on #5388
@danielsn We believe this is fixed on latest develop, therefore we’re closing this for now.

[2020-08-06 13:08] #5388 closed, assigned to nobody

[2020-08-06 15:27] thomasspriggs commented on #5272
This issue can now be avoided by passing `--object-bits` to `goto-cc`. This was done in this PR - https://github.com/diffblue/cbmc/pull/5440

[2020-08-06 15:27] #5272 closed, assigned to nobody

[2020-08-11 00:28] chenrui333 opened #5448 "release flow question"
I saw the latest release `5.8` was released back on 2017 Aug 11. And all the recent `5.12.x` releases are tagged with `prerelease`.

So my question is do you folks plan to do a formal release any time soon?

Kind of related to https://github.com/Homebrew/homebrew-core/pull/59425

[2020-08-11 10:55] martin-cs commented on #5448
The last "official" release was 5.11 on 2018-12-15.

http://www.cprover.org/cbmc/

I have no idea what the current policy is or who is in charge of it.  If @hannes-steffenhagen-diffblue says ( https://github.com/Homebrew/homebrew-core/pull/59425#issuecomment-671856239 ) there are going to be by-weekly releases then that's probably it.

[2020-08-11 11:00] hannes-steffenhagen-diffblue commented on #5448
@martin-cs Yes, so the problem we have right now is that in practice we don't really have a formal release process. It wasn't really clear to us exactly which criteria should lead to a “formal” release, what _was_ clear was that releases weren’t happening frequently enough to be useful (in practice, anyone trying to benefit from recent bug fixes and such would have to build from source, which isn’

[2020-08-11 11:35] martin-cs commented on #5448
@hannes-steffenhagen-diffblue completely agree. Right now I am not sure there are any formal processes other than those enforced by github.  Having regular releases would be good, likewise package / binary builds for various platforms.  A bi-weekly tag is certainly a step better than what we had.

As for road-map and community; definitely, would be great, happy to help.  There are many ways that i

[2020-08-11 12:26] chenrui333 commented on #5448
Sorry for the bad wording, when I say "formal" release, I really just mean, the semantic versioning and release notes (that would just manifest what has been done).

Everyone wants to use the latest and greatest software with latest functional and security patches, but still, sometimes, it would bring little bit frustrations with keeping the software up to date. With that being said, the I do see

[2020-08-11 20:06] smowton commented on #5448
I don't have a position on release cycles; I just try to keep reviewing to keep PRs from getting blocked up when other codeowners are busy.

[2020-08-12 04:18] andreast271 opened #5450 "CBMC smybolic execution soundness issue; backwards goto missed in do ... while loop"
CBMC version: 5.12 (cbmc-5.12.6-17-g7d30335)
Operating system: GNU/Linux x86_64
Exact command line resulting in the issue: cbmc top.c
What behaviour did you expect: VERIFICATION SUCCESSFUL
What happened instead: VERIFICATION FAILED

Test case `top.c`:
[code]
The first assertion should pass, the second should fail. However, CBMC reports SUCCESS for both assertions.
Looking at the program functions

[2020-08-12 09:25] martin-cs commented on #5450
I confirm this is a real bug and that it is *definitely* a soundness issue.

[code]

But it is not for the reason that you give.  `--program-only` adds the `assume(false)` at the end so that the solving and trace generation mechanism can be used.  It is an internal hack and maybe not the best one but ... it works.  If you look at the goto-program you will see that it is correctly translated:

[cod

[2020-08-12 09:38] martin-cs commented on #5450
Correction -- this is definitely a symbolic execution bug but it is not necessarily constant folding.  For some reason the loop is not being unwound at all.  The branch is visited but ignored.  Maybe @tautschnig or @peterschrammel have some insight here.  There haven't been many changes to this area of the code recently and this sort of thing should be triggered quite easily by the test suite so I

[2020-08-12 13:36] andreast271 commented on #5450
This is the commit that introduced the bug:
[code]

[2020-08-12 14:08] tautschnig commented on #5450
Taking a look as to why this condition is being applied here.

[2020-08-12 14:18] hannes-steffenhagen-diffblue opened #5453 "What do CBMC version numbers mean?"
We’re trying to move to a more frequent release cycle right now. One issue that’s come up for me is that I’m not quite sure how to interpret the current CBMC version numbers;

For example, we’re currently on CBMC 5.12.6? What would it take to go from there to 5.13? What would have to change for us to call it 6.0?

Just trying to gather opinions here for now, because ideally we should be in agreeme

[2020-08-12 15:50] martin-cs commented on #5453
I think 4.x->5.0 co-coincided with / was for incompatible changes to the goto-program format.  Minor numbers were for major features, entry to SV-COMP, releases to significant customers.  At the risk of being a stuck record; this is a social issue, the numbers are just arbitrary.

[2020-08-12 16:38] hannes-steffenhagen-diffblue commented on #5453
@martin-cs I do agree that this is a social issue, which is why I’m trying to kick off some discussion with people who are interested in this sort of thing so we can pick _one_ arbitrary convention and stick with it.

@peterschrammel @kroening @chrisr-diffblue @smowton any thoughts?

[2020-08-12 16:41] smowton commented on #5453
None whatsoever

[2020-08-13 09:17] chrisr-diffblue commented on #5453
I agree that the numbers are somewhat arbitrary, and that it is mainly a social issue - however, _being_ a social issue means that people _expect_ the numbers to have a pattern, order, meaning, etc.... :-) Totally agree with Hannes hat we should pick one arbitrary convention, then stick with it.

Arguably, the most common convention people probably expect is major.minor.patch structure. Which _pro

[2020-08-13 11:40] #5450 closed, assigned to nobody

[2020-08-17 15:13] hannes-steffenhagen-diffblue commented on #5430
@markrtuttle I've actually thought a bit more about this issue and realised there is a much simpler way to accomplish what we were trying to do here, this is now merged as https://github.com/diffblue/cbmc/pull/5460

[2020-08-20 15:35] peterschrammel commented on #5453
@chrisr-diffblue's scheme follows the common understanding (at least mine) of version numbers and I think we should follow that.
Goto-binary format changes should definitely be major version changes; major deprecation of command line options probably too.

[2020-08-20 15:36] hannes-steffenhagen-diffblue commented on #5453
@peterschrammel My preference would be deprecation in a minor release, removal in a major release. That way people get warned about possible coming breakages without upgrading to a number that says "this will probably break something".

[2020-08-22 18:30] wcventure opened #5471 "A simple test that I failed to verify"
CBMC version: 5.12.6 (cbadaa5)
Operating system: Linux DESKTOP-E4CE6JE 4.4.0-18362
Exact command line resulting in the issue: `cbmc ./test.c --function test --unwind 20`
What behaviour did you expect:
`line 14 return value is -1: SUCCESS`
`line 14 return value is 0: SUCCESS`
What happened instead:
`line 14 return value is -1: SUCCESS`
`line 14 return value is 0: FAILURE`

Dear all,
When I try to u

[2020-08-25 15:15] danielsn commented on #5471
`__CPROVER_r_ok` has weird behaviour inside assumes.  This is a known issue. Try using --pointer-primitive-check to see if that's what is going on. Also try turning on unwinding assertions - its possible your unwind bounds are not strong enough.

[2020-08-25 15:17] danielsn opened #5473 "Cprover should have an `__enum_in_range` primitive"
It is currently difficult to use the `--enum-range-check` option, because it is hard to ensure in a harness that an enum is within range. IF there was a
`__CPROVER_enum_is_in_range(e)` primitive, we could use it like
`__CPROVER_assume(__CPROVER_enum_is_in_range(e))`
and
`assert(__CPROVER_enum_is_in_range(e))`

[2020-08-25 15:42] wcventure commented on #5471
I try to use --pointer-primitive-check to see if that's what is going on.
`cbmc ./test.c --function test --unwind 25 --pointer-primitive-check`

The output is:
[code]

Could you help me to find out how to use cbmc to verify this simple function?
Also,  If I don't want to divide my program into two versions (case 0 and case -1). Can I handle them using one primitive in one version?

[2020-08-26 18:13] feliperodri opened #5477 "Unexpected result with __CPROVER_w_ok and function pointers"
CBMC version: 5.12 (cbmc-5.12-507-gb0b322501)
Operating system: Ubuntu 18.04.3 LTS
Exact command line resulting in the issue: `make veryclean && make report`in the `/home/ubuntu/s2n/tests/cbmc/proofs/s2n_set_new`
What behaviour did you expect: At least 90% coverage results using (https://github.com/awslabs/aws-viewer-for-cbmc).
What happened instead: Coverage drops to 11% when checking a function

[2020-08-27 11:22] hannes-steffenhagen-diffblue commented on #5453
**Conclusion**

In the absence of very strong opinions, I suggest the following moving forward:

We adopt an approach approximating SemVer. That is, our version numbers should be major.minor.patch. Regular releases (cadence TBD but probably weekly or biweekly) should normally increment the _minor_ version number. This is also where we can deprecate undesired features, i.e. _mark_ as deprecated, wa

[2020-08-27 11:28] chrisr-diffblue commented on #5453
Looks good to me - that makes a good clear policy that should be easy to follow, and easy for end users to understand. Many thanks!

[2020-08-27 11:44] martin-cs commented on #5453
I like having major, minor and patch.  I like them having defined and documented meanings.  I like the specific major = "breaks your work-flow", minor = "probably won't break stuff" and patch = "really shouldn't break anything, only if you are relying on a buggy and incorrect behaviour".  If we could have the version number presented as x.y.z-GIT_ID in the tool that would be amazing.

The only bit

[2020-08-28 10:10] hannes-steffenhagen-diffblue commented on #5453
@martin-cs Release cadence is kind of a separate discussion. We want it to be regular at any rate, and if there's a bugfix or new feature ideally we'd have an easy way to get it to end users who can't or don't want to build from source. Nightly builds are a possibility, the thing is that I'd prefer if people used regular releases instead because that gives us an immediate diagnostic tool - if they

[2020-08-28 10:22] martin-cs commented on #5453
@hannes-steffenhagen-diffblue If you want timely and linear increase but are not necessarily tied to features why not:

major.minor.YYYYMMDD
5.13.20080828 for example

That way you can cut a release whenever, say automated weekly *and* over-night fixes and you have one consistent numbering scheme and it tells you (and the user!) how up to date the release is?

[2020-08-28 10:25] hannes-steffenhagen-diffblue commented on #5453
@martin-cs The main reason against that is that the majority of people wouldn't expect the last component to mean "date". We could explain that in our documentation of course, but let's be honest the vast majority of users are never going to read it or at best skim over it. I'm a big fan of defaulting to whatever the majority probably expects whenever we can.

I'd like to hear your thoughts on why

[2020-08-28 10:41] martin-cs commented on #5453
They don't need to know it is a date!  It can be a secret magic number that only the developers understand! :smile:

My point is that if the release criteria are "What day is it" then ... why not have that as part of the release number?  If we have a new minor number every N weeks then when someone reports an issue with 5.37 the first thing we will have to do is to work out when that was and if it

[2020-08-28 15:12] hannes-steffenhagen-diffblue commented on #5477
I'm sorry, I'm having a hard time figuring out what exactly you are referring to. I don't see how the steps you are describing relate to `__CPROVER_w_ok` or function pointers. Also, I am not completely sure what behaviour you are expecting from `__CPROVER_w_ok` here – I would not expect that _either_ `__CPROVER_w_ok` _nor_`__CPROVER_r_ok` would work with function pointers at all, because function

[2020-08-31 15:31] florianschanda opened #5484 "Status/plans for irep_specs"
Hi, more of a general question.

I am currently looking at creating a new front-end for the cprover chain. The language I am using is Python3, and not C++; so I can't directly use your interface. So, I was planning to producing a `.json_symtab` file that can then be processed by the rest of the tools. During my brief time on `gnat2goto` there was some effort to have a specification of the ireps st

[2020-09-01 11:25] florianschanda opened #5485 "Options --no-arch and --no-library do not appear to affect generated symbol table"
Hi,

I have this tiny program:
[code]
I am observing that the following invocations generate bit-for-bit equal output:
* `cbmc --json-ui --show-symbol-table foo.c`
* `cbmc --json-ui --show-symbol-table --no-arch --no-library foo.c`

Specifically the generated symbol table is full of:
[code]
Some of which I would have expected to disappear if the `--no-arch` and `--no-library` options are given.

D

[2020-09-01 17:57] martin-cs commented on #5484
Paging @smowton who was leading this...

[2020-09-01 17:58] martin-cs commented on #5484
Python bindings would be very cool and this would be a good way to avoid parallel maintenance.

[2020-09-01 18:16] martin-cs commented on #5485
- There are no regression tests for either.
- `--no-arch` was added on or before 2013, maybe in the CVS era (pre-subversion, pre-git)?  As far as I can tell it is not actually used. `--arch none` should do something (although it may break because ... we do need some architectural information) along those lines so I am thinking we should just remove it.
- `--no-library` looks like it could work but

[2020-09-08 10:07] hannes-steffenhagen-diffblue commented on #5484
No concrete plans for now.

There might be, but not as far as I know.

The irep specs should be reasonably up-to-date, we were maintaining them until last year. The internal structure of ireps changes fairly infrequently, even if the C++ API is updated every now and then. AFAIK though not all kinds of ireps are mentioned in the irep specs, just the ones we happened to use for gnat2goto.

[2020-09-08 20:30] tegansb opened #5489 "Parsing Errors when compiling C++"
CBMC version: 5.13.0
Operating system: macOS Catalina
Exact command line resulting in the issue: cbmc test.cpp
where test.cpp is
[code]

What behaviour did you expect: Parsing to succeed.
What happened instead:
[code]

I encountered parsing errors when trying to compile C++ code. I have attached a minimal example, replicating the issue.

[2020-09-09 10:15] martin-cs commented on #5489
Thanks for the bug report.  The C++ parser does not handle more modern and template-heavy C++, this means it often runs into problems with parts of the standard library.  To the best of my knowledge there is no one working on this at the moment.  I think @peterschrammel was the last person to put serious work into it but that was some time ago.

[2020-09-09 15:01] vmihalko opened #5490 "false positives when --malloc-may-fail and --malloc-fail-null are used"
CBMC version: 5.13.1
Operating system: Linux (Fedora rawhide)
Exact command line resulting in the issue: `$ cbmc  --pointer-check --malloc-may-fail --malloc-fail-null 0005-test.c`
What behaviour did you expect: Detection of possible `NULL` dereference failure in following code and nothing else:
[code]
What happened instead:
CBMC also found some false positives: `deallocated dynamic object`, `point

[2020-09-09 22:07] martin-cs commented on #5490
@danpoe was working on this area in https://github.com/diffblue/cbmc/pull/5401 , maybe he has some insight into this?

[2020-09-11 18:23] SaswatPadhi opened #5492 "goto-cc incompatible with cbmc's --malloc-may-fail and --malloc-fail-null"
CBMC version: 5.13.0
Operating system: Linux 64-bit

**Minimal example:**
[code]
`cbmc --malloc-may-fail --malloc-fail-null test.c` correctly detects a bug in this .c file.
When we run `goto-cc test.c -o test.goto`, and then run `cbmc --malloc-may-fail --malloc-fail-null test.goto`, cbmc incorrectly reports successful verification.

Currently, `goto-cc` does not accept these two malloc flags, so w

[2020-09-11 18:23] SaswatPadhi commented on #5492
cc: @danielsn @markrtuttle

[2020-09-11 22:24] martin-cs commented on #5492
FWIW I would not expect `--malloc-may-fail` and `--malloc-fail-null` to be supported by `goto-cc`.  They are analysis flags and goto-cc's job should just be compilation.

Also paging @danpoe re: https://github.com/diffblue/cbmc/pull/5401

[2020-09-11 22:24] martin-cs commented on #5492
I'm not sure how this effects the "implemented as a transform" vs. "implemented as a library" debate.

[2020-09-14 09:41] hannes-steffenhagen-diffblue commented on #5490
This isn’t really a bug with malloc-may-fail, just a quirk of how these pointer checks are defined; Some cases for these just overlap.

Dereferencing a null pointer will always fail the deallocated check (i.e. null pointers are always considered deallocated), same with dead object, and it’s outside dynamic bounds (because the dynamic bounds for a null pointer are empty).

It’d be possible to make

[2020-09-14 09:48] hannes-steffenhagen-diffblue commented on #5492
I am not sure why this is needed given you can just pass these flags to `cbmc`, since they only affect how the internal library works there should be no reason to want these at `goto-cc` time. As Martin said @danpoe had an idea of how to do these in a different way (or at least he did for the size checks, not sure if there's really much else we can do for the null case except for instrumenting the

[2020-09-14 13:36] SaswatPadhi commented on #5492
We generate the `.goto` file, do some transformations on it, and run the transformed file on `cbmc`.

Is there any way we could capture the intermediate `.goto` file generated by `cbmc` instead of calling `goto-cc` (so we can apply our transformations on it and rerun it on `cbmc`)?

[2020-09-14 13:44] martin-cs commented on #5492
`goto-cc` is C front-end and conversion to goto-programs.
`goto-instrument` is transforms to and from goto-programs.
`cbmc` is C front-end, conversion to goto-programs, some of the simple transforms and the the BMC back-end.

`goto-cc` is how you capture the intermediate goto program and `goto-instrument` is how you transform it.  All of the transforms that `cbmc` supports should also be in `goto-

[2020-09-14 14:02] SaswatPadhi commented on #5492
Thanks @martin-cs.
In this case, the goto program generated by `goto-cc` does not have the right instrumentation for `--malloc-may-fail` and `--malloc-fail-null`.

So I was wondering if we could capture the goto program after `cbmc` has performed the standard transforms as per the given flags, then we could apply our transforms on the goto program and rerun `cbmc`.

[2020-09-14 14:09] hannes-steffenhagen-diffblue commented on #5492
What kind of instrumentation are you doing? Off the top of my head I'd say it's probably not a good idea to modify the function bodies of the internal C library, which is really the only sort of instrumentation I can think of that wouldn't be possible this way.

[2020-09-14 14:23] martin-cs commented on #5492
@SaswatPadhi In which case, this incompatibility is what needs to be fixed, not changing the workflow.

@hannes-steffenhagen-diffblue / @danpoe who implemented `--malloc-may-fail` and `--malloc-fail-null` ?  I can't see why these can't be part of the model for `malloc` and why they need separate instrumentation.

[2020-09-14 14:31] hannes-steffenhagen-diffblue commented on #5492
@martin-cs they're part of the model for malloc. All these flags are doing is setting `__CPROVER_malloc_failure_mode` to different values in `__CPROVER_initialise`, and `malloc` just contains code like

[code]

(There's currently also `__CPROVER_malloc_failure_mode_assert_then_assume`, which from what I can tell is essentially doing nonsense, this is the thing @danpoe wanted to fix but he's curren

[2020-09-14 14:39] martin-cs commented on #5492
@hannes-steffenhagen-diffblue Thanks; please forgive my misunderstanding.  That is, IMHO, the right way to do things.

In which case is it just that the initialisation code that `goto-cc` generates when linking is missing the right globals?

[2020-09-14 14:57] danielsn commented on #5492
@martin-cs: I think the issue is related to the one that occurred here https://github.com/diffblue/cbmc/issues/5272 - goto-cc sets default values for the globals, which cbmc doesn't override.

[2020-09-15 10:21] martin-cs commented on #5492
That would sound believable.  Regenerating the initialisation code should be sufficient to fix this.

[2020-09-15 20:07] smowton commented on #5484
My plan was to take the bits of `exprt`, `typet`, `codet` and so on that aren't straightfoward products of the irep specs, put these as separate fragments, and make a generator for `.h` files that would mix autogenerated stuff together with those. Never got round to it though.

[2020-09-16 09:06] natasha-jeppu opened #5494 "Possible performance optimisation: replacing multiple pointer dereferences with temporary variable storing dereferenced pointer"
CBMC version: `5.12.6 (cbmc-5.12.6-47-ge06f678f2)`
Operating system: `macOS Catalina 10.15.6`
Exact command line resulting in the issue: `make result`
What behaviour did you expect: `Proof runtime below 10mins`
What happened instead: `Runtime without optimisation = ~ 5hrs, Runtime with optimisation = ~300s`

**To reproduce these results use the following:**
Code base: `awslabs/s2n`
Proof: `s2n_stu

[2020-09-16 12:09] florianschanda commented on #5484
Well, it'd be awesome if this was somehow part of CBMC. :)

Interoperating right now is really a pain unless you happen to use C++ for your tool.

[2020-09-18 10:15] martin-cs commented on #5494
This is very interesting.  Thank you.  A good find.

I can definitely see why you would get a reduction in clauses and variables.  The run-time difference is a bit more of a surprise.  Does this still happen if you use different SAT solvers and / or the SMT back-end?

[2020-09-18 15:24] natasha-jeppu commented on #5494
I have tried kissat as the SAT solver on the dimacs cnf output from CBMC.
Without the optimisation, kissat takes 176sec and with the optimisation its 23sec.

[2020-09-18 19:08] martin-cs commented on #5494
Thanks; that rules out it being a MiniSAT performance issue.  If it also happens with the SMT back-end it will be *very* interesting.

[2020-09-21 16:20] mina1604 opened #5501 "Build fails with Apple Clang 12 (clang-1200.0.32.2) due to use of reference types"
Clang build fails due to the -WError flag, resulting in -Wrange-loop-analysis warnings being shown as errors.
The issue arises in multiple files due to the use of `auto` instead of `auto&` since the compiler expects a non reference type for places where one iterates over a loop in such a way that creates a proxy/copy of the elements instead of a reference to the elements themselves.
e.g.

`
src/ut

[2020-09-23 16:44] #5492 closed, assigned to nobody

[2020-09-24 10:03] hannes-steffenhagen-diffblue commented on #5501
Thanks for reporting this. Yeah, this is a bit of an annoying issue. Workaround is obviously temporarily disabling -Werror (for CMake builds we set the flag in our root `CMakeLists.txt`, for Make builds we do it in `src/config.inc`)

[2020-09-24 15:17] natasha-jeppu opened #5505 "Propagating information from assertions that hold to subsequent lines of code using `__CPROVER_assume`"
CBMC version: `5.13.0 (cbmc-5.13.1-46-g1276c241e)`
Operating system: `macOS Catalina 10.15.6`
Exact command line resulting in the issue: `make result`
What behaviour did you expect: In functions `addHeader` and `writeRequestLine`, the `pRequestHeaders` points to only a dynamically allocated object (points-to set size for `pRequestHeaders` is 1)
What happened instead: `pRequestHeaders` points to NU

[2020-09-25 19:48] SaswatPadhi opened #5507 "Soundness bug with `--nan-check`"
CBMC version: 5.14.1
Operating system: Mac OS Catalina

CBMC fails to detect a NaN value in the following harness:

[code]

Compiling the above program and executing it produces the following output:

[code]

**Exact command line resulting in the issue:**

We ran CBMC with `--nan-check` and enabled the assertion:
[code]

**What behaviour did you expect:**

CBMC should have failed to verify the pro

[2020-09-25 19:48] SaswatPadhi commented on #5507
cc: @danielsn

[2020-09-27 16:50] martin-cs commented on #5507
Thanks @SaswatPadhi for a really good bug report.

I think there are a couple of things going on here.  One is what `--nan-check` actually does.  It is a check for /generating/ NaN :
https://github.com/diffblue/cbmc/blob/develop/src/analyses/goto_check.cpp#L1051
as your value is a NaN before the addition, it doesn't generate a new one ... so you get this behaviour.  I can see there being an argume

[2020-09-28 09:29] #5501 closed, assigned to nobody

[2020-09-28 23:35] SaswatPadhi commented on #5507
Hi @martin-cs,

Thanks for the quick response. The point about generation vs propagation makes sense. But then, I would expect the assignment in line 11 to be flagged (CBMC could check that the assigned value can be `correctly` interpreted as each of the union types), or the access in line 12 to be flagged (CBMC could check that the accessed value from the union is a valid float). I am not sure wh

[2020-09-30 07:35] piotr-grabalski commented on #5507
Hi All,

Sorry in advance if I got something wrong in here but as far as I understand the problem this is not necessarily an issue. The `--nan-check` flag is examining an arithmetic operation for generating a not-a-number value and none of the operations from the example is doing that. In the example, `float g = t.f + 0.0;`, is resulting in `NaN` but this is not because the operation generates a n

[2020-09-30 11:39] smowton commented on #5397
@chrisr-diffblue I have forwarded you an email from @andreast271 about working further on this, let me know if you don't see it

[2020-09-30 11:45] chrisr-diffblue commented on #5397
Thanks @smowton - email received ;-)

[2020-09-30 12:47] martin-cs commented on #5507
@piotr-grabalski : yes, the check is for generation of `NaN` not propagation.  I think it is better that way because A. there is already a way of checking whether something is NaN, B. propagation will give a lot more false alarms and generally you want to find the source.

@SaswatPadhi : neither L11 or L12 is generating a `NaN` so I am not sure they should be flagged.  If you test for `NaN` on uni

[2020-10-01 13:32] vmihalko opened #5511 "false positives when --malloc-may-fail and --malloc-fail-null are used with realloc"
CBMC version: 5.14.3
Operating system: Linux (Fedora rawhide)
Exact command line resulting in the issue: `$ cbmc --malloc-may-fail --malloc-fail-null test.c`
What behaviour did you expect: `VERIFICATION SUCCESSFUL` - the following code is correct:
[code]
What happened instead:
[code]

[2020-10-01 18:20] martin-cs commented on #5511
Thanks for reporting this.  I am going to page @hannes-steffenhagen-diffblue and @danpoe as I know they have been working on this area.

[2020-10-02 19:16] danielsn opened #5514 "memcpy fails to warn when called on invalid pointer"
[code]

[code]

I expected that the result of `malloc(0)` would be either null, or an invalid pointer, and that `memcpy` would reject it as per https://www.imperialviolet.org/2016/06/26/nonnull.html

Instead, it passes.

[2020-10-02 20:12] martin-cs commented on #5514
I think the key point is ISO-9899 (1999) 7.20.3(1):

[code]

I don't think that CBMC ever specifies which choice it implements but in practice it is the second.  I would hope that turning on --pointer-check would catch attempts to dereference the pointer.  I think `__CPROVER_w_ok` and `__CPROVER_r_ok` should fail for an allocated object of zero size but at the moment they don't.

I think there is

[2020-10-04 15:52] SaswatPadhi commented on #5507
Thanks @piotr-grabalski, @martin-cs.

I see your point about generation vs propagation. Let me ping @danielsn -- he knows more of our codebase and where thde checks are used. We can close this issue if he agrees as well.

[2020-10-07 08:53] hannes-steffenhagen-diffblue commented on #5514
As @martin-cs says `malloc` does return a non-null pointer but it’s not writable or readable. The library checks don’t check for this by default. `memcpy` passes here because you’re reading and writing nothing, which is a valid thing to do even if a non-zero read or write would not be.

This reports failures like you’d expect:

[code]

@danielsn I’d expect things to behave this way, can you elabor

[2020-10-07 09:09] hannes-steffenhagen-diffblue commented on #5511
Yes, this is basically a parenthesis error that snuck in when we added the `--malloc-may-fail` flag, I'll go fix it. Sorry about that one!

[2020-10-07 09:36] piotr-grabalski commented on #5507
Hi @SaswatPadhi, @danielsn

I have made a change which is now merged to develop that is extending --nan-check flag documentation and provides a test for it's behaviour (details: https://github.com/diffblue/cbmc/commit/152719fb8b0f93ea6c327401eaa5d15db0b0c2da).

Are you happy to close this issue?

Thanks,
Piotr

[2020-10-07 12:58] #5511 closed, assigned to nobody

[2020-10-08 18:20] kenmcmil opened #5519 "Incompleteness with uninitialized pointer fields in dynamic objects"
CBMC version: 5.15.0
Operating system: MacOS
Exact command line resulting in the issue: cbmc --trace --unwind 10 test2.c
What behaviour did you expect: Assert "test" is valid
What happened instead: Assertion "test" was violated

File test2.c:

[code]

[2020-10-08 22:10] kenmcmil commented on #5519
Here's a slightly simpler example. The following program gives a violation of assert "test":

[code]

On the other hand, this program gives SUCCESS:

[code]

The only difference is reordering of two assumes.

[2020-10-09 11:59] martin-cs commented on #5519
Thank you for this report and the examples.  Re-ordering like that really shouldn't change the result, you are correct.  Can you try with `--pointer-check` enabled?  Uninitialised pointers are always a bit of a murky area.

[2020-10-09 17:06] kenmcmil commented on #5519
Same result with --pointer-check. The dereference checks all pass but assertion "test" fails.

[2020-10-09 17:55] kroening commented on #5519
This isn't expected to work -- C has a concept of 'pointer provenance'. Take a look at this:
https://www.cl.cam.ac.uk/research/security/ctsrd/pdfs/201901-popl-cerberus.pdf

[2020-10-09 19:24] kenmcmil commented on #5519
Well, according to C semantics, even in the version that works, the comparison `q==b` is undefined, since `q` is uninitialized. My understanding is that CBMC extends the C semantics for the convenience of writing tests. It's plausible that the *CBMC* semantics should allow this program, since both `a->next` and `q` get non-deterministic values. For context, the assumes in this example come from th

[2020-10-09 21:49] kenmcmil commented on #5519
Here's another way of looking at the question. Suppose I wanted to verify this C function:

[code]

How should I write a test harness for this?

[2020-10-12 21:07] kenmcmil commented on #5519
Here's another program that fails:

[code]

This makes me think the issue is not pointer provenance. Since pointers `q` and `a->next` are assigned from an external function, the compiler can't use alias analysis to optimize away the evaluation of `a->next->next`.

[2020-10-13 14:49] kroening commented on #5519
The feature "nondeterministic pointer" simply does not exist -- pointers only work when they are initialized with an address of an object.

[2020-10-15 03:39] feliperodri opened #5525 "Improve code contract documentation"
CBMC version: `> 5.12`
Operating system: N/A.
Exact command line resulting in the issue: N/A.
What behaviour did you expect: Complete documentation for current code contract support.
What happened instead:

Currently, CPROVER Manual doesn't have a complete documentation for code contracts (e.g., `__CPROVER_ensures`, `__CPROVER_requires`, `__CPROVER_assigns`, etc.). There should be a section in the

[2020-10-15 04:04] feliperodri opened #5526 "Improve error message for assigns clause"
CBMC version: `>5.0`
Operating system: Ubuntu 18.04 and macOS Mojave 10.14.6
Exact command line resulting in the issue: `goto-cc main.c -o main.gb && goto-instrument main.gb main-ins.gb --enforce-all-contracts && cbmc main-ins.gb`
What behaviour did you expect: A more verbose error message.
What happened instead: `[f1.2] line 8 assertion: FAILURE`

[2020-10-15 04:33] feliperodri opened #5527 "Handle function pointers in code contracts"
CBMC version: `>5.15`
Operating system: Ubuntu 18.04 or macOS Mojave 10.14.6
Exact command line resulting in the issue: `goto-cc main.c -o main.gb && goto-instrument main.gb main-ins.gb --enforce-all-contracts && cbmc main-ins.gb`
What behaviour did you expect: Accept function pointer across all code contracts primitives.
What happened instead: Return if the function is not named in the call; curr

[2020-10-15 04:53] feliperodri opened #5528 "Simply create_alias_expression in code_contracts.cpp"
CBMC version: `>5.15`
Operating system: Ubuntu 18.04 or macOS Mojave 10.14.6
Exact command line resulting in the issue: N/A.
What behaviour did you expect: N/A.
What happened instead:
1. Adds a Doxygen documentation;
2. The implementation of `create_alias_expression` can be simplified by using and object of type `exprt::operandst` with each call to `same_object` doing `operands.push_back(same_obje

[2020-10-15 05:01] feliperodri opened #5529 "Improve instrument_call_statement in code contracts to handle all uses of __CPROVER_allocate"
CBMC version: `>5.15`
Operating system: Ubuntu 18.04 or macOS Mojave 10.14.6
Exact command line resulting in the issue: N/A.
What behaviour did you expect: N/A.
What happened instead:

I'd like to see handling of all uses of `__CPROVER_allocate` here. `malloc` is just one such case invoking `__CPROVER_allocate`. I'd propose a simple analysis that
1. Checks whether the body of the called function i

[2020-10-15 05:03] feliperodri opened #5530 "Improve `check_for_looped_mallocs` in code contracts to use natural loops"
CBMC version: `>5.15`
Operating system: Ubuntu 18.04 or macOS Mojave 10.14.6
Exact command line resulting in the issue: N/A.
What behaviour did you expect: N/A.
What happened instead: Use `natural_loops`, as is done, e.g., in `dump_c`. That will directly provide you with a loop body, which can then be searched for those function calls.

Suggested in https://github.com/diffblue/cbmc/pull/5403.

[2020-10-15 06:14] feliperodri opened #5531 "Improve error message for pointer primitive check"
CBMC version: 5.15.0 (cbmc-5.14.3-16-ga0d09f8e8-dirty)
Operating system: macOS Mojave 10.14.6
Exact command line resulting in the issue: `cbmc main.c --pointer-primitive-check --pointer-check --trace`
What behaviour did you expect: An error message that suggest which part of the conjunction leads to failure.
What happened instead:

[code]

[code]

This is easy to occur during proof-harness develop

[2020-10-15 15:39] feliperodri commented on #5477
We were expecting that `__CPROVER_w_ok` or `__CPROVER_r_ok` would detect if the pointer is a function pointer and perform a simple nullness check on it, instead of always returning null. That way, we could have some consistency when checking nullness for all function parameters. Right now, s2n uses a macro called `notnull_check_ptr`, which is basically implemented as
[code]

In this case, we have

[2020-10-15 19:22] martin-cs commented on #5529
I believe `__CPROVER_allocate` to be an internal interface.  I think it should only be used in library functions and in modelling the most primitive access to the heap.  User code should not call it.

[2020-10-20 17:01] kenmcmil commented on #5519
Is it possible that the order of assertions is affecting the points-to analysis?

Non-deterministic pointers would be quite useful for certain purposes. Suppose I wanted to modify pointer dereferencing so that an unknown pointer could dereference to any object in the state. Would I do that in value_set_dereference.cpp?

[2020-10-20 19:24] kenmcmil commented on #5519
Here's another example that makes me think the issue might be points-to analysis. This program passes, with --pointer-check:

[code]

At the first assume, we now that r points to a-> next, so we can infer that a->next points to b. Similarly, in the second program of the two above, we first infer that q points to b, and then that a->next point to b. Whereas in the first program, from a->next == q,

[2020-10-27 04:13] mww-aws commented on #5519
This is interesting.  There are some asymmetries here.  Obviously one can assert pointers are equal, but it is not possible to assume pointers are equal.

For Ken's "another way of looking at it" example, unless explicit assignments are made for the "next" pointers, then it is not even possible to compare for equality, as the dereference of the pointers leads to pointer check failures.  One must f

[2020-10-28 14:32] hannes-steffenhagen-diffblue commented on #5531
@feliperodri just to clarify, would you want a separate property for each possible way the pointer can be invalid? Ex, an output along the lines of

[code]

and for the trace

[code]

for your example?

[2020-10-28 20:40] kenmcmil commented on #5519
But to be clear, in the examples above the pointer check pass, even though the pointers are not initialized. Only the assertions fail, because of the imprecise semantics of pointer dereference.

[2020-10-29 05:04] jackhumphries commented on #5297
I'm seeing this issue, too. Is this a new issue (i.e., has CBMC worked in previous versions?) or has it always existed? This is a real bummer for me because I want to use the SMT backend rather than the SAT backend. Have you found a workaround?

[2020-10-29 05:07] jackhumphries commented on #4206
@Smattr Did you discover a workaround?

[2020-10-30 16:50] martin-cs commented on #5297
@amosr and @jackhumphries : sorry that no-one responded to this sooner.

I have managed to replicate this issue with the latest `develop` so I think this is definitely a problem.  I note that running with `--smt2 --outfile whatever.smt2` seems to produce valid SMT so I don't think the problem is with conversion. `--smt2 --outfile whatever.smt2 --z3` gives the same issue but `--smt2 --outfile whate

[2020-10-30 18:28] martin-cs commented on #5297
Z3 uses the `use_datatypes` option in `smt2_convt` and that seems to have been broken.

[2020-10-30 18:36] martin-cs commented on #5297
As a work-around setting `use_datatypes = false` on `smt2_conv.cpp:98` should work.

[2020-10-30 22:51] martin-cs commented on #5297
I think I have tracked down what is going on.

The following backtrace is useful:
[code]

but note some of the line numbers are wrong, caused, I think by polymorphic dispatch on `find_symbols` and `rr` interacting badly.

The exception is thrown from:
https://github.com/diffblue/cbmc/blob/a46f12d66e049e97940deaa2ad58c42dbd301819/src/solvers/smt2/smt2_conv.cpp#L4531
(and handled badly by the top le

[2020-11-01 19:45] Smattr commented on #4206
No, I don't think so. IIRC at the time I was trying to do something involving a suite of verification tools, so I simply lent more heavily on one of the others to get the job done instead of CBMC.

[2020-11-02 13:25] martin-cs commented on #4206
Work arounds at the bottom of this comment:

https://github.com/diffblue/cbmc/issues/5297#issuecomment-719833790

[2020-11-03 21:19] andreast271 opened #5542 "Constant propagation is not taking place for memcpy on struct with _Bool member"
CBMC version: 5.17.0 (a46f12d66)
Operating system: Linux x86_64 (Red Hat 6.5)
Exact command line resulting in the issue: cbmc structcopy.c
What behaviour did you expect: constants are being propagated from source struct to destination struct
What happened instead: constants are not being propagated

Example file:
[structcopy.c.txt](https://github.com/diffblue/cbmc/files/5484064/structcopy.c.txt)

[2020-11-05 00:45] markrtuttle opened #5543 "Omitting property checking flags changes coverage checking"
CBMC version: 5.17.0 (cbmc-5.17.0-12-ga46f12d66
Operating system: Ubuntu 20
Exact command line resulting in the issue: see below
What behaviour did you expect: see below
What happened instead: see below

## Summary

My coverage checking results are affected by whether or not I include property checking flags on the command line.

I had been in the habit of doing property checking with flags like -

[2020-11-05 10:28] hannes-steffenhagen-diffblue commented on #4604
THis has been implemented with the `--malloc-may-fail` and `--malloc-fail-null` flags.

[2020-11-05 10:28] #4604 closed, assigned to nobody

[2020-11-05 10:29] hannes-steffenhagen-diffblue commented on #4605
This has been implemented with the `--malloc-may-fail` and the `--malloc-fail-null` flags.

[2020-11-05 10:29] #4605 closed, assigned to nobody

[2020-11-05 10:30] hannes-steffenhagen-diffblue commented on #4956
Closing this for now – this is an environmental issue that we can’t really do anything about on our end, and it’s been documented.

[2020-11-05 10:30] #4956 closed, assigned to chrisr-diffblue

[2020-11-05 15:17] danielsn commented on #5543
For the second case, we have UB at the line ` a = *ptr;` if `ptr == null`.  So  I'm not surprised that we don't see the `then` case of the conditional.

[2020-11-05 16:50] hannes-steffenhagen-diffblue commented on #5173
Can still reproduce as of November 5th 2020

[2020-11-05 16:51] hannes-steffenhagen-diffblue commented on #5443
I’m closing this issue because rather than printing a warning we should remove the `--object-bits` option from `goto-cc`.

[2020-11-05 16:52] hannes-steffenhagen-diffblue commented on #5430
Since apparently the simpler way works just as well (as far as I know), I will close this. Please open another issue if there is anything else to sort out here.

[2020-11-05 16:52] #5430 closed, assigned to nobody

[2020-11-05 16:57] hannes-steffenhagen-diffblue commented on #5344
@danielsn Any updates on this? Without a reproducer we would have to close this.

[2020-11-05 17:52] thomasspriggs commented on #5443
So where is the ticket/issue for removing the `--object-bits` option from `goto-cc`? Are you certain that this kind of linker issue should only be a warning rather than an error?

[2020-11-06 16:58] martin-cs opened #5547 "make minisat2-download broken by removal of the tarball"
[code]

[2020-11-06 17:01] martin-cs commented on #5547
Anyone know why this is not breaking CI?  I can understand that those with long-standing clones will miss this but I thought CI cloned from scratch each time?

[2020-11-06 17:06] martin-cs commented on #5547
Ignore; I was working from the wrong branch!  This was fixed some time ago.

[2020-11-06 17:06] #5547 closed, assigned to nobody

[2020-11-06 18:18] martin-cs commented on #5542
Hmmmm... that sounds like a bug.  Thanks for the really clear test case.  I think the problem is in constant folding `byte_extract`:

[code]

[2020-11-06 18:22] martin-cs commented on #5173
@hannes-steffenhagen-diffblue : does this mean you are working on this?

[2020-11-06 19:01] martin-cs commented on #5542
I think the problem is that `ID_c_bool` (and maybe `ID_bool`) is not handled in `simplify_exprt::expr2bits` in this if/else chain:

https://github.com/diffblue/cbmc/blob/fa4569e1bfbb0ee3b6b4f54e6b8aea4d3911c6ea/src/util/simplify_expr.cpp#L1775

adding it should be reasonably straight-forward.  I may try to create a PR next week if I have time.

[2020-11-06 21:52] tautschnig commented on #5345
I actually messed this up in 89641a2b47b8. We'll need #5305 (or some variant thereof) plus an additional fix.

[2020-11-07 13:52] #5389 closed, assigned to nobody

[2020-11-07 21:18] #5345 closed, assigned to nobody

[2020-11-09 11:00] hannes-steffenhagen-diffblue commented on #5489
Closing this for now as improvements to the C++ frontend that would allow this code to compile, while desirable, are very far off from our end. As of now this is expected.

[2020-11-09 11:00] #5489 closed, assigned to nobody

[2020-11-09 12:09] martin-cs commented on #5489
@hannes-steffenhagen-diffblue instead of just closing this, could we add it as a `KNOWNBUG` so that if and when there are people to work on this, they have a starting point?

[2020-11-09 12:14] martin-cs commented on #5542
This is definitely part of the solution but not the complete fix.

[2020-11-10 11:00] #5507 closed, assigned to nobody

[2020-11-10 11:01] hannes-steffenhagen-diffblue commented on #5507
Closing for now as it seems not a bug

[2020-11-10 11:01] #5490 closed, assigned to nobody

[2020-11-10 11:01] hannes-steffenhagen-diffblue commented on #5490
Closing as this looks like expected behaviour to me.